[2021-11-30 18:06] SuruPa00 commented on #419
@sarithapillai8, lets have it all show by default, the visualization graphs should be showing anyways - that is the current intended functionality

[2021-11-30 20:31] SuruPa00 opened #441 ""Nice Work" pop-up between activities in grouped activities and custom pop-up"
Currently, when activities are grouped together (let's say 5 surveys), upon completion of each survey, a pop saying "Nice Work" comes up. Can this be adjusted so that this pop-up only comes up after completion of the final activity in the group?

Additionally, can we have the current pop-up be customizable in the survey builder? By this, I mean that the intended feedback in the pop-up could be adj

[2021-12-01 04:45] sarithapillai8 commented on #400
@SuruPa00
This is not a minor change. Our staging is updated with the change for https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/427#issuecomment-982728054 and vulnerability fixes. So once we release those, I can update staging with this of you want. And the loading time will be too long if we need to load all the data after fetching everything, and it was like this before. That was

[2021-12-01 05:27] sarithapillai8 commented on #419
@SuruPa00
@avaidyam Please confirm on this change as you were asked to do like this. We are using these tags for this - "lamp.selectedActivities", "lamp.selectedSensors",  "lamp.selectedExperimental". Already the users have selections with these tags. So let me know how to proceed with this. Do we need to just ignore these tags?

[2021-12-01 08:44] ZCOEngineer commented on #139
@avaidyam Any update on this one Aditya, We are still waiting on doing the testing.

[2021-12-01 13:01] Linoy339 commented on #431
@lukeoftheshire
Can you please restart LAMP_server and LAMP_worker for production environment ?

[2021-12-01 14:58] avaidyam commented on #419
@sarithapillai8 Yes, let's drop these tags entirely from the codebase and just default to opening them all the time. This will make the user experience more consistent.

[2021-12-01 16:48] #436 closed

[2021-12-01 16:55] #309 closed

[2021-12-01 17:06] avaidyam commented on #400
@sarithapillai8 Let's test the performance of this method (loading it all at once) in staging. There may be a simple solution here, but we should see how slow or fast it is first. //cc @lukeoftheshire

[2021-12-01 17:07] SuruPa00 opened #442 "Matrix Survey Option"
Can we have a new survey option that looks like a matrix that can be created to reduce having multiple questions with the same instructions and options.
![image](https://user-images.githubusercontent.com/86117379/144280098-6d525fb6-7b07-415c-bf30-0a22a683552b.png)

[2021-12-01 17:08] SuruPa00 commented on #427
@sarithapillai8 per comments in #400, please update this asap alongside the different loading method in the aforementioned issue

[2021-12-01 19:10] lukeoftheshire commented on #400
In case it helps, @sarithapillai8, I happen to have a JSONata query that can be made through LAMP.API.query command that loads a list of studies as objects, each containing a "participants" key that is a list of participants w/ ids and names. The exact command would be:
[code]

 Where only RESEARCHER_ID  needs to be replaced. I've tested this on my end and it does appear to load pretty quickly:

<

[2021-12-01 19:12] lukeoftheshire commented on #431
@Linoy339 Done! Apologies for the delay.

[2021-12-01 19:16] lukeoftheshire commented on #419
Hi @sarithapillai8
I just spoke with @avaidyam and if you could actually *NOT* remove any code relating to 'lamp.selectedExperimental' that would be for the best - that tag only controls (to my knowledge) which graphs are shown in the *Cortex* section, not the activities - and we currently need to maintain control of that for some of our studies.

selectedActivities and selectedSensors should stil

[2021-12-02 04:54] sarithapillai8 commented on #400
@avaidyam @lukeoftheshire
Thanks for the details. I can check and will let you know.

[2021-12-02 05:22] sarithapillai8 commented on #419
@avaidyam @lukeoftheshire
I can keep 'lamp.selectedExperimental' and can remove other 2 tags. Please confirm whether we need the multiselect popup for all the activities/sensors for the selected view or can we remove that also?

[2021-12-02 06:05] sarithapillai8 commented on #148
@avaidyam
Just FYI - The survey edit option from prevent page was not working when the XY graph changed to Vega.
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/95f41d2f76335855b3b10f9187ea7e11aa469713#diff-403a62eadf317c67dffa3b32af8be53da2239445ed050bbbcb298e73819f9753
So we will be working on that too with this. Survey update was having an issue which I reported before and we pu

[2021-12-02 06:21] sarithapillai8 commented on #427
@SuruPa00 The changes related to optional are updated in production.

[2021-12-02 06:24] sarithapillai8 commented on #165
@SuruPa00 @avaidyam
The changes with multiple tabs updated in production.

[2021-12-02 06:51] sarithapillai8 commented on #441
@SuruPa00
'can we have the current pop-up be customizable in the survey builder?' - Actually is this for all the survey popups or the group activity ?

[2021-12-02 09:53] Linoy339 commented on #417
@avaidyam : Just to clarify:
The requirement is to have notifications for the same time in any time zone. Right?
We can explain with a scenario here:

Suppose there are 2 participants for a particular study. One of them is in India and other is in Toronto(Canada).
If a researcher from India have set notification at 3.00 PM, the one  of the participants get it at 3.00PM and other will be getting it

[2021-12-02 12:15] avaidyam commented on #419
We want this popup to remain, but everything is enabled by default and we will no longer use the tags to track it.

[2021-12-02 12:16] avaidyam commented on #148
The survey edit/delete options can be ignored for now - just keep the original code in tact.

[2021-12-02 12:17] avaidyam commented on #417
Yes, that's correct.

[2021-12-02 13:23] SuruPa00 commented on #427
@sarithapillai8 thanks for this, this is now working as intended. another part of this ticket is also the slider questions starting at the first value instead of a null value at default when no user input has been made. Can this be addressed too now?

[2021-12-02 13:43] SuruPa00 commented on #441
@sarithapillai8 each individual survey should be able to have their popup text customized, so even if they are in a group activity, when that individual survey is completed, their popup will say the custom popup. But as requested, these should also be able to be toggled on and off in case someone does not want any popup to appear. Additionally, have a custom pop-up for the completion of the group

[2021-12-02 14:04] sarithapillai8 commented on #441
@SuruPa00
Do we need to show individual popup for activities in group activity? I believe it should be removed and show the popup after the group activity.
All the type of activities having popups after completion. So we need a toggle button and custom texts to be used for 'Nice work' and 'You’re on a streak, keep it going' sections for each activity. I hope the steak days should remain there unto

[2021-12-02 14:06] SuruPa00 commented on #441
@sarithapillai8 you can remove the individual popups in the group activity; there needs to be a toggle button for the nice work and you're on a streak texts, but by default they should be toggled on and with those texts.

[2021-12-02 14:49] Linoy339 commented on #431
@lukeoftheshire . Can you please confirm hostname of LAMP_nats ?

[2021-12-02 14:49] SuruPa00 opened #443 "Check other login credential removal"
Can we make sure there is no code in the dashboard and native apps that removes login credentials other than the when the user manually logs out? The only instance in which a user should be logged out is when the user presses logout themselves. Please check on this, as it should be related to auto-logout issue we have been regularly experiencing as mentioned in #323

[2021-12-02 15:19] avaidyam commented on #431
@Linoy339 You should be able to see all these details in the console in the Stack page. There's no public hostname for NATS, so it's `nats:4222`.

As it's been a few weeks, I need to ask -- are we getting closer to resolving this issue at all?

[2021-12-02 15:24] SuruPa00 opened #444 "More DBT Diary Card Updates"
See screenshot below for example view for what needs to be fixed:
![DigitalDC-screenshot PNG](https://user-images.githubusercontent.com/86117379/144446127-5a6e7f61-ca5e-4ba6-bc72-dd2d914f19f5.png)

- [ ]  Can we have the exact day of the week under each date so that it is more clear when entries were received? Use the two day digit codes of Su, Mo, Tu, We, Th, Fr, Sa
- [ ] The dates we are reviewi

[2021-12-02 15:29] Linoy339 commented on #431
@avaidyam . We tried in many ways. We were testing staging with fixes. We checked with memory and all those were fine.
We observed that the production along with staging is getting restarted at some point. This is where we stuck with the question that why the both stacks getting restarted.

Do you have any suggestion on this ?

[2021-12-02 15:34] michaelmenon commented on #431
Hi @avaidyam We will be updating some possible fix asap and will let you know. First we are trying to have the worker re-connect successfully to NATS even if its re-started A fix for that will be updated asap. Once that is done then we will have time to analyze why the whole stack is getting restarted and figure out the root cause. We will keep you updated on this.

[2021-12-02 16:04] avaidyam commented on #431
@Linoy339
[code]

I'm not sure why Redis is being shutdown by Docker, but it's not being killed for out-of-memory. There may be a debug log mode to enable for it.

[NATS might be crashing due to this error.](https://github.com/nats-io/nats.go/issues/317) It looks like `LAMP-server` is allowing the string `lamp.dashboard.experimental.Anxiety Short Form_graph 176` to be used as a key, which is an il

[2021-12-02 16:36] michaelmenon commented on #431
The Redis server is being stopped by docker when the stack is getting restarted and the docker is sending SIGTERM signal to Redis process. so its not an issue of Redis. we need to figure out why the stack is getting restarted.

In production al the NATS tokens are custom tokens so illegal token exception should not cause this issues. Yes in staging we have automation where you can push on differen

[2021-12-02 16:37] Linoy339 commented on #431
@lukeoftheshire .Also, Can you restart Lamp-server and Lamp-worker, as  the nats is disconnected now?

@avaidyam` lamp.dashboard.experimental.Anxiety Short Form_graph 176`. Its used in tags. Right?

[2021-12-02 17:07] Linoy339 commented on #417
Thanks @avaidyam .
In this case, we also need to save time zone for the particular activity as :
[code]
This is required to find the local time zone where the activity got saved and from this, we can find the local time of that particular time zone. Thus, we can convert this time to utc time of particular time zone where the user belongs to.

**If we take the above scenario**( 3.00 PM notification

[2021-12-02 18:17] michaelmenon commented on #431
Also we need to put this in the docker compose of the worker service, so that NATS/Redis is restarted properly before the worker. We will test this in staging along with other fix.
depends_on:
  - nats
  - message_queue

[2021-12-02 18:22] avaidyam commented on #431
@michaelmenon [`depends_on` is not supported by Docker Swarm:](https://docs.docker.com/compose/compose-file/compose-file-v3/#depends_on)

[2021-12-02 18:23] michaelmenon commented on #431
ok thanks. Then there must be some other flag to define the start order in swarm mode. Will check we need to use that.

[2021-12-02 18:26] michaelmenon commented on #431
Also  we should use this flag **--log-opt max-size=10m --log-opt max-file=2**   with docker run for each container to prune the log files produced by each docker container. I think the docker log files produced by each container is growing to a big size and take-up a lot of space.

[2021-12-02 18:32] michaelmenon commented on #431
I think instead of depending on docker flags we already have the reconnection login in the worker code just need to make sure that actually waits until the NATS is not up. But needs to have the flags to prune the docker logs of each container so that they don't grow too big and costume al the space causing a stack restart.

[2021-12-02 18:35] michaelmenon commented on #431
Need to put this in each of the docker service in the compose file
 logging:
            driver: "json-file"
            options:
                max-size: "50m"

[2021-12-02 18:37] avaidyam commented on #431
These were already set quite some time ago by @lukeoftheshire for `LAMP-server`. NATS and Redis don't take up much logging space, so @lukeoftheshire, could you copy/paste the same logging options for `LAMP-dashboard` and `LAMP-worker`? It'll require a restart.

Agreed - the waiting logic must be in both `LAMP-server` and `LAMP-worker`.

[2021-12-02 18:54] lukeoftheshire commented on #431
@avaidyam I have updated the loggin options for dashboard and worker - they have restarted so I assume those restrctions now apply

On a related note, I set the `'lamp.dashboard.experimental.Anxiety Short Form_graph 176'` tag on one of my example particpants and nothing significant seems to have happened on the server as of a few minutes after setting that tag.

[2021-12-03 06:53] sarithapillai8 commented on #437
This is updated in production.

[2021-12-03 07:15] Linoy339 commented on #437
@lukeoftheshire . Can you please latest image of Lamp-worker in production, for this to reflect?

[2021-12-03 12:18] Linoy339 commented on #431
@lukeoftheshire .  Can you restart Lamp-server and Lamp-worker in production ?
Also please pull latest image for LAMP-worker in production

[2021-12-03 13:44] SuruPa00 commented on #430
@ZCOEngineer has this been looked into at all or has an eta?

[2021-12-03 14:47] lukeoftheshire commented on #431
@Linoy339  both done!

[2021-12-03 14:53] Linoy339 commented on #431
Lamp-worker is started properly. But, it seems LAMP-server  didn't

[2021-12-03 19:34] lukeoftheshire commented on #431
I restarted it again - it looks to be running now!

[2021-12-03 20:20] SuruPa00 opened #445 "Large Survey Option"
We are looking to have a new type of survey that we could call "Large Survey". This would function as a survey that contains multiple other surveys, but is different from a group in that you can access these surveys at any time. Additionally, we want an indication that a survey is completed with a green check mark. I've drafted a mock-up of what we envision with this request from a UI perspective

[2021-12-06 08:07] jijopulikkottil commented on #273
@avaidyam for iOS, in Xcode, we couldn't find a way to provide SVG as app icon.

[2021-12-06 09:18] sarithapillai8 commented on #419
@avaidyam @SuruPa00
This is updated in production.

[2021-12-06 09:19] sarithapillai8 commented on #427
@SuruPa00
This is updated in production.

[2021-12-06 09:39] ZCOEngineer commented on #430
@SuruPa00 We shall check this issue this week based on priority

[2021-12-06 10:40] Linoy339 commented on #417
@avaidyam . This is clarified.
But, we need some more clarity on activity time zone:
As the researchers can have varied time zones, it is required to save schedule based time zones. So, can we have time zone to be saved in schedule object in activity model instead of tag `lamp.activity.timezone`. This makes easier to find out the local time
and schedule based on participant's time zone.

Please le

[2021-12-06 11:45] divyav2020 commented on #430
@SuruPa00  I have used U8282161095 user Id and checked mindfulness and Natural Relaxation breathe activity in website. But both the records ended up with success message. I have checked my records too. But couldn't reproduce the above mentioned issue.

[2021-12-06 13:10] jijopulikkottil commented on #179
Yes

@avaidyam  the above link navigate to comet chat docs.

Not sure about the Android behaviour, I think In android app it shows red dot until the app open.. right?

Do we need to try to increment the badge manually when receive remote notification and reset it when open the app ?

[2021-12-06 13:29] Linoy339 commented on #431
@avaidyam .  @lukeoftheshire . We have done some fixes in staging environment.
@lukeoftheshire . Can you please restart LAMP-server for production  ?

[2021-12-06 13:32] SuruPa00 commented on #431
@Linoy339 was this intentionally closed? it is still in testing status and being worked on, no?

[2021-12-06 13:35] #419 closed

[2021-12-06 13:35] Linoy339 commented on #431
Apologies. It was by mistake.

[2021-12-06 13:37] #427 closed

[2021-12-06 14:53] sarithapillai8 commented on #386
@avaidyam @SuruPa00 Could you provide more details on the settings values for these? These are now just converted wo separate application. Can we just use like everything from settings?

[2021-12-06 15:02] sarithapillai8 commented on #191
@SuruPa00
Is this required in mobile screens? We will be having issues if we make larger font in phones. We were trying to minimize the need of scrolling.

[2021-12-06 15:05] sarithapillai8 commented on #175
@tlakhtak
We couldn't  reproduce this issue.

[2021-12-06 15:21] avaidyam commented on #386
For right now, it doesn't actually matter what settings values are present -- you can use anything that makes sense to remove any kind of placeholder text.

[2021-12-06 15:21] avaidyam commented on #191
@sarithapillai8 It's possible to make the font larger without scrolling, though?

[2021-12-06 15:22] SuruPa00 commented on #175
this issue is not currently relevant - closing

[2021-12-06 17:08] Linoy339 commented on #439
@SuruPa00 .  Did it happen in the same day?
Was it something like this :
A notification was about to trigger on 4 pm and this got triggered at 3 pm and again at 4 pm

Can you clarify

[2021-12-06 17:10] avaidyam commented on #341
Please change the logic to match what I described.

[2021-12-06 17:12] avaidyam commented on #417
Timezone should only be saved on the participant side, once. The schedule is timezone-agnostic and will be translated to the patient timezone at runtime by the LAMP-worker before scheduling and sending push notifications.

[2021-12-06 18:22] SuruPa00 commented on #439
@Linoy339 Yes, this is what happened

[2021-12-06 18:41] Linoy339 commented on #431
@lukeoftheshire .Please make sure that  LAMP-server for production is restarted

[2021-12-06 18:50] lukeoftheshire commented on #431
Hi @Linoy339 Apologies for the delay! LAMP-server is restarted in prod.

[2021-12-06 19:48] michaelmenon commented on #431
Hi @avaidyam @lukeoftheshire can you let me know if Docker was updated recently I mean 3-4 weeks back ?

When I checked the LAMP server and Worker exit code is 137 and usually 137 means OOM error out of memory error but you can check if its out of memory in the inspect container section and there it clearly says OOMKilled as false so its not out of memory.  And while researching I found this threa

[2021-12-07 00:55] avaidyam commented on #431
`node-01` was upgraded about 4 months ago due to a version of Amazon Linux 1 being deprecated. It's running Docker v20, and `node-02` is still running Docker v18. I would also note that it's possible to have an error code `137` and `OOMKilled = false` if the application (i.e. Java or NodeJS) killed itself before Docker killed it for a memory violation. This could be the underlying issue, but I won

[2021-12-07 02:43] michaelmenon commented on #431
ok yes not seeing any OOM. exception for for Node js. Can you run "dmesg" command in the node-01 machine terminal. This will show the signals sent by the Kernal to the processes . Please see if there is a "Killed process" message.

[2021-12-07 03:29] lukeoftheshire commented on #431
Hi @michaelmenon @avaidyam - running `dmesg -T | grep -i Killed` in node-01 reveals two instances when the  redis-server process was killed - however both these timestamps were in October (the 15th and the 23rd, for the record). There doesn't appear to be anything more recent than that.

Hope this helps - it seems to me like these specific instances are not relevant to this issue so I won't clog t

[2021-12-07 04:39] sarithapillai8 commented on #417
@avaidyam
Sorry, This is confusing. When a schedule is added with a time 3pm. The notifications and feed row should show with the time 3pm in every timezone, right?
The issue with this is we are saving UTC of this time. Instead if we are just saving the time string we could just use that string in all the timezones without any conversions. As we are saving UTC we  need to find which was the user's

[2021-12-07 06:54] Linoy339 commented on #382
@SuruPa00 . We have tested it weeks before and found working. We were also  waiting for your team's feedback and move to production if everything goes well. Hope @avaidyam can give us a feedback and move to production this week itself

[2021-12-07 07:00] Linoy339 commented on #323
@SuruPa00 @avaidyam . This can also happen when sudden crash in LAMP-server ([https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/431](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/431)).
We yet need to find out why the container is getting crashed and restarts. The auto logout might get resolved if we resolve the above issue

[2021-12-07 07:16] sarithapillai8 commented on #341
@avaidyam
Do we need to change the logic of all sub pages like this? for eg : activity add/edit, activity pages etc

[2021-12-07 09:56] Linoy339 commented on #431
@lukeoftheshire .
Seems like the production version of LAMP-server got deployed using lamp-server:latest instead of lamp-server:2021.
Please check.

Also, the usual crash was reported today. You can see that LAMP-server and LAMP-staging-server  got down at the same time. As we said, It looks strange, as these are in different stacks.
Please share your thoughts. If you get any spike report from you

[2021-12-07 12:24] michaelmenon commented on #431
Thanks @lukeoftheshire .  It does not seems to be from low memory as I was watching the memory for all the process in the node -01 yesterday night and all of them were taking very low memory. And the stack went down yesterday night so I don't think its because of low RAM or something. Also not sure why staging and production will go down together. Is there any auto update set for server ?

WE chec

[2021-12-07 12:28] Linoy339 commented on #438
@SuruPa00 . We couldn't reproduce this issue, as activity was saving properly

[2021-12-07 12:32] Linoy339 commented on #439
@SuruPa00. We are not sure on multiple notifications. But we really suspect remote  as well as local notifications got triggered. We will test it one round again and let you know

[2021-12-07 12:36] jijopulikkottil commented on #357
@SuruPa00 It seems to be working when I (U3315219392) test here.. Let me check the above user's data.

[2021-12-07 12:52] michaelmenon commented on #431
Hi @lukeoftheshire after you update the correct image(lamp-server:2021) to production we will update some fixes to production by tomorrow so that server and worker connects to NATS/redis correctly after restart.

Also can you check if some backup script or auto update is running on the server for any specific time ?

[2021-12-07 12:53] lukeoftheshire commented on #431
Hi @Linoy339 @michaelmenon . This is very strange - the YAML in portainer definitely uses the 2021 tag but the image was still 'latest'. I updated the service and it appears to be back to the 2021 release. I will look into this and see if I can figure out why this has happened twice now.

[2021-12-07 12:54] avaidyam commented on #431
A docker image can have multiple tags. If a new production release was created, it will be tagged with both `:2021.x.y` and `:latest`.

[2021-12-07 13:05] Linoy339 commented on #431
Thanks @lukeoftheshire . The production is now properly tagged.
It seems the fixes in staging in working fine, as the redis and nats are connecting properly to lamp server as well as lamp worker. We shall deploy in production by tomorrow morning (IST) and check there.

[2021-12-07 14:28] SuruPa00 commented on #438
See this screen recording for more info: this is a test user i created with the id U3078457698
https://user-images.githubusercontent.com/86117379/145047246-be5a2df1-1e75-4739-8c61-338c51e486cf.MP4

[2021-12-07 15:11] Linoy339 commented on #438
Thanks @SuruPa00 for the feedback . We realized that the issue raised when taking it from feed. We will check it and let you know

This was created to be held in assess tab and not in portal tab

[2021-12-07 15:23] avaidyam opened #446 "Add Docker Tag :stable to releases"
We currently recommend the use of yearly versions (i.e. `:2021` instead of `:2021.9.12`) to allow effective auto-update, but each year the version rolls over and requires server admins to manually update the `docker-compose.yml` to match the current year. This could be avoided by adding a `:stable` tag to each production release, just like the `:latest` tag is applied to each staging release.

[2021-12-07 15:30] Linoy339 commented on #438
Sorry for the that. We will check that too and update

[2021-12-07 20:22] SuruPa00 opened #447 "User Hierarchy Update"
Can you please add the permission for User Admin roles to have access to the manage credentials button in the top left corner when they click on their listed role (where it says User Administrator in the corner). Additionally, make it so they can only assign the roles of user administrator and practice lead, not system administrator

[2021-12-07 20:24] SuruPa00 opened #448 "PDF embedding"
There is an issue with embedding pdfs where even though the markdown code is correct, the pdf does not still show up in the LAMP account. See the "pdf tip"  tip in the learn page of U1147188384 for an example.

[2021-12-08 05:34] sarithapillai8 commented on #165
@avaidyam @SuruPa00
We have a confusion with None option. Suppose there is an activity with tabs selected - None and Assess. How is the working expected there? Can we just disable other tab selections on selecting 'None' tab in the activity creation?

[2021-12-08 12:39] sarithapillai8 commented on #438
@SuruPa00
This is updated in production.

[2021-12-08 13:23] SuruPa00 commented on #165
@sarithapillai8 if none is selected, it should not be in any tab so yes, go ahead and make it so if none is selected it cannot appear in other tabs even if multiple are selected

[2021-12-08 13:25] avaidyam commented on #165
@sarithapillai8 Are you sure you implemented this feature correctly? It seems to me like you didn't read the implementation instructions I provided at all. (See above.)

[2021-12-08 13:41] #438 closed

[2021-12-08 14:01] Linoy339 commented on #431
@lukeoftheshire @avaidyam .  We suspect of auto deployment process.

Today, We have deployed `dashboard `  around 2 pm (IST) to production and its
seen that all stack components (production and staging) got restarted.

It seems like dashboard deployment is causing all containers to restart
and In certain  or most of the times, the order of container start  would be :
`1)Lamp-server`
`2)Lamp-worker

[2021-12-08 15:00] sarithapillai8 commented on #165
@avaidyam
The values saved are learn, assess, manage, prevent. But there is an additional option 'None' as per requirement. It is given as a checkbox and an empty string saving for this selection, which is used for checking none. Do you mean to just make an empty array when checking 'None'?

[2021-12-08 15:02] avaidyam commented on #165
Yes, that is what is stated:

[2021-12-08 15:08] sarithapillai8 commented on #165
The default tab will be selected by default and this 5 options available for checking. So I think I misunderstood this. The None checkbox can be removed and when the user manually uncheck any default selection/previous selections, it should be considered as none. I can update this change by tomorrow, if this is correct.
![image](https://user-images.githubusercontent.com/63710347/145231672-a4aa95be

[2021-12-08 15:12] avaidyam commented on #165
In a multiple state control like a group of checkboxes, you shouldn't add an explicit "none" option as that is logically incorrect. If no checkboxes are selected, it already implies "none" - which is why an empty array means such.

Please add a separate checkbox "Customize which Tab this Activity appears in". If this checkbox is disabled, the `category` property should be set to `null` and the cat

[2021-12-08 15:19] sarithapillai8 commented on #165
Ok got it. I can make the changes ASAP.

[2021-12-09 10:24] Linoy339 commented on #431
Also, We also observed that merge in dashboard-staging results in restart of the whole production stack.

[2021-12-09 11:44] saranya-sajeev commented on #408
@avaidyam In Android we will get sensor values only in callback method. There is no option to poll current values of sensor. So we will be saving values for that particular sensor on callback along with empty object for other sensors under device motion. And we will be sending data as below. In current implementation we are assigning null values to other sensor values and it is discarded while sen

[2021-12-09 13:38] SuruPa00 opened #449 "Activities are not showing up for users in any page"
We are encountering an issue where people's assess page is not populating with all of the activities that they have in their account even though they are configured to be there for the user. See the first screenshot below for what is showing up in their assess page and see the second screenshot to see how multiple activities in the assess page are in fact configured. See the third screenshot to se

[2021-12-09 14:50] sarithapillai8 commented on #165
@avaidyam
Changes are updated in production.

[2021-12-09 14:53] SuruPa00 commented on #449
There are other reports that when there are activities configured, nothing shows up for any tab as well. Please see what's going on here.

[2021-12-09 15:09] michaelmenon commented on #449
Thanks Suraj, Saritha is checking on this. Will update asap.

[2021-12-09 15:14] SuruPa00 commented on #449
A user example for where a user is having nothing up is U0010811412

[2021-12-09 15:37] michaelmenon commented on #449
Thanks @SuruPa00  the fix will be active within an hour.. Will update asap

[2021-12-09 16:24] sarithapillai8 commented on #449
@SuruPa00
The fix is updated in production. We can update you after QA confirm.

[2021-12-09 19:39] SuruPa00 commented on #449
Hi Michael,

Is there an update on this? Last comment was that it will be confirmed after QA testing.

Best,
Suraj

Suraj Patel
Clinical Research Assistant
Division of Digital Psychiatry
Beth Israel Deaconess Medical Center
www.digitalpsych.org<https://urldefense.com/v3/__http:/www.digitalpsych.org__;!!CvMGjuU!o_0g-D8A-mzf2TsRzBaC3r-qVLSOKMXARmqztvy7N5bddEyfBXw78R3xKjD324moL0dQF60$>
Email: ***@***

[2021-12-09 20:11] michaelmenon commented on #449
Hi @SuruPa00 its already updated to production and working. You can confirm with the user  U0010811412.

[2021-12-09 21:51] avaidyam opened #450 "Support server-wide "unlisted" Tags"
Currently, `target = "*"` is not supported. Once implemented, this combination of `origin = null` and `target = *` allows resources to query server-wide Tags.
- These Tags will not appear when `Tag.list()` is called on a resource, unlike Tags set from `origin = SOME_RESEARCHER` to `target = "Participant"` .
- Normally, `Tag.list(null)` should fail unless authenticated as the root/admin user, but t

[2021-12-09 21:51] avaidyam opened #451 "Support password rules when creating accounts on the dashboard"
A new Tag `lamp.dashboard.security_preferences` must be set by the system administrator to add support to control certain user account creation settings. Currently, we will support password rules. Example:

[code]

This Tag **MUST** be set from `origin = null` (root/admin) to `target = "*"` (all resources on the server are able to read it). (This is currently blocked by #450.)

The password rule m

[2021-12-09 22:05] avaidyam opened #452 "Confirm that LAMP-server supports Redis TLS and Sentinel"
The `LAMP-server` currently initializes Redis connections using:
[code]
A collaborator suspects that this pattern will not work with [TLS-encrypted connections](https://redis.io/topics/encryption) to a Redis instance outside of the docker network that `LAMP-server` is on. They require this to support automatic failover for system upgrades to their on-premise hardware (i.e. not AWS/GCP/Azure/etc) u

[2021-12-10 04:26] Linoy339 commented on #452
@avaidyam . That's right.
In that case (TLS encryption) we have to  use the url (`redis:// URL` )
For example:
[code]

[2021-12-10 04:59] sarithapillai8 commented on #417
@avaidyam Please reply to the above comment so that we can start on this.

[2021-12-10 07:09] saranya-sajeev commented on #434
@SuruPa00 App opening error is fixed and pushed to beta. After confirmation we can move to production.

[2021-12-10 13:35] #449 closed

[2021-12-10 13:44] SuruPa00 commented on #434
@saranya-sajeev yes go ahead and move to production

[2021-12-10 14:06] SuruPa00 opened #453 "DBT + Misc Bugs"
Please see below for a list of five new general bugs and DBT diary card related bugs -

1. When I open the Diary Card or a Tip or Instrument, etc. I see (Dbt diary card) or (Tips) or Breathe, etc. under the title (See screenshots). I did not see this before. This is appearing for all activities - surveys say (Survey).
![2](https://user-images.githubusercontent.com/86117379/145584890-c0fff17d-ff47-

[2021-12-10 14:21] avaidyam commented on #417
@sarithapillai8 Yes, it should show 3pm in every timezone. Researchers are not plugging in a time relative to their timezone, they are ALWAYS dealing with the patient's timezone.

[2021-12-10 14:21] sarithapillai8 commented on #447
@SuruPa00
This is updated in staging. Please check and let me know.

[2021-12-10 15:31] SuruPa00 commented on #447
@sarithapillai8, checked - push to production and let me know when you have

[2021-12-10 17:52] #357 closed

[2021-12-11 18:37] michaelmenon commented on #431
Hi @avaidyam @lukeoftheshire it seems we have pin pointed the issue we can talk about it in our Monday's call. I will send an email with the details before that.

[2021-12-13 05:40] sarithapillai8 commented on #417
@avaidyam
Can we just save the time string instead of UTC datetime string ? If this is acceptable, let us know how to handle the existing schedules? Currently UTC converted datetime is saved for schedule times (which is calculated by converting the local timezone of the researcher).

[2021-12-13 05:54] sarithapillai8 commented on #453
@SuruPa00
1 . We added this for the games in assess tab initially to identify which game is going to be started. @avaidyam confirmed to put that in brackets. So while doing the activity tab changes, we added this to identify the type of activity going to be opened in general as there can be mix of different types.  So we can remove if this is not required.

3. : The skills used section is already

[2021-12-13 09:51] sarithapillai8 commented on #442
@SuruPa00
This is updated in staging. Please check and let us know if this is ok to go production.

[2021-12-13 12:54] sarithapillai8 commented on #453
![image](https://user-images.githubusercontent.com/63710347/145815942-6ca0bbbc-9d39-4fc0-85b2-3d37f44e9ca9.png)
![image](https://user-images.githubusercontent.com/63710347/145815994-f6dbcdaa-7b3e-4122-b822-973a6a16e927.png)
![image](https://user-images.githubusercontent.com/63710347/145816043-54a62950-b966-47dd-b486-303a8b7c47c3.png)

@SuruPa00
2. Are you testing production or any old instance? I

[2021-12-13 13:56] avaidyam commented on #417
You cannot change the current format of the Activity Schedule. Please use the existing data structures and reinterpret them in the dashboard code or server code as required.

[2021-12-13 14:04] sarithapillai8 commented on #417
@avaidyam
So there should be some way to understand the actual time selected by the researcher. With the current data, the activity schedule time was saving by converting the time selected by the researcher(which is considered as his local time) to UTC time. So we can just use those UTC values without any conversion as we don't have any information of which time the researcher actually selected wh

[2021-12-13 14:25] SuruPa00 commented on #442
Can you check on this? On the mobile, the options for the matrix are cutoff (I've allowed 5 options, but only 4 are visible) - can you fix this by making it so the bubbles/boxes are smaller and so at least 5 can fit on a screen and if they dynamically get smaller based on how many options there are so they can all fit on one screen? Additionally, there is no indicator above the bubbles showing wha

[2021-12-13 14:38] avaidyam commented on #417
Right. While the date-time string has a date, a time, and a timezone, currently we ignore the date. We should also ignore the timezone. There is no other change to the data model this way, and if we support custom time zones in the future then it's possible to use that field again.

[2021-12-13 14:40] SuruPa00 commented on #453
@sarithapillai8 we are checking on this and will update if the issue is persisting - can you confirm #4 is also fixed? if so, push that to production

[2021-12-13 15:19] sarithapillai8 commented on #417
@avaidyam
Please correct me if I am wrong :
The researcher selected the time - Mon Dec 13 2021 14:00:45 GMT+0530 (India Standard Time), which was saved as 2021-12-13T08:30:45.820Z. Then we need to ignore the timezone and date, and consider the time '08:30' in every time-zone. I mean in feed and notifications. ie, we just use the time 08.30 without any conversion.

In future save the time in local

[2021-12-13 15:37] avaidyam commented on #417
Yes that's correct. No changes to how the Researcher sets the schedule. Now the "8:30" they set refers to the patient's local timezone.

[2021-12-13 16:49] #434 closed

[2021-12-13 16:51] SuruPa00 commented on #447
@sarithapillai8 has this been pushed to production yet?

[2021-12-13 17:08] Linoy339 commented on #417
@avaidyam . Just to clarify:

1) In this case, there will be mismatch between time for which the notification got set and the same for which
notification got triggered.
In the above example, from the researcher's perspective, the notifications were supposed to fire at `2 PM` and Instead, it gets fired at `08:30 AM`.

2) Also the key `time` in schedule object would be either `2021-12-13T08:30:45.82

[2021-12-13 17:13] avaidyam commented on #417
@Linoy339 @sarithapillai8 The UI should show "8 AM" as if it were UTC, regardless of the Researcher's timezone.

**I don't think we were made aware that there is a change to the data format for schedules? When did this occur and why? Please revert to the old format ASAP.** You cannot break from ISO 8601 date-time formatting and roll a custom format for JSON and have it still be compatible with JSO

[2021-12-13 17:35] Linoy339 commented on #417
@avaidyam . Present data format to save a schedule is :

`{"schedule":
[{"start_date":"2021-10-29T11:33:00.000Z",
"time":"2021-10-29T11:34:04.124Z",
"custom_time":null,
"repeat_interval":"biweekly",
"notification_ids":[222496]
}
]}`

Is this format an issue and  to be changed ?

[2021-12-13 18:16] avaidyam commented on #417
@Linoy339 The format you have shared in the comment is correct, however, **you must remove `notification_ids`**. That cannot be exposed in any API. I was referring to this comment you made:

This new schedule format `13/12/2021, 22:25:16 pm` is _illegal_ for JSON + ISO 8601. Please do not use this kind of format anywhere. This format - `2021-12-13T08:30:45.820Z` - is correct and accepted.

[2021-12-13 20:47] SuruPa00 commented on #430
try U8550073055 and the morning 1 minute mindfulness - the first sentence of the video in the first few seconds keeps repeating at the end

[2021-12-14 05:20] sarithapillai8 commented on #417
@avaidyam
We didn't change anything. The format is still the same as  ISO 8601 date-time formatting.

So our plan is like existing data will have issues like - there will be difference in time the researchers tried to set schedule. ie, With current schedules the notifications and feed will work with UTC time, not the time set by the researcher.
UI will be changed like the time selected by the rese

[2021-12-14 05:21] sarithapillai8 commented on #447
@SuruPa00
No. This will be updated with #442 as that is also updated to master branch, we can only release with that.

[2021-12-14 08:26] sarithapillai8 commented on #453
@SuruPa00
#4 and #5 are updated in staging.

[2021-12-14 10:12] sarithapillai8 commented on #442
@SuruPa00
This is updated in staging.

[2021-12-14 13:02] divyav2020 commented on #430
I have used U8550073055 user Id and checked morning 1 minute mindfulness. But I am unable to reproduce this issue.

[2021-12-14 13:21] SuruPa00 commented on #453
@sarithapillai8 push these to production asap

[2021-12-14 15:31] lukeoftheshire opened #454 "Race condition when getting very recently set attachment"
Calling LAMP.Type.get_attachment on a tag that was recently (<1s) set by LAMP.Type.set_attachment can lead to a race condition where the non-updated tag is returned (i.e., the value previously stored to that key).

See attached screenshot where I set a tag to 'initial', set it to 'second' and quickly call get (returns initial), and then set it to 'third', sleep, and then call get(returns 'third)

[2021-12-14 15:33] lukeoftheshire commented on #454
Upon investigation with @avaidyam - it appears this is due to increased load on our DocumentDB cluster due to a recently added replica DB for an unrelated issue that has since resolved.

Removing this replica DB should resolve the root cause of this issue.

[2021-12-14 15:43] avaidyam commented on #454
It looks like the issue can be resolved and the solution is in motion now so let's close the issue. If the solution doesn't work as expected we can reopen and resume discussion here.

[2021-12-14 15:43] #454 closed

[2021-12-14 16:48] SuruPa00 commented on #442
@sarithapillai8 i've checked on this and we can update this and #447 to production once i get the logs

[2021-12-14 18:38] SuruPa00 commented on #453
@sarithapillai8 for #1 please go ahead and remove these in staging

[2021-12-14 18:56] SuruPa00 commented on #453
@sarithapillai8 for #2, the same issue is happening with user U8550073055 when you look at the daily survey, which has an entry today dec 14th but it is not showing up on the graph

[2021-12-15 04:41] sarithapillai8 commented on #453
@SuruPa00
We were checking DBT graphs and we couldn't find issue. In the daily survey graph , I can see the entry with Dec 14. Please see the screenshot. I tried one survey submission today with test account and it is also visible in the graph.  Let me know If I am missing anything.
![image](https://user-images.githubusercontent.com/63710347/146124044-ca4a81c6-cb7b-4224-b226-77522e7c62d2.png)
![im

[2021-12-15 04:53] sarithapillai8 commented on #400
@avaidyam @lukeoftheshire
We are not familiar with LAMP.API.query methods. Can you provide some documentation? We can try fetching basic details of participants, activities and sensors in single/multiple queries.

[2021-12-15 06:17] sarithapillai8 commented on #453
Please see the test report attached.
[LAMP_Admin Website_DBT fixes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7716869/LAMP_Admin.Website_DBT.fixes.xls)

[2021-12-15 06:17] sarithapillai8 commented on #447
Please see the test report attached
[LAMP_Admin Website_Hirearachy Updates.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7716873/LAMP_Admin.Website_Hirearachy.Updates.xls)

[2021-12-15 06:18] sarithapillai8 commented on #442
Please see the test report attached
[LAMP_Admin Website_Survey Matrix.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7716876/LAMP_Admin.Website_Survey.Matrix.xls)

[2021-12-15 08:31] sarithapillai8 commented on #411
@SuruPa00 @avaidyam
I have added duration parameter in every activity submission.

Before implementing that in back press please confirm :
Do we really need to add activity event on back button press? The steak popup is expected at the time of activity event data generation. So if we create activity event on back press, an activity event will be created. So steak popup will be shown and the entry

[2021-12-15 10:36] avaidyam commented on #411
If you have added the duration parameter to Tips/Breathe then it should end the activity and generate the event on:
1. Clicking "Mark Complete" OR
2. Clicking the back button at the top left of the page.

This code to calculate duration should be within the LAMP-activity codebase. I don't understand the confusion with the streak popup system? If a user opens a Tip and views it and presses the back

[2021-12-15 10:47] sarithapillai8 commented on #411
@avaidyam
Please see the 5th point in https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/453#issue-1076884291.
There was a requirement to remove steak on back press(I don't have the issue reference, it was a few months back.) and we are not saving activity event in such cases. We are saving event on submit/mark complete cases. So if you can confirm this for all type of activity includi

[2021-12-15 11:06] avaidyam commented on #411
The back button requirement is only for Tips and Breathe as users are not pressing the "Mark Complete" button. Not for any other activity. The code changes should only be done in the folders of these two specific activities. Is there a technical issue blocking that from being implemented?

[2021-12-15 11:10] sarithapillai8 commented on #411
@avaidyam
No issues. We just wanted to confirm that is it required for all type of activities as we are not considering back press for event generation. So we can do the change for Tips and breathe. Thanks.

[2021-12-15 15:10] sarithapillai8 commented on #411
@avaidyam
We have one confusion with Tips. Suppose we have 2-3 sub sections for a tip activity. If we are submitting with 'mark complete', 3 activity events will be generated and on back press, an extra event with a total duration required? or Can we just change it like levels in jewels using temporal slices or something and generate event will all the operations together?

The current format is

[2021-12-15 15:14] avaidyam commented on #411
The timestamp is when the activity was opened, duration when the overall activity was exited/completed. Each tip category should be its own temporal slice. Item should be the tip category index, duration should be time spent on the particular tip category, and value should be sentiment level (good/bad). Level and type should be null. (Please ensure across ALL activities that only the fields item,

[2021-12-15 15:24] SuruPa00 commented on #442
@sarithapillai8 this looks good, but the way it looks in the portal tab is not intuitive and does not make much sense. Would it be possible for the line graphs to show for each individual question added for the matrix? If there are 5 prompts within a matrix, there should be 5 lines.

[2021-12-15 15:43] sarithapillai8 commented on #411
@avaidyam
We need to work on the change with parameters. The games having fields - item, value, level, duration and status. Value is null , so status can be saved in value, and type can be kept null. We did this first for jewels first, and copied the same for all the games.

[2021-12-15 15:45] avaidyam commented on #411
Please rename the status field to type. Make no other changes to where the data is stored (ie. do not store status in value).

[2021-12-15 15:59] SuruPa00 opened #455 "Optional Question Default"
Can it be fixed amongst the platform that studies are by default unchecked for the optional questions? Both studies w researcher id yhe0wtfn6n6sbvsan0js and 4aq1kry81ktrb5v1smvs include many, if not all surveys to entirely composed of optional questions when they are all required. Please see to this asap. Move this to production asap once its done.

[2021-12-15 19:49] lukeoftheshire commented on #400
Hi @sarithapillai8

Absolutely! LAMP.API.query takes, as an input, a string which it then attempts to run as a JSONata query on the lamp server. JSONata is a language with a variety of handy methods for transforming and working with JSON data. You can find some information on JSONata here: https://docs.lamp.digital/data_science/jsonata . Additionally, the LAMP implementation of JSONata includes mo

[2021-12-16 12:13] michaelmenon commented on #431
This should be resolved now after the optimizations done in the cron stack. Closing it now, we can open it if we see any restarts.

[2021-12-16 12:13] #431 closed

[2021-12-16 12:48] sarithapillai8 commented on #442
This is updated in staging. Please check and let us know. QA is testing on the same.

[2021-12-16 13:52] SuruPa00 commented on #442
@sarithapillai8 I am not seeing any update in staging. This is the current single line graph i see even though there are various values for all 4 entries.

![image](https://user-images.githubusercontent.com/86117379/146384393-1c24ebbc-85bf-4140-ac7c-17c67aa8c5bb.png)

[2021-12-17 01:19] sarithapillai8 commented on #442
@SuruPa00
 This is the graph for whole survey, right ? What we need to change there?
 I have changed the detail view.Can you check the detail view by clicking the icon on top left corner?

[2021-12-17 14:34] SuruPa00 commented on #455
@ZCOEngineer can we get an update on this?

[2021-12-20 06:03] sarithapillai8 commented on #455
@SuruPa00
We don't understand the issue. By default the the survey questions are required. If any surveys are created while we initially updated with default optional questions, those cannot be unchanged. Those need to be manually updated. Any new surveys are with default required option.

[2021-12-20 06:21] saranya-sajeev commented on #408
@avaidyam shall we implement above change?

[2021-12-20 13:52] jijopulikkottil commented on #401
@SuruPa00 @avaidyam
When we test, server fails to send remote push notification after a day or two days. (we couldn't notice it because of local notification). Discussed with @Linoy339 and he found that an issue of getting token due to newly added Analytic actions. So I can continue testing the issue of 'recording notification receipts' after this server fix.

[2021-12-20 14:28] SuruPa00 opened #456 ""0" entries in Portal tab"
Responses in the Portal tab are showing up as "0" even when people have numerous entries with completed and varied responses. See U8847026339 and the gratitude journal activities for the pictured example below. This is also occurring for other users, such as U9902494734
<img width="587" alt="Screen Shot 2021-12-20 at 8 37 09 AM" src="https://user-images.githubusercontent.com/86117379/146781396-83e

[2021-12-20 15:00] avaidyam commented on #408
Yes. Please work with @jijopulikkottil to make the data format identical as well.

[2021-12-21 07:53] divyav2020 commented on #456
This is updated in staging

[2021-12-21 08:28] sarithapillai8 commented on #456
The fix is updated in staging.

[2021-12-21 08:58] sarithapillai8 commented on #451
@avaidyam
1. Where do we need to add this option for system admin? Can we just create a new menu item saying '**Manage password rule**' under manage credentials?
2.Do we need to permit the user admin for managing this new option?
3. Currently some default password is created while adding a new participant. So do we need to change that based on this password rule?
4. I hope the screenshot with pass

[2021-12-21 14:51] #456 closed

[2021-12-21 14:51] #455 closed

[2021-12-21 14:52] #447 closed

[2021-12-21 14:55] SuruPa00 commented on #448
@ZCOEngineer let's have this looked at alongside priority 1 items now

[2021-12-21 15:08] sarithapillai8 commented on #400
@SuruPa00
The changes are updated in staging for testing purpose. Please don't do any release, as our master branch is now updated with these changes.  If everything looks fine, we can release after QA confirms.

[2021-12-21 15:11] sarithapillai8 commented on #411
This is updated in staging. The back buttons in notifications having no functionality for now. There is not page available to go back from notification as this is separate URL loading on notification. Could you suggest what to do with back buttons? We have removed back buttons for now. Please let us know if that is to be restored.

[2021-12-21 17:43] avaidyam commented on #341
Yes, this needs to work for any and all pages across the UI.

[2021-12-21 17:45] avaidyam commented on #451
1. There is no UI to manage the password rule - that wasn't even part of the original implementation I posted.
2. No, for now the default password can be the same as patients should change the password later.
3. Yes, it's the same UI but with added validation text.

[2021-12-21 17:48] avaidyam commented on #441
@sarithapillai8 Please use the Tag and not the Activity object for this.  We can revisit the data model later if needed.

[2021-12-21 21:13] SuruPa00 commented on #442
@sarithapillai8 can we decrease the box dedicated to the circles for the matrix so that we have more room for texts? we need to be able to fit longer questions without making the size too small, so smaller amounts of space for the circles/boxes would be better

additionally, can you change question description color to be black instead of grey?

[2021-12-22 03:14] ZCOEngineer commented on #448
Ok Suraj

[2021-12-22 11:05] sarithapillai8 commented on #448
@SuruPa00
The pdf is not rendering as we trying to render it inside sandboxed iFrame. There are some restrictions for security reasons. I hope we cannot remove that attribute.
@avaidyam Please confirm.

[2021-12-22 12:19] sarithapillai8 commented on #442
@SuruPa00
The last change is updated in staging. Could you check and let me know if that is ok?

[2021-12-22 16:05] SuruPa00 commented on #442
@sarithapillai8 just checked, this looks good - i will wait to push to production as other items are being worked on by your team right now

[2021-12-22 21:54] avaidyam commented on #448
@sarithapillai8 It was working before and it's not working now. Can you provide explanation as to why the security policy is suddenly different? We have always been using a sandboxed iframe, correct?

[2021-12-23 02:00] sarithapillai8 commented on #442
@SuruPa00
The only other item waiting for confirmation now is #400.Our QA confirmed that it is working fine and if you can check from your side, it is ready to go. No other changes will be doing on staging until then.

[2021-12-23 06:40] sarithapillai8 commented on #448
@avaidyam
Yes we are using the same sandboxed iFrame. If it was working, was it given in the same as given now? Because I can see that the sandboxed iFrame restrict the rendering of pdf with embed, object tags. All these working when I remove sandbox attribute
![Screenshot 2021-12-23 120944](https://user-images.githubusercontent.com/63710347/147199319-4e02b4b4-0bc9-4da7-b01d-d5001f18faa2.png)

[2021-12-27 04:03] jijopulikkottil commented on #401
@Linoy339 Tested on staging after server update and it is working fine. App is getting push notifications and sending analytic events to server.
@SuruPa00 So iOS app will works fine after the production server update. App update is not needed.

[2021-12-27 10:50] sarithapillai8 commented on #451
This is updated in dashboard-staging. QA confirmed with some sample 'password_rule' tags in api-staging.

[2021-12-27 19:06] SuruPa00 commented on #453
@sarithapillai8 This is fine for now, let's keep on hold till further changes are necessary

[2021-12-28 00:56] avaidyam commented on #179
@jijopulikkottil Apologies about the dead link! Let's stick to a client-side implementation on iOS only. The badge number can be autoincremented in a notification service extension and decremented when a notification is swiped away. [Here's the correct link.](https://www.cometchat.com/docs/ios-chat-sdk/increment-app-icon-badge-count)

[2021-12-28 00:58] avaidyam commented on #448
@sarithapillai8 Please add the sandbox exception attributes for plugins, external APIs, and automatically triggered content. That should fix the YouTube embed issue.

[2021-12-28 05:47] sarithapillai8 commented on #448
@avaidyam We already have exception attributes in sandbox. I can check further.  If you have any suggestion, please let me know. Our code is like :
          '**_sandbox="allow-forms allow-same-origin allow-scripts allow-popups allow-top-navigation "_**'

![image](https://user-images.githubusercontent.com/63710347/147532175-182c1b89-2726-4f39-80ae-57e0993bdf56.png)

[2021-12-28 06:44] avaidyam commented on #448
If that is the case, there should be no reason for PDF embedding to stop working. Can you investigate any code changes to React-Markdown in the Tips code?

[2021-12-29 09:46] sarithapillai8 commented on #417
@avaidyam @SuruPa00
Do you want the date to be keep in the same way as time? I mean as we take the time string from UTC format save datetime, do we need to extract the date or do we need to convert it in local timezone?

[2021-12-29 15:56] avaidyam commented on #417
Just the time for now

[2021-12-30 09:07] sarithapillai8 commented on #417
LAMP-dashboard updates are completed and QA confirmed. The changes will be updated in dashboard-staging after server side changes.

[2021-12-30 11:42] sarithapillai8 commented on #448
@avaidyam
No code changes affecting this pdf rendering found. I wonder if this is something related with browser update. PDF is rendering in Firefox and safari browser. The chrome browser has restrictions with  sandboxed IFrame.
![image](https://user-images.githubusercontent.com/63710347/147747173-6d47aa1d-09c6-4053-80ca-1b7e8717477d.png)

[2022-01-03 11:47] jijopulikkottil commented on #179
Ok, our plan is to increment the badge manually when receive remote notification.
@avaidyam  And instead of resetting to 0 when open the app, we have to decrement the badge count  when user tap/swipe on it or when expired.. right ?

[2022-01-03 13:25] lukeoftheshire opened #457 "Intensive JSONata queries can cause server issues"
LAMP-server allows for JSONata document transformation queries to be executed *server-side* via the LAMP.API.query() function. LAMP adds some additional functions to JSONata that allow a user to query the LAMP database, which can speed up the time for some queries significantly.

However, JSONata performance seems to drop off quite substantially when processing big chunks of data. This would not b

[2022-01-03 13:29] avaidyam commented on #179
Yes - the badge number should reflect the number of notifications that are still pending. Are the notifications cleared when the app is opened right now? If so, the behavior you suggest (the badge count is reset when the app is opened) will happen automatically.

[2022-01-03 15:59] avaidyam commented on #448
@sarithapillai8 Good call - I've investigated this and found that you are correct, it is indeed a new Chrome 88+ bug **and** a new security policy change made around Sept./Oct. 2021.[^1][^2][^3][^4]

The Chrome PDF renderer now honors the global JavaScript policy (via `chrome_pdf::features::kPdfHonorJsContentSettings`). Chrome 88+ does not respect the Content-Security-Policy of the page for some r

[2022-01-03 16:02] avaidyam commented on #411
@sarithapillai8 The main back button needs to have the same functionality as before - it should close the Tips session. If no Tip was viewed, it still needs to record that info in the `ActivityEvent`. Do not remove the back buttons.

[2022-01-04 04:15] sarithapillai8 commented on #411
@avaidyam
In the case of tips we will have some success page with tips activity. What should happen for other kind of activities like surveys in notifications? do we need to show dashboard/login screen on back click?

[2022-01-04 04:27] avaidyam commented on #411
Restore the old functionality of the back button across all activities, including Tips. It should still create an ActivityEvent for any activity when the back button is pressed.

[2022-01-04 04:34] sarithapillai8 commented on #411
@avaidyam
There was no functionality in notification screen for the activities. For tips and breathe we have activity event creation now. But in other cases there is no functionality. I am asking about notification screen, not from dashboard.

[2022-01-04 04:36] avaidyam commented on #411
Then show the dashboard on the back button action - we need the back button to work the same across all the home tab screens or the Feed tab.

[2022-01-04 04:39] sarithapillai8 commented on #411
We removed the back button only for notifications. We can restore and on clicking we can move to dashboard then.

[2022-01-05 15:03] sarithapillai8 commented on #441
This is updated in dashboard-staging. QA continuing testing for production release.

[2022-01-05 16:09] avaidyam commented on #138
@michaelmenon @ZCOEngineer Can you share the updated translation files to work off of for French and [Italian](https://mindlamp.discourse.group/t/italian-language/479/2)?

[2022-01-05 16:20] avaidyam opened #458 "Relative date scheduling based on patient enrollment"
For certain studies it would be beneficial to set an activity schedule start point as "2 weeks after patient enrollment" instead of a fixed date.

[2022-01-05 16:54] lukeoftheshire opened #459 "ActivityEvent downloading info in LAMP Docs"
Some additional documentation could be added to the LAMP docs regarding data access. The following two items would probably be helpful:

- Some (additional) documentation in the LAMP python docs about downloading activityevent data for specific events - there is documentation for using specific sensors like "lamp.gps" for *Sensor* data but not activity data, which uses the alphanumeric activity id

[2022-01-05 20:30] tlakhtak opened #460 "Links not working in Tips"
Participant ```U5344706698``` in researcher ```yhe0wtfn6n6sbvsan0js``` reported that youtube links were not working for the tips Strengths and Behavioral Activation. This was replicated by our team on Chrome as shown below.

<img width="905" alt="Screen Shot 2022-01-05 at 3 20 19 PM" src="https://user-images.githubusercontent.com/82968538/148284761-0e3456ce-00cb-4e23-89d5-ada1f935bc4b.png">

<img

[2022-01-05 20:36] #460 closed

[2022-01-05 20:39] avaidyam commented on #460
Possible duplicate of #448.

[2022-01-05 20:47] tlakhtak opened #461 "Calendar feature on Feed skipping ahead"
The calendar feature on the Feed skips ahead to the next week on Sunday, thus showing the activities for the wrong day. User ```U5344706698``` in study ```yhe0wtfn6n6sbvsan0js``` reported this issue from a Samsung Galaxy phone, exact model not known.

![Capture+_2021-12-26-18-48-08](https://user-images.githubusercontent.com/82968538/148286908-e96f9bbd-648b-4ea6-8cd9-8bca443a1470.png)
![Capture+_20

[2022-01-06 05:04] sarithapillai8 commented on #138
[translations.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7819580/translations.txt)
@avaidyam Please find the latest file we are using in dashboard now.

[2022-01-06 21:12] lukeoftheshire opened #462 "TypeError when viewing some user survey data"
For at least one user for a collaborator, attempting to view the ActivityCard for their user leads to an error in React. See the attached screenshot.

![Screen Shot 2022-01-06 at 3 52 35 PM](https://user-images.githubusercontent.com/34659264/148451332-d32f3552-0bf5-4951-b807-a8934c74e6f1.png)

There is already some null checking in the code at the line in question (or rather line 45), but it is a

[2022-01-06 22:48] avaidyam commented on #462
@lukeoftheshire Are there TypeScript compilation rules or ESLint rules we can add to the projects to force mandatory type definitions and disable the use of `any` types?

[2022-01-07 13:41] divyav2020 commented on #411
Updated the build in Dashboard staging
[LAMP_Admin Website_Streak Fixes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7829106/LAMP_Admin.Website_Streak.Fixes.xls)

[LAMP_Admin Website_Notification Back button.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7829108/LAMP_Admin.Website_Notification.Back.button.xls)

[2022-01-07 13:41] divyav2020 commented on #451
We have updated the build in Dashboard staging

[2022-01-07 13:41] divyav2020 commented on #400
We have updated the build in Dashboard staging

[2022-01-07 13:42] divyav2020 commented on #441
We have updated the build in Dashboard staging
[LAMP_Admin Website_Good Job Done changes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7829113/LAMP_Admin.Website_Good.Job.Done.changes.xls)

[2022-01-07 13:42] divyav2020 commented on #442
We have updated the build in Dashboard staging
[LAMP_Admin Website_Survey Matrix.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7829115/LAMP_Admin.Website_Survey.Matrix.xls)

[2022-01-10 06:17] saranya-sajeev commented on #3
@avaidyam In Android , low power mode call back is not firing.

[2022-01-10 11:15] saranya-sajeev commented on #273
@avaidyam SVG icon integration completed for Android and it is pushed to beta.

[2022-01-10 13:43] avaidyam commented on #179
Great, that sounds like a very good implementation! Thanks.

[2022-01-10 13:44] avaidyam commented on #3
Are you using the `ACTION_POWER_SAVE_MODE_CHANGED` broadcast intent?

[2022-01-10 14:12] avaidyam commented on #411
@sarithapillai8 It appears that the duration spent in a sub-tip is only recorded if you press 👍/👎, otherwise, it's just the total duration. Can you see if there's a way to record sub-tip duration if the back button is pressed to go out to the list of all sub-tips?

[2022-01-10 15:46] #451 closed

[2022-01-10 15:46] #400 closed

[2022-01-10 15:46] #441 closed

[2022-01-10 15:48] #448 closed

[2022-01-10 15:49] #401 closed

[2022-01-10 15:55] saranya-sajeev commented on #3
@avaidyam yes

[2022-01-10 15:58] avaidyam commented on #3
It doesn't seem like you've added this to `AndroidManifest.xml`:

[code]

Can you confirm that it's set up this way and then test it?

[2022-01-10 16:12] avaidyam commented on #205
Issue superseded by #442.

[2022-01-10 16:24] #414 closed

[2022-01-10 16:28] #430 closed

[2022-01-10 16:32] avaidyam commented on #440
A draft flowchart for the client-side operation is attached (more details coming later).
![image](https://user-images.githubusercontent.com/1361003/148802207-33b1971e-7c5f-4e20-af4f-68f9f25d557b.png)

[2022-01-10 16:39] avaidyam commented on #411
@sarithapillai8 @divyav2020 We also found in our QA testing that the back button generates an ActivityEvent for **every ActivitySpec** (including Survey, DBT Diary Card, etc.) and not just Tips. We need to rethink the current implementation if this is the case. Can you confirm the behavior we're seeing?

[2022-01-10 18:52] lukeoftheshire commented on #462
To be completely honest I hardly a typescript expert, so this is just based off some googleingbut according to https://palantir.github.io/tslint/rules/no-any/ we could add "no-any":true to our linter to disable the use of any. We'd have to do some reviews before implementing this, I assume, to get out all the "any" type declarations already in the codebase.

A cursory review reveals ~26 uses of th

[2022-01-10 20:44] tlakhtak opened #463 "DBT Diary Card Updates: new questions to be added"
SCREENSHOTS TO BE ADDED
For the DBT Diary Card, we want to add the following 2 questions:

"Urge to quit therapy"

and "Urge to die by suicide"

Preceded by a Likert scale as per the rest of the questions, going from 0-5 for intensity.

[2022-01-10 20:48] tlakhtak opened #464 "Scratch card not working"
For patients server sangath.psych.digital, the scratch card does not seem to work and instead renders loading screen. This was observed on Google Chrome, with test user U1088609897. Phone users on iPhone and Android also report the same issue, causing them to force quit the app.

[2022-01-10 20:57] tlakhtak opened #465 "DBT Updates for Future"
1. We would like the target behaviors section of the DBT to have a drop-down menu of some preset behavioral targets, as well as the free-response option.
2. We would like to present the skills drop-down menu in the survey questions even if the patient said they did not complete any skills.

[2022-01-10 21:04] tlakhtak opened #466 "DBT Bug: Portal display error"
Another calendar/time-related issue. On Portal page, observed for the diary card output, when a graph is displaying a range of time (1/4-1/10, for example), the actual graph display shows a range starting and ending one day earlier than the range selected(1/3-1/9) on the x-axis.

[2022-01-10 21:08] avaidyam commented on #465
@tlakhtak Do you by any chance have a mockup of what points 1 and 2 should look like?

[2022-01-11 07:17] sarithapillai8 commented on #462
@avaidyam Do you want to remove all any types as part of this ticket? The bug fix is updated in staging.

[2022-01-11 08:17] sarithapillai8 commented on #463
@avaidyam @tlakhtak Where to add these questions? if these are part of emotions, the questions can be added directly.

[2022-01-11 08:21] sarithapillai8 commented on #464
@avaidyam LAMP-activities were not updated. I have updated 'latest' tag for activities repo and now it seems working.

[2022-01-11 08:59] sarithapillai8 commented on #411
@avaidyam
We are not able to reproduce this issue. Could you confirm with your QA team?

[2022-01-11 12:37] avaidyam commented on #462
@sarithapillai8 Yes, Any types must be removed and every function parameter and return type MUST be strictly typed. @lukeoftheshire and I will determine which linting rules and compiler options to enforce for this.

[2022-01-11 12:39] avaidyam commented on #411
@tlakhtak reported that our collaborators are seeing streaks and empty DBT Diary Card data when the activity is opened and the back button is pressed.

[2022-01-11 13:40] saranya-sajeev commented on #3
@avaidyam it is also tried and not worked.

[2022-01-11 13:43] avaidyam commented on #464
@sarithapillai8 Please immediately change the URLs in the dashboard code to point ONLY to the generated GitHub Pages output. You are not to make any manual releases or override the latest tag in any way.

[2022-01-11 13:44] sarithapillai8 commented on #464
@avaidyam @michaelmenon
I was re-tagging the dist branch with 'latest' for the last few months as we discussed before. You suggested in an old ticket to use different URLs in this way for staging and production and we updated it like you suggested and I also shared the code we used with you at that time. Initially it was same for staging and production, and we didn't have a way to test in staging.

[2022-01-11 13:51] sarithapillai8 commented on #464
@avaidyam
The latest release in LAMP-activities was noticed was on Dec 3rd with slider updated for surveys by Suraj. That is why I did manual release today.

[2022-01-11 13:54] avaidyam commented on #464
@sarithapillai8
1. [When I look at the `latest` tag, I see numerous commits](https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/commits/latest) titled `Add files via upload`. **You cannot be modifying the build output.** This leads to serious integrity issues with the code and trust in our build process by collaborators that use our platform.
2. Please do not manually tag `latest` - [it is

[2022-01-11 14:06] avaidyam opened #467 "Load Activity UI from URL in ActivitySpec"
Currently the HTML code for an Activity's UI is loaded statically by `LAMP-dashboard` like so:

[code]

While **we require this to still work as a fallback for older dashboard and server versions,** the proper way of checking the URL in [`EmbeddedActivity`](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/master/src/components/EmbeddedActivity.tsx) should be:

[code]

This way, each i

[2022-01-11 14:07] avaidyam commented on #464
As this issue is resolved, this discussion should be continued in #467.

[2022-01-11 14:07] #464 closed

[2022-01-11 14:19] sarithapillai8 commented on #467
@avaidyam
Will the activityspec 'executable' field be updated after each build automatically or do we need to do anything for that?

[2022-01-11 14:20] avaidyam commented on #467
The `activitySpec.executable` field is controlled by the server. For the BIDMC staging and production servers, it will either be an automated rollout or I will personally update it manually.

[2022-01-11 14:21] #273 closed

[2022-01-11 15:14] tlakhtak opened #468 "App crashing, unable to open"
Many users across many servers have reported difficulty loading the app and it's various features, encountering an endless loading circle. Here is an example of that with an Android device.

https://user-images.githubusercontent.com/82968538/148968966-baec3f7b-4ebd-48d5-8d24-c7e33e147ed7.mp4

[2022-01-11 15:17] tlakhtak commented on #466
Another Portal timing issue - it appears as though the data is not populating correctly, and showing inaccurate timelines of 52 years ago for recently collected data.
![Timing Issue in Graph](https://user-images.githubusercontent.com/82968538/148969498-b2210420-df1f-4adb-840e-7dc07a177e1e.png)

[2022-01-11 15:30] tlakhtak commented on #468
This app crash is not resolved as of this morning. No additional details at this time but will provide as we know more.

[2022-01-11 16:55] michaelmenon commented on #468
Hi @tlakhtak  please let us know if its resolved or not.. And are these users connected to the LAMP production server ?

[2022-01-11 18:24] avaidyam commented on #468
@michaelmenon We're not seeing the issue on our team's devices right now, at least in our QA testing pass. @tlakhtak and @akmeyer3 are working with patients to determine what's causing the issue, or if [the issue was resolved by this.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/464#issuecomment-1009701807)

[2022-01-11 21:03] tlakhtak commented on #463
These questions are to be added as follows, as the flow depends on previous responses to the Did you use any of the skills today? question:

Question 1:

"Urge to quit therapy"

Response: Intensity, 0-5 (Likert scale)

Question 2:

"Urge to die by suicide"

Response: Intensity, 0-5 (Likert Scale)

Flow 1: If user endorses Yes to: Did you use any of the skills today?

Add questions immediately afte

[2022-01-12 09:54] sarithapillai8 commented on #442
@avaidyam
This is done different question like slider, multiselect. The questions and answer options are saved as question options. In survey each question in different index and the whole matrix question is considered as single question. The Prevent graph is also handled with this kind of data. So can you confirm we need to change this implementation?

[2022-01-12 10:49] avaidyam commented on #442
This implementation was deemed okay temporarily but let me get back to you on the more robust and correct implementation.

[2022-01-12 11:25] sarithapillai8 commented on #463
@avaidyam
Can we save these 2 answers are with keys in static_data : urgeToQuitTheray and urgeForSuicide like we save notes?

[2022-01-12 11:26] avaidyam commented on #463
Yes, that should work.

[2022-01-12 11:49] michaelmenon commented on #468
Thanks @avaidyam , we also checked the production, team checked all the activities in Android (Samsung M21 (Version 11)) and its working fine.

[2022-01-12 11:56] avaidyam commented on #468
Closing this issue until we are clearly able to determine if it is still ongoing and potential causes.

[2022-01-12 11:56] #468 closed

[2022-01-12 12:10] sarithapillai8 commented on #463
@avaidyam Could you please add project to this issue - I am not able to change the status.

[2022-01-12 12:12] avaidyam commented on #463
@sarithapillai8 Please add the labels to the issue instead going forward.

[2022-01-12 12:14] sarithapillai8 commented on #463
@avaidyam
Please clarify :  any updates to master branch of LAMP-activities will update the production?

[2022-01-12 12:23] avaidyam commented on #463
Master branch updates staging. Only once I create the GitHub release will it affect production.

[2022-01-12 12:28] sarithapillai8 commented on #467
@avaidyam
Could you explain what are the possible values for fallbackURLs?

[2022-01-12 12:30] avaidyam commented on #467
It's a dictionary (aka object in JS) containing the activity specs we currently have mapped to the URLs we currently have - for production.

[2022-01-12 12:32] sarithapillai8 commented on #467
@avaidyam So what should I use for comparison? I mean with which values I can initialize that variable?

[2022-01-12 12:37] avaidyam commented on #467
The ones that are already in EmbeddedActivity...? There's already a mapping of activity specs, and currently we're deriving the URL using a function - just hard-code these URLs.

[2022-01-12 12:39] sarithapillai8 commented on #467
Do you mean https://raw.githubusercontent.com/BIDMCDigitalPsychiatry/LAMP-activities/dist/ files?

[2022-01-12 12:39] avaidyam commented on #467
Yes, exactly.

[2022-01-12 13:56] lukeoftheshire opened #469 "Crash when submitting survey"
A user (U9952522913) reports crashes upon attempting to submit two different surveys in the last day.

![IMG_8612](https://user-images.githubusercontent.com/34659264/149153396-aa1850eb-adc0-42a5-85ea-1cca97fc183c.PNG)

Based on the code at this location, it looks like a "SubmitSurvey" function is not being correctly supplied, or that whatever is supplied is not a function.

This is a significant b

[2022-01-12 14:04] avaidyam commented on #469
It looks like `submitSurvey` is provided to `ActivityPage` by `Feed` or `ActivityPopup` which also gets it from another higher component in the component tree. Everything looks strictly typed to require a non-null `Function`, so I'm unsure how the TypeScript compiler is missing this.

[2022-01-12 18:03] tlakhtak opened #470 "DBT New Questions Visualization"
This is how LAC would like the new questions to be visualized in the Urges (ineffective) plot.
![image](https://user-images.githubusercontent.com/82968538/149196391-b935e129-d289-40df-b9bf-561dbd7885d7.png)

As an alternative to how we're planning on adding the questions into the survey now, in case it's easier to implement, they would also be okay with the questions being placed within the Target

[2022-01-13 05:07] sarithapillai8 commented on #469
@avaidyam This is already fixed and updated in dashboard-staging.

[2022-01-13 07:38] sarithapillai8 commented on #463
@avaidyam
The build files are not getting updated because of warnings like react-hooks/exhaustive-deps.
Locally I am able to build the files. Could you please have a look? I have handled other significant warnings in code.

 src/containers/patient/index.js
  Line 84:8:  React Hook useEffect has a missing dependency: 'i18n'. Either include it or remove the dependency array                       rea

[2022-01-13 11:40] sarithapillai8 commented on #463
@tlakhtak
Could you suggest some page titles for these questions  like the 'skills' marked in sttachment?
![Screenshot 2022-01-13 170931](https://user-images.githubusercontent.com/63710347/149323826-fbd6188e-199f-4193-9019-4cebcc447be1.png)
?

[2022-01-13 17:39] avaidyam commented on #463
Locally I am able to build the files.

How are you able to build it locally if the CI build fails? This shouldn't be possible unless you're disabling the linter. If you're using `useEffect(..., [])` then temporarily do this instead:

[code]

[2022-01-13 17:40] avaidyam commented on #470
Depends on #463 and #466 being completed.

[2022-01-13 17:57] lukeoftheshire commented on #442
Reproducing a conversation @avaidyam and I had regarding the best way to store this data:

 My gut instinct is that we should try to preserve as much data as possible, i.e. having some way to mark these as a matrix in the backend - I've always thought it would be interesting to, for example, look how (or if) different survey response options affect responses, so having the ability to reconstruct t

[2022-01-14 04:56] sarithapillai8 commented on #470
@tlakhtak We already developed like sperate questions as explained in #463 . I hope we don't need to change that.

[2022-01-14 11:59] sarithapillai8 commented on #463
@avaidyam @michaelmenon @tlakhtak The changes are updated in dashboard-staging. QA started testing on dashboard staging.

[2022-01-14 11:59] sarithapillai8 commented on #470
@avaidyam @michaelmenon @tlakhtak The changes are updated in dashboard-staging. QA started testing on dashboard staging.

[2022-01-14 12:00] sarithapillai8 commented on #341
@avaidyam @michaelmenon @tlakhtak The changes are updated in dashboard-staging. QA started testing on dashboard staging.

[2022-01-14 18:03] tlakhtak opened #471 "DBT Make Target Behaviors response mandatory and change default response"
We would like to change the Response options on the Which target behaviors did you experience today? ​page of the Diary Card to:
We would like the Acted on field to Default to Null instead of 0 when making a selection under Urges
We would like to make all responses required before moving to the next page.

Currently, when you select a response for Urge, the Acted on Field defaults to 0.  We would

[2022-01-14 18:05] tlakhtak opened #472 "Portal: Activity filter resetting after page refresh"
The Activity filter is not working properly. When I select the DBT Diary Card and then click done. The filter works and only shows the tile for the DBT Diary Card (see screenshot)
![image](https://user-images.githubusercontent.com/82968538/149563607-1a0b080d-4b11-4f56-833d-87b42651aab2.png)
However, when I leave the Portal Section, go to another section and then comeback to the Portal Section, all

[2022-01-17 07:21] sarithapillai8 commented on #467
Server side/LAAMP-js changes are required. Currently ActivitySpec Object is not contained with executable field.

[2022-01-17 14:05] avaidyam opened #473 "App Store Review: "Missing Purpose String in Info.plist""

[2022-01-17 14:49] jijopulikkottil commented on #473
@avaidyam I am submitting again by adding those keys to watch app. If it still throws errors, we can do some workaround.

[2022-01-17 15:08] jijopulikkottil commented on #473
We think there was a typo with privacy key in WatchKitExtention when copy-paste, Choosing from the picker resolved the issue.

[2022-01-17 15:22] avaidyam commented on #473
Looks resolved, then! Thanks.

[2022-01-17 23:21] changchunlei opened #474 "Demo account (clinician) not accessible"
**Describe the bug**
Demo account (clinician) not accessible on iphone/andriod/desktop, the page is in loading mode forever.

**To Reproduce**
1. open login page: eg: https://dashboard.lamp.digital/
2. click “try it” → “clinician”

**Expected behavior**
to load and view the demo account page.

**Screenshots**
![image](https://user-images.githubusercontent.com/3335476/149846948-a948ec8b-9942-44a0-a

[2022-01-18 06:48] ZCOEngineer commented on #179
Nothing to do on backend

[2022-01-18 06:49] jijopulikkottil commented on #179
Yes, It is handled on app side. And the updated version 2022.1.13 is in TestFlight now.

[2022-01-18 06:50] ZCOEngineer commented on #417
Done almost 70%, remaining developer testing and QA testing.

[2022-01-18 06:51] ZCOEngineer commented on #437
This is complete and tested

[2022-01-18 06:54] ZCOEngineer commented on #382
@avaidyam do you have any feedback on this? from our side we believe this is complete.

[2022-01-18 06:57] ZCOEngineer commented on #457
@avaidyam we need to discuss on what we can do here.

[2022-01-18 07:01] ZCOEngineer commented on #450
@avaidyam we are reviewing this, shall post our understanding soon.

[2022-01-18 07:40] sarithapillai8 commented on #463
@avaidyam
Staging build with LAMP-activities is ready to be deployed. QA done with #471 also.

[2022-01-18 09:06] avaidyam commented on #179
So this is already being QA tested? If so, please add the GitHub label.

[2022-01-18 09:07] #437 closed

[2022-01-18 09:09] avaidyam commented on #457
@ZCOEngineer You won't need to worry about this issue as your team was not assigned - this has to do with the API design and data visualization.

[2022-01-18 09:36] jijopulikkottil commented on #179
Yes, It is QA tested.

[2022-01-18 11:06] sarithapillai8 commented on #467
https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/4
https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/175
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/495
@avaidyam Could you please check and let me know these are the changes expected.

[2022-01-18 16:19] #341 closed

[2022-01-18 16:19] #463 closed

[2022-01-18 16:19] #470 closed

[2022-01-18 16:20] #471 closed

[2022-01-18 16:21] #462 closed

[2022-01-18 16:21] #469 closed

[2022-01-18 16:24] avaidyam commented on #467
@sarithapillai8 [It still looks incomplete here.](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/495/files#diff-ff1629ac180d2b1a83c39be9d4987379280073d7bd3033f6daa69398f27bb374R129) Please ensure you are calling `LAMP.ActivitySpec.view()` to get the full contents of the spec including the `executable` field, and that `LAMP.ActivitySpec.list()` does **NOT** return the `executable` fi

[2022-01-18 16:29] avaidyam commented on #443
Since the affected issue hasn't occurred in some time, this issue will be closed for now.

[2022-01-18 16:29] #443 closed

[2022-01-18 16:32] avaidyam commented on #179
This build has now been submitted to App Store review, after which we'll QA test it and push for production release.

[2022-01-18 16:37] avaidyam commented on #439
Since this issue has not been occurring for quite some time, this issue will be closed until it reappears.

[2022-01-18 16:41] avaidyam commented on #382
@ZCOEngineer Our team (me + @lukeoftheshire) will take a closer look later this month and double check things. This issue has been moved to a lower priority for now.

[2022-01-18 16:49] avaidyam commented on #445
Closing this issue as it's not something technically feasible at this time.

[2022-01-18 16:49] #445 closed

[2022-01-18 16:58] avaidyam commented on #442
One thing to consider is that the matrix header does not need to be recorded in the data output. I think the simplest way of doing this would be to make the `matrix` question type become an "accumulated" group that takes on the actual question type from the question before it. Then:

[code]

Would render questions 2-5 as sliders 1-100 on the same page, since the earliest non-matrix question is q2.

[2022-01-19 06:37] sarithapillai8 commented on #467
@avaidyam We have added the executable changes in LAMP-server as said. And I didn't use the exact code given, but missed to do the data strip. Todo is completed and updated.
https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/175/files

[2022-01-20 05:50] sarithapillai8 commented on #467
Waiting for LAMP-server and LAMP-js

[2022-01-20 14:34] lukeoftheshire opened #475 "Create a way to attach a ID or name to LAMP activities for *A*cross-site script functionality"
Currently LAMP is being used by multiple sites and multiple researchers. If the same study is being run at multiple sites using different instances of LAMP and a script needs to run to make adjustments to, for example, the schedule of a given activity, it can be difficult to figure out how to make this change across all sites.

For example, the SHARP study is currently running across three sites,

[2022-01-20 15:26] avaidyam commented on #467
@sarithapillai8 Have you or @Linoy339 tested these two PRs? If so I can merge them, since they are minor and do not change much. Please double check that LAMP-server does not return the executable field when calling ActivitySpec.list(), and it does so only on view().

[2022-01-20 15:29] avaidyam commented on #475
One possible idea is a "lookup the resource that has this Tag" feature:
1. Tag the survey with `org.sharp.some_survey` on both the English and Hindi servers.
2. Call this magical function with that Tag name.
3. Use the returned Activity ID.

This presents an issue though: the same Tag can be applied to multiple resources of different types, each with different targets (me/a specific sub-resource/a

[2022-01-20 20:05] lukeoftheshire commented on #442
There are a couple concerns I have with this implementation (although please correct me if I misunderstood anything).

First - I'm not sure about the structure of the data. I think with a "one slice is one question/event" approach it is easy from a data analysis perspective to iterate over an array of events and handle each one. With something like this it could be easy to fall into a pit where yo

[2022-01-20 20:09] avaidyam commented on #442
That's a great point - it breaks consistency with our API usage and is confusing to end-users of the API or Cortex.

I'm not following this part - do you have an example JSON for this so I can visualize it?

[2022-01-20 20:44] tlakhtak opened #476 "Unable to complete for first log in due to app error message and blank screen"
A study tried setting up an Android user on the app and couldn't finalize the process due to bugs - their OS is up to date and they have a Moto G 7 play - Android Version 10.

When the user opened the app and clicked the feed tab, they got a message saying the app was not responding; tried to x out and go back in, still got same thing. Uninstalled and reinstalled, saw a screen with quarter wheel f

[2022-01-20 20:59] lukeoftheshire commented on #442
Maybe something like this:
[code]

Basically, I think we need to *strongly* consider leveraging the unused 'type' variable. We should probably be considering this anyway - from our normal data structure it is basically impossible to figure out what question is what without using the stored activity settings - which is not ideal considering those can be changed.

However the downside to this is it

[2022-01-20 21:01] avaidyam commented on #442
One point to note is that a matrix must have every question be of the same type.

I am somewhat opposed to this - we would duplicate most question types and make them more difficult to parse this way.

[2022-01-20 21:08] lukeoftheshire commented on #442
That's a good point - if we implement type tracking the only situation we might get confused is if, for example, a non-matrix slider follows a matrix of sliders.

I agree that 'slider-matrix' is a klunky implementation! Definitely not committed to it, more suggesting things to see if anything sticks. That being said I still think we should consider if there is any way to have the matrix info conta

[2022-01-20 21:11] avaidyam commented on #442
Perhaps this is a different issue to track? For example, the API could potentially return the set of Activity objects referenced by each group of requested ActivityEvents. If you think that's an approach that might work but needs some discussion, let's make a new issue for that!

[2022-01-21 10:45] saranya-sajeev commented on #476
@avaidyam We have checked in 8,9,10 and 11 os devices and the issue is not reproduced. If possible could you please ask them to share the log file ?

[2022-01-21 12:06] sarithapillai8 commented on #467
@avaidyam
We have tested. Could you please update LAMP-server and LAMP-js? I can update package.json for lamp-core update in LAMP-dashboard repo for QA.

[2022-01-21 18:28] lukeoftheshire opened #478 "Pop the Bubbles ActivityEvent data is incomplete."
Per this issue, https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/45, the proper data structure for each temporal slice in Pop The Bubbles is :

[code]

However, this is significantly different from the current implementation in (at least) 3 significant ways.

First, each bubble should be always have an entry in the temporal_slices array. Instead, only bubbles that are interacted with

[2022-01-21 19:43] avaidyam commented on #476
@saranya-sajeev We're not able to ask patients to share debugging info or system logs. These kinds of logs should be visible from Android Studio/Google Play Console.

[2022-01-21 20:00] avaidyam commented on #476
It looks like there are a significant number of ANR's and one `NullPointerException` crash.
- Nearly all occur on Android 11, except `sensor_core.Screen` which is primarily Android 10.
- All of the `LampForegroundService.onStartCommand` crashes are happening on Realme 7 Pro devices running Android 11 with build 213 of the app.
[code]
- A large number of users are somehow still on build 35 of the a

[2022-01-21 20:55] avaidyam commented on #467
@sarithapillai8 This is complete. Please test the `LAMP-dashboard` implementation of this issue with both the staging and production servers.

[2022-01-21 21:04] avaidyam opened #479 "Documentation for ActivitySpec binding"
i.e. How to take basic React/JS app like this → LAMP activity. Requires a more advanced ActivitySpec editor (left = JSON editor for the ActivitySpec, right = preview `iframe`, middle = Activity object editor + ActivityEvent output viewer). Sample project to test and build this:

- [ ]  [Use SVG Drawing](https://github.com/kmkzt/react-hooks-svgdrawing)
    - [ ]  Wrap SVG elements into Temporal Sli

[2022-01-24 06:29] saranya-sajeev commented on #476
@avaidyam we will check the ANR's  and crash reports and also will add the library and strict mode.

[2022-01-24 07:26] sarithapillai8 commented on #453
@avaidyam Could you expect anything from our side for this task? We put 'on hold' as no other changes requested.

[2022-01-24 07:34] sarithapillai8 commented on #472
This implementation was changed and expecting not to save the filter as requested in the task - https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/419.

[2022-01-24 07:38] sarithapillai8 commented on #474
@tlakhtak
This issue could not be reproduced. Could you please recheck?

[2022-01-24 07:57] changchunlei commented on #474
Thanks, it is working now.

[2022-01-24 07:57] #474 closed

[2022-01-24 08:11] changchunlei opened #480 "Calendar feed loading error"
**Describe the bug**
Hi team,

We’ve encountered RangeError in calendar feed (on both andriod iPhone and webpage).
If you click/view more than 4 days on the feed, it will lead to an error page as attached.

**To Reproduce**
**One of our researcher created a caldenar feed with reminders. but she forgot to set the "Repeat Interval" (left blank).**
becuase it didn't appear in "feed" so we went back a

[2022-01-24 09:04] sarithapillai8 commented on #466
Could you share the credentials for checking this?

[2022-01-24 11:38] divyav2020 commented on #480
We are unable to reproduce this issue. Hence kindly provide us Your Researcher details and Participant ID

[2022-01-24 11:55] changchunlei commented on #480
We are using the our own server: https://dash.monashlamp.com/
please use below testing information to reproduce the issue.
api.monashlamp.com
U8220630168@lamp.com
U8220630168
Thanks!

[2022-01-24 14:11] avaidyam commented on #3
[Please take a look at this procedure to test low power mode (battery saver mode) on Android 9+.](https://stackoverflow.com/questions/48932479/ways-to-test-power-save-mode-changed-action-power-save-mode-changed-receiver) There's a number of other ways to implement this too and as long as it works on most major devices (i.e. Google Pixel, Samsung Galaxy S series) we can consider it implemented.

[2022-01-24 14:13] avaidyam commented on #408
@saranya-sajeev mentioned this was pushed to beta. //cc @lukeoftheshire and @ryan-hays We should test this to verify that Cortex works correctly with this correct data format.

[2022-01-24 14:13] #408 closed

[2022-01-24 14:29] avaidyam commented on #472
@sarithapillai8 Absolutely correct - the current implementation is working as expected, so I am closing the issue.

[2022-01-24 14:29] #472 closed

[2022-01-24 14:37] tlakhtak commented on #466
api.lamp.digital, testtanvi@lamp.com, test3

[2022-01-24 14:37] avaidyam commented on #467
@sarithapillai8 Not at the moment, but please try modifying the executable data using the API on the staging server to confirm it's implemented correctly on the backend too.

[2022-01-24 14:45] jeydude opened #481 "Version update question"
Hi,

Currently we are referring ` image: bidmcdigitalpsychiatry/lamp-server:2021`  in the yml.

Do I need to update to `image: bidmcdigitalpsychiatry/lamp-server:2022` ? If update to 2022, do we have most recent open api document to refer.

I believe currently I am referring [openapi_modified_akana.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6452430/openapi_modified_aka

[2022-01-24 14:46] avaidyam commented on #481
@jeydude That's correct - the OpenAPI document should not have changed. Please make sure you're [subscribed to the consortium forum](https://mindlamp.discourse.group) for updates!

[2022-01-24 14:46] #481 closed

[2022-01-24 16:38] avaidyam commented on #453
@sarithapillai8 I'll mark this issue as complete now!

[2022-01-24 16:38] #453 closed

[2022-01-25 05:01] sarithapillai8 commented on #411
@avaidyam  @tlakhtak
Do you still have any issue with the back button press?

[2022-01-25 05:12] sarithapillai8 commented on #143
@avaidyam
Could you share the data format for converting the following?
_lamp.dashboard.activity_details
lamp.dashboard.survey_description
to.unityhealth.psychiatry.settings
lamp.name_

_lamp.dashboard.activity_details/ lamp.dashboard.survey_description - this one recently included streak customization data also. Also the activity icon and descriptions are part of these.
 -The other 2 tags are als

[2022-01-25 08:48] sarithapillai8 commented on #466
@tlakhtak Can we get the details of U4785505885 for checking the issue with portal page - "52 years ago"?

[2022-01-25 09:11] sarithapillai8 commented on #478
@lukeoftheshire @avaidyam
What should be the value of duration in each slice? (the time tapped the bubble - The time tapped last bubble ) or (the time tapped the bubble - bubble display time)?
Just to confirm - the slices for each bubble should be recorded whether or not interaction made, right?

[2022-01-25 13:49] avaidyam commented on #478
1. It should be the `time tapped - bubble display time` I believe. It will also need to record the duration between the start of the game and the current bubble appearing on screen as a different field.
2. Yes, the slices for each bubble must be recorded whether or not they are tapped.

For all activities, please keep in mind that **the ActivityEvent MUST be able to replay the entire game/survey/e

[2022-01-25 13:49] avaidyam commented on #466
@sarithapillai8 I believe that's what the provided credentials are for.

[2022-01-25 13:51] sarithapillai8 commented on #478
@avaidyam  can I start working on this? it is in on hold now.

[2022-01-25 13:51] avaidyam commented on #143
Let's put this issue on hold for now as we need to iron out the migration strategy first.

[2022-01-25 14:01] lukeoftheshire opened #482 "Add activity ids or specs to 'lamp.group' ActivityEvent"
Currently, 'lamp.group' (i.e. grouped activities) activityevents are stored in the database - but are not useful. Here's an example of a group that I happen to know contained a couple activities:

[code]

As you can see, this is not really useful as it doesn't tell us any info we can't glean from other activityevents - aside perhaps from the duration. If possible, can we add (probably to static_da

[2022-01-25 14:05] avaidyam commented on #482
To begin with, `lamp.group` was never supposed to produce ActivityEvents, so this is a bug. However, this proposal to make the bug actually useful as a feature is well received! I think the easiest way is to record `value` as Activity IDs, `type` as the ActivitySpec, and `duration` as amount of time spent in total.

A somewhat unrelated but useful proposal: what if streaks were converted to be ena

[2022-01-25 14:27] avaidyam commented on #411
@sarithapillai8 This issue looks resolved now, thanks!

[2022-01-25 14:27] #411 closed

[2022-01-25 14:44] Linoy339 commented on #467
@avaidyam. As participants do not have permission to access the activity_spec resource, the data(executable) cannot be retrieved for the particular participant.

i.e : `https://api-staging.lamp.digital/activity_spec/lamp.scratch_image` will give `"403.security-context-out-of-scope"` for participant.

Can we have change of adding `"me" `in [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob

[2022-01-25 16:23] avaidyam commented on #467
That's a good point and a security over-complication. We should be able to change that such that any logged-in user is able to see (but not edit/create) the ActivitySpecs.

There's no `me` option for the `_verify` function - only `self`, `sibling`, or `parent`. For example:

[code]

This uses the current `auth` from the request, saying "ensure that it is the Activity itself, a sibling Activity, or

[2022-01-25 19:01] lukeoftheshire opened #483 "Implement some sort of automatic survey scoring in LAMP"
Currently, LAMP surveys are not automatically (or indeed at all) scored. Instead, to score a survey, data must be extracted using the API and then scored in another location using Python, R or another analysis language.

This is a *large* timesink during data analysis - because a rather minimal amount of information is stored in each ActivityEvent, there is no one reliable way to score a survey. C

[2022-01-25 19:07] avaidyam commented on #483
See issue #266 - let's merge this feature idea into that.

[2022-01-25 19:07] #483 closed

[2022-01-26 07:19] Linoy339 commented on #467
@avaidyam . Thank you for this good explanation.
As the ActivitySpecs do not have owners, this becomes difficult to handle.
Can we have an idea of keeping the valid resource in `authType `array itself? i.e, authType in   `_verify `function would need to be
tweaked to accept resource `specs`(  [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/c1c9c09e7dde13e90fb0c42f642d08c12ca63107/src/s

[2022-01-26 12:14] avaidyam commented on #467
@Linoy339 I agree with your strategy for the most part, but instead of introducing a new `specs` authType, I think we should use this to handle these cases:

[code]

Right now this specific condition is only provided by `ActivitySpec` and `SensorSpec` get/list functions, so that should work.

_(Please note that we can't use `authType == ["self", "sibling", "parent"]` as part of the condition since

[2022-01-26 12:18] avaidyam opened #484 "Auto-updating "latest" tag for latest production release in CI/CD across all repos"
The `master` branch always points to the latest staging release. We need to add a CI/CD rule to create a new protected branch, `latest` that always points to the latest production release, whenever a new GitHub release is made and its CI/CD pipeline runs.

[2022-01-26 12:20] avaidyam opened #485 "Remove character limit on matrix survey option type (and switch to JSONSchemaForm)"
There is not supposed to be a character limit for any survey question types - and we should be using the JSON Schema Form system for the clinician user interface to create surveys.

[2022-01-26 12:22] avaidyam commented on #444
@sarithapillai8 It looks like there is still an error with the graphs:

Can you verify and fix this as well as part of this issue?

[2022-01-26 13:43] Linoy339 commented on #467
Thank you. Can you please check this:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/178](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/178)

[2022-01-26 13:46] avaidyam commented on #467
Looks good! Please do test it in Zco staging and Zco production (BIDMC staging) to double check though!

[2022-01-26 13:50] Linoy339 commented on #467
Yes. We will do that and let you know

[2022-01-26 16:52] tlakhtak opened #486 "Pop the bubbles: partial bubbles displayed at the edges of the screen"
Bubbles in the Pop the Bubbles game should fit within the boundaries of the screen, but bubbles are displaying at the edge of the screen and are partially cut off. The game does not seem to fit the expected resolution.
![IMG_2147](https://user-images.githubusercontent.com/82968538/151208983-760c1aab-39ee-45fc-bbf4-4de66468a3c7.PNG)

![IMG_2146](https://user-images.githubusercontent.com/82968538/15

[2022-01-26 17:18] tlakhtak commented on #466
Updates on this bug: This error is seen on both our server and LAC server, and the problem seems to go beyond just the visualization being one day off from the range. This is happening for all the plots on the DBT card, making it seems as thought the visualizations are not rendering until a day after they are entered. Here, you see that entries made on January 26th do not appear to be reflected as

[2022-01-26 17:22] tlakhtak opened #487 "Feature request: Add filter for responses from the last week for "Didn't use skills because" section"
Similar to how Optional Notes can be filtered by the week in which the response was entered, (as can other visualizations in the DBT) the "Didn't use skills because..." should also have a weekly filter. This is because the DBT card may be used everyday and having all data in the "Didn't use skills because" section populating the Portal page at once may look very cluttered and be difficult to read.

[2022-01-26 17:24] tlakhtak opened #488 "Feature request: weekly summary output of DBT as a PDF"
LAC would like users and clinicians to be able to view an exportable summary (ideally single-page) of diary card entries from the last week of use.

[2022-01-26 17:24] #488 closed

[2022-01-27 04:40] sarithapillai8 commented on #485
@avaidyam
Before starting with this change, just confirming that there will be design issues if we remove character limit for all the question types. It will be v=based on the input given by the user. For eg: if long texts are provided for slider, rating etc.

[2022-01-27 05:33] sarithapillai8 commented on #466
@avaidyam The given credentials not showing the data with '52 years ago'.
@tlakhtak We are working on this. We will update soon.

[2022-01-27 06:38] sarithapillai8 commented on #487
@avaidyam  FYI This is done as part of #444

[2022-01-27 07:10] sarithapillai8 commented on #444
@avaidyam This is fixed in dashboard-staging.

[2022-01-27 08:06] sarithapillai8 commented on #295
@avaidyam This is implemented with Audio element and it is expected to work with mp3/ogg/wav formats.
We have checked with this kind of URLs there:
https://www.kozco.com/tech/piano2.wav
https://www.kozco.com/tech/LRMonoPhase4.mp3

[2022-01-27 13:44] avaidyam commented on #487
@tlakhtak Can you check to see if the collaborator wants all the date fields to be synchronized? (i.e. changing the week for the graph also changes the notes section, etc.)?

[2022-01-27 13:45] avaidyam commented on #485
@sarithapillai8 Can you share where the character limit was requested? I don't recall us wanting to limit it, only that we wanted the text to wrap correctly to avoid spilling over the edge of the screen, and the page scrolling down more.

[2022-01-27 13:47] avaidyam commented on #295
Looking at the original request, it seems like the collaborator that submitted this has a misunderstanding:

We don't support YouTube URLs for audio in the Breathe activities. I'll close this issue - sorry for the confusion @sarithapillai8!

[2022-01-27 13:47] #295 closed

[2022-01-27 13:50] sarithapillai8 commented on #485
@avaidyam No I was not saying about the character limit. I was saying about jsonschema for survey activity which was put on hold. So please consider that as feature change, not bug.
I just noted the the design issues that may arise if we remove the character limit. With scrolling also it may not look nice, And normally we adds character limits to fields in a form. We can remove it, It can be consi

[2022-01-27 14:03] avaidyam commented on #485
I don't recall it being put on hold. [The initial changes for this were made back in March 2021.](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/94e74bcc72dc741bfb16138147fbb05f0d155f90#diff-bc5d2f8f270abce0ee7fb8d0d317ba6bfe41fca9709e3ab8b2eb883ae90e4ceb) It was clear that we wanted to move all activity configuration to entirely be JSON Schema Form-driven. Let's make this change

[2022-01-27 14:09] sarithapillai8 commented on #485
@avaidyam
I don't have have the task where we discussed to put that on hold. But it was put on hold as you said for other urgent tasks as the survey would take much time to convert. Anyways we can start with that change.

[2022-01-27 14:10] avaidyam commented on #485
Sure - I think the benefit of moving forward with this change outweighs the development cost (i.e. bugs/feature requests) in the long-term. Please go ahead with it! 👍

[2022-01-28 13:49] saranya-sajeev commented on #3
@avaidyam When we checked in Galaxy M31, we are receiving the callback. May be it depends on the manufactures.
 We will integrate low power mode event in the android app and the event will be sent if it available in the phone .

[2022-01-28 13:54] tlakhtak commented on #487
Our preference is for users to be able to change one filter that would persist across all the visualizations

Currently we only have the ability to switch the range on each single visualization. We would like to keep this and have the additional filter that generalizes across the whole diary card be added.

If we have to choose, one filter that would persist across all the visualizations on the di

[2022-01-31 02:11] sarithapillai8 commented on #487
@tlakhtak  @avaidyam
So is this like a general filter at the top of all visualizations and separate filter for each section? The section filter need to be  independent of general one? It seems confusing. Please clarify

[2022-01-31 02:12] sarithapillai8 commented on #138
@avaidyam This is still assigned to me. We are waiting for the translation files.

[2022-01-31 02:14] avaidyam commented on #138
We haven't received anything yet. When we do I'll reopen this issue.

[2022-01-31 02:14] #138 closed

[2022-01-31 02:33] sarithapillai8 commented on #482
@avaidyam
Just for you know - The ActivityEvent for lamp.group was produced to manage that in feed. Once attended, we have to disable that activity from feed. That was the intension for that. And the same used for streak. And it was requested to add event for all the activities attended, nothing specifically said about the group.
Also the activity ids in a group activity can get with the the group

[2022-01-31 06:05] divyav2020 commented on #466
We are unable to reproduce this issue. Could please check whether the issue still shows in dashboard- staging?
To check this specific issue could you please provide the participant credentials ?

[2022-01-31 13:25] michaelmenon commented on #417
it will be pushed to staging by this week. Have changed it to feature as it as a change form the initial given requirement.

[2022-01-31 14:06] avaidyam commented on #476
@saranya-sajeev Can you confirm that these two steps have been finished?

- [ ] Please immediately ensure you are using [`StrictMode`](https://developer.android.com/reference/android/os/StrictMode.html) to convert all ANRs to crashes to produce stack traces that can be debugged.
[code]
- [ ] Please immediately [add this library `WhatTheStack` to the Android app](https://github.com/haroldadmin/What

[2022-01-31 14:07] avaidyam commented on #3
@saranya-sajeev Can you confirm the data is being [posted in the same way that @jijopulikkottil has implemented?](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/3#issuecomment-912683563)

[2022-01-31 14:17] saranya-sajeev commented on #476
@avaidyam could you chekc this post. https://stackoverflow.com/questions/53195068/crashlytics-with-strictmode-enabled-detect-all-gives-untagged-socket-detected

[2022-01-31 14:19] avaidyam commented on #323
@Linoy339 From our discussion this morning - please update the initialization of NATS and Redis to be failsafe ("fail gracefully") so it does not crash the API Server if NATS/Redis are not found.

[2022-01-31 14:20] Linoy339 commented on #467
@avaidyam . This is tested and found working.

[2022-01-31 14:22] sarithapillai8 commented on #461
@avaidyam
This is updated in dashboard-staging. QA completed.

[2022-01-31 14:23] sarithapillai8 commented on #480
@avaidyam
This is fixed in dashboard-staging. QA done.

[2022-01-31 14:23] #480 closed

[2022-01-31 14:24] #461 closed

[2022-01-31 14:38] avaidyam commented on #482
Was this new implementation ever mentioned in a GitHub issue? (We can't implement something and not document it.) Either way, this makes sense and is fine.

I'm not sure what you mean by this? Do you mean that there was no info around `lamp.group` `ActivityEvent`s?

Yes, this makes sense, but why would the actual attended activity IDs be different than what was required for the group?

👍 Can you m

[2022-01-31 14:38] saranya-sajeev commented on #476
@avaidyam We can set tags for our api calls. but for internal crashlytics calls it is not possible. We shall investigate on this.

[2022-01-31 14:39] saranya-sajeev commented on #3
@avaidyam sure.

[2022-01-31 19:38] tlakhtak commented on #487
This reading is correct. So, a general filter which, if changed will apply to all visualizations. Then, a section filter can be used to change the range of individual visualization, preserving the general filter for the rest. But, if the general filter is changed again then it should override any section filters.

[2022-02-01 00:56] jeydude opened #489 "Not able to disable sensor event cache or force it to flush to database periodically"
Hi,

Recently I updated my lamp api server on my test server to refer

[code]

from
[code]

after the image updated to 2022, I am not getting any sensor data to LAMP API Server. I could see my activity data, no issues.

Closed the iPhone app and reopened the iPhone few time still having issues to send sensor data to LAMP API server.

Here is the list of sensors and its settings applied now:
[code]

[2022-02-01 00:57] avaidyam commented on #489
@jeydude Can you share your whole `docker-compose.yml` file? It's likely that NATS and Redis are not properly configured.

[2022-02-01 00:59] jeydude commented on #489
here is the lamp stack yml file

[code]

[2022-02-01 01:06] avaidyam commented on #489
@jeydude Could you also share system logs from the `server`?

[2022-02-01 01:15] jeydude commented on #489
Initial log file after i changed to 2022, I will send the another log file in another 10 minutes
[_lamp_server.1.t2p9d6ih14azixkkgk29e6qdj_logs.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7975237/_lamp_server.1.t2p9d6ih14azixkkgk29e6qdj_logs.txt)

[2022-02-01 01:16] avaidyam commented on #489
@jeydude Are you suggesting the data is not in the database after 10 minutes? If that's the case - the reason this behavior occurs is the server actually caches sensor data before writing to the database in bulk. You may need to wait longer or collect more sensor data first.

[2022-02-01 01:21] jeydude commented on #489
@avaidyam, no I am not suggesting data is not in the database, as you know, iPhone sends data every 10 minutes to the LAMP API server, so I have to wait for 10 minutes to see if there is any POST log, that's all.

I had the iPhone app up and running during in foreground during this test:
[_lamp_server.1.t2p9d6ih14azixkkgk29e6qdj_logs (2).txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform

[2022-02-01 01:24] avaidyam commented on #489
Can you check in Redis to see if the data is being cached? It won't show up in the database until the cache is full and is flushed from Redis to the database.

[2022-02-01 01:25] jeydude commented on #489
How do I check that. Sorry I am very bad with Redis

[2022-02-01 01:26] avaidyam commented on #489
[Try this.](https://stackoverflow.com/questions/14844672/how-do-i-view-my-redis-database-current-size) You should be able to see increasing memory usage until the data is flushed, then the memory usage should drop.

[2022-02-01 01:35] jeydude commented on #489
bash-4.4$ redis-cli info memory
bash: redis-cli: command not found
bash-4.4$ which redis-cli
which: no redis-cli in (/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin)

[2022-02-01 01:44] jeydude commented on #489
Uploading log file from lamp_cache

[_lamp_cache.1.j8to4gcqhyywq8n9k3sj00ieb_logs.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7975323/_lamp_cache.1.j8to4gcqhyywq8n9k3sj00ieb_logs.txt)

[2022-02-01 01:47] jeydude commented on #489
memory and cache seems to be same level
![image](https://user-images.githubusercontent.com/841011/151901319-85ff0a95-2e48-4ce1-bfdd-6f19afd65796.png)

[2022-02-01 01:57] jeydude commented on #489
I will check with unix admin for redis command to check the memory, if there is anything you need let me know, for now I am going to put it back to 2021 image.

[2022-02-01 02:15] jeydude commented on #489
After switching back to 2021 image, sensor data is coming fine to couchdb, no issues.

Initial log file of 2021 image
[_lamp_server.1.7oifpvvyx88itwst0lrhaomqx_logs (1).txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7975414/_lamp_server.1.7oifpvvyx88itwst0lrhaomqx_logs.1.txt)
![image](https://user-images.githubusercontent.com/841011/151903594-aa476a27-8c04-485c-bf17-9b0b8d77dfb

[2022-02-01 02:34] sarithapillai8 commented on #466
@tlakhtak The credentials are not working. Could you recheck? let me know the server address used.

[2022-02-01 02:50] sarithapillai8 commented on #482
Nothing specifically mentioned about group activity before for the ActivityEvent. And meanwhile we were asked to add ActivityEvent for all the type of activities. Initially were not having events for tips, breathe etc.
_but why would the actual attended activity IDs be different than what was required for the group?_ - The user can still skip some activities using back button for any activity insi

[2022-02-01 11:21] Linoy339 commented on #417
@avaidyam . As we discussed, we will push our code by tomorrow. Before, can you add env variable `TIMEZONE` and keep the value as  'America/New_York'. The purpose of this variable is to take it as default value, if not participant timezone is found.

[2022-02-01 11:29] Linoy339 commented on #323
@avaidyam. Its done in such a way that the api server won't crash  even when  the NATS/Redis are not found.

[2022-02-01 13:29] tlakhtak commented on #466
We are using the api-staging server for this.

[2022-02-01 13:42] sarithapillai8 commented on #466
@tlakhtak
We are not able to login with these details. Could you recheck?

[2022-02-01 13:49] tlakhtak commented on #466
Apologies - can you retry with U4319433467@lamp.com, pass: U4319433467, domain: api-staging.lamp.digital

[2022-02-01 13:52] avaidyam commented on #417
Sure, we'll make sure this env var is added to both staging and production stacks for server and worker. //cc @lukeoftheshire

@Linoy339 Just to confirm, however, if this variable is not defined, do the server and worker components use UTC time?

[2022-02-01 13:54] avaidyam commented on #489
@jeydude No, and there shouldn't be any difference as the 2022 server release doesn't actually change code for sensor data collection at all.

[2022-02-01 13:59] avaidyam commented on #482
Sure, because `lamp.group` was never meant to be an actual ActivitySpec, though it became one somehow - for the better it seems.

I see what you mean now - that makes sense, thanks for the explanation. When the back button is pressed, does it end the whole group or does it continue to the next activity?

I realize Breathe and Tip are different in interaction style so we're making an exception for

[2022-02-01 14:17] sarithapillai8 commented on #466
@tlakhtak This seems fixed.
![image](https://user-images.githubusercontent.com/63710347/151984407-2c189a81-22a9-417f-a280-9a9ea66788c9.png)
@avaidyam This is already fixed with #444 in dashboard-staging. If possible can you move this to production with other changes?

[2022-02-01 14:21] avaidyam commented on #466
@sarithapillai8 I can mark this issue closed if @tlakhtak confirms that it's resolved for her.

[2022-02-01 14:25] sarithapillai8 commented on #466
@avaidyam I believe @tlakhtak is checking production where the fixes are not updated.

[2022-02-01 14:30] lukeoftheshire commented on #417
@avaidyam @Linoy339

I have added the TIMEZONE env variable with the specified value to all 4 services.

[2022-02-01 15:05] tlakhtak opened #490 "App requiring log-in every time"
User U1456972679 (email: U1456972679@lamp.com, pass: U1456972679) has to re-log in to the app everytime they open it to respond to notifications, as opposed to being persistently logged in as they should be. This issue has been happening since Jan 27, which is when the account was made, and continues today, Feb 1. The device being used is an iPhone XR.

[2022-02-01 15:23] sarithapillai8 commented on #482
_When the back button is pressed, does it end the whole group or does it continue to the next activity?_
Yes it continue to the next activity.
_I realize Breathe and Tip are different in interaction style so we're making an exception for these, but maybe we should consider instead removing this hard-coded exception. We should instead, send a signal "onCancel" or something to the iframe activity, a

[2022-02-01 15:47] avaidyam commented on #489
There should not be any OpenAPI change. We'll get back to you on next steps for resolving this issue shortly!

[2022-02-01 15:48] jeydude commented on #489
Thanks a lot for your support!

[2022-02-01 15:49] avaidyam commented on #490
Duplicate/variant of #323. @tlakhtak Can you share this info in that issue as well?

[2022-02-01 15:49] #490 closed

[2022-02-01 15:50] avaidyam commented on #417
Great, thanks!

[2022-02-01 15:52] avaidyam commented on #482
@sarithapillai8 Can you share the workflow of how the event is returned (with or without data) when the back button is pressed?

_P.S. I've edited your comment to properly quote my prior comment - please use that syntax for quoting replies! Thanks._

[2022-02-01 15:57] tlakhtak commented on #323
Another user experienced the log out issue. User U1456972679 (email: U1456972679@lamp.com, pass: U1456972679) has to re-log in to the app everytime they open it to respond to notifications, as opposed to being persistently logged in as they should be. This issue has been happening since Jan 27, which is when the account was made, and continues today, Feb 1. The device being used is an iPhone XR.

[2022-02-01 16:43] sarithapillai8 commented on #482
@avaidyam
On backpress , we are sending null to parent window through message event. **parent.postMessage(null, "*")**. So this will skip the event generation.

[2022-02-01 22:29] jeydude commented on #489
Here is the output of the Redis memory

bash-4.4$ docker exec lamp_cache.1.j8to4gcqhyywq8n9k3sj00ieb redis-cli info memory
# Memory
used_memory:1243760
used_memory_human:1.19M
used_memory_rss:6332416
used_memory_rss_human:6.04M
used_memory_peak:2614488
used_memory_peak_human:2.49M
used_memory_peak_perc:47.57%
used_memory_overhead:1052722
used_memory_startup:802984
used_memory_dataset:191038
used_m

[2022-02-02 06:59] Linoy339 commented on #490
@tlakhtak
Just to confirm: Is it happening every time when tapping  notification?

[2022-02-02 10:39] saranya-sajeev commented on #3
@avaidyam low power mode data is posted in the same way as in ios. Sample data post from Android is as below.

"data": {
        "device_type": "Android",
        "value": 1,
        "user_agent": "NativeCore 2021.10.25;samsung;SM-M215F",
        "action": "lowpowermode"
      },
      "sensor": "lamp.analytics",
      "timestamp": 1643630153968
    }

[2022-02-02 10:57] saranya-sajeev commented on #476
@avaidyam When we checked the app after enabling strict mode, three violations found. Two of them are occurred with Firebase crashlytics apis and the log for third one doesn't contain any app related info. So either we have to avoid those violations when enabling strict mode or we have to disable strict mode in production build.

[2022-02-02 11:33] avaidyam commented on #3
Is this now in beta for QA testing?

[2022-02-02 11:35] avaidyam commented on #476
Let's disable Crashlytics for now. We should be able to receive the same info directly from the Google Play Console and screenshots that patients provide us now.

[2022-02-02 11:37] saranya-sajeev commented on #3
No we will push it today.

[2022-02-02 11:38] saranya-sajeev commented on #476
Ok we will disable the Crashlytics.

[2022-02-02 12:03] sarithapillai8 commented on #417
@avaidyam We were planning  to update this update on dashboard-staging today. Can we go with it? We need to do QA on dashboard-staging. Hopefully QA can be completed by Monday. In between if any release is planned, could you please let us know?

[2022-02-02 12:03] avaidyam commented on #417
Yes, that's fine - thanks for the heads up!

[2022-02-02 12:34] saranya-sajeev commented on #476
As we are using Firebase for push notification even after disabling the crashlytics  app throws UntaggedSocketViolation for firebase.

[2022-02-02 12:39] avaidyam commented on #476
@saranya-sajeev Can you share the offending code? [This issue should only affect RemoteConfig which we shouldn't be using, and was fixed as of November 2020 according to Firebase release notes.](https://firebase.google.com/support/release-notes/android?hl=it#remote-config_v19-0-3)

[2022-02-02 12:44] saranya-sajeev commented on #476
@avaidyam this is log
 StrictMode policy violation: android.os.strictmode.UntaggedSocketViolation: Untagged socket detected; use TrafficStats.setThreadSocketTag() to track all network usage
        at android.os.StrictMode.onUntaggedSocket(StrictMode.java:2182)
        at com.android.server.NetworkManagementSocketTagger.tag(NetworkManagementSocketTagger.java:82)
        at libcore.io.BlockGuardOs.

[2022-02-02 12:46] avaidyam commented on #476
Can you ensure all libraries being used by the codebase are up to date (in `build.gradle`).

[2022-02-02 12:54] avaidyam commented on #476
Another question - as I'm looking in the `LAMP-core-android` repo, the wearable app seems to be entirely missing? Where is the source code for the wearable app located now?

[2022-02-02 13:04] saranya-sajeev commented on #476
Firebase library was little bit older after updating it is working fine. Usually build.gradle file will show the warning if the dependency is not latest. but it is not shown for firebase.

[2022-02-02 15:26] tlakhtak commented on #490
If the user clicks on a notification it stays logged in. If the user goes to the app directly it makes them log in.

[2022-02-02 16:57] Linoy339 commented on #490
Thanks @tlakhtak

[2022-02-02 18:33] tlakhtak opened #491 "Dashboard slow downs for specific research study"
We are experiencing slow downs in the study TECC Lite (Erica), ID 'yhe0wtfn6n6sbvsan0js'. This was observed on Chrome using Macbook Air, for admin user, and persisted across log ins from other devices of the same kind and on the same browser.

[2022-02-02 19:16] lukeoftheshire opened #492 "Add "generate_ids" function to LAMP API"
As a small part of the creation of LAMP-Cortex, a relatively simple `generate_ids` function was created that allows a user to enter a single (or array of) Researcher, Study, or Participant id(s) and get an array of all associated participant IDs. It turns out that this functionality is pretty useful in most analyses (and it is also implemented in JS in the LAMP data portal/studio) as it is very co

[2022-02-03 09:42] saranya-sajeev commented on #476
It is available in in watch interation brach of LAMP-core-android repo: https://github.com/BIDMCDigitalPsychiatry/LAMP-core-android/tree/watch_integration

[2022-02-03 09:43] saranya-sajeev commented on #476
@avaidyam We have pushed the app to beta and it is live now.

[2022-02-03 09:43] saranya-sajeev commented on #3
@avaidyam Low power mode integration pushed to beta.

[2022-02-03 11:29] sarithapillai8 commented on #386
![image](https://user-images.githubusercontent.com/63710347/152334406-79840fa8-7b27-4369-beac-ce3ed88f75b0.png)
This is the screen for new goal. Could you please provide how this should be considered for ActivityEvent ?
![image](https://user-images.githubusercontent.com/63710347/152334441-8809041e-53ae-4d42-9739-f5df2aa355b3.png)
Similarly for medications.

[2022-02-03 12:48] avaidyam commented on #476
Can you please integrate this out of date branch into the master branch? The master branch should have both the wearable app and smartphone app code side by side.

[2022-02-03 12:49] avaidyam commented on #386
This page should be scrapped. The configuration for medications and goals is the same JSON Schema Form setup as is present for Surveys or Tips. These pages do not produce ActivityEvents.

[2022-02-03 13:51] tlakhtak opened #493 "Individual survey response view in Portal not displaying on mobile and Chrome"
For user U7465003834 in study '4aq1kry81ktrb5v1smvs', the Switch view button does not render a visualization of individual survey questions and responses. Button can be 'clicked' but no change from the default view of a line plot showing summary of total scores over time. The first two image below shows what can be displayed

![Image from iOS](https://user-images.githubusercontent.com/82968538/152

[2022-02-03 16:03] liningpan opened #494 "Unable to set password requirement rules"
**Describe the bug**
I’m trying to set password requirement rules, based on the instructions in issue #451 [and the API playground.](https://docs.lamp.digital/api/set-a-tag-for-a-researcher-study-participant-activity-or-sensor-or-its-childen/)

**To Reproduce**
When I used this curl command to set the password requirement,
[code]

the response I got was always
[code]

When I tried to get the tag,

[2022-02-03 16:11] avaidyam commented on #489
@jeydude Do you know specifically which version of the `LAMP-server` you're using? Normally the `2021` label is an alias for something like `2021.3.14` or `2021.10.11` or so.

[2022-02-03 16:17] jeydude commented on #489
Looks like it was created 9 months ago - https://hub.docker.com/r/bidmcdigitalpsychiatry/lamp-server/tags

![image](https://user-images.githubusercontent.com/841011/152382758-dd36543d-d091-4c43-a29d-3232bcc2597f.png)

[2022-02-03 16:18] avaidyam commented on #489
That seems to be an incredibly out of date version of the server. Let me investigate what could have changed. Just to confirm - are you also using the `LAMP-worker` component?

[2022-02-03 16:20] jeydude commented on #489
No, we are not using LAMP-worker component. I have following containers LAMP Server, LAMP database (couchdb), LAMP Cache (Redis) LAMP message (Nats) deployed in our box.

[2022-02-03 16:24] avaidyam commented on #489
Understood -- for now, please keep using that version of the server. I'll work with our team to identify the issue and update documentation. I'll keep you posted here!

[2022-02-03 16:24] jeydude commented on #489
Thanks a lot!

[2022-02-03 16:39] lukeoftheshire opened #495 "Current Issues to resolve with the LAMP Dashboard"
Currently, a number of things about the LAMP Dashboard code are unsatisfactory or do not live up to desired standards.  In general, these fall into one of three categories:
1. Code that needs to be cleaned up - e.g. excessive use of MaterialUI styles instead of themes.
2. Code that needs to be actively modified - queries that rely on hardcoded names or tags, or on specific information about activi

[2022-02-03 16:46] lukeoftheshire commented on #495
In addition, this report regarding the LAMP codebase may be helpful. While some of the issues raised have been resolved or are outdated, there are many that have yet to be resolved. Many of the issues appear in the paragraphs above, some do not.

[lamp_code_review_too_much_coffee.pdf](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7996515/Code.20Review.20for.20LAMP.20Platform.20for.

[2022-02-03 16:54] avaidyam commented on #442
Currently, the `matrix` question UI offers a list-builder with:
1. `Enable multiple option selections`
    - This is presumably to switch the matrix questions from `list` to `multiselect`.
    - **We're reimplementing the wheel here.**
1. Questions
    - This section is obviously to add the nested questions.
    - **It doesn't currently support question descriptions, which means we're now deviatin

[2022-02-03 17:07] avaidyam commented on #442
@sarithapillai8 Can you review the above comment **in extreme depth** and let me know if you have any questions about the implementation strategy? //cc @lukeoftheshire

[2022-02-03 18:37] lukeoftheshire commented on #433
In addition to this, it would be nice to have a parameter such as "get_deleted" for things like LAMP.Activity API calls that fetches deleted activities - as the ActivityEvents persist even if an Activity is deleted, this would be helpful for analyses.

Currently, the only way I am aware of to do either of the things described in this issue is to manually interact with the database which is probabl

[2022-02-03 18:48] lukeoftheshire opened #496 "LAMP.Activity API - selectable keys"
Currently, there are no options (or they are undocumented) that control what data is returned from a (for example) LAMP.Activity.all_by_participant call - the entire database object is returned, including the full activity specs. This is inefficient and returns unneeded data.

For example, during analyses or viewing activities in a dashboard all that might be needed is the activity name and alphan

[2022-02-03 18:54] lukeoftheshire opened #497 "Improved filtering for LAMP Activity and ActivityEvent"
Currently, there is no way (or it is not documented)  to filter LAMP Activities or ActivityEvents by spec type as there is with SensorEvents. For example, see https://docs.lamp.digital/data_science/python#querying-sensor-data - sensor data of a specific type can be queried with the origin parameter.

However, this is NOT possible for LAMP activities - one cannot query all survey data or any other

[2022-02-03 19:05] lukeoftheshire opened #498 "More clear tag hierarchy"
The LAMP Tag system is an extremely useful way to store persistent data on things like users or studies. However, the underlying hierarchy that governs tags could use some more documentation, and may lead to unexpected behavior.

While Tags can be set on anything in LAMP, the *setter* is actually very important - a tag set with the "authority" of a Study, overrides the tag set by a User, and so on

[2022-02-03 19:29] lukeoftheshire commented on #266
I think adding scoring, not only for surveys, but activities, in general to LAMP would greatly increase both user and researcher QOL.

My "dream" implementation for survey scoring would be something like:
1. Each question is assigned a unique id by the survey creator - e.g. 'phq9-1'. This doesn't have to be shown to a user, but it should be unique for each question. This would have the side effect

[2022-02-03 19:43] lukeoftheshire commented on #265
- Specific question ids that give us a way to match without exact string matching is critical, e.g. 'phq9-1'.

- This may be covered by 1, but if we ever want to have multiple questions on a page, the ability to adjust visibility based on the responses to other questions (e.g. don't show question 4 if the participant said yes to 2)

- The abililty to pipe in responses from other questions (possibl

[2022-02-03 20:08] avaidyam commented on #266
Minor note about this point - this technically exists today. It's called the index of the temporal slice (which should be guaranteed to match the index of the question in the Activity settings array). Maybe we should iron out a plan for maintaining consistency there (i.e. version editing of Activities?) instead of complicating survey questions with more new IDs.

_(Also, this whole mechanism that

[2022-02-04 05:09] sarithapillai8 commented on #386
@avaidyam Could you please provide more details?

[2022-02-04 06:45] sarithapillai8 commented on #442
@avaidyam
Please see my understanding. Correct me if anything listed wrong.

1. Start matrix question when a question is created with question type **_list/multiselect/text_** and following questions are with question type _**matrix**_ (_no configuration except 'optional' will be available for matrix question. So it will look similar to text type_).
2.  The question title, description can be consi

[2022-02-04 14:59] tlakhtak opened #499 "Dashboard incorrect credentials error and loading error"
We've been having trouble logging into the dashboard for the past few days as researcher. It shows invalid login credentials even though the credentials are entered correctly. This only seems to be happening on Mac Big Sur and Windows 11. It's logging in fine with Windows 10. Server: api.mindlamp-nimhans.com.

Also, we need to refresh the dashboard multiple times to see the last time the users hav

[2022-02-04 18:11] avaidyam commented on #386
Correct - there was a misunderstanding very early on with the implementation of this feature.

This screen is supposed to be clinician-facing for configuring the medications/goals, just like surveys/tips/etc. This is not a patient-facing screen.

The patient-facing side is the one that allows them to mark off the medication as taken or goal as completed.

| Create/edit - clinician-facing | View/co

[2022-02-04 18:30] avaidyam opened #500 "Activity Group (lamp.group) list view"
This issue is a proposal to unify different activity paradigms using the existing special Group activity type (`lamp.group`).

---

## Explanation of Current Behavior

| | |
|-|-|
| ![image](https://user-images.githubusercontent.com/1361003/152581157-a0f3e381-d4fa-4c77-907a-61c658ccc4dd.png) | ![image](https://user-images.githubusercontent.com/1361003/152581362-cf7065e1-3e09-4553-8b0e-1d0d506f8aee

[2022-02-04 18:34] avaidyam commented on #499
It seems like this actually isn't an issue with LAMP, but rather the server infrastructure itself for `api.mindlamp-nimhans.com`. [This might be related to the forum post @lukeoftheshire authored about the issue](https://mindlamp.discourse.group/t/traefik-letsencryp-ssl-certificate-revocation-jan-2022/522/1), if the collaborator is using `Traefik` and `LetsEncrypt` (which we can confirm in the SSL

[2022-02-04 18:35] #499 closed

[2022-02-04 19:35] avaidyam commented on #442
🚫 The starting question type can be **anything** (slider, rating, short answer, etc. too) **INCLUDING** `matrix`. If the first question in the survey is of type `matrix`, that's an illogical edge-case, so treat it as if that first question was actually `text` instead.

✅

✅ _(By "look similar" I assume you mean the editor/configuration side, which is correct. If not, please comment what you mean.)

[2022-02-04 19:47] avaidyam commented on #451
@sarithapillai8 Can you share how these rules were set? Preferably share the terminal cURL command or Python code.

[2022-02-04 19:58] lukeoftheshire commented on #451
@avaidyam Per our slack discussion, here's how things worked around 25 days ago:

Target * does not appear to work, btw
[code]
does appear to work however.
1. I could log into the staging api with our OLD staging password, which though complex, does not meet these requirements
2. Could not create a "dumb" credential on dashboard-staging. Created one successfully on dashboard regular
3. I could not

[2022-02-04 20:06] avaidyam commented on #494
@liningpan [From new discussion](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/451#issuecomment-1030306278) in #451, it looks like you may need to change the `*` to `me` and test if that works.

[2022-02-04 20:20] liningpan commented on #494
@avaidyam Thanks! Changing it to `me` worked!

[2022-02-04 20:20] #494 closed

[2022-02-04 20:21] avaidyam commented on #494
Fantastic, thanks for the update!

[2022-02-04 20:23] avaidyam commented on #450
More updates to this `on hold` issue:
- The implementation of #451 led to a little confusion in #494.
    - The `target = *` functionality is currently short-circuited by `origin = null && target = me` on the server-side.
- Better `Tag.list()` functionality now has its own issue and discussion at #498.

[2022-02-04 20:35] avaidyam commented on #496
I suppose you mean binary data (i.e. MP3 or PNG files for Breathe/Tips activities) and not `full activity specs` as a full `ActivitySpec` should **NEVER** be returned from an `Activity` method call.

There's very limited functionality currently for an `ignore_binary` flag, [suggested here](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/115#issuecomment-791453691) in #115, [document

[2022-02-04 20:37] avaidyam commented on #417
Sharing a status update on this issue below:

[2022-02-04 21:01] avaidyam commented on #433
This is covered in the feature request #263 (`Potentially, implement an undelete or a restoreVersion operation...`).

As proposed in #263, it would be possible to query the system audit log for deleted entries instead of directly interacting with the database (which is, as you correctly point out, **highly discouraged**).

Let's move this discussion to #263 - and please do suggest there a potentia

[2022-02-04 21:01] #433 closed

[2022-02-04 21:30] avaidyam commented on #485
It looks like the original issue that we placed `on hold` is #204. I'll close that issue since discussion has moved here.

[2022-02-04 21:31] avaidyam commented on #204
Closed since this issue is being implemented in #485.

[2022-02-04 21:31] #204 closed

[2022-02-04 21:58] avaidyam commented on #209
A similar feature, a `time` picker question type was implemented in #404 (that also additionally supports AM/PM or 24-hour time configuration).

---

Instead of reimplementing the wheel each time (i.e. time picker, now a date picker, then in the future an email-formatted field, etc.), a better solution is to ensure survey question [types reach parity with all HTML `<input>` element types.](https:/

[2022-02-07 05:45] sarithapillai8 commented on #442
Yes I meant that.

Got it

I thought it is like the default options like - ["Nearly All the Time", "More than half the time", "Several time", "Not at all].  So if the first question is of type text/short/time, show the following matrix questions like text questions in grid, or just ignore matrix type and show them as normal text type questions?

Got it.

So first question description will be the s

[2022-02-07 14:11] saranya-sajeev commented on #476
Ok I will integrate.

[2022-02-07 14:24] avaidyam opened #501 "Firebase stability issue alert for Android app"
Firebase provided this information about a trending stability issue currently affecting apparently just one user.
[code]

According to @michaelmenon this is already resolved, but I'm posting the issue here anyway for confirmation and posterity.

[2022-02-07 14:24] ZCOEngineer commented on #466
@avaidyam, @tlakhtak could you check this?

[2022-02-07 14:35] tlakhtak commented on #466
Apologies - timezone is in Eastern Standard Time, and we are also observing this in Pacific Standard Time.

[2022-02-07 14:39] avaidyam commented on #442
You should show them as text/short/time questions in a grid layout. 👍

_(It might look weird and not optimized for a mobile layout, but that is what some collaborators seem to want, so my team will share screenshots of good and bad examples on a phone screen layout to explain that it's not helpful. This should also simplify the code for matrix section layouts.)_

Exactly. 👍

Got it, please use `Re

[2022-02-08 11:56] sarithapillai8 commented on #386
Please correct me if I am wrong:

- So  with medications, it will be like add medicine name activity title, dosage in settings. With activity schedule option we can schedule and it will come in feed section. As we do with tips, this will also show in any tab, and user can submit it like 'Mark complete'.
- Similarly, Goals can be created as activities, like medications.

I am changing this to featu

[2022-02-08 13:46] tlakhtak commented on #323
U3826134542 also experienced the auto-log out issue as per the comment above (email: U3826134542@lamp.com, password: U3826134542)

[2022-02-08 15:23] dcurrey88 opened #502 "Mindfulness audio loops"
**Describe the bug**
If the mindfulness audio does not match with the end of the lotus flower gif, then it will start playing again from the beginning until the flower gif finishes.

**To Reproduce**
This behavior can be seen in user U7465003834, in the "Morning 1-Minute Mindfulness activity." The audio starts playing again in the last second or so of the activity.

**Expected behavior**
The audio

[2022-02-08 15:31] lukeoftheshire opened #503 "Unify how lamp.steps stores data across device types."
The `lamp.steps` sensor implementation is not consistent across device types.

Example Android data:
[code]

Example iOS data:
[code]

In my opinion there are (at least) two problems demonstrated here:

1. What is stored as sensor data should not differ across devices as this will complicate pipelines that analyze step data, like LAMP-cortex.
2. One sensor should have a single format of data - mor

[2022-02-08 15:47] lukeoftheshire commented on #266
Yes - this mechanism I'm proposing is specific to surveys, which I think may need to be more flexible than other cognitive games. There really aren't that many ways to score, for example, a Balloon Risk Task (how many points did you get?, e.g.). Surveys can require more complex methods. That being said, if every activity has a high level of scoring flexibility available that's fine too - it should

[2022-02-08 16:34] lukeoftheshire opened #504 "Push reminder to participants via the dashboard"
It would be nice to be able to use the LAMP dashboard as a way to push reminders to, say, complete activities or read tips to participants.

[2022-02-08 16:38] avaidyam commented on #503
[Another very relevant concern is that the Android telephony sensor doesn't seem to be working at all.](https://mindlamp.discourse.group/t/no-text-call-sensor-data-for-androids/532) This issue also isn't a `feature`, but rather a `bug`, as all sensor data formats between iOS and Android *must* be unified.

[2022-02-08 16:52] avaidyam commented on #323
This is great feedback - it sounds exactly like what I predicted, and more of a `frontend` issue than a `backend` or `native core` issue. For now, @jijopulikkottil and @Linoy339 please continue to investigate the login flow on those sides.

@sarithapillai8 I'll update this issue to reflect that it's likely a frontend issue so please investigate why the login screen shows up at first even if the us

[2022-02-08 16:55] avaidyam commented on #502
The solution might be to convert the lotus animation from a static video (it's not a gif, it's a 15MB file that needs to be downloaded, which is its own problem) to a dynamic CSS-based animation that wraps to the audio file's length or the specified duration of the breathe activity. See #271.

[2022-02-08 16:56] avaidyam commented on #271
It looks like in addition to consuming bandwidth and appearing low quality, the fixed nature of the animation is causing some audio overlap issues. See #502.

[2022-02-08 17:07] avaidyam commented on #504
In addition to pushing generic follow-ups:
1. We currently have no API-native way to send notifications to patients at all.
    1. Right now, to send notifications to patients, we need to use the `device_token` provided from a `lamp.analytics` `SensorEvent` locate the App Gateway and a separate API Key and send an HTTP/JSON request using a separate script.
    2. An always-resolved and easy to acc

[2022-02-08 17:10] avaidyam commented on #503
@jijopulikkottil @saranya-sajeev Can you share more details on why the data format is different between Android and iOS at the moment? //cc @ZCOEngineer

[2022-02-08 17:15] avaidyam commented on #266
✅

I think this is the main concern we need to be addressing. It's come up in the past as well for numerous other reasons.

Issue #385 covers randomization - but we can discuss the implementation of that feature over there. Issue #265 covers question branching, but as explained in that issue, it may be wise to separate that version of surveys out as `lamp.advanced_survey`, so we can redesign the i

[2022-02-08 17:42] avaidyam opened #505 "Unified nestable Researcher and Study API surface"
Currently, the `Researcher`-level of the API serves little to no purpose except as a folder-like wrapper around multiple `Studies`. This proposal seeks to:
1. Unify the `Researcher` and `Study` API surface into one.
    1. All methods that work with `Study` (such as `Study.list_activities` or `Study.create_activity`, etc.) will work with `Researcher` IDs.
    1. All methods that work with `Researc

[2022-02-08 20:06] dcurrey88 commented on #503
It also seems that some Androids are not collecting step data. Of the 23 participants with Androids in one of our studies run this past December (researcher id: 4aq1kry81ktrb5v1smvs) only 2 of them have collected any lamp.steps data. All of the iOS devices in the study collected step data.

[2022-02-08 20:12] lukeoftheshire commented on #503
Also, not every event has a 'source' key/value pair, so it's unclear what its presence signifies.

[2022-02-08 20:12] avaidyam commented on #503
@dcurrey88 Can you check their latest `lamp.analytics` events to see what the `user_agent` strings are? It should also have the `NativeCore` version info in that - which we can use to check which app version the 2 participants with working step count data are using.

@saranya-sajeev @ZCOEngineer @michaelmenon This issue is now being marked urgent.

[2022-02-08 20:30] dcurrey88 commented on #503
Here are the `user_agent` strings for the two users with some step data:
- 7888514,Google,Pixel 4a
- G960USQS9FUG2,samsung,SM-G960U

Here are the other `user_agent` strings:
- 729b7f,motorola,moto g(7) power
- d00bb5,motorola,moto g(7)
- 7807550,Google,Pixel 4a (5G)
- G988U1UES2DUJ7,samsung,SM-G988U1
- G970U1UEU6GUJ3,samsung,SM-G970U1
- G991USQU4BUKF,samsung,SM-G991U
- 5ddbb4,motorola,moto g stylu

[2022-02-08 20:38] lukeoftheshire opened #506 "LAMP Analytics logs time spent on page even by researcher"
The `lamp.analytics` sensor logs time spent on page even when a participant is being accessed by admin, or presumably researcher, which it probably should not.

For example, see these events, all logged while I accessed a sample participant's page from browser with Admin credentials:
[code]

If these events are also logged when an Admin user is viewing the page, these events become less useful for

[2022-02-08 20:45] avaidyam commented on #503
@dcurrey88 Do the analytics events have any other strings in them? There should be one with app versions (dashboard, backend, native core) too.

[2022-02-08 21:00] avaidyam commented on #503
This looks like the version reporting is only implemented on iOS and not Android. @dcurrey88 Can you park a new GitHub issue for this?

[2022-02-09 03:17] ZCOEngineer commented on #503
@avaidyam we will be checking this today

[2022-02-09 04:56] sarithapillai8 commented on #323
@avaidyam
LAMP.Auth.refresh_identity - this API will be called for each URL while login check. All the routes are written with a checking for the session check (state.identity) and if this is false/undefined the login page will be loaded. In between while we call this API, the login page will load and after setting this state with API call, it will be redirected to the page requested. This is comm

[2022-02-09 05:37] changchunlei opened #507 "Download data from Portal distorted and not usable"
**Describe the bug**
When I download data with the tick box in the first option cleared (snapshot below), the exported file is distorted and not usable (attached).

![bug1](https://user-images.githubusercontent.com/3335476/153128193-d2134202-db9c-4335-b3bf-ed1c20040e09.png)
[Bug_LAMP_Mi_Research Study_Activity_Data_2_9_2022.csv](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8029786

[2022-02-09 07:15] jijopulikkottil commented on #503
The main difference with Android is, in android it is  "steps" instead of "value". We can keep "value" in all devices.
So data will look like:
In Android -> `{ 'sensor': 'lamp.steps', 'data': {'value': 9, 'source': 'com.google.android.gms', 'type': 'step_count_delta'}, 'timestamp': 1644329960659}]} `
In iOS.      ->    `{'sensor': 'lamp.steps', 'data': {'value': 445, 'source': 'com.apple.health.CD

[2022-02-09 07:27] sarithapillai8 commented on #506
@avaidyam
Please clarify on the duration value saved for open_page analytics.  It is implemented like last tab accessed time - current time. This is the expected behavior, right?

For this, after login when the initial tab(assess) is shown, there will be a small millisecond duration, which will be saved for this. - eg: {type: 'open_page', page: 'assess', duration: 97}
When next tab(say "Learn") wi

[2022-02-09 07:51] sarithapillai8 commented on #386
@avaidyam
So By default , the medications and Goal activities will have the 'None' selection for tab. The researcher can still change that setting like other activities, right?
For Goals, do you prefer to have any specific settings parameters like dosage for medications?

[2022-02-09 08:42] Linoy339 commented on #417
FYI:

Just Reminding that older schedules can have issues, because the time saved in scheduler was in utc earlier. Now, its with local timezone of the participant. So,  do we  need to inform all researchers to change the time accordingly ?

[2022-02-09 09:47] saranya-sajeev commented on #503
Telephony sensor is not implemented in Android. We will integrate it asap.

[2022-02-09 09:50] saranya-sajeev opened #508 "Integrate Telephony sensor in Android"

[2022-02-09 10:16] saranya-sajeev commented on #503
@avaidyam For Login and Log out, there is a mismatch in sending user_agent value. We will make it uniform.

[2022-02-09 10:47] avaidyam commented on #503
@saranya-sajeev Can you elaborate **specifically** on how you are going to make it uniform? (i.e. which events will change and what user agent format is going to be used?)

[2022-02-09 10:53] avaidyam commented on #386
@sarithapillai8 No, they will have the `manage` tab by default (as should be specified in the ActivitySpec). Yes, the clinician can always change the tab to whatever they like or remove it entirely.

Please use the existing settings parameters for Goals. It should be the goal name, the units (string), and the amount (number). For example: Drink water, "times", 3.

Can you share screenshots here of

[2022-02-09 10:55] saranya-sajeev commented on #503
@avaidyam For low power mode and diagnostic we are sending user_agent  as" Nativecore app version name; device manufacturer; device model" . We will implement that for login and log out too.

[2022-02-09 11:37] sarithapillai8 commented on #386
isn't Goal name actually the activity name?
I understood about units and amount.
Daily, times etc need to be set through schedule or these are just texts?

We don't have any configuration page goals and medications now. It was expected to use like journals without any specific settings.

[2022-02-09 13:02] dcurrey88 opened #509 "User agent mismatch between iOS and Android"
**Describe the bug**
From #503. For Login and Log out, there is a mismatch in sending user_agent value.

[2022-02-09 13:32] lukeoftheshire commented on #506
Hi @sarithapillai8 ,

That is the way that it should be implemented, yes. However, as you can see from the third event above where duration is `1301495169` it seems like (certainly on the browser at least) the first time a page is accessed the `last tab accessed time` may be being set to 0 - so when the user navigates to the next page the value stored for duration is instead the current unix times

[2022-02-09 14:53] sarithapillai8 commented on #485
@avaidyam
This is updated in dashboard-staging. QA completed.

[2022-02-09 14:53] sarithapillai8 commented on #487
@avaidyam
This is updated in dashboard-staging. QA completed.

[2022-02-09 14:54] sarithapillai8 commented on #506
@avaidyam
This is updated in dashboard-staging.

[2022-02-09 14:56] sarithapillai8 commented on #417
@avaidyam
This is updated in dashboard-staging. QA completed.

[2022-02-09 14:59] #485 closed

[2022-02-09 15:49] lukeoftheshire commented on #506
Hi @sarithapillai8, @avaidyam

First, thank you for the speed with which you responded to this issue. I apologize for the inconvenience caused by me re-opening this issue but I want to make sure we are all on the same page and I am QA-checking this appropriately.

I think there were two initial issues we were aiming to address here:

1. `lamp.analytics` sensor events can incorrectly log what is ef

[2022-02-09 16:03] lukeoftheshire opened #510 "Unnecessary sensor_event call on Portal/Prevent Page"
When navigating to the portal page in User view, two GET requests are always made - one to activity_event and one to sensor_event.

The purpose of the activity_event call is clear - it loads data for the graphs that are shown under the `Activity` portion of the page.

It is not clear why sensor_event is called - there are no spec or origin params set so the result is always just the last 1000 sens

[2022-02-09 16:37] sarithapillai8 commented on #506
@lukeoftheshire
The fix is updated in dashboard-staging.

[2022-02-09 18:56] lukeoftheshire commented on #506
Hi @sarithapillai8

Great, thanks! I took a quick look and both issue 1 and 2 look to be fixed - the duration is normal and no events are logged from Admin users. I appreciate very much your quick response to this.

@avaidyam should we split the sensorevent format topic I briefly outlined into another issue?

[2022-02-09 18:57] jeydude commented on #489
Hi Aditya, any update?

I tried to use
[code]

In the log file, I have noticed Store Size is increasing, but it is not pushed to CouchDB yet. Do I need to wait for Store_Size to reach Max_Store_Size to see the data in CouchDB? Is there a way to reduce the Max_Store_Size?

2022-02-09T17:30:41.904897002Z POST /participant/U2932822766/sensor_event 200 - 14.185 ms

2022-02-09T17:30:41.904909817Z Store

[2022-02-09 19:39] dcurrey88 opened #511 "Duplicate sensor events"
**Describe the bug**
There appear to be duplicated sensor events occurring recently (November to January). So far I have checked steps and GPS and both appear to have duplicates.

**To Reproduce**
I have been looking at participant U2974589562. For steps, they have 7423 datapoints (with a source), and when I remove those with identical timestamps there are 893 datapoints (6530 duplicates). Similar

[2022-02-10 15:38] lukeoftheshire commented on #507
Hi @changchunlei

Thank you very much for bringing this to our attention, for your description of how to reproduce this bug and especially for your attached file to show the issue in question!

I have looked into this and I think I may have found (at least part) of the issue, which may be simply that you have a great deal of data. As you can see in the [Excel support docs](https://support.microsof

[2022-02-10 15:53] lukeoftheshire opened #512 "'Fetching messages' loop in NavigationView"
While using the navigation view page (e.g. while looking at Researcher or participant view) it can be seen in the network requests that a request for the `lamp.messages` attachment on the current page (researcher, participant, etc.) is made repeatedly -- regardless of the page being viewed or if there are messages.

This appears to happen every 30s or so. What is the purpose of this call? (the ori

[2022-02-10 16:38] avaidyam commented on #507
@lukeoftheshire Thinking more about the CSV file itself, here's what it looks like when I open it:
<img width="944" alt="Screen Shot 2022-02-10 at 11 36 45 AM" src="https://user-images.githubusercontent.com/1361003/153453642-2207639e-7704-43a4-a7db-1243943cbaaf.png">

Is that expected formatting? I imagine with a CSV or Excel file, we should be exporting natively as a tabular format and not as a n

[2022-02-10 16:40] avaidyam commented on #386
Yes, and the activity icon should be the goal's icon too.

The goal "Drink 24 ounces of water twice daily" would become:
1. Title = "Drink water"
1. Icon = a water bottle or so
1. Description = "Remember to stay hydrated!"
1. Settings =

[2022-02-10 16:45] avaidyam commented on #489
@jeydude Are you able to see similar logs regarding `Store_Size` and `Max_Store_Size` in the `:2022` release?

If not, this may be the issue - the store size (number of events to cache before flushing to database) should be configurable and it is currently not. I imagine `store_size=0` disables it, and `store_size=100` would set a small enough size that you would see real-time updates on your data

[2022-02-10 16:50] avaidyam commented on #512
This loop exists to refresh conversations - but it shouldn't be happening in the background when I'm not looking at the conversations page. And it shouldn't be part of `NavigationLayout`, which is a root-level component spanning all pages.

[2022-02-10 16:53] jeydude commented on #489
@avaidyam

I tried the ```2022 ``` release and ```latest``` release, both does not show the Store_Size and Max_Store_Size in the logs. Looking at the source code, looks like you guys have removed those log entries in around 2022 release.

I am assuming I need to apply store_size=100 to environment section and once I applied it, I will let you know if I am getting sensor_events data or not. Thanks

[2022-02-10 17:01] dcurrey88 commented on #511
By duplicated events, I mean events with the same timestamp and same data.

[2022-02-10 17:03] avaidyam commented on #506
Yes! Good call highlighting this. Please open it as a new issue and link it here so the issues are connected.

[2022-02-10 18:42] dcurrey88 commented on #511
It looks like both Android and iOS devices have duplicates. Here are some duplicated GPS / accelerometer events:
<img width="394" alt="Screen Shot 2022-02-10 at 1 41 49 PM" src="https://user-images.githubusercontent.com/21200061/153475087-1195675e-0ca3-422a-94c2-e208a7f0dc18.png">
<img width="470" alt="Screen Shot 2022-02-10 at 1 37 40 PM" src="https://user-images.githubusercontent.com/21200061/15

[2022-02-10 18:53] dcurrey88 commented on #511
It is still ongoing. For example, U4801911068 has GPS duplicates from today.

[2022-02-10 20:26] avaidyam commented on #507
✅ Agreed!

I would argue this should be the natural state of things? Do you think we should spin that out into a separate GitHub issue?

[2022-02-10 20:48] avaidyam commented on #507
I see what you mean - that makes sense, thanks!

[2022-02-11 11:01] sarithapillai8 commented on #512
@avaidyam

It is placed in NavigationLayout for the purpose of showing the message count badge on the 'Conversation' Icon in top section, which is placed in the same file.
![image](https://user-images.githubusercontent.com/63710347/153579173-1b3aaaa2-6df9-403a-962e-d3d40aae08a3.png)

While on the conversations page, new messages are also showing with the help of this call, so why do we need to rem

[2022-02-11 12:27] sarithapillai8 commented on #506
@avaidyam

onunload, onbeforeunload events are there. But we need to check in detail whether it is supported on all browsers.

[2022-02-11 12:43] avaidyam commented on #506
There are a few choices to use, like [`Navigator.sendBeacon()`](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon) (preferred), but also [`visibilitychange`](https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event) events that we should also track.

[2022-02-11 12:55] avaidyam commented on #510
Yes, please remove both.

### Rationale
Step count can now be achieved using the data studio (cc @lukeoftheshire is this correct?) so we want to focus on active data for the tiles. We can number crunch the step count and add it as a visualization afterwards too.

[2022-02-11 13:01] sarithapillai8 commented on #506
@avaidyam _visibilitychange_ event triggers the hidden condition even when we move to any other tab on the browser , not on closing the tab. The actual requirement is to identify the state of tab close, right? _onbeforeunload_ event works on closing the tab after any kind of user interaction in the page.

[2022-02-11 13:03] avaidyam commented on #512
Right, this makes sense.

But this means nothing is really being changed?

We don't. I explicitly mentioned that it should not be fetching messages so frequently **outside** the conversations page.

1. Fetch messages count upon login.
2. Fetch messages when the patient is on the home screen every **minute**.
3. Do not fetch messages if the patient is doing a survey, etc. (on some other screen).

A

[2022-02-11 13:08] avaidyam commented on #506
[Please read the documentation linked above.](https://developer.mozilla.org/en-US/docs/Web/API/Navigator/sendBeacon)

[code]

[2022-02-11 13:18] avaidyam commented on #512
Yes, that's what I meant. 👍

[2022-02-11 13:33] jijopulikkottil commented on #503
For `lamp.steps`, **iOS** and **Android** can keep the same format below:
`{ 'sensor': 'lamp.steps', 'data': {'value': 9, 'source': 'com.google.android.gms', 'unit': 'count'}, 'timestamp': 1644329960659}]}`
But from iOS, when post lamp.steps from pedometer, the `source` field will be null. (but from HealthKit, there will be `source`)  hope this is okay, or should we add any static text?

If we nee

[2022-02-11 13:55] avaidyam commented on #506
@sarithapillai8 Yes, this is expected behavior. (Alerts will not display until the tab returns. Use a console log instead.)

This behavior is exactly what we want because this is the user flow:
1. Patient logs in to home screen.
    - A `login` event is fired **AND**
    - An `open_page` event is fired with `"learn"` (or whatever tab they start off on).
2. Patient goes to Manage.
    - An `open_pa

[2022-02-11 14:29] avaidyam commented on #506
Yes, no duration field. Instead, implement the `login`/`logout` events as above, and the `open_page` events with `activity` and `null`.

[2022-02-11 14:45] lukeoftheshire opened #513 "LAMP Data Portal/Studio data download feature"
As initially proposed in issue #358, a feature to download ActivityEvent data was added to the LAMP data portal in late 2021. However, as seen in issue #507, additional functionality could be added to the download feature.

Currently, the following functionality is available:

- Users can choose how much they want their data exploded. The default is to explode both the whole ActivityEvents array i

[2022-02-11 14:56] Linoy339 commented on #489
@avaidyam .Using both  `CACHE_SIZE`  and `CACHE_INTERVAL` can cause some complication. In the sense, it may results in some conflicts. If we use `CACHE_SIZE`  and giving a 3 digit number (like 300) can resolve the above  issue.
So, Can we limit this with the scope of  `CACHE_SIZE` alone instead of using both `CACHE_SIZE` and `CACHE_INTERVAL`?

[2022-02-11 14:57] avaidyam commented on #489
Sure, let's table the `CACHE_INTERVAL` plan for now.

[2022-02-11 15:00] Linoy339 commented on #489
Thanks @avaidyam

[2022-02-11 15:00] Linoy339 commented on #489
Thanks @avaidyam

[2022-02-11 17:06] jijopulikkottil commented on #511
Used the API request https://api.lamp.digital/participant/U4801911068/sensor_event?origin=lamp.gps to see the data, but couldn't find duplicates. @dcurrey88 have you done/update anything?

[2022-02-11 17:10] dcurrey88 commented on #511
I haven't updated anything. How many GPS datapoints have you pulled? It looks like they don't have any duplicates in the first 1000, but if I set the _limit to something higher (like 10000) I start to see duplicates.

[2022-02-11 17:18] jijopulikkottil commented on #511
I am getting only first 1000 records using the request https://api.lamp.digital/participant/U4801911068/sensor_event?origin=lamp.gps. @dcurrey88 let me know how I can modify the url request to set the limit to see more

[2022-02-11 18:00] lukeoftheshire commented on #511
You can try https://api.lamp.digital/participant/U4801911068/sensor_event?origin=lamp.gps&limit=1000

You can also set from and to parameters like so: `https://api.lamp.digital/participant/U4801911068/sensor_event?origin=lamp.gps&limit=1&from=1644598286496&to=1644598386998` to control the timestamps you see.

To get data from today, I think you could use something like https://api.lamp.digital/par

[2022-02-11 21:05] avaidyam commented on #417
@tlakhtak discovered a scheduling error issue with this:

1. Using `dashboard-staging...`, scheduled a survey for `10:29am`, with the default start date `Dec 31, 1969`.
2. Received a survey at `10:14am`.
3. When clicked edit button and re-saved same schedule as before, received another notification at `10:15am`.
4. When went to add a new schedule and deleted the default hours to put in a new time,

[2022-02-11 21:09] avaidyam commented on #301
@sarithapillai8 This issue appears to be occurring again according to @tlakhtak:

[2022-02-11 21:15] avaidyam opened #514 "Updated icon picker for activities"
The icon selection for activities currently requires the user to upload an icon. Instead, it should be possible to display a library of SVG icons and pick one from that. If the image is removed, it should use the default `(i)` (info) icon.

The bug portion of this issue:

[2022-02-11 21:19] avaidyam opened #515 "Moderate slowdown issues when editing or completing activities"
We're noticing increased loading spinners in areas of the app where surveys or tips are being edited  by a clinician or submitted by a patient.

I'm parking this issue to collect screen recording evidence and network logs to determine potential causes, but @sarithapillai8 do you have any initial insight on why some folks are experiencing dashboard slowness?

[2022-02-11 21:22] avaidyam commented on #466
@sarithapillai8 It looks like there's a remaining minor issue with the graphs. Could you take a look at that and resolve it if it's a simple fix?

[2022-02-11 21:23] avaidyam opened #516 "Configuration parameters for voice diary"
We want regular “clinician side” user to be able to edit the text shown on the audio diary card, so it is closer to the function of a survey but with audio as input:

Patient/Client facing Current State:
- The Voice Recording assessment, once the user selects “Begin” they see a series of screens as shown below:
    - The “Record” screen states “Press the microphone to record”
        - **There is

[2022-02-12 05:39] Linoy339 commented on #417
Can you please provide the activity id for both?

[2022-02-13 04:59] sarithapillai8 commented on #466
@avaidyam
This is a known issue and it was said to leave it a it is ad lines cannot be drawn with single point and our graph design was not with marks. So can I point marks on graph to  fix this issue? It will look like below :
![image](https://user-images.githubusercontent.com/63710347/153739316-40f9bb15-dc6a-4cd8-b0b1-70ec862fca51.png)
![image](https://user-images.githubusercontent.com/63710347/

[2022-02-14 05:03] ZCOEngineer commented on #503
@avaidyam could you share your thoughts on this here?

[2022-02-14 07:31] Linoy339 commented on #489
@avaidyam . We have implemented  this. Please check:
https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/180

[2022-02-14 09:19] sarithapillai8 commented on #301
@avaidyam The issue with scrolling seems to be appearing because of the status bar in the top. With Android/web, the screen fits to the height. Can we change it like hiding status bar on iOS? I am asking this because, we are seeing some weird screen while scrolling. Please see the top portion :
![D9025BB4-D2A1-4D36-93C4-6620D3AEDD29](https://user-images.githubusercontent.com/63710347/153835215-b9b

[2022-02-14 10:49] sarithapillai8 commented on #417
This is fixed in dashboard-staging.

[2022-02-14 12:11] divyav2020 commented on #417
We are unable to reproduce this issue

[2022-02-14 12:35] sarithapillai8 commented on #516
This is updated in dashboard-staging. QA done.

[2022-02-14 13:03] #516 closed

[2022-02-14 15:14] jeydude commented on #489
Thanks @avaidyam and @Linoy339, updated my image to refer ```ghcr.io/bidmcdigitalpsychiatry/lamp-server:latest``` added ```     CACHE_SIZE: 200``` to the environment variable list.

I am getting sensor_events now, Thanks A LOT for your quick response and code changes!

![image](https://user-images.githubusercontent.com/841011/153890811-ac95f17a-c49c-4b03-8d10-8e65acc6dd0b.png)

[2022-02-14 15:42] avaidyam commented on #489
@Linoy339 Thanks! It looks like this worked for @jeydude so I'll close the issue now. Once our release process is completed (today), please do swap back to the latest `:2022` release, @jeydude.

[2022-02-14 15:42] #489 closed

[2022-02-14 15:43] avaidyam commented on #466
@sarithapillai8 I agree, it's not possible to draw a line, so your suggestion makes more sense as this is likely what our collaborators want. Please implement that!

[2022-02-14 16:05] avaidyam commented on #417
That should be correct. //cc @tlakhtak

[2022-02-14 16:15] Linoy339 commented on #417
There are no schedules now for any of these activities. I think, all the schedules has been deleted.
We believe, no notifications are firing now for all these.
@tlakhtak . Can you please add schedules as you did last week?

[2022-02-14 16:16] jijopulikkottil commented on #301
@avaidyam  I can work with @sarithapillai8 to try some workarounds.

[2022-02-14 16:59] tlakhtak commented on #417
I received notifications last night at 11pm for Cognitive Games activity and 12am for Evening activity. Both activities still have scheduled activities in the Feed, for 7pm and 8pm today respectively.

[2022-02-14 17:24] Linoy339 commented on #417
@tlakhtak . Yes. The notifications are supposed to get fired daily 11pm (Evening activity) and 12 AM (Cognitive Games ). So, its working as expected.

It seems to be a cache issue, as I am getting displayed it as 11 PM and 12 AM respectively. Please find the screenshot :
![feed](https://user-images.githubusercontent.com/66460654/153914184-e6d46b64-21ad-4f4f-9594-549c98bf03a9.png)

[2022-02-14 20:20] lukeoftheshire commented on #478
A new issue has been discovered - when the game shifts to the mode where participants are not supposed to respond to two bubbles of the same color in a row, responses can be incorrectly marked as "correct".

See the following temporal slices
[code]

Note that due to the bug mentioned above we know that each of these definitely reflects a tap (since no data is stored if the user doesn't tap). With

[2022-02-15 09:28] Linoy339 commented on #417
@avaidyam . Here, We doubt on `local notifications` (from mobile app)  that it can happen in UTC too. We might have to do the `utc `to `local time` conversion  in `app` also.

[2022-02-15 10:44] sarithapillai8 commented on #506
@avaidyam

Does this mean to have sensor events for these events?

Note : When a participant logged in, we are now having a sensor event like : LAMP.SensorEvent.create(res.identity.id, {
            timestamp: Date.now(),
            sensor: "lamp.analytics",
            data: {
              device_type: "Dashboard",
              user_agent: `LAMP-dashboard/${process.env.REACT_APP_GIT_SHA} ${win

[2022-02-15 10:50] sarithapillai8 commented on #466
@avaidyam
These changes are updated in dashboard staging, which are already available on production.

[2022-02-15 13:57] #466 closed

[2022-02-15 14:00] avaidyam commented on #506
Yes - the logout even should have the **same format** as the login event. They're both `lamp.analytics` events with `type = login` or `type = logout`. The other parameters should be the same as they are right now for the login event.

The `open_page` with `null` value event is **separate** from the logout event. The **logout event occurs ONLY when the user presses the logout button manually**.

Ye

[2022-02-15 15:05] sarithapillai8 commented on #506
@avaidyam @lukeoftheshire

Do we need to have another analytics other than than below for login?

data: {
              device_type: "Dashboard",
              user_agent: `LAMP-dashboard/${process.env.REACT_APP_GIT_SHA} ${window.navigator.userAgent}`,
            },

Could you please specify the correct format for logout as you said login and logout format should be same. ?

[2022-02-15 15:28] lukeoftheshire commented on #506
@avaidyam @sarithapillai8 Right now, I can't think of anything we might need to capture at log-in that we don't already capture somewhere else.

[2022-02-15 15:38] avaidyam commented on #506
Agreed - this makes sense to do. Otherwise I think it all makes sense to implement now, @sarithapillai8.

[2022-02-15 16:24] Linoy339 commented on #417
Sure @avaidyam .

[2022-02-15 16:27] sarithapillai8 commented on #506
@avaidyam @lukeoftheshire

I was planning not to have activity parameter if it is saving for tabs. Do you want to save it as null in all other cases ?

I am still not clear with logout data format. For login, I assume there is no change required.

[2022-02-15 19:44] dcurrey88 opened #517 "Error pop-up if no selected group for activity"
**Describe the bug**
If I create an activity and do not select a group and press save, no error will be thrown and the activity will not be created. There should be some warning to the user to indicate that they need to select a group.

https://user-images.githubusercontent.com/21200061/154139068-8cf11e82-e673-40d2-8f45-506983102e61.mov

[2022-02-15 19:45] avaidyam commented on #517
@dcurrey88 Can you attach a screen recording to your original post?

[2022-02-15 19:50] dcurrey88 opened #518 "Read only text / images in surveys"
**Describe the solution you'd like**
I think it would be useful to have an activity that is a combination of surveys and tips which can have both questions as well as free text / images segments. Ideally temporal slices would still contain the values from the survey but the Activity itself would have additional text, images etc.

**Additional context**
Ideally we would like to have this feature fo

[2022-02-15 19:52] avaidyam commented on #518
Have you tried using Markdown text with survey questions/descriptions/options? It does work.

<img width="971" alt="Screen Shot 2022-02-10 at 10 37 06 AM" src="https://user-images.githubusercontent.com/1361003/154138192-23e79ba7-445f-43cc-9f86-b9386be7fd4e.png">
 <img width="204" alt="Screen Shot 2022-02-10 at 10 37 17 AM" src="https://user-images.githubusercontent.com/1361003/154138189-6eeced0e-8

[2022-02-15 19:52] dcurrey88 commented on #517
https://user-images.githubusercontent.com/21200061/154138389-62ad069b-d726-4ada-b7d3-2fb4d2560527.mov

[2022-02-15 19:55] dcurrey88 commented on #518
This is a work-around, but I still feel like in the long-run this would be something beneficial to have. From an analysis point of view, it would be annoying to string match long markdown strings when scoring surveys.

[2022-02-15 19:58] avaidyam commented on #518
So this sounds like the real issue here? If so, this feature suggestion is being tracked in issue #266 ([specifically this comment](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/266#issuecomment-1029327057) from @lukeoftheshire).

I'm not sure I'm able to imagine what you mean by this if not for markdown support in surveys... could you elaborate/sketch it out?

[2022-02-15 20:01] dcurrey88 commented on #518
I don't think this is already in #266 but it's related so I can add it there. And yes, I mean markdown (but read only with no question component).

[2022-02-15 20:01] #518 closed

[2022-02-15 20:03] dcurrey88 commented on #266
re #518: In addition it would be useful to have read-only sections in surveys (where there is no question only markdown text).

[2022-02-15 20:20] avaidyam commented on #518
Oh, I see what you mean. Maybe the right issue is either #385 or #265 and not #266. Sorry!

[2022-02-15 20:21] avaidyam commented on #385
@dcurrey88 Patching you in from issue #518 - it looks like this is what you want:

[2022-02-15 20:29] avaidyam commented on #506
Yes. Parameters should never be missing in some cases but provided in others. If this practice is happening in other places, please let me know so we can track it as a new issue.

The same data format as `login`, but with the `type` parameter set to `logout` instead.

Are you using a `type` parameter set to `login`? If not, please add that. //cc @lukeoftheshire Can you share a few sample analytics

[2022-02-15 20:29] dcurrey88 commented on #518
Yes, "null" questions is what I mean. Thanks!

[2022-02-15 20:44] lukeoftheshire commented on #503
I don't have any issue with having a null value in the `source` field. My preference would be to never have keys present in one situation but entirely absent in another.

This is mentioned in the docs but with no actual documentation of what it is/does - if this is an implemented sensor with a viable use case that should change. (https://docs.lamp.digital/data_science/data_types#sensor-types)

I l

[2022-02-15 21:00] avaidyam commented on #503
Can you elaborate on what you mean with this? Which of the `type`s would belong to which?

[2022-02-15 21:07] lukeoftheshire commented on #503
Yeah, sure! This is in reference to

from @jijopulikkottil  a couple comments up.

My understanding is that `lamp.steps` would become what we use for *step count only* where something like `lamp.steps_activity` would contain info like 'cadence' or 'speed' or 'distance' - which are of course useful but might fit better under a non `lamp.steps` sensor. (Please correct me if I am misunderstanding, @j

[2022-02-16 06:46] sarithapillai8 commented on #506
@avaidyam
 Following is the SensorEvent format that is currently using for Login :
       LAMP.SensorEvent.create(res.identity.id, {
            timestamp: Date.now(),
            sensor: "lamp.analytics",
            data: {
              device_type: "Dashboard",
              user_agent: `LAMP-dashboard/${process.env.REACT_APP_GIT_SHA} ${window.navigator.userAgent}`,
            },
        }
Th

[2022-02-16 12:44] divyav2020 opened #519 "Custom time changes while changing the timezone"
Custom time changes while changing the time zone

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' Schedule screen'
2.  Select Date and time and click on 'Custom option'
3. Shows default time in Custom field.  Without changing the time, select tick option. Current time saved.
4.  Save the schedule.
5.  Save the particular activity
6.  Change the time zone and check the time.
7.  Added

[2022-02-17 13:22] lukeoftheshire commented on #506
@sarithapillai8 We're not sure what exactly might be causing this issue so it may just be an issue with dependencies. Because of that it's tough for us to recommend exact steps to fix this.

It looks like the only module we use that requires `canvg` is `jsPDF` but it doesn't require a version past `3.0.6` so you can maybe try reverting to an earlier version and see if that helps.

[2022-02-17 13:38] dcurrey88 opened #520 "Make tip editing window expandable"
The tip description window on the dashboard is only about 5 lines tall and cannot be expanded as you add more text. I would like to be able to make it larger so I can see all of the content I have typed at once
<img width="1062" alt="Screen Shot 2022-02-17 at 9 03 14 AM" src="https://user-images.githubusercontent.com/21200061/154497798-b4d7809d-f4a8-4888-a85c-4c562535dafe.png">
.

[2022-02-17 13:41] dcurrey88 opened #521 "Tip files cannot be deleted"
**Describe the bug**
Media files for tips can only be deleted by selecting a new file and hitting cancel.

**Expected behavior**
There should be some way to clear the file without loading a new file.

https://user-images.githubusercontent.com/21200061/154498170-c7dc18a5-a2eb-45cc-ac94-83b999cb4e50.mov

[2022-02-17 14:18] avaidyam commented on #503
@lukeoftheshire The problem is, all of those `type`s are [actually part of the pedometer data itself](https://developer.apple.com/documentation/coremotion/cmpedometerdata), on both iOS and Android. I don't think it makes sense to separate the data like that into two related but unlinked sensors...  I like Option 1 that @jijopulikkottil proposed:

[code]

But we do need to unify the `type` paramete

[2022-02-17 16:26] akmeyer3 opened #522 "Survey Screen and Voice Recording Freezing"
**Describe the bug**

After reordering questions in a survey on the dashboard, the user tries to test the new survey in the app, but the screen freezes after he starts the survey.  Same thing happens for voice recording feature.

Error is not reproduced on researcher dashboard; new survey questions with changes committed are viewable and functional. However, error is reproduced when logged in as a

[2022-02-18 03:49] ZCOEngineer commented on #522
We shall check on this @avaidyam

[2022-02-18 06:35] sarithapillai8 commented on #522
@avaidyam We have checked the issue in different devices and not able to reproduce this issue. Could you please provide credentials to check if this is related to any specific survey/user?

[2022-02-18 16:27] avaidyam commented on #522
@sarithapillai8 [There's a public forum thread with more information here.](https://mindlamp.discourse.group/t/survey-screen-not-loading/537/6) You will need to check on the production server. @akmeyer3 can provide credentials to a test user that experiences this issue.

[2022-02-18 16:29] #509 closed

[2022-02-18 18:10] avaidyam commented on #417
@jijopulikkottil Can you please create a new issue detailing the "every two weeks" bug? Let's consider this issue closed but track the status of that bug in an new issue.

[2022-02-18 20:05] tlakhtak opened #523 "Continued scheduled notification errors"
After the latest update we reset all previously scheduled activities to ensure that they appeared at the correct time, regardless of timezone. However, I am still seeing that on my testing account I receive notifications that do not line up correctly with the scheduled time as per the times I scheduled, or as they are reflected in the feed. For example, today at 12:00pm PST I received this notific

[2022-02-18 20:27] tlakhtak opened #524 "Activities cause perpetual loading screen"
Activities are not loading when users go to click on them from the feed or other pages for mindLAMP on two other servers (not api-lamp-digital). This seems to be happening for all users of these two servers.
![screenshot1](https://user-images.githubusercontent.com/82968538/154756511-1e666f35-d6ec-4c52-b61d-3040524896be.jpeg)

https://user-images.githubusercontent.com/82968538/154756541-f9076c48-49

[2022-02-18 20:31] tlakhtak commented on #522
Activities are not loading when users go to click on them from the feed or other pages for mindLAMP on two other servers (not api-lamp-digital). This seems to be happening for a majority of users hosted on these two servers.
![screenshot1](https://user-images.githubusercontent.com/82968538/154756958-a3f17dfe-1925-4d29-8cf7-135e350e79c2.jpeg)

https://user-images.githubusercontent.com/82968538/1547

[2022-02-18 21:30] jeydude commented on #523
We are also noticing this issue with latest update to our server done yesterday. All our activities times are incorrect now.

[2022-02-18 21:34] avaidyam commented on #523
@jeydude Have you manually re-saved activity schedules yet? If so, do the times appear correct in the Feed tab of the app?

[2022-02-18 21:44] jeydude commented on #523
I just updated manually to correct time now, let you know the findings.

[2022-02-18 22:11] jeydude commented on #523
I have updated the activities schedule time to 4:00 PM Triweekly. Feed tab is showing proper time now.  I did not receive any push notification yet. It is almost 4:10 pm here.

Tried to update few activities, i did not receive any notification yet.

[2022-02-18 22:34] jeydude commented on #523
@avaidyam here is my findings, I am working in CST time my current time is around 4:30 PM:

1. If you set your activity schedule time to 7:00 PM or more, then in the Feed tab we do not see your activity that's scheduled activity schedule time to 7:00 PM
2.  Have a activity schedule time as 10:30 PM daily , but I am receiving push notification at 4:30 PM.

[2022-02-18 23:03] jeydude commented on #523
Tried rolling back to older image bidmcdigitalpsychiatry/lamp-server:2021, still same issue,  receiving push notification at 5:00 PM if the activity schedule time is at 11:00 PM.

[2022-02-19 02:17] Linoy339 commented on #523
@tlakhtak . Can we get the participant id?

[2022-02-19 03:09] avaidyam commented on #522
@sarithapillai8 I thought we had discussed that if the server didn't support this, there would be a fallback URL to the old method? What happened to that?

[2022-02-19 03:23] sarithapillai8 commented on #522
@avaidyam Yes But there is checking that if this is available with

` let activitySpec = await LAMP.ActivitySpec.view(activity.spec)`

This API call is making issues. There is no executable data , then old method will be executed. Do you prefer any other change?

[2022-02-19 03:36] avaidyam commented on #522
So if this API call fails, what happens?

[2022-02-19 03:43] sarithapillai8 commented on #522
@avaidyam
Not related to this issue. But FYI I am having issues with my build. There is a build issue something related with jsPdf, which I commented here : (https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/506#issuecomment-1041469440). When I tried to solve it, my local build is not working. So it will take sometime to fix that. Only after fixing that I can check this. I tried to re

[2022-02-19 04:48] jijopulikkottil opened #525 "No local notifications if schedule activity with new unhandled repeat-type"
1. Fix the issue of no local notification if add new 'repeat-type'.

Steps to reproduce the issue:
- With current Appstore version 2021.10.20, if we configure an activity with repeat type 'every two weeks', there will be no local notification for all activities.

[2022-02-19 04:49] jijopulikkottil opened #526 "Local notification of activity - Implement new repeat type 'every two weeks'"

[2022-02-19 05:00] jeydude commented on #523
Yes, confirmed the push notification appears only at (activity schedule time - GMT difference time) time, even after relogin to the mindLamp app in the iPhone.

We have installed LAMP API server in our server, please let me know if you need any more information. Thanks!

[2022-02-19 05:15] jijopulikkottil commented on #523
The timezone issue of local notification mentioned [here](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/417#issuecomment-1040306189) is fixed now. Latest source code is pushed.

[2022-02-19 05:20] Linoy339 commented on #523
@jeydude . Could you please let us know the LAMP-worker image you are using?

[2022-02-19 05:21] jeydude commented on #523
I am using ghcr.io/bidmcdigitalpsychiatry/lamp-server:2022

[2022-02-19 05:38] jeydude commented on #523
Here is my yaml

[code]

Image date for ghcr.io/bidmcdigitalpsychiatry/lamp-server:2022 is 2022-02-14 16:51:40

[2022-02-19 06:14] sarithapillai8 commented on #522
@avaidyam
Exception handling added and fix updated in dashboard-staging.
//cc @michaelmenon @ZCOEngineer

[2022-02-21 04:36] sarithapillai8 commented on #517
Updated the fix in dashboard-staging.

[2022-02-21 05:36] sarithapillai8 commented on #506
@avaidyam
Waiting for clarification about login/logout event. (https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/506#issuecomment-1041168809)

[2022-02-21 05:59] Linoy339 commented on #523
@jeydude. This means that you are using native app alone to fire notifications and not included lamp-worker component to do the same. As @jijopulikkottil  said, native app fix for push notifications was done recently and you have to take the new build.

@avaidyam . Can you please mention the  feedback on Lamp-worker exclusion in this yaml file?
Although, the local notifications is implemented in a

[2022-02-21 06:34] saranya-sajeev commented on #526
@avaidyam It is already implemented in Android and it is available in current beta build.

[2022-02-21 13:07] jijopulikkottil commented on #523
@jeydude The latest build Version 2022.1.13 (304) with "Local notification timezone fix" is available on TestFlight now. https://testflight.apple.com/join/TSpdLc6U

[2022-02-21 13:30] avaidyam commented on #525
@jijopulikkottil Can you confirm with @saranya-sajeev that this is also implemented and working on Android?

[2022-02-21 13:32] #517 closed

[2022-02-21 13:33] avaidyam commented on #506
@sarithapillai8 I already provided the answer in the comment before yours:

[2022-02-21 13:37] avaidyam commented on #506
Yes, like so:

[code]

[2022-02-21 14:04] #3 closed

[2022-02-21 14:06] avaidyam commented on #476
@ZCOEngineer @saranya-sajeev Please let me know what the status is on the following:
- [ ] Integrating the WearOS code into the main branch
- [ ] ANR StrictMode + Stack tracing UI library

[2022-02-21 14:38] saranya-sajeev commented on #523
@avaidyam It is resolved in Android too and is available in beta.

[2022-02-21 16:03] saranya-sajeev commented on #525
@avaidyam It is working on Android.

[2022-02-21 21:41] jeydude commented on #523
@avaidyam

I tried with old images (2021, 2022) of ghcr.io/bidmcdigitalpsychiatry/lamp-server none of the helped with timezone issue with push notification messages.

Tried Test Flight version of mindLAMP app, push notification message works fine after using Test Flight version.

[2022-02-21 22:00] jeydude commented on #523
@avaidyam currently we have few active studies going on, which study participants will be affected with this push notification issues, can you explain that?

[2022-02-21 23:54] jeydude opened #527 "Problem with transferring data from Redis to CouchDB"
Hi,

 I have  CACHE_SIZE: 100 in the yaml file. I have noticed CouchDB did not get data from Redis for quite sometime.

I was looking at the LAMP API Server log noticed the Store_Size value is increasing and Redis cache is growing faster but Redis cache data is not getting transferred to CouchDB as I am expecting.

Here is the log entries from LAMP API Server which has Store_Size value indicating

[2022-02-22 00:50] jijopulikkottil commented on #323
@sarithapillai8 @avaidyam
Done a quick test on app side, When open in new web view which  has session storage item  LAMP._auth, It still shows same behaviour [loading login first and then navigating to activity page] even if use without `?a='.
[In LAMP._auth, we are setting 3 key-values which are serverAddress, id and password]

But it works fine (no login screen flashes) if we open in existing we

[2022-02-22 05:14] divyav2020 commented on #519
Updated in Staging

[2022-02-22 05:23] sarithapillai8 commented on #515
@avaidyam  @lukeoftheshire
I believe the current slowdown issues/extra loaders are after the changes we did with separate URL changes and the change requested in this comment -  https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/400#issuecomment-995162775.
Before implementing separate URL, the local storage data once fetched was using different sections in the admin side through the pr

[2022-02-22 09:18] jijopulikkottil commented on #525
This issue has been fixed and available in test flight version [2022.1.13 (304)](https://testflight.apple.com/join/TSpdLc6U)

[2022-02-22 11:41] jijopulikkottil commented on #526
Found an issue in testing. Its fixed and given to QA again.

[2022-02-22 15:34] tlakhtak opened #528 "Missing sensor availability for certain LAMP server"
sangath.psych.digital server is unable to see screen_state sensor in their LAMP dashboard to add. Considering the device_state sensor is no longer functional, the screen_state sensor is necessary to add to users but right now it doesn't appear as an option
![configure2](https://user-images.githubusercontent.com/82968538/155149177-f6c0b455-1160-41d3-a15f-f1999eb13ea4.png)
![SensorConfigure](https:/

[2022-02-22 16:43] jijopulikkottil commented on #301
Thanks @sarithapillai8 for posting the above [screenshot](
![](https://user-images.githubusercontent.com/63710347/153835215-b9b7a875-99b7-45ed-a986-2983951f9dc6.png)
) to identify the issue. It has been fixed on app side by setting the web view constraint with respect to safe area layout.

![Simulator Screen Shot - iPhone 13 - 2022-02-22 at 21 41 41](https://user-images.githubusercontent.com/63795

[2022-02-23 16:44] avaidyam commented on #506
@sarithapillai8 It seems to be correct from what I can see in browser-side network calls. @lukeoftheshire Can you also take a look and see if it appears to match the spec we described when using Cortex or the python API client? Thanks!

[2022-02-23 16:47] avaidyam commented on #528
@tlakhtak @lukeoftheshire We'll have to add the `screen_state` `SensorSpec` for them on our end and it should work from there. [This change was confirmed here.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/357#issuecomment-987928976)

[2022-02-23 16:48] #528 closed

[2022-02-23 16:51] avaidyam commented on #523
@jeydude Thanks for the feedback - I'll consider this issue closed, but please add the following to your stack file:

[code]

[2022-02-23 16:51] #523 closed

[2022-02-23 16:54] avaidyam commented on #527
@Linoy339 It looks like the flushing logic may need to be tested better. Can you identify the root cause of the issue here? Thanks!

[2022-02-23 16:58] lukeoftheshire opened #529 "LAMP page titles in lowercase"
LAMP page titles appear to be in lowercase, as seen in the screenshots below:
![Screen Shot 2022-02-23 at 11 53 20 AM](https://user-images.githubusercontent.com/34659264/155367603-00a01b0f-3f37-431c-a6ae-0fb2f853ceb6.png)
![Screen Shot 2022-02-23 at 11 53 15 AM](https://user-images.githubusercontent.com/34659264/155367605-b987ab84-37ad-496b-9ee0-13498e31f88e.png)
![Screen Shot 2022-02-23 at 11 53

[2022-02-23 17:10] jijopulikkottil commented on #301
@avaidyam  in iPhone XR, we found no issues.
But on iPhone13 (simulator) some activity pages [see 'Balloon Risk'] not fit well. [but  Jewels looks fine]

![Simulator Screen Shot - iPhone 13 - 2022-02-23 at 21 56 52](https://user-images.githubusercontent.com/63795052/155369581-9e036648-1301-40d7-9c3d-29755481bc1e.png)

![Simulator Screen Shot - iPhone 13 - 2022-02-23 at 22 37 09](https://user-image

[2022-02-23 17:28] lukeoftheshire commented on #506
Hi @avaidyam, @sarithapillai8

Here are the steps I took to QA test this:

1. Open an incognito window, navigate to dashboard-staging.lamp.digital
2. Login in using a newly created dummy user while checking network requests
3. Logout

After completing this, I used the python API client to pull the last set of analytics events, and got this:
[code]

As you can see, the login event appears to be cor

[2022-02-23 18:29] avaidyam commented on #506
@sarithapillai8 Yes, if the login screen is being displayed, it means the URL **MUST BE** `/login` or something similar. Why is the UI still not matched correctly with URL routes?

This event is correct and necessary; `open_page == null` is expected (see my detailed spec above):

This event should be fired **in addition** to login/logout events.

@sarithapillai8 The logout event should be submitte

[2022-02-23 18:31] avaidyam commented on #301
@jijopulikkottil Thanks for sharing this. I'll reopen the issue as this means we're not actually fixing the underlying problem. @sarithapillai8 Can you double check **all the activity code** to confirm we're **NOT hardcoding ANY constants such as screen width and height anywhere?**

[2022-02-23 19:42] lukeoftheshire commented on #528
Noting here for closure that the `screen_state` Sensor was added to the Sangath server.