[2022-06-22 20:14] avaidyam commented on #661
@sarithapillai8 Please ensure this dialog ONLY appears when the **number of participants in the study is GREATER THAN one**. It should not appear all the time.

[2022-06-23 14:02] jijopulikkottil commented on #652
@avaidyam please conform this too
<img width="901" alt="Screenshot 2022-06-23 at 7 24 02 PM" src="https://user-images.githubusercontent.com/63795052/175318055-1d0a799f-6d50-433e-ac27-6d99ecf1090d.png">
.

[2022-06-24 10:37] divyav2020 commented on #661
We have updated this feature in staging server
[LAMP_Admin Website_Activities edit-confirmation dialogue box error.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8975494/LAMP_Admin.Website_Activities.edit-confirmation.dialogue.box.error.xls)

[2022-06-24 17:27] ertjlane commented on #625
Hello all, I'm going to be taking Luke's place as the point person for this issue! As an update, we've just had someone else on a team we're working with bring up the same problem. They report spinning wheel when they click on the activity tab, in their MGB mind lamp instance on AWS. They can open other tabs like users, sensors, and data portal. I've included a screenshot. I'm moving this issue to

[2022-06-24 19:44] lukeoftheshire opened #662 "Broken API request on Data Portal"
As part of a large [commit](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/df39c8640b21ddcbe4b0ddf83493cd9d2892f30a), several API requests in the data portal were erroneously changed in RenderTree.tsx, possibly due to a incorrectly applied find-replace.

In a later [commit](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/6cb11f81a275289cfb6d65f6e705921d3c1c1e63) th

[2022-06-24 20:10] lukeoftheshire commented on #662
In addition, this issue is making it difficult for researchers and collaborators who want to easily pull activity specs - for example, as requested in https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/625.

Prior to this commit pulling the activity json for a study from the data portal would have been relatively trivial as it was possible to navigate the tree in the sidebar and pull a

[2022-06-24 21:27] lukeoftheshire commented on #660
Hey @Tuna9129 @avaidyam I might be a little late to the party but I think these explanations are exactly right - returning an empty array from LAMP.Activity.view basically means the activity was deleted. However, due to how LAMP stores data, the data is not really gone - instead, a `Deleted` tag is toggled in the database to True, and any data where this key is set to true is simply not returned f

[2022-06-27 03:41] ZCOEngineer commented on #638
@ertjlane, @avaidyam is there a reccurence of this issue?

[2022-06-27 04:35] sarithapillai8 commented on #662
@lukeoftheshire  This happened at the time of fixing vulnerabilities with some latest versions. We can check and update ASAP.

[2022-06-27 05:09] sarithapillai8 commented on #625
@lukeoftheshire The console errors showing in the screenshot does not seems relevant with this issue.

As we are not able to reproduce this issue with our data. To reproduce this we need some other details. We doubt if this is something related to old invalid activity data. That is why we are asking for the activity data to reproduce this. We understand sharing the credentials is not possible alwa

[2022-06-27 12:25] divyav2020 opened #663 "Sometimes Select Language dropdown selection shows blank"
Login as a participant. Then kill the application from background. Login screen shows. Sometimes Select Language dropdown selection shows blank in Login screen
![A25938EA-CD49-479E-9D1D-8DF1685E4771](https://user-images.githubusercontent.com/74397668/175940921-27a94720-2ee1-4531-ad24-30999a2d2887.png)

[2022-06-27 13:06] michaelmenon commented on #659
Hi @jeydude we have sent you an email on this. please check.

[2022-06-27 13:07] sarithapillai8 commented on #662
@lukeoftheshire The code is restored in dashboard-staging . Could you please check ?

[2022-06-27 13:08] #642 closed

[2022-06-27 13:10] #649 closed

[2022-06-27 13:11] #645 closed

[2022-06-27 13:12] #661 closed

[2022-06-27 13:13] jijopulikkottil commented on #652
Code is pushed, CD fails due to some issues with GitHub Actions.

[2022-06-27 13:29] lukeoftheshire commented on #662
Hi @sarithapillai8 - looks good! Functionality seems to be back to normal on dashboard-staging and all three lines we found look good.

I'm going to close this since the issue has been resolved.

[2022-06-27 13:29] #662 closed

[2022-06-27 13:57] michaelmenon commented on #625
Hi @ertjlane  as mentioned by @sarithapillai8  in the post above we think this issue is due to some invalid data in the DB, not able to reproduce it here as well so could you please import the activity data for this user through export option in the activity list, so we can check on the data to figure out what's wrong.

[2022-06-27 15:14] ertjlane commented on #625
@michaelmenon @sarithapillai8, understood. I just updated the forum post where this was brought up with instructions for the users to send us this data (instructions written curtesy of Luke). I will let you know as soon as they have sent that to us.

[2022-06-27 16:59] jeydude commented on #659
Thanks @michaelmenon I have emailed Divya with login information.

[2022-06-28 11:20] michaelmenon commented on #659
Hi @jeydude,  we checked on six iPhone12 devices with OS versions 15.0.2, 15.3.1, 15.5, 15.1, 15.3.1 and 14.7.1 (Checked with Appstore build). Successfully Logged in and could navigate to all tabs.
We checked with Location services  enabled and Disabled State and also Low Power mode is disabled. But couldn't reproduce the crash.

Could you please let us know if the user is using the latest build f

[2022-06-28 14:50] ertjlane opened #664 "Studywide Missing Accelerometer Data"
**Describe the bug**
For a study on mindLAMP we are experiencing patient wide missing data. Multiple participants (though not all) have continuously opened the app, and kept their devices out of airplane/low power mode. Several participants in the study have received appropriate screen state data. Notably, the participants missing data are not COMPLETELY missing data, as a raw data pull and check

[2022-06-28 14:55] #644 closed

[2022-06-28 14:58] ertjlane commented on #625
One of the users has pulled the following data:
[
{
“id”: “zxndrg27psjgpmczk5mx”,
“spec”: “lamp.survey”,
“name”: “Daily Survey”,
“schedule”: [
{
“start_date”: “2021-09-29T23:30:00.000Z”,
“time”: “2021-11-20T19:30:00.000Z”,
“custom_time”: null,
“repeat_interval”: “daily”,
“notification_ids”: [
554264
]
}
],
“category”: [
“assess”
]
}
]

They commented: 'To clarify, the entire activity tab is spinni

[2022-06-28 15:17] jeydude commented on #659
Thanks for checking on iPhone 12 devices, I will inform the study team and share the info.

[2022-06-28 16:15] lukeoftheshire commented on #664
This issue has been resolved by https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/pull/139 - the true issue was a small bug with the visualization script incorrectly looking at GPS data instead of accelerometer - so for studies with accelerometer but no GPS data false results could appear.

Accel data was still being collected though!

I'm going to close this issue since the true cause was dia

[2022-06-28 16:15] #664 closed

[2022-06-29 10:14] ZCOEngineer commented on #625
@ertjlane we shall check with this data and update you on our findings

[2022-06-29 12:07] sarithapillai8 commented on #625
@ertjlane
The given survey have no settings. So I am not able to import this data in to any test study. Could you please confirm this is the actual survey data?

[2022-06-29 17:17] jijopulikkottil commented on #139
We have pushed the code.
The` wrist-state ` data collection is still not passed the QA-testing. We will update soon.

[2022-06-30 06:30] saranya-sajeev commented on #658
@avaidyam Development is completed and given for QA testing.

[2022-06-30 14:46] lukeoftheshire opened #665 "Inconsistent JSONata Activity behavior"
As seen in https://docs.lamp.digital/data_science/jsonata , `$LAMP.Activity.list()` by default uses `true` for `the ignore_binary` param. This behavior is different from other API implementations (to my mind both the JS and Python versions of the Activity list(/all_by_participant) function have ignore_binary set to false by default.

This behavior should be normalized across different languages to

[2022-06-30 19:57] Devayani0102 opened #666 "Visualization error for DBT Diary card"
**Describe the bug**
When looking at the visualization for the diary card, the dropdown for Skill used does not fit the screen (see attached screen recording). The visualization looks okay in the first week, but starting from the data entered in the second week, it does not show up properly.

First noticed for user U5128892212 on iPhone 7 and Redmi note 6 pro.

**To Reproduce**
1. go to any user a

[2022-07-01 04:56] jijopulikkottil commented on #639
Hi @Devayani0102 Could you confirm the app version using. AppStore app or Test flight app ?
The above [fix](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/639#issuecomment-1144987187) is not yet available on  appstore app.

[2022-07-01 05:49] sarithapillai8 commented on #625
@lukeoftheshire Can we get the whole activity data to debug which one is causing the issue or get the credentials to debug? The above given data didn't help in debugging.

[2022-07-01 12:23] sarithapillai8 commented on #625
@lukeoftheshire While checking the issue, we found a condition that if no studies are selected, the activity tab loader never ends. Fixed that issue and updated in dashboard-staging. Not sure if the actual issue related to this, as I can see some activities(in the screenshot and attached video) in the background which requires study selection in the top.

[2022-07-04 04:14] saranya-sajeev commented on #658
@avaidyam We have pushed the build to beta and is live now.

[2022-07-04 07:53] ZCOEngineer commented on #639
@Devayani0102 were you able to check this?

[2022-07-04 07:57] jijopulikkottil commented on #652
it is available on testflight now

[2022-07-04 15:40] mcurbelo-orangeloops commented on #646
@avaidyam #632 is a PR to address this request

[2022-07-04 17:18] #652 closed

[2022-07-04 17:26] avaidyam commented on #139
@jijopulikkottil Please merge the SensorKit code ASAP. I'm closing this issue as we've previously discussed this issue is completed now.

[2022-07-04 17:26] #139 closed

[2022-07-04 17:31] avaidyam commented on #638
@ZCOEngineer As I haven't heard from @ertjlane that the issue persists, I'm going to close the issue for now.

[2022-07-04 17:35] avaidyam commented on #665
@lukeoftheshire Are you suggesting we just change the default value of the parameter from `true` to `false` in `LAMP-server`? Or do you mean we need to update all the packages (`LAMP-js`, `LAMP-py`, `LAMP-r`, etc.)?

[2022-07-04 17:39] avaidyam commented on #255
@sarahLwagner I see you've [begun some work on the data studio/portal via this commit](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/e21a9304e531b578c6428b6ed7f83784d8995879)! Feel free to use this issue to track your changes/follow up with questions on your work on that branch.

@sarahLwagner What specifically does the `OnDemand GUI` look like? Any mockups that you or @lukeofthe

[2022-07-04 17:39] jijopulikkottil commented on #139
SensorKit code is already merged and available with latest beta release. [the issue is, we have not received the Wrist-State data yet]

[2022-07-04 17:40] avaidyam commented on #639
@jijopulikkottil I had @ertjlane check this, and it seems like the TestFlight build didn't get pushed to production yet. I'll take care of that right now. Do you know if we can make this process automatic in the CI/CD (i.e. submit to app store for production) for when we create a GitHub Release?

[2022-07-04 17:40] #639 closed

[2022-07-04 17:45] avaidyam commented on #646
@mcurbelo-orangeloops I've merged your PR! (In the future, feel free to merge the PRs on your end once code review is complete.)

[2022-07-04 17:45] #646 closed

[2022-07-04 17:45] jijopulikkottil commented on #639
Yes @avaidyam . We have done this. If we push/merge to master, then it will make a staging pointed build. And if we create a release, it will be production pointed.

[2022-07-04 17:58] avaidyam commented on #639
@jijopulikkottil Yes, but does it automatically create a release and submit the build for app store review?

[2022-07-04 17:59] avaidyam commented on #625
@sarithapillai8 Can you submit that to QA testing so we can push that fix to staging? That way the collaborators can test it and confirm.

[2022-07-04 18:03] avaidyam commented on #660
I'll move this issue to more of a `docs` issue than a `cortex` issue as you're absolutely right, @lukeoftheshire. I'll work with @ertjlane & co to add some brief info on this feature to the docs soon.

[2022-07-04 18:05] avaidyam commented on #641
@sarithapillai8 @jijopulikkottil I believe this issue is now resolved so I'm closing the issue. Correct me if it's still pending.

[2022-07-04 18:05] #641 closed

[2022-07-04 18:07] avaidyam commented on #653
@saranya-sajeev In addition to this issue, please ensure all HTTP-related errors (i.e. HTTP 403 as shown in #647) are caught and display a proper error message like "You are not logged in" or "You are not connected to the internet".

[2022-07-04 18:07] #647 closed

[2022-07-04 18:10] #586 closed

[2022-07-04 18:12] avaidyam commented on #515
This issue doesn't seem to be happening anymore.

[2022-07-05 07:54] jijopulikkottil commented on #639
No.
You mean create new version, add 'Whats New' etc.. and submit for review. right ? So are we supposed to use [fastlane deliver](https://docs.fastlane.tools/actions/deliver/) ?

[2022-07-05 11:31] divyav2020 commented on #625
We have updated in Staging

[2022-07-05 12:27] avaidyam commented on #625
@ertjlane @lukeoftheshire Can you have the collaborators experiencing this issue check on staging now? I'm closing the issue for now as QA testing was completed on the suspected fix but please do reopen if the issue isn't resolved.

[2022-07-05 17:24] ertjlane commented on #625
@avaidyam Done, I'll update when they've verified if this fixed the issue.

[2022-07-06 14:17] sarithapillai8 commented on #569
Change Request:
-For the final recall/recognition task, can you make it so that it just reflects what the patient chooses. Right now, if the patient chooses an incorrect image or incorrect location then nothing shows on the answer grid. An item only shows up on the answer grid if it is the correct item and correct location. I would like the item selected to display on the location selected regardl

[2022-07-06 14:19] avaidyam commented on #569
@sarithapillai8 Please re-open issues in addition to re-labeling if additional work is required on them.

[2022-07-06 22:48] ertjlane commented on #625
The collaborator reports that they are still experiencing this issue in the staging dashboard. An additional collaborator has reported that they are seeing the spinning wheel both in staging, and in other investigator accounts they are running under the same server, without any activity .json files imported into them. The .json files uploaded by the second collaborator is the same as that used in

[2022-07-07 05:01] sarithapillai8 commented on #625
@ertjlane We are not able to investigate on this with the above information. Can we get any test researcher account with which we can debug the issue? As the data imported into another account is not experiencing the same, we need a researcher account with which we can actually experience the issue.

[2022-07-07 06:04] saranya-sajeev commented on #653
@avaidyam Ok we will handle all http related errors and  will show proper message.

[2022-07-07 07:56] jijopulikkottil commented on #651
This fix is available on latest test flight build.

[2022-07-08 05:11] sarithapillai8 commented on #625
@ertjlane
The given credentials is a participant/patient account. Not the researcher.
We have to reproduce the issue and debug. With the provided details we are not able to do that. Please provide a test researcher account with which we can reproduce the scenario.

[2022-07-11 06:10] saranya-sajeev commented on #654
@avaidyam From the google fit source code we found that, invalid end time exception is thrown when the start time is grater than the end time. We are keeping a timestamp to save the time of last synced record and same is using for fetching Google fit data.  We have updated the code by using another variable  for fetching Google fit data and we have checked in a device in which issue was reproduced

[2022-07-11 13:47] avaidyam commented on #648
@Devayani0102 If you feel the participant is willing to test the staging build then they may do so and provide feedback, but otherwise you will need to wait for this fix to reach production status before the issue is resolved for the participant.

The GitHub issue will be closed as the issue is resolved in staging and can be reopened if you or others test staging and still encounter the issue.

[2022-07-11 16:05] ertjlane commented on #625
Understood, the user accidentally sent the incorrect credentials - these should give you access to the appropriate user account.
domain: api.mindlamp.itpmclean.org
email: ycTest@lamp.com
pw: yc123

[2:44](https://chr-dataflow.slack.com/archives/D03FELQULAG/p1657305864765319)
pw:yc123

[2022-07-12 11:26] sarithapillai8 commented on #625
@avaidyam @lukeoftheshire @ertjlane
The issue is fixed in dashboard staging.
Note :  There are no activity specs available on this given server. The loading issue was related to that.

[2022-07-12 11:43] divyav2020 commented on #666
We have updated in staging

[2022-07-12 11:45] divyav2020 commented on #663
We have updated in Staging

[2022-07-12 16:50] #625 closed

[2022-07-12 16:50] #666 closed

[2022-07-12 16:50] #663 closed

[2022-07-12 18:50] jeydude commented on #659
We tried again today, study participant downloaded most recent version of mindLAMP 2 from App Store, Location Service was ON and Low Power Mode was disabled. Once she entered the domain name, email address and password clicks Login button then app just crashed.

After that every time she clicks on the mindLAMP 2 icon from the home screen of her iPhone 12, it just flashing/crashing, not opening the

[2022-07-12 20:57] ertjlane opened #667 "mindLAMP Docs Activity Permission Specifications"
**Is your feature request related to a problem? Please describe.**
It is not clearly listed which permissions on iphone and/or android correspond to which sensors. For example, when attempting to make sure a participant had set permissions on their phone for accelerometer appropriately, we could not discern which of their iphone permissions they should enable.

**Describe the solution you'd like**

[2022-07-13 13:59] jeydude commented on #659
Yes @jijopulikkottil, we tried with 2022.6.29 version of the iOS app from app store.  I have asked for iPhone version with study team, once i hear from them I will share it.

[2022-07-13 19:00] jeydude commented on #659
Study participant is using iPhone 12 with software version 15.5

[2022-07-13 22:11] ertjlane opened #668 "Missing Accelerometer and Screen State Data"
**Describe the bug**
For a study on mindLAMP two patients are missing accelerometer data, and one is missing substantial screen state data Both participants have continuously opened the app, and kept their devices out of airplane/low power mode. The participants have both uninstalled and reinstalled mindLAMP, with no palpable effect on data quality. Notably, the participants missing data are not C

[2022-07-14 14:20] ertjlane commented on #658
We recently had another user experience this problem. They are currently utilizing the most recent version of mindLAMP, and have no configurations such that they should be receiving phone requests. I've included a video of the issue occurring here

https://user-images.githubusercontent.com/104088715/179003897-92ebc7e0-c9a2-4969-974f-46caab9edb98.mp4

Participant mindLAMP id: U0927400893
phone: Xia

[2022-07-15 14:54] ertjlane opened #669 "Missing Documentation on Server Activity Spec Configuration"
**Is your feature request related to a problem? Please describe.**
There is little to no documentation on how to configure activity specs in a new LAMP server, or said documentation is not straightforward to find.

**Describe the solution you'd like**
Documentation on how to configure activity specs for a new lamp server. This would likely be most appropriate for the "Deploying LAMP" section of th

[2022-07-15 15:33] ertjlane commented on #638
The issue has occurred again, this time without the 403 error, but with an endless spinning wheel. The app has been uninstalled and reinstalled several times, and the phone restarted. The error has also occurred on another android device, specs listed below. Both devices have access to service and/or wifi.

The user is, to my knowledge, irrelevant, since my user account would have been logged out

[2022-07-18 05:39] ZCOEngineer commented on #638
Hi @ertjlane, previously we were not getting this issue here, could you give us the user and credentials to check this here. it will be easy to debug the issue if we have an user who is currently experiencing this issue.

[2022-07-18 05:41] saranya-sajeev commented on #658
@ertjlane This is available with the latest beta build and it is not updated in production.  From the screenshot it seems user is installing the latest production build.

[2022-07-18 05:45] saranya-sajeev commented on #638
@ertjlane Could you please share the log file if possible?

[2022-07-18 05:48] ZCOEngineer commented on #668
@ertjlane are you experiencing this in android devices too?

[2022-07-18 07:48] jijopulikkottil commented on #659
When we check with crash reports, we couldn't see any from iPhone 12. Could you add some text in 'Report' option when getting a crash.

Also In login page, can you try the 'Try It' option  (as participant) and see is there any crash or not ?

[2022-07-18 07:54] jijopulikkottil commented on #668
Is this data representation (of data received) available on lamp dashboard ?

[2022-07-18 10:21] saranya-sajeev commented on #654
@avaidyam QA testing is completed and we will push this along with [653](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/653) after completing the QA testing of 653.

[2022-07-18 13:15] sarithapillai8 commented on #569
Response after update -
The game is about 99% ready and looks awesome.

program still crashes occasionally, but I have not been able to reliably reproduce it.

During the learning trials, if I make a lot of errors by tapping random items and locations multiple times, the program will sometimes not advance to the next phase. It will catch at the transition and just show a blue screen.

For the 4 it

[2022-07-18 13:22] avaidyam commented on #638
It seems like the `Device: U202AA` is actually an Android Go edition device? That could be a restrictive factor causing the issue.

[2022-07-19 15:31] ertjlane commented on #668
We have not had this issue with any android users thus far. And yes, the data is viewable on the dashboard, visualizations are attached as vega specs to the participants.

The user id's for those experiencing this issue are:
U0893781606
U5198940214
U5194750174 (this user started having strong data in the past few days, but had low data quality for weeks and it's still unclear why)

[2022-07-20 09:41] jijopulikkottil commented on #668
We are testing it on our side locally for lamp.accelerometer. Will update here soon.

[2022-07-21 07:36] jijopulikkottil commented on #668
@ertjlane when we check the lamp.analytics, GPS status is denied for these users U0893781606 and U5198940214. So it prevent the app from running in background to collect data.

We couldn't see any data visualisation map of user U5194750174 to check the data missing days. But seeing some logout events for the user U5194750174. [We will clear all queued data when user logout.]

User U5194750174 logo

[2022-07-21 14:30] divyav2020 commented on #569
@avaidyam Game is ready for production push

[2022-07-21 19:24] ertjlane commented on #658
I see - when should we expect this to be available in the production build?

[2022-07-21 19:30] ertjlane opened #670 "App Extended Load Time"
**Describe the bug**
An iphone user is experiencing extended loading times with the app.

**Expected behavior**
The app logs in within 1-2 seconds at the very most.

**Screenshots**
https://user-images.githubusercontent.com/104088715/180299547-02a28461-3e65-4df2-97d5-a0652df4a17e.MP4

**Smartphone (please complete the following information):**
 - Device: [iPhone XR]
 - Version [15.1]

[2022-07-22 08:38] divyav2020 commented on #653
We have got some issues while doing QA testing. Issue fixing is going on.  We will update the build once it is fixed

[2022-07-22 15:13] mcurbelo-orangeloops commented on #440
@avaidyam Regarding the issue we have received from LA County, this is what I have found so far.
So we need to do 2/3 things before they are ready to go

1. Unify the dashboard git branches. We currently have a feature/oauth and a feature/oauth-merge branch as a result of issues I ran into during a merge. They are using the first branch, which is a bit outdated. We should unify all the currently p

[2022-07-22 15:15] avaidyam commented on #440
@mcurbelo-orangeloops It should be possible to directly reference a Git repo for npm packages. (As we discussed on Slack.) ![image.png](https://user-images.githubusercontent.com/1361003/180470211-45bd4208-c647-4c14-b993-96a04f6e961f.png)

[2022-07-22 15:16] mcurbelo-orangeloops commented on #440
Another issue I just ran into when setting up my local environment: The dashboard has this dependency "material-ui": "^0.20.2", which is a library that seems to have been deprecated ~4 years ago. When I tried to install the dashboard dependencies I saw this error. I was able to “fix it” by using npm install --force but we should probably migrate away from material-ui to material-ui/core and remove

[2022-07-22 16:56] ertjlane opened #671 "mindLAMP Dashboard Data Report"
**Describe the bug**
On the mindLAMP dashboard, the tag 'last active data' has been providing reports of active data inconsistent with the data portal. The tag further appears green, despite reporting 'never'.

**Expected behavior**
The recent active data tags show the most recent active data shown in the portal, and if there are none, appear gray, rather than green.

**Screenshots**
<img width="1

[2022-07-22 18:38] mcurbelo-orangeloops commented on #440
Hey, we know it’s possible but wouldn’t recommend it. The branch might change or be deleted and it might result in unexpected issues down the line. It could be used as a stop-gap solution. We’re looking into github packages as a more long term one, trying to gauge the effort

[2022-07-25 11:28] saranya-sajeev commented on #638
There is no emulator available with Android Go. Android Go devices having very limited memory. So we have tried to create an emulator with low memory and tried to install Lamp from play store, but the play store app exit after sometime and I have installed directly from  Android studio. App showing spinner and then exits. App may not work properly on low memory devices.

[2022-07-25 12:19] saranya-sajeev commented on #653
@avaidyam We have handled the ClientException, ServerException, UnsupportedOperationException, HttpException, SocketTimeoutException, NetworkErrorException and UnknownHostException. We will show alert on exceptions and on tapping "OK" button app will restart. We have pushed the build to beta and is in review status.

[2022-07-25 13:08] michaelmenon commented on #653
its pushed to beta today.

[2022-07-25 13:25] mcurbelo-orangeloops commented on #440
@avaidyam Hey, I think a good compromise is to depend from a tag instead of adding a dependency directly to a branch, which is by nature unstable. What do you think about doing that instead ?

[2022-07-25 13:27] jijopulikkottil commented on #139
Currently following sensors are available on staging to Add:

com.apple.sensorkit.ambient_light
com.apple.sensorkit.wrist_state
com.apple.sensorkit.visits
com.apple.sensorkit.device_usage
com.apple.sensorkit.messages_usage
com.apple.sensorkit.phone_usage

[2022-07-25 15:00] mcurbelo-orangeloops commented on #440
I will create a new environment variable with an email that will create a credential on server boot, so that they can log in with an administrator account, and they can then configure that email to be whatever they want.

[2022-07-25 20:20] ertjlane commented on #668
@jijopulikkottil Thanks for checking this out! If I understand it correctly, GPS being denied should not interfere with accelerometer and screen state data collection. If GPS data not being permitted compromises data collection that is a bug. Is that the case, or did I miscommunicate about the sensors in question?

Yes, U519 logged out several times. However, that shouldn't compromise the data col

[2022-07-26 05:28] jijopulikkottil commented on #668
To keep the app running in background, we are depending on the location access. So if it is denied, the app may not run longer in background [which will prevent data collection in background].

About the user U519., we will collect data only when user is logged in. Also we will clear all queued data when logged out. So there is a chance to clear all collected data which are not synced to server. [

[2022-07-26 07:19] sarithapillai8 commented on #653
There was a bug in deleting participants. Credentials were not getting deleted on deleting a participant. So it was possible to login through a credential even if the participant was deleted. The issue is fixed and updated in dashboard-staging.

[2022-07-26 11:04] avaidyam commented on #653
@sarithapillai8 Can you create a new GitHub issue to track this?

[2022-07-26 11:04] #653 closed

[2022-07-26 11:06] avaidyam commented on #668
@ertjlane As @jijopulikkottil correctly pointed out, we *do* need GPS permissions in every case for background data collection to occur. Would you say this isn't clear in our documentation? If so, could you create a new GitHub issue to track that? We may need a separate new page entirely about which permissions are accessed and why for both iOS and Android.

[2022-07-26 11:06] #569 closed

[2022-07-26 11:09] avaidyam commented on #638
@saranya-sajeev Thanks for the testing!

@ertjlane Can you update the documentation to share that we do not support Android Go or low memory/CPU devices?

[2022-07-26 11:10] avaidyam commented on #139
@jijopulikkottil This is great, thank you! @carlan1 is currently testing these on staging. At this time, do these sensors come with any configurable parameters?

[2022-07-26 11:11] #668 closed

[2022-07-26 11:19] avaidyam commented on #440
@mcurbelo-orangeloops I think because this is a temporary situation specific to the `feature/oauth` & co. branches across repositories, this is a good idea!

[2022-07-26 12:15] jijopulikkottil commented on #139
@avaidyam we can set frequency for `com.apple.sensorkit.ambient_light`. [Default is 1 if not specified.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-1149421546)

[2022-07-26 13:56] sarithapillai8 opened #673 "Bug in participant delete - Credentials are not getting removed"
**Describe the bug**
Credentials were not getting deleted on deleting a participant. So it was possible to login through a credential even after we delete  the participant.

[2022-07-26 13:58] sarithapillai8 commented on #673
This fixed and updated in dashboard-staging.
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/637

[2022-07-26 20:53] jeydude opened #674 "Missing screen_state in iPhone"
We are NOT getting screen_state from iPhone, we have noticed we were not getting after April 13th.

I have the screen_state sensor added to the study. Please let me know if there is anything we need to do get the screen state information in iPhone again.

[2022-07-26 21:00] jeydude commented on #674
here is the image I am using ghcr.io/bidmcdigitalpsychiatry/lamp-server:latest , updated on May 27th.

Here is the sensor_spec for screen_state
{
  "_id": "lamp.screen_state",
  "_rev": "3-10d9d9ed4730d888f85f2bb4d666c5e7",
  "type": "object",
  "properties": {
    "battery_level": {
      "type": "number"
    },
    "event_type": {
      "type": "string",
      "enum": [
        "locked",

[2022-07-26 21:48] jeydude commented on #674
Never mind, data is coming in as device_state in sensor_event database.

[2022-07-26 21:48] #674 closed

[2022-07-27 07:55] sarithapillai8 commented on #671
@avaidyam
The tag color appearing for both active and passive data are based on the passive data(gps/accelerometer). Tooltip is showing based on last activity event data for "Last Active" and sensor data for "Last passive". Is it to ok show different colors for the tag? The code from old version also showing the same. That same functionality was reusing here.

https://github.com/BIDMCDigitalPsychi

[2022-07-27 12:50] #673 closed

[2022-07-27 12:51] avaidyam commented on #671
@sarithapillai8 Yes, the colors should be different and it looks like the code to show that exists. Why isn't it working?

[2022-07-27 12:57] sarithapillai8 commented on #671
@avaidyam
The colors will be same as both based on passive data now. Tooltip shows the correct data. I can change it to show based on last activity event data.
One more think to confirm - 'Last active' is actually considering latest activity event data timestamp. The tooltip includes the latest activity event timestamp and the last login time in brackets. So these values might not match all the ti

[2022-07-27 13:02] sarithapillai8 commented on #671
@avaidyam One more thing to clarify. Do we need to show latest update by fetching the data frequently?

[2022-07-27 14:48] lugray1 commented on #615
This seems to be fixed in staging! 🎉

[2022-07-27 14:51] avaidyam commented on #671
No, you don't have to show the latest data always. I'm not sure what you mean by the proposed change. Can you provide an explanation/diagram/mockup?

[2022-07-27 15:10] sarithapillai8 commented on #671
![image](https://user-images.githubusercontent.com/63710347/181282315-b8bc2bee-e3ad-4f41-85d5-14ae0d593faf.png)
Like you can see, the tool tip showing different date range. In brackets you can see last login date time and 3weeks ago is the latest activity event submission date time. I was asking about this. What is actually expected here?
Note: This screenshot is after changing 'Last Active' tag c

[2022-07-27 15:12] avaidyam commented on #671
I don't think anything else is necessary here. The issue was that "Never" would show as green and if that has been fixed, it should be fine.

[2022-07-27 15:24] sarithapillai8 commented on #671
I hope the date time showing in tooltip is fine. I asked for the clarification because it is little bit confusing. 3 weeks ago an activity event generated, but last login done today. Color changes are done and QA testing on that was completed in ZCO staging. We can update it in dashboard staging now if no more changes are required.

[2022-07-27 15:29] avaidyam commented on #671
Yes, that's fine.

[2022-07-27 15:31] lugray1 commented on #604
Need to remove 'score' parameter from documentation, but other than that the documentation and code are the same.

[2022-07-27 15:43] lugray1 commented on #604
@avaidyam done!

[2022-07-27 16:08] lugray1 commented on #662
This seems to be fixed in staging! 🎉

[2022-07-27 16:31] divyav2020 commented on #671
We have updated in staging

[2022-07-27 18:09] carlan1 commented on #569
Game functions as intended in staging.

[2022-07-27 18:29] jijopulikkottil commented on #670
Could you provide a test user under same Group/Study?
Are you experiencing any delay to load home page (Assess tab) when login (logout and login) ?

[In staging, we are also experiencing a delay but the login page flashes. let us investigate it.]

[2022-07-27 18:35] ertjlane commented on #646
This issue appears to be fixed in staging!

[2022-07-27 19:18] carlan1 commented on #634
Appears fixed in staging.

[2022-07-27 19:22] sarahperret2 commented on #649
seems to be fixed in staging

[2022-07-27 19:26] sarahperret2 commented on #661
seems to be fixed in staging

[2022-07-27 19:38] ertjlane commented on #515
This issue occurred in testing. Using an api testing account & on non-api testing account on testflight.

Api staging user id: U9245591907
Non api user id: U4829584893
Device: iPhone 6s
Software version 15.6

https://user-images.githubusercontent.com/104088715/181357277-0b15308e-2349-4bc4-a4ac-5b9cf71ece23.MP4

If the above recorded wait time is lower than than which prompted this issue originally

[2022-07-27 19:48] Devayani0102 commented on #586
This seems to be fixed in staging

[2022-07-27 19:49] Devayani0102 commented on #633
This seems to be fixed in staging

[2022-07-27 21:16] ertjlane commented on #625
This seems to be fixed in staging!

[2022-07-27 21:16] ertjlane commented on #641
This seems to be fixed in staging!

[2022-07-28 03:02] Devayani0102 commented on #442
This seems to fixed in staging

[2022-07-28 13:26] noyalon commented on #663
“This seems to be fixed in staging!"

[2022-07-28 13:27] noyalon commented on #620
“This seems to be fixed in staging!"

[2022-07-28 13:50] noyalon commented on #652
This seems to be fixed in staging!

[2022-07-28 13:54] mcurbelo-orangeloops commented on #440
We've added a new property to the environment.

`DB_ADMIN_USERNAME="admin@admin.com"` -> This property, when set & OAuth is enabled, will create admin credential without a secret key for use with third party log in.

[2022-07-28 15:57] Devayani0102 commented on #658
This seems to be fixed in staging.

[2022-07-28 18:29] carlan1 commented on #602
Android accelerometer data is in proper format:
{'data': {'x': 4.976086616516113,
    'y': 0.1944964975118637,
    'z': 8.631780624389648},
   'sensor': 'lamp.accelerometer',
   'timestamp': 1659032699935}
However, there appears to not be additional information for Android device_motion? The extra fields are empty.
{'data': {'attitude': {},
    'gravity': {},
    'magnetic': {'x': -15.090576171875

[2022-07-28 18:44] carlan1 commented on #599
Appears fixed in staging

[2022-07-28 20:41] ertjlane opened #675 "Clarifying Need for GPS to Collect Sensor Data"
**Describe the bug**
It could be a bit clearer that gps permission must be given in order to collect sensor data. This is listed in the GPS entry of [https://docs.lamp.digital/using/sensors](). It would be useful to have the importance of GPS noted in the top paragraph of the page, as this will emphasize the centrality of giving it permission.

Similarly, in [https://docs.lamp.digital/app](url), w

[2022-07-29 14:47] lugray1 commented on #508
This seems to be fixed in staging! 🎉

[2022-08-01 12:23] jijopulikkottil commented on #651
Due to the script injection, the app [load time increases.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/670) So we can remove it and do another workaround to fix this issue. We can try to invoke a javascript function from WebView's didConnect delegate and can check the response to determine it is loaded or not!

[2022-08-01 12:23] jijopulikkottil commented on #670
This issue happened because of the fix https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/651. So we can remove the script injection to fix this issue.

[2022-08-01 13:14] michaelmenon commented on #515
Hi @sarithapillai8 can we check on this

[2022-08-01 13:22] sarithapillai8 commented on #515
@avaidyam
Could you check and let me know if we need to work on this? I think this delay was there for long time. The delay is there to get the activity icons from tags when loading the assess tab activities.

[2022-08-01 13:25] michaelmenon commented on #670
We will update in 2-3 days

[2022-08-01 18:00] ertjlane commented on #638
@avaidyam @saranya-sajeev
Yes I can do that. Thanks for looking into it guys!

[2022-08-02 20:42] AsherCohenBerkeley opened #676 "Add third tab under Cortex features in docs.lamp.digital"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In docs.lamp.digital, under Cortex&API>Cortex>Features, there are only two tabs, Primary and Secondary.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

There should be three tabs, Raw, Pri

[2022-08-02 20:56] AsherCohenBerkeley opened #677 "Backwards Compatibility for Cortex step_count"
**Describe the bug**

Lack of backwards compatibility for cortex.secondary.step_count.step_count

**To Reproduce**

Try running cortex.secondary.step_count.step_count on data earlier than March 2022 like a SHARP participant

**Expected behavior**

There should be

(1) backwards compatibility in this cortex function
(2) a script for data migration of existing legacy data to the new format
(3) some

[2022-08-02 21:49] dcurrey88 commented on #677
I'm sorry we didn't document our reasoning (you guys can add docs on this) but to provide some insight, the reason we chose to not preserve backwards compatibility for step count is because the step data was not good. There were different data formats across Android / iOS and there were questions about whether steps were cumulative (and if so when they reset) (https://github.com/BIDMCDigitalPsychi

[2022-08-02 23:04] AsherCohenBerkeley commented on #677
Thank you so much for this, Danielle. Indeed, for SHARP, we decided to just use the old version of Cortex. I think going forward we should be ok w j the newer version.

[2022-08-02 23:04] #677 closed

[2022-08-02 23:07] jeydude opened #678 "Push notification analytics data missing in the sensor event couchdb database"
If we schedule any activities in the mindLAMP dashboard, during the actual schedule time study users are getting push notification messages in their phone for their scheduled activities, but I am not seeing the "lamp.analytics" entry with data type='notification" in the sensor_event database in the CouchDB. This analytics data missing for quite sometime, i just noticed it because one of the study

[2022-08-03 15:24] #671 closed

[2022-08-03 15:25] avaidyam commented on #670
@jijopulikkottil @michaelmenon I’m closing this issue as a duplicate of #651 - let’s continue the conversation there.

[2022-08-03 15:29] avaidyam commented on #602
@saranya-sajeev Can you manually request the sensor for its latest data point? If so, you should be able to fill in the other fields.

[2022-08-03 15:42] carlan1 opened #679 "LAMP UI simple/advanced mode button change"
The LAMP dashboard / data portal UI does not make the option to change from simple mode to advanced mode very clear. At the moment, it can easily be overlooked, and many have missed it entirely. Is there some way we can make it more visible?

Current implementation has the following appearance:
![image](https://user-images.githubusercontent.com/103652751/182650788-4df96511-d420-414c-8643-1103d76f6

[2022-08-04 06:12] Linoy339 commented on #678
@jeydude .
Can we confirm that:

-  The notifications are getting sent properly.
- Can you provide the server url and some participant ids(which includes the participant id who is not getting notified) to test?
-  Also which version of mindlamp you are using?

[2022-08-04 09:37] sarithapillai8 commented on #679
@carlan1
Do we need append this warning to existing message or replace the existing one?
I am changing this to feature as this is not a bug.

[2022-08-04 10:46] michaelmenon commented on #515
Team will be working on caching the icons.

[2022-08-04 13:34] avaidyam commented on #679
@carlan1 I think if we add more notifications it might confuse the user and clutter the UI. @sarithapillai8 Please just change the color of the button to the default style (it should be white with blue text).

[2022-08-04 13:38] saranya-sajeev commented on #602
@avaidyam There is no option to manually fetch the sensor data.

[2022-08-04 15:34] jijopulikkottil commented on #670
I reported this issue was due to script injection in #651. But it was not. So reopening this issue.

[2022-08-04 16:00] ertjlane commented on #671
This appears to be resolved in staging!

[2022-08-04 16:08] jijopulikkottil commented on #651
As the issue mentioned in #670 is not related to script injection, we are closing this.

[2022-08-04 16:08] #651 closed

[2022-08-04 20:28] AsherCohenBerkeley opened #680 "Reorganize LAMP-platform/docs in Github"
In GitHub, LAMP-platform/docs should be reorganized such that the files correspond one-to-one with the pages as they appear on docs.lamp.digital. Right now, if one wants to find a specific piece of documentation in GitHub, they have to more or less randomly guess which file it is in.

[2022-08-05 13:47] divyav2020 opened #681 "Issues in Try It - Demo"
1. Try It - Open researcher - open Profile settings -Added a game (eg: jewel). then edited and saved. Then scheduled. Then opened the edit screen and tried to edit/duplicate. Edit and duplicate buttons are in disabled mode

 2.  Try It - Open researcher - open Profile settings -Opened a breathe game and saved. Then scheduled. Then opened edit screen again. But shows progress image only.

3. Try It

[2022-08-05 14:49] Tuna9129 opened #682 "Cron job not running at designated time"
**Describe the bug**
Cron job (digital_clinic_daily_q in portainer) not running at designated time. I have tested different times but it doesn't seem to matter what time I specify.
When I run the script from terminal (chang/cron_jobs/daily_data_q_checks.sh), it works fine and sends me the correct msgs on the specified slack channel
Seems like something is wrong with maybe my container config?

**T

[2022-08-08 00:19] Tuna9129 commented on #639
This seems to be fixed in staging!

[2022-08-08 00:25] Tuna9129 commented on #606
This seems to be fixed in staging!

[2022-08-08 00:33] Tuna9129 commented on #626
This seems to be fixed in staging!

[2022-08-09 10:32] jijopulikkottil commented on #670
The time taken by app is improved now.  Code is pushed and staging pointed build 2022.8.9 will be available on test flight.

[2022-08-09 18:28] dcurrey88 commented on #682
I don't know if this was resolved, but if you go to the failed task and look at the logs (click the icon that looks like a document under Actions) then you'll see the errors. It looks like you missed pip installing a package in your script.

[2022-08-09 19:24] Tuna9129 commented on #682
hello! thank you! had to upgrade pip and sys path insert cortex.

[2022-08-10 11:23] avaidyam opened #685 "Integrate CRONJob Dockerfile with LAMP IDE Dockerfile"
Currently there is a need to customize the `python3` Docker image for each required analysis script (automation). Instead, it would be simpler to have a non-interactive mode for the LAMP-ide that could be used to run one-shot scripts.

[2022-08-10 12:23] divyav2020 commented on #515
We have updated in staging

[2022-08-10 12:23] divyav2020 commented on #679
We have updated in staging

[2022-08-10 12:25] divyav2020 commented on #679
We have updated in staging
[LAMP_Admin Website_LAMP UI simpleadvanced mode button change.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9299934/LAMP_Admin.Website_LAMP.UI.simpleadvanced.mode.button.change.xls)

[2022-08-15 17:36] #682 closed

[2022-08-19 05:03] sarithapillai8 commented on #681
2 & 3 issues are fixed. First one needs to be checked in detail. We will check and update.

[2022-08-24 08:40] jijopulikkottil opened #686 "Crash when app launch on iPad"
The latest version 2022.7.13 is crashing on iPad. This is because of SensorKit library.

To fix this, we can optionally load the library and can ignore SensorKit sensors if the device is not iPhone.

[2022-08-29 14:59] Devayani0102 opened #687 "Changes to DBT card"
Can we make the following changes to DBT diary card permanent:

Currently we have the following 'Urges' questions in every diary card:
![Screenshot 2022-08-29 102702](https://user-images.githubusercontent.com/103677721/187229683-352a99c7-9f90-4d60-b0aa-3bd59aeedfa9.png)
![Screenshot 2022-08-29 102644](https://user-images.githubusercontent.com/103677721/187229704-19401677-8569-4c09-abb2-1af9fd6f4df

[2022-08-30 20:58] Tuna9129 opened #688 "Issues with visualization attachments (from cortex to mindLAMP) in mindLAMP portal tab"
**Describe the bug**
When I go to the portal tab on mindLAMP after attaching the visualizations via cortex (and enabling them on the Portal by choosing the data I want to see on the dashboard), I will see the visualizations I want. However, I also see something weird that should not be there. It happens on both my iPhone and my laptop. My coworker also noted the same issue on their devices as well

[2022-08-30 22:12] Tuna9129 opened #689 "mindLAMP tabs keep showing pop-up that gives an introduction/description of that tab"
**Describe the bug**
Whenever patients open up mindLAMP and click on one of the tabs, a popup (on the bottom) describing the tab comes up each time that the patient clicks on that tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mindLAMP
2. Click on any tab such as Manage
3. A popup on the bottom shows up saying "Welcome to the Manage section. Take steps to refocus, reflect, and re

[2022-08-31 01:43] lukeoftheshire commented on #688
Can you let me know the python code that you ran to get this in cortex?

Also, can you run list_attachments and also get the stored value of 'lamp.selectedExperimental' on the participant in question? This looks like LAMP is trying to find an attachment that doesn't exist.

Basically, the way the participant portal page works is the tag has to start with 'lamp.dashboard.experimental.NAME' and then

[2022-08-31 03:41] sarithapillai8 commented on #687
@Devayani0102

 - Are these expected at the end of Ineffective section along with user added items?

 By matrix , do you mean to include column headings for these options? I understood the above 5 should come along with user added emotions list.

Can I get the researcher for this? Which server address to be used - api-staging or api server?

[2022-08-31 13:50] Tuna9129 commented on #688
Sure! I've put it in a screenshot.

So I think you're right. When the stored value of 'lamp.selectedExperimental' is returned, it returns BOTH 'lamp.dashboard.experimental.NAME' AND just 'NAME' for every single visualization.

<img width="814" alt="image" src="https://user-images.githubusercontent.com/105741216/187694161-5b9c6cc0-f579-4158-92f5-9bde99afda17.png">

[2022-08-31 14:00] lukeoftheshire commented on #688
Yup - so the "bug" here is most likely in the code that generated/attached these tags. If you want to post it I can take a look (up to you!). If this was generated only with cortex functions (as opposed to someone writing a block of code) it should be looked into so we don't have buggy methods in cortex.

Otherwise, a solution to this is probably not to show tags that don't load on the portal page

[2022-08-31 14:07] Tuna9129 commented on #688
Thanks for the response!

This was generated only with the cortex function (cortex.visualizations.participant.passive(id))
A coworker was also having a similar issue so I think it is an issue with the relevant methods in cortex

Should I reassign the issue to orangeloops?

[2022-08-31 15:28] sarithapillai8 commented on #689
@Tuna9129
Once the popup is closed, it will not show up again. That was the requirement. It will show until the user closes it. Could you confirm on this and let us know if we need to change the functionality?

[2022-08-31 15:32] Tuna9129 commented on #689
Hello! Thank you for your response. So yes, that was the requirement and the expected behavior, but the pop ups keep showing up.

I have attached a video showing the unexpected behavior. As you can see, even after closing the popups (and then closing the app), if I re-open the app, the popups show up again.

![2059A0D4-C2BE-4107-898C-ABEA3399BEE1_1_102_o](https://user-images.githubusercontent.com/

[2022-08-31 17:07] jijopulikkottil commented on #689
@Tuna9129 Thanks for the details.
We were clearing the cache on every app launch, so clearing the cache leads to resetting the states of popups on every app launch.
With the #670 issue fix, we are clearing the cache only when user logged out. So this issue is also resolved.

The latest staging pointed test flight version [2022.8.24 (389)](https://testflight.apple.com/join/TSpdLc6U) is working fine

[2022-08-31 17:18] Tuna9129 commented on #689
Great! Thank you!

[2022-08-31 17:18] #689 closed

[2022-09-01 12:30] saranya-sajeev opened #690 "Android Github release failed due to version code issue."
@carlan1 @avaidyam We have fixed the version code issue and committed.  Could you please try to create the release?

[2022-09-01 20:34] Devayani0102 opened #691 "User getting unexpected notifications"
**Describe the bug**
User U9938684473 has been getting notifications for activities that have been deleted. See the video attached below.

https://user-images.githubusercontent.com/103677721/187991586-30275e39-5bcd-4b5a-8ebc-14dec9a7694b.MP4

Currently, the user does not have any activities assigned. She still gets notifications for 'cognitive games' and 'evening' activities.

**Smartphone (please

[2022-09-05 10:27] jijopulikkottil commented on #691
We are able to reproduce it if we remove the activity just before the next notification firing time. But it will appear only once after the activity-delete [as per the repeat interval and connectivity].
e.g: Suppose we schedule an activity with hourly say 10 am. And got a notification @ 11 am. If we remove that activity at 11:45 am, we may receive the activity notification one more time at 12 pm.

[2022-09-06 17:31] Devayani0102 commented on #687
Yes, that will make the most sense.

The above 5 should come along with user added emotions list

Used api server and researcher id is skb6k99hbamb5g6m70rg  and user id is U7591765158

[2022-09-06 17:54] Devayani0102 commented on #691
The notifications for "Cognitive Games.." pops up at 4:30 every day, and "Evening.." at 4pm every day.

I want to note that while troubleshooting, I deleted some other activities and they are not firing any notifications. This issue might be specific to just those particular activities.

[2022-09-07 10:37] avaidyam commented on #688
@Tuna9129 I've reassigned the issue for you. Please be sure to add the right labels and project to each GitHub issue when creating them. //cc @ertjlane @carlan1 @lugray1

[2022-09-07 17:33] carlan1 opened #692 "Release failed with exit code 1 - Android core"
Upon new release (Hotfix Release 9.7.2022), we appear to get a new error with error code 1.

![image](https://user-images.githubusercontent.com/103652751/188942191-34ec17dc-5391-4b5b-908a-9770db9f96a1.png)

@saranya-sajeev

[2022-09-07 17:35] carlan1 commented on #692
![image](https://user-images.githubusercontent.com/103652751/188942822-e6c05203-131b-42e8-a9a5-0a0ea4e94085.png)
Further errors have been provided.

[2022-09-07 23:30] Tuna9129 commented on #688
ok, will do, thank you!

[2022-09-07 23:35] mcurbelo-orangeloops commented on #688
Hey @avaidyam and @Tuna9129 , I think this was mistakenly assigned to me ?

[2022-09-08 21:08] michaelmenon commented on #691
Thanks @Devayani0102 , team will get back on this after testing by Monday, We have 2 days off(today and Friday) at the dev center so will update on this by Monday.

[2022-09-09 14:11] ertjlane opened #693 "Server Address Dropdown Save Feature"
When using the mindLAMP server address dropdown, there is a set list of server addresses available, along with the option for the user to type their own in. It would be preferable if server addresses entered by specific users were saved to the list, on a user by user basis. I.e. a specific user will be able to save the server address they enter, but not all users can see all server addresses saved

[2022-09-09 15:38] ertjlane opened #694 "Add LAMP Domain Name to Dropdown"
**Is your feature request related to a problem? Please describe.**
Collaborators utilize a specific API address when logging into mindLAMP which is not in the dashboard drop-down. Users under this collaborator may have been entering the incorrect API as a result.

**Describe the solution you'd like**
Add 'mindlamp-api.pronet.med.yale.edu' to dropdown options

<img width="1440" alt="Screen Shot 202

[2022-09-12 07:07] Linoy339 commented on #691
@Devayani0102 . Can you please let us know the researcher?

Also, Can you confirm whether these notifications triggered more than 1 day after deletion?

[2022-09-12 11:16] saranya-sajeev commented on #692
@carlan1 could you please try now. We have committed a fix.

[2022-09-12 13:05] michaelmenon commented on #687
@sarithapillai8  is working on it and we will update on this as soon as we complete the QA. we will update the GitHub status once moved to QA

[2022-09-12 13:05] michaelmenon commented on #681
It is already in staging please test.

[2022-09-12 13:05] carlan1 commented on #681
Fix is in staging.

[2022-09-12 13:33] michaelmenon commented on #681
As Saritha mentioned #2 & #3 issue is fixed. #1 one needs to be checked in detail. Team will update on that asap.

[2022-09-12 13:39] sarithapillai8 commented on #681
This is not fixed. The reason for this bug is that we are not having full properties in demo_db file for all activities. Could you please let me know the priority for this? #2 and #3 are ready for testing.

[2022-09-13 12:18] saranya-sajeev commented on #692
@carlan1 Could you please try now. We have already tried to create a release without uploading to playstore with today's date as tag. So please create another tag.

[2022-09-13 13:05] saranya-sajeev commented on #692
Ok thanks @carlan1.

[2022-09-13 13:39] carlan1 commented on #692
We have since received more errors as detailed below.
![image](https://user-images.githubusercontent.com/103652751/189916318-e2e815a1-c3a9-45ef-a70d-b8b81c7926dd.png)

[2022-09-13 18:25] carlan1 commented on #681
We can keep low priority for now.

[2022-09-14 06:02] saranya-sajeev commented on #692
@carlan1 wearos workflow is not working properly, only mindLamp app workflow is working. Seems it is success.

[2022-09-14 08:30] Linoy339 commented on #691
@Devayani.  There was a fix to be done in activity delete: The issue was that notification was getting fired for once if we delete activity and this won't appear in the next schedule time. This is fixed in staging now( It will not fire after activity delete)
We can push to production after testing it.

Can you please confirm on this :
Did you get the notification which you mentioned above for the

[2022-09-14 13:37] carlan1 commented on #692
Thansk @saranya-sajeev. Closing this issue now.

[2022-09-14 13:37] #692 closed

[2022-09-16 07:30] divyav2020 commented on #687
We have updated in Staging
[LAMP_Admin Website_LAMP DBT change.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9581691/LAMP_Admin.Website_LAMP.DBT.change.xls)

[2022-09-16 13:42] Devayani0102 commented on #691
Yes, these notifications are still triggered every day.

[2022-09-16 17:43] Devayani0102 commented on #687
I just tested it in staging. For the 'urges', we have 'die by suicide and 'quit therapy' hardcoded. We also need to add the remaining 4 ("die", "suicide", "use/drink", self-harm").

Also, Is it possible to make adding 'emotions' while making a new diary card optional? Right now, you have to add at least one emotion (in addition to the one hardcoded) for the DBT diary card to work.

[2022-09-19 05:24] Linoy339 commented on #691
@Devayani0102. There was a minor fix in LAMP-worker Its done in staging and got verified by QA.

@avaidyam  . Can you please push Lamp-worker to production, so that this issue gets resolved?

[2022-09-19 05:40] ZCOEngineer commented on #687
Sure @Devayani0102, we shall update and let you know.

[2022-09-19 12:09] michaelmenon commented on #659
@jeydude is there any update on this or should we close this ticket.

[2022-09-19 13:16] carlan1 commented on #678
@jeydude Do you have updates regarding this issue?

[2022-09-20 01:38] #659 closed

[2022-09-20 01:38] #678 closed

[2022-09-20 06:23] saranya-sajeev commented on #692
@carlan1 the release created is live in beta and it is pointing to production. You can move it to production from beta.

[2022-09-20 12:15] sarithapillai8 commented on #687
@Devayani0102 Changes are updated in dashboard-staging. Please have a look.

[2022-09-20 14:23] carlan1 commented on #691
New LAMP-worker release has been made.

[2022-09-20 14:23] #691 closed

[2022-09-20 14:25] carlan1 commented on #690
Release has since been made.

[2022-09-20 14:25] #690 closed

[2022-09-20 20:40] Devayani0102 opened #695 "Survey Visualization issue on desktop"
**Describe the bug**
The survey visualization in the question view shows 'Nan' instead of dates( see attached screenshot). This only happens while using a desktop browser and not on smartphones.
<img width="803" alt="Screen Shot 2022-09-20 at 4 08 12 PM" src="https://user-images.githubusercontent.com/103677721/191356540-47354583-4559-4608-92cf-0ac700d1722b.png">

**To Reproduce**
and
**Expected be

[2022-09-20 20:58] Devayani0102 opened #696 "Date format change for DBT Diary Card"
For the DBT Diary card, is it possible to switch the date format? For example in the image below- is it possible to say 7/19- 7/26 instead of 7/26-7/19.

<img width="632" alt="Screen Shot 2022-09-20 at 4 54 04 PM" src="https://user-images.githubusercontent.com/103677721/191363041-8dd0721e-0919-4a7c-a005-f6b57523750a.png">

[2022-09-21 03:37] ZCOEngineer commented on #695
@Devayani0102, We shall check this and update

[2022-09-21 03:40] ZCOEngineer commented on #696
@Devayani0102, we shall check and update

[2022-09-21 12:57] divyav2020 commented on #695
We have updated in staging

[2022-09-21 12:58] divyav2020 commented on #696
We have updated in staging

[2022-09-22 20:08] Devayani0102 commented on #687
More changes requested:

1. Change the scale for emotions and targets to read: **'0= Not at all- 5= Extremely Strong'** instead of '0= Not at all- 5= Extremely'.
2. In Emotions, change 'sad' to 'sadness'
3. In Urges, remove 'Use/Drink' and 'Suicide'

[2022-09-22 20:22] Devayani0102 commented on #695
![IMG_2483](https://user-images.githubusercontent.com/103677721/191843333-d5c9e29a-d0fd-4471-a1ff-2b73d256ff6a.PNG)

When I tried testing this in staging, this error comes up as soon as I click to access any visualization.

[2022-09-23 08:26] divyav2020 commented on #695
We have updated in Staging

[2022-09-23 08:26] divyav2020 commented on #687
We have updated the changes in Staging

[2022-09-26 17:19] ertjlane opened #697 "mindLAMP App Translation"
Introducing translated versions of mindLAMP

mindLAMP Translations in French, German, Danish, Italian, Spanish, Mandarin, & Korean. Translations are provided by independent translation bureaus, and simply need to be coded into the platform.

[2022-09-27 02:48] ertjlane commented on #697
Hello, I've attached here an additional set of translations, supplemental to those that have already been provided via email.
[Archive 2.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9651047/Archive.2.zip)

[2022-09-28 08:40] sarithapillai8 commented on #697
We already have Spanish translation file. So do we need to replace the current one with this newly provided one?
@ertjlane

[2022-09-28 17:38] ertjlane commented on #697
@sarithapillai8 I suspect the Spanish translation file is identical to the one I shared in the comment here. Could you check and make sure, and if not please send me the file?

Also  what is the ETA we can expect for these translations to be instantiated? Last I spoke to the team it was two weeks, but we would like if this first round was done sooner - though we are expecting another set of transl

[2022-09-28 19:21] mcurbelo-orangeloops commented on #693
@ertjlane
This is a small recording of a proposed solution for both this and #694

Let me know what you think

https://user-images.githubusercontent.com/42544460/192870097-e3edeb18-8e5a-40af-91b7-6cdfb36d990b.mov

[2022-09-28 20:10] ertjlane commented on #693
@mcurbelo-orangeloops This is perfect, thank you! It occurs to me that it makes sense to remove 'mindlamp.pronet.med.yale.edu', since it is functionally being replaced by the -api version. But regardless that's exactly what we're looking for.

[2022-09-29 05:08] sarithapillai8 commented on #697
Please find the current file here - [es.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9671025/es.zip)
The file contents seems different.

It seems many more translations needed for completing this translation. We hope more strings will be provided. Do you want to update dashboard staging partially with the provided translations? so that you can check and update the files accor

[2022-09-29 14:31] ertjlane commented on #697
For the Spanish translation it does appear that there is some overlap, but yes they have different content. Would it be possible for your team to unify the content of the two files, since you are already doing a partial translation?

There will be another set of translations coming which will add to this as well. And yes, updating the dashboard with the partial translations for now would be fantas

[2022-09-29 14:57] mcurbelo-orangeloops commented on #693
@ertjlane I've removed the non-api version from the options and it's now waiting for review

[2022-09-29 20:02] mcurbelo-orangeloops commented on #693
@ertjlane This was fixed here: https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/643

[2022-09-29 20:02] #693 closed

[2022-09-29 20:02] mcurbelo-orangeloops commented on #694
Fixed with this PR: https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/643

[2022-09-29 20:02] #694 closed

[2022-09-30 14:42] ertjlane commented on #697
Thanks for checking!

Thank you for updating the dashboard, and promptly! That is noteworthy that only a small portion of the strings seem to be translated, since three different people have been through the mindLAMP dashboard copying text to assemble these translations, and the majority of them should have been covered by the 'old_text' files. Nothing your team did wrong, it's just striking to me

[2022-09-30 17:24] ertjlane commented on #697
If it's possible, could you attach the translated Spanish file (with the english left for those parts that are missing), and the original only English string file, so I can see exactly how much translated material is still missing?

[2022-10-03 08:35] sarithapillai8 commented on #697
Yes.

[2022-10-03 13:03] michaelmenon commented on #681
Team is working on #1 and will update on this with an ETA.

[2022-10-04 19:32] carlan1 opened #699 "SensorKit duplicated SensorEvent"
Upon calling SensorKit's messages sensor, some of the events appear to be duplicates.

<img width="992" alt="Screen Shot 2022-10-04 at 3 23 11 PM" src="https://user-images.githubusercontent.com/103652751/193908817-b656933a-a8e2-43fd-a7b9-f649c45da379.png">

This appears to be the case for some other sensors as well.

The test user in question here is 'U4284235549', using beta app in iOS.

[2022-10-05 01:53] ZCOEngineer commented on #699
@carlan1 we shall check this and update.

[2022-10-05 15:15] ertjlane commented on #697
Thanks for this, I'll use these as a frame of reference and a final check. We have received updated files for Danish (completely new), Korean and German. We are currently waiting on further updates from Chinese, Spanish and Italian.
I've attached updates for all languages here, with all previous translations included in the new files as you specified. Please implement these asap, and once that is

[2022-10-05 15:37] mcurbelo-orangeloops commented on #688
@lukeoftheshire @avaidyam I just created this [PR](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/647) which I believe will fix this problem. as mentioned in the PR though, I have no way to verify because I don't have access to any data sets that will replicate this issue.

[2022-10-05 15:50] carlan1 opened #701 "SensorKit timestamp inconsistency."
Some of the time and date intervals report either in seconds, in the case of time intervals, or seconds since January 1 2001, as is the case for date intervals. We will need this data to be reported in ms or unix timestamps since 1970.

I post an example below, retrieved from the visits feature, where the arrival and departure intervals are reported as seconds since 2001:
`{'distanceFromHome': 332

[2022-10-05 17:37] mcurbelo-orangeloops commented on #665
I've just created a PR for this. It looks like `Activity.Sensor.list()` also has the default set to true ([here](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/5a2739b07d6a4746e87dec5682e5a22577cb861c/src/service/Query.ts#L182)
Should I also change that one to false so it is consistent across the board ?

[2022-10-05 20:03] avaidyam commented on #688
@Tuna9129 I've merged the PR so please check the staging Dashboard. Also, @lukeoftheshire @Tuna9129 the PR removes static PNG/image support - is that okay?

[2022-10-05 20:05] avaidyam commented on #665
Sure! That would be helpful. Also, `jsonata` upstream has finally merged my Promise-based rewrite so it should be possible to check whether we can switch to using the main library instead? It's not urgent by any means though.

[2022-10-05 20:09] mcurbelo-orangeloops commented on #688
@avaidyam I can re add the support on a different way, the reason I went with outright removal is because it would _always_ show an empty image. The image tag was on the `else` branch of this statement `visualizations["lamp.dashboard.experimental." + x] !== null` where the visualization result was always nil and being used as the src for the image, therefore always showing empty.

[2022-10-05 20:10] avaidyam commented on #688
Ah, that's a great catch! Thanks, could you add the functionality back in a more robust way? Vega graphs are our goal but we'd like image fallback just in case.

[2022-10-05 21:19] mcurbelo-orangeloops commented on #688
Any ideas for what the condition should be for displaying either ? Not too familiar with the data being shown so any help is appreciated. Or is it a matter of "try one, if it doesn't work, try the other one"?

[2022-10-06 05:07] ZCOEngineer commented on #701
@carlan1 we shall check this and get back

[2022-10-06 05:34] sarithapillai8 commented on #697
Updated dashboard-staging with these new set of files.

You can see the language texts in login screen.
![image](https://user-images.githubusercontent.com/63710347/194222263-89dc7c51-47fd-4916-8e83-84625fadbdbb.png)
Please have a look and let me know if there is any mistake in matching the language code.
Currently using the following ones :
"en-US", "es-ES", "hi-IN", "de-DE", "da-DK", "fr-CA", "ko

[2022-10-06 08:23] jijopulikkottil opened #702 "Add 'totalScreenWakes' property to deviceUsage SensorKit data"
Add 'totalScreenWakes' property to 'com.apple.sensorkit.device_usage' SensorKit data

[2022-10-06 08:25] jijopulikkottil commented on #702
Fixed and code pushed.
Version 2022.10.6. is available for internal team members.

[2022-10-06 11:59] avaidyam commented on #688
I suppose it's a fallback only in case the first one doesn't work.

[2022-10-06 13:59] #665 closed

[2022-10-06 14:00] avaidyam commented on #665
@carlan1 @ertjlane Please test this one out!

@Linoy339 @sarithapillai8 Please confirm that this change works for your team.

[2022-10-06 16:04] ertjlane commented on #697
Thanks for doing this! I can see the languages have been implemented. Something odd is happening though, certain pieces of text are appearing as English, despite being implemented in the translation file. For example, in Danish 'Please select the study' has been translated, and I can see the Danish translation in the .json file on github. But I see the text in English on the dashboard. I've includ

[2022-10-06 17:23] Linoy339 commented on #665
@avaidyam . Will check and let you know asap

[2022-10-07 10:44] sarithapillai8 commented on #697
@ertjlane
We need to use the exact same string in json file. Each and every special characters and follow the upper/lower cases.
 "Please select the Study." - the '.' is missing as key in json.  Also for "Please select the sensor spec.", the json having 'Please select sensor spec'. As already a team is working on this, could you please update these?

[2022-10-07 14:55] Devayani0102 commented on #687
Yes, that will work.

[2022-10-08 06:04] sarithapillai8 commented on #687
Updated in dashboard-staging. Please check and let me know if any change.

[2022-10-11 07:16] jeydude commented on #659
Hi Divya,

Here is the login information for the participant. I do not have an iPhone
12 to test.

Domain name: *pep.api.mayo.edu/mlpapiservice/v1
<http://pep.api.mayo.edu/mlpapiservice/v1> *

email: ***@***.***

password: mindlamp1

Thanks for your help to troubleshoot this issue. Thanks!

Thanks,

Jeyakumar Raman

On Wed, Jun 22, 2022 at 1:53 AM jijopulikkottil ***@***.***>
wrote:

[2022-10-11 11:28] divyav2020 commented on #659
@jeydude Could you please provide Email id of the user

[2022-10-11 12:32] jijopulikkottil commented on #702
The staging pointed version 2022.10.6 (391) is available for external testing.

[2022-10-11 14:49] carlan1 commented on #702
Will test and close after testing

[2022-10-11 20:42] ertjlane commented on #697
@sarithapillai8 Thanks for the follow up. So I looked into this, and you're right that there is some incoherence between English keys. However, there still appear to be several keys that are perfectly matched to the dashboard text, yet the translation still doesn't appear. This happens across languages (though not for all text) as demonstrated in the text below. Could you look into this while I co

[2022-10-12 05:28] sarithapillai8 commented on #697
@ertjlane For Search text, the actual text required is just Search without dots. It is an exceptional case. 2-3 strings were missing translation function in code.  I have added those and updated in dashboard-staging. If you spot more, please let me know. I can check from here also.

[2022-10-12 06:59] jijopulikkottil commented on #701
The "`timestamp`" key, which is added manually. So we converted it into milliseconds when making the request.
But the `data` is the content which is getting as a fetch result through Apple API and we are sending as it is. Especially for the SensorKit data, we are just sending the received data as it is.

Let us know if we need to manipulate the `data` to convert Seconds into MilliSeconds.

[2022-10-12 10:07] jijopulikkottil commented on #701
@carlan1 edited above comment!

[2022-10-12 10:11] jijopulikkottil commented on #699
We couldn't see `message_usage` data using the API https://api-staging.lamp.digital/participant/U4284235549/sensor_event?origin=com.apple.sensorkit.message_usage

We are testing it locally. but no data is captured yet. We will update here once we get the sufficient data to test.

[2022-10-13 17:58] ertjlane commented on #659
Hello all! Please do not share mindLAMP credentials for anyone (users or administrators) in github. I've deleted them from the comment here for this reason. If user credentials need to be shared, please email them to our team (digital psych) and we will pass them on to the developers. Thank you!

[2022-10-13 20:21] ertjlane commented on #697
I'm going through the translations checking for errors. I'm noticing that the core English language (the key) is different between languages. So for example, English text in the exact same place in the Dashboard will say different things (ex: Study instead of Group). Can you tell me what the reason for this is?
<img width="411" alt="Screen Shot 2022-10-13 at 4 19 13 PM" src="https://user-images.gi

[2022-10-13 20:37] carlan1 commented on #702
Closing for now as appears to be fixed.

[2022-10-13 20:37] #702 closed

[2022-10-13 20:39] carlan1 commented on #679
Closing this issue as it appears fixed in dashboard-staging.

[2022-10-13 20:39] #679 closed

[2022-10-14 12:52] sarithapillai8 commented on #697
@ertjlane
This seems a bug. Study was renamed as Group a few months back. English translation files contain key with Study , but value with Group. That is why it is correct with English language selection. I can change code-base, but can you please assure that translation files don't contain Study instead of Group in new set. I can change the current files. Also could you please confirm that we ne

[2022-10-14 15:31] ertjlane commented on #638
This issue has occurred again. The user downloaded the app, but immediately upon opening it the endless blue buffering wheel appeared. The user quit the app, uninstalled and reinstalled it, and restarted their phone. The issue persisted. The user had not logged into the app. As seen below, this is not on a low memory device.

Samsung Galaxy S7
Android 8

[2022-10-14 15:47] ertjlane commented on #648
We've recently had two users experience this same issue. For one the issue would arise spontaneously, and does not pop up specifically when opening mindLAMP but opens spontaneously.

Samsung Galaxy S21 and Samsung Galaxy S8+ (android version 9).
![Screenshot_20221009-223156_mindLAMP](https://user-images.githubusercontent.com/104088715/195887922-104a2290-d3d9-46c5-8c98-798d16ec5bb9.jpg)

[2022-10-14 17:38] carlan1 opened #703 "SensorKit visits events, and report duration across many sensors."
Here I am reporting two observations noticed in the new SensorKit sensors that may or may not need to be changed.

1. Visits feature redundancy

Some of the visits features seem to repeat events or visits. Some are simply duplicate events, some are not quite duplicates as they differ in timestamp, but are identical in values. Example of a duplicate event:
[code]
Another example of data points with

[2022-10-14 19:21] carlan1 commented on #699
@jijopulikkottil The link you sent where you called the API specified "message_usage" in the SensorSpec field, but I believe the sensor is named "messages_usage". I tried replacing the spec with the proper name, and I am getting data using the API tool.

[2022-10-16 11:04] zcocueless commented on #638
@ertjlane we shall check this

[2022-10-16 11:11] ZCOEngineer commented on #638
@ertjlane we shall check this

[2022-10-17 06:04] zcobacktrackview commented on #648
@ertjlane are they using production build or beta?

[2022-10-17 11:42] divyav2020 commented on #638
We have tested Beta and Production build in Samsung Galaxy S7 (Version 8). But we are unable to reproduce this issue. We will check in detail. Meanwhile could you please share the log

[2022-10-17 13:36] carlan1 opened #704 "Integrating SensorKit sensors into cortex"
After internal testing, we need to create SensorSpecs for all the new SensorKit sensors, using updated names if names they are to be changed. Afterward, need to create raw features in cortex.raw for all sensors, then create new docs page for each.

[2022-10-17 14:06] ertjlane commented on #648
Production!

[2022-10-17 14:14] ertjlane commented on #638
Thank you for looking into this. I don't think it will be very feasible to retrieve the log, as the user is a patient who we don't know would be able to do that, and it wouldn't really be appropriate to ask. Correct me if there's an alternative, but my understanding is the user would have to provide the log.

[2022-10-17 14:48] carlan1 commented on #701
@jijopulikkottil When you create the new model, will this involve renaming the sensors in the usual "lamp.___" format?

[2022-10-17 15:08] divyav2020 commented on #648
Could you please check this in beta build? Currently this change is not updated in production

 We are also trying to reproduce this issue in current beta build.

[2022-10-17 16:15] avaidyam commented on #648
@divyav2020 This should have been released to production already. @saranya-sajeev @michaelmenon Can you check on/confirm what happened to the build?

[2022-10-17 16:18] avaidyam commented on #638
@divyav2020 We cannot provide log files from patients' devices. The most we can do is provide (via email only) the Participant IDs.

[2022-10-18 06:36] ZCOEngineer commented on #648
@avaidyam we had informed @carlan1 to move android to production from beta [.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/692#issuecomment-1251893603)

Currently when release is created production pointed build is pushed to beta. We believe last time you moved it to production.

[2022-10-18 06:36] ZCOEngineer commented on #648
@avaidyam we had informed @carlan1 to move android to production from beta [.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/692#issuecomment-1251893603)

Currently when release is created production pointed build is pushed to beta. We believe last time you moved it to production.

[2022-10-18 11:07] michaelmenon commented on #648
Hi @avaidyam , I think once we move to beta your team tests the beta and then move that to production. I will confirm with @carlan1 in our call this week to move this to production.

[2022-10-18 15:48] ertjlane opened #705 "Android Uncaught Exception SSLHandshake"
**Describe the bug**
Three users are experiencing the same uncaught exception error.

**Screenshots**
![U0854727957_HK00030_Samsung-Galaxy-A42-5G-Android12](https://user-images.githubusercontent.com/104088715/196478749-65c6fdb0-2bac-43bf-87f2-98b9c2b536c7.jpeg)

Devices
- SamsungOne UI Core version 2.5
- Android 10

- Oppo-Find-X5_Color
- Android 12

- Samsung Galaxy A42 5G
- Android 12

**Additio

[2022-10-18 15:48] lugray1 opened #706 "Setting up push notification if someone gives specific answer to Question 9 on Weekly PHQ-9 Survey"
We would like to have participants be sent a push notification if they respond '3 - nearly every day' to question 9 on the Weekly PHQ-9 Survey (question is pictured below).

The push notification would be sent immediately upon completion of the survey, and would direct the participant to a mindLAMP model in Learn for suicide hotline resources (this module has yet to be created).

![IMG_1607](https

[2022-10-18 16:53] michaelmenon commented on #705
@ertjlane we will check and confirm this in beta.

[2022-10-18 18:23] Devayani0102 commented on #687
Looks good! Can we also remove the line "Both good and bed emotions can be added here" from the emotions section.

[2022-10-19 05:19] sarithapillai8 commented on #687
@Devayani0102 Updated in dashboard-staging.

[2022-10-19 08:44] jijopulikkottil commented on #699
Yes, we can see lot of duplicates on the account U4284235549.
We did some optimisation, but we have to reproduce it to verify the issue. So we are planning to keep the fetched results in another folder in device. So we can verify it with synced data in server vs the local data.
We need few more Daya to complete this task.

[2022-10-19 09:49] jijopulikkottil commented on #703
1.1 yes, we are not expecting duplicate events. It is investigating here #699
1.2 We can expect same data with different timestamp. But the example above should not happen, because both timestamps  represent same time in seconds. We will check this.. [the delay in investigating this issue is lack of sufficient data collecting].

2. We can't modify the duration. To fetch the data, we can pass start

[2022-10-19 12:52] michaelmenon commented on #705
Hi @ertjlane, @avaidyam , @carlan1  , This issue comes if the SSL certificate on the server has issues with Intermediate certificate .

Please resolve this issue with SSL certificate.
you can verify this with this command :

openssl s_client -debug -connect api.lamp.digital:443

[2022-10-19 12:57] michaelmenon commented on #638
@ertjlane is the patient trying to open the app in the hospital network or on his/her home network.  Also can we ask the user to open this link the phone browser and see if its loading ?

https://dashboard.lamp.digital/

[2022-10-19 13:21] avaidyam commented on #648
@michaelmenon Thanks for the clarification, we’ll make sure to do that ASAP.

[2022-10-19 13:38] michaelmenon commented on #705
@avaidyam yes team will be updating on this exception to show an alert to user.Want to make sure the root cause of this issue is resolved.

[2022-10-19 14:34] carlan1 commented on #648
Android release has been made and is in review.

[2022-10-19 14:34] #648 closed

[2022-10-19 15:04] jijopulikkottil commented on #701
Hi @carlan1 do we need to add text representation of integer (number) value ? e.g `placement` in AmbientLightSensor. its value is a number

we have done the similar for sleep data. can see value and it representation
[code]

[2022-10-19 17:18] carlan1 commented on #703
Today in call with @michaelmenon we discussed the possibility for rejecting samples if they are very similar in their timestamps. For now, we do not need this change implemented. For now, let's stick with fixing duplicate events (issue #699) and changing the units from seconds to milliseconds (#701). Because both of these requests are described in the other issues, I am now closing this issue as i

[2022-10-19 17:18] #703 closed

[2022-10-19 18:36] carlan1 commented on #701
Because there are 9 possibilities for `placement`, this would make the schema very long. We don't need string values for now, as long as the integer values line up with the ones listed in https://developer.apple.com/documentation/sensorkit/srambientlightsample/sensorplacement

[2022-10-19 21:37] ertjlane commented on #697
I've gone through the dashboard and this set of translations, there are some cases where study still exists in the main English dashboard. For the time being, I have noted in the translations where the error exists, and where the 'Study' needs to be adjusted to group. I've attached here a spreadsheet of errors for German, Korean, Danish and French. I've listed the errors resulting from incorrectly

[2022-10-20 15:54] carlan1 commented on #687
Appears functional in staging.

[2022-10-20 15:58] carlan1 commented on #706
@mcurbelo-orangeloops Is this something we can do? We are open to ideas on the best way to do this, but we want something like a toggle the researcher can add when designing a survey, where this toggle would indicate that a notification should be sent if a certain selection is made.

[2022-10-20 18:31] michaelmenon commented on #701
@carlan1 we will be logging to see if we get duplicate SRVisit data for different timestamps within few seconds apart. We will check on this and we can discuss on this in our next weeks call.

[2022-10-21 11:11] ZCOEngineer commented on #705
We shall push an update for this on Tuesday. Issue is handled and we are testing it here.

[2022-10-21 14:31] ertjlane commented on #638
I've passed this on to the team managing the user, and they have directed the user to do as such. However, the team doesn't have very frequent contact with the user, and can't guarantee that they'll do this. I have directed the team to try doing the same on a similar device to see if there is a network problem. I would explore other avenues of evaluating the issue in the meantime, as we still may

[2022-10-21 16:00] carlan1 commented on #705
The root cause is handled? Or do you mean you have created the dialog/alert and are testing it?

[2022-10-21 18:31] Devayani0102 opened #707 "Changes to Jewels A and B"
In **Jewels B** the jewel shapes are really similar and hard to differentiate (look at the attached screenshots). We need to make sure that they are always differentiable.
![IMG_2864](https://user-images.githubusercontent.com/103677721/197264058-9d9cebd4-872a-4e18-ba3f-84d424773827.jpeg)
![IMG_2868](https://user-images.githubusercontent.com/103677721/197264070-c162b894-e4b6-4e21-8033-9a66276c1878.

[2022-10-21 20:32] ertjlane commented on #697
Hello all. I've attached here two new, full translation documents, for Spanish and Italian. I've checked each for the key errors that emerged in the previous languages. In addition, I've attached a list of errors that occurred in the other translations for unknown reasons, so please check if those same errors have emerged in these languages (disregard the green highlights). Thank you, and please l

[2022-10-21 21:15] michaelmenon commented on #705
Hi @carlan1  yes we have created the dialog/alert and are testing it.. will be pushed by Tuesday. The SSL certificate issue needs to be she led by your team I think.

[2022-10-21 23:40] carlan1 commented on #701
Ok, for now that is good. We want the duplicates to be removed ASAP. For now, regarding data points with different timestamps but within a few seconds of each other, test to see if that happens frequently. If so, we can discuss what to do about it on our call. But please update to remove the duplicates as soon as the fix is ready.

[2022-10-21 23:43] carlan1 commented on #699
Ok, as soon as testing is complete we would like this fix pushed.

[2022-10-21 23:43] carlan1 commented on #704
SensorSpec have been added to primary domain

[2022-10-22 07:36] sarithapillai8 commented on #697
We are working on these and will update ASAP.

[2022-10-24 12:55] jijopulikkottil commented on #701
1. We have handled `Date` properties to reported in ms since 1970. So all date fields treated as same. [attached some SRVisit data below]

2.

Not really, we will add only the text representation of that integer value. We can see it in the sample SRVisit data attached below.
[code]
Also the order is not same as which is listed in that page.

Please confirm if we don't want the "...Representation"

[2022-10-24 16:31] carlan1 commented on #704
Raw features have been added

[2022-10-24 16:31] #704 closed

[2022-10-24 17:16] jijopulikkottil commented on #699
Coding completed. Testing is going on. We can push the code once we verified with enough samples.

[2022-10-24 17:51] jijopulikkottil commented on #699
This fix is for all SensorKit sensors with duplicate timestamp.

[2022-10-24 17:52] jijopulikkottil commented on #701
1. `duration` property is NOT handled in ms. There are more `duration` property in other sensors like  audio frameDuarion, pauseDuration and speechDuration  in SpeechSensorKit data. In DeviceUsageReport, there are duration, unlockDuration, inpoutsessionDuration. Also `duration` in KeyboradMetrics, MessageUsage, PhoneUsage, SRVisit.  All can convert to milliseconds. ok.
2. Ok. Following is an array

[2022-10-24 18:21] carlan1 commented on #701
Yes, we would like these new properties added for session type.

[2022-10-25 05:05] sarithapillai8 commented on #707
@Devayani0102
Do you suggest to use new different shapes or can we use different color?

[2022-10-25 14:33] saranya-sajeev commented on #705
We pushed code and build is in review.

[2022-10-25 14:38] ertjlane opened #708 "Survey List Item Descriptions Missing"
**Describe the bug**
For list item questions in mindLAMP survey activities, the 'option text' is not appearing in the surveys, despite being written in the survey's activity creation page. Creating a new survey file does not appear to resolve the issue. This may be a product of the most recent update, as users started experiencing this issue after the update on 10/19.

**Screenshots**
<img width="

[2022-10-25 15:36] Devayani0102 commented on #707
If possible, let's use different shapes.

[2022-10-26 09:45] divyav2020 commented on #705
Updated the changes in beta build

[2022-10-26 11:11] sarithapillai8 commented on #708
Fixed and updated in dashboard-staging.

[2022-10-26 13:31] ZCOEngineer commented on #699
We will be pushing this today

[2022-10-26 13:33] sarithapillai8 commented on #707
[JEWEL ICONS.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9869951/JEWEL.ICONS.zip)
@Devayani0102 Could you please check this attachment and confirm the shapes?

[2022-10-26 14:05] sarithapillai8 commented on #697
@ertjlane
We have updated many strings in both code base and json files to help the translation.

Could you please confirm whether we need to do translation in Data portal section? It was not implemented by our team and no translation was implemented there. I have added some, but could you please let me know if we need to do all the strings there?

Also is it possible to consider the latest transl

[2022-10-26 14:06] sarithapillai8 commented on #697
The below string is not correct in translation. Please use separate translation for them :

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=

[2022-10-26 14:35] Devayani0102 commented on #707
Yes, these look distinct enough. Is there a way to ensure that the background color is different from the jewels color?

[2022-10-26 17:22] ertjlane opened #709 "Low Resolution Activity Images"
**Describe the bug**
Icons utilized as the photos in the dashboard are appearing at low resolution, despite being downloaded at a high resolution, and despite other images with the same pixel density appearing perfectly. All images in question are downloads from flaticons.com, but some work perfectly and others do not.

<img width="496" alt="Screen Shot 2022-10-26 at 1 19 13 PM" src="https://user-

[2022-10-26 17:43] ertjlane commented on #697
Thanks for looking at this! Yes, the data portal section strings NEED to be implemented. Thanks for catching the ones shared above, if you could implement the corrected ones you've provided that would be great!

Could you please clarify what you mean by 'Also is it possible to consider the latest translation files from the repo'?

[2022-10-26 19:27] ertjlane commented on #706
@mcurbelo-orangeloops We would like this to be built as a broad functionality, i.e. Any researcher could theoretically assign a push notification to a specific response on a specific survey. We understand this is a more involved and time consuming process.

[2022-10-27 03:29] ZCOEngineer commented on #709
@ertjlane we shall check this and update

[2022-10-27 04:34] sarithapillai8 commented on #707
@Devayani0102 Can we use a common different background color for jewels game? Can you suggest?

[2022-10-27 04:38] sarithapillai8 commented on #697
I have updated some strings in the translation files and updated in the repo. So when updating new strings to that, could you consider those changes? You can see the latest files in the link given above.

[2022-10-27 04:46] sarithapillai8 commented on #709
![image](https://user-images.githubusercontent.com/63710347/198193440-8d013968-e2d2-4148-b420-36a56cb133f7.png)

@ertjlane I don't see the resolution issue here. Could you provide the details of image used there; so that I can try it from here and figure out the actual issue?

[2022-10-27 12:46] Devayani0102 commented on #707
We want to change the background color every time someone levels up in the game.

[2022-10-27 13:44] ertjlane opened #710 "mindLAMP Blank Screen"
**Describe the bug**
A user reported seeing a blank screen when opening the app. Upon closing the app and reopening mindLAMP would open normally.

iPhone 8 plus
Software version 15.6.1

This may or may not be connected to Issue #638

[2022-10-27 14:35] sarithapillai8 commented on #707
@Devayani0102

Increase the size of the jewels. - This will be a major UI change, so it will take some time.

Change the background color every time someone moves up a level. - Can we use a static set of colors? Do we have a set of colors to use?

[2022-10-27 16:15] carlan1 commented on #708
Appears fixed in dashboard-staging

[2022-10-27 16:15] #708 closed

[2022-10-27 16:17] #695 closed

[2022-10-27 16:55] jijopulikkottil commented on #710
FYI - last day same time, (about 25 hours back), we experienced same issue with staging dashboard (dashboard-staging.lamp.digital). After installing app, got white screen, the login page also not loaded.

[2022-10-27 18:41] ertjlane commented on #705
This appears to be fixed in Beta.

[2022-10-27 18:41] #705 closed

[2022-10-27 22:22] ertjlane commented on #708
Thanks for the quick attention to this. Can we get an update on how this issue occurred? It seems as though it may have been a byproduct of the 10/19/22 update.

[2022-10-28 05:05] sarithapillai8 commented on #708
@ertjlane
This happened while we did the update for caching tags of activities on Aug 9 update. Missed question descriptions over there and didn't notice.

[2022-10-28 13:38] ertjlane commented on #708
To clarify, this was part of an update implemented on August 9th? Because it manifested this week - I'm confused as to how a bug in an update from early August would only start affecting our systems now.

[2022-10-28 15:02] sarithapillai8 commented on #708
This was part of the update on Aug 9. But the production was release on [2022.10.20](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/releases/tag/2022.10.20) after that update.

[2022-10-28 15:07] sarithapillai8 commented on #697
[Translations.xlsx](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9889549/Translations.xlsx)

We have implemented translations in Data portal section. Please find the strings to be used in the attached sheet. Please use the exact same strings.

[2022-10-28 16:24] ertjlane opened #711 "Notifications Firing Every Hour"
**Describe the bug**
A user is receiving notifications for daily surveys every hour on the hour, even when the user has completed the assigned task, and accessed said task through the notification. The screenshot below is for an activity notification meant to send at 9 am, which it did.

Galaxy S8+
Android Version 9

![Screenshot_20221028-123516_Authenticator](https://user-images.githubusercontent

[2022-10-28 19:18] Devayani0102 commented on #707
We can use different shades of blue starting from white- for example (color hex- #FFFFFF, #BDD2FA, #5E92F2, #1257D9, #1A4493)

We should remove the blue jewel as it will not show up properly on blue background.

[2022-10-31 15:14] Devayani0102 opened #712 "Android user receiving notifications for monthly activities"
**Describe the bug**
User U3600685320 is receiving notifications for ALL the unassigned breathe activities.

**To Reproduce**
Steps to reproduce the behavior:
1. install mindLAMP, log-in, reboot the phone
2. notifications will appear in ~30 mins after reboot

**Screenshots**
![Screenshot_20221031-093503](https://user-images.githubusercontent.com/103677721/199041205-701ed58c-48c3-4576-82a5-7e3979ba

[2022-10-31 20:22] ertjlane opened #713 "mindLAMP Container Vulnerability"
**Describe the bug**
Collaborator description: There is a critical vulnerability in the MindLAMP container that needs to be addressed ASAP. The vulnerability is with a node.js dependency. To fix this, you will have to switch to node.js version 18, rebuild container, and test the application.

Total: 3 (UNKNOWN: 0, LOW: 0, MEDIUM: 2, HIGH: 0, CRITICAL: 1)

┌──────────────┬────────────────┬─────────

[2022-11-01 03:21] ZCOEngineer commented on #712
We shall check this and update.

[2022-11-01 14:11] falmeida-orangeloops commented on #713
Noted!

[2022-11-01 17:09] falmeida-orangeloops commented on #713
@ertjlane Hi, I understand this issue refers to [the server container](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/feature/oauth/Dockerfile) and not [the dashboard container](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/feature/oauth/Dockerfile). Is that correct?

[2022-11-02 06:29] ZCOEngineer commented on #712
We have checked for notifications but could see only scheduled notifications. We are continuing our testing on this.

[2022-11-02 09:08] jijopulikkottil commented on #701
It is fixed. The staging pointed version 2022.10.26 has been submitted last week

[2022-11-02 09:08] jijopulikkottil commented on #699
Duplicate timestamp issue seems to be fixed. The staging pointed version 2022.10.26 has been submitted last week

[2022-11-02 12:58] michaelmenon commented on #712
When we checked all these notifications are from the assigned activities only, but it seems all the old notifications are being fired after user switches on the device after a long gap. We can discuss this in our call today.

[2022-11-02 14:16] Devayani0102 opened #714 "Survey question description missing"
**Describe the bug**
For all the questions in mindLAMP survey activities, the 'question description' is not appearing in the surveys, despite being written in the survey's activity creation page. Creating a new survey file does not appear to resolve the issue. Users started experiencing this issue after the update on 10/19.

**Screenshots**
![Screenshot 2022-11-02 101019](https://user-images.githu

[2022-11-02 15:31] ertjlane commented on #713
@avaidyam can verify but I believe so, yes.

[2022-11-02 16:22] michaelmenon commented on #712
Thanks @Devayani0102 , we will check on and update on it asap.

[2022-11-02 20:37] ertjlane commented on #688
Looking in the staging dashboard it appears that visualizations are still not showing up. Should we expect this to be the case?
<img width="1355" alt="Screenshot 2022-10-25 at 16 43 00" src="https://user-images.githubusercontent.com/104088715/199597609-798b99db-dc0d-430c-a761-0393fdbf95dd.png">

[2022-11-02 21:51] falmeida-orangeloops commented on #706
Noted!

[2022-11-03 04:58] sarithapillai8 commented on #714
@Devayani0102 It seems duplicate of https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/708 which is already fixed in staging.

[2022-11-03 17:28] Devayani0102 commented on #714
@sarithapillai8 #708 is list item description missing. This issue is for the question description missing. In the screenshot above, there should be a line below "over the past have you?" saying: "Rate form 1 to 10".

[2022-11-03 22:36] ertjlane commented on #697
[Data Portal Translations.xlsx](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9933436/Data.Portal.Translations.xlsx)
I've attached the updated data portal translations here.

[2022-11-04 05:51] sarithapillai8 commented on #697
@ertjlane Translation files were given as json file before. Chinese version was given in a different text format also. Could you please provide similar to previous versions?

[2022-11-04 15:57] ertjlane commented on #697
@sarithapillai8 It was not made clear that the excel file was expected to be transitioned into a .json. I understand that transitioning the file is tedious. However, up to this point the burden of reformatting the files has fallen entirely on me, which has taken a considerable amount of time. This is a high priority project, and I believe it would proceed more quickly if the reformatting was divid

[2022-11-04 17:59] lugray1 commented on #706
Do you have an estimated time frame for when this may be completed? Given that it's for a broad functionality, we understand that it will be a time-consuming process, but just wanted to ask

[2022-11-04 18:02] ertjlane commented on #697
Following up, I just checked through the staging dashboard, and it appears that a number of the errors that I passed on over a week ago that still have not been addressed. I understand I did not ask for a specific ETA on this, but can the error review/fix please be completed as soon as possible? Particularly French, as we have collaborators expecting to use it soon. I see do that many of the error

[2022-11-07 01:07] sarithapillai8 commented on #697
@ertjlane I understand the difficulties with translation file updates. I hope we can divide the work. But can you take care of the Chinese version?
I can double check the bugs missed give more priority to French.

[2022-11-07 10:11] divyav2020 commented on #714
We have updated the fix in staging

[2022-11-07 13:01] divyav2020 commented on #707
We have updated the changes in Staging

[2022-11-07 13:55] sarithapillai8 commented on #697
@ertjlane We have updated French version fixes in dashboard-staging including data portal changes. QA testing is in progress. Still you can check that in parallel if you want to.

[2022-11-07 15:54] falmeida-orangeloops commented on #713
Hey @avaidyam, can I assume this is about the server container?

[2022-11-07 16:22] Kaygijzen commented on #697
@ertjlane Did you forget to add the Dutch translations file? I couldn't find it.

[2022-11-07 17:00] Devayani0102 commented on #714
This is fixed in staging

[2022-11-07 17:00] #714 closed

[2022-11-07 20:09] ertjlane commented on #697
@sarithapillai8 Thank you, yes I can reformat the chinese data portal materials I sent you. I just looked over the french document. Much has been improved, and I appreciate that! I did notice that there are certain texts implemented in the french translation file in github (ex: the months of the year, filter, collapse), which don't appear in the staging dashboard despite being loaded into github.

[2022-11-07 20:48] Kaygijzen commented on #697
@ertjlane My bad. I thought there was, since you listed Dutch among the translations in the top comment in this thread.

[2022-11-07 22:04] Devayani0102 commented on #707
The white background blends in with the headers, we should remove #FFFFFF.
Can we increase the font size for the numbers inside the jewels.

[2022-11-08 11:18] sarithapillai8 commented on #707
Updated changes in dashboard-staging. Could you review ?

[2022-11-08 11:21] sarithapillai8 commented on #697
@ertjlane Not sure about what are saying. If the changes are in master branch, then it always appears on dashboard-staging. I took the update from your latest changes and added some more changes and updated dashboard-staging.

[2022-11-08 12:17] ZCOEngineer commented on #712
We are working on a solution for this, shall post update soon.

[2022-11-08 19:28] Devayani0102 commented on #696
appears to be working in staging

[2022-11-08 19:28] #696 closed

[2022-11-08 20:17] Devayani0102 opened #715 "New Game Request: Spin the wheel"
A new cognitive game needs to be added to mindLAMP. More instructions about the game can be found on this Webpage:
[Iowa Gambling Task](https://digitalpsychiatry.notion.site/Iowa-gambling-task-b3fe52b5482e42888724d60983515d88)

[2022-11-08 21:34] Devayani0102 commented on #707
Looks good in staging!

[2022-11-08 21:46] Devayani0102 opened #716 "High Score for games"
Can we add a high score count for Jewels A, Jewels B, Spatial Span, Pop the balloon, Cats and Dogs. Example of what it can look like is in the screenshots below. This value should be that participant's highest score for that level/game.

<img width="496" alt="Screen Shot 2022-11-08 at 4 31 31 PM" src="https://user-images.githubusercontent.com/103677721/200681629-afb0afe8-bd4d-46df-b088-eff2ce39dab

[2022-11-09 03:10] ZCOEngineer commented on #687
@Devayani0102 anything pending on this?

[2022-11-09 14:36] Devayani0102 commented on #687
After the latest release, the changes made before oct 6th do not show up in production.

[2022-11-09 14:37] #707 closed

[2022-11-09 14:39] michaelmenon commented on #715
we will be adding an ETA on this asap

[2022-11-09 15:03] sarithapillai8 commented on #687
@Devayani0102 @ertjlane @carlan1 @michaelmenon @ZCOEngineer
LAMP-activities are not released to production. Last update was done on April 25. If you can release that to production, you can see the changes.

[2022-11-09 16:02] avaidyam commented on #713
@falmeida-orangeloops I believe so!

[2022-11-09 16:29] ertjlane commented on #688
@SethgunterOL

[2022-11-09 16:57] anjumg03 commented on #712
We have pushed a fix for this issue.

- Monthly scheduled activities filtered on the basis of date and time

[2022-11-09 20:27] ertjlane commented on #697
Chinese data portal materials .json file:
[Chinese dataportal.json.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/9974851/Chinese.dataportal.json.zip)

[2022-11-09 20:36] carlan1 commented on #687
Made release. Will close now, reopen if not functional in production.

[2022-11-09 20:36] #687 closed

[2022-11-09 20:57] falmeida-orangeloops commented on #706
Hi, sorry for the delay! I'll look into this and get back promptly

[2022-11-09 20:59] ertjlane commented on #697
For the sake of expediency I'm moving this up to urgent priority, as it effects collaborators. Just let me know the soonest the errors I submitted can be addressed in their entirety.

[2022-11-10 04:54] sarithapillai8 commented on #697
@ertjlane We are going to start with integrate Italian version for data portal. We both worked in Danish version. So to avoid that, could you inform which one you are currently working on?
We can update a build with error fixes possible with French version and can add Chinese version to dashboard-staging today.

[2022-11-10 13:17] ertjlane commented on #697
@sarithapillai8 For the time being I do not have any more materials to add. I am expecting some German fix translations to be returned, which I will upload, and I'll give you a heads up before I do that. Great to hear about the French and Chinese update, is there a timeline for the errors submitted in the other languages to be addressed? I looked at dashboard staging yesterday and saw there was st

[2022-11-10 15:07] Devayani0102 opened #717 "Data Portal Error: Minified React Error #310"
**Describe the bug**
A Minified React error pops up while trying to assess the visualizations in data portal.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure that you are in the advance mode
2. Go to any study in dashboard
3. Click on data portal
4. Click on the analyze researcher arrow on the left
5. Click on any tags (for visualization)
6. See error

**Screenshots**
<img width="1

[2022-11-10 22:37] falmeida-orangeloops commented on #688
@ertjlane Even though I checked the existing participants in the staging dashboard, I haven't been able to reproduce this issue. Here's an example of what the Cortex section looks like for me:
![Screenshot 2022-11-10 at 19-13-06 User U1610343133](https://user-images.githubusercontent.com/66265155/201218735-90450a24-b18d-445b-a1f9-8b8242880bb6.png)
I could not find a participant with a Cortex secti

[2022-11-11 02:31] sarithapillai8 commented on #717
@Devayani0102 Could you confirm whether we have to work on this? Your team developed this section and actually we have no idea about this section.

[2022-11-11 14:16] ertjlane commented on #717
@sarithapillai8 We will pass this on to a separate team, thank you.

[2022-11-11 14:30] falmeida-orangeloops commented on #717
Noted!

[2022-11-14 21:52] ertjlane commented on #697
@sarithapillai8 I see some updates have been pushed, thank you for that. Can we get an ETA for the rest of the errors to be fully addressed?

[2022-11-15 05:23] sarithapillai8 commented on #697
@ertjlane We are trying to update everything ASAP. As these are manual changes, it is taking time and it is really hard to say an ETA on this. Most of the errors are addressed already and we started going through each language in detail. Whatever missing translations found, we will be updating them in different language files  and will post here to check whether to keep them as they are or you can

[2022-11-15 20:24] falmeida-orangeloops commented on #713
This has been fixed by [LAMP-server #216](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/216)

[2022-11-16 14:36] carlan1 commented on #712
Fix pushed to lamp-core-ios

[2022-11-16 14:40] ZCOEngineer commented on #712
@carlan1 Fix pushed to LAMP-core-android

[2022-11-16 18:22] Tuna9129 commented on #688
![image](https://user-images.githubusercontent.com/105741216/202254983-3a70bb37-bf2c-41ad-9739-94fa2cdea5e5.png)

Hello! I went and created a new test participant today and attached some graphs using cortex.
cortex.visualizations.participant.passive('U7827153000', attach_graphs=True)

I then went to the staging dashboard and got the above screenshot. I'm looking into cortex right now because we ar

[2022-11-16 19:37] falmeida-orangeloops commented on #688
@Tuna9129 thank you very much! Now I see the exact same as your screenshot. I'll look into that.

[2022-11-17 08:04] sarithapillai8 commented on #697
We have updated some more fixes in dashboard-staging. Please find the missing translations of German language in the attachment. Also please go through different activity settings and most of them were missing in given translation list.
[Missing-Translations.xlsx](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/10029171/Missing-Translations.xlsx)

[2022-11-17 18:19] ertjlane commented on #697
Thank you for this! A priority list for languages is French (I know close to completion if not done), Italian, Spanish, German, Chinese, Danish & Korean.

[2022-11-25 16:30] divyav2020 commented on #697
We have updated dashboard staging with language translations for different languages. Attaching the file with missing translations found.

Note : Some of the translations are not getting updated on the website even we have updated them in code. We are trying to figure it out.

We have updated the following language strings: French, German, Spanish, Korean and Chinese

We will be continuing QA and

[2022-11-25 21:39] falmeida-orangeloops commented on #717
This should be fixed by BIDMCDigitalPsychiatry/LAMP-dashboard#680.

[2022-11-25 21:45] falmeida-orangeloops commented on #688
This should be fixed by BIDMCDigitalPsychiatry/LAMP-dashboard#681. I tested this fix with [the data that was provided above](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/688#issuecomment-1317467767), as well as with some of the other previously existing data, and it is working for all of them now.

For screenshots showing the change, you can check that pull request's comments.
@e

[2022-11-28 20:14] ertjlane commented on #717
This appears to be fixed in staging!

[2022-11-28 20:14] #717 closed

[2022-11-28 20:24] ertjlane commented on #706
For the time being is it possible to implement this as a specific change for this item on this survey, rather than a comprehensive feature of mindLAMP?

[2022-11-30 11:42] ZCOEngineer commented on #715
Development of this game is in progress.

[2022-11-30 15:53] #713 closed