[2021-06-30 03:54] sarithapillai8 commented on #288
Can we have a test participant to debug this issue?

[2021-06-30 09:07] sarithapillai8 commented on #306
Could you please confirm that this user created with group creation?

[2021-06-30 10:30] sarithapillai8 commented on #287
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/254
Updated in production

[2021-06-30 12:29] lukeoftheshire commented on #288
Yes, but please use the staging database to do so - this will prevent testing data from being mixed in with user data that will be analyzed later.

[2021-06-30 12:33] #282 closed

[2021-06-30 12:37] #287 closed

[2021-06-30 12:40] #241 closed

[2021-06-30 12:42] #286 closed

[2021-06-30 12:45] #298 closed

[2021-06-30 12:51] #108 closed

[2021-06-30 13:59] jeydude opened #308 "Latest testflight mindLAMP app not sending any new data"
Hi,

Yesterday, I have noticed new version of mindLAMP 2 version 2021.6.29 (276) in TestFlight. So I updated the mindLAMP 2 app using TestFlight, once I updated I got GPS/Accelerometer and other sensors data based on sensor configuration. I was happy to see those sensor data.

After that I closed the mindLAMP 2 app and reopened  mindLAMP 2, since then I am not seeing any more sensor data. Only ana

[2021-06-30 18:37] tlakhtak opened #309 "Survey notification does not work for some schedules"

[2021-06-30 19:20] jeydude commented on #308
**Low power mode**  was enabled on my iPhone which caused disabling **Background App Refresh** for mindLAMP. After disabling **Low power mode**, now I am getting sensors data now. My fault.

[2021-06-30 20:46] tlakhtak commented on #283
@sarithapillai8  this issue also occurred for a different user, U8974761142

[2021-07-01 04:26] Linoy339 commented on #309
@tlakhtak Could you please attach a screenshot of particular schedule?

[2021-07-01 12:31] sarithapillai8 commented on #288
We tried importing the surveys and tried submitting for a test participant. We are not able to reproduce this in any way. Can you please provide any information for this?
@avaidyam Is it possible to try this from your side?

[2021-07-01 14:47] sijugeorge-zco commented on #138
@tlakhtak

Please find the texts to be translated in HINDI.

Translations are required for strings ( on the right side of the _key : value_ pair) on the attached JSON file.

[Hindi_Transaltion_Needed_07012021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6749008/Hindi_Transaltion_Needed_07012021.txt)

[2021-07-01 14:56] lukeoftheshire commented on #288
Thank you for trying to replicate the bug - we have found it difficult to reproduce as well, as it does not occur every time a survey is submitted.

Over the course of approximately 1300 weekly survey submissions in the college study group we noticed only 38 duplicate surveys across 31 participants, so the rate is not high. Nonetheless, this duplicate data can be found in the database. The followi

[2021-07-01 16:13] michaelmenon commented on #288
thanks for the details , we will check on the data and let you know on this.

[2021-07-01 16:16] michaelmenon commented on #283
Thanks this issue is fixed in staging we are trying to push this to production but some other update are being tested in staging by @avaidyam , so only after that completes we can push the fix for this to Production. Will let you know as soon as we could push the fix for this to production.

[2021-07-01 19:25] tlakhtak commented on #309
Collaborators want to be able to schedule survey notifications for every two weeks from start date, rather than on two fixed days every month. Can this be added as a feature?

[2021-07-01 19:44] er42 opened #312 "Block passive data from the LAMP database for one or more participants"
Maybe this is a naive question, but is there a way to block `SensorEvent` data from being saved in the LAMP database for one or more participants? If not, this would be a very useful feature (either for specific sensors, or for all sensors).

[2021-07-01 21:11] tlakhtak opened #313 "Back button and instructions missing for Jewels A&B and Spatial Span"
Patients do not know how to play the games, and have to exit the app and restart to return to main menu from Spatial Span or jewels A and B cognitive tests.

[2021-07-01 21:13] tlakhtak opened #314 "Back button not functioning correctly for activities on the Feed"

[2021-07-01 21:19] tlakhtak opened #315 "Activities available on dashboard but not on mobile app"

[2021-07-01 21:20] tlakhtak opened #316 "Links for Help & Support, LAMP Community, and Contact Us not working"
Currently, neither button leads to anything, though they simulate being 'clicked'. Do we need to provide links for this to work?

[2021-07-01 21:38] avaidyam commented on #312
By removing all Sensors in a Study, the Participants in that study should no longer be collecting any passive data. You can also pick and choose the Sensors to collect data from.

[2021-07-01 22:06] er42 commented on #312
Hi @avaidyam -- thanks for the quick response!

We had actually specified only one sensor (`lamp.gps`) for the study, but we are receiving data from various others (including accelerometer, gyroscope, etc.). Is there a way we can prevent this?

[2021-07-01 22:07] avaidyam commented on #312
@er42 This feature is enabled in the beta build and will soon go live for everyone!

[2021-07-01 22:11] er42 commented on #312
I see -- is there an ETA of when the new production build will be released?

[2021-07-01 22:13] avaidyam commented on #312
I think @SuruPa00 might have more info on that this week or next! We'll update here as well when it's released.

[2021-07-01 22:16] er42 commented on #312
Great -- thanks!

[2021-07-02 11:32] sarithapillai8 commented on #309
@tlakhtak
Yes we can add this as feature.  Do you need this as new schedule type or change the current implementation of 'Two times every month'?

[2021-07-02 12:14] tlakhtak commented on #309
We would need this as a new schedule type

[2021-07-02 14:10] sarithapillai8 commented on #309
@avaidyam Please confirm if we can proceed with implementing this. New feature requests were in hold.

[2021-07-02 14:47] sarithapillai8 commented on #313
We didn't add instructions. If you need this changes, please make a feature request. @avaidyam  Please confirm.

[2021-07-02 15:10] tlakhtak commented on #313
Seems like instructions shown in activity descriptions were not appearing on the front page for a collaborator, but our team and their team cannot reproduce now

[2021-07-02 15:10] #313 closed

[2021-07-02 15:35] avaidyam opened #317 "Graphical issues with Surveys"
We're receiving additional reports from collaborators that surveys are graphically misaligned on the screen (as visible below):

![Screen Shot 2021-07-01 at 5 15 41 PM](https://user-images.githubusercontent.com/1361003/124297587-126c9e00-db10-11eb-83e0-f64e6eb587a5.png)

1. The border around the survey UI
2. The extra overlaid back button
3. The mistranslated "Question X of Y" text
4. The off-scre

[2021-07-05 05:06] divyav2020 commented on #315
We are unable to reproduce this issue

[2021-07-05 05:45] divyav2020 commented on #315
We are unable to reproduce this issue.  We request you to clear the cache and retest.

[2021-07-05 05:57] divyav2020 commented on #315
We are unable to reproduce this issue.  while we try to find this issue, for the time being could you please logout and login back to see the screen updates correctly?

[2021-07-06 12:19] tlakhtak commented on #315
The issue persists when logging in again. This issue is occurring for mindLAMP users on a different server to ours.

[2021-07-06 15:34] michaelmenon commented on #315
Thanks, @tlakhtak  could you please confirm the LAMP server on which you are seeing this issue is working as a docker container ? Just want to make sure the server environment is the same.

Also could you confirm that the iPhone Safari is the latest version on the iPhone ? Please let us know and we will see if you need to update your server with the latest server in the MindLamp production server.

[2021-07-06 15:40] tlakhtak commented on #315
Dashboard was seen on Chrome on desktop, which is the latest version. LAMP server is working as a docker container.

[2021-07-06 17:11] avaidyam commented on #315
FYI @michaelmenon - Tanvi L (@tlakhtak) and Suraj (@SuruPa00) are part of the BIDMC team and refer to the BIDMC servers/resources.

[2021-07-07 09:06] sarithapillai8 commented on #315
We are still unable to reproduce this. To debug this particular issue, could you please provide the participant and researcher details? In the screenshot the participant id is not clear.

[2021-07-07 11:03] michaelmenon commented on #315
Hi @avaidyam  but  Tanvi in her post said : This issue is occurring for mindLAMP users on a different server to ours.

What does that mean, are the users connecting to any other server where LAMP is hosted ?

Also @tlakhtak can you update the Chrome to latest version of the Chrome and check, we will try to reproduce on our end but like @sarithapillai8  said could you please send us the participant

[2021-07-08 12:09] tlakhtak commented on #315
The server running LAMP that is having this issue has the domain name sangath.psych.digital. All participants under researcher 'Jayesh Kudav' are having this issue.

[2021-07-08 12:44] tlakhtak opened #318 "Jewels A and B timing out after completing the level"

[2021-07-08 12:52] tlakhtak commented on #218
Duplicate of #297

[2021-07-08 12:52] #218 closed

[2021-07-08 12:54] tlakhtak opened #319 "Back button not functioning for Jewels"

[2021-07-08 12:59] divyav2020 commented on #315
We logged in to the server you provided, using Admin credentials and was unable to reproduce the issue (kindly refer to the screenshot).
So request you to provide us with the user credentials that produce the issue when you tested.
![IMG_3385](https://user-images.githubusercontent.com/74397668/124925805-744e6b80-e01a-11eb-96a6-a6b5dee97b31.PNG)

[2021-07-08 13:19] sarithapillai8 commented on #315
@tlakhtak Could you please provide the password also?

[2021-07-08 13:23] tlakhtak commented on #315
log-in: U3310164650@lamp.com, pass: U3310164650

[2021-07-08 14:10] sarithapillai8 commented on #315
@avaidyam
We got the issue and it is because we are having a condition like ignore the survey activity for server ending with - psych.digital in one function_hideCareTeam()

(LAMP.Auth._auth.serverAddress || "").includes(".psych.digital")

Can you please confirm we can remove this condition? If you can confirm it , I can remove it now.

[2021-07-08 15:12] avaidyam commented on #315
@sarithapillai8 Yes, please do remove this.

[2021-07-08 16:56] sarithapillai8 commented on #315
Updated in production
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/273

[2021-07-09 12:54] divyav2020 commented on #319
The issue is not occurring during our testing. (Kindly refer to the video attached).  The issue could be related to browser cache, so kindly clear it before retesting.

https://user-images.githubusercontent.com/74397668/125080622-aa572280-e0e2-11eb-8f14-40a9e19a03d9.MOV

[2021-07-09 13:41] jtorous commented on #319
Hello,

Thank you for looking into this! What happens if you complete the test
(touch all of the jewels?). What happens if you push the back button?

Thanks,
John

On Fri, Jul 9, 2021 at 8:54 AM divyav2020 ***@***.***> wrote:

[2021-07-09 14:15] divyav2020 commented on #319
Scenario 1: What happens if you complete the test (touch all of the jewels?) - Display shows "Congrats" and moves back to Assess screen

Scenario 2:  What happens if you push the back button? -  Display moves back to Assess screen
(Kindly refer to the videos attached)

https://user-images.githubusercontent.com/74397668/125091442-08d5ce00-e0ee-11eb-8125-0bc670f30dd1.MP4

https://user-images.githubu

[2021-07-14 12:37] SuruPa00 opened #320 "Data inside survey missing"
![v143w4Sj_o](https://user-images.githubusercontent.com/86117379/125623069-05c764b6-94a7-4030-bf90-569aefd219c4.jpg)

[2021-07-15 15:29] #82 closed

[2021-07-15 15:30] #101 closed

[2021-07-15 15:33] #136 closed

[2021-07-15 15:34] #305 closed

[2021-07-16 04:43] sarithapillai8 commented on #320
@SuruPa00
Could please specifically point out what is actually missing?

[2021-07-16 13:36] tlakhtak opened #321 "URGENT - All activities not loading"
Morning of July 16 2021, all activities on dashboard return loading screen and cannot be used. Dashboard is available and loads fine but no activities can be used. Server running LAMP is still working fine.

[2021-07-16 13:47] tlakhtak commented on #321
Seems to have just resolved - what might have been the issue? @ZCOEngineer

[2021-07-16 13:58] jtorous commented on #321
There was are error in the built tag our team reverted as a fix . We are not sure why this tag was incorrect.

John

[2021-07-16 17:28] #178 closed

[2021-07-19 13:15] sijugeorge-zco commented on #138
@avaidyam @SuruPa00 @tlakhtak

Can you please update us the above translations for HINDI.

[2021-07-19 15:37] SuruPa00 opened #322 "Duplicate sensor events"
<img width="727" alt="Screen_Shot_2021-07-19_at_10 17 32_AM" src="https://user-images.githubusercontent.com/86117379/126186924-36520c9b-e77b-4a95-8569-3eded3bae6c2.png">

[2021-07-19 15:44] dcurrey88 commented on #322
Code to get duplicates for a certain participant:
`replic = db.col.aggregate([
    {'$match':{
        '_parent':participant_id,
        'sensor':'some sensor'
        }
    },
    { "$group": {
        "_id": {"timestamp": "$timestamp"},
        'idsUnicos': {'$addToSet': '$_id'},
        "total": { "$sum": 1 }
        }
    },
    {'$match': {
        'total': {'$gt': 1}
        }
    },
], allo

[2021-07-20 12:10] sijugeorge-zco commented on #138
@SuruPa00  @tlakhtak

Please find the strings(_attachments_) that needed translation for both **HINDI** and **SPANISH**.

[Researcher_Hindi_and_Spanish_translation_needed_07202021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6848124/Researcher_Hindi_and_Spanish_translation_needed_07202021.txt)
[Manage_Prevent_Hindi_and_Spanish_translation_needed_07202021.txt](https://github.c

[2021-07-20 12:15] tlakhtak commented on #138
[Hindi_Transaltion_Needed_AK_07012021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6848159/Hindi_Transaltion_Needed_AK_07012021.txt)

We'll work on the others, thanks

[2021-07-20 13:06] SuruPa00 opened #323 "Auto-logout"
Participants reporting being logged out of the app and being required to sign back in every time they open it up, which defeats the purpose of passive data collection.

[2021-07-20 14:18] SuruPa00 commented on #323
The participants reporting this issue are U5021714125 and U8974761142

[2021-07-21 18:43] #321 closed

[2021-07-22 03:29] jijopulikkottil commented on #322
hope this issue is getting with iOS app users! please confirm

[2021-07-22 13:38] dcurrey88 commented on #322
I am seeing duplicate events for both iOS and Android.

[2021-07-23 13:51] tlakhtak opened #326 "URGENT: Notifications for scheduled activities appear at incorrect times, don't lead to activities"
This issue was happening on an Android Pixel 5, and an iPhone XS in the Researcher group ```3a8bgz4z43t02q64k75f```. I could not replicate this on my own with a testing account using the exact same schedule of activities in the same group and while the testing account was receiving the correct schedule on my end, the other accounts still received the incorrect schedule. They tried making another t

[2021-07-23 14:24] divyav2020 commented on #323
We created a participant under the NIH2 study & TECC study and tried different scenarios, but unable to reproduce the issue.
Scenario 1: Logged in to the app and kept the application idle( for approx. 20-30 minutes). Then refreshed the screen.
Scenario 2: Logged in to the app and kept the application idle ( for approx. 20-30 minutes). Then killed the app from background and reopened it.
Scenario 3

[2021-07-23 15:52] SuruPa00 commented on #323
The participants struggling with this issue are U8974761142 and U5021714125

[2021-07-26 01:43] Ashermind opened #327 "Unable to log in as a researcher to dashboard"
**Describe the bug**
After the redeployment of the lamp platform and creating researcher in the dashboard, I am unable to open him or log in as him. Instead I am stuck on the loading screen.

**Expected behavior**
I except to open or log into empty patient page, where I would like to create patient accounts for usage and testing.

**Screenshot**
![Screenshot_2021-07-26_03-42-20](https://user-image

[2021-07-26 06:51] Linoy339 commented on #326
@tlakhtak . We were not considering the start date  here, so the notification gets fired before.
We will give a fix for this

[2021-07-26 07:32] divyav2020 commented on #323
Could you please provide the password also?

[2021-07-26 12:28] tlakhtak commented on #323
Can admin password be used to log in? If not, we can make a temporary password

[2021-07-26 13:30] SuruPa00 commented on #323
U8974761142 has the temporary login email test1@lamp.com and pw test1 and U5021714125 has the email test2@lamp.com and pw test2

[2021-07-27 13:44] SuruPa00 opened #328 "DBT Diary Card white screen on browser"
Browser
![Browser 1 of 2](https://user-images.githubusercontent.com/86117379/127164627-744f0ae4-a74b-4e49-803e-86f5248dec6d.png)
![Browser 2 of 2 - White Screen](https://user-images.githubusercontent.com/86117379/127164628-180fa2b1-bb7f-40fe-9dda-a9fa62d81f46.png)

Mobile
![Mobile 1 of 3](https://user-images.githubusercontent.com/86117379/127164630-11f8b9d7-44f1-4274-91dc-8dca13a798db.PNG)
![Mobil

[2021-07-27 14:42] SuruPa00 opened #329 "Jewels cut off"
2 reports from users and this happened internally as well

![I57whkHS_o](https://user-images.githubusercontent.com/86117379/127174243-142dd617-fee5-4b39-a8f1-6460e2acde3d.png)

[2021-07-27 17:49] SuruPa00 opened #330 "DBT Diary Card Graph in Prevent has NaN x-axis"
Mobile

![MindLAMP iOS 1 of 4](https://user-images.githubusercontent.com/86117379/127202706-9921d879-3bef-4315-a94a-37c3ceeab88b.PNG)
![MindLAMP iOS 2 of 4](https://user-images.githubusercontent.com/86117379/127202710-9e111b8f-e1ab-4380-a5aa-34e5d60a8aa9.PNG)
![MindLAMP iOS 3 of 4](https://user-images.githubusercontent.com/86117379/127202711-c977fdf7-7677-400c-88fc-8f3392457e77.PNG)
![MindLAMP iOS

[2021-07-27 18:02] SuruPa00 commented on #328
![image](https://user-images.githubusercontent.com/86117379/127204823-066cbba1-0bc2-4726-aff0-8142bf52c60a.png)

Here are some details found by someone who was able to reproduce the issue. Hope this helps.

[2021-07-28 05:48] sarithapillai8 commented on #328
@SuruPa00

Could you please let me know which build is used for LA Country? The URL in the screenshot seems different from our production URL. Could you please confirm they are using latest build? It seems the issue related to the build which missing latest changes. In the app, it is using production build.

[2021-07-28 05:52] sarithapillai8 commented on #329
@SuruPa00
This was fixed a few weeks before. Could you please mention the device used and confirm cache is cleared and using the latest build?
We fixed this by limiting the rows and columns to 8 X 10  to render the jewels. In the screenshot there are almost 10 columns, and more than 12 rows.

[2021-07-28 18:11] er42 commented on #312
Just following up on this -- we've been testing out the new release of the iOS app and the feature to select only specific sensors seems to be working for it.

However, on the Android beta build (installed via the google play store), we are still getting data from various other sensors.  Is that expected? Is there another android beta version available that allows more control over sensor selectio

[2021-07-28 18:37] SuruPa00 commented on #312
Hi there! So the android app is still currently in the process of being pushed to latest build (which the iOS version is currently using), so there may be differences between the two right now. We hope to have this issue solved in the next week or two!

[2021-07-28 18:48] er42 commented on #312
Ok, thanks for the update! We'll be glad to test out the new android build once it's available.

[2021-07-28 18:54] SuruPa00 commented on #322
@jijopulikkottil @ZCOEngineer any update on this issue?

[2021-07-28 19:19] lukeoftheshire opened #331 "LAMP-worker causing docker container terminations"
Shortly after creating a new docker container using the LAMP-worker image, the container crashes. Initially, the container terminates with no exit code, but then quickly terminates again with exit code 137. This repeats, but at no time is the container stable for longer than 5 minutes.

Here are the logs for one iteration of this loop:
[code]
These were the final logs before a termination.

The lo

[2021-07-29 05:10] Linoy339 commented on #331
Can you provide the docker file?

[2021-07-29 05:48] Linoy339 commented on #322
@SuruPa00 . We were trying to reproduce the issue.
Can you please confirm the environment? Is it staging or production?

[2021-07-29 07:12] Linoy339 commented on #331
@SuruPa00
https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/blob/master/Dockerfile
Is this one which you are using?

[2021-07-29 12:11] lukeoftheshire commented on #331
Yes, that is the dockerfile.

[2021-07-29 12:16] Linoy339 commented on #331
I was able to run with this docker file in my  local machine and its still running.
Is the container available in portainer(https://console.lamp.digital)? If yes, can you please mention the container name?

[2021-07-29 12:18] dcurrey88 commented on #322
I have seen duplicates in both the staging and production databases.

[2021-07-29 12:21] lukeoftheshire commented on #331
I have just re-added a single container with the name lamp_staging_worker .

[2021-07-29 12:29] Linoy339 commented on #322
Can  you provide  a participant id in staging which you got this issue?

[2021-07-29 13:09] Linoy339 commented on #331
@lukeoftheshire .
Can you please check with memory
usually exited with 137  denotes  Out of memory

[2021-07-29 13:48] lukeoftheshire commented on #331
Hi @Linoy339

Thank you for looking into this. We haven't placed any particular memory constraints on the docker container, but we will continue looking. As we investigate, would you be able to provide the memory specs of your local machine, and/or the amount of memory we should reserve to run the worker?

[2021-07-29 13:57] Linoy339 commented on #322
Also In staging, we have tested the bulk data write for the sensor events with duplicated data. It might be the reason in staging. We have tested with a few of participants. One of them is U5440992922(I don't remember other participants).

But we need to check deeply for what happened in production.

[2021-07-29 14:10] SuruPa00 commented on #322
Try the participants with the following ids: U3952228134 and U1455941750

[2021-07-29 14:20] Linoy339 commented on #331
Mine is with 8gb. But my db size is less compared to LAMP-server db.
I think 4 gb would  be sufficient. Can you check with @avaidyam for this?

[2021-07-29 14:22] Linoy339 commented on #322
Sure. This is production. Right?

[2021-07-29 14:23] SuruPa00 commented on #322
Yes this is production.

[2021-07-29 14:56] avaidyam commented on #331
We should have 32GB available on `node-02` @lukeoftheshire so it shouldn't have been a problem? @Linoy339 Why is there such high memory usage to begin with? Is it something we can reduce or would that take more effort in the long term?

[2021-07-29 15:01] Linoy339 commented on #331
@avaidyam . I have run the same docker file here and its running well.  It is not getting stopped till now.

As the message from  your container logs was -  "exited with 137". I just guessed with out of memory.
Still, we are not sure of how it ran across this problem

[2021-07-29 15:02] avaidyam commented on #331
Can you add more logging to it across the whole codebase? (Same for LAMP-server eventually). I suspect it may be the same `UnhandledPromiseRejection` issue or something similar that occurs in Node 14+.

[2021-07-29 15:28] lukeoftheshire commented on #331
Yes, I think something else is happening in additon to our (potential) memory problem. As Adiya mentioned, node-02 is provisioned with 32GB of memory. Additionally, `top` didn't show any big memory usage at any point before the container failed.

As I initally alluded to, the container is first stopping twice (with no error code) before it terminates with code 137. Could these first two terminatio

[2021-07-29 15:34] Linoy339 commented on #331
@lukeoftheshire @avaidyam . Let us check in deeper and let you know

[2021-07-29 17:09] SuruPa00 commented on #326
@ZCOEngineer @Linoy339 any update on this?

[2021-07-29 17:26] Linoy339 commented on #326
@SuruPa00 . Yes, this has been fixed in LAMP-worker.
We are trying to deploy Lamp-worker. When it comes up, it will be resolved

[2021-07-29 17:38] Linoy339 commented on #331
@lukeoftheshire . Can I deploy in node-02?

[2021-07-29 17:49] SuruPa00 commented on #326
@Linoy339 sorry if i misunderstood, does that mean this bug has been fixed and should no longer be occurring?

[2021-07-29 18:09] lukeoftheshire commented on #331
Sure!

[2021-07-29 18:25] Linoy339 commented on #326
@SuruPa00 . The resolution has been done and  moved to staging.
This need to move to production for the issue  to be fixed. Before, we need to test the same  in the staging environment. But now, we face some issue in deploying it in staging server. We are looking into it. We will let you know  ASAP

[2021-07-29 18:46] Linoy339 commented on #331
@lukeoftheshire . Can you please add network "lamp_staging_default" to  container - "lamp_worker_01". It seems, I am uinable to do it

[2021-07-29 20:02] Linoy339 commented on #331
@lukeoftheshire . Can you merge [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/12](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/12)
and try deploying and let us know the container name.

[2021-07-29 20:16] Linoy339 commented on #331
@lukeoftheshire . Can you deploy now?

[2021-07-29 20:20] lukeoftheshire commented on #331
Yes! I have updated the image and redeployed. As before, the container is from the service lamp_staging_worker

[2021-07-29 20:35] Linoy339 commented on #331
@lukeoftheshire . Can you please change the port in .env(say 3001 instead of 3000) and redeploy it?

[2021-07-29 20:37] lukeoftheshire commented on #331
I have updated the port to 3001 and redeployed

[2021-07-29 20:51] Linoy339 commented on #331
Can You update the variable SCHEDULER to off in env and redeploy?

[2021-07-29 20:52] lukeoftheshire commented on #331
Done

[2021-07-29 21:06] Linoy339 commented on #331
Can you merge [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/13](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/13)

and remove DOCKER_IMAGE from env and redeploy?

[2021-07-29 21:08] lukeoftheshire commented on #331
Done and done!

[2021-07-29 21:18] Linoy339 commented on #331
Can you check the container health :
https://console.lamp.digital/#!/4/docker/containers/388c3f4568fb354bf0b1e594a044508cffba5da36ebc6a70784d0a7a1d0ace9b?nodeName=node-02.lamp.digital?
It says :
Connecting to localhost:3000 (127.0.0.1:3000) wget: can't connect to remote host (127.0.0.1): Connection refused ?
Is there any network properties to be enabled?

[2021-07-29 21:21] lukeoftheshire commented on #331
I see both lamp_staging_default and public as available networks

Additionally, the following logs appear in the logs:
[code]

[2021-07-29 21:28] Linoy339 commented on #331
Please merge this too
https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/14
and redeploy .

[2021-07-29 21:36] lukeoftheshire commented on #331
Merged and redeployed.
To note, all previous changes, (port, scheduler, etc.) are still in effect.

[2021-07-29 21:37] Linoy339 commented on #331
Can you make it as earlier?
PORT 3000
SCHEDULER ON

[2021-07-29 21:40] lukeoftheshire commented on #331
The PORT and SCHEDULER variables have been reset as specified

[2021-07-29 21:43] Linoy339 commented on #331
https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/15

please merge and redeploy

[2021-07-29 21:51] lukeoftheshire commented on #331
Done.

Of note, the log appears to have changed to :
```Connecting to localhost:3000 (127.0.0.1:3000) wget: server returned error: HTTP/1.1 404 Not Found```

[2021-07-29 22:04] Linoy339 commented on #331
I am not sure on this. Let me check once again and come back. It seems to be an issue with network or dns, which I am not sure about.
Can you check from your end on the network ?

[2021-07-30 06:32] Linoy339 commented on #331
@lukeoftheshire . It seems like Lamp-worker and api-staging server is using the redis container of production .

Please find the error in api-staging while we post the sensor_event:
POST /participant/U0899474655/sensor_event 200 - 2.746 ms,
Error: getaddrinfo ENOTFOUND message_queue,
    at GetAddrInfoReqWrap.onlookup [as oncomplete] (node:dns:71:26) {,
  errno: -3008,,
  code: 'ENOTFOUND',,
  sys

[2021-07-30 08:00] Linoy339 commented on #331
@lukeoftheshire . I have created a container named "lamp_staging_worker01".
It is running. But, found that there is some issue while connecting to redis. Here, I face a problem of connecting to proper network. I was able to connect to public, but not to lamp_staging_default  network.
Can you please connect it to lamp_staging_default  network also?

[2021-07-30 11:01] Linoy339 commented on #331
@lukeoftheshire . or else you can simply stop the container -"lamp_staging_worker01" and start a new one.
Please let us know if done

[2021-07-30 13:32] lukeoftheshire commented on #331
I have spun up a new container from the service specification, which should have access to the lamp_staging_default. It still has the name lamp_staging_worker

Two things I noticed as I did so:
1. When I manually stopped the running 'lamp_staging_worker1" container through portainer, it terminated in the same way that the other container did - two terminations with no error code and then a termina

[2021-07-30 13:46] Linoy339 commented on #331
Can you please merge this:

[https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/19](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/19)

and redeploy?

[2021-07-30 14:06] lukeoftheshire commented on #331
Merged and redeployed

[2021-07-30 14:06] Linoy339 commented on #331
Thanks @lukeoftheshire

[2021-07-30 14:08] SuruPa00 opened #332 "URGENT: Not collecting passive data"
See permissions page below:
![image0](https://user-images.githubusercontent.com/86117379/127665233-be7e4f6a-e06a-46b5-99bd-918dd12d1132.png)

[2021-07-30 14:26] Linoy339 commented on #331
@lukeoftheshire .Please merge [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/20](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/20)

[2021-07-30 14:41] zcoaskchemicals commented on #332
It seems the data has not been captured because the phone was off , could you check if the data is coming now after the phone is switched on. Can you ask the user to login to the app once.  Also low power mode also disables GPS and other sensor data. I will double check on this and let you know.

[2021-07-30 14:43] michaelmenon commented on #332
It seems the data has not been captured because the phone was off , could you check if the data is coming now after the phone is switched on. Can you ask the user to login to the app once. Also low power mode also disables GPS and other sensor data. I will double check on this and let you know.

[2021-07-30 15:04] jijopulikkottil commented on #332
@SuruPa00 We will not sync data to server in low power mode. That might be the reason.

[2021-07-30 15:13] sarithapillai8 commented on #330
Issue fixed and updated in production.
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/278

[2021-07-30 17:33] Linoy339 commented on #331
@luke. We have merged it.
Can you please deploy it for once now and also make sure that the container doesn't get removed
even if it get failed or stopped

[2021-07-30 17:46] SuruPa00 opened #333 "Reminders not working on dashboard"
<img width="300" alt="Screen_Shot_2021-07-30_at_10 33 44_AM" src="https://user-images.githubusercontent.com/86117379/127692011-ab0fcb88-d351-416f-b2e5-fc60c9818e36.png">
<img width="300" alt="Screen_Shot_2021-07-30_at_10 33 21_AM" src="https://user-images.githubusercontent.com/86117379/127692017-6333fe07-6055-4340-a935-399a25ce65af.png">

[2021-07-31 10:51] jijopulikkottil commented on #322
@SuruPa00 same timestamp can appear on different sensors. hope this is not our case. [Could you share some sensor data which you see the duplicates. Or the query you used to find the duplicate, so we can confirm]

[2021-08-02 09:04] Linoy339 commented on #331
Hi @lukeoftheshire . The stack has been updated and redeployed. Its working as expected.
The reason of termination was that the stack was provided with an unwanted health check. LAMP-worker is not to be exposed and its for internal purpose which it subscribe to nats server. We believe, this was copied from api-staging server.
Also, we have removed the host rule (traefik.http.routers.lamp_worker_st

[2021-08-02 11:56] sarithapillai8 commented on #333
Fix updated in this PR - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/281
We moved the fix in staging. Once QA done, we can move this to production.

[2021-08-02 12:52] dcurrey88 commented on #322
Code to get duplicates for a certain participant from the database collection:
[code]

Put duplicates in an array:
[code]
You can see this for gps for the participants @SuruPa00 listed in the comment above.

[2021-08-03 12:24] sarithapillai8 commented on #333
Updated in production

[2021-08-03 12:24] sarithapillai8 commented on #293
Updated the fix in production

[2021-08-04 17:03] dcurrey88 opened #334 "Issues having multiple dashboard tabs open"
**Describe the bug**
Impossible to have 2 different dashboard tabs open without glitches. One of the tabs imports the participants from the other tab even if you are looking at different studies.

**Expected behavior**
Should be able to have multiple tabs open at once with different researchers or participants open.

[2021-08-04 17:05] dcurrey88 opened #335 "Filtering participants persists across sessions"
**Describe the bug**:
Certain users in researchers become filtered out and then we have to manually filter them back in at the top to see them.

[2021-08-04 17:06] dcurrey88 opened #336 "Max file size for breath activities"
**Expected behavior**:
Breathe activities should display max file size or give some usage warning.

[2021-08-04 17:07] dcurrey88 opened #337 "Breathe activities audio does not work"
**Describe the bug**:
Breathe activities have a slot to put a link to audio, but this does not actually function.

[2021-08-04 17:07] dcurrey88 opened #338 "Markdown does not work for learn tips"
**Describe the bug**:
Markdown does not work anymore on learn tips, so it is impossible to embed things in learn tips.

[2021-08-04 17:08] dcurrey88 opened #339 "Clicking on an activity should take you there"
**Describe the bug**:
When users click on activities in the feed, it does NOT take them to the activity.

[2021-08-04 17:08] dcurrey88 opened #340 "Need to refresh the page after you create a new user / group for it to show"
**Describe the bug**:
Need to refresh the page after you create a new user / group for it to show.

[2021-08-04 17:10] dcurrey88 opened #341 "Refresh in user settings redirects to all users page"
**Describe the bug**:
If you refresh the page in the settings for a user, it takes you back to all users. It should stay on the page.

[2021-08-04 17:11] dcurrey88 opened #342 "Need an informative error for failing to load an activity"
**Describe the bug**:
If you try to load in activity without choosing group it will just take you back to the settings page and tell you it failed without telling you why it failed (should stay on page and give you an informative error message).

[2021-08-04 17:12] dcurrey88 opened #343 "Activities become de-selected when accessing the next page"
**Describe the bug**
When selecting activities under the “activities” page from a researcher account, if you change the page to see the next part of the list, the activities that you have already selected often become de-selected.

[2021-08-04 17:12] dcurrey88 opened #344 "Activities in Prevent page should be automatically expanded"
**Describe the bug**:
Activities in Prevent page should be automatically expanded.

[2021-08-05 17:08] SuruPa00 opened #345 "Markdown not working"
Markdown isn't working at all. See Screenshots
<img width="1413" alt="cygmTrt2_o" src="https://user-images.githubusercontent.com/86117379/128391988-2b7c7636-0622-4d65-be77-0b606cba7506.png">
<img width="1416" alt="jiPmCIwe_o" src="https://user-images.githubusercontent.com/86117379/128391997-8e1b7320-33f1-4ad8-8fdd-0409bda87cc4.png">

[2021-08-05 17:08] SuruPa00 opened #346 "Journal survey crashing"
Participant U5059078716 inside the TECC study has reported the journal survey to be crashing once they type around 100 characters. Additionally is it possible to make a longer textbox than 300 characters?

[2021-08-06 06:02] sarithapillai8 commented on #346
@SuruPa00
Could you suggest what is the limit you need for the text then? Also we are not able to reproduce this with 100 characters. Could you provide any screenshot or video with issue?

[2021-08-06 12:14] tlakhtak commented on #300
Is there any more text that requires Hindi translations?

Additionally, we would also like to proceed with Kannada translations. Please provide documents for which to provide translations.

[2021-08-06 12:20] michaelmenon commented on #300
@tlakhtak can we create a new feature request ticket for this. not sure this we should continue this on this issue thread which was closed.

[2021-08-06 12:20] #300 closed

[2021-08-06 12:21] tlakhtak opened #347 "Kannada Translations"
Our collaborators would like to implement Kannada translations on the app. Please provide text for us to get translated.

[2021-08-06 12:22] tlakhtak commented on #300
#347 added as a new issue.

[2021-08-06 12:23] michaelmenon commented on #347
Ok great thanks for creating this as a new ticket, we will get back on the strings asap

[2021-08-06 12:41] SuruPa00 commented on #327
Hi @Ashermind, is this issue still persisting? If so, let me know!

[2021-08-06 14:09] sijugeorge-zco commented on #345
@SuruPa00 @avaidyam

As per our requirement and earlier discussions we were using **react-markdown** . Please check https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/338

We cannot add HTML tags directly , because it won't support for the markdown (https://www.npmjs.com/package/react-markdown). Please check the supported Markdown types (https://commonmark.org/help/)

If we need to sup

[2021-08-06 15:11] SuruPa00 commented on #322
@jijopulikkottil @Linoy339  any update on this issue?

[2021-08-06 18:11] SuruPa00 opened #348 "Welcome Note about version upon login"
We would like a minor feature that lets a user know when they login if they are not using the latest version of LAMP. When someone logs in and they are using an outdated version of LAMP, they would be notified with perhaps a pop-up or another way to say "Note: This is NOT the latest version of LAMP".  or "Note: This is the latest version of LAMP." if they are using the latest up to date version.

[2021-08-06 20:00] avaidyam commented on #345
@sijugeorge-zco This is absolutely not correct - React Markdown does support HTML. In fact, this issue has been reported before twice [and I have manually resolved it before both times, as shown in this commit, by adding `allowDangerousHtml={true}`](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/f36eda20950f86497c697aeea0a84ecf830a12ef). Please ensure that this kind of repeated re

[2021-08-07 16:56] jijopulikkottil commented on #322
Hi @SuruPa00, see our findings:
The duplicates data seems to be very old.
When we check with this API https://api.lamp.digital/participant/{participantid}/sensor_event, the last collected data is on Jan.
U3952228134 is iOS user and U1455941750 is Android user.

When we discuss this issue, there is a possibility to enter duplicate data into database with following scenario:
 if the server process t

[2021-08-09 04:04] ZCOEngineer commented on #345
We shall check on this an update @avaidyam

[2021-08-09 05:17] Linoy339 commented on #322
@SuruPa00 @jijopulikkottil . This is right. The possibility which we see is the same as @jijopulikkottil mentioned above.
For resolving frequent database writes of sensor_event data, we have introduced the cache.
This  will be available in production when we make a release soon

[2021-08-09 13:31] #330 closed

[2021-08-09 13:37] #315 closed

[2021-08-09 13:41] SuruPa00 opened #350 "App Crashing"
User U7744128165 has reported the app crashing itself or sometimes crashing the entire app on a Samsung Note 10 running on Android Version 10.

[2021-08-10 14:12] saranya-sajeev commented on #350
Hi @SuruPa00
Is t possible to get more details on this? If the user can share the steps to reproduce the issue it will be very helpful for us to figure out the issue.

[2021-08-10 14:33] SuruPa00 commented on #350
Hi @saranya-sajeev, after uninstalling and redownloading the app, the crashing has ceased for now. For now, we should be fine and do not need it be looked into further.

[2021-08-10 14:33] #350 closed

[2021-08-10 19:05] SuruPa00 opened #352 "DBT Diary Card Fixes"
- Add “amount” as an option for measurement under Actions in addition to the existing options of times, minutes, hours.

- The labels for target behavior should read Effective Target Behaviors and Ineffective Target Behaviors. Please add the word effective to the header for target behavior to differentiate between effective and ineffective target behaviors. Please see below.
![target](https://user

[2021-08-11 06:35] saranya-sajeev opened #353 "Youtube video for accessing location in background."
@SuruPa00 Also as per Google policy, to access location in background, for apps that targets Android 10 or higher, we have to specify what is the main purpose of the app, why app need to access location in background and also a short YouTube video which shows an in-app walkthrough of the feature. The video should include the prominent disclosure that is shown to users before the runtime prompt. Th

[2021-08-11 10:32] sijugeorge-zco commented on #347
@tlakhtak

Please find the texts to be translated to Kannada.

Please use the **right side values** of each texts on the attached files.

[JewelsPro_translations.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6967675/JewelsPro_translations.txt)
[Journal_translations.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6967676/Journal_translations.txt)
[MedicationT

[2021-08-11 10:55] sarithapillai8 commented on #345
https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/commit/198541f998bf68c302c411f3ae30ce12bea88c2c - updated LAMP-activities with the fix. Updated in production.

[2021-08-11 15:48] SuruPa00 opened #354 "GoogleFit Connectivity Issues"

[2021-08-12 11:03] sarithapillai8 commented on #352
Updated the changes in production - BIDMCDigitalPsychiatry/issue-352

[2021-08-12 11:07] sarithapillai8 commented on #348
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/287 - Updated

[2021-08-12 11:46] saranya-sajeev commented on #354
@SuruPa00 We are analyzing the Google fit issue, it is still not resolved. Google fit access is working fine for users those already gave consent to access Google fit data. Issue is with new users.  We are working on this issue.

[2021-08-12 22:16] lukeoftheshire commented on #331
Hi @Linoy339 ! Thank you for your hard work on this. How did the test go? Do you think we are ready to deploy this to the staging server again? If so, what steps can we take on our end to help you/get set up?

[2021-08-13 05:57] Linoy339 commented on #331
Hi @lukeoftheshire . Its already in staging and we have tested it in staging and is working as expected. As we said above, the termination happened because the stack was provided with an unwanted health check.
We aleady asked @SuruPa00 for the testing from your end. If everything goes well, we can move to production.

[2021-08-13 12:26] SuruPa00 opened #355 "Group Duplication Errors"
Example below - see the jewels icons being entirely empty

![Image from iOS](https://user-images.githubusercontent.com/86117379/129386159-f1acbb4c-ed8f-47f8-8233-92238dadd568.png)

[2021-08-13 16:00] Ashermind commented on #327
Before I check it, should we try updating?

[2021-08-13 16:07] avaidyam commented on #338
Fixed in #345.

[2021-08-13 16:07] #338 closed

[2021-08-13 17:14] SuruPa00 commented on #327
Yes! Try updating and seeing if the issue is still persisting. There have been some updates in the past few weeks that may solved your issue. Else, we can look into it further!

[2021-08-16 05:18] sarithapillai8 commented on #334
@avaidyam @SuruPa00
Please provide more details for this issue. It seems working from two tabs. Where did you see the issue?

[2021-08-16 09:34] saranya-sajeev commented on #354
@SuruPa00 We have created a sample for checking Google fit issue. What we observed is that , in the  OAuth Consent screen of Google Cloud Console, we can select the **Publishing Status**. Currently our app's publishing status is **In Production**.
Another option is **Testing**.

**In Production:**
Once you set your app status as "In production," your app will be available to anyone with a Google A

[2021-08-16 09:37] saranya-sajeev commented on #354
Could you please achange **"Publishing status"** to **Testing** in OAuth Consent Screen of Google Cloud Console and then you can add a test user. Then follow below steps

1. Add the test account on Android phone
2.     Launch mindLamp app.
3.     App will show a pop up to choose an account to continue, select the test account added in Google Cloud Console.
4.     App consent screen will show.
Then

[2021-08-16 12:11] sarithapillai8 commented on #335
@avaidyam  @SuruPa00
Could you please provide more details on this? If this is about study filter, then the expected behavior is saving selected studies in tag and loading details based on that. When manually change, this tag info will be updated and details will be loaded accordingly.

[2021-08-16 12:16] sarithapillai8 commented on #339
@avaidyam @SuruPa00
Could you please provide the details? We have some time restrictions for accessing the activities from feed.  For eg : Hourly activities can have multiple rows in feed, and only upcoming ones can be accessed. Like that we have different schedule based restrictions. So could you please confirm this is not the case?

[2021-08-16 12:53] michaelmenon commented on #341
Hi @avaidyam , It is how the system was developed and not an issue.  This will require some good amount of time and testing. Please confirm if we need to spend time on this.

[2021-08-16 12:54] michaelmenon commented on #341
Also if we need to do this we need to do it for each inner page and all the tabs.

[2021-08-16 14:02] avaidyam commented on #335
Filters should no longer be using Tags; clinicians want these to NOT be shared across devices.

[2021-08-16 14:05] avaidyam commented on #339
That is the correct behavior; @dcurrey88 are you referring to how past/inactive schedules look the same as future/active schedules?

[2021-08-16 14:06] sarithapillai8 commented on #335
@avaidyam
The filtering of activities, sensors, participants are using study filter. Do you remove that entirely? If so, could you please update this as feature task as it is not a bug then. This is working as expected with our current implementation.

[2021-08-16 14:08] avaidyam commented on #341
@michaelmenon This is not how the dashboard was designed to work and it is a bug. If the user is on a patient's profile/settings page, the URL should be `.../#/participant/U123456789/settings` - and if the page is reloaded, this URL should be used to redirect the clinician/user to the same page they were at before. If this URL link is clicked, the log in screen will display if the user is not alre

[2021-08-16 14:09] avaidyam commented on #335
No, we do not want to remove the filters, but change the implementation to use localStorage instead of Tags.

[2021-08-16 14:15] sarithapillai8 commented on #335
@avaidyam
Sorry, This is not clear. I understood the change to replace the tags with localStorage. But how that achieve the change requested in the task description?

[2021-08-16 14:19] avaidyam commented on #335
Switching to localStorage should solve this problem, caused by filters being set on one device and also appearing for the same account on another device.

[2021-08-16 14:21] sarithapillai8 commented on #335
Ok. Got it. Thanks.

[2021-08-16 14:42] sarithapillai8 commented on #337
@avaidyam
We could not reproduce this. Could you please confirm?

[2021-08-16 14:59] dcurrey88 commented on #334
If I go onto one tab on one researcher and another tab on a different researcher the first tab will show all participants from both the first and second researcher. They will show up under the filter, and if you toggle to the activities page and back to users they will show there as well.

[2021-08-16 17:25] michaelmenon commented on #341
@avaidyam this is how the system logic works now.  if it needs to changed like I said it's going to take some time. check with your team and let us know the priority on this and team will work on this.

[2021-08-16 17:57] SuruPa00 opened #356 "Select All and Deselect All Filter Button"
In the dashboard, once we enter a researcher group, can we make it so that (1) we are able to have no studies selected - you can see the error in unselecting everything comes up in the bottom left; and (2) can we have a new set of two buttons where i have circled in red in the screenshot - one to say "deselect all" and one to say "select all" so that the filters do not have to be individually clic

[2021-08-16 17:58] dcurrey88 commented on #337
@sarithapillai8 You are correct, it is now working on our end. I will close this issue.

[2021-08-16 17:58] #337 closed

[2021-08-16 18:00] #352 closed

[2021-08-16 18:00] #348 closed

[2021-08-16 18:04] dcurrey88 commented on #339
@sarithapillai8 Users should not be able to click on activities from the past, but currently the feed will never take you to an activity, regardless of the time when its scheduled.

[2021-08-16 18:26] michaelmenon commented on #356
Thanks we will check and get back on the time required asap.

[2021-08-17 06:36] sarithapillai8 commented on #343
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/74820f0627385a0378a8b728af339436fb0c9f5b - Updated in dashboard-staging

[2021-08-17 14:30] SuruPa00 commented on #322
@Linoy339 can we get an estimate of when the next release to include this fix will be ready? and is there anything you are waiting on our team for regarding this?

[2021-08-17 15:30] Linoy339 commented on #355
@SuruPa00. This is fixed in staging and will be available in production as soon as we plan a release

[2021-08-17 15:30] Linoy339 commented on #322
@SuruPa00 . Yes, we were testing Notification functionality with LAMP-worker enabled([https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/150].(https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/150)). It was tested from our side and found working as expected.  As  per the discussion, we need you to verify this and can do the release asap

[2021-08-17 15:46] SuruPa00 commented on #322
@Linoy339 thanks for checking in, make the release asap. Thanks

[2021-08-18 13:13] SuruPa00 commented on #355
@Linoy339 just check in on this and looks good - push asap

[2021-08-18 13:18] SuruPa00 opened #357 "Data not collecting"
Participant: U5059078716
Although they have been collecting gps / accelerometer (after deleting and reinstalling the app on 8/12/21), screen state data has not been collected in about a month (since around 7/18/21).Although they have been collecting gps / accelerometer (after deleting and reinstalling the app on 8/12/21), screen state data has not been collected in about a month (since around 7/18

[2021-08-18 13:22] michaelmenon commented on #357
thank we will check and see if there is any issue in screen data collection and let you know.

[2021-08-18 13:30] michaelmenon commented on #357
Ok sure will check on that as well. Just to confirm if the phone is set on Low power mode we will not get the GPS data. os  if we have any issues with GPS data , please check if the device is in low power mode or not. We will check on our end as well.

[2021-08-18 15:29] SuruPa00 commented on #354
@saranya-sajeev would changing the app status to testing affect users who are currently using the app? since we have many android users who are currently in use of the app, we want to make sure users are not negatively impacted

[2021-08-18 15:46] lukeoftheshire opened #358 "Download a csv containing all participant activity data for a research study"
Currently, downloading participant raw data directly from the LAMP website is difficult - it would be nice to have a single easy-to-use button that enables data download

To fix this issue, we will add a button to the data portal that allows a user to download a CSV containing raw activity data.

[2021-08-18 16:00] avaidyam commented on #358
@lukeoftheshire [Here's the old version of this feature from the legacy dashboard code.](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/e75293f91e39e23f11abb5bb9570006c444d1dd4) We should also be merging all the data across participants into one big CSV with de-obfuscated IDs (Activity ID → name of activity), suitable for Excel import or similar.

[2021-08-19 06:32] saranya-sajeev commented on #354
@SuruPa00 For users those already gave consent to access google fit data, will not affect.

[2021-08-19 10:50] michaelmenon commented on #357
Team checked on this and please see our comments below :

The first participant is iOS and second is an Android user.

For iOS, we can investigate 'screen_state' data missing issue and let you know
Another issue is about  'gps' and 'accelerometer' data started collecting only after delete and reinstall. **To investigate this, we would like to know their use case. Like how long they will keep the a

[2021-08-19 11:01] Linoy339 commented on #355
@SuruPa00. As per the discussion, we can move to production after getting verification regarding LAMP-worker functionality
There has been a crash after deploying it((https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/331).).We fixed it.
So, we can push altogether after the verification from your side.

[2021-08-19 19:45] tlakhtak commented on #329
The issue seems to continue with v1101 (2021.8.6) iOS version 2021.7.6, which is confirmed to be the latest version.

![IMG_0573](https://user-images.githubusercontent.com/82968538/130134082-4fb4b4b9-2573-4a45-8dd7-41f1f46a97a4.PNG)
![IMG_0572](https://user-images.githubusercontent.com/82968538/130134083-2df19c28-3ea0-4840-a38c-b5c74a389e73.PNG)

[2021-08-23 14:23] SuruPa00 commented on #323
@avaidyam can you check in on this since we're getting more instances of this

[2021-08-23 14:48] SuruPa00 commented on #295
This is now a reoccurring issue and should be worked on when possible - see example issue of video below:
https://user-images.githubusercontent.com/86117379/130467943-2c4e9f62-7ce8-49dd-a25e-9fe8d31435fb.mov

[2021-08-23 14:52] SuruPa00 commented on #3
can it be added so that low power mode is a sensor within lamp.analytics? this way, it can be detected for future data collection issues if a device was on low power mode or not

[2021-08-23 15:08] avaidyam commented on #3
@jijopulikkottil [Here is example code that can be used to listen to low power mode notifications.](https://www.hackingwithswift.com/example-code/system/how-to-detect-low-power-mode-is-enabled) The fact that LPM was turned on or off should be conveyed as a `lamp.analytics` event.

[2021-08-23 15:09] avaidyam commented on #323
@ZCOEngineer @sarithapillai8 I believe the issue may be in `LAMP-dashboard` in `App.tsx` - the credentials are being cleared incorrectly from `localStorage` before the code can validate whether the app is logged in. **As a reminder, the app should NEVER log anyone out unless "Log Out" is clicked and the confirmation dialog is presented FIRST.**

[2021-08-23 18:05] SuruPa00 commented on #354
@saranya-sajeev we just followed the instructions you provided, but no app consent screen appeared, any suggestions on next steps? we have a video, but it does not show the information we need since no screen came up with the listing of the permissions we are requesting did not display.

[2021-08-24 05:42] saranya-sajeev commented on #354
@SuruPa00 have you changed the publishing status to Testing in Console https://console.cloud.google.com/apis/credentials/consent?authuser=1&folder=&organizationId=&project=api-6882780734960683553-445906 ?

[2021-08-24 13:20] SuruPa00 opened #361 "ActivitySpec and SensorSpec endpoints require implementation"
See the two files here related to ActivitySpec: https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/55deb584c4f13cd6856356a5884166eed293b4eb/src/repository/mongo/ActivitySpecRepository.ts#L18

And SensorSpec: https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/55deb584c4f13cd6856356a5884166eed293b4eb/src/repository/mongo/SensorSpecRepository.ts#L18

Both return errors that say unimpl

[2021-08-24 13:23] avaidyam commented on #361
@Linoy339 Could you add the implementation detail for both CouchDB and MongoDB? It should be quite simple in both cases.

[2021-08-24 13:24] SuruPa00 commented on #354
@saranya-sajeev yes, we did - we then added a test user with an email account, logged in using that email account and a dummy lamp user, and still did not see any screen - i can turn it back to testing if you need

[2021-08-24 13:35] lukeoftheshire commented on #331
This looks good per some testing and reviews from other members of the team - I think we are ready to push this to production!

Thank you all very much for your hard work on this issue!

[2021-08-24 13:37] SuruPa00 commented on #355
@Linoy339 #331 has been tested and can be pushed, please push this fix as well

[2021-08-24 13:41] saranya-sajeev commented on #354
@SuruPa00 When I have checked in the developer account, the publishing status is still in Production.
![GoogleCloudConsoleImage](https://user-images.githubusercontent.com/81216000/130627151-86ed07fc-5ed3-4b27-8492-fc478d27356f.png)

[2021-08-24 13:42] SuruPa00 commented on #354
@saranya-sajeev just set it back to testing

[2021-08-24 13:45] saranya-sajeev commented on #354
@SuruPa00 Ok. I will add my account as tester and let you know.

[2021-08-24 13:53] saranya-sajeev commented on #354
![GoogleFitConsentScreen](https://user-images.githubusercontent.com/81216000/130629039-ed088516-8fb7-41d7-9d9e-eed093a7eb8c.png)

[2021-08-24 13:53] saranya-sajeev commented on #354
Consent screen is showing for the beta build.

[2021-08-24 14:02] SuruPa00 opened #362 "Importing activities loses icons"
When exporting and importing activities from a group that has icons properly loaded, the activities imported into a new group does not carry over the icons. See screenshot below:
<img width="1204" alt="Screen Shot 2021-08-24 at 9 57 17 AM" src="https://user-images.githubusercontent.com/86117379/130630559-5e549563-f2fa-4b6d-ab89-c5c340a0c84d.png">

[2021-08-24 14:08] Linoy339 commented on #355
Okay @SuruPa00

[2021-08-24 14:11] Linoy339 commented on #331
Thanks @lukeoftheshire . We can push to production ASAP

[2021-08-24 14:13] Linoy339 commented on #361
@avaidyam @SuruPa00 . We can update it ASAP and let you know.
Thanks

[2021-08-24 15:25] Linoy339 commented on #355
@SuruPa00 . Sure.

[2021-08-24 19:10] SuruPa00 opened #363 "Jewels levels"

[2021-08-25 05:55] sijugeorge-zco commented on #323
@avaidyam @SuruPa00

Since we cannot reproduce the issue here, can you please provide iPhone Model and iOS version for the devices having auto-logout issue ?

[2021-08-25 08:26] Linoy339 commented on #361
@avaidyam . Is the both functions to be implemented for bulk insert or single one?

[2021-08-25 09:28] avaidyam commented on #361
All six functions across two files should be implemented.

[2021-08-25 09:39] Linoy339 commented on #361
Okay @avaidyam

[2021-08-25 09:49] sarithapillai8 commented on #363
@SuruPa00
1)  There are settings in the activity creation screen as we are just populating the fields with the settings. It was asked to do the level changes later. And it never came up as priority , that is why we commented to change the task to feature one. We can work on it after user hierarchy changes if it is a priority one.
2) These parameters are not yet implemented as we didn't implement l

[2021-08-25 12:34] #326 closed

[2021-08-25 13:34] SuruPa00 commented on #363
@sarithapillai8 please work on this after hierarchy changes - this should be a priority since jewels functioning properly is required for proper data collection. Thanks

[2021-08-25 14:52] #332 closed

[2021-08-25 14:52] #333 closed

[2021-08-25 20:15] jeydude opened #365 "Google Fit connection issue with production Android app"
Hi,

We downloaded and installed latest mindLAMP android app from the Google Play store on August 12th. From that day on, step counts, sleep and heart rate data are not getting transferred to mindLAMP database due to Google Fit connection issue.

Please look at the attached log files.
[LampLog-08252021B.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7049654/LampLog-08252021B.tx

[2021-08-25 21:05] tonyrci2 opened #367 "not getting sensor data"
Our installation of mindlamp is not collecting sensor and passive data.
I checked the following databases:
- Sensor_event has entries for only "lamp.analytics", but none others.
- Sensor_spec has all ~18 sensor_specs added, as per https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/131#issuecomment-787916679 and https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/119#issuecom

[2021-08-26 11:12] sarithapillai8 opened #368 "User Hierarchy Changes"
**System admin :**

Current list of researchers will be changed like : Extra column showing type of user and list will include researchers, user admins and clinician admins.
When system admin try to add users - there will be 3 user types listed in the drop-down to identify which user to be created.
Assuming the same API for creating researchers can be used with some extra field for user type.

 **

[2021-08-27 12:48] lukeoftheshire opened #369 "Surveys saved without Question Title"
Surveys can currently be saved even if each question does not have a title. This leads to downstream problems - for example, the object corresponding to that survey question in a temporal slices array does not have an 'item' key-value pair.
See item 2 in:
`[{'item': 'How would you rate your overall anxiety level today?', 'value': 1, 'type': None, 'level': None, 'duration': 99}, {'value': None, 'ty

[2021-08-30 12:13] SuruPa00 commented on #346
Hi @sarithapillai8, could we make the textbox have a limit of 800 characters?

[2021-08-30 13:34] sarithapillai8 commented on #335
@SuruPa00 This is updated in dashboard-staging. QA completed. Production can be updated with User hierarchy changes.

[2021-08-30 13:34] sarithapillai8 commented on #356
@SuruPa00 This is updated in dashboard-staging. QA completed. Production can be updated with User hierarchy changes.

[2021-08-30 13:35] sarithapillai8 commented on #336
@SuruPa00 This is updated in dashboard-staging. QA completed. Production can be updated with User hierarchy changes.

[2021-08-30 13:36] sarithapillai8 commented on #355
@SuruPa00 This is updated in dashboard-staging. QA completed. Production can be updated with User hierarchy changes.

[2021-08-30 13:36] sarithapillai8 commented on #329
@SuruPa00 This is updated in dashboard-staging. QA completed. Production can be updated with User hierarchy changes.

[2021-08-30 14:13] ryan-hays commented on #361
I see @avaidyam merged this. Looks good! Can we create a new release so that the endpoints are available in the production server?

[2021-08-30 14:18] ryan-hays commented on #361
Also, I noticed in testing that `LAMP.ActivitySpec.create` has scope across the server, even if one is logged in with `Researcher` credentials; `LAMP.ActivitySpec.delete` is only available to admin.

Is this intended behavior? @avaidyam Would it be better to selectively allow ActivitySpec creation within the scope of individual researchers?

[2021-08-30 14:19] avaidyam commented on #361
@ryan-hays Good catch! @Linoy339 Create/Update/Delete should ONLY be available to administrator level. Could you update this?

[2021-08-30 14:23] Linoy339 commented on #361
Sure @avaidyam .Let me check on it

[2021-08-30 14:49] SuruPa00 commented on #368
@sarithapillai8 when i try to create clinicians inside the first group created inside my test useradmin account (named uadmin), i can create clinicans. When i create a new study inside that uadmin user (named uadmin2), when i create a clinician and assign them to the that new uadmin2 group, they do not show up in the list of clinicians in the uadmin account.

Additionally, when I create clinicians

[2021-08-30 16:34] Linoy339 commented on #361
@avaidyam @ryan-hays . Create api is made limited to administrator.
Update/Delete operation was already limited to administrator

[2021-08-30 16:38] er42 commented on #312
Hi @SuruPa00, is there any news yet on when this functionality will be available in the android app (either the beta or production version)?

[2021-08-30 18:13] SuruPa00 opened #371 "Activities move around after moving to next page"
After selecting an activity at the top, when you go to the next page and then go back to the first page, the selected activity sometimes changes where it was in the list (sometimes on the bottom even though it was selected when it was at the top)

[2021-08-30 18:15] SuruPa00 opened #372 "You can create two groups with the same name"
See [attached](https://user-images.githubusercontent.com/86117379/131385354-9da3cc8d-65e4-4e2e-a72f-7464d51667e1.mov)

[2021-08-30 18:18] SuruPa00 commented on #355
@saranya-sajeev seems to still not be working and is continuing to have that problem. See attached [video](
https://user-images.githubusercontent.com/86117379/131385725-effa87bf-077a-4495-bc2c-ab83ab0c32cc.mov)

[2021-08-30 18:23] SuruPa00 commented on #312
@er42 The android update process ended up being a bit more complicated than expected but we did just submit the last piece needed for it to go through this past week, so hopefully within the next week!

[2021-08-30 18:52] michaelmenon commented on #368
Thanks @SuruPa00 will check and post our comments asap.

[2021-08-30 23:36] sarithapillai8 commented on #368
@SuruPa00
Do the uadmins can see the studies and clinicians created under different uadmins and manage them all? I was managing it like different group of admins managing different set of studies and clinicians. Please confirm, I can change accordingly.

I will check with what happening with clinician creation.

Clinical admins are supposed to manage all the clinicians under different studies. So

[2021-08-31 05:26] Linoy339 commented on #355
@SuruPa00 . Its not pushed to production. Please check with api-staging.
As discussed, we will be moving to production after User hierarchy fixes

[2021-08-31 19:40] SuruPa00 opened #373 "Import activity file size causes error"
When you import a json file from exporting activities, nothing happens when the file size seems to be too big (can upload kb of activities, but not jsons that are a few mb or higher) - since participants are having larger mb jsons imported now, this is an important issue to fix. Once this is fixed, can it be smoothly pushed to production without waiting on other pieces after our team tests it?

[2021-08-31 19:58] michaelmenon commented on #373
ok thanks @SuruPa00 . will check the design. seems like we need to change it to have big files imported in chunks. Will update asap.

[2021-09-01 13:34] sarithapillai8 commented on #368
@SuruPa00
The issues you mentioned are updated in code repo. Dashboard staging is not getting updated because some issues.  Once it is fixed, you can check the changes there using api-staging server.

[2021-09-02 04:37] sijugeorge-zco commented on #356
@SuruPa00

We have updated the changes as below :

If the researcher clicks _Deselect All_ the studies **OR** no studies are selected and Logged Out and then Logged In again, the user will _Select All_ the studies as default.

After creating a study, the created study will automatically be selected on the filter (even if _Duplicate From_ is not selected  **OR** _Create a new user under this group_

[2021-09-02 09:35] sarithapillai8 commented on #373
@SuruPa00 @avaidyam
There is a limit restriction 5MB  for file to import. Could you confirm whether we have to increase the limit to 10MB - 15MB and or show the current limit information in the import screen?

[2021-09-02 12:56] SuruPa00 commented on #373
Increase to 15 MB and make a note somewhere that shows the limit information on the import screen.

[2021-09-02 13:32] SuruPa00 commented on #354
any updates since submitting this video @saranya-sajeev

[2021-09-02 16:07] avaidyam commented on #368
@sarithapillai8 I believe your original interpretation is correct - we will double check with the client. It also came to our attention today that the Manage Credentials option for admins is not correctly functioning - the `origin` of the Credential object **MUST** be `null`, not `"admin"`.

[2021-09-03 06:24] Linoy339 opened #375 "Cluster got shut down"
node-01.lamp.digital got down for some reasons. @avaidyam @SuruPa00 Could you please look into it ASAP?
We need to look after the redis misconfigure issues after this cluster becomes active

[2021-09-03 06:41] saranya-sajeev commented on #354
@SuruPa00 You can submit the video and reapply for verification.

[2021-09-03 08:48] sarithapillai8 commented on #368
@avaidyam
Manage Credentials option for admins is not correctly functioning - the origin of the Credential object MUST be null, not "admin"
 : - With this do you want to change this for super admin only or for all the admins including clinical admin and user admin? And could you also please confirm this change is to remove the permissions changes we did in API level?

[2021-09-03 12:22] lukeoftheshire commented on #375
Hi @Linoy339 - thank you for letting us know about this! We have rebooted node-01 and I have confirmed that things are working as normal (for now). I will be keeping an eye on it throughout the day but please let us know if it goes down again.

[2021-09-03 15:26] Linoy339 commented on #375
Thanks @lukeoftheshire .

[2021-09-03 17:06] jijopulikkottil commented on #3
We can observe change in low power mode and can send the sensor event if device is connected to internet.
Do we need to store the request if no connectivity and send when connected ?

[code]

[2021-09-03 18:40] SuruPa00 commented on #3
@jijopulikkottil yes to storing the request if no connectivity and send when connected

[2021-09-04 08:00] jijopulikkottil commented on #3
Ok, we can store the above analytics data to sync later.
We are syncing(sending to server) stored requests only when low power mode is turned off. So the stored analytics data sync only when device is connected and lower-mode is turned off.

Let me know if need any changes.

[2021-09-07 04:29] Linoy339 commented on #375
@lukeoftheshire .
Nats was down 2 days before. Now it looks like redis is also down in production.

Can you please check and bring those up. Also, please check the server for any space issues.

[2021-09-07 10:34] sijugeorge-zco commented on #372
@SuruPa00

We tried checking the issue but couldn't reproduce it here .

We also checked on logging to admin and checked through Researcher (**TECC Lite (Jenny)**) as in Video and we couldn't find any study with that name (_on the filter list and not on the study list_).

[2021-09-07 12:10] lukeoftheshire commented on #375
Hi @Linoy339 - thank you for telling us about this issue. I have confirmed that redis has not exceeded its imposed 4 gb limit (as of last check, it was at about 3.85/4). However, it appears that three instances of lamp-worker have been spun up, each consuming about 7 gb of memory, leading to 100% usage which could be causing your issues. We are actively investigating this and I will update this to

[2021-09-07 12:33] Linoy339 commented on #375
Yes @lukeoftheshire . Let us know if any thing from your side

[2021-09-07 12:44] SuruPa00 commented on #357
@michaelmenon  was there any update on why screen duration data was not collecting?

[2021-09-07 13:29] sarithapillai8 commented on #368
@SuruPa00  @avaidyam @michaelmenon
All the updates are ready for testing in dashboard-staging. Auto-update issue seems fixed.

[2021-09-07 13:30] sarithapillai8 commented on #346
@SuruPa00 @avaidyam
The changes are updated in production.

[2021-09-07 13:31] sarithapillai8 commented on #373
@SuruPa00
Updated in dashboard-staging.

[2021-09-07 13:34] SuruPa00 commented on #373
@sarithapillai8 is it possible to raise the MB limit to 25MB? If so, please do that. If not, can you push this production without waiting for user hierarchy to push?

[2021-09-07 13:46] SuruPa00 commented on #329
@sarithapillai8  can this be pushed without waiting for user hierarchy changes? if so, please go ahead

[2021-09-07 13:51] SuruPa00 commented on #322
@Linoy339 was this released

[2021-09-07 14:19] Linoy339 commented on #322
Yes @SuruPa00 . This is included in the latest release 2021.8.30

[2021-09-07 15:03] lukeoftheshire commented on #375
Hi @Linoy339 yes I can confirm there were multiple instances of those  - I am unsure as why this might happen, so please let me know if you have any ideas how this could have happened. Thank you for letting me know about it! I have removed any extraneous versions and (as of this comment) there should be only one of each of those running.

[2021-09-07 16:12] #371 closed

[2021-09-07 18:52] SuruPa00 commented on #345
This is broken again: see image below for what happens when markdown is written in the description - it outputs as literal text instead

<img width="473" alt="Screen Shot 2021-09-07 at 2 50 25 PM" src="https://user-images.githubusercontent.com/86117379/132396247-005b7424-3976-4bd9-8482-f966be323114.png">

[2021-09-08 02:09] sarithapillai8 commented on #373
@SuruPa00
This can be done. But there will be a noticeable delay in importing large files. If no problem with that, we can do. Please confirm.

[2021-09-08 02:12] sarithapillai8 commented on #329
@SuruPa00
This has been updated to production as the changes are only on lamp-activities repo.

[2021-09-08 07:36] sarithapillai8 commented on #368
@SuruPa00 @avaidyam
Could you please confirm all the user admins can see all the clinicians and studies? The API for fetching all the studies not working and studies can be fetched researcher based. So please confirm on this, so that we can work on API changes.
@michaelmenon

[2021-09-08 14:44] SuruPa00 commented on #373
@sarithapillai8  this is fine, as most files will be 15MB and under, but the availability of larger files is convenient. Go ahead and raise the limit then.

[2021-09-08 14:56] #346 closed

[2021-09-08 14:58] SuruPa00 commented on #3
@jijopulikkottil is this still being implemented or is it completed

[2021-09-08 14:59] SuruPa00 commented on #356
@sijugeorge-zco can this be pushed asap?

[2021-09-08 15:07] #362 closed

[2021-09-08 15:12] avaidyam commented on #368
@sarithapillai8 The change for `origin = null` is for ANY administrator type. Can you share what API level changes happened for this feature? There should not have been any; this implementation should have been *entirely frontend only*. Going forward as well, we do not want any API changes for any feature.

[2021-09-08 15:55] sarithapillai8 commented on #368
@SuruPa00 user admins can see all the clinicians created by all user admins now. But they can see the studies they created. Not the ones other user admins created and they cannot create clinicians under a study created by another user admin. This is already implemented in dashboard-staging. The studies can  be fetched based on the creator. @avaidyam  already commented no api changes to be done on

[2021-09-08 17:32] jijopulikkottil commented on #3
@SuruPa00 It is completed. Testing is In-Progress

[2021-09-08 20:31] avaidyam commented on #368
@sarithapillai8 Just to clarify - user admins and practice lead should be identical in all cases except how the dashboard admin page works for them. User admins can manage credentials and create clinics/researchers BUT NOT ENTER THEM, and practice leads should be able to view all clinics/researchers BUT NOT CREATE/DELETE THEM (or manage credentials). In the API level, system administrators, user a

[2021-09-09 01:36] sijugeorge-zco commented on #345
@SuruPa00
This was due to the Auto build issue for the Tips. We will update this again.

[2021-09-09 02:40] sarithapillai8 commented on #368
@avaidyam
Could you please go through all the comments above. I have detailed everything. https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/368#issuecomment-906601074.
Also could you please confirm if there any api for fetching all the studies at admin level without looping through users? Studies were created for researchers, both admins are created as researchers and handled them as

[2021-09-09 04:33] sijugeorge-zco commented on #356
@SuruPa00

We had already pushed this code on [**dashboard-staging**](https://dashboard-staging.lamp.digital/) earlier and its working.

Please let us know any other changes needed for filtering.

[2021-09-09 06:49] sarithapillai8 commented on #368
@avaidyam
We are not able to change origin=null condition for user and clinical admins.
There is a validation in the service which do not allow typeId null condition-
https://github.com/BIDMCDigitalPsychiatry/LAMP-js/blob/a9fde0d7779231a67bbc12324406b9cf2da4608a/src/service/Credential.service.ts#L21.
Please do let me know, how to proceed.

[2021-09-09 17:47] SuruPa00 commented on #345
It's working now, thanks.

[2021-09-10 03:39] sarithapillai8 opened #378 "User hierarchy changes"
@avaidyam @SuruPa00 @michaelmenon @ZCOEngineer

As per the discussion we had, please find the summery of the requirement below :

**Super admin :**
The additional feature will be managing clinical admins and user admins. User admins and clinical admins will be created as admins and they will be managed through the tag “gov.lacounty.dmh.admin_permissions” in the format : {“test@dmh.lacounty.gov”: “

[2021-09-10 03:44] ZCOEngineer commented on #378
@SuruPa00 @avaidyam Could you confirm this ?

[2021-09-10 12:02] avaidyam commented on #378
@sarithapillai8
1. No - please make modifications to show administrator type in the `Manage Credentials` dialog box only. The subtext should be removed as that page shall only list `Researcher` otherwise.
2. To simplify things, we are moving to the language "Simple mode" and "Advanced mode" - this toggle can be at the top toolbar of the Researcher view page and this should be remembered in `localS

[2021-09-10 12:28] SuruPa00 opened #379 "Deleting a single activity deletes all activities"
When viewing a participant's activities and sensors, when you go to delete an activity from that participant, sometimes all of the activities are deleted.

[2021-09-10 13:45] avaidyam opened #380 "LAMP-worker Docker support"
Currently, the `DOCKER_ADDR` environment variable for `LAMP-worker` does not allow using a socket path (i.e. `/var/run/docker.sock`). If no `DOCKER_ADDR` is provided, the default socket path should be used instead.

[2021-09-10 13:46] avaidyam opened #381 "LAMP-worker excessive logging"
Currently, every single NATS event is being console-logged, and this will cause excessive disk and memory usage. Events should only be logged if they are triggering an automation script.

[2021-09-10 13:48] avaidyam opened #382 "LAMP-worker uses filesystem"
LAMP-worker [currently uses the filesystem (code here)](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/blob/4cd0af4f73f195015000a867b85318fdd6356d62/src/app.ts#L159) but there should be zero usage of filesystem across any LAMP backend code as there is no guarantee that these files/folders will remain available across container restart or resets.

[2021-09-10 13:51] avaidyam opened #383 "Automations do not work due to LAMP-worker issues"
Due to issues #380 and #382, Automation scripts cannot (and will not) run currently through LAMP-worker. Because all LAMP backend code is executed within an isolated Docker container, the file system of one container is not accessible to another container **or the Docker host** (which would be a massive security vulnerability). As a result of saving automations code into local ZIP files (#382), ev

[2021-09-10 14:05] avaidyam opened #384 "Survey text Markdown support"
Survey text (across question text, option text, descriptions, etc) should support Markdown. Most of the legwork was done already through `react-markdown` [as implemented in Tips and updated recently](https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/commit/9e3476f33047bcc400b13d26590da0875683edf3#diff-5a122eba93c60c2575b97147a802046529a08b791db130014d4c43986ca5b320R154). However, **even wi

[2021-09-10 14:17] avaidyam opened #385 "Survey schema updates: warnings and text blocks"
A Survey activity's settings are currently an array of questions to be displayed. Each entry contains question text, type, options, etc.

---

## Support `warnings` popups

In addition to these, a new field `warnings` should be added. This field will contain a dictionary mapping of values to text, as shown below:

[code]

If the `warnings` field is not defined as part of a question's settings, it

[2021-09-10 15:04] #375 closed

[2021-09-10 15:04] #60 closed

[2021-09-10 15:07] Linoy339 commented on #382
@avaidyam .Currently, we are writing to filesystem in LAMP-worker and taking the path to execute inside the container.

 Just to clarify: we must take zip file from tag via tag api(currently there) and run the base64 encoded file directly inside the docker container instance.
Right?

[2021-09-10 15:07] avaidyam commented on #124
Duplicate of issue #354.

[2021-09-10 15:07] #124 closed

[2021-09-10 15:09] #150 closed

[2021-09-10 15:10] #153 closed

[2021-09-10 15:10] #156 closed

[2021-09-10 15:16] avaidyam commented on #368
Discussion moved to #378.

[2021-09-10 15:16] #368 closed

[2021-09-10 15:19] SuruPa00 commented on #171
@ZCOEngineer  was this issue ever looked at?

[2021-09-10 15:20] SuruPa00 commented on #378
Am attaching the [powerpoint](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7144763/User.Hierarchy.pptx) after our discussion here as well for future reference

[2021-09-10 15:21] avaidyam commented on #382
Yes. You should not be using the filesystem at all. Stream the files to the container if needed instead.

[2021-09-10 15:58] Linoy339 commented on #380
@avaidyam. Can you describe more on this, as I am not clear ?

[2021-09-10 16:02] avaidyam commented on #380
How can I specify `/var/run/docker.sock` (which is the default location of Docker's socket) to `LAMP-worker`? I cannot.

[2021-09-10 16:12] Linoy339 commented on #380
Okay. Just to clarify: Inside Lamp-worker, there should be a docker support inorder to run our script. Right?

[2021-09-10 17:08] avaidyam commented on #380
Yes... is that not how it is currently implemented? I see Docker being used right now. We want to keep using Docker.

[2021-09-10 17:20] Linoy339 commented on #380
https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/blob/master/src/helpers/ScriptRunner.ts#L4
The docker initialization   starts here (whenever a script comes in).  Can you help me out on default docker address to be given here?

[2021-09-10 17:23] avaidyam commented on #380
If I set `DOCKER_ADDR` to `/var/run/docker.sock` or leave it undefined, what happens here? This is the issue.

1. `/var/run/docker.sock` should be the default value if no other `DOCKER_ADDR` is defined.
2. If I manually specify a socket path like `/var/run/docker.sock` this code will not work.

These edge cases (and many more) are not handled correctly.

[2021-09-10 17:40] Linoy339 commented on #380
Yes. It is implemented like that.
Basic working is as follows:
1)Lamp-worker image should have docker support inside(i.e docker inside docker)
2)When a script comes in, Lamp-worker initializes the docker which is inside the LAMP-worker and this docker should have a default docker address to communicate, and it can be 127.0.0.1:2375 or /var/run/docker.sock. Please correct me if I am wrong.
3)The do

[2021-09-10 18:32] avaidyam commented on #380
1. Docker does not run inside of Docker. What is happening is that the host machine's Docker daemon socket is being shared with the container. None of the file system within the container is accessible outside of the container and thus is not visible to the host machine's Docker daemon.
2. No, it should be that `DOCKER_ADDR` allows the user to change where this Docker socket is found. If not provi

[2021-09-10 18:47] Linoy339 commented on #380
Okay. Its like docker container(LAMP_worker) is accessing the host machine and pull a custom predefined image from host  to run our scripts.
Is that right?

[2021-09-10 18:51] avaidyam commented on #380
Yes, that is correct. [For more information, see this Docker article.](https://www.docker.com/blog/building-serverless-apps-with-docker/)

[2021-09-10 19:04] Linoy339 commented on #380
Thanks @avaidyam .

So In my understanding, we need to use DOCKER_ADDR from the env variable and if its not given or undefined, we have to use the default socket address (/var/run/docker.sock) which should not be exposed in env

Only change is that we have to have a check for DOCKER_ADDR whether it is defined or not. If defined, lets take it or else we can use default socket address.

We do not ne

[2021-09-10 19:05] avaidyam commented on #380
Yes that is correct.

[2021-09-10 19:13] Linoy339 commented on #383
@avaidyam .[https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/380](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/380)  : For this, we need to check the DOCKER_ADDR whether it is defined or not. If defined, lets take it or else we can use default socket address.

[https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/382](https://github.com/BIDMCDigitalPsychia

[2021-09-10 19:14] Linoy339 commented on #380
Thanks for the clarification @avaidyam

[2021-09-10 19:21] Linoy339 commented on #382
Thanks @avaidyam . We will update that

[2021-09-10 19:22] Linoy339 commented on #381
Okay. We will remove the logs and keep the relevant one

[2021-09-10 19:29] avaidyam opened #386 "Fix addEventListener/postMessage for Goals and Medications"
Currently, [Medications](https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/blob/master/MedicationTracker/src/components/MedicationTracker.tsx) and [Goals](https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/blob/master/Goals/src/components/Goals.tsx) do not respond to Activity loading events like other activities (i.e. [Journal code example here](https://github.com/BIDMCDigitalPsychi

[2021-09-11 04:08] sarithapillai8 commented on #378
@avaidyam
Thanks. This clarifies all confusions.
Just one more thing - By the global setting for all researchers, do you mean to have an array like
 { "researcher_id1":"simple", "researcher_id2":"advanced"
}
 in localstorage? And if the researcher logins through another device, he will have simple mode by default. right?

[2021-09-13 10:28] saranya-sajeev commented on #171
@SuruPa00 Issue is not reproduced here. Could you please check in latest beta build?

[2021-09-13 10:41] avaidyam commented on #171
@saranya-sajeev @sarithapillai8 @jijopulikkottil @ZCOEngineer  @michaelmenon

This issue has been reproduced MANY times and our team has seen this issue happen to patients with our own eyes in many cases. We have closed many duplicate issues and redirected those to this issue. Please continue to reproduce the issue - it WILL happen at one point or another. **If I have logged in at all on dashboard

[2021-09-13 11:09] sarithapillai8 commented on #379
@SuruPa00
Not able to reproduce this issue. are you sure not all activities are selected or do you mean it getting deleted for all participants under the study which we show in the warning?

[2021-09-13 11:38] sarithapillai8 commented on #173
@SuruPa00 @avaidyam
We are not able to reproduce this. We tried changing timezone also. Could you please confirm ?

[2021-09-13 12:13] saranya-sajeev commented on #171
Is this issue exists in all platforms or only in Android?

[2021-09-13 12:28] SuruPa00 commented on #354
@saranya-sajeev we have now been successfully verified, so lets move on to update android asap

[2021-09-13 12:37] saranya-sajeev commented on #354
ok suraj we will push the app to production

[2021-09-13 12:43] dcurrey88 commented on #379
@sarithapillai8 Only one activity is selected, I press delete, and then all activities are deleted under the study after the warning is shown. This does not happen every time I delete an activity, but has happened several times recently.

[2021-09-13 13:04] ZCOEngineer commented on #171
@saranya-sajeev, @jijopulikkottil This is happening randomly on both iOS and Android. So lets check both platforms.

[2021-09-13 13:46] sarithapillai8 commented on #335
@SuruPa00

Updated in production. Please check

[2021-09-13 13:47] sarithapillai8 commented on #356
@SuruPa00
Updated in production.

[2021-09-13 13:47] sarithapillai8 commented on #336
@SuruPa00
Updated in production.

[2021-09-13 13:48] sarithapillai8 commented on #373
@SuruPa00
Updated in production.

[2021-09-13 13:48] sarithapillai8 commented on #343
@SuruPa00
Updated in production.

[2021-09-13 13:57] Linoy339 commented on #355
This is pushed to production @SuruPa00

[2021-09-13 14:44] saranya-sajeev commented on #354
@SuruPa00 Could you please create a video and share the link as described in the issue https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/353. After providing the link we can move beta build to production.

[2021-09-13 14:49] SuruPa00 commented on #354
@saranya-sajeev can the same video you made not work? it showcases location is being accessed and the gps data shows the use of it in the visual

[2021-09-13 14:50] SuruPa00 commented on #356
@saranya-sajeev im looking in production and this is not appearing, is there any reason why this may be?

[2021-09-13 14:58] sarithapillai8 commented on #356
@SuruPa00
Could you please clear the cache and recheck?

[2021-09-13 16:58] sarithapillai8 commented on #378
@avaidyam @SuruPa00  Could you please clarify the question asked above?

[2021-09-13 18:17] avaidyam commented on #378
@sarithapillai8
1. Yes, manage it with the role field (ONLY if logged in at the admin level, convert it to a drop down with 3 options: system admin, user admin, clinical admin. Otherwise should be a text field as it is now.)
2. No, I mean that the simple/advanced setting is preserved across ALL researcher views. If I view r1 in simple mode, go back, and open r2, it should also be in simple mode. F

[2021-09-13 18:39] #356 closed

[2021-09-13 18:39] #373 closed

[2021-09-13 18:52] #345 closed

[2021-09-13 18:52] #343 closed

[2021-09-13 18:53] #355 closed

[2021-09-14 01:20] sarithapillai8 commented on #378
@avaidyam
2) How to manage this functionality in the direct researcher login? same way?

[2021-09-14 01:36] avaidyam commented on #378
What do you mean by "same way"? I don't understand the question.

[2021-09-14 02:07] sarithapillai8 commented on #378
@avaidyam
When a researcher logins, we save the mode used. Suppose another researcher  logins through the same system, the previously saved mode to be used?

[2021-09-14 02:37] avaidyam commented on #378
That is the correct implementation.

[2021-09-14 06:50] saranya-sajeev commented on #354
@SuruPa00 Please find the location video shared at https://www.dropbox.com/s/vafytj6c1ruu7zs/mindLampLocationvideo.mp4?dl=0 Please upload to Youtube and share the link.

[2021-09-14 09:35] saranya-sajeev commented on #354
@SuruPa00 We have uploaded the video and submitted app to production. It is currently in Review status.

[2021-09-14 12:17] sarithapillai8 commented on #378
@avaidyam @SuruPa00
Aditya,
I tried setting tag for user/clinical admins - **_LAMP.Type.setAttachment(null, "me", "gov.lacounty.dmh.admin_permissions", permissions)._** This is getting saved. But while returning through getAttachment through **_LAMP.Type.getAttachment(null, "gov.lacounty.dmh.admin_permissions")_** - I am getting error like -
 {
    "error": "(intermediate value) is not iterable"
}

[2021-09-14 12:21] avaidyam commented on #378
This sounds like a backend bug - @Linoy339 can you double check that `null` is supported? If not, it should be supported with admin-level credentials only.

[2021-09-14 12:46] Linoy339 commented on #382
As we said, the base64  encoded string (script) uploaded against a token contains a zip file. Again this zip file contain script.js(or py) and requirements.txt. With the present implemenation(writing to filesystem),we get each file and its content.
Now, we are trying to do it without uploading to filesystem, which makes difficult to read the individual files inside.

Can we make some tweaks on scr

[2021-09-14 12:48] jijopulikkottil commented on #171
@SuruPa00 We are trying to reproduce it. Hope the issue is getting with production server and using the app in app-store.
On mobile app, it will send a "logout" lamp.analytics event when receive a logout action. So could you provide login details of a user who got this issue to check sensor events.

[2021-09-14 13:20] ZCOEngineer commented on #354
@SuruPa00 No Thanks Suraj, we uploaded it to youtube and created the link

[2021-09-14 13:20] Linoy339 commented on #378
@avaidyam . In [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/mongo/TypeRepository.ts#L14](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/mongo/TypeRepository.ts#L14), we get undefined when null passed as typeid.
As this type do not includes in researcher,participant or any resource it always returns undefined.

If the typeid is

[2021-09-14 13:23] avaidyam commented on #378
Yes, please tweak the conditions to allow for null values. This should only apply for `Credential.*` methods and `Tag.*` methods.

[2021-09-14 13:36] Linoy339 commented on #378
How can we do it specifically, if you can give some hints, it would be more helpful.

We have tested it once. Any way, we will go for a round asap and update you

[2021-09-14 15:01] sarithapillai8 commented on #363
@SuruPa00
Jewels- levels (for both jewels a & b) changes updated in dashboard staging. Could you please check and let me know if any further changes required?

[2021-09-14 15:28] #335 closed

[2021-09-14 18:45] avaidyam commented on #382
The contents of the ZIP file should be provided directly to the Docker container - we do not want to "break out" the requirements.txt contents like this. Why does LAMP-worker need to know what the contents of the requirements.txt file are? It should not need to know this info.

[2021-09-14 19:06] Linoy339 commented on #382
Okay. But In that case, reading content inside encoded(base64) string becomes difficult . Do you have idea on how to read zip file data without uploading it?
To clarify, let me give you an example: Lets assume script.zip is our file and inside there requirements.txt and scriptfile.js.
script.zip gets encoded(base64) and it becomes iDDgAAAAUAAAAAANS//8IBKE0DHxgljNBA000DSSSSSAO==.
From this, its dif

[2021-09-14 19:29] avaidyam commented on #382
We do not want to, nor do we need to, read the contents of the ZIP file? Let me recap this format for posterity with further explanation.

---

The `Tag`'s value should be in this format: `data:application/lamp-automation;language=python3;trigger=/participant/U1234/sensor_event/lamp.gps;base64,<some base64 text representing a zip file here>`

1. `data:`: This is the marker for a [Data URL](https:/

[2021-09-15 05:16] ZCOEngineer commented on #354
@SuruPa00, @avaidyam
Android app was rejected with the below reason

`Feature does not meet requirements for background location accessBased on our review, your declared feature does not meet the requirements for background location access. Please remove the background location permission requested and submit an update to your app. When declaring a feature for background location access, please no

[2021-09-15 14:48] avaidyam commented on #354
We need and require background location data. My team can investigate this and reply to Google.

[2021-09-15 14:51] michaelmenon commented on #354
Thanks @avaidyam

[2021-09-15 15:07] SuruPa00 commented on #354
@ZCOEngineer is this feedback message in the cloud console? if so, where can i find it?

[2021-09-15 15:43] Linoy339 commented on #382
Thanks @avaidyam.
We believe all pieces except the filesystem ignore are done in LAMP-worker as we discussed in https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/150.

This can be done.

The changes would be :
1) change tag value  as mentioned above and key in tag would be like `study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by`(its already there)

2) Instead of filesystem, we

[2021-09-16 06:58] saranya-sajeev commented on #354
@SuruPa00 They have sent the details as mail to jtorous@gmail.com also there is an option in Google Play Console to view the mail content.
Please find below steps to view the mail content on Google Play Console
1. Login in to Google Play console
2. Select mindLamp 2 from All Apps page
3. Dashboard will show update status as update rejected. There is an option to "Go To Policy Status", tap on it.
4

[2021-09-16 08:56] sarithapillai8 commented on #378
@avaidyam
ithink you have missed this in previous comment.
Yes, please tweak the conditions to allow for null values. This should only apply for Credential.* methods and Tag.* methods.

**How can we do it specifically, if you can give some hints, it would be more helpful.**

[2021-09-16 09:46] sarithapillai8 commented on #378
@SuruPa00 @avaidyam
I have updated simple/advanced mode in dashboard-staging. If you can take a look and everything seems ok, it can be released with https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/363

[2021-09-16 12:11] SuruPa00 commented on #354
@SuruPa00 submitted the appeal yesterday, will update you when i receive feedback

[2021-09-16 12:12] SuruPa00 commented on #378
@sarithapillai8 shouldnt i be seeing the two logins on the main login page? as of right now, there is still the single big login option - also tried in incognito

[2021-09-16 12:14] avaidyam commented on #378
@sarithapillai8 Is there a toggle button once the user has logged in? That implementation works too.

[2021-09-16 12:15] sarithapillai8 commented on #378
@SuruPa00
Please see what @avaidyam confirmed - https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/378#issuecomment-916850832.
@avaidyam There is toggle button on top toolbar for researcher page.

[2021-09-16 12:18] sarithapillai8 commented on #378
@avaidyam
Could you please reply to this?
https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/378#issuecomment-920717543

[2021-09-16 12:39] SuruPa00 commented on #378
@sarithapillai8 the simple/advanced modes seem to be working as intended, is the user admin/practice lead part of the hierarchy being worked on separately? just confirming

[2021-09-16 12:41] avaidyam commented on #378
@sarithapillai8 @Linoy339 I mean to say that the API methods for Tag and Credential should allow `null`. I don't understand the confusion here?

[2021-09-16 12:41] sarithapillai8 commented on #378
@SuruPa00
Admin side changes are in progress. I am waiting for API fixes which commented above. In the meantime working on other priority task https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/384

[2021-09-16 12:43] Linoy339 commented on #378
@avaidyam . Got it.  We had some other thoughts. Thank you

[2021-09-16 13:06] saranya-sajeev commented on #354
@SuruPa00 ok thanks for the update.

[2021-09-16 13:21] sarithapillai8 commented on #384
@avaidyam
Survey changes will require minimum 2 days to finish. I hope you need the markdown for all the possible texts in survey. So it will need some time.
**Note** : We have restored gfm/emoji for tips in dashboard-staging.

[2021-09-16 13:24] avaidyam commented on #384
@sarithapillai8 Yes, this makes sense. In general for the future, any clinician/researcher-customizable text must support Markdown.

[2021-09-16 17:03] avaidyam commented on #382
Correct.

Correct.

Correct, and this makes sense.

This implementation is the _reverse_ of what we should do. We need to locate all the Automations first, and set up ONLY the listeners required to handle them. To minimize code change at this point, upon worker start, build a dictionary mapping of these listener tokens mapped to the automation itself.

This is not correct. [`requirements.txt` is a

[2021-09-16 17:10] Linoy339 commented on #378
@avaidyam . Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/132](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/132) for user-hierarchy changes. We need to test it in staging  and may have more fixes related with tag and credential apis.

There was an issue in activity spec and sensor spec get api for which we fetch spec for particular id(/activity_spec/lamp.gps

[2021-09-16 18:41] Linoy339 commented on #382
@avaidyam . Thanks for the explanation and example.
With the discussion which we made here [https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/150#issuecomment-845844999](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/150#issuecomment-845844999), Can you please
brief which you said here : `This implementation is the reverse of what we should do. We need to locate all th

[2021-09-16 18:49] avaidyam commented on #382
Right, I think a good compromise right now is:
1. Get the list of all Researchers
2. For each, check if Tag "lamp.automation" exists.
3. If a new Tag is uploaded the Worker should be getting a NATS message about it - check if it is a "lamp.automation" key.
4. If a "lamp.automation" tag is created, updated, or deleted, update our internal mapping.

This is a simple solution that will work for now.

[2021-09-16 19:13] Linoy339 commented on #382
Okay. So the internal mapping would be something like this:
{researcherid_1:['study.123.activity'.*', 'study.123.activity'.124'], researcherid_2:['study.345.participant'.*', 'study.123.activity'.567']........}
When a researcher uploads a script for particular token, this will be know by LAMP-worker via nats and add to this list
Is this right?
Also, do we also need to store the whole script in this

[2021-09-16 19:26] avaidyam commented on #382
You want the opposite mapping: the NATS token should map to an array of Researcher IDs. This way you know where the automation code is located for when the NATS message is received. (If the "lamp.automation" tag exists, we add the researcher ID to the mapping we created.)

We don't need to store the base64 data in memory, that is not a good idea as you have pointed out correctly.

[2021-09-17 10:46] sarithapillai8 commented on #363
Updated in production.
https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/commit/dbd470ed4d87a30f4326059015dea4df74f15af9

[2021-09-17 10:52] sarithapillai8 commented on #378
@SuruPa00 @avaidyam
Just to confirm, Do we need to hide the new tab 'Data Portal' for Practice Lead and User administrator ?

[2021-09-17 11:19] jijopulikkottil commented on #171
To reproduce the issue, could you give us a credentials of existing participant (or create new one under same researcher and study) which we experience the logout issue ?

[2021-09-17 12:12] avaidyam commented on #378
Yes. System admin should still see it.

[2021-09-20 10:13] sarithapillai8 commented on #384
@avaidyam
This task was specifically saying about survey. Do you want this change to be effected on all activity titles and descriptions and other settings across all the activities? If so we need some more time to finish. If survey one is important we can update it in 2days, and work on others later after other urgent fixes.

[2021-09-20 10:32] avaidyam commented on #384
Survey only, but as a general note when creating new activities, please keep this in mind.

[2021-09-20 11:08] sarithapillai8 commented on #384
Ok got it @avaidyam

[2021-09-21 05:25] sarithapillai8 commented on #363
@SuruPa00 @avaidyam
In the last meeting , the requirement for jewels levels is expected to be similar to box game. Box game works like -  each time the game opens with 1st level. In jewels - We are updating levels based on the bonus points accumulated until previous game. So could you confirm - the game will start with the level calculated from the total bonus points earned? The old version was no

[2021-09-21 17:25] er42 commented on #312
@SuruPa00 Just checking in... any news on the status of the android update? Thanks!

[2021-09-21 19:44] tlakhtak commented on #363
We would like levels to start from the 1st level every time, and then progress to the 2nd level on completion like Spatial Span. We can ignore bonus point-based progression.

[2021-09-22 10:12] saranya-sajeev commented on #171
@SuruPa00 is user logging in to the demo account after exiting from the app in this case?

[2021-09-22 12:45] SuruPa00 commented on #171
@saranya-sajeev i believe the account was a normal one, not a demo, and @jijopulikkottil  this was an external collaborator so i will reach out and get back to you about creating a test user under their study

[2021-09-22 12:49] ZCOEngineer commented on #171
@SuruPa00 could you also see if the logout issue is still there?

[2021-09-22 13:00] SuruPa00 commented on #171
@ZCOEngineer yes will test and check w the people who reported the issue!

[2021-09-24 13:02] sarithapillai8 commented on #384
@avaidyam @SuruPa00 @michaelmenon @ZCOEngineer
This is updated in production.

[2021-09-24 13:06] sarithapillai8 commented on #378
@avaidyam @ZCOEngineer @michaelmenon @SuruPa00
This is updated in production. Please check with api-staging login for user hierarchy changes where the tag was created. You can use production api for the other case.

[2021-09-24 13:28] SuruPa00 commented on #378
@sarithapillai8 can you explain how practice lead vs user admin is accessible in the dashboard? This is the admin level we've collectively discussed in the powerpoint. I am in staging and not seeing anything outside the simple/advanced mode, which is on the researcher level

[2021-09-24 13:42] SuruPa00 commented on #384
@sarithapillai8 checked and looks good - thanks for this

[2021-09-24 13:42] #384 closed

[2021-09-24 13:52] sarithapillai8 commented on #378
@SuruPa00
As per the requirement, you can use the manage credentials option to create practice lead and user administrator. As the tag gov.lacounty.dmh.admin_permissions is available in api-staging db, you can use admin login of that and can use manage credentials option for this. There are already such credentials available there.

[2021-09-24 14:46] tlakhtak opened #387 "Feed Activities Error"
When trying to access activities through the feed, the following error shows both on Chrome and on a Android phone.
![Screenshot_20210924-093439_mindLAMP](https://user-images.githubusercontent.com/82968538/134694304-07e07ffc-e1b1-4aed-92e9-9ab5372daf2e.jpg)
<img width="1440" alt="Screen Shot 2021-09-24 at 9 41 22 AM" src="https://user-images.githubusercontent.com/82968538/134694329-ac4f9b3d-5061-4

[2021-09-24 15:34] tlakhtak opened #388 "Scoring Issues on Translated Prevent Page"
When using Hindi version of the app, despite answers displaying in Hindi, Prevent page shows scores for answers in English. Hindi response just show a flat line, not reflecting new responses to survey questions.

https://user-images.githubusercontent.com/82968538/134701931-0695a738-8890-4c06-8314-779d508f9923.mp4

[2021-09-24 18:19] SuruPa00 opened #389 "Tips Bugs + Streaks"
We've ran into a few tips related bugs that LA has reported when trying to get their mindLAMP set up.

LA noted that streaks arent appearing after DBT diary card is completed - can you check on this?

When you add a tip w multiple tips inside and add files associated with each individual inside tip, the loading wheel never ends when you hit save - this also occurs whenever you embed anything in th

[2021-09-24 18:22] SuruPa00 commented on #378
@sarithapillai8 we received feedback from LA - is it possible to assign groups to the clinicians/researchers that you can view when you are in admin view? There is a request that all researchers/clinicians are assigned a group. This could be similar to how users are assigned a group when in advanced mode of a researcher view.

[2021-09-24 18:53] SuruPa00 commented on #386
@sarithapillai8 hi, do we have an update on this? if not, could we add this as something to work on in parallel with other tasks soon

[2021-09-24 19:23] SuruPa00 commented on #378
@sarithapillai8  i've checked on it and the user hierarchy seems good to go. Can this be pushed to production? Additionally, can you provide/explain what needs to be done in the command line for LA to enable this on their backend? Thanks

[2021-09-25 00:05] sarithapillai8 commented on #378
@SuruPa00
Thanks. This is updated in production. The tag gov.lacounty.dmh.admin_permissions is ro be created For  LA.
@avaidyam  Could you please create tag or help @SuruPa00 on this. We don't used to do that.

[2021-09-25 00:08] avaidyam commented on #378
@sarithapillai8 How did you create the Tag for the staging server? I believe that is what @SuruPa00 is asking about.

[2021-09-25 04:44] sarithapillai8 commented on #378
@SuruPa00 @avaidyam
I have created it through code. Not with commands.

[2021-09-25 04:46] sarithapillai8 commented on #386
@SuruPa00 we haven't started on it yet. After jewels levels we can focus on this.

[2021-09-27 03:16] ZCOEngineer commented on #387
@tlakhtak we shall check on this.

[2021-09-27 03:22] ZCOEngineer commented on #388
@tlakhtak We shall check into this

[2021-09-27 03:41] ZCOEngineer commented on #389
@SuruPa00 We shall check this and reply

[2021-09-27 05:25] sarithapillai8 commented on #389
LA noted that streaks arent appearing after DBT diary card is completed - can you check on this?

@avaidyam Could you please confirm steaks are required for DBT and other activities. We implemented that for survey only.

We can check on other issues.

[2021-09-27 15:32] avaidyam commented on #389
@sarithapillai8 Yes - it should be very little effort to enable Streaks for all activities now (using Activity ID, not the Spec) - especially for DBT Diary Card.

[2021-09-27 16:39] sarithapillai8 commented on #387
@SuruPa00 This is updated in production. Please check.

[2021-09-28 14:56] SuruPa00 commented on #387
@sarithapillai8 seems to be working after checking - thank you!

[2021-09-28 14:56] #387 closed

[2021-09-28 18:00] SuruPa00 commented on #378
@sarithapillai8 this is pushed in production right? Im looking in the manage credentials tab, but am not being given the option to assign 1 of the 3 roles (system admin, user admin, practice lead) when i am trying to create a new admin credential

[2021-09-28 18:28] lukeoftheshire opened #391 "Parameters for LAMP.ActivitySpec.Create should be changed (LAMP Server)"
Currently, the ActivitySpec _insert method is not implemented in an ideal way. Currently, the object used as a parameter must have the key 'name', when it should probably be 'id'.

The below calls were done in Python.
For example (on the staging server), calling `LAMP.ActivitySpec.create({'name':'org.digitalpsych.luke.activity_example'})` both works and creates the ActivitySpec
[code]

   Calling

[2021-09-28 18:31] avaidyam commented on #391
@Linoy339 Could you remove the `name` parameter from `_select` functions and switch to using `id` instead of `name` for both ActivitySpec and SensorSpec for Mongo and Couch adapters? It should be a quick rename.

[2021-09-29 01:47] sarithapillai8 commented on #378
@SuruPa00  Those options will be available if you have the tag gov.lacounty.dmh.admin_permissions there. You can login with api-staging.lamp.digital to check the changes.

[2021-09-29 04:07] Linoy339 commented on #391
Yes. We can do it.
Just to confirm: Is that the only change needed?

[2021-09-29 08:29] sarithapillai8 commented on #372
@SuruPa00 Please recheck on this. We could import activities to a study which can create duplicate studies. This is changed like we the duplicates will be labelled with 'duplicate' at the end of activity name.

[2021-09-29 08:39] sarithapillai8 commented on #388
@tlakhtak @SuruPa00
We are not getting this issue. Tried translations and got same result on graph. Please see the attached screenshots.
![Capture](https://user-images.githubusercontent.com/63710347/135233547-a80b9868-e7ea-4875-a6e6-df01217909e0.PNG)
![Capture1](https://user-images.githubusercontent.com/63710347/135233554-6a4f8719-8a39-466a-a609-f0d9ffa513d8.PNG)

If you can provide the credential

[2021-09-29 11:08] avaidyam commented on #391
Yes, for now.

[2021-09-29 14:41] sarithapillai8 commented on #389
@SuruPa00
This is updated in production. Please check.

[2021-09-29 19:26] SuruPa00 opened #392 "Multiple notifications"
![Screenshot_20210929-195627_mindLAMP](https://user-images.githubusercontent.com/86117379/135335296-824e6cec-cfb4-459d-b72f-bfe33b7038c4.jpg)
![Screenshot_20210929-195640_mindLAMP](https://user-images.githubusercontent.com/86117379/135335300-31788888-579c-45ab-a1d7-d29550afde83.jpg)
![Screenshot_20210929-195657_mindLAMP](https://user-images.githubusercontent.com/86117379/135335301-5a300aab-b805-45

[2021-10-01 12:56] SuruPa00 opened #393 "Feed activities can't be clicked before scheduled time"
Users that go into the feed cannot click on a survey / activity ahead of the scheduled notification time. Users are meant to be able to enter the feed and complete the activities as they see fit.

[2021-10-04 05:02] sarithapillai8 commented on #393
@avaidyam
Could you please confirm on this? We did it like it should not be clickable before the scheduled time.

[2021-10-04 08:40] saranya-sajeev commented on #392
@SuruPa00 We are using Android work Manager for scheduling local notifications. Work Manager makes sure the scheduled task executes again even if the app is restarted.

[2021-10-04 10:23] saranya-sajeev commented on #392
That means  if the app is not available at the scheduled time, work manager will show all the notifications when the app comes alive.

[2021-10-04 12:17] SuruPa00 commented on #392
@saranya-sajeev i see, is it possible to have this reconfigured so this does not happen? it bodes for a bad ui/ux experience from the reports of our users - we should have the notifications only appearing at the appropriately scheduled times

[2021-10-04 12:38] SuruPa00 opened #394 "Sensor Configuration UI Issue"
![asSplWFw_o](https://user-images.githubusercontent.com/86117379/135852564-4b50c818-94f1-42cf-a0a7-4905c1f5b4cd.png)

[2021-10-04 12:49] #358 closed

[2021-10-04 12:52] SuruPa00 opened #395 "New Labels for Prevent Tab and Researchers View"
A minor change I expect, but please change the "Prevent" tab to be renamed to "Portal" and make sure the label in the tab itself (and any other relevant place) says "Portal" instead of "Prevent". Additionally, in admin view please change "Researchers" to "Investigators"

[2021-10-04 13:06] SuruPa00 commented on #393
@sarithapillai8 this should clickable at anytime now, so if there any changes that need to be made to do that please do

[2021-10-04 13:18] SuruPa00 opened #396 "Removing sensors on dashboard will not stop data collection"

[2021-10-04 13:28] sarithapillai8 commented on #393
@SuruPa00 @avaidyam
We implemented different conditions to control the clickable behavior of the feed items. For eg, with the repeat interval 3hour, we restricted the item like it can be clicked in between the 3hour gap comparing to current time. So there were a lot of checking
 for each repeat interval. It was implemented as Aditya said. So please confirm you want to remove all these conditions f

[2021-10-04 13:45] Linoy339 commented on #382
Hi @avaidyam
Can you please answer this:
If a particular researcher 'R1' has  uploaded script for 2 tokens study.123.activity.* and  study.456.activity.2. Also the script uploaded for both tokens are script1<base64 encoded> and script2<base64 encoded>

How would it appear in tag database?

Sample answer expected:
{
_id:60a765103a2802fcfcd1e1e7,
_parent:"R1",
key:"lamp.automation",
type:"me",
_dele

[2021-10-04 13:46] avaidyam commented on #393
@sarithapillai8 We'd like to keep the current implementation - thanks for bringing this up and reminding us about our prior discussion!

---

_**Sidenote for others stumbling across this GitHub issue:** If we allowed patients to disregard their notification schedule, there really would not be a point to the notification schedule, breaking the notion of ecological (i.e. "in the field where the pati

[2021-10-04 13:46] #393 closed

[2021-10-04 13:58] avaidyam commented on #382
This is not actually allowed or possible. A researcher-level user should not be able to create more than one `Tag` with the same key (here, `lamp.automation`). The `lamp.automation` key specifically needs to be a **STRING** in `data-url` format (as you have here). **We do not need to implement support for multiple scripts with different triggers/languages at this time.**

---

**For future referen

[2021-10-04 14:38] Linoy339 commented on #382
@avaidyam  . Sorry for my syntax.

So, you are saying that the Data-URL itself is the key here:
`{
_id:60a765103a2802fcfcd1e1e7,
_parent:"R1",
key:"data:application/lamp-automation;language=python3;trigger=/study/123/activity/*;base64",
type:"me",
_deleted:false,
value:"[
script1]"
}`

`{
_id:80a7652103a2802fcfcd1e1e7,
_parent:"R1",
key:"data:application/lamp-automation;language=js;trigger=/study/

[2021-10-04 14:43] avaidyam commented on #382
No, I apologize, the `key` is still `lamp.automation`, the value is the data-url string, in the format `data:application/lamp-automation;language=python3;trigger=/study/123/activity/*;base64,<some base64 zip file here containing code and such>`. (There should not be `[` or `]`around the base64 zip file string.)

Yes, this part is correct. This needs to be done for ALL non-deleted researchers.

[2021-10-04 14:53] Linoy339 commented on #382
That is understood.

So the value itself  assumes to contain multiple scripts(i.e. `data:application/lamp-automation;language=python3;trigger=/study/123/activity/*;base64,script1|
language=js;trigger=/study/456/activity/2;base64, script2`- something like this). Right?

[2021-10-04 14:58] avaidyam commented on #382
No. I have specifically stated in my prior comment:

[2021-10-04 15:02] Linoy339 commented on #382
Okay.
So, what if a particular researcher have 2 scripts for 2 different activities(or study or sensor...) respectively?

[2021-10-04 15:08] avaidyam commented on #382
Let's go with this:

It should also be possible to use `trigger=/study/*/activity/*` - is this implemented?

[2021-10-04 15:22] Linoy339 commented on #382
No. Right now, key is the token and value is the script based on that particular key, So, even if the researcher has multiple scripts, its easy for them to upload with new token. The structure based on the present  implementation  would be:

`{
_id:60a765103a2802fcfcd1e1e7,
_parent:"R1",
key:"study.123.activity.*",
type:"me",
_deleted:false,
value:""script1..."//base 64 script
}`,
`{
_id:80a765103

[2021-10-04 15:36] avaidyam commented on #382
Let's implement proper wildcarding (i.e. `trigger=/study/*/activity/*`) as a priority.

Right, so we want to move away from this to the implementation I shared in prior comments.

No - we do not want to support this. Please note in my example that it is one script/data-url that has multiple triggers. We should allow one script to have multiple triggers but not multiple scripts.

[2021-10-04 15:44] Linoy339 commented on #382
Okay.
So In the script/data-url, it should be a zip file even  for multiple triggers. Right?

If yes, there would be multiple scripts inside the script file?(ie...if we unzip it, we get multiple folders, say study_456_activity_2  and  study_123_activity_*)

If yes, how would be invoke only one particular script (eg:study/456/activity/2 )

[2021-10-04 15:57] avaidyam commented on #382
Yes.

No.

It is not possible. There is only one script that needs to be run when **any** of its triggers are activated. The script needs to be informed with what trigger activated the script.

[2021-10-04 16:14] Linoy339 commented on #382
Okay. Now, Understood.
So, we can assume there would be something like a switch case inside the script to run particular trigger(eg:study/*/activity/*,study/123/activity/456...) which we don't need to take care of .

We just need to give the token to the script and the script will do the rest. Is that Right?

[2021-10-04 16:53] avaidyam commented on #382
Yes. You can pass the trigger that invoked the script to the script as an environment variable (i.e. `LAMP_TRIGGER`).

[2021-10-05 05:55] sarithapillai8 commented on #395
@SuruPa00
This updated in production.
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/373

[2021-10-05 09:48] saranya-sajeev commented on #392
We will check and update you.

[2021-10-06 18:56] SuruPa00 opened #398 "DBT Diary Card Skills Visualization in Portal Tab"
As per  LA's request, we would like a grid-based visualization for when people view the DBT diary card in the portal tab. We want this to be formatted as the days of the week on the top row, with color coding based on skill groups that have been done. Additionally, skills that have not been used should be greyed out and the skills that are used should be signified with a check mark in their box an

[2021-10-07 13:15] lukeoftheshire opened #399 "Use an optional environment variable to rename the Researchers/Investigators/Programs tab in admin"
We are currently receiving multiple requests to rename what used to be the "Researchers" tab and is now the Investigators/Programs tab. See https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/395#issue-1015140647 for an example. Additionally, we anticipate future users of LAMP may want to rename this tab, and we want to avoid this becoming an ongoing issue.

To solve this issue, can we

[2021-10-07 13:39] SuruPa00 opened #400 "Alphabetical filtering and sort option"
We want it so the filter list in the the deselect/select users area to be alphabetized in both the 'users' tab and the 'activities' tab. Can we also have it so that the list of users in the users tab are alphabetical? Additionally, we have a sort button added next to the filter button that alphabetizes from A-Z by default and when clicked, reverse alphabetizes from Z-A. Lastly, when you add an act

[2021-10-08 12:51] SuruPa00 commented on #363
@sarithapillai8 do we have an update of the eta on this?

[2021-10-08 12:53] ZCOEngineer commented on #363
@SuruPa00 development is complete and we have started QA. if everything goes well then we can release this early next week.

[2021-10-08 12:55] SuruPa00 commented on #363
@ZCOEngineer ok please try to release this by tuesday, thanks

[2021-10-08 13:17] SuruPa00 opened #401 "Push Notifications Code Issue"

[2021-10-08 15:29] SuruPa00 opened #402 "Android service permissions screen is not functioning properly"
We are having reports of Android users running into issues with the service permissions screen when they download mindLAMP. Once they accept service permissions, the box closes out and simply appears again, which does not let them proceed to the login screen and just keeps looping. See if this issue can be looked at soon as possible, as it is preventing new patients from joining studies properly.

[2021-10-11 04:29] sarithapillai8 commented on #363
@SuruPa00
We have updated this on dashboard staging. Please check and let us know if this is ready to be released.

[2021-10-11 05:12] saranya-sajeev commented on #402
@SuruPa00 I will check the issue.

[2021-10-11 10:57] sarithapillai8 commented on #398
@SuruPa00

Just confirming - With the current design the skills are shown with collapsible list. So only this section need to be converted to grid design as provided.
Do we need to change this only for LA using any flag or env settings?

[2021-10-12 13:22] SuruPa00 opened #403 "Surveys should not be able to proceed without entering an option"
When you take a survey, you should not be able to proceed unless you select an option. As of right now, you can click next even when you don't select anything and you can submit without having entered any options. Please make it so you can't hit next till you select something. As survey taking is one of LAMP's basic functionalities, this needs to be fixed quickly.

[2021-10-12 14:05] avaidyam commented on #382
@Linoy339 It needs to be a ZIP file as it could be multiple script files or libraries. We cannot add the requirements.txt file to the data-url.

[2021-10-12 14:57] Linoy339 commented on #382
Okay. Understood
I have tweaked data url in a small way inorder to include the main script file :
`data:application/vnd-lamp-automation;driverscript=SampleScript.js;language=js;trigger=activity.ey0y0hdbrvwcxzvhqwfr.participant.*;base64,UEsDBBQAAAAIAJWWTFN1XajdDAAAAAoAAAAQAA`

Here, I have added a PARAM called `driverscript ` which will act as main script file to be executed. All others remains unc

[2021-10-13 05:44] sarithapillai8 commented on #399
@lukeoftheshire
Updated in dashboard-staging as suggested. If env file is there in root folder and there is value for REACT_APP_LAMP_RESEARCHER_ALIAS, it will be using for 'Researchers' text.

[2021-10-13 07:19] Linoy339 commented on #382
@avaidyam. Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/26/files](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/26/files). We have tested it in our local environment and found to be working
We have merged it and need to test in staging.

[2021-10-13 08:24] sarithapillai8 commented on #403
@SuruPa00
The survey is having 2 different designs on mobile and desktop versions. So the validation added at the end while submitting. Survey cannot be submitted without filling all the questions.

[2021-10-13 13:22] Linoy339 commented on #382
@avaidyam.Also, we need to mount the volume(/var/run/docker.sock) in the staging  stack to make it work ?
Can we do it ?

[2021-10-13 13:45] avaidyam commented on #382
@Linoy339 Thanks. Minor fix: [we already confirmed the format of the trigger string should use `/` and **NOT** `.`](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/382#issuecomment-933513982) and that the way to add multiple triggers is to use `trigger=/activity/123;trigger=/activity/456` (please take note of the `/` in the beginning of the string and the repetition of `trigger=` wi

[2021-10-13 13:45] SuruPa00 commented on #396
@jijopulikkottil updated, let me know if theres anything else you need

[2021-10-13 16:31] Linoy339 commented on #382
Okay. The issue is that we are unable to connect to the docker daemon (/var/run/docker.sock:ro)
I did not understand why this is happening. Please check the permission/privileges .

[2021-10-14 05:28] sarithapillai8 commented on #399
@lukeoftheshire
Thank you.
Reverted the change and updated in staging. Released other changes to production after reverting this change.

[2021-10-14 06:28] Linoy339 commented on #382
@lukeoftheshire . Please find this link :
[https://phoenixnap.com/kb/cannot-connect-to-the-docker-daemon-error](https://phoenixnap.com/kb/cannot-connect-to-the-docker-daemon-error) which might help

[2021-10-14 12:56] lukeoftheshire commented on #382
Hi @Linoy339 glad to hear it's working! To be honest I didn't get the chance to change anything after our previous discussion so I'm not sure what resolved the issue...perhaps just time. But thank you for the article - it will be a good resource for the future!

One note - while containers are being spun up, they are quickly failing and being removed with error 137 in the same way that the lamp-wo

[2021-10-14 13:32] SuruPa00 opened #404 "Time Picker Survey Option"
Can we have a new survey question type called time picker where there are three inputs set up as 3 different boxes,

The first one being a box that can have manual entries in the form of XX where only numbers can be inputted to indicate the hour (07, 14, 22) and then one box for XX for minutes (36, 55), and the last picking a box that only has two selectable options of AM or PM. Please have entrie

[2021-10-14 15:40] SuruPa00 commented on #396
@jijopulikkottil did you mean to delete these sensors and readd them? just did that, but let me know if you meant something else

[2021-10-14 17:01] jijopulikkottil commented on #396
@SuruPa00 yes, I meant the same.

Could you do one more thing ? please [close app](https://support.apple.com/en-us/HT201330) from background and reopen the app. And please update here when you are done.

[2021-10-14 17:07] jijopulikkottil commented on #396
This is another case - @Linoy339 Could you please check the sensor spec in production is updated or not? because when @SuruPa00 remove all  and added again, the old sensor identifiers are still there. ["lamp.accelerometer.motion" and lamp.device_state]

[2021-10-14 18:33] SuruPa00 commented on #396
@jijopulikkottil no worries, I just killed the app from the background and reopened. Let me know if you need any more steps!

[2021-10-18 10:05] sarithapillai8 commented on #403
@SuruPa00
Updated in production like this in mobile version.

[2021-10-18 19:23] lukeoftheshire opened #406 "Slider Questions on mobile do not allow advancement if the option chosen is 0"
While taking a survey on mobile, the page will not advance and a "Please select an answer" error is shown if a slider question is set to 0. This occurs even if the slider is first changed to another option and then reverted back to 0. This error DOES NOT occur on desktops - I have taken the same survey both through the LAMP dashboard and through two test phones, an iPhone and an Android.

The bug

[2021-10-19 13:52] #365 closed, assigned to nobody

[2021-10-19 13:52] SuruPa00 commented on #363
@sarithapillai8 Thanks for your hard work on this!

[2021-10-19 13:52] #363 closed

[2021-10-19 13:53] #369 closed

[2021-10-19 18:08] #406 closed, assigned to ZCOEngineer, sarithapillai8

[2021-10-19 18:08] #331 closed

[2021-10-19 19:26] #399 closed, assigned to ZCOEngineer, lukeoftheshire, SuruPa00

[2021-10-19 19:32] SuruPa00 commented on #398
@sarithapillai8 this looks good, but see screenshot below because the vertical gridlines arent appearing for the first row of each section
![image](https://user-images.githubusercontent.com/86117379/137978077-8f0429a6-f7e2-4e5e-a86e-61a6e1479a75.png)

[2021-10-19 19:35] SuruPa00 commented on #398
Additionally, can you add 2 new smaller features for this grid card. Can you add an "Expand all" option that opens each section that then becomes "Collapse all" to collapse each section. Then, can you also have a box next to that which says "Filter checked" that filters for only the rows that are colored in because they have a check mark. Visually, this would show up as an expand all button, the f

[2021-10-20 13:18] tlakhtak commented on #388
rescred@lamp.com
redcred

[2021-10-20 17:42] SuruPa00 opened #407 "Survey Branching"
We have been reported a request to make survey questions work as efficiently as possible. The main point is that now that we have it fixed so you cannot proceed without answering an item, it makes conditional questions difficult to make. See the text from a collaborator below:

[2021-10-21 11:53] jijopulikkottil commented on #396
Hi @Linoy339 Please update the sensor spec. I have updated the content (see attached file) received by https://api.lamp.digital/sensor_spec
Unused sensors are marked as Red, and new sensors are marked as Green.
[sensorSpec_20211020.odt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/7388733/sensorSpec_20211020.odt)

[2021-10-21 17:56] jijopulikkottil commented on #396
@SuruPa00 Sensor spec updated in production.
Also the issue fixed and the latest iOS build is in test flight now. We can release it tomorrow after beta testing.

Currently the refresh interval for sensor configuration is 2 hours. i.e It will take about 2 hours to update the app If we remove or add sensors on admin console. [it won't refresh with new sensors if the device is in low power mode].

Le

[2021-10-22 14:00] SuruPa00 opened #408 "iOS/Android DeviceMotion data not identical"
When scheduling an activity, what is the intended purpose for the custom times box? We can already schedule on a custom time based on the "Time" box in the scheduling popup. Can you give a use case for when we would use the custom times box as well?

additionally, what are gps.contextual and accelerometer.motion used for? if we are not collecting those as something extra on top of original gps and

[2021-10-22 14:10] SuruPa00 opened #409 "Group list when importing activities should list current group first"
Can it be made so that when inside editing a patient and importing an activity, the group list shows the group this participant is in first at the top? See the screenshot below for the way the list is currently set up. I'm not sure if it is random or if there a specific logic to this organization. I am currently in the Suraj user under the Suraj group, so ideally, I would like the list to start wi

[2021-10-22 14:28] #409 closed, assigned to ZCOEngineer

[2021-10-27 15:40] dcurrey88 opened #410 "Issue with duplicated tip activity events"
**Describe the bug**
For participant U1989357557, they have an extremely large number of activity events that are tips. There are 90 of them with timestamp 0, and that seem to have response data duplicated from other activity events. In particular, there seem to be 9 duplicates each of 10 of the other activities.

**Expected behavior**
There should not be duplicated activity events.

**Smartphone

[2021-10-28 16:18] tlakhtak opened #411 "Tips and Breathe 'completion' data"
We want to be able to measure the engagement with a tip. We find that users don't usually click the 'Mark complete' or 'Done' when they access tips or breathe activity, and we want to be able to determine the timestamp a tip or Breathe activity was opened.

Subsequently, we want to know the duration spent on the screen, either by timestamp that the back-button was pressed, timestamp that they exit

[2021-10-29 13:13] SuruPa00 opened #412 "UI/UX List"
- Resizing games/screens based on phone size is not working; some phones get cutoff screens

- Selecting/deselecting doesn't always work; takes very long and sometimes when someone is deselected after selecting all, nothing changs
- Changing the color bars for recent GPS / accelerometer to check if data quality is good - not always accurate; green, yellow, and red dont accurately reflect data qual

[2021-10-29 13:14] #412 closed, assigned to avaidyam

[2021-10-29 13:45] SuruPa00 opened #413 "Resizing games/screens based on phone size is not working"
Resizing games/screens based on phone size is not working; some phones get cutoff screens

[2021-10-29 13:46] SuruPa00 opened #414 "Selecting/deselecting doesn't always work"
Selecting/deselecting doesn't always work; takes very long and sometimes when someone is deselected after selecting all, nothing change

[2021-10-29 13:46] SuruPa00 opened #415 "Changing the color bars for recent GPS / accelerometer to check if data quality is good"
Changing the color bars for recent GPS / accelerometer to check if data quality is good - not always accurate; green, yellow, and red dont accurately reflect data quality/most recent collected data

See example below of green color bar for data quality as the page under a researcher account where you see a list of users
![image](https://user-images.githubusercontent.com/86117379/140806090-5ea8ff77

[2021-10-29 13:47] SuruPa00 opened #416 "Vega Graph resizing"
Vega Graphs in the portal page of LAMP could be dynamically resized to fit the width of the box - currently graphs can overflow

See example of a cutoff graph below on the phone:
![image](https://user-images.githubusercontent.com/86117379/140812210-b3525fb0-d651-4404-a110-ac9acef7d34b.png)

See the correctly displayed visualization on the dashboard below:
![image](https://user-images.githubusercon

[2021-10-29 13:48] SuruPa00 opened #417 "Activity Timezones"
When activities are scheduled, they default to EST. currently on the dashboard there is no way to specify timezone, or to see what timezone it is in. We want to select the timezone OR if we do not select it, make it the user’s current timezone.

From a UI perspective, this could be set up so that when there is a schedule for an activity and you see the boxes for a start date, time, interval, and c

[2021-10-29 13:48] SuruPa00 opened #418 "Editing activities takes you back pages"
After I edit an activity (say something on the 3rd of 4 pages of activities) then it will take me to the first page of activities. However, if I then click to the next page, I will be on the 4th page of activities. There is a mismatch between what I am seeing and what index the backend thinks it is on. After I edit an activity it should show (and be on) the same page that I was on previously.

[2021-10-29 13:49] SuruPa00 opened #419 "Activities in Prevent page should be automatically expanded."
Activities in Prevent page should be automatically expanded.

[2021-10-29 13:49] SuruPa00 opened #420 "Informative error when credential creation error"
When you create a credential that has already been used it just says "could not create credential." Instead their should be an informative error telling the user that they need to use a different email

[2021-10-29 16:23] SuruPa00 opened #421 "Daily Survey Error"
![image0](https://user-images.githubusercontent.com/86117379/139469624-6bfc970f-a599-4062-8d25-b1e804f06025.png)

![image1](https://user-images.githubusercontent.com/86117379/139469641-3fa62218-926d-4028-b898-5e98426d2735.png)

[2021-11-01 05:13] ZCOEngineer commented on #400
@SuruPa00 We shall work on this after current priority items

[2021-11-01 13:02] SuruPa00 commented on #407
When this is made, let's make it so it's this advanced, branching survey is a different spec from the current survey

[2021-11-01 13:57] tlakhtak opened #422 "TypeError: null is not an object when accessing surveys"
When doing different survey activities, two users got these error messages. Their IDs were U1289352228 and U6596525792.
![bug 2](https://user-images.githubusercontent.com/82968538/139683133-047aebbc-48b9-4757-8d0d-867504edffc5.png)
![bug](https://user-images.githubusercontent.com/82968538/139683140-d7c551cb-54b6-49bb-9452-42325b55de84.jpg)

[2021-11-01 15:44] SuruPa00 commented on #422
duplicate of #421

[2021-11-01 15:44] #422 closed

[2021-11-02 05:07] sarithapillai8 commented on #398
@SuruPa00
I have managed opening multiple panels through the accordion component. Do you still want to change it to checkbox design? Please have a look. If needed we need to create custom component to handle this.

[2021-11-02 10:14] sarithapillai8 commented on #404
@SuruPa00
This is updated in production.

[2021-11-02 10:15] sarithapillai8 commented on #388
@tlakhtak
This is updated in production

[2021-11-02 10:16] sarithapillai8 commented on #410
This is updated in production.

[2021-11-02 10:16] sarithapillai8 commented on #421
@SuruPa00
This is updated in production.

[2021-11-02 12:24] sarithapillai8 commented on #420
@SuruPa00
This is updated in production

[2021-11-02 12:27] SuruPa00 commented on #398
@sarithapillai8 this looks good, can you also change "Filter Checked" to "Show Only Skills Used"

[2021-11-02 12:37] #420 closed

[2021-11-02 13:18] SuruPa00 commented on #404
@sarithapillai8 Thanks for this, it is working from the dashboard as intended. Can you make it though so that when the data is called, everything is returned in military time regardless of whether from the UI, AM PM or Military Time was selected?

[2021-11-02 14:09] sarithapillai8 commented on #398
@SuruPa00
This is also updated.

[2021-11-02 17:25] SuruPa00 opened #423 "Labels overlapping on icons"
Some labels are overlapping with the activity icons - see screenshot below

<img width="1073" alt="Screen Shot 2021-11-02 at 1 22 29 PM" src="https://user-images.githubusercontent.com/86117379/139914918-bb05dd16-c0d4-49b5-a85b-3fb5a11c018b.png">

[2021-11-02 19:49] SuruPa00 opened #424 "Editing Survey Deletes Schedule"
When you edit a survey, the preexisting set schedule gets deleted

[2021-11-03 13:07] jijopulikkottil commented on #396
@SuruPa00 Shall we release the beta build 2021.10.20 (296) ?

[2021-11-03 13:08] SuruPa00 commented on #396
@jijopulikkottil yes please push

[2021-11-03 19:19] #421 closed

[2021-11-04 12:16] SuruPa00 commented on #378
@sarithapillai8 can you make the user hierarchy now no longer be tied to a tag and by default be available for all users?

[2021-11-05 04:43] sarithapillai8 commented on #378
@SuruPa00
Currently these credentials are managed through the tag "gov.lacounty.dmh.admin_permissions" as per the requirement.. So if this same tag available in the database on server side as it expected to have for LA County, the functionality will work. Nothing to do from the codebase then.
@avaidyam Please confirm.

[2021-11-05 04:56] ZCOEngineer commented on #139
hi @SuruPa00
Jijo will start on this soon, We shall update you on the ETA

[2021-11-05 11:54] avaidyam commented on #378
I think @SuruPa00 is suggesting to remove the Tag check so the feature is always enabled. I think that should be fine now.

[2021-11-05 12:18] SuruPa00 commented on #378
@sarithapillai8 - Yes, what @avaidyam said, we would like there to be no tag check anymore and have the feature always enabled.

[2021-11-05 15:38] SuruPa00 commented on #323
@divyav2020 any update?

[2021-11-05 15:48] michaelmenon commented on #323
Hi @SuruPa00 I will check on it on Monday and get back to you.

[2021-11-08 10:58] divyav2020 commented on #323
@SuruPa00 I couldn't reproduce the issue
I have checked the following scenarios. But couldn't reproduce the auto logout issue
Scenario 1: Logged in to the app and kept the application idle ( for approx. 30 minutes). Then killed the app from background and reopened it. - Tested

Scenario 2: Logged in to the app and kept the application idle( for approx. 30 minutes). Then refreshed the screen. - Tes

[2021-11-08 11:20] Linoy339 commented on #382
@lukeoftheshire. Can you please check portainer, as we are unable to access the stack or containers. It says
`Unable to retrieve stacks`.
Also can you please give the whole container logs for last 2 days?

[2021-11-08 11:32] sarithapillai8 commented on #378
@SuruPa00 @avaidyam
Please confirm we can use this same tag to store the user admin and practice lead information (edit/view) or do we need to se a different tag?

[2021-11-08 11:50] avaidyam commented on #378
Please use a different tag - "lamp.dashboard.admin_permissions".

[2021-11-08 11:53] sarithapillai8 commented on #378
@avaidyam
For all Server URLs , right? I hope there are nothing saved for the tag used for LA county.

[2021-11-08 11:56] jtorous commented on #323
Thank you for looking into this so thoroughly. We will continue to test
too, but your testing above is most helpful!

-John

On Mon, Nov 8, 2021 at 5:59 AM divyav2020 ***@***.***> wrote:

[2021-11-08 13:28] SuruPa00 opened #425 "Text Size issues"
See below screenshots of issues where text needs to be scrolled for or/text is not displayed as it should be -

See how the user has to scroll to see the description of the activity, which has been slightly cut off
![image](https://user-images.githubusercontent.com/86117379/140749657-102b4442-bc01-4181-8cf2-6d9495e4858b.png)

See how there is an awkward space between the specified tip - it would b

[2021-11-08 14:59] #383 closed

[2021-11-08 15:00] avaidyam commented on #383
Discussion moved to #382.

[2021-11-08 15:00] avaidyam commented on #380
Discussion moved to #382.

[2021-11-08 15:00] #380 closed

[2021-11-08 15:29] Linoy339 commented on #382
Thank you @lukeoftheshire

[2021-11-08 15:33] SuruPa00 opened #426 "Sensor Configuration"
As per our conversation about the way sensor data is collected, let's have sensor collection return to the way it was where:
- If no sensors are created in a study/user, no sensor data is collected from
any sensor.
- When no GPS sensor is created, IF it has to be collected no matter what (to keep the app alive in the background), make it so that the frequency is very low and the data is NOT upload

[2021-11-09 05:34] sarithapillai8 commented on #413
@SuruPa00
Please provide more details on this.

[2021-11-09 17:52] #312 closed

[2021-11-09 19:00] SuruPa00 commented on #357
We are still running into the issue where screen duration is not being collected. See the list of users who are not collecting screen state data: only a few have collected some but it was in September

`U1077552781
2021-09-17 15:36:47.557000

U1697758293
None

U6808681930
2021-11-09 18:39:32.492000

U7931361682
None

U6393941642
None

U9948995495
None

U7645962928
None

U1289352228
None

U89151493

[2021-11-09 20:14] SuruPa00 opened #427 "Optional Questions"
When creating a survey and adding questions, can we have a new box that allows us to flag questions as optional? This can take form of a check box where if we check it, it allows that question to be left blank/unanswered without making it so the survey cannot be completed. I've added a visual of where this go in the survey editor below:

![image](https://user-images.githubusercontent.com/86117379/

[2021-11-10 08:56] sarithapillai8 commented on #165
@avaidyam
We discussed about this earlier and this tab information was expected to be saved as part of activity object in a key "tab". The key tab does not exist now and to support this we need to change LAMP-server activity modal and some other related places. Please confirm on this. Or do you prefer any other method?

[2021-11-10 09:16] sarithapillai8 commented on #378
@SuruPa00
This is updated in production.

[2021-11-10 09:54] divyav2020 opened #428 "Refresh Issue in Users screen"
Refresh Issue in Users screen- Login as admin or system admin. Reach Users screen. Page is in Simple mode. choose add User option. Enter a group name and select the checkbox (create a user checkbox) and add. Filter shows study name with a count 1. But screen is not showing newly added User. Need to refresh or move to other tabs and back to users screen to view the created user.

[2021-11-10 13:39] SuruPa00 opened #429 "Embedded Video Error"
Embedded videos in Tips are not working even when the markdown code is correct: see screenshot below where it says "youtube refueses to connect" - for location of exact issue, see U5995826498 and the Strengths Tips

![image](https://user-images.githubusercontent.com/86117379/141122233-42f606df-ebc2-4430-aa87-91849c44cee1.png)

[2021-11-10 13:45] SuruPa00 opened #430 "Mindfulness Loop and Error"
Currently, the mindfulness and breathe activities are encountering an infinite loop. When a participant accesses the activity, the audio keeps looping and the only way to stop the activity is to exit it manually, which does not allow for any record of completion.

See U8282161095 for an example. Despite being reported as completed by the user, the Inner Teacher activity is not shown as completed a

[2021-11-10 15:12] avaidyam commented on #165
@sarithapillai8 Please add the field `category` (see below type definition) to both `Activity` and `ActivitySpec`.

[code]

- If `Activity.category` is missing (`undefined`), it must be treated as "use default category" (which is the same behavior if `=== null`).
- Valid options for the `category` array are `learn`, `assess`, `manage`, `prevent`.
- If the array is empty, it should appear in no tab

[2021-11-10 16:57] lukeoftheshire opened #431 "LAMP message queue,nats, worker, and server are stopping and starting frequently"
As mentioned in the title message queue, nats worker, and server services appear to be stopping and starting fairly frequently in portainer. @avaidyam and I are worried that there is a possibility of data loss due to these frequent stop-starts, so we are making this issue to keep track of it and log any information we find. The first thought we have is wondering if this could be related to automat

[2021-11-10 20:06] SuruPa00 commented on #431
This may also be linked to the recent logout issues we have been seeing as automations is a recently developing addition and we as a group have collectively been still trying to pinpoint a source of these issues. There may be a problem where the app or dashboard code fails to reach the server. This may make it so it thinks the credentials are not correct and deletes them. Let's look into this to s

[2021-11-11 08:11] Linoy339 commented on #431
@lukeoftheshire . We used to restart the stack when we see the message - `Nats server is disconnected` Or similar redis disconnection error. Can you please keep an eye on memory when any of the container gets restarted and
also, how frequent its getting restarted?
@SuruPa00. This doesn't seems to be the reason  for automatic  logout issues.

From the logs, nats-server and redis-server is getting d

[2021-11-11 08:39] Linoy339 commented on #165
@avaidyam . Please find
[https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/3](https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/3)

We have merged Lamp-server changes which has been merged to staging for testing.
Please find the changes we have done in staging:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/162](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/162)

[2021-11-11 13:09] divyav2020 opened #432 "Refresh issue in Users Settings activities schedule"
Refresh issue -> Users Settings-> activities-> schedule an activity. It will show once we refresh the screen

[2021-11-11 13:14] SuruPa00 commented on #414
@sarithapillai8 is there an update or eta on this? the 1 day marker was assigned 8 days ago so just wanted to follow up.

[2021-11-11 17:09] tlakhtak commented on #138
Hi, we would like to have the app available to translate in French as well - can we use the files listed here to provide to translators, or are they no longer up to date?

[2021-11-12 03:51] sarithapillai8 commented on #414
@SuruPa00
This is updated in production in the previous release. Missed to update the status.

[2021-11-12 11:25] sarithapillai8 commented on #165
@avaidyam
Could you please update this PR and make it available so that the feature can be tested in staging.
https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/3

[2021-11-12 11:39] sarithapillai8 commented on #400
@SuruPa00
Do we have to change the sorting of the activities/users under a studies based on this sorting selection()A-Z & Z-A?

[2021-11-12 12:04] sarithapillai8 commented on #165
@avaidyam
Could you please confirm that -  if the tab 'none' is selected, do we need to hide it from feed or can we show that as this is available in notification?

[2021-11-12 12:05] avaidyam commented on #165
It should still be visible on the feed if it is scheduled, but it should not tappable unless within the notification window.

[2021-11-12 15:09] SuruPa00 commented on #414
@sarithapillai8 i just tested this and when i select all, deselect all, and select a specific user, everyone gets selected again

[2021-11-12 15:47] avaidyam commented on #431
@Linoy339 Going forward, please do not manually restart anything - no changes to containers or. services should ever be made (only the stack file should be updated by myself once a change is made to components, which there should not be anymore).

**Please resolve the actual issue.** I still suspect this is linked to the automatic logouts until we have further evidence to the contrary.

[2021-11-12 16:45] zcoaskchemicals commented on #431
Thanks Aditya, I will check with the team and get back on this.

[2021-11-12 16:47] michaelmenon commented on #431
thanks Aditya, I will check with the team and update.

[2021-11-15 03:15] sarithapillai8 commented on #427
@SuruPa00
Just to confirm - Currently no survey don't have this `required` field and thus all the current survey can be submitted without any responses. We did mandatory checking a few days back. That is why confirming that all the surveys that require this mandatory check need to update the survey.

[2021-11-15 04:06] sarithapillai8 commented on #429
@SuruPa00
This is not the issue with activity instead this the error thrown by YouTube for invalid URL in Iframe. In the activity settings , I can see the YouTube link included as https://www.youtube.com/watch?v=XZUK8JSGf6I.
This should be given in the format like this - https://www.youtube.com/embed/XZUK8JSGf6I. You can get the link in this format by clicking the share option of YouTube and get t

[2021-11-15 04:35] sarithapillai8 commented on #165
@avaidyam
Could you please release the LAMP-js changes? The changes in LAMP-dashboard are not yet updated on staging because of this.

[2021-11-15 06:47] divyav2020 commented on #414
@SuruPa00 We are unable to reproduce this issue

[2021-11-15 08:34] Linoy339 commented on #431
@lukeoftheshire , @avaidyam , @SuruPa00
Here, it seems that the nats connection is getting disconnected and closed after the default retry attempts (which is 10 now). from the client
As a solution, we have changed the retry value as infinite, so that nats client will look for nats-server until it is available. This is done in staging and we can move to production after monitoring it for 2 or 3 day

[2021-11-15 11:31] avaidyam commented on #165
I've released it.

[2021-11-15 11:57] ZCOEngineer commented on #139
@SuruPa00 we are working in this and expected release date is by Dec-08

[2021-11-15 12:27] sarithapillai8 commented on #419
@SuruPa00
Could you please provide more details on this?

[2021-11-15 12:52] sarithapillai8 commented on #165
@avaidyam
I am getting this error in LAMP-dashboard build which I fixed in local by changing node_modules lamp-core directly and building  :

/usr/src/app/src/components/Researcher/ActivityList/ActivityMethods.ts
TypeScript error in /usr/src/app/src/components/Researcher/ActivityList/ActivityMethods.ts(967,23):
Property 'category' does not exist on type 'ActivitySpec'.  TS2339

    965 | export as

[2021-11-15 12:56] avaidyam commented on #165
Did you bump the version to `2021.11.15`? Otherwise if you are experiencing any issues you may need to communicate with @Linoy339. I was under the impression that all prerequisite changes were made before I was asked to publish a production release, so I'm not sure how to help.

[2021-11-15 12:56] sarithapillai8 commented on #165
@avaidyam
Ok So I have to update the version number. Thanks.

[2021-11-15 13:20] SuruPa00 commented on #378
@sarithapillai8 is it possible the old tag that was implemented is causing conflict with the new tag that was made? Can you confirm that the old tag is not broken. The LA team is encountering the following issue after their deployment of this updated version:

`After the deployment, we are able to load v1445 dashboard. However, it seems the credentials we have created in QA all stopped working inc

[2021-11-15 13:28] #429 closed

[2021-11-15 13:43] SuruPa00 commented on #427
@sarithapillai8 yes, this is expected behavior

[2021-11-15 13:55] sarithapillai8 commented on #400
@SuruPa00
Do we need to change the order of listing in activities/users based on study sorting or keep the A-Z sorting all the time? Also users are sorted by id, not name ; as names are not available all the time, they are saved as attachments.

[2021-11-15 13:57] SuruPa00 commented on #400
@sarithapillai8 make it A-Z based on the study

[2021-11-16 14:29] avaidyam commented on #431
@Linoy339 Can we diagnose why NATS is being disconnected? Both Redis and NATS should never be going down as a result of our code. We aren't fixing the actual issue with the patch you described.

[2021-11-16 14:50] avaidyam commented on #415
Since this change only requires updating the threshold values in the [`LAMP-dashboard` src right here](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/2ecdecf3d6baefec0d00bd855ce7b49fa2023f71/src/components/Researcher/ParticipantList/Index.tsx#L110), let's discuss this change internally.

---

**Ignore the below - preserved for posterity ONLY.** A previously internally discussed (but

[2021-11-16 14:51] #415 closed

[2021-11-16 14:51] Linoy339 commented on #431
@avaidyam . Yes, we are diagnosing it by putting more logs. We  already tackled the issue related with max payload of nats earlier. Also, we made sure that redis is  reconnected if its disconnected for some reason.
Also, we need to introduce the above solution, so that we can make sure that nats will be alive soon after being disconnected

[2021-11-16 14:56] avaidyam commented on #416
@lukeoftheshire @SuruPa00 Can you share the Vega graph JSON + maybe an SVG here as well? (Also, Slack me credentials if there's a staging account set up with this that we can use to test code changes.)

[2021-11-16 15:12] avaidyam commented on #417
To simplify the implementation of this feature (technically a bug), let's change the behavior to use the user's current timezone.
1. When viewing the Feed in the Dashboard/App, the current timezone can be requested from the browser.
1. For scheduling push notifications, the server should determine the current timezone based on the latest GPS point automatically.
    - This change should be entirel

[2021-11-16 15:17] #316 closed

[2021-11-16 15:19] #252 closed

[2021-11-16 15:19] #181 closed

[2021-11-16 15:19] #354 closed

[2021-11-16 15:20] #402 closed

[2021-11-16 15:20] #151 closed

[2021-11-16 15:43] avaidyam commented on #408
@SuruPa00 `lamp.gps.contextual` is a hold-over from mindLAMP v1 that contains social and environmental context that the user fills out as a pseudo-survey. This has not existed in mindLAMP for years now, so you can ignore this.

@jijopulikkottil Since `lamp.device_motion` has the same accelerometer data WITH additional gyro/motion/gravity data, do you think it is feasible to remove `lamp.accelerome

[2021-11-16 15:44] #396 closed

[2021-11-16 15:46] #381 closed

[2021-11-16 15:47] #322 closed

[2021-11-16 15:47] SuruPa00 commented on #392
Is there an update on this?

[2021-11-16 15:47] #288 closed

[2021-11-16 15:48] #392 closed

[2021-11-17 11:06] Linoy339 commented on #431
@lukeoftheshire . We have seen that both LAMP_server and worker in staging as well as production got restarted.
Can you please restart the stack in order to make it work correctly.

As a step of diagnosing, can you please provide the whole logs (LAMP_server,LAMP_worker,LAMP_staging_server,LAMP_staging_worker,LAMP_message_queue,LAMP_staging_message_queue) for today?

[2021-11-17 13:47] #173 closed

[2021-11-17 13:49] #276 closed

[2021-11-17 13:50] #283 closed

[2021-11-17 13:50] #289 closed

[2021-11-17 13:50] #293 closed

[2021-11-17 13:51] #303 closed

[2021-11-17 13:51] #306 closed

[2021-11-17 13:51] #314 closed

[2021-11-17 13:52] #317 closed

[2021-11-17 13:52] #318 closed

[2021-11-17 13:52] #319 closed

[2021-11-17 13:53] #320 closed

[2021-11-17 13:54] #388 closed

[2021-11-17 13:56] avaidyam commented on #394
This occurs if the API Server was not configured properly (i.e. no SensorSpecs were installed by the IT team, for example). This isn't a bug with LAMP itself.

[2021-11-17 13:56] #394 closed

[2021-11-17 13:56] #410 closed

[2021-11-17 13:57] #418 closed

[2021-11-17 13:57] #424 closed

[2021-11-17 13:59] avaidyam commented on #411
FYI - this is a bug, not a feature, as every single Activity in the app/dashboard **MUST** produce an ActivityEvent with the `timestamp` and `duration` fields at a minimum.

[2021-11-17 14:04] SuruPa00 commented on #423
@sarithapillai8 hi, is there an update on this issue?

[2021-11-17 14:14] sarithapillai8 commented on #423
@SuruPa00
This is updated in staging with some other issues. We will be releasing after QA.

[2021-11-17 14:14] avaidyam commented on #378
@SuruPa00 It looks like there was no backwards compatibility path considered to keep `gov.lacounty.dmh.admin_permissions` working if `lamp.dashboard.admin_permissions` is not defined. The following could resolve this:

[code]

[2021-11-17 14:15] SuruPa00 commented on #138
@sijugeorge-zco following the previous comment, can you confirm if there are further files to translate so we can move forward with a French translation? If there are more, please attach them here.

[2021-11-17 14:24] #171 closed

[2021-11-17 14:26] #176 closed

[2021-11-17 14:27] #210 closed

[2021-11-17 14:29] #327 closed

[2021-11-17 14:31] #379 closed

[2021-11-17 14:33] avaidyam commented on #210
Duplicate of #416!

[2021-11-17 14:33] #199 closed

[2021-11-17 14:33] avaidyam commented on #176
Duplicate of #416!

[2021-11-17 14:48] avaidyam commented on #401
@jijopulikkottil It seems like recording notification receipts is not working - can you confirm if there's any issue with that?

[2021-11-17 14:48] #367 closed

[2021-11-17 14:49] #296 closed

[2021-11-17 14:50] #292 closed

[2021-11-17 14:50] avaidyam commented on #279
Duplicate of #411.

[2021-11-17 14:50] #279 closed

[2021-11-17 14:51] sarithapillai8 commented on #425
@SuruPa00
We have updated some issues together in staging. After QA completed, we can release this with others. We plan to release these by this Friday or next Monday.

[2021-11-17 14:51] dcurrey88 commented on #270
Closing this issue as it looks like these exist here: https://docs.lamp.digital/data_science/data_types

[2021-11-17 14:51] #270 closed

[2021-11-17 14:52] #291 closed

[2021-11-17 14:54] avaidyam commented on #290
Duplicate of #145.

[2021-11-17 14:54] #290 closed

[2021-11-17 14:55] avaidyam commented on #145
@jijopulikkottil @saranya-sajeev Has this feature been implemented **in production on both** iOS and Android now?

[2021-11-17 15:04] avaidyam commented on #3
@jijopulikkottil Can you share what the data would look like?
@saranya-sajeev Is this also implemented on Android?

[2021-11-17 15:07] avaidyam commented on #179
On Android devices, the bubble will appear whenever there are notifications from the app that the user hasn't dismissed yet.

@jijopulikkottil Is this the same behavior on iOS as well? (i.e. If there are outstanding notifications that were not tapped/swiped away, does the app show the red bubble?)

[2021-11-17 15:20] avaidyam commented on #347
Let's move this discussion to #138 to keep all the translation files and comments in sync.

[2021-11-17 15:20] #347 closed

[2021-11-17 15:23] #404 closed

[2021-11-17 15:23] #398 closed

[2021-11-17 15:24] #395 closed

[2021-11-17 15:24] #378 closed

[2021-11-17 15:25] avaidyam commented on #419
Duplicate of #344.

[2021-11-17 15:27] avaidyam commented on #278
@jeydude [It should now be possible to use Markdown formatting with Survey text](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/384), so you could try embedding an external image via URL or a data-url to embed a small SVG or PNG file. (This is not an officially supported feature, but it should work!)

[2021-11-17 15:27] #278 closed

[2021-11-17 15:29] avaidyam commented on #407
Duplicate of #265.

[2021-11-17 15:29] #407 closed

[2021-11-17 15:30] avaidyam commented on #237
Duplicate of #427 and #385.

[2021-11-17 15:30] #237 closed

[2021-11-17 15:38] avaidyam commented on #235
@ryan-hays I think this is done, but can you double check against `LAMP-cortex` code?

[2021-11-17 15:38] #235 closed

[2021-11-17 15:38] #344 closed

[2021-11-17 15:42] SuruPa00 commented on #419
@sarithapillai8

Currently, only the sensor data are automatically shown in the Portal page, see below:

![image](https://user-images.githubusercontent.com/86117379/142231909-7d937e2c-e573-4d4e-b4b3-4055824be45f.png)

We would like the activity graphs to be automatically shown upon entering the portal page instead of having to manually click on each on as seen below:

![image](https://user-images.

[2021-11-17 15:45] SuruPa00 commented on #419
also, duplicate of #344

[2021-11-17 15:46] SuruPa00 commented on #344
duplicate of #419

[2021-11-17 15:51] Linoy339 commented on #431
@lukeoftheshire . Can you please restart the Lamp-server and Lamp-worker, as Lamp-server and Lamp-worker is not connected to message_queue, which blocks  notification process in LAMP-worker.

[2021-11-17 15:51] avaidyam commented on #431
@Linoy339 You should be able to access the logs from the Portainer console still. Just please don't update any services, containers, or stacks. If you need to update any stacks, @lukeoftheshire and I can help do that.

[2021-11-17 15:53] jijopulikkottil commented on #145
iOS -> Yes.
Hope it is implemented in Android too. @saranya-sajeev  can confirm.

[2021-11-17 15:53] Linoy339 commented on #431
@avaidyam . If you can give full logs as txt file, it would be helpful.
Also, we won't update any service anymore. Instead, we will inform @lukeoftheshire for that

[2021-11-17 15:55] avaidyam commented on #145
@jijopulikkottil Can you also confirm that the behavior in #426 is implemented? I believe this behavior is specific to iOS since you have to keep the GPS sensor always-on to keep the app alive in the background.

any sensor.

[2021-11-17 15:55] avaidyam commented on #426
Duplicate of #145.

[2021-11-17 15:55] #426 closed, assigned to ZCOEngineer

[2021-11-17 15:56] avaidyam commented on #431
@Linoy339 We don't have access to anything more than you would through the Portainer console. The logs attached above were copied out of Portainer and manually redacted to hide IDs and sensitive info.

[2021-11-17 16:04] #213 closed

[2021-11-17 16:05] #197 closed

[2021-11-17 16:05] #194 closed

[2021-11-17 16:07] SuruPa00 commented on #194
This issue is no longer relevant/has not appeared

[2021-11-17 16:08] Linoy339 commented on #431
Okay. I will try that. Also, please restart the Lamp_staging as well as Lamp stack, as still seen like nats is disconnected

[2021-11-17 16:08] SuruPa00 commented on #213
This issue is no longer present

[2021-11-17 16:09] #186 closed

[2021-11-17 16:11] Linoy339 commented on #251
@avaidyam. We have done this in Lamp-server bootstrapping.
Can you check this :
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/Bootstrap.ts#L907](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/Bootstrap.ts#L907)

Or do we need to check for those credentials and create one if not existing

[2021-11-17 16:13] avaidyam commented on #251
@Linoy339 Thanks for the update - looks like it is indeed implemented! 🥇

[2021-11-17 16:13] #251 closed

[2021-11-17 16:17] SuruPa00 commented on #183
this issue has since been resolved

[2021-11-17 16:17] #183 closed

[2021-11-17 16:22] SuruPa00 commented on #222
This bug appears to be resolved

[2021-11-17 16:22] #222 closed

[2021-11-17 16:23] SuruPa00 commented on #190
this issue has been updated

[2021-11-17 16:23] #190 closed

[2021-11-17 16:27] SuruPa00 commented on #340
this issue has been resolved

[2021-11-17 16:27] #340 closed

[2021-11-17 16:27] SuruPa00 commented on #428
@sarithapillai8 has this been updated?

[2021-11-17 16:28] SuruPa00 commented on #430
@ZCOEngineer any update on this?

[2021-11-17 16:30] jijopulikkottil commented on #3
@avaidyam same as https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/3#issuecomment-912683563

[2021-11-17 16:45] jijopulikkottil commented on #145
If no sensors are created in a study/user, then we will collect all sensors. If we specify "lamp.none" only, then we will collect no sensor.

Yes, all are correct except we are not setting low frequency if no GPS.
[You are correct, we can set low frequency if GPS sensor is not added]

You mean, we have to change the implementation like If no sensors are added, then we should not collect any sensor

[2021-11-17 16:50] jijopulikkottil commented on #179
@avaidyam

No. iOS app doesn't show any badge.

[2021-11-17 17:30] jijopulikkottil commented on #408
@avaidyam
In iOS,  lamp.device_moton data is from [CMDeviceMotion](https://developer.apple.com/documentation/coremotion/cmdevicemotion). So the "motion" data is the [user acceleration](https://developer.apple.com/documentation/coremotion/cmdevicemotion/1616149-useracceleration)

lamp.accelerometer data is from [CMMotionManager](https://developer.apple.com/documentation/coremotion/cmmotionmanager)

[2021-11-17 17:31] avaidyam commented on #179
Can you enable it to show a badge if there are notifications? [It looks like this is a property that can be sent from the server APNS payload.](https://developer.apple.com/documentation/usernotifications/unmutablenotificationcontent/1649875-badge)

[2021-11-17 17:32] avaidyam commented on #145
No, this was never the correct implementation - please delete `lamp.none` entirely. If there are no sensors for a user, no sensor data should be collected.

Good, so even if `lamp.gps` is not declared in the user's sensor list, the GPS sensor should run in the background in a very low Hz.

Yes, and please delete `lamp.none` entirely.

[2021-11-17 17:35] Linoy339 commented on #431
@avaidyam @lukeoftheshire .

Can you please check with Lamp stack (lamp-worker and lamp-server), as it seems like not restarted properly
Please restart the stack(lamp-worker and lamp-server only)

[2021-11-17 18:05] avaidyam commented on #431
@Linoy339 we are working on it! apologies for the delay.

[2021-11-17 18:08] lukeoftheshire commented on #431
Hi @Linoy339 thank you for your patience - sorry about the delay. I have just restarted both lamp-worker and lamp-server. Please let me know if this fixes the issues and if you need anything else done.

[2021-11-17 18:11] Linoy339 commented on #431
@avaidyam @lukeoftheshire : No issues.
It can be seen that the bull queue is not getting initialized after redis being reconnected, which should be the primary as well as  the root issue out of all and this need to be resolved.
Any ways, this couldn't be reproduced in our portainer environment.

[2021-11-17 18:16] Linoy339 commented on #431
Now, it got restarted properly

[2021-11-17 18:18] avaidyam commented on #408
@jijopulikkottil Great - this makes sense.

@saranya-sajeev Are `lamp.device_motion` and `lamp.accelerometer` implemented the same way on Android? [It looks like only `lamp.accelerometer` is.](https://github.com/BIDMCDigitalPsychiatry/LAMP-kotlin/blob/master/lamp_kotlin/src/main/java/digital/lamp/lamp_kotlin/sensor_core/Accelerometer.kt) You may need to manually assemble a `DeviceMotion` equivalen

[2021-11-18 01:24] sarithapillai8 commented on #428
@SuruPa00
This is updated in staging. QA checking on it.

[2021-11-18 04:31] sarithapillai8 commented on #428
This will be updated in staging and it will be updated to production with next release.

[2021-11-18 09:56] saranya-sajeev commented on #408
@avaidyam In android we are sending single sensor data for lamp.device_motion as below and not as a group.

{
      "data": {
        "motion": {
          "x": -0.035913024097681046,
          "y": -0.05985504388809204,
          "z": 10.079588890075684
        }
      },
      "sensor": "lamp.device_motion",
      "timestamp": 1637219902287
    },
    {
      "data": {
        "gravity": {

[2021-11-18 10:55] saranya-sajeev commented on #3
@avaidyam it is not  implemented in Android. We are not getting low power mode callbacks when tested.

[2021-11-18 10:55] saranya-sajeev commented on #145
It is implemented in Android too.

[2021-11-18 11:28] avaidyam commented on #408
@saranya-sajeev Please update it ASAP to the same format as iOS. Is `lamp.accelerometer` uploaded too? Can you link the source code for both sensors here?

[2021-11-18 11:30] avaidyam commented on #3
[Please implement it ASAP.](https://stackoverflow.com/questions/4139149/android-power-save-mode-listener)

[2021-11-18 11:31] avaidyam commented on #145
Thanks for the update! Is it implemented exactly the same way?

[2021-11-18 11:31] #145 closed

[2021-11-18 11:49] saranya-sajeev commented on #145
Yes same as in iOS

[2021-11-18 12:07] saranya-sajeev commented on #408
@avaidyam In Android there is a SensorEventListener for each sensor and we are saving data on sensor callback. Please find the source code link https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/hardware/Sensor.java

[2021-11-18 12:09] avaidyam commented on #408
@saranya-sajeev Apologies, that's not what I meant. Can you:

1. Convert the `lamp.accelerometer` and `lamp.device_motion` data format to match exactly what iOS receives?
2. Share the link to the source code in the LAMP repos for where this is done.

[2021-11-18 12:18] saranya-sajeev commented on #408
@avaidyam https://github.com/BIDMCDigitalPsychiatry/LAMP-core-android/tree/master/app/src/main/java/digital/lamp/mindlamp/sensor . In sensor package you can see the class for each sensor. In each sensor callback we are saving data under device motion.

[2021-11-18 12:23] avaidyam commented on #408
I don't see any DeviceMotion? With the same parameters as the iOS counterpart?

[2021-11-18 12:37] Linoy339 commented on #431
@avaidyam . Inorder to troubleshoot these problems, we might need to restart containers of our own.
So, can you please grant us to handle the staging stack of our own?

[2021-11-18 12:37] avaidyam commented on #431
The staging stack should be fine - NOT the production stack, though.

[2021-11-18 12:40] Linoy339 commented on #431
Sure. Thank you

[2021-11-18 12:52] saranya-sajeev commented on #408
@avaidyam there is no separate class for device motion. For each sensor callbacks we are saving data under device motion. You can check in GyroscopeData , MagnetometerData  etc classes.

[2021-11-18 12:53] avaidyam commented on #408
Please merge these into a single DeviceMotion. **There should NEVER be any discrepancy between iOS and Android sensors, even HealthKit/GoogleFit.** Can you outline any remaining differences in sensors and data format if there are any?

[2021-11-18 13:49] lukeoftheshire opened #433 "Add undelete method(s) to the LAMP API"
It can be frustrating to accidentally delete an activity in LAMP as it is currently very difficult to recover. This issue can be exacerbated by technical issues that cause activities that should not be deleted to be deleted (see https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/379 for an example).

As such, it would be nice to have some sort of 'undelete' functionality added to the L

[2021-11-18 14:19] SuruPa00 commented on #342
This issue appears to be resolved

[2021-11-18 14:19] #342 closed

[2021-11-18 14:20] SuruPa00 commented on #334
This issue is no longer appearing and appears to be fixed

[2021-11-18 14:20] #334 closed

[2021-11-18 14:22] SuruPa00 commented on #339
This issue is no longer appearing

[2021-11-18 14:22] #339 closed

[2021-11-18 14:22] SuruPa00 commented on #393
As discussed, this functionality will be kept for now till further notice

[2021-11-18 14:24] SuruPa00 commented on #414
@sarithapillai8 @divyav2020 currently, when the select all button is clicked, users are loaded one by one, can this be fixed so that all users are loaded at once to save loading time?

[2021-11-18 14:35] Linoy339 commented on #431
@avaidyam @lukeoftheshire
It seems like lamp server api is not reachable apart from LAMP-dashboard. Have you changed anything in the inbound rules or any particular network settings?
Can you please check on this ?

[2021-11-18 14:36] avaidyam commented on #431
This sounds like it could be on your end? AWS sends us a system status notification if `api.lamp.digital` is unreachable from the internet.

[2021-11-18 14:44] Linoy339 commented on #431
Apologies.
Its `api-staging.lamp.digital` and not `api.lamp.digital`

[2021-11-18 14:47] avaidyam commented on #431
Works on my end?

[2021-11-18 14:57] Linoy339 commented on #431
Now, it worked from the postman.

But, its not getting resolved in lamp_staging_worker. It says :
error while fetching activities--- FetchError: request to https://api-staging.lamp.digital/study/sdp35cpgddmcbp3f1qak/activity?ignore_binary=true failed, reason: connect ECONNREFUSED 3.130.237.50:443

[2021-11-18 15:20] Linoy339 commented on #431
I think connection is getting refused somehow and I got the same error in postman too. Also,  lamp_staging worker is unable to fetch the api calls.
The following error
FetchError: request to https://api-staging.lamp.digital/researcher failed, reason: connect ECONNREFUSED 3.130.237.50:443

@lukeoftheshire . Can you check

[2021-11-18 15:28] lukeoftheshire commented on #431
Seems to work for me as well - I can connect to the staging API.

[2021-11-18 15:31] avaidyam commented on #273
The icon has been converted to an SVG. @sarithapillai8 @saranya-sajeev @jijopulikkottil Please update all references across Web/iOS/Android to use this SVG file **(no PNG assets should be used at all anymore - [including `ic_launcher`](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive), etc.)**.

[mindLAMP.svg.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platf

[2021-11-18 15:38] Linoy339 commented on #431
Can you please try for some time, as we get some error in fetching.
I have tried in another machine as well.

Please see the screenshot:

![Untitled_response_error](https://user-images.githubusercontent.com/66460654/142446931-d6b89f3e-cd0d-41bd-b2e0-681c63fb3bc7.png)

[2021-11-18 15:42] avaidyam commented on #431
@Linoy339 [You should be able to see the logs of what the server is receiving and denying here.](https://console.lamp.digital/#!/4/docker/containers/5c567632402b4fea5212627e501a7d64034ed0690980d7f37bc8eefaf1b23cb3/logs?nodeName=node-02.lamp.digital) If no request appears for your IP address, then it's likely on your end or a spam protection feature we're not aware of on AWS's end.

[2021-11-18 17:21] Linoy339 commented on #431
Okay.
We can see that Lamp-staging-server is refusing Lamp-staging-worker.

Please find the logs here :
[https://console.lamp.digital/#!/4/docker/containers/5fdd1c28bcfc97cc1b07c759debced4e09dc30d6e8cb714a9532f0e4b57f0ad8/logs?nodeName=node-02.lamp.digital](https://console.lamp.digital/#!/4/docker/containers/5fdd1c28bcfc97cc1b07c759debced4e09dc30d6e8cb714a9532f0e4b57f0ad8/logs?nodeName=node-02.lam

[2021-11-18 20:59] SuruPa00 opened #434 "Android opening app error"
Can you look into why an Android 8 might have an infinite loading screen? This has been reported by multiple users on both Android 8 and Android 9. Let me know if you can reproduce with the same model and investigate.

[2021-11-19 05:27] sarithapillai8 commented on #419
@SuruPa00
This is working differently. We are not showing the activity/sensor data automatically here. The visualization graph is showing automatically by mistake. It was a requirement to save the selections made and show them on next login.  So do you actually want to show these by default or apply the same condition of activity/sensor selections for visualizations?
@avaidyam Please confirm on th

[2021-11-19 10:22] Linoy339 commented on #431
@avaidyam. @lukeoftheshire.
Please find the error message which I am getting in lamp_staging_worker container logs:
"Error fetching Participant Device-FetchError: request to https://api-staging.lamp.digital/participant/U2271608715/sensor_event?origin=lamp.analytics&limit=1000 failed, reason: connect ECONNREFUSED 3.130.237.50:443"

Also, when I tried staging instance, it says `cannot restart contai

[2021-11-19 13:06] Linoy339 commented on #431
It seems to be a space issue. Can you please check on volumes and related data?

[2021-11-19 13:27] SuruPa00 opened #435 "502 Error"
Upon download and opening the app, we are running into this 502 error as of yesterday and are unsure where it is stemming from - please see this as soon as possible as highest priority

![image (1)](https://user-images.githubusercontent.com/86117379/142630163-7c4472cf-e275-4da7-9f46-4bd2d0d26ec0.png)

[2021-11-19 15:12] ZCOEngineer commented on #435
@SuruPa00 we checked in both iOS and Android and it seems to be working now. not sure if the server was out that time. Could you check now on your devices?

[2021-11-19 15:24] SuruPa00 commented on #435
@ZCOEngineer I am not encountering this error on some phones internally, but there are still reports coming in about the 502 error persisting and I believe this is for both iOS and Android

[2021-11-19 18:58] lukeoftheshire commented on #431
Hi @Linoy339
Thank you for bringing this to our attention. This should be fixed for now although we will look into the root causes.

[2021-11-19 20:07] SuruPa00 opened #436 "Created credentials are not working"
When creating a new user, whenever I try to log in with my created credentials, I am unable to log in and receive the error message as if I entered my credentials wrong. This is happening for U0787924669 and many other users.

[2021-11-22 04:22] Linoy339 commented on #431
@lukeoftheshire . We still face issue in communication between lamp_staging_worker and lamp_staging_server, which blocks us for testing.
It is suspected that space issue has not been resolved .

This is the error in lamp_staging_worker logs :
`request to https://api-staging.lamp.digital/type/6jf470r7z7peb6grgfr7/attachment/lamp.automation failed, reason: connect ECONNREFUSED 3.130.237.50:443`

[2021-11-22 04:51] sarithapillai8 commented on #436
@SuruPa00
We tried different logins for reproducing this issue. Created credentials from researcher, admin and participant. Couldn't reproduce this issue.

[2021-11-22 08:07] Linoy339 commented on #431
Please find the screenshot stating the space issue:

![1_ooo](https://user-images.githubusercontent.com/66460654/142825090-03c95037-d3d1-4f74-853f-87b0f775eedb.png)

[2021-11-22 10:09] Linoy339 commented on #309
@SuruPa00. The related changes has  been done and released in LAMP-worker

[2021-11-22 12:02] Linoy339 commented on #431
@lukeoftheshire . Also, We can see that both staging and production dashboards are in  the host, node-02 .

Are you sure about this, as we suspect one of them to be in node-01?

[2021-11-22 13:56] avaidyam commented on #431
@Linoy339 Only the production server components are in node-01. We are in the process of moving both the production and staging dashboards off of the infrastructure and onto GitHub Pages, which will allow for more rapid development and less latency when accessing pages.

[2021-11-22 14:13] Linoy339 commented on #431
Thank you @avaidyam
This means both dashboards were in node-02.

[2021-11-22 14:15] lukeoftheshire commented on #431
Hi @Linoy339 - thanks for bringing this to our attention. I have cleared out a small amount of space on the node - hopefully that is enough for now - over the course of the day I will clear out more space to stop this from becoming a recurring issue. I'll update here once that's done.

I can also confirm Aditya's statement - both dashboards are in node 2.

[2021-11-22 14:19] avaidyam commented on #431
@Linoy339 Yes that's correct. Node-02 is also used for internal development and data science so there's a lot of cache files generated. However, every time a new staging build is deployed, the used volumes and images pile up adding 6+ GB per build. We have been manually removing them thus far.

[2021-11-22 14:25] Linoy339 commented on #431
Okay. Now, we understand
Thank you for the clarification

[2021-11-22 14:29] SuruPa00 commented on #435
@ZCOEngineer this issue is still persisting, can you check on it again?

[2021-11-22 14:34] lukeoftheshire commented on #431
@Linoy339 @avaidyam I have removed a good deal of data from the caching directory. Disk usage is back below 50%. I will continue to monitor this, of course, but this problem should no longer occur.

[2021-11-22 14:42] Linoy339 commented on #431
Thanks @lukeoftheshire

[2021-11-22 14:54] Linoy339 commented on #431
@lukeoftheshire . We can see that the space has been restored.
But, Its seems that its still an issue and can be seen in the staging-worker logs:
request to https://api-staging.lamp.digital/participant/U8315566314/sensor_event?origin=lamp.analytics&limit=1000 failed, reason: connect ECONNREFUSED 3.130.237.50:443

Do we need to restart anything after clearing the space?

[2021-11-22 15:05] lukeoftheshire commented on #431
Hi @Linoy339 I have just restarted the lamp staging server and worker services.

I will try the staging api on my end and update this post with the results.

[2021-11-22 15:08] michaelmenon commented on #435
Hi @SuruPa00 This seems to be from the space issue on the Dashboard server can we have the space cleared off in the Dashboard server. We can monitor for this issue and confirm after that. Please have the dashboard server space cleared off.

[2021-11-22 15:13] Linoy339 commented on #431
Okay.

Also, LAMP-server is provided with staging image - ghcr.io/bidmcdigitalpsychiatry/lamp-server:latest instead of
ghcr.io/bidmcdigitalpsychiatry/lamp-server:2021.

We had  a release today. we couldn't notice it earlier.
Can you check this too ?

[2021-11-22 15:16] michaelmenon commented on #435
Great thanks @SuruPa00 can you please check with the user who was seeing the 502 error to see oof they are still getting that issue. We will check on our end as well.

[2021-11-22 15:16] avaidyam commented on #431
@Linoy339 `:latest` is always overwritten by `master` branch releases (staging). This is the correct tag to use.

[2021-11-22 15:25] Linoy339 commented on #431
Okay. From my understanding, the tag for the  production will be the lamp-server:2021 and staging uses
lamp-server:latest

Here is the screenshot:
![lamp_server01](https://user-images.githubusercontent.com/66460654/142887974-6a64b4b8-6cfc-4f08-99b2-91c5aa978f95.png)

It is seen that the production server uses lamp-server:latest. This is something new to us

[2021-11-22 15:26] SuruPa00 commented on #435
This issue has appeared since our team cleared the space, with a report at at 10:11am when we cleared it a bit before that, please check on your end

[2021-11-22 15:40] Linoy339 commented on #431
OKay. Let me update the staging stack once again and check. will revert you here soon

[2021-11-22 16:02] sarithapillai8 commented on #416
@SuruPa00 This is updated in production.

[2021-11-22 16:02] sarithapillai8 commented on #165
@SuruPa00 This is updated in production.

[2021-11-22 16:03] sarithapillai8 commented on #432
@SuruPa00 This is updated in production.

[2021-11-22 16:03] sarithapillai8 commented on #425
@SuruPa00 This is updated in production.

[2021-11-22 16:04] sarithapillai8 commented on #400
@SuruPa00 This is updated in production.

[2021-11-22 16:04] sarithapillai8 commented on #309
@SuruPa00 This is updated in production.

[2021-11-22 16:05] sarithapillai8 commented on #423
@SuruPa00 This is updated in production.

[2021-11-22 16:05] sarithapillai8 commented on #427
@SuruPa00 This is updated in production.

[2021-11-22 16:17] divyav2020 opened #437 "Notification is not working for Every 2 weeks schedule"
Scheduled a lamp activity for 2 weeks schedule. But the push notification is not working for the particular schedule

[2021-11-22 16:20] Linoy339 commented on #431
@lukeoftheshire . It worked after I removed some labels from staging-worker stack :
[code]

[2021-11-22 16:26] #423 closed

[2021-11-22 16:32] #425 closed

[2021-11-22 21:23] michaelmenon commented on #435
Sure, we will check on our end, please check with the users who had this issue before as well and confirm.

[2021-11-23 07:51] sarithapillai8 commented on #148
@avaidyam
Could you please confirm we don't need to work on this now? We were planning to work on this after priority items.

[2021-11-23 12:29] Linoy339 commented on #431
@lukeoftheshire . Can you please restart LAMP_server, as nats found to be disconnected.

[2021-11-23 12:42] michaelmenon commented on #435
When we checked the server space issue has been resolved. QA was testing the app for the 502 error and we did not see it here after the space issue resolution.

[2021-11-23 13:20] lukeoftheshire commented on #431
Hi @Linoy339 - I have restarted the server and worker services!

[2021-11-23 13:31] Linoy339 commented on #431
Thanks @lukeoftheshire

[2021-11-24 06:59] Linoy339 commented on #417
@avaidyam. Just to clarify:

Is the timezone which we enter here to be **saved as new sensor_event** like :

[code]
**or  as tag which would be :**
[code]

Suppose, We have gps data for a particular participant, say :
[code]
With the latitude and longitude above, we need to find the timezone. Right?
If yes,  we might have to use in particular api (eg:google map api) or npm package(eg:node-geo-tz)

[2021-11-24 07:08] Linoy339 commented on #431
@lukeoftheshire . The lamp_worker staging  instance is not updating with latest code changes. Can you please check on this?

[2021-11-24 14:10] lukeoftheshire commented on #431
Hi @Linoy339 - after doing an image update for lamp_worker, I also did a little digging and it looks like the lamp_worker service is using an image from ~29 hours ago, which appears to match up timewise with the latest release found at https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pkgs/container/lamp-worker/versions.

Is there a later version that should be being used?

[2021-11-24 16:14] Linoy339 commented on #431
@lukeoftheshire . Apologies.
Now, it seems like update. I am not sure what happened, may be the update happened little late

Thank you

[2021-11-25 13:45] ZCOEngineer commented on #139
Hi @SuruPa00
We are ready for developer testing SensorKit integration. We need to add the related entitlement to the provisioning profile. But the option for adding this is still not available in the LAMP developer account. Could you check if there is anything regarding this to be done on your part to get it available?

[2021-11-29 08:19] Linoy339 commented on #431
@lukeoftheshire
Can you please restart LAMP_server and LAMP_worker for production environment ?

[2021-11-29 12:57] lukeoftheshire commented on #431
@Linoy339 - Done!

[2021-11-29 13:16] jijopulikkottil commented on #273
@avaidyam In splash screen, currently the logo is svg. Not sure to use svg as app icon. will investigate it.

[2021-11-29 13:22] jijopulikkottil commented on #179
@avaidyam In iOS, It is an integer value. But it might be difficult to maintain the pending unread notifications (or unattended activities? @Linoy339) count on server side. Let us know if we need to implement it.
Or should we set badge = 1 for any notification from server side ?, and clear it when opening the app ?.

[2021-11-29 13:28] Linoy339 commented on #431
Thank you

[2021-11-29 13:42] jijopulikkottil commented on #139
@avaidyam  same question [here](https://developer.apple.com/forums/thread/655277) .
FYI we are using the team 'John Torous' under the apple account 'John Torous'

[2021-11-29 14:14] SuruPa00 commented on #400
@sarithapillai8 thanks for the update. I'm checking on it in production and while the AZ button is there, when I click it, nothing is happening. Additionally, loading the list of users takes far too long. As of right now, each user is loaded 1 by 1, which makes it very inefficient to access users in large studies, I've asked for this fix in #414 as well. Can both these issues be looked into?

[2021-11-29 14:14] SuruPa00 commented on #357
@michaelmenon can we get an update on this soon?

[2021-11-29 14:24] SuruPa00 commented on #435
This seems to have been resolved since the space issue has been solved

[2021-11-29 14:24] #435 closed

[2021-11-29 14:25] #416 closed

[2021-11-29 15:39] SuruPa00 opened #438 "Activity ID is showing up as undefined"
When making an API call, the activity ID under a user is showing up as undefined - please see how this can be fixed ASAP
<img width="941" alt="Screen Shot 2021-11-29 at 9 40 35 AM" src="https://user-images.githubusercontent.com/86117379/143897445-8051556c-c637-45d7-b883-a9fadc5e6c23.png">

[2021-11-29 15:39] avaidyam commented on #139
I'll take a look and let you know shortly if there's any other steps to be taken on your end.

[2021-11-29 15:44] SuruPa00 opened #439 "Daylight Savings Scheduling Multiple Notifications"
U2566447218 and other users are sometimes experiencing multiple notifications for scheduled activities since the switch to Daylight Savings time. Sometimes, a notification is given at an hour before the scheduled time due to the time shift and then again at the time scheduled from before the daylight savings time shift.

[2021-11-29 15:47] avaidyam commented on #417
You present a good point with the difficulty of reverse geocoding the GPS data to a time zone. I agree that it makes more sense to cache the time zone as a Tag upon loading the dashboard, and then using that instead. This tag should only be updated if the time zone has changed or if no time zone tag was previously created. If this tag doesn't exist when the LAMP-worker is attempting to send push n

[2021-11-29 15:50] avaidyam commented on #431
This is a good catch, thanks for letting us know!

[2021-11-29 15:51] avaidyam commented on #273
It should be possible to use an SVG in the XCassets file and have XCode generate the proper PNG file sizes automatically for you. We just don't want to be managing raster graphics assets (Pangs, JPGs, eyc.) anymore unless they're screenshots.

[2021-11-29 15:54] avaidyam commented on #179
I see what you mean, because this would require the server to keep track of the state of how many activities have not been opened by the patient, and then send a silent push notification to erase the badge.  This would however be zero effort on the iOS / Swift codebase side, right? Furthermore, since the Android app already has this behavior by default, I think it makes sense to have the state man

[2021-11-29 15:59] avaidyam commented on #179
@jijopulikkottil [Could you evaluate whether this method allows the badge to auto increment on the client app side?](https://www.cometchat.com/docs/)

[2021-11-29 16:07] SuruPa00 commented on #427
@sarithapillai8 this is mostly functioning as intended, but can questions be required by default and toggled to be optional after? this could be done by making the default checked box to be required instead of option or to default have the optional box unchecked.

[2021-11-29 16:15] SuruPa00 commented on #165
@sarithapillai8 this is working almost as intended, but right now when multiple tabs are selected for which the activity should go under, it only goes under the first one

[2021-11-29 17:21] Linoy339 commented on #438
@SuruPa00 .  We can check this.
Can we create a user under this particular study (SA) for testing purpose ?

[2021-11-29 18:59] SuruPa00 commented on #438
@Linoy339 yes name it ZCO1

[2021-11-29 20:51] SuruPa00 opened #440 "LA OAuth2"

[2021-11-30 03:35] Linoy339 commented on #438
Thank you @SuruPa00

[2021-11-30 05:40] sarithapillai8 commented on #148
@SuruPa00 Sure.

[2021-11-30 06:07] sarithapillai8 commented on #165
@SuruPa00
Please see the comment from @avaidyam  https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/165#issuecomment-965362762:
For the current implementation, if activity.category.length > 0, ONLY use activity.category[0]. (Do not allow showing an activity in multiple tabs for now.)

[2021-11-30 08:45] sarithapillai8 commented on #414
@SuruPa00
We couldn't reproduce the issue. Please see the attached recording and let me know what is actually experiencing on your side.

https://user-images.githubusercontent.com/63710347/144014178-4d1efa6d-1f64-4686-b699-11404676a5c6.mp4

[2021-11-30 08:51] sarithapillai8 commented on #400
@SuruPa00
I am not able to reproduce the issue. Please see the attached, Could you please attach any recording to understand the issue?
https://user-images.githubusercontent.com/63710347/144014805-ac48bf7b-22dc-44b3-bab7-be2d510f8fe7.mp4

[2021-11-30 09:03] avaidyam commented on #165
Yes, now that the initial functionality is working it makes sense to add multiple tabs in.

[2021-11-30 09:32] Linoy339 commented on #438
@SuruPa00 . I have updated this for now.  We have tested  it and couldn't find how the activity id got undefined.
Can you please confirm whether these events came through mindlamp app or via any migration script?

[2021-11-30 10:04] Linoy339 commented on #417
Thanks for the clarification @avaidyam .
How often the tag should be updated, as there is a chance of change in time zone if the user travels ?
Is it to be updated only while login or do a periodic time zone update has to take place ?
Can you suggest?

[2021-11-30 10:05] avaidyam commented on #417
For now, only upon login.

[2021-11-30 10:32] Linoy339 commented on #417
Okay. Thanks

[2021-11-30 11:40] sarithapillai8 commented on #148
Furthermore, the clinician-facing "edit" and "delete" abilities should be moved to the Feed tab instead of the Prevent tab (which currently only works for surveys). - The edit option was not worki

[2021-11-30 11:41] sarithapillai8 commented on #148
@SuruPa00
Accidently closed. Could you please reopen?

[2021-11-30 11:42] Linoy339 commented on #439
@SuruPa00 .  We can see that this participant  has weekly as well as daily schedules.
Is it happening every time for this user?

[2021-11-30 13:24] SuruPa00 commented on #400
@sarithapillai8 here is a screen recording of the issue - please also note the extremely long loading times

https://user-images.githubusercontent.com/86117379/144055384-a3888842-0886-4d6d-a100-7b1381d7382f.mp4

[2021-11-30 13:27] SuruPa00 commented on #439
@Linoy339 no this is only happening sometimes for this user

[2021-11-30 13:30] SuruPa00 commented on #434
@ZCOEngineer any update on this? another report yesterday - see screenshot of this loading screen that never ends below:
![image000000](https://user-images.githubusercontent.com/86117379/144056152-2c7137b3-77c3-47ea-9f3a-a73b01a459f3.png)

[2021-11-30 13:34] Linoy339 commented on #439
Thank you for the clarification. We will check that

[2021-11-30 14:01] SuruPa00 commented on #438
@Linoy339 this is not through a migration script, can confirm it is from mindLAMP

[2021-11-30 15:11] SuruPa00 commented on #427
@sarithapillai8 okay so by default, every survey is now optional, can this please be fixed ASAP to by default have every question required unless the box is toggled? this will affect other studies immensely so please prioritize this

[2021-11-30 18:05] SuruPa00 commented on #400
@sarithapillai8 I see, can this be changed so that all studies are loaded at once? put this in staging so that I can compare loading times to see which is preferred