[2022-02-23 19:48] lukeoftheshire opened #530 "Alias `device_state` and `screen_state`"
There has been a lot of confusion about which sensor (`lamp.device_state` or `lamp.screen_state`) is responsible for collecting data about events like screentime.

Both of these sensors can be found in varying places in the documentation or forum posts and claim to collect the same thing. While we should pick one sensor name to use going forward, at this point we may have to accept the need to sup

[2022-02-23 20:33] avaidyam commented on #530
The official name of the sensor is `device_state` -- `screen_state` is actually a legacy Beiwe sensor we carried forward with NIH 1 data imports. We don't want to use that name because `device_state` in LAMP captures more information, such as battery level, device lock/unlock, notification flashes, etc. compared to the old sensor it replaces from Beiwe.

@jijopulikkottil Can you please ensure on i

[2022-02-24 04:58] Linoy339 commented on #527
@jeydude . Can you please provide the `YAML `file here?

[2022-02-24 05:07] sarithapillai8 commented on #506
@lukeoftheshire @avaidyam
The issues fixed and updated. Could you please have a look?

[2022-02-24 05:23] sarithapillai8 commented on #301
@avaidyam I can check and let you know once I am done with #442.

[2022-02-24 06:13] Linoy339 commented on #527
@jeydude . Can you please take `ghcr.io/bidmcdigitalpsychiatry/lamp-server:latest`, as I have pushed some more logging related with this issue?

[2022-02-24 07:38] sarithapillai8 commented on #417
@avaidyam
There is one issue reported while our QA. Please see the screenshot attached.
![Screenshot 2022-02-23 at 11 41 02 PM](https://user-images.githubusercontent.com/63710347/155478958-35486c4a-27e3-4879-8cbc-858c49b03003.jpg)
'Every 2 weeks' schedule is taking the start date for scheduling, as the date field is UTC converted before saving, it is having a mismatch.
We are only considering time

[2022-02-24 08:07] Linoy339 commented on #527
@avaidyam @jeydude .  The issue is that only `100 data` (CACHE_SIZE) is inserted to db at a time. As, the frequency of `sensor_event` is getting much higher in certain times (from the logs), data insert to db becomes lower.
From the below logs:

It is understood that data frequency is adding up much higher`(112 to 2216,2216 to  6610 and so on)`.
If we are taking the figure  `6610 ` as example, 651

[2022-02-24 08:22] jijopulikkottil commented on #526
waiting for the server side fix https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/417#issuecomment-1049575346

[2022-02-24 08:47] Linoy339 commented on #527
@avaidyam @jeydude . The issue is that only 100 data (`CACHE_SIZE` from env) is inserted to db at a time. As, the frequency of sensor_event is getting much higher in certain times (from the logs), data insert to db becomes lower.
From the below logs:

Line 1384: 2022-02-18T02:23:40.786790461Z Store_Size 112
Line 1400: 2022-02-18T02:25:02.780189945Z Store_Size 2216
Line 1408: 2022-02-18T02:25:04.35

[2022-02-24 08:55] jijopulikkottil commented on #530
In iOS and Android, we are using `lamp.screen_state`. It has three fields:
**value** (0, 1, 2, 3)
**representation** (screen_on, screen_off, screen_locked, screen_unlocked)
**battery_level**

Let us know if we need to change

[2022-02-24 14:11] saranya-sajeev commented on #508
@avaidyam Development is completed and given for QA testing.

[2022-02-24 14:56] saranya-sajeev commented on #476
@avaidyam Could you please create a separate issue for integrating WearOs code to main branch? Wear os app and phone app are separate code bases. So we have to create two folders under Lamp- core repository, one for WearOs app and other for Phone app. Shall we proceed with this?

[2022-02-24 16:57] avaidyam commented on #527
@Linoy339 I'm not sure why `CACHE_SIZE` is implemented this way. **It should not act this way.** It should be the number of cached events required before the **ENTIRE cache** is flushed to database. Please update the implementation. `MAX_STORE_SIZE` should not be a variable in the code at all anymore, `CACHE_SIZE` is supposed to have replaced it.

[2022-02-24 17:00] avaidyam commented on #526
@jijopulikkottil The frontend, backend, and native core are all independent components. **An update to the native app CANNOT require an update to a backend or frontend component.** Please QA test and stage this issue independently, assuming the frontend/backend components will never be fixed/updated.

[2022-02-24 17:02] avaidyam commented on #530
@jijopulikkottil The data itself is fine, but as my prior comment states, both `lamp.screen_state` and `lamp.device_state` should enable this sensor on **BOTH** iOS and Android. Can you check with @saranya-sajeev to confirm the data on Android **looks identical** to iOS data?

[2022-02-24 17:03] avaidyam commented on #508
@jijopulikkottil Can you share what the `lamp.telephony` sensor data looks like on iOS? @saranya-sajeev Can you share what the data looks like on Android? It **MUST** be identical or I will reject the staging releases for both iOS and Android.

[2022-02-24 17:05] lukeoftheshire opened #531 "LAMP-ide does not (by default) use the most up-to-date version of LAMP-core"
The LAMP-ide, on a fresh 'install' comes with an outdated version of LAMP-core

To reproduce this, I:
1. Spun up a container with the LAMP IDE, then ran `pip show lamp-core`
[code]

As shown, the version is 2021.5.20. However, the latest version is in fact `2021.10.4`. While this can be easily resolved with `sudo pip install lamp-core -U` this is inconvenient to do each time the instance restarts.

[2022-02-24 17:05] avaidyam opened #532 "Reintegrate WearOS codebase into main branch of LAMP-core-android"
_(See discussion from issue #476.)_

[2022-02-24 17:06] avaidyam commented on #476
@saranya-sajeev The WearOS codebase should **NOT** be separate. It is a module within the same Gradle project as the mobile app. It will have a separate folder under the `LAMP-core-android` repository, yes, just like how the Apple Watch app has its own folder in the `LAMP-core-ios` repository. The new issue is #532 - let's move discussion there.

[2022-02-24 17:08] #531 closed

[2022-02-24 17:14] avaidyam commented on #417
@sarithapillai8 That's correct, the date fields should **always** be in UTC. Even the time field should be **RECORDED** as UTC, but converted to patient timezone by the push notifications scheduler and the frontend. Is the backend converting the timezone for this field or is the frontend? If it's the frontend, this is a simple fix - just turn off the timezone conversion for the date field.

[2022-02-25 05:17] sarithapillai8 commented on #417
@avaidyam
Time field is recorded in UTC format, but not converted to UTC. Date field is converted and saved in UTC format. These are happening in front end. So can I change it like without converting to UTC, save date field in UTC format?

[2022-02-25 05:35] Linoy339 commented on #527
@avaidyam . `CACHE_SIZE` is implemented in the way which was proposed here:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/489#issuecomment-1035165981](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/489#issuecomment-1035165981).
Here, we implemented in a way that a **fixed number of data from cache gets flushed to db  instead of entire cached data.**
and this fixed

[2022-02-25 07:49] jijopulikkottil commented on #530
Yes, data is identical on both platform.

Ok, So if `lamp.screen_state` is configured, app should post the data under `lamp.screen_state`. And if `lamp.device_state` is configured, app should post the same data under the `lamp.device_state` identifier. If Both identifiers are configured, we should post same data under both identifier. @avaidyam  please confirm

[2022-02-25 07:58] jijopulikkottil commented on #508
@avaidyam
In iOS, it is:
[code]

In Android, it is:
[code]

As android doesn't have 'trace' and If we are not using it, we can remove it from the iOS to make the data identical.

[2022-02-25 08:18] jijopulikkottil commented on #526
Yes, we are taking care of this.

[2022-02-25 12:00] sarithapillai8 commented on #512
@avaidyam
In the conversations page, while sending and viewing messages, new messages are getting through the API in frequent intervals. So if we remove it in while in that page, the user won't be able to view new messages if any are sent at that time.

[2022-02-25 16:16] lukeoftheshire opened #533 "Survey "Save" button obscures "Add new item""
When editing surveys in a narrow window, the "Save" Buttton can overlap the "Add new item" button. This is not an unavoidable issue as the window can be widened again and even in very narrow windows or mobile devices the "Add new item" button can still be clicked - but this would be an inconvenience when editing a survey, particularly on a mobile device as even in landscape mode the buttons overla

[2022-02-25 16:39] lukeoftheshire commented on #507
I'm going to close this as it seems like we have found the root cause of this issue. We can of course re-open it if need be.

[2022-02-25 16:39] #507 closed

[2022-02-25 16:47] lukeoftheshire commented on #506
Looking on dashboard staging, the URL now correctly redirects to dashboard.lamp.digital/.

However, it seems that the credential issue might not have been fixed - I can still see the logout event being rejected with a 403 error.

[2022-02-25 17:00] lukeoftheshire opened #534 "Adjust the number of ActivityEvents visible on the Prevent/Portal page."
If a participant completes a single activity more than 1000 times, the portal page will not display events past 1000. This Mood survey with 1005 completions, for example, displays only 1000:
<img width="453" alt="Screen Shot 2022-02-25 at 11 19 35 AM" src="https://user-images.githubusercontent.com/34659264/155754844-4d516ed7-52d0-40e6-8143-7b9a27422cc2.png">

This is probably not a pressing issue

[2022-02-26 02:30] sarithapillai8 commented on #506
@lukeoftheshire
Ok let me try to reproduce, I could see correct events from my side.

[2022-02-28 01:04] er42 commented on #523
@avaidyam, unfortunately this issue doesn't appear to be resolved, at least for us. We've been having the same type of notification problems described by @jeydude and others. I've updated our server code using the updated yaml code described above, but we are still getting notifications arriving in UTC rather than local time, regardless of whether we specify `America/New_York` or another timezone

[2022-02-28 04:07] ZCOEngineer commented on #508
Development for this in Android is complete, QA to start today.

[2022-02-28 04:22] ZCOEngineer commented on #525
@avaidyam we can close this?

[2022-02-28 05:19] jijopulikkottil commented on #486
@tlakhtak  Hope the screenshot is from iOS device.
There were some issue with height constraint, and it is fixed now. The latest iOS build is available on test flight version [2022.1.13 (307)](https://testflight.apple.com/join/TSpdLc6U)

We still have some related pending issues discussing here https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/301#issuecomment-1049010014

[2022-02-28 05:45] divyav2020 commented on #486
This issue has been fixed in the latest iOS build is available on test flight version [2022.1.13 (307)](https://testflight.apple.com/join/TSpdLc6U)

[2022-02-28 06:35] sarithapillai8 commented on #533
@lukeoftheshire
This is already fixed as part of #442

[2022-02-28 09:22] saranya-sajeev commented on #532
@avaidyam ok.

[2022-02-28 10:56] saranya-sajeev commented on #503
@avaidyam Google fit not providing following types
 floorsAscended and  floorsDescended ,
currentPace and averageActivePace,

[2022-02-28 14:06] michaelmenon commented on #532
Saranya is going to working on this from tomorrow after the Telephony updates are done.

[2022-02-28 14:21] jeydude commented on #523
I tried deploying LAMP-Worker image, getting

[code]

Error in Connecting to nats sub server

redis connection error Error: connect ECONNREFUSED 10.0.19.5:6379

    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1146:16) {

  errno: -111,

  code: 'ECONNREFUSED',

  syscall: 'connect',

  address: '10.0.19.5',


  port: 6379

}

[2022-02-28 14:36] avaidyam commented on #523
@jeydude Your Redis service might have a different name (`REDIS_HOST: 'redis://message_queue:6379/0'`). You should change it to `cache` instead of `message_queue`, and instead of `nats` in `NATS_SERVER: 'nats:4222'`, you should use `message_queue`. I had the variables mixed up when I shared my earlier YAML, sorry!

[2022-02-28 14:45] avaidyam commented on #523
@er42 This is correct, as identified in #417, the time and date fields are encoded differently (the date field is converted to UTC using the **clinician timezone**) by the dashboard. That will be rectified.

@er42 We're pushing the `2022.2.28` iOS build to app store review today. We expect it to be available later this week or early next week, depending on Apple's review timeline. //cc @jijopulikk

[2022-02-28 14:47] jeydude commented on #523
@avaidyam Thanks for the corrections.

here is my corrected yaml for worker
[code]

Now worker component is able to connect to is able to nat sub server, but having another issue

[code]

[2022-02-28 14:49] Linoy339 commented on #527
@jeydude . Can you share the `LAMP-server` logs again to check the redis store size now ?

[2022-02-28 14:50] avaidyam commented on #523
@jeydude It looks like `UNABLE_TO_VERIFY_LEAF_SIGNATURE` is a TLS (HTTPS) verification failure. If [you add the `NODE_TLS_REJECT_UNAUTHORIZED=0` variable mapping to the `environment` section of the `worker` service](https://stackoverflow.com/a/20100521), does it work?

[2022-02-28 14:57] jeydude commented on #523
Thanks @avaidyam after adding ```NODE_TLS_REJECT_UNAUTHORIZED: 0``` at the end of the worker environment, worker component started fine.

I will test the push notification and let you know.

one question:
In the worker stack yaml
I have
[code]

is this correct or should it be
[code]

[2022-02-28 15:00] avaidyam commented on #527
@Linoy339 Let's remove this. If `CACHE_SIZE=0`, it should disable caching at all (which is understandably bad for the database, but may be required for some IT teams). Smaller values of `CACHE_SIZE` should also be appropriate and allowed.

Then this needs to be a new environment variable. `CACHE_SIZE` refers to the maximum number of events the cache should hold before **the entire cache is flushed

[2022-02-28 15:01] jeydude commented on #523
oh OK, Thanks!

[2022-02-28 15:05] avaidyam commented on #512
1. That page is **the only page** where this loop should be running after the home screen is loaded the first time. If i'm not on the `conversations` page, it should not be checking.
2. We should be using the SSE event listener part of the API for this anyway, but let's not change that for now.

[2022-02-28 15:06] #533 closed

[2022-02-28 15:10] avaidyam commented on #534
I think this is the most useful approach. We want to steer clear of "number of events" and see data temporally (which is also how the API is designed). For the small heads-up tile, this is likely fine, and users can expand it to see the whole graph with all the data if they want.

I believe this should be possible with Vega or Vega-Lite (which is what we use for all charts).

[2022-02-28 15:20] avaidyam commented on #508
For Android, please include the `trace` parameter but it should always be set to `null`.

[2022-02-28 15:22] #525 closed

[2022-02-28 15:22] #486 closed

[2022-02-28 15:45] Linoy339 commented on #527
Thanks @avaidyam for the explanation.

Some clarifications :
-  Can we   take `CACHE_SIZE` as 30000 or 0 if its not defined ? Now, If we consider it as 0, caching will be disabled and if we consider it as 30000, it means that the redis cache can hold 30000 events.
-  Can we take  `CACHE_FLUSH_ALL` as false if its not defined ?

[2022-02-28 15:47] avaidyam commented on #527
Yes, the default values for `CACHE_SIZE` should be `0` (disabled), and `CACHE_FLUSH_ALL` should be `false`.

[2022-02-28 15:56] Linoy339 commented on #527
Okay. This means that our environment will be implemented with these 2 variables. Right?
If so, can you keep the variables `CACHE_SIZE ` and `CACHE_FLUSH_ALL ` in env for staging as well as production and fill it as
`CACHE_SIZE ` = 30000
`CACHE_FLUSH_ALL ` = false

[2022-02-28 16:35] avaidyam commented on #527
Yes. //cc @lukeoftheshire Can you update `LAMP-worker` in our staging and production stacks to add `CACHE_SIZE=30000` and `CACHE_FLUSH_ALL=true`? Thanks!

@jeydude You may want to bump up `CACHE_SIZE` to something like `1000` or higher to avoid this.

[2022-02-28 16:41] lukeoftheshire commented on #527
Hi @avaidyam @Linoy339

I can absolutely update those. To be clear, I will set `CACHE_SIZE` as `30000` (i.e. as an int, not a string).

@avaidyam, can you confirm whether `CACHE_FLUSH_ALL`  should be set as `true` or `false` - I see it both ways in the discussion here.

[2022-02-28 16:42] avaidyam commented on #527
@lukeoftheshire `CACHE_FLUSH_ALL=true`! 👍

[2022-02-28 16:44] lukeoftheshire commented on #527
Set!

[2022-02-28 16:58] Linoy339 commented on #527
@avaidyam ,@lukeoftheshire . It should be kept in LAMP-server environment.

[2022-02-28 18:16] avaidyam commented on #527
That's right, my apologies - @lukeoftheshire can you move these variables to `server`? Sorry and thanks!

[2022-02-28 18:33] lukeoftheshire commented on #527
Yes - I switched the env variables to be on server (and removed them from worker)

[2022-02-28 20:21] toujames commented on #467
Hello,

Continue from the discourse [post](https://mindlamp.discourse.group/t/creating-own-activityspec/550/3).

Here's contencts of  the activity_spec document in my database:
[code]

In dashboard, I do not see as a possible activity. Only the demo activities. Attached is the screenshot.
![Screen Shot 2022-02-28 at 2 19 11 PM](https://user-images.githubusercontent.com/7041040/156052878-e10f4efe-1

[2022-02-28 20:48] toujames commented on #467
I've also tried using `ghcr.io/bidmcdigitalpsychiatry/lamp-server:latest`. Still no task being populated.

I'm also attaching the developer console log I noted. For the test activity_spec, *executable* is not showing.
Although I'm not sure if it's's supposed to.

![Screen Shot 2022-02-28 at 2 46 39 PM](https://user-images.githubusercontent.com/7041040/156056258-217257a1-8fb4-4f6c-b30e-bdae0b58036d

[2022-02-28 21:02] avaidyam commented on #467
@toujames The `executable` field won't show up in `list()` function to minimize excessive data transfer. But it should be showing up in the dashboard. @sarithapillai8 Do you know why it wouldn't?

[2022-03-01 02:03] er42 commented on #523
Hi @avaidyam, thanks for the clarification on these issues. We will eagerly await the updated iOS app with the bug fix.

In the meantime, do you or @jijopulikkottil happen to know if this bug is also affecting Android users? I haven't had a chance to test  this on an android phone yet.

If you could point me toward the roadmap on the discourse page, that would be great to be able to anticipate fut

[2022-03-01 05:00] sarithapillai8 commented on #467
@avaidyam We are limiting the activity spec to control the activities on patient side with the implemented ones. We were updating the list with implementing each activity. Do you want to allow all the activity spec on the list to create activities?

[2022-03-01 07:04] jijopulikkottil commented on #523
@er42 Yes, it is also affecting existing Android App version 2021.2.17.

[2022-03-01 12:19] Linoy339 commented on #527
@avaidyam . We have implemented the above mentioned :
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/184]( https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/184)
Its working fine. We will let you know the status my tomorrow

[2022-03-01 14:11] avaidyam commented on #467
@sarithapillai8 I think we need to remove this artificial limit. The list of `ActivitySpec` objects **MUST** come from the server **ONLY**.

I realize right now we've hardcoded the JSONSchema for configuration. Even this must be part of the ActivitySpec; only when `lamp.survey` doesn't have a provided `settings` field should we use the internal fallback schema that is part of the `LAMP-dashboard`

[2022-03-01 15:18] sarithapillai8 commented on #467
@avaidyam
We are using ActivitySpec, but limiting the list. https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/84872f53758b3c5176b6d9e5af317de209648f89/src/components/Researcher/ActivityList/AddActivity.tsx#L133
So can you confirm to remove this condition and use the entire list coming from the server?
Can we just show the popup saying 'Unimplemented', if no executable value found for t

[2022-03-01 15:23] avaidyam commented on #467
Yes, use the list from the server, and filter each spec:
1. If `spec` has no `executable` field **OR** `settings` field:
    1. If `spec` belongs to `internal fallback list`:
        1. Substitute missing `executable` field using `fallback url`.
        2. Substitute missing `settings` field using `fallback settings`.
    1. Otherwise:
        1. Disable the `spec` (hide it from menus/show an erro

[2022-03-01 15:31] sarithapillai8 commented on #467
@avaidyam

How can we ensure the executable value added by the client will work as expected? Currently we are loading the activities that are developed by our team. So we have control over that.

Error handling is already there. But I told about specifically handling such exceptions with some popup if the client is using an executable value for a new activity spec which is out of our control.

[2022-03-01 15:37] avaidyam commented on #467
We won't develop or support any third-party ActivitySpecs - that's for the third party developer to diagnose and fix. We just need to maintain the `JSONSchema/IFrame/PostMessage` protocol we use to embed activities and support only that.

That's completely fine, we should ignore those situations for now until better embedded activity error handling is required in the future.

[2022-03-01 20:09] lukeoftheshire commented on #513
- Add the ability to choose a range of time over which to download ActivityEvents
- Implement recursive fetching of data from the DB to avoid the edge case where a participant w/ more than 1000 activities would not have (all) their data downloaded (the first feature solves this problem as well, but this is more elegant)

[2022-03-02 14:23] sarithapillai8 commented on #467
@avaidyam

If spec belongs to internal fallback list:
Substitute missing executable field using fallback url.
Substitute missing settings field using fallback settings.

Sorry that I missed something here. ActivitySpec settings have no role in loading activity actually. If there are no settings, the activity created with name, group, streak details and tab(category). Why should we consider setting

[2022-03-02 15:06] avaidyam commented on #467
The `settings` field can be `null`/empty (`{}`). It is just that we need to check that if we "own" the activity, such as `lamp.activity`, and the `settings` is null/empty, check to see if we have a hard-coded version of the settings (i.e. what we do right now).

Not right now - I just wanted to confirm this. //cc @lukeoftheshire Can you make a new GitHub issue about documenting the Tag that has th

[2022-03-02 15:22] sarithapillai8 commented on #467
This is not clear to me. Can you confirm on this :

While filtering activity spec list(for creating an activity), we just need to filter the activity spec with executable and fallback URL. Settings are part of activity object, not on activity spec, right? Below is the activity spec object for _lamp.survey_:

[code]

And for listing activity on patient side, the activities are to be filtered with s

[2022-03-02 15:25] avaidyam commented on #467
I'm referring to `settings_schema` which needs to be renamed to `settings`. (`script_contents` was renamed to `executable`, `help_contents` to `description`, and all the `_schema` suffixes are dropped.)

In this case, the dashboard sees `settings_schema == null` and it will check `fallbackSettings["lamp.survey"] = { ... the JSON Schema object }` and use that instead.

[2022-03-02 15:56] tlakhtak opened #535 "Pop the Bubbles sensitivity issues"
Users have reported, and we've observed as well, that Pop the Bubbles does not have that high of sensitivity to taps - such that correctly tapped bubbles do not pop because the tap does not register.

[2022-03-02 15:57] lukeoftheshire opened #536 "Document differences between Simple and Advanced mode"
Recently, the option to toggle between Simple and Advanced mode was added to the LAMP dashboard. However, this feature is not well documented yet. Since all users start LAMP in Simple mode by default (and the change is not clear, being only a toggle in the upper right corner of the dashboard), some users have complained of missing functionality if they were using features unique to Advanced Mode.

[2022-03-02 16:23] avaidyam opened #537 "ETag-based caching for URL-providing ActivitySpecs"
### Proposal

1. If an `ActivitySpec.executable` is a URL (`startsWith("https:") == true`), the dashboard should download the script and cache it in the local IndexedDB.
2. Each time a matching activity is loaded, the `ActivitySpec.executable` is checked again (since the URL can be updated or replaced with a `data:` base64-encoded file), and if it is still the same URL, a `HEAD` request is made to

[2022-03-02 16:30] avaidyam opened #538 "Bundler tooling for ActivitySpecs"
Currently, we use `inline-source-cli` to bundle React projects into single HTML files (though there is an additional `gulpfile` pass required in some cases). This isn't completely robust and may miss a number of cases (such as URL-linked fonts or stylesheets). Instead we should consider developing an in-house fork/alternative[^1][^2][^3][^4] that integrates with #259 to simplify development and bu

[2022-03-02 21:19] tlakhtak opened #539 "LAMP Notification schedule wrong"
As of March 2, 2022 I am seeing the error for User U2736691852 where notifications are set for Evening activity group at 7pm and Cognitive Games at 8pm and yet show up respectively at 3pm and 4pm.

![IMG_2621](https://user-images.githubusercontent.com/82968538/156451020-18d92bd2-1ea0-4e86-934f-9eb6f7d71588.PNG)
![IMG_2622](https://user-images.githubusercontent.com/82968538/156451255-b48b5946-879b-

[2022-03-02 21:21] tlakhtak opened #540 "LAMP Page headers in lowercase"
Noticed today March 2, 2022 that all 5 LAMP dashboard pages (Feed page, Learn page, etc.) are displaying their headers in lowercase instead of first letter capitalized, as they used to.
![IMG_2622](https://user-images.githubusercontent.com/82968538/156451679-760c8c12-7b97-4f60-988e-89e7d6d7a2e7.PNG)

[2022-03-02 21:25] avaidyam commented on #540
Duplicate of #529.

[2022-03-02 21:36] tlakhtak commented on #539
My app says it updated to 2022.2.28 but the version number within the app still 2022.2.22
![969D235E-66D3-407B-B080-C377C64DF093](https://user-images.githubusercontent.com/82968538/156453609-704a07a3-41ae-4703-b552-413709cfebfb.jpeg)
![DA642447-BBDD-49E1-9539-DC1F3C02430F](https://user-images.githubusercontent.com/82968538/156453615-d6c5c9d2-3897-4509-827a-1abbe0b39c26.png)

[2022-03-02 21:41] avaidyam commented on #539
That's correct. The version number in the app store is for the iOS app (which handles push notifications, sensor collection, etc.). The version number on the login screen is for the dashboard (which is the user interface that runs inside the iOS app or a web browser).

[2022-03-03 03:52] Linoy339 commented on #527
@avaidyam . This is tested and working fine

[2022-03-03 05:12] sarithapillai8 commented on #467
@avaidyam

The above data provided for lamp.survey is from api-staging server. In the production, we are getting the below data :

[code]
There is no settings_schema or executable fields. And another spec is like below :
[code]
I could not see the renaming done for the parameters. Could you confirm?

[2022-03-03 05:23] sarithapillai8 commented on #506
@lukeoftheshire
Could you please check ? The updates are ready in dashboard-staging.

[2022-03-03 05:44] sarithapillai8 commented on #512
- But you asked to fetch messages every minute - https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/512#issuecomment-1036193772. So is it like, fetch the messages on home screen(any tab, not inner page) and looping should only be done when inside conversations.

[2022-03-03 10:30] avaidyam commented on #527
I'll close the issue for now, but @jeydude please see if the staging version (`:latest`) works well for you now! Thanks.

[2022-03-03 10:30] #527 closed

[2022-03-03 10:32] avaidyam commented on #467
Yes, this is probably because 2-3 years ago, the specs were loaded in incorrectly for the staging server. That's fine - just ignore the incorrectly named fields and assume you will have properly named ones according to my prior comment. I or @lukeoftheshire will later go through and update the specs on both servers and advise other collaborators to do the same for their servers.

[2022-03-03 10:33] avaidyam commented on #506
I'll close this issue for now as it's implemented but @lukeoftheshire feel free to reopen if it's not implemented properly/completely.

[2022-03-03 10:33] #506 closed

[2022-03-03 12:41] sarithapillai8 commented on #467
@avaidyam I cannot use settings parameter name now, as this is not available in ActivitySpec object and it is showing error.  So can I use settingsSchema for now?

[2022-03-03 12:46] avaidyam commented on #467
No. Please update `LAMP-js` instead to add these parameters properly to the type definitions. I'll make the release once the PR is merged.

[2022-03-03 12:48] sarithapillai8 commented on #467
Ok Thanks @avaidyam

[2022-03-03 14:44] lukeoftheshire opened #541 "Make maximum sensor frequencies equal on both Android and iOS"
While going through the LAMP-core-android library for an unrelated reason, I noticed the [following block of code:](https://github.com/BIDMCDigitalPsychiatry/LAMP-core-android/blob/568814c14375b5d502c453007928d592a222f8bf/app/src/main/java/digital/lamp/mindlamp/repository/LampForegroundService.kt#L248)
[code]

This line in particular
[code]
seems to cap frequency of accelerometer collection to 1 H

[2022-03-03 15:00] sarithapillai8 commented on #467
@avaidyam I have merged the PRs.

[2022-03-03 15:31] lukeoftheshire opened #542 "Timestamps record END of activity, not START"
Timestamps for activity events seem to reflect the END of an event, not the beginning.

I did the following:

1. Open the dashboard using my test user (U0566162887)
2.  Start a survey (id:"e2wxcekbb0typzdtz0pb") at 9:20
3. Fill out the survey, wait until 9:25, then submit.

The timestamp recorded for the activity event was `1646317501445`. This timestamp corresponds to 9:25 (EST).

This is technic

[2022-03-03 18:55] avaidyam opened #543 "Embed translations within ActivitySpec and Activity objects."
Currently, all translations for all activities (using or creating) are hard-coded within `LAMP-dashboard`. This isn't extensible. Instead, we should consider i18n as part of the LAMP resources themselves. For example, `ActivitySpec`'s JSON Schema properties can have an `x-translation` object provided with a dict-dict mapping of languages to translation keys to strings. Additionally, translations f

[2022-03-03 19:29] akmeyer3 opened #544 "Redirecting Login-Forever Link"
**Is your feature request related to a problem? Please describe.**
Login-forever link redirects to mindLAMP on browser (Safari) instead of mindLAMP app

**Describe the solution you'd like**
Login-forever link directs to mindLAMP app rather than to mindLAMP on browser

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-03-03 20:16] lukeoftheshire commented on #542
I have spent some time looking into this. I cannot nail down the exact problem. For at least non-survey activities, I think EmbeddedActivity is not the issue - as far as I can tell [this block of code](https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/ea752df49318f42f4e2cdfd71371a17eb8808cda/src/components/EmbeddedActivity.tsx#L102) should faithfully report the timestamp data reported

[2022-03-04 05:31] saranya-sajeev commented on #541
@avaidyam We were sending the sensor data of 10 minutes and there was a hang issue in the Android app when we tried to set the frequency to 5 for the accelerometer. Currently, we are sending sensor data of 5 minutes.  So the issue may be fixed.  We will check and update you.

[2022-03-04 07:52] sarithapillai8 commented on #542
@avaidyam @lukeoftheshire
Timestamp field value is implemented like saving the timestamp of activity event creation. So it is not saving the start, but the end of activity. This is same for all the activities. No exception for survey. And I am sorry , but this is the first time I get to know that starting time of activity is expected for timestamp value. We implemented the event creation by referr

[2022-03-04 11:00] saranya-sajeev commented on #508
@avaidyam Qa testing is completed and pushed to beta.

[2022-03-04 11:12] jijopulikkottil commented on #503
@avaidyam floorsAscended, floorsDescended, currentPace and averageActivePace are entirely iOS thing. So do we need those types ?

[2022-03-04 11:54] saranya-sajeev commented on #532
@avaidyam do you need to keep wear os in a separate folder in the master branch or do you want it within the mindLamp source?

[2022-03-04 13:28] sarithapillai8 commented on #512
@avaidyam
There is an issue which actually cannot be solved with the current implementation.
Consider a situation like : While a user is in the conversation page, and admin sends a message; The user see the messages and after that he go back to any previous page. The message badge will still show the count of messages that are received while on the conversation page. This is because, we are calcul

[2022-03-04 13:37] jijopulikkottil commented on #503
By mistake I added 'speed', in iOS, speed is also unavailable from pedometer data.

In iOS,   when an event happens, the 'lamp.steps' sensor record from pedometer is like:

`{'sensor': 'lamp.steps', 'data': {'distance': 418.67355938861147, 'floors_descended': 0, 'event': 'pause', 'active_pace': 0.8199164624852057, 'floors_ascended': 4, 'value': 523, 'pace': 0, 'cadence': 0}, 'timestamp': 164430347

[2022-03-04 15:42] sarithapillai8 commented on #506
I have removed almost of these. I can check and remove if anything pending. Thanks.

[2022-03-04 15:52] jijopulikkottil commented on #530
@avaidyam So hope we don't need to take care of backward compatibility.

[2022-03-04 16:15] lukeoftheshire opened #548 "Can't exit Tip on Mobile device"
When I attempt to exit a Tip on my mobile device, the screen displays the loading icon (and sends the activityevent, as displayed in Portal/Prevent) but does not return me to the Tips page.

This does not happen on desktop.

https://user-images.githubusercontent.com/34659264/156799122-ac20561a-3ae9-4895-980f-02e80d2a9dda.mp4

[2022-03-04 16:28] avaidyam commented on #541
Where was this documented as an issue? Do I understand correctly that if I set `frequency = 5` (that is, `5 Hz sampling rate`), I'm instead going to be limited to `0.0033 Hz`?

[2022-03-04 16:30] avaidyam commented on #508
@saranya-sajeev Thanks - if the CI/CD pipeline is fixed for production release, we'll handle that today or Monday morning.

@jijopulikkottil Did you end up removing the `trace` parameter from iOS?

[2022-03-04 16:31] avaidyam commented on #532
@saranya-sajeev It should a separate module (i.e. folder, with its own `build.gradle`) but in the `master` branch. [Please follow the instructions provided by Google here if you're still unsure.](https://developer.android.com/training/wearables/get-started/creating)

[2022-03-04 16:37] avaidyam commented on #530
Nope - all the old data will still exist under `lamp.screen_state` and and new data will appear under `lamp.device_state`.

My team can prepare a migration script to rename the events on the database-side if needed or simply patch Cortex/API bindings to work with both `lamp.screen_state` and `lamp.device_state` going forward. //cc @lukeoftheshire @dcurrey88

[2022-03-04 16:42] avaidyam commented on #503
Let's keep them, but make sure they're converted to `snake_case` (i.e. `average_active_pace` instead of `averageActivePace`). My team will document that these specific sub-types of `lamp.steps` are iOS only for now (though Google Fit does seem to support some of them, just not via the API). //cc @lukeoftheshire @akmeyer3 @dcurrey88

Is it `0` because the original data source had `nil` values? If s

[2022-03-04 16:47] avaidyam commented on #506
🎉 ✅

**All timestamps anywhere across anything within the LAMP Platform should ALWAYS denote the start of the user interaction,** not start of submission (which is kind of useless to collect as data?). Let's track this in #542 though.

Agreed. @sarithapillai8, thanks for going through to remove any remaining logs!

[2022-03-04 17:01] avaidyam commented on #542
@sarithapillai8 Do you have a list of remaining hard-coded items like this in the codebase? We _REALLY_ need to move away from this kind of logic ASAP.

I think this is the main concern, for me. For most things like individual surveys, the timestamp delay will be a few minutes (far less, but sometimes more) which is negligible, since we really want to know what hour or time of day the survey was t

[2022-03-04 17:26] jijopulikkottil commented on #541
Currently the maximum frequency set in Android is 1. So if we set `frequency = 5,` it will be limited to` 1`.

Earlier there was an issue when collect with frequency 5, it was the issue  when syncing sensor date to server (I think so). the reason was, in every sync interval, the app was trying to sync last 10 minutes sensor data (all sensor data in last 10 mins) in a single url request.

In curren

[2022-03-04 18:08] jijopulikkottil commented on #508
@avaidyam Yes, removed `trace`, but not pushed.

[2022-03-04 18:12] akmeyer3 commented on #536
I think the default should probably be Advanced Mode rather than Simple Mode. I think Advanced Mode is more user friendly and intuitive given it has all the functionality we typically cover when introducing new researchers to LAMP. Then, Simple Mode can be the secondary option

[2022-03-04 21:28] akmeyer3 opened #550 "White Screen and App Access Only Through Push Notifications"
**Describe the bug**
A user is repeatedly experiencing issues with being presented a white screen when she opens the app. The only way she can access the app properly is when she receives push notifications and those are tapped.

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Look for white screen

**Expected behavior**
Open app and face no white screen; interface functions prope

[2022-03-04 23:01] jeydude commented on #527
@avaidyam, Thanks for the update.

I have added ```CACHE_FLUSH_ALL: "true"`` to LAMP server stack environment with ```latest``` image. I will test it during the weekend and let you know the status soon.

[2022-03-05 04:29] divyav2020 commented on #510
[LAMP_Admin Website_Unnecessary sensor event.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189953/LAMP_Admin.Website_Unnecessary.sensor.event.xls)

[2022-03-05 04:30] divyav2020 commented on #520
[LAMP_Admin Website_Tip Activity Changes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189954/LAMP_Admin.Website_Tip.Activity.Changes.xls)

[2022-03-05 04:30] divyav2020 commented on #529
[LAMP_Admin Website_User details Page titles.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189958/LAMP_Admin.Website_User.details.Page.titles.xls)

[2022-03-05 04:31] divyav2020 commented on #442
[LAMP_Admin Website_Survey Matrix New changes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189960/LAMP_Admin.Website_Survey.Matrix.New.changes.xls)

[2022-03-05 04:31] divyav2020 commented on #521
[LAMP_Admin Website_Tip Files delete.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189962/LAMP_Admin.Website_Tip.Files.delete.xls)

[2022-03-05 04:32] divyav2020 commented on #512
[LAMP_Admin Website_Fetching messages loop.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189963/LAMP_Admin.Website_Fetching.messages.loop.xls)

[2022-03-05 04:33] divyav2020 commented on #417
[LAMP_Admin Website_Time Zone changes.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8189964/LAMP_Admin.Website_Time.Zone.changes.xls)

[2022-03-05 20:25] lukeoftheshire commented on #548
As an update this does NOT happen if I use the back button in the navbar at the bottom of my phone - but I don't get the streak notification either so I suspect no ActivityEvent is being fired

[2022-03-05 20:38] lukeoftheshire opened #551 "Blue bubble fixes in Pop the Bubbles"
In Pop the Bubbles level 2 (at least), blue bubbles ONLY appear in the dead center of the screen, even though other color bubbles can appear in different spaces.

This is very immediately noticeable and would probably decrease the effectiveness of the test.

https://user-images.githubusercontent.com/34659264/156899189-dcdb2dae-82c2-4bb5-84fe-5c609d37ac06.mp4

[2022-03-07 04:59] jijopulikkottil commented on #323
@avaidyam  On app side, do we need to open the activity page in the same web view of lamp dashboard to avoid 'login' page appearance ?

[2022-03-07 05:39] sarithapillai8 commented on #542
@avaidyam

We have the condition there to keep the code for the option to edit survey from portal screen to manage prefillTimestamp and prefillData.  Could you please let me know if I can remove that? otherwise I can check if that can be removed and do some alternative for that.

Ok. I can update this every activities implemented.

[2022-03-07 05:50] sarithapillai8 commented on #548
@lukeoftheshire

The activity event can be saved on the activity back button.

We are trying to reproduce this issue. Is this coming with notification?

[2022-03-07 05:56] ZCOEngineer commented on #532
Ok Aditya, @saranya-sajeev  will comment on this one the workflow is corrected.

[2022-03-07 05:58] ZCOEngineer commented on #476
@avaidyam since the remaining items in this issue have new tasks, shall we close this item?

[2022-03-07 06:08] ZCOEngineer commented on #541
@avaidyam, @saranya-sajeev will confirm this after fixing the android build workflow

[2022-03-07 06:09] jijopulikkottil commented on #530
iOS part is completed, we can provide to QA once android is done.

[2022-03-07 06:58] divyav2020 commented on #548
@lukeoftheshire
We have checked in Both iOS and Android devices (from Normal screen and Notification). But we are unable to reproduce this issue

[2022-03-07 08:37] saranya-sajeev commented on #532
@avaidyam I will integrate wear os code in master right after you create the release. Otherwise, there may be issues with code references.

[2022-03-07 09:16] jijopulikkottil commented on #503
The `type`  values available are:

Below are common for iOS and Android:

[code]

Below are only available in iOS:
[code]

Below are only available in Android:
`speed`

Below are the iOS sample data:
[code]

Below are the Android sample data:
[code]

Note - `source` will be available when fetch data from Health Kit and sometimes available from GoogleFit.

[2022-03-07 12:09] saranya-sajeev commented on #530
@avaidyam Android part also completed. Given for QA testing.

[2022-03-07 13:57] divyav2020 commented on #548
Updated in staging
[LAMP_Admin Website_Tip Issue.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8198172/LAMP_Admin.Website_Tip.Issue.xls)

[2022-03-07 14:47] divyav2020 commented on #493
We are unable to reproduce this issue. So request you to provide us with the user credentials that produce the issue when you tested.

[2022-03-07 15:25] jijopulikkottil commented on #323
on tapping push notification, if we open the activity page in the same web view, we need to make sure few more things:
1. on front end, in the succeeding screens of activity, there should be a back button (`<-`) to return to loaded dashboard.
2. on app side, need to test what will happen when tapping on second activity when first one is loaded!

[2022-03-07 15:44] saranya-sajeev commented on #323
@avaidyam In Android , opening the activity page in the same webview of Lamp dashboard avoids login page as in iOS. In Android also we have to check [above items](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/323#issuecomment-1060808208).

[2022-03-07 21:43] avaidyam commented on #323
@jijopulikkottil @saranya-sajeev Is it possible to re-use the WKWebView, even if we're loading the activity from a notification instead of inside the app? If so, that should be fine. If you do test this, please share a screen recording here so we can see what it looks like.

[2022-03-07 21:43] #548 closed

[2022-03-07 21:44] #510 closed

[2022-03-07 21:44] #520 closed

[2022-03-07 21:44] #529 closed

[2022-03-07 21:44] #512 closed

[2022-03-07 21:45] #476 closed

[2022-03-07 21:54] avaidyam commented on #503
@jijopulikkottil Is there any benefit to the `unit` field here on iOS? What other possible values are there? It needs to be present for **every** event.

[code]

And for Android, @saranya-sajeev, where are these values coming from?

[code]

Otherwise, looks good.

[2022-03-07 21:55] avaidyam commented on #542
@sarithapillai8 Please remove that.

Can you share a screenshot and the code link? I'm not sure what this is.

[2022-03-08 05:01] jijopulikkottil commented on #503
@avaidyam
In iOS, we are getting `unit` field when fetch data from HealthKit.
Once we had removed `unit` field from all sensor data and reinstated again.

In Android `unit` field value is hardcoded for GoogleFit sensor data.

Let us know if we need to keep `unit` field.

[2022-03-08 05:25] sarithapillai8 commented on #542
@avaidyam Please see the attachment for the details :
https://user-images.githubusercontent.com/63710347/157171787-6329924f-eaab-4d70-aa63-5db0477380e4.mp4

https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/master/src/components/NotificationPage.tsx#L248

[2022-03-08 11:32] divyav2020 commented on #550
We are yet to get the issue.  We have tried in Staging build, latest TestFlight build and current Appstore build in iPhone XR. We shall keep trying to reproduce this issue.

[2022-03-08 11:40] sarithapillai8 commented on #550
@avaidyam
 With the same device, we are not experiencing the issue. Could you let us know the app version and any other details to reproduce this issue?

[2022-03-08 11:41] avaidyam commented on #550
You should be able to use the `lamp.analytics` events to retrieve that info.

[2022-03-08 11:59] sarithapillai8 commented on #550
Can we get the credentials to reproduce? The app version is the latest one.

[2022-03-08 13:20] akmeyer3 commented on #550
Hello,

Credentials are below.

email: ***@***.***
password: jta201

Please let me know if I can provide any additional information!

Thank you,

Ashley

Ashley Meyer
Clinical Research Assistant II
digitalpsych.org @Beth Israel Deaconess Medical Center
***@***.***
________________________________
From: sarithapillai8 ***@***.***>
Sent: Tuesday, March 8, 2022 6:59 AM
To: BIDMCDigitalPsychiatry/LAMP

[2022-03-08 13:30] sarithapillai8 commented on #550
@akmeyer3
Could you please provide the server address and user email also to check?

[2022-03-08 13:33] avaidyam commented on #550
@sarithapillai8 @divyav2020 @michaelmenon We are not able to provide any credentials for patient accounts, nor should patient accounts ever be accessed on the production server for diagnostic or development purposes.

@akmeyer3 Can you share a screen recording if possible?
@dcurrey88 Can you retrieve and share censored/redacted `lamp.analytics` logs here for this patient's ID?

[2022-03-08 13:37] sarithapillai8 commented on #550
@avaidyam I understand. We requested the credentials in order to reproduce the issue as we are not getting issue with our users on the same device.  If we can reproduce with any other test accounts or get some logs we can try to get the actual issue.

[2022-03-08 13:38] avaidyam commented on #542
@sarithapillai8 Why is this dialog even present in the `LAMP-dashboard` code? Please remove it.

[2022-03-08 13:40] avaidyam commented on #503
@jijopulikkottil We need to keep the `unit` field consistent for all `lamp.steps` events, even if its value is `null`.

[2022-03-08 13:42] avaidyam commented on #550
@sarithapillai8 Thanks for your understanding, I appreciate it! If you're not able to reproduce it on your end, it's fine to mark this issue with the `cannot reproduce` label and request screen recordings/screenshots/more information. I believe @akmeyer3 has already tried to reproduce this issue with a test account to no avail.

[2022-03-08 13:43] #540 closed

[2022-03-08 13:44] #539 closed

[2022-03-08 13:49] sarithapillai8 commented on #550
@avaidyam A similar issue was reported before, that is why we are trying to figure it out. That is why we didn't mark the issue with the label without going through the details.

[2022-03-08 14:02] sarithapillai8 commented on #542
@avaidyam It was asked to keep this dialog along with streak popup while implementing voice recording.  We can remove it.

[2022-03-08 14:16] avaidyam commented on #542
@sarithapillai8 It should be part of the `lamp.recording` code in `LAMP-activities` then, not `LAMP-dashboard`. But please remove it, the streaks feature being customizable can now achieve the same thing.

[2022-03-08 14:32] saranya-sajeev commented on #532
@avaidyam WearOs code integrated to master branch.

[2022-03-08 14:36] avaidyam commented on #532
So if I make a new release for Android, it will also appear available for WearOS?

[2022-03-08 14:44] #493 closed

[2022-03-09 06:14] sarithapillai8 commented on #542
@avaidyam There is one more hard-coded code for lamp.survey which is actually using for managing with tag.
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/master/src/components/Researcher/ActivityList/ActivityMethods.ts#L886
Could you please let me know if we need to work on changing this?

[2022-03-09 07:50] sarithapillai8 commented on #442
@avaidyam
Sorry for the late clarification. If the first question is a slider type question, and following are matrix questions, currently it is showing with radio options like attached.
![2CBCB0E5-B65C-49E5-B348-B1742A091DA3](https://user-images.githubusercontent.com/63710347/157396345-61c93e0f-cc56-4ea8-acca-c584b753607f.jpg)

Do you actually want to show the slider component in matrix format in

[2022-03-09 10:43] jijopulikkottil commented on #503
@avaidyam ok, we can keep `unit` field for all `lamp.steps` events.
FYI - The type `cadence` have different unit in iOS and Android. In iOS it is `steps per second`, but for android it is `steps per minute`

[2022-03-09 10:55] saranya-sajeev commented on #532
@avaidyam yes it should work, but yesterday it is not worked. May be any issues with wear os workflow. We will check and update you.

[2022-03-09 11:16] jijopulikkottil commented on #323
@avaidyam  please see the screen recording [here](https://www.fromsmash.com/mdr6vExmeG-dt)
At 00:35, The new activity page is not loading when user is interacting another activity. Android also have the same issue. We need to investigate this.
At the end of the video, the 'Success' screen doesn't have the back button to load the dashboard. This have to fix on front-end.

[2022-03-09 11:34] saranya-sajeev commented on #323
@avaidyam please find the Android screen recording attached. In Android, using the device back button we can move to the dashboard.  https://user-images.githubusercontent.com/81216000/157433559-c7bacb6a-02f7-4d4f-9f2c-4f55fa535642.mp4

[2022-03-09 15:18] sarithapillai8 commented on #467
@avaidyam QA is completed for this update along with #542 changes in our zco staging. Could you please confirm, whether we can update this in dashboard-staging for a final round testing tomorrow morning? Or do we need to hold it for production release?

[2022-03-10 14:38] lukeoftheshire opened #555 "TimePicker format default bug"
Around a month ago the way the TimePicker survey question determines its format (military vs. am/pm) was changed - see this commit: https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/commit/b9058f567b17e58637b70ba21e1bd41de68a14f5 (example: line 494/495)

As far as I can tell, previously the format was determined by looking at the first element of an *array* of options. This is, in my opini

[2022-03-11 13:56] avaidyam commented on #555
@sarithapillai8 Can you share the issue where it was decided to switch the array format to an object?

[2022-03-11 13:57] avaidyam commented on #467
Please do update this for staging. It needs to work in staging and in production separately. It needs to be tested in the following combinations:
1. Staging dashboard + staging server
2. Production dashboard + staging server
3. Staging dashboard + production server (please use both the latest production version AND an older `:2021` server)

[2022-03-11 13:59] avaidyam commented on #503
@jijopulikkottil @saranya-sajeev If the `source` field is not available, it **MUST** be set to `null` in the JSON output. If `cadence` has different units, we should convert it, specifically, @jijopulikkottil, please convert it to `steps per minute` on iOS (by multiplying `x 60`).

[2022-03-11 14:03] avaidyam commented on #442
Yes, it needs to show the actual `slider` or `rating` component instead of the `list` (radio button) component.

[2022-03-11 14:20] sarithapillai8 commented on #555
@avaidyam
The array format was not actually converted. This change is actually a bug fix. The actual change you can see
 here : https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/commit/c24867b0e797eb694225526816207fed07a15c4f#diff-e6b92b145055f197fefa6d487f1d6262f67e99611638bcd76506a6679c3882dcR627
It was actually done like this before, and bug noticed at the time matrix changes I believe.

[2022-03-11 14:47] avaidyam commented on #555
So is the `activity.settings[i].options` still an `Array` type? If so, that is correct and should stay that way, or it will break Activity/survey question parsers for downstream client libraries/scripts.

[2022-03-11 15:08] sarithapillai8 commented on #555
@avaidyam
activity.settings[i].options - this is still an array. But time pattern is implemented like object property. I am not sure what is the issue with old data. Let me check and confirm if anything changed on survey JSON schema implementation.

[2022-03-11 15:44] sarithapillai8 commented on #555
@avaidyam This happened while changing into survey JSON schema. https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/blob/3c0f81712e558120c5628965d08d610d50bbb273/src/components/Researcher/ActivityList/SurveyCreator.tsx#L358
Can we keep the current change and also manage the old format? because the current format looks seems better.

[2022-03-11 15:48] lukeoftheshire commented on #555
Hi @sarithapillai8 - thanks for taking a look at this so quickly. I apologize for any confusion I might have caused. If it helps, when we look at stored activities using the API, we do see two different types stored for options:

1. I made this a day ago using the dashboard (options as dict):
[code]
2. An older survey (at least 2-3 months old) (options as array):
<img width="490" alt="Screen Shot

[2022-03-11 17:23] sarithapillai8 commented on #555
@lukeoftheshire  I can make the fix that can manage old format.

[2022-03-11 17:26] avaidyam commented on #555
I think we need to revert entirely to the old format (array). We can't break data schema and legacy compatibility.

[2022-03-11 20:01] lukeoftheshire opened #557 "Docs Improvements"
In order to let our collaborators make the best use of LAMP and ease the transition in of new researcher, we should make some improvements to the LAMP documentation to make them easier to use. At least two items spring to mind, but more changes could be made:

- [ ] The [API ](https://docs.lamp.digital/api) documentation lacks examples for most functions, which makes it difficult for unfamiliar us

[2022-03-11 20:05] dcurrey88 commented on #557
I think creating "quick start" jupyter notebooks for both cortex and the API would be very useful for people to be able to play around and learn some of the basic functionalities.

[2022-03-11 20:07] avaidyam commented on #557
@lukeoftheshire Thanks for making this issue -- let's all use this as an ongoing tracker for the docs overhaul. I'll add stuff here as well.

---

In addition to overhauling the documentation we currently have, future GitHub issues (both `bug` and `feature` issues) will also be marked with a new label `needs-docs` and the existing `docs` category label, if they affect any documentation pages at al

[2022-03-14 04:50] sarithapillai8 commented on #555
@avaidyam This time parameter added in Oct 2021 using old UI. But when using the old format with RJSF JSON schema the UI will look like :
![image](https://user-images.githubusercontent.com/63710347/158106748-61e5ca84-ab28-41f3-aad3-077b59f89e15.png)
which will look like adding more options for time, which can add more confusion to the user. So can we do it like keeping current format and handle th

[2022-03-14 05:33] saranya-sajeev commented on #503
@avaidyam Android part is completed, we can provide to QA once iOS is done.

[2022-03-14 05:36] saranya-sajeev commented on #541
@avaidyam Seems app is working fine after changing the frequency to 5. Will update you after further testing.

[2022-03-14 11:52] avaidyam commented on #541
@saranya-sajeev @jijopulikkottil Please ensure that the `frequency` and `cellular_upload` flags for the `Sensor.settings` are correctly supported! I can mark this issue closed when QA testing has confirmed this.

[2022-03-14 12:55] saranya-sajeev commented on #541
@avaidyam frequency and cellular_upload flags are properly handled.

[2022-03-14 13:40] Linoy339 opened #558 "Request to decrease the Cache Size in staging"
@avaidyam . Can you please decrease the `CACHE_SIZE  to **50**  in the staging environment  for our testing purpose?

[2022-03-14 13:42] avaidyam commented on #558
Done. I'll close this issue but let's keep discussion around this testing here.

[2022-03-14 13:48] Linoy339 commented on #558
Thanks @avaidyam

[2022-03-14 15:34] jijopulikkottil commented on #503
Test case: in both iOS and Android, for all ` lamp.steps` event, there will be four fields[value, type, uni, source] in the `data` block.

[code]

[2022-03-14 17:30] jijopulikkottil opened #559 "Add back button on Activity-Success screen to go back."
![success copy](https://user-images.githubusercontent.com/63795052/158227280-79b32166-9020-4505-b19e-c76bf52fed45.png)
Reference: https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/323#issuecomment-1062815254

[2022-03-15 09:44] jijopulikkottil opened #560 "When tap on push notification, load activity page on the same web view of lamp dashboard."
The new activity page is not loading when user is interacting another activity. Android also have the same issue.

Ref: https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/323#issuecomment-1062815254

[2022-03-15 12:40] divyav2020 commented on #559
Updated in Dashboard Staging
[LAMP_Admin Website_Back button on activity success screen.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8253359/LAMP_Admin.Website_Back.button.on.activity.success.screen.xls)

[2022-03-15 15:56] avaidyam commented on #266
@lukeoftheshire I do agree that these features collectively enable a significant increase in study/analysis velocity, but we can't make this a priority issue at this time when we have issues like #541, #542, #550, etc.

Do you have a proposed implementation we can begin to target, so that at least when we do activate and begin work on this functionality everything is ironed out ahead of time?

[2022-03-15 19:12] lukeoftheshire commented on #266
Okay, I understand - I just want to make sure this does not go by the wayside as I think (as you say too) it would enable a big increase in velocity to have this; ease-of-use too, honestly, for both us and collaborators.

I think we can probably even start by rolling out scoring somewhat piecemeal. For example, the most common question we would need to score is multiple choice, which is pretty eas

[2022-03-15 19:15] #559 closed

[2022-03-15 20:01] avaidyam opened #561 "UI-side support for template variables in JSONata"
While it's possible to share JSONata (i.e. the LAMP Platform's transformation engine document language) scripts, it would be better to support template variables. In the code sample below, the syntax `${researcher_id}` is used to denote that the the UI provides a text field bound to the variable `researcher_id`, likely with a user-friendly title such as `Please enter your Researcher ID here:` or s

[2022-03-16 08:20] divyav2020 commented on #551
Updated in Staging
[LAMP_Admin Website_Blue bubble fixes in Pop the Bubbles.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8260117/LAMP_Admin.Website_Blue.bubble.fixes.in.Pop.the.Bubbles.xls)

[2022-03-16 08:22] divyav2020 commented on #535
We have updated in Staging
[LAMP_Admin Website_Pop the Bubbles sensitivity.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8260141/LAMP_Admin.Website_Pop.the.Bubbles.sensitivity.xls)

[2022-03-16 11:13] divyav2020 commented on #542
We have updated in Staging
[LAMP_Admin Website_Timestamps record END of activity.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8261530/LAMP_Admin.Website_Timestamps.record.END.of.activity.xls)

[2022-03-16 12:40] #535 closed

[2022-03-16 14:08] sarithapillai8 commented on #386
@avaidyam
We have updated the changes in dashboard-staging. Could you or your team please review and suggest changes if any?

[2022-03-16 16:02] sarithapillai8 commented on #386
@avaidyam Yes the changes are updated in dashboard-staging. The activity specs are available through api-staging.

[2022-03-16 16:02] jeydude opened #562 "while adding LAMP worker to the stack list getting error"
I have added below LAMP worker component to my LAMP stack in **production** environment
[code]
after i start the stack in portainer. I am getting below error in worker-component container log:
[code]

To avoid this error, I have added

```NODE_TLS_REJECT_UNAUTHORIZED: 0 ```

which took care of the issue, but I was told, i should not add  NODE_TLS_REJECT_UNAUTHORIZED: 0 in production environment, w

[2022-03-16 17:23] jijopulikkottil commented on #530
in iOS, it was not reporting `unlocked` state. It was reporting `screen_on` or `screen_off` when device is unlocked state. We fix it by checking last state. So it will report `unlocked ` only if the previous state was `locked`.

[2022-03-16 17:27] avaidyam opened #563 "Integrate JSONata documentation as a sidebar/overlay panel in the data studio"
When in "terminal mode", it would be nice to have a pop-out reference panel that [links to the LAMP-specific JSONata documentation.](https://docs.lamp.digital/data_science/jsonata) This documentation would also need to be cleaned up a little bit:
- [ ] Some headings are not consistent (many h2's should actually be h3's).
- [ ] The `Query` and `Result` lines should be a table with two columns inste

[2022-03-16 17:34] avaidyam opened #564 "Data studio in terminal mode doesn't accept mouse presses"
On Safari 15, mouse presses don't seem to work on the editor itself, only the space below.

https://user-images.githubusercontent.com/1361003/158652222-38e9fefd-9837-449e-9e44-9673b46c77ef.mov

[2022-03-16 17:45] avaidyam commented on #386
They don't seem to be working - the `Save` button never enables.

<img width="1006" alt="Screen Shot 2022-03-16 at 13 44 46" src="https://user-images.githubusercontent.com/1361003/158654121-0fe3f5e2-9a41-44be-b6e1-4295122a68fd.png">

[2022-03-16 17:45] avaidyam commented on #562
Is `SERVER_DOMAIN_HERE` the public-facing address? With a proper SSL certificate?

[2022-03-16 17:54] avaidyam opened #565 "No indication in data studio of a running query"
It's not clear at all that a query is running or what the status of that query is - the `Run Query` button should be disabled to avoid spamming the server, and a timer should ideally show how long the query is currently taking to run/took to run. I'd consider hiding/clearing the output view but that's not as useful since I would like to still see the results of the last query too.

---

User inter

[2022-03-16 17:57] avaidyam opened #566 "Can't select parts of the output view in terminal mode for data studio"
It's not possible to highlight and select parts of the output view right now. It would also be nicer to add a `Copy to clipboard` button that appears on hover at the top right of the view.

[2022-03-16 17:58] avaidyam opened #567 "No undo stack support for terminal mode of data studio"
The editor pane has no support for multi-level or single-level undo/redo which is a **significant** usability concern for an editor/terminal.

[2022-03-16 18:17] lukeoftheshire opened #568 "JSONata queries return inappropriate results"
Query 'LAMP.Participant.list()'  while logged in with admin credentials with no params or anything other than a string returns ALL participants

![Screen Shot 2022-03-16 at 2 15 36 PM](https://user-images.githubusercontent.com/34659264/158659381-e1bc66d4-1855-4be2-8b82-1004f5e3c391.png)
![Screen Shot 2022-03-16 at 2 17 18 PM](https://user-images.githubusercontent.com/34659264/158659685-b4a91bd0-bd

[2022-03-16 18:24] avaidyam commented on #568
Unrelated pet peeve: we should consider auto-wrapping JSONata statements in a block `( ... )`, otherwise you can't declare variables/execute multiple statements but return only the result of the last one, easily.

[2022-03-16 19:20] avaidyam commented on #568
I think the solution is actually fairly simple but also incredibly difficult to find/understand. To allow inner function calls to work, you have to **context variable bind** the LHS before performing the map-to-object RHS. That sentence alone is pretty confusing, so let me illustrate with equivalent code samples:

[code]

This works as expected.

[code]

You would think this would work too, being

[2022-03-17 01:52] sarithapillai8 commented on #386
Where this was tested? There are unit and value settings for both activities. Can you confirm this is tested in dashboard-staging with api-staging login?

[2022-03-17 04:45] sarithapillai8 commented on #386
@avaidyam Sorry there was a bug related to loading settings. There are two mandatory settings(unit and value) for goals/medications. Could you please recheck?

[2022-03-17 07:26] Linoy339 opened #569 "Temporal Order Test"
This is a game to remember pictures displayed. The order and sequence of the pictures has to be remembered and need to tap when required

[2022-03-17 10:26] divyav2020 commented on #530
@avaidyam This issue is fixed in iOS. But android build is not stable now. So we will update the status once the android build is stable

[2022-03-17 10:26] divyav2020 commented on #503
@avaidyam
This issue is fixed in iOS. But android build is not stable now. So we will update the status once the android build is stable

[2022-03-17 12:34] sarithapillai8 commented on #467
@avaidyam
We have updated the changes in dashboard-staging. We created different activity specs with executable/settings values. If the new spec is not having any of these, then it won't be listed for creating activity.

**_Note** : Settings for this new activity spec need to added similar to the way of JSON schema that supports rjsf format._

[2022-03-17 12:44] divyav2020 commented on #467
We have updated the changes in dashboard-staging.
[LAMP_Admin Website_Load Activity UI from URL in ActivitySpec.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8286079/LAMP_Admin.Website_Load.Activity.UI.from.URL.in.ActivitySpec.xls)

[2022-03-17 13:04] dcurrey88 opened #570 "Android data not collecting"
**Describe the bug**
For a study we recently started, no Android users appear to be collecting any passive data. No sensors have been added in the dashboard, so all sensors should be collecting. The majority of iOS users are collecting data.

Researcher ID: 09qmega5t15avq065re4
Test user (Android): U2898028549
Test user (iOS): U1753020007

**Additional context**
I don't know if sensors need to be

[2022-03-17 13:08] avaidyam commented on #570
Sensors must be added for data collection to work (on legacy servers without the ability to add SensorSpecs server-wide, having no sensors added will default to the pre-2021 behavior of collecting all sensor data - this is not true of our BIDMC production server). The fact that iOS is collecting data despite not having been explicitly enabled for such is actually a serious HIPAA-related concern.

[2022-03-17 13:18] dcurrey88 commented on #570
It looks like most iOS devices are on 2022.2.28:
"NativeCore 2022.2.28; iOS 15.3.1; iPhone iPhone10,3"

And Android on 2022.0.27:
"NativeCore 2022.0.27; Android 10; samsung; SM-G9600"

Just to make sure I understand, with no sensors added the expected behavior is the same as "lamp.none" ie nothing should collect?

[2022-03-17 13:19] avaidyam commented on #570
That's correct. `lamp.none` should not be used and will need to be removed from the server too.

[2022-03-17 15:29] avaidyam opened #571 "Automatic CSV formatting in JSONata queries/data studio UI"
It should be possible for the data studio to detect the presence of an output value that is an array of objects with identical fields, or an array of arrays. The output should optionally be presented instead as a data table (simple or “advanced” with filtering/sorting/etc). While we should also implement a `$to_csv` and `$from_csv` function in JSONata, this allows not having to think about it.

[2022-03-18 04:35] divyav2020 commented on #526
This issue is fixed in iOS. But android build is not stable now. So we will update the status once the android build is stable

[2022-03-18 07:45] jijopulikkottil opened #572 "If there are no sensors for a user, no sensor data should be collected."
Reference: https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/145#issuecomment-971802082

This task is already implemented in Android.

[2022-03-18 07:55] jijopulikkottil opened #573 "iOS - Set low frequency for GPS if not configured."
Set low frequency if `lamp.gps` is not declared in the user's sensor list. Also set low frequency if no sensors are configured.

In Android, location fetch will not happen if the `lamp.gps` is not declared in the user's sensor list. So this task is only needed in iOS.

[2022-03-18 09:54] jijopulikkottil commented on #570
@avaidyam in iOS, we have not implemented the task 'collect no sensors if nothing is configured'. So our current appstore build will collect all sensors if no sensors are configured.
In Android, it ('collect no sensors if nothing is configured') is implemented.
This task was mentioned [here](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/145#issuecomment-971802082)

[2022-03-18 19:36] tlakhtak opened #574 "Grouped activities keep displaying in a loop"
For grouped activities on the Feed, when participants complete all the activities once they get a Congratulation/conclusion statement, but then the activities loop over again and start from the beginning, perpetually. Not sure if this is happening for all users, but users in both studies '4bgs7d6x303xsn8ct440' and 'rkam9jvgpc8r0zfzf8gz' api.lamp.digital server have reported it.

[2022-03-21 02:08] jijopulikkottil commented on #573
Now we are using the desired accuracy as [kCLLocationAccuracyReduced](https://developer.apple.com/documentation/corelocation/kcllocationaccuracyreduced) if lamp.gps is not configured or no sensors are configured.
[We are using [kCLLocationAccuracyBestForNavigation](https://developer.apple.com/documentation/corelocation/kcllocationaccuracybestfornavigation) is lamp.gps is added]

[2022-03-21 02:16] jijopulikkottil commented on #301
@sarithapillai8, @divyav2020 When we tested, the `Balloon` activity [issue](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/301#issuecomment-1049010014) is fixed. [against staging server].

[2022-03-21 05:07] ZCOEngineer commented on #560
iOS and Android is progress now

[2022-03-21 05:11] ZCOEngineer commented on #530
Testing android with new build today

[2022-03-21 05:12] ZCOEngineer commented on #526
Testing Android with new build today

[2022-03-21 05:13] ZCOEngineer commented on #503
Testing Android with new build today

[2022-03-21 06:04] jijopulikkottil commented on #541
@avaidyam
In iOS, for lamp.device_motion, the maximum frequency allowed is 100.
Default given is 5.
Hope we should set this maximum frequency same on both  iOS and Android, so in iOS also, can we set the maximum as 5?

[2022-03-21 11:43] saranya-sajeev commented on #532
@aditya wear os workflow is not shown under actions tab? Do you have any suggestions?

[2022-03-21 11:57] sarithapillai8 commented on #574
@tlakhtak @avaidyam This issue found in production, but this was already fixed in dashboard-staging.

[2022-03-21 12:35] jijopulikkottil commented on #572
This is completed on iOS too and the code is pushed.

[2022-03-21 12:36] jijopulikkottil commented on #573
This task is completed and code is pushed.

[2022-03-21 12:46] divyav2020 commented on #301
Checking the following issues in android build

[2022-03-21 12:47] divyav2020 commented on #301
Checking the above issues in android build

[2022-03-22 11:57] Linoy339 opened #575 "Add TTL to android push notification"
Add `TTL `to push android notification request.

[2022-03-22 12:42] divyav2020 commented on #530
QA testing completed

[2022-03-22 12:44] divyav2020 commented on #503
This issue is fixed in iOS and Android

[2022-03-22 12:44] divyav2020 commented on #301
This issue is fixed in iOS and Android

[2022-03-22 12:45] Linoy339 commented on #575
@avaidyam . We need to add `TTL` to android notification part. Can we add in
[https://github.com/BIDMCDigitalPsychiatry/LAMP-app-gateway/blob/master/app.js#L96](https://github.com/BIDMCDigitalPsychiatry/LAMP-app-gateway/blob/master/app.js#L96) as we did in
[([https://github.com/BIDMCDigitalPsychiatry/LAMP-app-gateway/blob/master/app.js#L68](https://github.com/BIDMCDigitalPsychiatry/LAMP-app-gatewa

[2022-03-22 12:45] divyav2020 commented on #526
This issue is fixed in iOS and Android

[2022-03-22 12:49] avaidyam commented on #570
Please make sure this is implemented ASAP!

[2022-03-22 12:49] #570 closed

[2022-03-22 12:52] avaidyam commented on #572
@jijopulikkottil Is this available in TestFlight beta now?

[2022-03-22 12:53] #573 closed

[2022-03-22 12:54] avaidyam commented on #323
Since we're tracking this issue in #560 with a better scope of work, I'll close this issue for now.

[2022-03-22 12:54] #323 closed

[2022-03-22 12:55] avaidyam commented on #560
I've closed issue #323 so we can redirect discussion here. Ideally this issue should resolve any "auto-logout" issues, since we determined that it was just the logout screen being shown, and not that the user was actually being logged out.

[2022-03-22 12:56] avaidyam commented on #541
@jijopulikkottil Yes, let's set the maximum frequency on iOS and Android to be identical **for all sensor types.**

[2022-03-22 12:57] #541 closed

[2022-03-22 12:58] avaidyam commented on #575
@Linoy339 I'm not sure why `app-gateway` needs to be modified for this. It forwards the push notification payload exactly as provided by the client (i.e. `server` or `worker`). Please stick to modifying only the `worker` component for push notifications.

[2022-03-22 12:59] avaidyam commented on #532
@saranya-sajeev Unfortunately I don't. It should be included in the Gradle build process if you've added it as a submodule correctly. Please consult the Android/wearOS documentation.

[2022-03-22 13:00] #301 closed

[2022-03-22 13:00] saranya-sajeev commented on #575
@aditya In Qa testing we found an issue that , when device become online all previous notifications will appear, it is because the Firebase will retry to send the message when the device become online. To mange this we can add ttl field with zero value in push message(https://firebase.google.com/docs/cloud-messaging/concept-options#ttl). Shall we proceed on this?

Firebase
[About FCM messages  |

[2022-03-22 13:11] jijopulikkottil commented on #570
Yes it is done [here](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/572)

[2022-03-22 13:21] sarithapillai8 commented on #386
@avaidyam If any changes required. Please let us know.

[2022-03-22 13:22] jijopulikkottil commented on #560
@saritha made a fix on front-end to open the activity when another activity is loaded.
On app(iOS and Android) side, now we are going to open the activity (when tap on push notification) in same web view. So the login won't appear.

[2022-03-22 13:31] jijopulikkottil commented on #572
When merge a PR, currently the deploying task failed due to "The train version '2022.2.28' is closed for new build submissions".

[2022-03-22 13:37] avaidyam commented on #572
Ah, that's because the version `2022.2.28` was submitted and approved for production release. The version string can't be reused. Can you modify the script to take the current date in this format `YYYY.M.D`? That should resolve it.

[2022-03-22 20:43] avaidyam commented on #555
@sarithapillai8 It should be possible to set minLength and maxLength to 1, meaning there MUST be one element ONLY. Please do that instead.

[2022-03-22 20:45] avaidyam commented on #515
@lukeoftheshire Would you mind profiling the dashboard to see what data we can pull from the Web Inspector around sluggishness or slowness? I'm not entirely convinced it's the dashboard, as some of our collaborators have pretty bad internet connections which can cause the same effect.

[2022-03-22 21:09] jeydude opened #579 "Need help with getting couchdb back"
Hi, I need help with CouchDB, I was trying to clean up some of the old GPS/Accelerometer data in CouchDB senser_event database, I believe I messed up the Couch DB sensor_event database.

When I run
[code]
I am getting
[code]

other databases are fine, only sensor_event database is in issue now.

when I go to Couch DB tool 'http://myservername:5984/_utils/#/_all_dbs'

I see the sensor_event

when I

[2022-03-22 21:10] jeydude commented on #579
Here is the error I am getting  if I run the query with timestamp in couch db

![image](https://user-images.githubusercontent.com/841011/159576412-e8ac9df9-3e66-48cf-b9be-9c06311fe546.png)

[2022-03-23 12:59] dcurrey88 opened #580 "device_state data not collecting"
**Describe the bug**
I have added device_state to participants in a study. No device_state data is collecting. There is only one participant that appears to have collected any data (and it is under "lamp.screen_state") since I added this sensor.

I have added the screen_state sensor now to these participants to try to resolve the issue. However, my understanding was that screen_state data should n

[2022-03-23 15:07] avaidyam commented on #580
This has not fully rolled out to production yet, see #530 - please add screen_state as well for now.

[2022-03-24 03:12] avaidyam commented on #530
@jijopulikkottil @saranya-sajeev Please report battery level as a `Float` with range `0.0 → 1.0` on both iOS and Android. Otherwise all good!

[2022-03-28 06:06] divyav2020 commented on #555
We have updated in Staging server

[2022-03-28 06:19] jijopulikkottil commented on #560
When user open and played on second activity over the first activity, Done the issue fixes:
1. dismiss keyboard when new activity page open [native side fix]
2. Update portal with second activity. [front end fix]

[2022-03-28 16:13] divyav2020 commented on #560
[LAMP_Admin Website_load activity page on the same web view.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8364529/LAMP_Admin.Website_load.activity.page.on.the.same.web.view.xls)

[2022-03-30 06:19] jijopulikkottil commented on #560
Both iOS and Android code pushed.

[2022-03-30 12:40] avaidyam commented on #579
@jeydude Unfortunately we can't provide support for CouchDB itself, and you may have better luck seeking assistance on this in their repository instead.

[2022-03-30 12:40] #579 closed

[2022-03-31 16:47] lukeoftheshire opened #584 "Malformed sensor event post"
A researcher is reporting seeing a 403 error occur for some of their user's sensor event data post requests.

[code]

I am unclear as to what exactly may be causing this but I do note that the second request is actually made for the participant `U7219056717@lamp.com` -- note the inclusion of `@lamp.com`. Could this be causing the error? If so, we should probably fix this as soon as possible. Unfor

[2022-03-31 23:58] toujames commented on #467
Hi  all,
Thanks for the progress so far on this issue.
Just wanted to see if this is still being worked on or when this change will be pushed to the production dashboard?

[2022-04-01 01:52] avaidyam commented on #467
@toujames This is complete but requires further testing and evaluation -- it will likely be pushed to production early next week.

[2022-04-01 01:52] #467 closed

[2022-04-01 07:29] Linoy339 commented on #584
@lukeoftheshire . The request `POST /participant/U7219056717@lamp.com/sensor_event` is completely invalid. Is  this request from lamp side or other collaborator's?
This  (`403.security-context-out-of-scope`) happens because of reasons mentioned below:
1) The user might got deleted
2) Basic auth might got wrong .

[2022-04-01 12:49] dcurrey88 opened #585 "Cannot schedule activities for 4/1"
**Describe the bug**
Activities cannot be scheduled for today (4/1).

**To Reproduce**
If I try to programmatically schedule the activities, they will not show up in the feed. If I try to add a schedule on the dashboard, it will change the date to 5/1. This does not seem to be an issue for other days (4/2 etc).
<img width="1225" alt="Screen Shot 2022-04-01 at 8 49 07 AM" src="https://user-images.g

[2022-04-01 12:51] tlakhtak opened #586 "Filter for Portal page does not persist"
Toggle filter to select range of data displayed in visualizations when using the DBT diary card do not persist after leaving and returning to the Portal page, either when leaving to a different page in the app or when leaving the app entirely.

[2022-04-01 12:52] tlakhtak commented on #586
Additionally - the 'Didn't use skills' visualization does not appear to have its own filter as the rest of the individual visualizations do.

[2022-04-01 14:46] lukeoftheshire commented on #584
The researcher further reports:
[code]

Is it possible this is related to issue #506? I ask since this post event appears to be triggered by a logout.

[2022-04-04 07:33] jijopulikkottil commented on #511
We couldn't find duplicate records using the sensor_event APIs for the user U4801911068. May be those duplicates are removed?

[2022-04-04 08:31] avaidyam commented on #511
@jijopulikkottil This issue is labeled with `cortex`, not `native core` so there is nothing you need to do here! My team is working to remove and restrict duplicate entries on our end. Thanks for checking, though!

[2022-04-04 12:13] lukeoftheshire commented on #511
@avaidyam Is this something we would want to also fix on the LAMP side too, not just cortex? I worry that if there is an issue in LAMP and our collaborators pull raw data they could end up confused or with misleading data.

[2022-04-04 13:21] tlakhtak commented on #585
Also cannot schedule activities for November 1, changes date to December 1

[2022-04-04 13:29] avaidyam commented on #511
@dcurrey88 Thanks for the update!
@lukeoftheshire I agree this should be baked into LAMP. In fact we should broaden the scope to include proper JSON Schema validation to ensure no malformed objects are uploaded. Do you have any comments on implementation strategy, besides just to validate each input object at the service layer of `LAMP-server`?

[2022-04-04 13:30] lukeoftheshire commented on #585
Also cannot schedule for February, June, September 1st

As we all know, "30 days hath September, April, June, and November...except for February, which has 28" so I'm guessing the error has something to do with validation checking for months w/ less than 31 days. No error is being thrown in the console, by the way.

[2022-04-04 13:39] tlakhtak opened #587 "Scheduler interface not responsive to typing date and time"
When you manually type in a date and time (in the correct format), the notification scheduler does not recognize these typed times and treats it as though no input has been given. This is very inconvenient when trying to schedule multiple activities at once as having to sift through the calendar and clock widgets is a much slower process

https://user-images.githubusercontent.com/82968538/16155648

[2022-04-05 12:07] Linoy339 commented on #511
@avaidyam.  Can you please let us know the detailed strategy, which you mentioned ?

[2022-04-06 06:30] divyav2020 commented on #585
We are unable to reproduce this issue

[2022-04-06 12:57] lukeoftheshire opened #588 "Scratch Card images not center aligned"
Scratch card images are not shown at a consistent size. Additionally, the images are centered horizontally but not vertically. This can lead to cases where a user can swipe and reveal no image, which is then confusing when the completion message shows up.

Small image is horizontally centered but not vertically:
![Screen Shot 2022-04-06 at 8 52 09 AM](https://user-images.githubusercontent.com/3465

[2022-04-06 13:00] lukeoftheshire opened #589 "Additional detail in Scratch Card activity event"
I think this is probably low priority, but it would be nice to increase the information contained in the scratch card activity events. Here is an example of a temporal slice array where I did 1 card:

[code]

Currently, there is no record of which card was shown to the user, but it might be worth considering if using `value` to store this information would be helpful.

[2022-04-06 13:06] lukeoftheshire commented on #265
- Validation based on previous answers. For example, if we ask a participant how long they were in bed and then how long they slept on a single night, the second number should not be able to be larger than the first

[2022-04-06 13:29] avaidyam commented on #589
I think if we're going to improve this data output we should at least be getting a temporally ordered SVG path mask that allows us to recreate the "brush strokes" the patient made to reveal the image. This way we could also investigate the deliberation, cadence, finger jitter, etc.

[2022-04-06 19:04] Linoy339 commented on #511
Okay. That's good.
Thank you.

[2022-04-07 15:57] lukeoftheshire opened #590 "LAMP Survey Description - add to activity?"
Currently, LAMP Survey can have questions optionally given descriptions - for example, for a list-style item can have both a response (that is stored) and a description (that is not). These descriptions are stored in tags, which look like this:
[code]

I think we should consider making these descriptions a part of the surveys themselves if possible.

[2022-04-07 16:04] lukeoftheshire opened #591 "Remove Sensor and Activity from participant tree of data portal"
As Activities and Sensors are not assignable to participants, but instead to studies, it should not be possible to query them from the tree of the data portal as it serves no purpose and will always return an empty array.

To fix this, we'll remove the option to query sensors and activities from participants.

[2022-04-07 17:53] nsrilakshmi96 opened #592 "App crashes with null pointer error"
**Describe the bug**
Trying to open the app after keeping it in the background for a while, the app opens and immediately closes and on trying to open the app, a blank white screen opens.

**Smartphone (please complete the following information):**
 - Device: Samsung A50s and Samsung M31
 - OS: Android 11

**Additional context**
Error in LampLog.txt
java.lang.RuntimeException: Unable to start serv

[2022-04-08 05:17] saranya-sajeev commented on #592
@nsrilakshmi96 Could you please share the app version?

[2022-04-08 07:33] nsrilakshmi96 commented on #592
Version - 2022.0.27

[2022-04-08 12:10] divyav2020 commented on #585
We have updated in Staging
[LAMP_Admin Website_Activity schedule on apr 1st.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8451660/LAMP_Admin.Website_Activity.schedule.on.apr.1st.xls)

[2022-04-08 12:11] divyav2020 commented on #587
We have Updated in staging
[LAMP_Admin Website_Scheduler interface not responsive to typing date and time.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8451667/LAMP_Admin.Website_Scheduler.interface.not.responsive.to.typing.date.and.time.xls)

[2022-04-08 12:11] divyav2020 commented on #588
We have updated in Staging
[LAMP_Admin Website_Scratch Card images not center aligned.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8451669/LAMP_Admin.Website_Scratch.Card.images.not.center.aligned.xls)

[2022-04-08 16:03] tlakhtak opened #593 "Several bugs for one user: looping, adaptive interventions error, notifications error"
User U3600685320, on Android device Samsung Galaxy S22 Ultra reported that they were experiencing an issue where the adaptive intervention script would send them a notification for an activity but when they clicked on it, it never opened up the corresponding tip or mindfulness activity, and there was essentially no record for them to use to determine what activity they had been assigned to do.

No

[2022-04-08 17:06] avaidyam commented on #593
Thanks for sharing - I'm marking this as a duplicate and closing it for now since all the sub-issues are tracked separately, but we can reopen it after QA testing the production release if these issues persist.

[2022-04-08 17:06] #593 closed

[2022-04-08 19:31] tlakhtak opened #594 "Back button on Learn tips not working"
For LAC dashboard, v1871 (2022.2.22) after selecting "Learn tab" and then picking a Learn activity the Back arrow button does not seem to be working, I remain on the same page after clicking the back arrow icon:

[2022-04-08 19:34] tlakhtak opened #595 "DBT Portal View"
Date range for Actions (Summary) visualization is not present for DBT
![Screen Shot 2022-04-08 at 3 33 45 PM](https://user-images.githubusercontent.com/82968538/162511942-4d2505cc-4cbd-4bad-8e39-93dfec2a27cb.png)

[2022-04-10 02:03] lukeoftheshire opened #596 "Ability to change default time in timepicker"
Currently, the default starting time for a timepicker question is always 1:00 am. This is a time that is probably relatively unlikely to be what a participant ends up choosing - it is an unusual time to go to bed, and even more so to wake up, for example.

If an additional option could be added to set a default time for the timepicker to start on (e.g. 8 pm) that would probably increase ease of us

[2022-04-10 02:06] avaidyam commented on #596
Wouldn't it just be smarter to either default to current time or reuse the last set time (across the whole app)?

[2022-04-10 02:13] lukeoftheshire commented on #596
Default to current time is not a bad idea (or maybe that's an additional option?). Querying old events to get the last set time feels like it would be more involved than creating a default option - but I could be wrong. If that's possible it's a good option for sure.

The advantage to being able to set a default is that you can, for instance, guess that participants go to bed at 10 PM and wake up

[2022-04-11 05:51] sarithapillai8 commented on #594
@avaidyam This is already fixed in dashboard-staging.

[2022-04-11 09:08] saranya-sajeev commented on #592
@nsrilakshmi96 Are you using the latest beta version?

[2022-04-11 10:15] nsrilakshmi96 commented on #592
@saranya-sajeev No, I'm using the production version. Last updated was on March 6.

[2022-04-11 11:04] saranya-sajeev commented on #592
@nsrilakshmi96 We have already added a fix for this issue and it is available in the beta version. Could you please try the beta?

[2022-04-11 11:27] nsrilakshmi96 commented on #592
@saranya-sajeev I've installed the beta version now. Will keep the app running and let you know if it doesn't crash with the same error.

Should we apply the same fix to the participants in the study or will the code be updated in the production release?

[2022-04-11 11:44] saranya-sajeev commented on #592
@nsrilakshmi96 Beta will be pushed to production soon.

[2022-04-11 15:03] avaidyam commented on #592
@saranya-sajeev Please do not push it to production on your team's end - my team needs to do a full round of QA testing first and we will push it once everything is confirmed okay.

[2022-04-11 16:06] saranya-sajeev commented on #592
@avaidyam no we will not push to production.

[2022-04-11 16:28] jijopulikkottil commented on #575
@avaidyam , In iOS, For remote-notifications, we have handled expiry of notifications as per the expiry intervals in the push payload. But we have not handled expiry for local notifications.

Also in iOS, for remote push notifications, we are not removing the delivered notifications. Instead we will show 'expired' alert when tap on it.

Let us know if we need any update on iOS.

[2022-04-11 16:37] saranya-sajeev commented on #575
@avaidyam In Android, we are handling the expiry of notification based on the expiry value in push payload. For local notification, it is not handled.  In Android notification will be cancelled after specified time.
Let us know if we need to add 6 hours expiry for local notification?

[2022-04-12 07:01] sarithapillai8 commented on #584
@lukeoftheshire
Could you share more details for this like server details or how to reproduce? Can you confirm whether the client is using latest version? We have checked the events created in web, Android, iOS devices. We couldn't reproduce the issue.
[U4438904359_SE.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8470279/U4438904359_SE.txt)

[2022-04-12 09:44] saranya-sajeev commented on #575
@avaidyam Ok.

[2022-04-12 11:57] saranya-sajeev commented on #592
@avaidyam as per our current implementation the [WhatTheStack](https://github.com/haroldadmin/WhatTheStack) will work only in debug build. Shall I change it to work in release build and commit?

[2022-04-12 11:58] avaidyam commented on #592
Yes, please do that.

[2022-04-12 11:59] evinkalengaden commented on #595
We have updated in Staging.

[LAMP_DBTview.on.apr.12th.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8472658/LAMP_DBTview.on.apr.12th.xls)

**@avaidyam**

[2022-04-12 12:25] #595 closed

[2022-04-12 12:47] lukeoftheshire commented on #498
This doc page is intended to address this issue https://docs.lamp.digital/data_science/tags

I am going to close this issue now but please reopen if these docs are unclear/incomplete

[2022-04-12 12:56] avaidyam commented on #498
There's still portions of this issue that require changes to the API and security model so let's keep it open for now.

[2022-04-12 13:01] lukeoftheshire commented on #557
- [ ] Add documentation re: using credentials for an activity or sensor to get specific info

[2022-04-12 14:46] saranya-sajeev commented on #592
@avaidyam Committed to beta after change and it is In Review status.

[2022-04-12 17:53] lukeoftheshire commented on #442
A matrix of short answers does not display the text box:
<img width="789" alt="Screen Shot 2022-04-12 at 1 45 23 PM" src="https://user-images.githubusercontent.com/34659264/163023864-81b19175-26d3-40fd-a4ce-e5b81b6835e7.png">

If one or more of the questions are required the survey cannot be completed.
<img width="1121" alt="Screen Shot 2022-04-12 at 1 46 14 PM" src="https://user-images.githubuser

[2022-04-12 18:06] lukeoftheshire opened #598 "Toggling battery saver mode with LAMP open crashes LAMP"
Toggling battery saver mode while in LAMP, *but LOGGED OUT* leads to a crash.

![Screenshot_20220412-140341](https://user-images.githubusercontent.com/34659264/163025761-a40d803f-b2c1-4a18-b5c0-9f25bb50a2d9.jpg)

This does not occur if logged in.

[2022-04-12 18:07] dcurrey88 commented on #598
For the record, low power mode appears to work for iOS:

[code]

[2022-04-12 18:11] tlakhtak commented on #417
This seems to be resolved in staging as I am able to see activities at the time they are scheduled even when I change the timezone, notification schedule does not shift when timezone is changed

[2022-04-12 18:13] dcurrey88 commented on #3
This issue appears to be resolved in staging. I see low power mode analytics events in both iOS and Android.

[code]

[2022-04-12 18:13] dcurrey88 commented on #506
This appears to be working in staging.

[2022-04-12 18:14] tlakhtak commented on #526
This is incorrectly implemented in staging. I scheduled an activity every 2 weeks starting April 12. The schedule was as follows

April 12
April 26
May 3 (1 week from last date)
May 17 (2 weeks from last date)
May 31 (2 week from last date)
June 7 (1 week from last date)
June 21(2 week from last date)

Thus, it seems like it does not how to correctly transfer the 2 week schedule between months

[2022-04-12 18:14] dcurrey88 commented on #541
It looks like the max frequency has been set to 5.

[2022-04-12 18:14] dcurrey88 commented on #509
This appears to be fixed in staging.

[code]
[code]

[2022-04-12 18:15] tlakhtak commented on #525
Every two weeks repeat time can be scheduled for a survey, but implemented in staging with a bug #526

[2022-04-12 18:16] lukeoftheshire commented on #386
On Android, Goals and Medication activities don't load. Instead, I only see white screens:
![Screenshot_20220412-141217](https://user-images.githubusercontent.com/34659264/163027314-85435926-e545-4abc-ac40-79a13917a476.jpg)
![Screenshot_20220412-140729](https://user-images.githubusercontent.com/34659264/163027318-2932ca3a-d7b5-48fb-bc17-0224027158e9.jpg)

Here are the Activities:
[code]

[2022-04-12 18:16] tlakhtak commented on #519
Custom time functionality is still unclear in staging. To test, a notification was set to Time (1:23pm) and Custom Time (1:25) showed a notification every day at 1:25pm, nothing at 1:23pm.

[2022-04-12 18:17] dcurrey88 commented on #572
This does not appear to be working in staging. I created a user in staging with no sensors added (U6942434912). They have collected GPS and accelerometer data.

[2022-04-12 18:18] avaidyam commented on #598
@lukeoftheshire Does this same thing happen when you're logged in? I imagine the app is trying to post the sensor event regarding low power mode enable/disable but isn't authenticated. It seems like there are many cases where null data isn't being appropriately handled or unwrapped before a method or API call... [despite Kotlin having advanced null safety features.](https://kotlinlang.org/docs/nul

[2022-04-12 18:20] avaidyam commented on #386
@lukeoftheshire (or @dcurrey88) Does this occur on iOS as well?

[2022-04-12 18:20] lukeoftheshire commented on #598
No, this does *not* occur if not logged in.

[2022-04-12 18:21] dcurrey88 commented on #508
This does not appear to be working in staging. I'm not sure if there are phone permissions that prevent call / text data from being collected from certain phones, but both test users U5053982269 (iOS) and U9848191154 (Android) do not appear to be collecting any data.

[2022-04-12 18:21] avaidyam commented on #572
@dcurrey88 (and @lukeoftheshire) Is the behavior the same on iOS and Android? (i.e. does Android also collect sensor data when it should not?)

[2022-04-12 18:22] tlakhtak commented on #550
This was not resolved in staging - clicking on the notification does not seem to lead to the activity. In fact, in staging surveys are unable to be opened or accessed at all, from assess page or from notifications or feed.

[2022-04-12 18:22] tlakhtak commented on #555
timepicker questions work well on staging dashboard such that I could design a survey with both types of time and answer questions with both types of time. However, portal output didn't really make logical sense it just added them up.

[2022-04-12 18:23] avaidyam commented on #555
@tlakhtak Can you share a screenshot of what you mean with the portal output?

[2022-04-12 18:28] tlakhtak commented on #555
![Screen Shot 2022-04-12 at 1 51 55 PM](https://user-images.githubusercontent.com/82968538/163028895-a4828d27-4ec7-4be8-a677-eaeb1d98aa26.png)
![IMG_2941](https://user-images.githubusercontent.com/82968538/163029231-656f6d43-4b16-4e3f-84b8-24f5cf1e9b63.PNG)

[2022-04-12 18:28] lukeoftheshire commented on #594
This is not fixed in dashboard staging - my back button does not work.

[2022-04-12 18:30] #588 closed

[2022-04-12 18:31] avaidyam commented on #572
@dcurrey88 Thanks for reporting – it's true it's an iOS specific issue but we also want to make sure we catch **all iOS/Android behavior discrepancies** as part of QA testing too! 😄

[2022-04-12 18:42] dcurrey88 commented on #585
This appears to be fixed in staging. However, if I try to create a schedule without specifying a repeat interval nothing will happen. The schedule will show in Activity data from the API (with repeat interval set to None) but will not show up in the dashboard or in the feed. It seems that there should be some sort of notification to the user that this information is required.

[2022-04-12 18:43] avaidyam commented on #440
@mcurbelo-orangeloops @falmeida-orangeloops Let's track discussion around this feature here in this issue! 😄

[2022-04-12 18:48] tlakhtak commented on #587
Typing seems to be working a little better - we are able to manually type in dates and times in the schedulers

[2022-04-12 18:51] avaidyam opened #599 "HTTP Security Headers"
- [ ] All API responses should provide header `Cache-Control: no-store`
- [ ] All API responses should provide header `Content-Security-Policy: default-src 'self'`
- [ ] All API responses should provide header `X-XSS-Protection: 1; mode=block`
- [ ] All API responses should provide header `X-Content-Type-Options: nosniff`
- [ ] All API responses should provide header `X-Frame-Options: deny`
- [ ]

[2022-04-12 18:54] lukeoftheshire commented on #512
QA testing on our end looks good too.

[2022-04-12 18:54] lukeoftheshire commented on #588
Can confirm this issue is fixed in dashboard-staging

[2022-04-12 18:56] tlakhtak commented on #476
Could not reproduce in staging account, so possible no longer an issue but cannot confirm since this was only affecting some users.

[2022-04-12 18:57] tlakhtak commented on #323
Could not reproduce in staging account, so possible no longer an issue but cannot confirm since this was only affecting some users.

[2022-04-12 18:57] dcurrey88 commented on #573
My understanding is that GPS permissions should be asked for regardless of whether the GPS sensor is added. It seems that if multiple sensors (but not GPS) are added, the app will ask for GPS permissions, but at least for iOS if there are no sensors added then the app does not ask for permission. This may be related to #572.

[2022-04-12 19:00] dcurrey88 commented on #530
device_state data appears to be collecting for Android (U9848191154) but not iOS (U5053982269).

[2022-04-12 19:00] lukeoftheshire commented on #550
I cannot access surveys in Android beta either.

[2022-04-12 19:02] avaidyam commented on #573
Hmm, this may still be acceptable behavior, since if no sensors are added, there's no background collection process, so there's no need to use GPS callbacks to drive sensor data collection and upload. @jijopulikkottil Can you confirm this?

[2022-04-12 19:07] dcurrey88 commented on #503
This does not appear to be fixed in staging. The four keys specified [value, type, unit, source] are not present.

For android, sometimes "source" is missing:
[code]

For iOS, only the "value" field is present:
[code]

[2022-04-12 19:10] lukeoftheshire commented on #542
DBT diary card timestamp at least still reflects when the activity was submitted.

Currently there is a bug with surveys so I can't check those, but I will update here when I am able to.

[2022-04-12 23:39] michaelmenon commented on #550
We will check and let you know on this asap.  Just to confirm this is only in the Android beta, we will check and confirm as well.

[2022-04-12 23:41] michaelmenon commented on #386
Just to confirm is this in Android beta ?

[2022-04-12 23:43] dcurrey88 commented on #386
This occurs on iOS as well.

[2022-04-13 00:09] michaelmenon commented on #386
ok we will check on the iOS TestFlight beta build ?

[2022-04-13 00:12] michaelmenon commented on #550
Ok got it, we will update on this asap. Seems like a staging server fix, will let you know after we check.

[2022-04-13 05:34] sarithapillai8 commented on #442
@lukeoftheshire
This is updated in dashboard-staging. The short answer question had an options array, which might be because of editing it from a list/multiselect/slider/rating question type. So the fix done for that section. Otherwise short answer is working fine.
![image](https://user-images.githubusercontent.com/63710347/163107129-6c0b441a-21eb-4667-877a-d3b0badb2cf1.png)

This is an expected b

[2022-04-13 06:02] sarithapillai8 commented on #519
@tlakhtak
Could you please provide more details like timezone, activity etc. ?
Is this happens in push notifications only?
We tried setting both 1:23 am and 1:23 pm and they are showing fine in feed section.
![image](https://user-images.githubusercontent.com/63710347/163108602-62b8a3d4-ccfd-4479-a99b-bca07146ab67.png).

[2022-04-13 06:33] Linoy339 commented on #417
@tlakhtak .  This seems like participant  time zone has not git saved. If there is no  time zone saved for particular participant, it would fire notifications in `America/New_York` time zone.
Can you please provide participant  id together with researcher and activity which you were mentioning?

[2022-04-13 06:51] sarithapillai8 commented on #542
@lukeoftheshire

We are not able to reproduce this issue. I have opened DBT activity at time - 1649832043819. The actual end time of the activity was 1649832239141, but the activity event generated with timestamp - 1649832043855. There will be some negligible difference.

We are still trying to reproduce this issue. Not yet able to reproduce.

@avaidyam

[2022-04-13 08:11] avaidyam commented on #542
What is the cause for the discrepancy in event timestamp? (completion vs submission)

[2022-04-13 08:29] sarithapillai8 commented on #542
@avaidyam
I mentioned the opening time which is the time the activity being clicked to begin, the activity event timestamp - the time when the iFrame is loading with the activity html. Hope that will be fine.

[2022-04-13 08:30] jijopulikkottil commented on #573
Yes, we had the same thought. Currently we keep it running with reduced accuracy. Only benefit is, we can keep app running in background, and we can reschedule local notifications if any change in activity schedule timings.
Otherwise (if we turn-off gps) we will refetch activity schedules when app launch.

Please confirm if we need to turn-off gps if no sensors are configured.

[2022-04-13 08:47] jijopulikkottil commented on #572
@avaidyam Could you release new TestFlight version, so we can make sure all are testing with latest version of iOS app. Otherwise we have to check the build number is 343 or greater.

[2022-04-13 09:04] sarithapillai8 commented on #555
@avaidyam
Could you suggest how to show this time picker response in graph?

[2022-04-13 09:24] evinkalengaden commented on #519
We have tested the notification receival time in different schedules, Here it is working fine. Please refer the recordings attached.

[2022-04-13 09:26] evinkalengaden commented on #550
We were unable to reproduce the issue, Please refer the screen recording attached.

[2022-04-13 09:30] evinkalengaden commented on #386
We have accessed the existing Goals and also tried on creating new GOAL as specified in the conversation above. We are not able to reproduce. Please find the attachment.

[2022-04-13 09:34] evinkalengaden commented on #594
We were able to navigate back from the activities and survey took from the Learn, Access, Manage and Portal. But it never stuck in the same screen of activities especially TIPS or surveys on back navigations. Refer the recording attached.

[2022-04-13 09:45] jijopulikkottil commented on #530
@dcurrey88 Could you confirm the build number is 343.

@avaidyam Currently we are only providing the version name in user_agent
`user_agent": "NativeCore 2022.2.28; iOS 15.3.1; iPhone iPhone10,4`

[2022-04-13 10:03] saranya-sajeev commented on #503
@dcurrey88 We have checked current Android beta build and got steps data as below. If the source field is not available from Google fit we will be sending null as below.  Are you using the latest beta build?
 {
      "data": {
        "source": "com.google.android.gms",
        "type": "step_count",
        "unit": "count",
        "value": 13
      },
      "sensor": "lamp.steps",
      "timestam

[2022-04-13 10:03] evinkalengaden commented on #526
This issue is updated in the dashboard-staging. We have scheduled an activity on 13th APR 2022 and the schedule was available on the following dates and so on [Apr-13, Apr-27, May-11, May-25, Jun-08, Jun-22].

[2022-04-13 10:11] jijopulikkottil commented on #503
@avaidyam Could you please release new TestFlight version, so we can make sure all are testing with latest version of iOS app. Otherwise we have to check the build number is 343 or greater.

[2022-04-13 10:40] ZCOEngineer commented on #508
We shall check this and update the status here

[2022-04-13 10:42] evinkalengaden commented on #585
We have updated the issue in the dashboard-staging. In such way that, User will not be allowed to save a schedule until the (Repeated Interval, Start Date and Time) are added. On editing schedule also same condition is validated. Please find the validation screenshot attached.

[2022-04-13 10:52] jijopulikkottil commented on #508
let us investigate it.

[2022-04-13 12:10] lukeoftheshire commented on #510
QA tested in staging, looks good!

[2022-04-13 12:10] sarithapillai8 commented on #550
@lukeoftheshire @avaidyam @michaelmenon
Updates are available in staging build and they seems working. Beta/TestFlight builds are pointed to production build where the dashboard updates are not available. Could you confirm on this?

https://user-images.githubusercontent.com/63710347/163176757-8b6ae476-e136-459f-890f-a935da934b1b.MP4

[2022-04-13 12:12] sarithapillai8 commented on #386
@lukeoftheshire @avaidyam @michaelmenon
Updates are available in staging build and they seems working. Please find the attached video. Beta/TestFlight builds are pointed to production build where the dashboard updates are not available. Could you confirm on this?

https://user-images.githubusercontent.com/63710347/163177117-dba1e77a-7c62-40c1-a363-fe23aa938650.MP4

[2022-04-13 12:12] lukeoftheshire commented on #598
QA checked in beta, looks good! Gonna close this as it seems to be fixed

[2022-04-13 12:12] #598 closed

[2022-04-13 12:14] sarithapillai8 commented on #594
@lukeoftheshire @avaidyam @michaelmenon
Updates are available in staging build . Please find the attachment.
Note:  Beta/TestFlight builds are pointed to production build where the dashboard updates are not available. Could you confirm on this?

https://user-images.githubusercontent.com/63710347/163177493-f4e5f608-2372-4191-b5b5-1a256e13b936.MP4

[2022-04-13 12:14] #585 closed

[2022-04-13 12:16] avaidyam commented on #594
@sarithapillai8 @jijopulikkottil @saranya-sajeev @michaelmenon
It should have always been the case that beta builds for iOS and Android point to dashboard staging. I recall we specifically set up build configs for this. Can we double check this is still the case, and if not, address it immediately?

[2022-04-13 12:22] michaelmenon commented on #594
Thanks @avaidyam we will check and update the build pointing to staging.

[2022-04-13 12:25] lukeoftheshire commented on #386
Ah, I see! I didn't know that, so this one is on me! Thanks to both of you for testing this and letting me know. This'll be helpful for future testing.

[2022-04-13 12:31] avaidyam commented on #386
@michaelmenon I'm confused. I thought your team had already completed an internal end-to-end QA testing round? If that was the case, why were these aspects not tested on PC browser vs. Android/iOS beta builds too?

[2022-04-13 12:33] sarithapillai8 commented on #386
@avaidyam Our QA was testing in internally created staging builds that are pointing to staging. Not in beta/TestFlight.

[2022-04-13 12:37] michaelmenon commented on #386
Hi @avaidyam  yes our team did the testing and I think you are not getting my point here. The current beta iOS/Android is pointing to production dashboard and not to the staging dashboard which is fully tested. The production still does not have the staging updates. Our team did test the Android/iOS pointing to staging. If that was you are asking.

[2022-04-13 12:41] avaidyam commented on #386
I see what you mean - can we have your team also QA test every issue on the browser AND iOS+Android beta going forward? The beta builds should always point to dashboard-staging.

[2022-04-13 12:51] tlakhtak commented on #519
timezone seems to be fine, but the function of custom times is unclear. What is the purpose of a custom time, and how is it functionally different from scheduling an activity for 1:45pm everyday in this case?
<img width="1157" alt="Screen Shot 2022-04-13 at 8 48 17 AM" src="https://user-images.githubusercontent.com/82968538/163183642-1b8c2b93-4662-4598-af02-62f71f8e840f.png">
![IMG_2946](https://u

[2022-04-13 12:54] michaelmenon commented on #386
Sure Aditya, just to confirm we had already tested on Android/iOS pointed to staging and will do again. But we will update the beta build again pointed to beta so that your team can test as well.

[2022-04-13 12:55] tlakhtak commented on #417
on staging dashboard, api-staging domain. Phone timezone was changed to IST, and Feed activities were showing correct times but notifications were coming incorrectly. Research id was `b0b9mcsxr7z6eaepnpjv` participant was `U6942434912`. I saw this with an activity called `dbt` which you can see was scheduled for 2:19pm but was notified at 11:49pm.

![IMG_2940](https://user-images.githubusercontent

[2022-04-13 13:00] nsrilakshmi96 opened #600 "App not responding after multiple crashes with IllegalStateException"
**Describe the bug**
After crashing multiple times, app not responding comes up frequently and on trying to open the app it shows the restart option. On clicking restart, it leads to a white screen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: Samsung A50s
 - OS: Android 11
[LampLog (1).txt](ht

[2022-04-13 13:17] sarithapillai8 commented on #519
@tlakhtak We can add multiple custom times for single schedule using custom option.

[2022-04-13 14:08] jijopulikkottil commented on #594
Ok, both iOS and Android, we can pointed to staging server in case of 'Push'. And can pointed to production server in case of Github 'release'.

[2022-04-13 14:33] Linoy339 commented on #417
@tlakhtak . Can you please tell approximate time which you changed time zone  to IST ?

[2022-04-13 15:04] dcurrey88 opened #602 "Unify Android and iOS device_motion and accelerometer"
**Is your feature request related to a problem? Please describe.**
For iOS, lamp.accelerometer holds (x, y, z) coordinates and lamp.device_motion holds several other fields (motion, magnetic, altitude, gravity, rotation).

accelerometer:
[code]
device_motion:
[code]

Android appears to have the same fields as iOS device_motion in accelerometer and device_motion (except data is missing):

lamp.acce

[2022-04-13 15:33] evinkalengaden commented on #594
Right now, the beta build is live. We have tested the build and its working fine.
We will update you status on iOS TestFlight build soon, Once it got live.

@avaidyam @michaelmenon @lukeoftheshire

[2022-04-13 17:08] jijopulikkottil commented on #594
iOS Test flight build (staging pointed) is submitted for beta review.

[2022-04-13 18:48] lukeoftheshire opened #604 "Cats and Dogs docs and code are incongruous"
In the documentation, the static data for Cats and Dogs suggests the static data should take the format:
[code]

 After testing, my static data looked like:
[code]

We should address the following:
- `StartTime` is not in the docs. Additionally, it is always None(presumably null in the backend) What should this measure? Is it unneeded since we have timestamp?
- `rating` is in the docs but not in s

[2022-04-13 19:12] avaidyam commented on #604
`StartTime` is an old SQL column name, so that should absolutely be removed, along with anything else static and useless. Otherwise perhaps we need re-document this activity. My original documentation was from 2018 so things could have changed since then!

[2022-04-13 20:31] lukeoftheshire commented on #604
I'm updating the documentation - I will not add StartTime if it will be imminently removed.

[2022-04-14 05:04] evinkalengaden commented on #550
The iOS beta build (Pointed to staging) is **Ready for test** in Test Flight. We have tested the build and its working fine.

@avaidyam @michaelmenon @lukeoftheshire

[2022-04-14 05:05] evinkalengaden commented on #386
The iOS beta build (Pointed to staging) is **Ready for test** in TestFlight. We have tested the build and its working fine.

@avaidyam @michaelmenon @lukeoftheshire

[2022-04-14 05:06] evinkalengaden commented on #594
The iOS beta build (Pointed to staging) is **Ready for test** in TestFlight. We have tested the build and its working fine.

@avaidyam @michaelmenon @lukeoftheshire

[2022-04-14 10:21] Linoy339 commented on #417
@tlakhtak . Can you confirm whether you were notified or not on 2.19 pm (14 th april) IST?
From the logs mentioned below, it states that notification has been triggered on 2.19 pm (14 th april) IST. Please find the highlighted section.

[code]

[2022-04-14 13:42] lukeoftheshire commented on #557
- [ ] Alias and/or rename attachments to tags and THEN update docs.

[2022-04-14 14:24] avaidyam commented on #557
Task breakdown:
 - [ ] Database-level manipulation functions (@lukeoftheshire → @avaidyam)
 - [ ] Add JSONata best practices/quickstart (@lukeoftheshire → @avaidyam)
 - [ ] Data portal internals + how to use/quickstart guide (@lukeoftheshire)
 - [ ] Activity data types (input/output) + QA testing them (@lukeoftheshire)
 - [ ] "Automations" CRON Job scheduling system (@lukeoftheshire)
 - [x] Updati

[2022-04-14 14:44] avaidyam commented on #542
Please use the time when the iframe is loaded as the start point, and the time when the activity is unloaded from the iframe as the end point.

[2022-04-14 14:46] avaidyam commented on #573
We want GPS on for the reasons you mentioned, but @dcurrey88 reports that if there are no sensors added, the GPS prompt is not happening, so please double check that.

[2022-04-14 14:46] avaidyam commented on #572
Why would you have to check against the app's build number? I'm not sure I understand your request.

[2022-04-14 14:50] avaidyam commented on #555
Hmm, it's actually not easy to represent the time picker result data in a different way right now. Perhaps we need to ignore that, actually. @lukeoftheshire Can you check to make sure the Activity settings are an array and not an object? I'll mark the issue closed until further notice.

[2022-04-14 14:50] #555 closed

[2022-04-14 15:05] mcurbelo-orangeloops commented on #440
@avaidyam
Hey guys. Support for OAuth 2 is something that we are currently actively working on. Our goal is to support a wide variety of identity providers, and have our own one. The first milestone for this project is using Azure AD as a method of authentication. As of writing this, the Azure AD implementation is ongoing and mostly completed, targeting public release on June-July

One of the many

[2022-04-14 17:37] dcurrey88 commented on #522
The issue with re-ordering questions appears to be fixed on the dashboard. However, when I tried to create a voice recording activity (on the staging dashboard) I get an error.

<img width="1044" alt="Screen Shot 2022-04-14 at 1 35 30 PM" src="https://user-images.githubusercontent.com/21200061/163443243-e3f52636-8207-4a95-a426-96911858ce50.png">

[2022-04-14 18:34] lukeoftheshire commented on #442
QA tested this, I can confirm the short answers now work! And yes - being unable to complete the survey is expected behavior - I was just mentioning it to underscore that we needed to fix this prior to release.

One other thing I noticed when testing is that it looks like the format of survey temporal slices has changed. For instance, here you can see a slice from a new survey:

[code]
where an ol

[2022-04-14 18:40] avaidyam commented on #442
This should not be the case. `endTime` is not a supported parameter at all, and `type` still needs to be provided. @sarithapillai8 Can you resolve this?

[2022-04-14 18:41] lukeoftheshire commented on #386
QA tested, looks good on Android!

[2022-04-14 19:00] lukeoftheshire commented on #555
The activity settings are as follows:
[code]

[2022-04-14 19:17] avaidyam commented on #555
@lukeoftheshire Thanks! I think this will work for now... we may need to convert it from `{"value": "standard"}` to `"standard"`. Thoughts?

[2022-04-14 19:29] lukeoftheshire commented on #555
I'm a big fan of having a key where possible - as I said above, if it were possible within LAMP I would prefer settings to be an object entirely.

As long as we maintain backwards compatibility I think we could leave this.

[2022-04-14 19:31] dcurrey88 commented on #530
I have updated to the new build (352) and data is collecting for iOS as well.

[2022-04-14 19:31] #530 closed

[2022-04-14 20:19] lukeoftheshire commented on #594
QA Android looks good - I can now exit a tip using the in-app back button.

[2022-04-14 20:19] dcurrey88 commented on #503
I am testing on build 352 and it looks like iOS data is in the correct format. But source is None, is this intended behavior?

[code]
We are still testing the Android version.

[2022-04-14 20:29] #594 closed

[2022-04-14 20:29] #386 closed

[2022-04-15 12:20] tlakhtak commented on #417
I cannot confirm as the phone was no longer in IST. I will test this again today, allowing the timezone change to sit for a few hours before expecting a notification.

[2022-04-15 12:52] tlakhtak commented on #517
This appears to be fixed in staging.

[2022-04-15 13:00] tlakhtak commented on #533
This issue does not appear to be fixed on dashboard-staging on the desktop, api-staging with test user, researcher 'b0b9mcsxr7z6eaepnpjv', while using admin credentials

![Screen Shot 2022-04-15 at 8 58 38 AM](https://user-images.githubusercontent.com/82968538/163573563-322c9f32-3b38-4677-9d35-b9ddc53671f3.png)

[2022-04-15 13:02] avaidyam commented on #533
@sarithapillai8 Can you switch these buttons to be anchored to the bottom of the page instead of floating (i.e. remove the absolute/fixed positioning in CSS)?

[2022-04-15 13:05] tlakhtak commented on #529
This appears to be fixed on staging.

[2022-04-15 13:08] tlakhtak commented on #526
this appears to be fixed in staging.

[2022-04-15 13:10] #526 closed

[2022-04-15 13:17] tlakhtak opened #606 "TypeError for Pop the Bubbles"
On dashboard-staging, api-staging, when I went to test Pop the Bubbles and change the game settings I encountered the following TypeError
![Screen Shot 2022-04-15 at 9 13 37 AM](https://user-images.githubusercontent.com/82968538/163575279-a5106147-a289-4e06-b2be-db6b16a2260f.png)
![Screen Shot 2022-04-15 at 9 17 36 AM](https://user-images.githubusercontent.com/82968538/163575405-7e08a01e-842a-4998

[2022-04-15 18:23] tlakhtak commented on #606
Also experienced this for a Learn Tip
![Screen Shot 2022-04-15 at 10 55 01 AM](https://user-images.githubusercontent.com/82968538/163607003-87cedf3c-4038-468d-bd26-7737964681be.png)

[2022-04-15 20:24] tlakhtak commented on #301
This appears fixed.

[2022-04-15 20:24] tlakhtak commented on #417
Can confirm this was fixed in staging.

[2022-04-15 20:25] tlakhtak commented on #574
Appears fixed in staging.

[2022-04-15 20:27] tlakhtak commented on #551
Bubbles appear all over the screen but now appear to be overlapping
![IMG_2960](https://user-images.githubusercontent.com/82968538/163628926-b9b8691f-a593-4c4d-9da2-2afc5b7a4227.PNG)
![IMG_2961](https://user-images.githubusercontent.com/82968538/163628930-5a775d0a-60f9-4788-9d52-46b76802e2c9.PNG)
.

[2022-04-15 20:27] tlakhtak commented on #486
See #551 for new error with Pop the Bubbles

[2022-04-15 20:28] tlakhtak commented on #548
Fixed in staging.

[2022-04-15 20:29] tlakhtak commented on #594
appears fixed on iOS as well

[2022-04-15 20:41] tlakhtak commented on #521
Could not test due to #606

[2022-04-15 20:42] tlakhtak commented on #520
Could not test due to #606

[2022-04-15 20:42] tlakhtak commented on #519
This functionality is working as expected.

[2022-04-16 03:52] jijopulikkottil commented on #503
@dcurrey88  Expected behaviour is `'source': null,`. Could you share the user id to check!

[2022-04-16 03:55] jijopulikkottil commented on #572
@avaidyam ignore my comment!.. I commented it without thinking -currently- we are updating the version each time we push.

[2022-04-16 04:02] jijopulikkottil commented on #573
We will check and reply

[2022-04-16 19:34] michaelmenon commented on #572
Thanks @jijopulikkottil  lets check why this issue is there in the iOS staging. Hi @avaidyam we will update on this asap.

[2022-04-18 04:41] sarithapillai8 commented on #522
@dcurrey88 @avaidyam This is fixed in dashboard-staging as part of #606 .

[2022-04-18 05:02] sarithapillai8 commented on #542
@avaidyam
Currently the start time is the time IFrame is loading. End time is not recording, instead the duration value changed with time difference between Iframe load-unload.

[2022-04-18 05:03] sarithapillai8 commented on #533
@avaidyam This is updated in dashboard-staging.

[2022-04-18 05:14] sarithapillai8 commented on #604
@lukeoftheshire @avaidyam
Can I start working on this as below or after updating documentations?
[code]

[2022-04-18 06:18] saranya-sajeev commented on #600
@nsrilakshmi96 Craah is due to the invalid end date when reading data from
Google fit. We will check and update soon.

[2022-04-18 07:11] saranya-sajeev commented on #602
@dcurrey88 In Android  we will change lamp.accelerometer format same as in iOS.

[2022-04-18 07:29] nsrilakshmi96 commented on #600
@saranya-sajeev Just a note, I've not signed into Google fit.

[2022-04-18 07:55] jijopulikkottil commented on #508
@dcurrey88
1. When we check iOS user, https://api-staging.lamp.digital/participant/U5053982269/sensor_event, there is 'GPS disabled'  analytics and we couldn't find the push device-token.
Also we logged in using U5053982269, and it is collecting data from device.

2. We are seeing sensor data from April 12 to April 15 for the android user U9848191154
https://api-staging.lamp.digital/participant/U9

[2022-04-18 07:58] saranya-sajeev commented on #600
@nsrilakshmi96 thanks for the note. We will check it.

[2022-04-18 10:43] jijopulikkottil commented on #572
@dcurrey88 For iOS user U6942434912 , checked with /participant/U6942434912/sensor_event api, it is collecting no sensor data after updated to latest version of app.

[2022-04-18 11:19] jijopulikkottil commented on #573
@dcurrey88 @avaidyam We think the location service is already turned on for the mindLAMP2 app. that's why it is not asking the permission again.
Please check **mindLAMP 2** app is listed under  `Settings -> Privacy -> Location Services`

We can confirm another way that , turn-off location services and relaunch (quit from background and open) the **mindLAMP 2** app , then app will show an alert tha

[2022-04-18 13:00] #417 closed

[2022-04-19 08:12] divyav2020 opened #607 "Notifications firing after logout for once"
Notifications are firing even after participant  logs out of the app. The issue is that device token is not getting removed from respective cache. for logout action.
The result is that the particular notification gets fired for once, which is not expected.

[2022-04-19 08:15] Linoy339 commented on #607
This has been fixed in staging

[2022-04-19 09:16] divyav2020 commented on #607
Updated in Staging

[2022-04-19 12:17] dcurrey88 commented on #522
This appears to be working in the staging dashboard now.

[2022-04-19 12:17] #522 closed

[2022-04-19 12:20] dcurrey88 commented on #573
Does deleting and re-downloading the app not reset the Location Services permissions?

[2022-04-19 12:32] dcurrey88 commented on #572
This appears to be working in staging.

[2022-04-19 12:32] #572 closed

[2022-04-19 12:33] jijopulikkottil commented on #573
We tested that behaviour. The location is turned on (previous state) when we check the `Settings -> Privacy -> Location Services` after delete mindLAMP app also after reinstall (delete and re-download) without open it. @divyav2020  could you confirm.

[2022-04-19 12:49] lukeoftheshire commented on #503
@avaidyam @jijopulikkottil  for this specifically null/None issue specifically - correct me if I'm wrong but I think this may just be a difference between how JS and Python handle null data - so this may not be a *bug* per se.

[2022-04-19 13:01] lukeoftheshire commented on #503
Additionally, there are some oddities happening with step data. Per issue https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/133 it looks like we set a goal of having step counts in the db reflect steps taken since the last query (i.e. 10 steps taken between 8:50 and 8:55). However, during testing the following sensor events were generated:

[code]
and
[code]

When the timestamps are c

[2022-04-19 13:10] lukeoftheshire opened #608 "Add additional modules to LAMP-ide"
We should make a collection of (additional) python modules that should be installed by default in LAMP-ide.

- cortex
- pymongo (DB manipulation)
- coverage

[2022-04-19 13:33] divyav2020 commented on #606
We have updated in Staging

[2022-04-19 13:36] divyav2020 commented on #542
We have updated in staging

[2022-04-19 13:37] divyav2020 commented on #533
We have updated in Staging

[2022-04-19 13:48] Linoy339 commented on #599
@avaidyam .  Can we push this to staging?
If we release this week, this would also gets pushed to live. If the release is planned next week, QA will get enough time for testing it

[2022-04-19 17:08] avaidyam commented on #604
@sarithapillai8 Thanks, please do begin working on this issue!

[2022-04-19 17:09] avaidyam commented on #602
@jijopulikkottil @saranya-sajeev Are there any implementation differences between lamp.accelerometer and lamp.device_motion on iOS right now?

[2022-04-19 17:17] #607 closed

[2022-04-19 17:19] avaidyam commented on #503
We should still be seeing `None` instead of `null` though?

[2022-04-19 17:22] avaidyam commented on #599
Unfortunately we want to push to production this week, so please hold off on merging this into staging! You can keep an open PR for this though.

[2022-04-20 01:17] sarithapillai8 commented on #604
@avaidyam @lukeoftheshire
I am  not clear with all the parameters.
 1. Is this to be followed on every activity?
 2. In the case of cats and dogs, total questions will always be 0, right?
 3. Is this rating expecting score value?

[2022-04-20 04:38] Linoy339 commented on #599
Okay. We can do after the release

[2022-04-20 12:29] jijopulikkottil commented on #602
on iOS, `lamp.accelerometer` data is
[code]
But on Android `lamp.accelerometer` data is
[code]
Now Android side fixing it to make similar to iOS.

[2022-04-20 13:50] lukeoftheshire commented on #604
- Could you clarify 1, please? I think these specific static_data adjustments only need to be made to cats and dogs for now (unless we find more stuff while testing)
- For 2, I think total questions will always be 45 - I'd say it's better to have it in case we ever convert cats and dogs to be of variable length.
- I'll be honest, I don't know what rating is intended to be here - maybe @avaidyam ha

[2022-04-20 17:07] avaidyam commented on #602
Thanks! `lamp.accelerometer` should be the raw `x, y, z`, and `lamp.device_motion` should be the more complex object with `attitude, gravity, magnetic, motion, rotation` fields, with their own `x, y, z` sub-components. Both of these must be separate SensorSpecs, so if you add `lamp.accelerometer`, you get the RAW data, and if you add `lamp.device_motion` you get the filtered sub-component data. @j

[2022-04-20 17:13] lukeoftheshire commented on #604
Seems like removing `rating` from the docs is the move then and there's no need to add it to cats and dogs.

[2022-04-20 17:52] jijopulikkottil commented on #602
@avaidyam  Yes correct.

[2022-04-21 14:08] tlakhtak opened #611 "Red Notification Bubble on Top Right Corner of App Icon"
Red bubble with a number indicates that a notification is there but even when it is completed the number does not go down or the bubble does not disappear.

[2022-04-21 14:14] lukeoftheshire commented on #584
Hi @sarithapillai8, the researcher sent along this additional list of server logs:

[code]

They are using the latest version of the LAMP server on an iOS device. They also add that this error appears to fire on logout.

[2022-04-21 15:06] sarithapillai8 commented on #584
@lukeoftheshire
Are they using latest LAMP-dashboard? This logout sensor events are added from dashboard not from server. So could you please confirm?
 @avaidyam

[2022-04-21 17:38] lukeoftheshire opened #613 "Add 'direction' to Spatial Span test static data"
Currently there is no way to determine whether a spatial span task is "forwards" or 'backwards'. We should add a "direction" key to the static_data to let us know which direction the task went.
[code]

[2022-04-21 17:39] avaidyam commented on #613
There should be such a configuration key for the `Activity` object. Do you feel it makes a significant enough quality of life improvement to also re-encode this info as part of the `ActivityEvent` object?

[2022-04-21 17:59] avaidyam commented on #613
I think there's more merit to having versioned access? For example, `Activity.list()` would have an optional parameter to return all prior versions of the objects, and `Activity.get()` would have a `between` timestamp range parameter pair. Under the hood there's already a semi-decent versioning system with `timestamp` on every object.

[2022-04-21 18:00] avaidyam commented on #613
Also, no, we do not want to go back to having separate forwards/backwards variants. There's a GitHub issue specifically about merging them from last year I recall.

[2022-04-22 17:48] lukeoftheshire commented on #503
We are seeing `None` in python - so that's expected.

[2022-04-22 18:16] lukeoftheshire opened #615 "Unable to select 12 in time picker"

[2022-04-22 18:22] tlakhtak commented on #615
https://user-images.githubusercontent.com/82968538/164771934-e011b18a-ef3d-4d50-84bb-582197004638.MP4

![Image from iOS](https://user-images.githubusercontent.com/82968538/164772002-e294df60-7c0e-490e-83e1-8ddccb22c6f9.png)

[2022-04-22 18:24] lukeoftheshire opened #616 "Jewels Issues Tracker"
Currently the code for Jewels has a few problems. It is essentially undocumented, which makes it difficult to figure out what each function does. In addition to this:

- How the number of jewels increase from level to level is extremely esoteric - as near as I can tell:
  1. at the end of each successfully completed level a certain number of bonus points is assigned, equal to the remaining time mi

[2022-04-22 18:26] tlakhtak commented on #611
I got a notification at 7pm as per the feed. As you can see activities were completed. Yet, the notification bubble did not go away.

![IMG_3099](https://user-images.githubusercontent.com/82968538/164772985-cc197e80-c1f5-4671-90a4-e3906c7747bd.png)
![IMG_3100](https://user-images.githubusercontent.com/82968538/164772982-44d370a6-09b3-42b1-ac38-6d7176c2c6d2.jpeg)

[2022-04-22 20:23] tlakhtak opened #617 "Matrix Survey UX/UI design updates for mobile readability"
The matrix survey operates as intended, however, it has a tendency to look a little bit cramped on a phone screen. We would like to implement the following updates to improve its output:

1. Add fixed white space between matrix responses

2. Anchor the header (defined as Option Text and/or Option Description in the settings for matrix) such that the user can always see the corresponding response o

[2022-04-22 20:29] tlakhtak opened #618 "Updates to Surveys visualization via Cortex on Portal page"
1. Currently, individual survey responses (expanded view of surveys) require a user to scroll to see all the responses. It would be useful to have them snap to fit the screen on mobile.

2. On the aggregate view of the survey, the response looks like 0 despite the fact that individual questions have numbers corresponding to them and these can be visually represented individually.

[2022-04-23 19:37] #550 closed

[2022-04-25 04:51] saranya-sajeev commented on #602
@avaidyam lamp.accelerometer dat modified as iOs and given for Qa testing.

[2022-04-25 04:52] saranya-sajeev commented on #600
@avaidyam We have fixed the crash and given for QA testing.

[2022-04-25 04:59] saranya-sajeev commented on #592
@nsrilakshmi96 Is this issue exists in the new beta build?

[2022-04-25 05:35] jijopulikkottil commented on #611
At the time of development, we experienced the [same issue](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/179#issuecomment-1008566383) once. The delivered-notifications count returns non-zero value even if there were no mindLAMP notifications listed in notification center. And it automatically cleared after some time.

[2022-04-25 06:23] sarithapillai8 commented on #615
@avaidyam
It was done like 00:00 AM is for 12 am. It was asked to keep the range 0-12(standard) and 0-24(military) in the requirement -  https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/404.
FYI 0 to 23 need to be kept for military time as there will not be a way to set time like 12.15am or 12.45am. We will be changing the standard time.

[2022-04-25 06:41] sarithapillai8 commented on #604
@lukeoftheshire Could you check and confirm the event data now?

[2022-04-25 08:08] ZCOEngineer commented on #442
@avaidyam is there anything pending on this issue?

[2022-04-25 08:15] divyav2020 commented on #615
We have updated the time range from 1 to 12 (Standard) in Production

While testing, we have got an issue in Military time update.

[2022-04-25 09:01] jijopulikkottil commented on #575
`Can you see if it's possible to remove the notification instead of just an expired alert?`
Yes.

[2022-04-25 10:06] saranya-sajeev commented on #532
@avaidyam We have created a separate workflow file for WearOs.  We will merge it to the main workflow once it is completed. Now it is showing following error  and we are working on it. We have checked the syntax on [yamllint](http://www.yamllint.com/) and it says it is valid.

Error: .github#L1
every step must define a `uses` or `run` key

[2022-04-25 11:37] sarithapillai8 commented on #615
@avaidyam @divyav2020
Issue fix including UI fixes are updates in production.
Survey military time update issue is fixed (LAMP-dashboard) in dashboard-staging.  Production update required.

[2022-04-25 11:50] divyav2020 commented on #615
Tested the time range update (Standard time) and UI fixes in Production.

We have updated the Military time Issue fixes in Staging.

[2022-04-25 12:11] lukeoftheshire commented on #604
Actually - one final thing. It looks like the `score` parameter, which was the percentage of correctly answered questions, was removed. It could still be calculated, since we have total_questions and correct_answers, but if someone had an algorithm that relied on that variable this would break backwards compatibility. @avaidyam, do you think we should add that back in?

[2022-04-25 12:13] jijopulikkottil commented on #575
Reviewed the iOS code, for  remote-notifications, we are removing delivered notifications by using a timer. And we are showing expired alert in case the notification is still there and user tap on it. So we have nothing to work on this.

Similar to Android TTL, iOS using `apns-expiration` @Linoy339 hope we are using this header.

[2022-04-25 12:39] Linoy339 commented on #575
@jijopulikkottil . Yes, we use the header field, `apns-expiration`

[2022-04-25 12:49] jijopulikkottil commented on #508
We are getting lamp.telephony data, we will login using the same above userid and can check.

[2022-04-25 12:59] saranya-sajeev commented on #532
@avaidyam We have fixed the jar signer issue, it was due to the signing configuration already defined in the build.gradle file.

[2022-04-25 13:07] saranya-sajeev commented on #532
@avaidyam Now we got below issue. I thnik it is due to same package name used for both mindLamp and wearos. We wil check on it.
Error: Error: APK specifies a version code that has already been used.

[2022-04-25 13:20] avaidyam commented on #611
@jijopulikkottil So if I understand correctly, this is not something that we can fix because it's an Apple-side issue?

[2022-04-25 13:22] #615 closed

[2022-04-25 13:23] avaidyam commented on #604
@lukeoftheshire I think it's fine to remove the `score` parameter. We shouldn't store easily calculated values.

[2022-04-25 13:23] #604 closed

[2022-04-25 13:25] avaidyam commented on #575
Can we send an updated push notification after the expiration to remove the original one? Or is that the implementation you're both referring to?

[2022-04-25 13:28] #508 closed

[2022-04-25 13:30] saranya-sajeev opened #619 "Android build workflow issue"
Remove protection  of master branch  on LAMP-core-android repository to fix Androd workflow. https://github.com/BIDMCDigitalPsychiatry/LAMP-core-android/settings/branches .

[2022-04-25 13:48] avaidyam commented on #619
This is now completed.

[2022-04-25 13:48] #619 closed

[2022-04-25 13:57] lukeoftheshire commented on #613
I don't think having versioned access is *bad*, certainly - but that feels like a fairly sizable undertaking considering the other features we are currently working on - unless my understanding of our backend is incorrect that would require a fair amount of change to our database. An idea that has come up before is being able to use a single ActivityEvent to reconstruct the participant's `path` th

[2022-04-25 14:11] sarithapillai8 commented on #442
@avaidyam
Yes. It was updated.

[2022-04-25 15:41] lukeoftheshire commented on #616
Once this is resolved, the page at https://docs.lamp.digital/data_science/data_types/activity_types should be updated to reflect any changes.

[2022-04-25 15:48] lukeoftheshire opened #620 "Invisible Overhang"
There is a small invisible overhang present on the dashboard, that prevents clicking any element near the top of the page.

For example, the 'Add' button here is entirely uninteractable.
<img width="1062" alt="Screen Shot 2022-04-25 at 11 45 31 AM" src="https://user-images.githubusercontent.com/34659264/165125273-275337ea-9c26-4eb0-9072-125e94f3d888.png">

It would be nice if this overhang could b

[2022-04-25 15:52] lukeoftheshire opened #621 "Remove unimplemented methods from LAMP-py"
If we no longer support certain api methods (ActivityEvent all_by_researcher) they should be removed from LAMP-py.

`LAMP.ActivityEvent.all_by_researcher('ffmz65mn1gtav5fq3bhq')` returns a 404 endpoint unimplemented error, but the all_by_researcher function still exists and even autocompletes - this will lead to confusion in users of LAMP-py.

[2022-04-25 16:06] lukeoftheshire opened #622 "Extraneous static_data"
Spatial Span includes a `type` variable in static data which is currently hardcoded to always be 1. This value should not be included if it's not adding information in some way.

[2022-04-25 16:09] lukeoftheshire commented on #622
Also - I'm pretty sure duration for the first trial in each new 'set' includes the time spent showing the sequence, since my durations for those trials are approximately 6 seconds on average, compared to .8 seconds for other trials.

[code]

[2022-04-25 20:18] lukeoftheshire opened #624 "Onboarding is too fun"
The onboarding is too engaging and people don't want to do anything else.

[2022-04-26 03:26] nsrilakshmi96 commented on #592
@saranya-sajeev No, haven't had this issue in beta. Thanks!

[2022-04-26 04:04] saranya-sajeev commented on #592
@nsrilakshmi96 thanks for the update.

[2022-04-26 13:25] lukeoftheshire opened #625 "Spinning wheel when loading schedules"
A collaborator reports:

In attempting to confirm the survey schedule for an active participant (by clicking on the gear icon next to the participant ID), I’m encountering a white spinning wheel that is not resolving.

This is happening on multiple browsers, for all participants and persists after clearing the cache.

EDIT by @avaidyam: [The original forum thread can be found here.](https://mindla

[2022-04-26 17:51] lukeoftheshire commented on #625
More info:

As for the activities, we have configured 7 separate studies that have a different combination of scheduled surveys (7:30pm or 9pm each night), +/- sensors, “informant” vs. “participant”, and pilot testing. But the only activity schedule we are running is a nightly 5-question survey. I can confirm that I’m seeing the spinning wheel for each participant, and also when I click on the “ac

[2022-04-27 22:02] FrancisThibaultNRC commented on #584
@lukeoftheshire ,
In fact, I used your dashboard (dashboard.lamp.digital, version 2022.2.22) to create the study and even if I use the App mindlamp 2 version 2022.4.23, when I logout from the App, I am still having that bad POST while looking at the log of the dcoker server container:

[2022-04-28 06:20] #592 closed

[2022-04-28 06:26] avaidyam commented on #575
Thanks, @jijopulikkottil, this is incredibly helpful! I think I better understand now where we are on this. No remaining questions from my end.

[2022-04-28 08:34] Linoy339 commented on #584
@FrancisThibaultNRC .  Did you place variables `CACHE_SIZE` and `CACHE_FLUSH_ALL` in env ? If yes, can you please let us know the values which you have kept in ?

[2022-04-28 10:00] Linoy339 commented on #575
@avaidyam @jijopulikkottil .
From the above explained, we have to do 3 things here:
1)We need to provide UNIX epoch date expressed in seconds (UTC) here :
[https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/blob/master/src/queue/SchedulerQueue.ts#L194]
(https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/blob/master/src/queue/SchedulerQueue.ts#L194)
2)We need to add TTL here  : [https://githu

[2022-04-28 10:13] sarithapillai8 commented on #584
@lukeoftheshire We are not yet able to reproduce this. Tried different logins, we could not see such requests.
Failure Msg On sensor events post 403.security-context-out-of-scope
POST /participant/U6554671513@lamp.com/sensor_event 403 - 43.846 ms

@avaidyam With assumption, we did one change and added PR a few days back. As we couldn't reproduce the issue, we put that PR on hold. https://github.co

[2022-04-28 10:34] sarithapillai8 commented on #625
@lukeoftheshire
Is the loading spin appears both on the activities tab and on opening participant settings page? Can we get any video recording of the issue?

[2022-04-28 12:40] FrancisThibaultNRC commented on #584
Good morning @Linoy339,

We did not set those two variables,, I guess default values will be assumed.

Thanks.

Francis

[2022-04-28 12:50] Linoy339 commented on #584
Good morning  @FrancisThibaultNRC
Can you please confirm that you are using latest LAMP-server version (bidmcdigitalpsychiatry/lamp-server:2022 or bidmcdigitalpsychiatry/lamp-server:latest ?

[2022-04-28 12:54] FrancisThibaultNRC commented on #584
@Linoy339,
we are using the latest version of LAMP-server.
Francis

[2022-04-28 13:00] Linoy339 commented on #584
Can we have the api server url and credential (test credential) to check from our side
or can you check latest sensor event record inserted for U6554671513 ?

[2022-04-28 13:15] Linoy339 commented on #584
Thanks @FrancisThibaultNRC. Please let us know

[2022-04-28 13:23] Linoy339 commented on #584
Also, Can we confirm that the database you are using is `mongodb` ?

[2022-04-28 15:37] lukeoftheshire opened #626 "Mismatch in login events"
Events fire with different keys depending on whether you log-in from a phone or internet:

[code]

Notice that the login via the web fires with `type`:`login`, where the login via the app fires with `action`:`login`

These should be consistent across all ways to access LAMP - ~I'd favor changing both to `action`~ see my comment below - I actually now think `type` might be more appropriate

[2022-04-28 15:47] FrancisThibaultNRC commented on #584
We have been using apache/couchdb in the docker env, so I do not know if mongodb is used behind the scene.

[2022-04-28 17:38] Linoy339 commented on #584
@FrancisThibaultNRC .
Okay. Thanks for the information.

[2022-04-29 02:51] avaidyam opened #628 "Resolve _verify logic for Security module"
(Please see prior email for details.)

[2022-04-29 05:14] Linoy339 commented on #628
@avaidyam .
We assume that the idea is to remove the vulnerability in LAMP-server which results in creating resource like activities, sensors, participants from invalid parent id.( `_verify `will incorrectly allow the user to insert activity to a study that does not exist. )

Can you confirm ?

[2022-04-29 05:15] avaidyam commented on #628
That's correct. @michaelmenon mentioned a solution was already prepared/ready so I am creating an issue to formally track it (so we don't forget to include this in the next production release).

[2022-04-29 05:19] Linoy339 commented on #628
We believe that we have given 2 suggestions or solutions :
1) The _verify function need to be tweaked to check against the authObject (study/researcher id) supplied and allow only if the same exists in the database.
2) As we publish data to nats, we can collect the data from LAMP-worker and check with the resource id and there by deleting it if no owner exists for this resource.

Can you please su

[2022-04-29 06:03] avaidyam commented on #628
Option 1 is the correct one here. Please do that.

[2022-04-29 06:06] Linoy339 commented on #628
Sure @avaidyam . We can do that

[2022-05-02 04:10] sarithapillai8 commented on #626
@lukeoftheshire @avaidyam
https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/506#issuecomment-1046890343
@avaidyam It was asked to use 'type' key for this. We have all the sensor events(open_page) from dashboard with type key. So could you please confirm changing this?

[2022-05-02 04:34] ZCOEngineer commented on #602
QA is in progress on this issue. we noticed a discrepancy and @saranya-sajeev is fixing it.

[2022-05-02 04:47] divyav2020 commented on #600
This issue fixed in staging. But got another issue while testing. We will update the status once those issues are fixed in android

[2022-05-02 07:20] sarithapillai8 commented on #584
We are not yet able to reproduce this issue.

[2022-05-02 07:22] Linoy339 commented on #584
@FrancisThibaultNRC
Did you find any `sensor_events ` for this user ?

[2022-05-02 09:16] saranya-sajeev commented on #532
@avaidyam wearosa pp and minLamp should have same package name and so we have added an empty commit in wear os workflow to make the version code different. Currently we are getting below error and we are working on it.

You cannot rollout this release because it does not allow any existing users to upgrade to the newly added APKs.

[2022-05-02 11:44] jijopulikkottil commented on #139
HI @avaidyam, The new entitlements are working fine. It is asking permissions. Hope we can start its integration.

[2022-05-02 12:22] FrancisThibaultNRC commented on #584
Good morning @Linoy339 ,
yes I have finally found some sensor events for that user, however, no screen_state event recorded.
Thanks.
Francis

[2022-05-02 12:26] Linoy339 commented on #584
Thanks for the information @FrancisThibaultNRC .

[2022-05-02 13:03] lukeoftheshire commented on #608
- coverage

[2022-05-02 13:14] Linoy339 commented on #575
@avaidyam .
As we have nothing to do in this, We believe we can close this issue. Can we do it ?

[2022-05-02 13:46] lukeoftheshire commented on #626
Just gonna chime in to say that we've refactored the code that led to us discovering the issue -- I actually now think it may be better to use `type` to minimize the number of keywords used across LAMP

[2022-05-02 17:16] tlakhtak opened #629 "mindLAMP "Interrupted error" bug when opening home page"
The following error appeared for User U7851221787 after the most recent update, on an Android device LG K30, version 9, whenever they open the app.

![Screenshot_20220429-191357](https://user-images.githubusercontent.com/82968538/166269068-4afb1304-009d-4cf5-b8ef-40a03763e2b7.png)

[2022-05-03 14:22] lukeoftheshire commented on #625
Hi @sarithapillai8 yes, the spinning wheel is appearing for particpants and the activities tab.

I will try to get a video recording.

[2022-05-03 14:43] jeydude commented on #579
Sorry forgot to update solution we applied to fix this, we restored the files from the server backup.

[2022-05-03 15:23] jeydude opened #631 "CouchDB to MongoDB migration"
Hi,

Recently we had few issues with CouchDB
1. While submitting multiple delete requests with CouchDB, CouchDB got into corrupted status
2. While CouchDB was doing data compression, CouchDB got into corrupted status

We are thinking to migrate CouchDB to MongoDB.

I believe mindLAMP platform supports MongoDB, what steps do we need to follow for migrating CouchDB to MongoDB.

We are in the middle

[2022-05-03 16:38] jijopulikkottil commented on #626
For all `lamp.analytics`, we are using following events as `action`
 "login"
"notification"
"logout"
"log"
"lowpowermode"

So should we update all as `type` rather than `action` ?

[2022-05-03 18:47] tlakhtak opened #632 "Matrix Survey Response renders textbox instead of matrix"
We found an issue with all of the matrix surveys on the LAC version of the dashboard after they updated to the latest version (2022.4.23). See images below. All of the matrix surveys turned into text boxes
![thumbnail_image001](https://user-images.githubusercontent.com/82968538/166521910-45b2ec40-936e-46b1-93bf-0c7d104f9e4f.png)
![thumbnail_image002](https://user-images.githubusercontent.com/82968

[2022-05-04 04:51] saranya-sajeev commented on #629
@tlakhtak is this user logged in to Gogole fit ?

[2022-05-04 04:55] avaidyam commented on #628
Has this been completed yet, @Linoy339 ?

[2022-05-04 05:09] jijopulikkottil commented on #626
@avaidyam  Could you confirm my above comment ?

[2022-05-04 05:19] Linoy339 commented on #628
No @avaidyam .  We will push this week

[2022-05-04 05:55] avaidyam commented on #626
@sarithapillai8 @jijopulikkottil Let's stick to `type` as @lukeoftheshire says. Please replace `action` as well, but please make sure `LAMP-worker` is able to use either, for backwards compatibility reasons.

[2022-05-04 05:59] avaidyam commented on #139
@jijopulikkottil Yes, please begin testing and integration for staging. For now, please restrict these sensor types to only the server addresses from the domain group `*.lamp.digital`.

[2022-05-04 06:00] #575 closed

[2022-05-04 06:07] Linoy339 commented on #626
@avaidyam . We will be having some changes in LAMP-worker.

[2022-05-04 06:07] avaidyam commented on #631
We do not support the ability to directly manipulate or interface with the platform's underlying database. The `server` module operates under the assumption it (or multiple coordinating instances of the server) is the only actor reading, writing, updating, or deleting documents from the database.

Unfortunately, we can't offer any support for CouchDB itself; you'll need to make an issue or seek he

[2022-05-04 06:07] #631 closed

[2022-05-04 06:10] avaidyam commented on #632
@sarithapillai8 I suspect this is due to #442? Is this expected behavior? If so, @tlakhtak, the guidance here would be to re-create the survey as it should work correctly then.

[2022-05-04 06:28] sarithapillai8 commented on #632
@avaidyam Yes this is expected behavior. First question is matrix type and there is no preceding type, it will render as text. If the first question is rating and next is matrix, then it will show as matrix with rating options.

[2022-05-06 07:17] Linoy339 commented on #628
@avaidyam . While we are in the progression, we came to see something which seems to be corrected:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/couch/TypeRepository.ts#L47](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/repository/couch/TypeRepository.ts#L47)

Here, the data is returned as `null `for always. Can we tweak this to return th

[2022-05-06 07:40] jijopulikkottil commented on #139
Ok, we just tested few sensors with a sample app and able to fetch data after 2 days.  The `rotation rate` sensor doesn't  return any data even after 3 days. But as per above [comment](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-944364602), we are not going to fetch `Core-Motion` sensors. So not bothering about that now.

Hope we should add this implementation t

[2022-05-06 07:55] avaidyam commented on #628
The owner of a `researcher` is always `null` (i.e. root/there is no parent). Please do not tweak this (correct) code!

[2022-05-06 07:56] avaidyam commented on #139
Thanks, that's helpful to know!

[2022-05-06 08:45] Linoy339 commented on #628
@avaidyam Got it.
Actually, we are working the strategy of validating the `authObject`.
So with this implementation, when, someone calls the api, `@POST http://localhost:3007/study/invalidstudy/activity` where `invalidstudy` is an invalid study id, this would not results in creating new resource(activity), as we checks for the study given( `invalidstudy ` ) with the code:
` let _owner = await Type

[2022-05-06 11:25] avaidyam commented on #628
The simplest solution would be to throw a context error (i.e. `throw new Error("404.resource-not-found")`) or something at the `return null` line at the bottom of that function. That error would propagate upwards to the service function and return the HTTP 404 error automatically.

[2022-05-06 11:35] #611 closed

[2022-05-06 12:14] Linoy339 commented on #628
Can you check this :
[Can you check this :
https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/200](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/200)

[2022-05-09 06:01] saranya-sajeev commented on #629
@avaidyam @tlakhtak is this user logged in to Gogole fit ?

[2022-05-09 09:20] saranya-sajeev commented on #626
@avaidyam Renamed action to type in Android  and given for Qa testing.

[2022-05-09 10:26] ZCOEngineer commented on #569
QA testing is in final stages

[2022-05-09 10:57] divyav2020 commented on #602
We have updated in staging

[2022-05-09 10:58] divyav2020 commented on #600
We have updated in staging

[2022-05-09 11:41] sarithapillai8 commented on #521
@tlakhtak @avaidyam Could you please recheck?

[2022-05-09 11:44] ZCOEngineer commented on #625
Hi @lukeoftheshire , @avaidyam we were not able to reproduce this issue

[2022-05-09 11:45] sarithapillai8 commented on #584
@avaidyam We have added a fix for the issue. The issue found after tab change from browser. Hope this is the same happening with mobile app on hidden/visibility event changes. Update is available on dashboard-staging now.

[2022-05-09 12:23] divyav2020 commented on #626
We have updated in Staging

[2022-05-09 12:45] FrancisThibaultNRC commented on #584
@avaidyam ,

So you have been able to reproduce the issue, great news!

Thank you so much.

Francis

[2022-05-09 13:29] divyav2020 commented on #569
We have updated in staging server.
[LAMP_Admin Website_Memory Game.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8652120/LAMP_Admin.Website_Memory.Game.xls)

[2022-05-09 13:38] saranya-sajeev commented on #600
@avaidyam We have pushed the build to beta and it is in review status.

[2022-05-09 13:51] sarithapillai8 commented on #584
We have checked sensor events in different scenarios and it seems fine.  As this is a backend process, @lukeoftheshire  Could you check from your side?

[2022-05-09 15:50] lukeoftheshire commented on #625
Hi @ZCOEngineer the user sent along this video in question of the issue occuring.

They have the console open but I don't see any (relevant) errors:

https://user-images.githubusercontent.com/34659264/167448003-c3257b44-6003-445e-946a-0dfd75a57c38.mov

[2022-05-10 12:50] sarithapillai8 commented on #625
@lukeoftheshire We are not yet able to reproduce this kind of issue in our test studies. I don't think it is related to activity schedules, but because of some old invalid data or something. Can we get the whole activity data to reproduce?

[2022-05-10 18:43] tlakhtak commented on #632
Can we get a demonstration of this? It is not clear to me how we would implement this, and it seems very convoluted and un-intuitive.

[2022-05-11 04:49] sarithapillai8 commented on #632
@tlakhtak Please provide the survey details to understand how you created your questions.
https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/442#issuecomment-1029194134
Please have a look at this for understanding how to create matrix questions.

I can check and update this.

[2022-05-11 12:42] sarithapillai8 commented on #632
This is fixed and updated in dashboard-staging.

[2022-05-12 12:43] #632 closed

[2022-05-12 12:45] tlakhtak opened #633 "Matrix survey rating options do not appear in one line with text descriptions"
When the option text description is long, all the ratings do not appear on the same line. All ratings should be displayed in one line and column width should be adjusted to maintain this, also text descriptions showing up continually is very redundant since they take up a lot of space.

<img width="495" alt="Screen Shot 2022-05-12 at 8 21 34 AM" src="https://user-images.githubusercontent.com/82968

[2022-05-12 13:30] tlakhtak opened #634 "Jewels to take up entire screen instead of just being restricted to top half"
We would like the jewels to take up the whole screen to make the task more robust. This should fit with dynamic screen resolution to adapt to different screen sizes.

https://mindlamp.discourse.group/t/jewels-trail-test-dispersion/585/3

[2022-05-12 19:23] liningpan opened #635 "Please update dependencies"
**Describe the bug**
Our container security scanning tool (trivy) is reporting critical and high severity vulnerabilities in the `lamp-server` and `lamp-dashboard` base image. For `lamp-server`, we can also see vulnerable node packages being used.

Let me know if you would like to see the output of our container scanning tool.

[2022-05-12 19:25] jtorous commented on #635
Yes, please do share it with us.

-John

On Thu, May 12, 2022 at 3:23 PM Lining Pan ***@***.***> wrote:

[2022-05-12 19:26] liningpan commented on #635
`lamp-dashboard`:
[code]

`lamp-server`:
[code]

[2022-05-13 04:29] jijopulikkottil commented on #139
In the above [comment](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-944364602, ), we are instructed to do it as automatic without knowing the properties. To accomplish this, we have to implement Objective C runtime and KVC. It might be complex as it have inner objects and we won't have control over the key names.

Currently we make each `Sample` as Encodable by s

[2022-05-13 15:53] avaidyam commented on #632
@tlakhtak @sarithapillai8 Going forwards our team will be strict about any kind of data format or API change that affects implementation and compatibility across sites. **Anything JSON/API related must be shared in full detail and approved by myself and @lukeoftheshire before merging into staging.**

[2022-05-13 16:01] avaidyam commented on #139
For the initial version, that is fine. We can refine the implementation later.

[2022-05-16 02:48] ZCOEngineer commented on #635
We are going to review this today, shall updates comments on this soon.

[2022-05-16 08:35] ZCOEngineer commented on #629
@avaidyam any updates here?

[2022-05-16 11:59] ZCOEngineer commented on #633
We are trying to reproduce this

[2022-05-16 12:03] sarithapillai8 commented on #634
@avaidyam We can fix and update it soon.

[2022-05-16 12:06] sarithapillai8 commented on #635
@avaidyam There are some new vulnerabilities. We are trying to update some packages. And after that we need to have a full round testing. We will update you ASAP.

[2022-05-16 13:02] #503 closed

[2022-05-16 13:04] #602 closed

[2022-05-16 13:07] #629 closed

[2022-05-16 13:09] #599 closed

[2022-05-16 13:10] #628 closed

[2022-05-16 13:12] #542 closed

[2022-05-16 13:13] #519 closed

[2022-05-16 13:13] #606 closed

[2022-05-16 13:14] #626 closed

[2022-05-16 13:16] #584 closed

[2022-05-16 13:17] #521 closed

[2022-05-16 13:56] jijopulikkottil commented on #503
In iOS, when fetching steps from pedometer (`source` will be null), we are fetching daily count.
But when fetch data using HealthKit, it will not be cumulative, and the `source` will not be null.

[2022-05-18 08:48] saranya-sajeev opened #637 "Android 12 OS support implementation in mindLamp."
As per google docs app must target Android 12 before November 1, 2022. https://support.google.com/googleplay/android-developer/answer/11926878

[2022-05-19 12:58] tlakhtak commented on #633
We can provide test accounts as necessary. This will be a high priority for app users since the matrix survey is not very user-friendly at the moment. Not only are the listed ratings redundant in showing them repeatedly and taking up lots of room on the screen, they also are messing up the line spacing so it's less readble =. We would like to return to the previous orientation as much as possible,

[2022-05-19 14:11] sarithapillai8 commented on #633
@avaidyam As you suggested, we used the same rating/slider component in matrix as confirmed (https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/442#issuecomment-1065141865). Before it was implemented similar to list matrix like options as column headings. Can we just use the rating component(value selected inside bubble), but options as headers for rating? Could you confirm on this?

[2022-05-19 15:01] ertjlane opened #638 "App Won't Load - Android"
**Describe the bug**
Timeline: Lamp was successfully downloaded, user account logged in. Activity data was entered. Following morning app would not load, but continually buffered. Issue continued after phone was restarted, and after app was reinstalled. Unclear if phone logged out of account prior to issue arising.

**To Reproduce**
Steps to reproduce the behavior:
1. reproducibility unclear. Occu

[2022-05-19 15:43] ertjlane opened #639 "Repeated Logout from Mindlamp 2"
**Describe the bug**
App logs out intermittently, usually after several hours. The app would then log back in on its own. Was replicated across multiple phones. Backend examination of lamp activity for one of the phones gave timestamps of logout instances (screenshots below).

**To Reproduce**
Steps to reproduce the behavior:
1. Open mindlamp after login.
2. See error

**Expected behavior**
Click

[2022-05-19 18:49] ertjlane opened #640 "App Won't Load + 'Error 403'"
**Describe the bug**
Upon being selected the lamp app produces the error screenshotted below. Selecting the 'refresh' button leads to endless buffering. This may be the same as issue #638, in which lamp buffered endlessly, but did not produce an actual error notice. The error notice will sometimes appear when the phone is opened, without clicking lamp at all.

**Screenshots**
If applicable, add sc

[2022-05-20 05:19] ZCOEngineer commented on #638
We are checking this, shall update our findings/questions soon

[2022-05-20 05:19] ZCOEngineer commented on #639
We are checking this, shall update our findings/questions soon

[2022-05-20 06:53] saranya-sajeev commented on #638
@ertjlane could you please share the log file?

[2022-05-20 07:20] saranya-sajeev commented on #638
@ertjlane is this production or staging user?

[2022-05-20 10:41] jijopulikkottil commented on #639
Hope you are getting issue when using other than the production domain (api.lamp.digital).

Could you give us the domain name and test username/password to test?

[2022-05-20 10:56] jtorous commented on #639
It is not our BIDMC/Boston one, but instead:
mindlamp-api-dev.pronet.med.yale.edu

My test account that had a logout in the issue is:

Email: ***@***.***

Password: 45yQVEEu!wsp

On Fri, May 20, 2022 at 6:41 AM jijopulikkottil ***@***.***>
wrote:

[2022-05-20 11:07] jijopulikkottil commented on #639
Could you send the email (username) to @michaelmenon 's email

[2022-05-20 11:45] jtorous commented on #639
Yes, just did!

On Fri, May 20, 2022 at 7:07 AM jijopulikkottil ***@***.***>
wrote:

[2022-05-20 14:42] divyav2020 commented on #639
We have kept the phone with the user logged in status to see if the logout issue can be reproduced, so far we have not experienced any issues, we are watching it over the weekend, shall update here as soon as we find anything

[2022-05-20 14:46] jtorous commented on #639
Thanks - it seemed to happen with notifications for activities once. But I
understand it may be hard to catch.

-John

On Fri, May 20, 2022 at 10:42 AM Divya ***@***.***> wrote:

[2022-05-20 15:02] lukeoftheshire opened #641 "Notifications crossing study"
A user was helping conduct QA testing across multiple servers. While logged into the second server, they received a notification to do an activity from a prior study (from which they had logged out) at the time which it should have fired. Since they were logged into a different study, the assigned activity didn't exist in this server and the user got a grey spinning circle.

If an activity fails t

[2022-05-20 15:16] divyav2020 commented on #638
We have logged in the app with the provided credentials. So far we have not experienced any issues. We are trying to reproduce the issue. We shall update here as soon as we find anything.

[2022-05-20 15:18] divyav2020 commented on #640
We have logged in the app with the following credentials (e@e.com, pw: q). So far we have not able to reproduce the mentioned issue. We shall update here as soon as we find anything.

[2022-05-20 15:24] jijopulikkottil commented on #639
Just to confirm that.. Are you using the above given researcher account and experience the logout issue with the same account?  Or getting logout issue with any participant account under this researcher ?

[2022-05-20 17:09] jijopulikkottil commented on #639
Tested on iOS, When login with given credentials (researcher account) on mindlamp-api-dev.pronet.med.yale.edu, it doesn't return authorization token and identity object from web page to native.

As the basic auth details are not available in the app, it will navigate to login page on next launch. This is happening now.

We can investigate this with @Linoy339.
@avaidyam

[2022-05-20 17:31] jijopulikkottil commented on #639
But When we login using a participant (e@.com), on same domain  mindlamp-api-dev.pronet.med.yale.edu, it does return authorisation token and identity object correctly. So no issues with this participant login.

[2022-05-24 05:10] divyav2020 commented on #634
We have updated in Staging
[LAMP_Admin Website_Jewels to take up entire screen.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8759704/LAMP_Admin.Website_Jewels.to.take.up.entire.screen.xls)

[2022-05-24 05:11] divyav2020 commented on #620
We have updated in Staging

[2022-05-24 05:12] divyav2020 commented on #635
We have updated in Staging

[2022-05-24 07:28] divyav2020 commented on #633
We have updated in Staging
[LAMP_Admin Website_Matrix survey rating options.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8760359/LAMP_Admin.Website_Matrix.survey.rating.options.xls)

[2022-05-24 23:53] tlakhtak commented on #633
For uniformity, is it possible to fix the column width such that there is uniform space between each of the ratings?

[2022-05-26 13:21] jijopulikkottil commented on #139
@Linoy339 please add the sensor specs mentioned [here](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-944364602) (there are 9 new specs. 'com.apple.sensorkit.ambient_light',..etc)

[2022-05-26 13:26] Linoy339 opened #642 "Add new sensor spec"
Add sensor spec mentioned here :
[https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-944364602](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/139#issuecomment-944364602)

[2022-05-26 14:15] jijopulikkottil commented on #139
@avaidyam As per the [steps](https://developer.apple.com/documentation/sensorkit/configuring_your_project_for_sensor_reading), we need to specify the usage description and privacy policy URL. Please provide the same.

1. NSSensorKitUsageDescription
2. NSSensorKitPrivacyPolicyURL
3. Description for each item (ambient_light, ambient_light, etc)

For other privacy item's (say bluetooth) description,

[2022-05-27 15:15] avaidyam commented on #633
@sarithapillai8 I think this implementation works (i.e. reusing the rating component but moving the text to the header column only) but as @tlakhtak said, we'll need the grid to be evenly spaced correctly.

[2022-05-27 15:17] avaidyam commented on #638
@divyav2020 Please also ensure you are testing on the closest possible Android device to the one @ertjlane is using.

[2022-05-27 15:22] #634 closed

[2022-05-27 15:22] #620 closed

[2022-05-27 15:22] #635 closed

[2022-05-27 15:29] avaidyam commented on #139
@jijopulikkottil Yes - for all of the above items, please say "Your _____ data is required for a clinical research study you have opted to join."

[2022-05-27 17:49] jijopulikkottil commented on #639
@avaidyam It doesn't seems to be any connection with Push notification.
On native side, we are facing the issue that, app doesn't receive login message (login message with authentication details)  when a researcher logged in.
As the authentication token is not received, app will prompt login again when relaunch app

[2022-05-27 17:56] avaidyam commented on #639
I think you may be misunderstanding the issue we are trying to solve. When a **patient** is logged in, at some arbitrary point thereafter they reopen the app to find they are now "logged out", and then a few hours later they open the app again to find that they are "logged back in". It's not related at all to researcher login.

[2022-05-27 18:04] jijopulikkottil commented on #641
1. Yes, notification should not fire after logged out. We will cross check with remote (@Linoy339 ) and local notification.
2. We can prevent from displaying the notification if it belongs to other user. To do this, we can add `ParicipantID` in push payload, and can verify with logged userid. To do this, we also need permission from apple detailed [here](https://developer.apple.com/documentation/b

[2022-05-27 18:07] jijopulikkottil commented on #639
@avaidyam  Thanks to the clarification of issue

[2022-05-30 04:47] sarithapillai8 commented on #586
This seems a change, not a bug . We didn't consider this before.

[2022-05-30 12:30] divyav2020 commented on #633
We have updated in staging

[2022-05-31 13:40] lukeoftheshire opened #643 "Inconsistency lamp.analytics notification format"
`lamp.analytics` notification SensorEvents are not consistent across different device types

From one of our test users using an android device, this is a recent notification SensorEvent:
[code]
From a user using an apple device:
[code]

Can we make it so that the android format is the same as the ios format?

[2022-05-31 14:14] avaidyam commented on #641
@jijopulikkottil I think we want to do (2) as well. In addition we should use this to remove notifications instead of showing a "notification expired" message.

[2022-05-31 20:16] ertjlane opened #644 "Missing Documentation for LAMP Activity Clustering"
**Describe the bug**
There is no documentation available for how to cluster LAMP activities, despite it being a feature.

**Expected behavior**
There is documentation available for how to cluster LAMP activities.

**Additional context**
Add any other context about the problem here.

[2022-06-01 07:08] saranya-sajeev commented on #637
@avaidyam Implementation is completed and given for Qa testing.

[2022-06-01 09:44] saranya-sajeev commented on #641
@jijopulikkottil @avaidyam In android also we can check ParicipantID in payload against logged in user id.

[2022-06-01 09:54] jijopulikkottil commented on #643
We can keep below format for both iOS and Android. @avaidyam please conform.

[code]

In iOS,
- removed 'device_type', because there is 'user_agent'
- renamed 'content' as 'payload'

[2022-06-02 14:08] jijopulikkottil commented on #639
Hope this issue is experiencing only in iOS device. @avaidyam So [this](https://stackoverflow.com/questions/20269116/nsuserdefaults-losing-its-keys-values-when-phone-is-rebooted-but-not-unlocked) could be the problem. We are also keeping the token in UserDefaults.

But as per the first [this](https://user-images.githubusercontent.com/104088715/169336102-cd7bdab0-cdff-47e0-96b5-f86979280225.JPG) co

[2022-06-02 15:17] avaidyam commented on #639
@jijopulikkottil The fix for the suspected issue was already merged into master. Can you please pull from master and test the iOS build with the staging dashboard?

[2022-06-02 20:15] Devayani0102 opened #645 "Several Issues for one user"
**Describe the bug**
User U3600685320 on Android device Samsung Galaxy S22 Ultra reported that they were experiencing 'Uncaught Exception' and ' app not responding' errors (screenshots attached). These come up randomly when clicking into an activity, a mindfulness activity, or even when click lamp app from home screen. This issue has been going on for about a month (since the last update). The use

[2022-06-03 15:23] ertjlane opened #646 "Domain Login Dropdown"
**Is your feature request related to a problem? Please describe.**
mindLAMP users are required to submit a domain during login. Domains are long, complicated, and easy to confuse with each other.

**Describe the solution you'd like**
Set the domain entry in the login to dropdown a list of pertinent domains, particularly those involved with ProNet. The dropdown would also allow users to manually ty

[2022-06-03 16:35] michaelmenon commented on #639
Hi @avaidyam  hope these were the fixes you were talking about.

This seems to be fixing the researcher logout issue which we thought initially the main issue was :

https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/622/commits/d3ed07ff2e1a01d5a1401f8d7f98c865fab79ed9

Also there seems to be one update on the iOS side :
https://github.com/BIDMCDigitalPsychiatry/LAMP-core-ios/pull/47

N

[2022-06-03 19:24] Devayani0102 opened #647 "Uncaught Exception Error"
**Describe the bug**
'Uncaught Exception' error occurred while logging into a new account on June 3rd at 1:42pm. (see screenshot attached)

**To Reproduce**
Steps to reproduce the behavior:
1. Logged out of existing account (U2211044819)
2. Logging into U7677732771 (test account)
3. Random error came up, restarting the app removed the error

**Screenshots**
![Screenshot_2022-06-03-13-43-54-272_dig

[2022-06-03 19:31] Devayani0102 opened #648 "Uncaught Exception Error"
**Describe the bug**
User U7851221787 on android device LG K30 experienced random 'Uncaught Exception' error. Restarting the app removes the error.

**Additional context**
Similar error in issue #645

**Screenshots**
![Screenshot_20220429-191357](https://user-images.githubusercontent.com/103677721/171936649-e1cf9909-9cf8-4471-8782-765823ba4359.png)

**Smartphone (please complete the following info

[2022-06-06 04:44] ZCOEngineer commented on #639
With the new iOS build too we are not getting this issue.

[2022-06-06 04:50] ZCOEngineer commented on #641
iOS and Android will check on this after #643

[2022-06-06 05:04] ZCOEngineer commented on #638
We were not able to reproduce this issue @avaidyam

[2022-06-06 05:05] ZCOEngineer commented on #640
We were not able to reproduce this issue @avaidyam, seems to be similart to #638

[2022-06-06 05:09] saranya-sajeev commented on #637
@avaidyam We have found an issue with dependency library after updating the sdk so we will update after QA testing.

[2022-06-06 12:12] jijopulikkottil commented on #139
@avaidyam In plist, we have given
`NSSensorKitPrivacyPolicyURL = https://docs.lamp.digital/privacy/`

We can push the code once verify the data collection as per latest timestamp.

[2022-06-06 12:54] saranya-sajeev commented on #643
Both Android and iOS development completed and given for QA testing.

[2022-06-06 13:08] ZCOEngineer commented on #640
We shall add an alert as well to inform the user

[2022-06-07 06:29] jijopulikkottil commented on #139
@avaidyam among these sensorkit data, only `ambient_light` data has the high frequency (about 10 record per second), hope we can implement frequency settings to this `ambient_light` to manage it.

[2022-06-07 10:03] Linoy339 commented on #641
@jijopulikkottil, @avaidyam   We have confirmed that notification are not firing after logged out.

[2022-06-07 15:06] avaidyam commented on #641
@jijopulikkottil It looks like mindLAMP is not going to be permitted to apply for that entitlement. ("This entitlement is intended for certain types of apps — such as messaging apps or location sharing apps...") so we will need to ignore item (2) for now.

Yes, we do.

[2022-06-07 15:12] avaidyam commented on #637
I'm not sure why the ETA says `10day` when this should be easy to do in less than one day. For now I'll close this issue as the PR has been merged.

[2022-06-07 15:15] avaidyam commented on #139
@jijopulikkottil Please add support for the `frequency` and `cellular_upload` parameters for all of these sensors.

[2022-06-07 15:17] avaidyam commented on #641
@jijopulikkottil @Linoy339 Has this been QA tested and confirmed fixed yet?

[2022-06-07 16:05] jijopulikkottil commented on #641
@avaidyam  QA-testing is in-progress. Can confirm tomorrow.

@lukeoftheshire Could you try once more and check whether you are able to reproduce it or not. We tried here using different user under different study but not getting the issue. We think It maybe an edge case.

[2022-06-08 03:40] jijopulikkottil commented on #139
@avaidyam , For ambient_light, we set default frequency as 1. hope this is fine rather than system default 10 (about 10 records getting per second when we fetch).

[2022-06-08 05:34] saranya-sajeev commented on #648
@Devayani0102 We have already fixed this issue and is available in beta build. Could please check the beta build?

[2022-06-08 05:41] saranya-sajeev commented on #645
@Devayani0102 We have fixed the  invalid end date issue and is available in beta build. Could you please check the beta build. Is it possible to share the log file to check the not responding error?

[2022-06-08 07:13] saranya-sajeev commented on #647
@Devayani0102 could you please share the log file or complete stack track?

[2022-06-09 05:23] sarithapillai8 commented on #641
@avaidyam @lukeoftheshire @jijopulikkottil

This is handled and updated in dashboard-staging. QA needs to confirm.

[2022-06-09 13:20] ertjlane commented on #644
docs draft: https://www.notion.so/digitalpsychiatry/Grouping-Activity-Docs-a9966c7d13284fb383449f092cb4438f

[2022-06-09 14:02] Devayani0102 opened #649 "Visualization error for survey"
**Describe the bug**
The x-axis for survey visualization is one day off. The last entered response is on June 8th, but it is plotted as June 7th on the axis.
Ideally, the last point on the axis should match with the last entered data.

The screen shot below shows the error in the visualization of PHQ-9 survey

![image001](https://user-images.githubusercontent.com/103677721/172864882-7e14c7ba-f275-

[2022-06-09 14:29] jijopulikkottil commented on #641
I just tested by programmatically manipulated the url to open when tapping on notification. And got this alert.
![Simulator Screen Shot - iPhone 13 - 2022-06-09 at 19 50 31](https://user-images.githubusercontent.com/63795052/172871869-1f162cf5-236f-4149-851a-7f2c9be50a52.png)

[2022-06-10 05:53] saranya-sajeev commented on #640
@avaidyam As we discussed in the meeting  when an exception is occurred we will show an alert with a message " Something went wrong. Please try after some time" . On click we will restart the app. Please confirm.

[2022-06-10 06:03] #643 closed

[2022-06-10 06:50] saranya-sajeev commented on #643
@avaidyam We have pushed Android build to beta and is in review status.

[2022-06-10 14:03] ertjlane opened #650 "Missing Documentation for Complex Passwords"
**Describe the bug**
We know that there is a functionality for complex passwords to be deployed within LAMP. However, there is no available documentation of how to do so.

[2022-06-10 17:35] avaidyam commented on #650
@ertjlane FYI The two relevant issues are #451 (feature request) and #491 (usage support).

[2022-06-10 17:43] avaidyam commented on #640
Please use: "Something went wrong. Please try again later."

[2022-06-10 17:46] avaidyam commented on #641
@jijopulikkottil Thanks! That's helpful to know. Can we also make sure old activity schedules are not cached by the iOS app and the backend (cc @Linoy339) is able to handle logout events correctly too (i.e. stop sending notifications to a device token once it is logged out)?

[2022-06-10 17:53] avaidyam commented on #647
@saranya-sajeev Generally, we do not have access to that and cannot provide either a log file or complete stack trace. Maybe we should reduce the font size of the stack trace to fit longer symbol names?

@Devayani0102 if this is reproducible, can you have the patient take a screenshot of the app after scrolling all the way to the right on the text? If it's not reproducible, please let me know too.

[2022-06-10 17:54] avaidyam commented on #645
@saranya-sajeev If this is fixed in the beta build, can you mark issues with the `QA testing` label? Please have your team test this first as we cannot ask patients to test bugs routinely.

[2022-06-10 18:37] avaidyam commented on #440
Update on this feature: code review on all 3 PRs is completed and I believe we are ready to share for QA testing. Since the API changes won't affect the end product, I think we should do these two things in parallel.

[2022-06-10 20:46] ertjlane opened #651 "mindLAMP Opens Blank"
**Describe the bug**
When opened from the home screen mindLAMP comes up with a perfectly blank screen. The app will reopen to the assessment screen when closed and opened again.

**To Reproduce**
See video included.

**Screenshots**

https://user-images.githubusercontent.com/104088715/173146591-695e6699-8a39-40c5-b173-0ad01f6c9c6e.mov

**Smartphone (please complete the following information):**
 -

[2022-06-10 21:08] ertjlane opened #652 "mindLAMP Location Requests Repeat After Being Denied"
**Describe the bug**
User on IOS device is repeatedly asked by the mindLAMP app to share location data.

**To Reproduce**
Unclear. Open app - if the bug is present it appears upon opening mindLAMP.

**Expected behavior**
After initially downloading the app, the user will be asked if they will share their location data with the app. The user selects 'never', and the prompt disappears. The prompt do

[2022-06-10 22:01] ertjlane commented on #646
This issue is high priority cc/@jtorous - remove from on hold

[2022-06-10 22:06] ertjlane commented on #644
Open an investigator in LAMP Dashboard.

![docgrp1.png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/07741b13-15ce-4360-8f52-66e255ca082d/docgrp1.png)

For the patient of interest, go to their ‘settings’ page (the gear icon on the right).

![docgrp2.png](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/0fe50256-696d-4b35-8c42-54fda5b8d1fc/docgrp2.png)

Select ‘Add’ to cre

[2022-06-13 04:55] ZCOEngineer commented on #651
We shall check this and update our findings.

[2022-06-13 04:59] ZCOEngineer commented on #649
We shall check this and update.

[2022-06-13 05:51] jijopulikkottil commented on #652
Yes, we are asking location permission on app launch if it is not allowed yet.
@avaidyam  Let us know if need to stop asking permission in the case of 'Denied'.

[2022-06-13 06:35] saranya-sajeev commented on #645
@avaidyam We will test and update you on this.

[2022-06-13 07:04] saranya-sajeev commented on #648
@Devayani0102 We will test here and update you.

[2022-06-13 11:22] divyav2020 commented on #645
We have checked this issue in latest Beta build and we couldn't reproduce it

[2022-06-13 11:22] divyav2020 commented on #648
We have checked this issue in latest Beta build and we couldn't reproduce it.

[2022-06-13 11:23] jijopulikkottil commented on #651
We are able to reproduce the blank-white screen with unstable internet connectivity!.
[But it is not receiving on web view Fail callbacks.]

[2022-06-13 12:19] ZCOEngineer commented on #648
We shall check more in detail and update

[2022-06-13 12:21] michaelmenon commented on #648
This seems to be fixed in beta. it should get resolved once we push beta to production.

[2022-06-13 12:37] michaelmenon commented on #645
It's fixed in beta, once beta is pushed to production it should get resolved.

[2022-06-13 12:42] jijopulikkottil commented on #641
Yes, on iOS side, we are deleting pending and delivered notifications when logged out.
On server side, @Linoy339 also confirmed this (stop sending notifications to a device token once it is logged out).

[2022-06-13 13:06] ZCOEngineer commented on #648
This issue appears same as #645 , as that was handled and pushed to beta please test this on current beta android version.

[2022-06-13 13:15] jijopulikkottil commented on #651
We can monitor the connectivity and can try to show warning/alert with retry option.

[2022-06-14 05:14] sarithapillai8 commented on #569
For the memory task

It should start with three learning/encoding trials in a row. Each trial should have the same items/location/order.

This is followed by a 60 second delay during which orientation questions are asked.

After delay, there should be a testing/recall trial, but no more learning trials.

This sequence is invariable.

Each time a Memory task is run there should be

instructions
3 l

[2022-06-14 05:15] sarithapillai8 commented on #569
The animation interval for each item should be 2 seconds. The first item interval is about 4 seconds, second item is about 0.5 seconds, and third seems about 2.5 seconds.
Would it be possible to put the instructions right under the grids? The current location is hard to notice. Would this make the screen too busy?
Autocorrection is confusing. Lots of things flash and grey in and out.
If I choose t

[2022-06-14 19:24] Devayani0102 opened #653 "Uncaught Exception (RemoteServiceException)"
**Describe the bug**
User U3868113460 on Samsung Galaxy A12 reported 'uncaught exception error'. They reported that sometimes the app gives the attached bug  when they are trying to complete an activity or are in the app and closes randomly. Date: 6/12/2022, Time: 5:54pm

**To Reproduce**
No clear steps to reproduce as the bug occurs at random.

**Screenshots**
![Screenshot_20220612-175459_mindLAM

[2022-06-15 04:55] nsrilakshmi96 opened #654 "Invalid State Exception : Invalid End Time"
**Describe the bug**
App not responding and closes automatically due to illegal state exception. Participant is on the latest beta version of the android app.

The researcher dashboard shows last passive GPS and Accelerometer in 55 and in 56 minutes respectively.

**Screenshots**
If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/46331228/173739

[2022-06-15 16:58] lukeoftheshire opened #655 "Document the DBT diary card"
The DBT diary card is not fully documented in the LAMP Data Types page in the docs. To better accomodate users who like to build or analyze activities programmatically, an entry should be added to the data types page matching the format of the existing activities.

[2022-06-15 17:21] lukeoftheshire opened #656 "Add "Save to PDF" functionality to the detailed view of DBT diary card data"
We would like to add a button to save the contents of an activity overview accessed from the portal page, for now specifically the DBT diary card, to a PDF. For example, user U449270969, a fake user with researcher created data, can see their data at https://dashboard.lamp.digital/#/participant/U4492709693/portal/activity/gte2njf56wvvqy63vd6p .

Ideally, we would like to add a download button (pro

[2022-06-16 11:04] divyav2020 commented on #586
We have updated in staging
[LAMP_Admin Website_Filter for Portal page does not persist.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8918259/LAMP_Admin.Website_Filter.for.Portal.page.does.not.persist.xls)

[2022-06-16 11:05] divyav2020 commented on #649
We have updated in staging
[LAMP_Admin Website_Visualization error for survey.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8918268/LAMP_Admin.Website_Visualization.error.for.survey.xls)

[2022-06-16 13:49] ertjlane commented on #652
@avaidyam Correct me if this is wrong, but @jijopulikkottil yes if case 'Denied' (user refuses permission for collection), we want the app to stop asking for permission.

[2022-06-16 15:36] jijopulikkottil commented on #652
yes, it will be different thing.
call info (incoming/outgoing) will collect only if `lamp.telephony` is added to that user. So the app will not request phone-call info permission if lamp.telephony not added. Let us know if any issues.

[2022-06-16 20:57] ertjlane opened #658 "mindLAMP Requests access to phone call data"
**Describe the bug**
mindLAMP requests access to phone calls for participant that has not had such data collection assigned.

**Screenshots**
https://user-images.githubusercontent.com/104088715/174115121-a57173d9-feab-445e-a224-a66eb45fd05d.mp4

**Smartphone (please complete the following information):**
 - Device: [Pixel 14]
 - OS: [android 12]
 - Version [ver 12]

[2022-06-17 21:04] ertjlane commented on #650
### Implementing Complex Passwords

A new Tag lamp.dashboard.security_preferences must be set by the system administrator to add support to control certain user account creation settings. Currently, we will support password rules. Example:

[code]

The password rule must be specified as a valid regular expression (see example above; [see RegExR to test these](https://regexr.com/)). The above expre

[2022-06-20 03:11] ZCOEngineer commented on #640
Since we wont be able to see exception if we go ahead with alert, currently there is a share option @avaidyam will check on this and update here.

[2022-06-20 03:13] ZCOEngineer commented on #648
We got this exception once last day. we have updated the library for google fit and given for testing. shall update beta if we does not get this exception.

[2022-06-20 05:41] jijopulikkottil commented on #652
@avaidyam  Could you confirm this

[2022-06-20 05:47] jijopulikkottil commented on #651
As we are getting WebView's `didConnect` delegate in both (blank-white and home page) scenarios, we inject a script to check the count of <div> elements and will consider the page is properly loaded only if the div-count is nonzero or the login event.

[2022-06-20 10:48] sarithapillai8 commented on #569
This looks really good. Everything up to the end of the delay seems great.

At the recall/recognition phase, there still is another learning sequence, which needs to be removed. It should just be a blank 3x3 grid on the left and the 9 items on the right and should be recording the subject's ability to remember the previously (before the delay) presented items/location.

There also should not be an

[2022-06-20 14:27] #650 closed

[2022-06-20 14:28] avaidyam commented on #646
@ertjlane How do you propose we track and update this list of domains independently from the dashboard codebase?

[2022-06-20 15:01] #640 closed

[2022-06-21 05:46] divyav2020 commented on #569
We have updated in staging server.
[LAMP_Admin Website_Memory Game_Update.xls](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/8946126/LAMP_Admin.Website_Memory.Game_Update.xls)

[2022-06-21 08:03] jijopulikkottil commented on #658
@saranya-sajeev Please make all 'request-access' conditional as per user's sensor configuration.

[2022-06-21 09:59] saranya-sajeev commented on #658
Ok

[2022-06-21 13:07] saranya-sajeev commented on #648
@avaidyam Invalid end time issue not got reproduced after library update so we have pushed the code to beta and is in review status.

[2022-06-21 19:29] jeydude opened #659 "mindLAMP iOS Application crashing with iPhone 12"
We have one study participant who has iPhone 12. Study participant installed the mindLAMP2 iOS app on her iPhone, and entered all her information on the log in page and clicked 'log in', the app booted her out. When she tried to re-open it, the app would just flash and kick her out again. Study team confirmed Location services is enabled, Low Power mode is disabled and participant has proper setti

[2022-06-22 06:53] jijopulikkottil commented on #659
Hope the user using the App Store version!.
Is it possible to try login on iPhone's native Safari app ?
Also is it possible to provide test user details if its different domain?

@divyav2020 Could you test with iPhone 12

[2022-06-22 12:04] divyav2020 commented on #659
I have checked  iPhone12 device with OS versions 15.0.2, 15.5 and 14.7.1 (Checked with Appstore build). Successfully Logged in and could navigate to all tabs.
Could you please provide test user details if its different domain?

[2022-06-22 15:14] Tuna9129 opened #660 "Deleted Activities?"
**Describe the bug**
Tried to pull mindLAMP activity data for each participant in a study. Activity IDs are fine, but when I try to see more details using LAMP.Activity.view(), it returns an empty list as the dict value. (suggests that the activities got deleted)

**To Reproduce**
(covered credentials so I could share the code here)
[Untitled (1).pdf](https://github.com/BIDMCDigitalPsychiatry/LAMP

[2022-06-22 20:01] Devayani0102 opened #661 "Activities edit-confirmation dialogue box error"
**Describe the bug**
For LA county:
When trying to edit an activity, a dialogue box saying "Changes done to this activity will reflect for all the participants under the study. Are you sure you want to proceed?." pops up.  This warning is only suppose to show up if you're editing groups with more than one participant in them. However,  LA county investigators can only have one participant per grou

[2022-06-22 20:12] avaidyam commented on #660
@Tuna9129 Thanks for investigating this! As you suspected, it seems like the original Activity objects were deleted, which is why there isn't any name substitution going on, and thus the field is blank even though a score exists for the ActivityEvent. I'm not sure this is fixable without un-deleting the Activities from the database? (Which is [possible using Cortex util functions](https://docs.lam