[2021-02-19 15:42] jijopulikkottil commented on #119
Hi @jeydude1 The source code to collect sleep data reside in LAMP-Swift repository. Code seems to be fine. I will update you after verification. Thanks

[2021-02-19 16:23] Linoy339 commented on #110
@avaidyam .Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/55](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/55)

[2021-02-19 16:40] jeydude1 commented on #121
We tried with Samsung Galaxy S9, Note 9, HTC Desire 530 and Moto  android phones. Let us know if you need anything else.

![DJ_Note9_9F3DC420](https://user-images.githubusercontent.com/205644/108533505-aabf6000-729e-11eb-9b1f-9acf1c71fd08.PNG)
![Screenshot_20210218-091943_Market Feedback Agent](https://user-images.githubusercontent.com/205644/108533518-b01caa80-729e-11eb-90c0-53c56c96c56d.jpg)
![S

[2021-02-19 16:41] avaidyam commented on #121
@jeydude1 This is fantastic and very helpful information for our development team! Thank you!

[2021-02-19 16:47] jeydude1 commented on #120
After looking at your iOS code from git repository

I have added following environment variables in the LAMP API Server stack
      APP_GATEWAY: 'app-gateway.lamp.digital'
      PUSH_GATEWAY_APIKEY: '<PUSH KEY We got from Rebecca>'

Now I am getting

**Error encountered sending APN push notification.**

Please let me know if you need any more information on this. Thanks!

[2021-02-19 17:06] mpagnanelli commented on #116
Hi @avaidyam
1. i tried with and whitout port definition but the error persist.
2. i use traefik.
3. i enable public network on database to check the saved data for development purpose.
4. i tried alse with APP_GATEWAY with no success, HTTPS was enabled correctly.

here my last configuration

[code]

[2021-02-19 17:25] avaidyam commented on #110
Thanks @Linoy339 - could you close the prior PR? My team will review and set up the current PR and merge it quickly.

[2021-02-19 17:35] avaidyam commented on #120
@jeydude1 it should be `APP_GATEWAY` and `PUSH_API_KEY` instead, please try that.

[2021-02-19 17:37] avaidyam commented on #116
@mpagnanelli
1. `APP_GATEWAY` should not include the `https://` in the beginning.
2. It looks like you're using `lamp-server:latest` but it should be `bidmcdigitalpsychiatry/lamp-server:2021`.

I can't seem to figure out what else could be the issue besides these two items, is everything else correctly accessible (i.e. `redis-cli` working within he `cache` container, or `app-gateway` accessible fr

[2021-02-19 17:39] Linoy339 commented on #110
@avaidyam . Its done

[2021-02-19 18:09] jeydude1 opened #124 "mindLAMP android app is not connected to Google Fit"
Android mindLAMP app is not connecting with Google Fit, this is the only error we are seeing.
`18/2/2021 04:35:43: There was an error signing into Fit. Check the troubleshooting section of the README
for potential issues.`

Steps we are following:
1. Download and install Google Fit from Android Play Store
2. Make sure Google Fit is configured and able to track steps while walking
3. Location servi

[2021-02-19 18:52] jeydude1 commented on #120
Thanks Aditya, Getting **Error encountered sending APN push notification**.

version: '3.7'
services:
  server:
    image: bidmcdigitalpsychiatry/lamp-server:2021
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    environment:
      HTTPS: 'off'
      SCHEDULER: 'on'
      ROOT_KEY: ''
      CDB: 'http://@database:5984/'
      APP_GATEWAY: 'app-ga

[2021-02-19 18:57] avaidyam commented on #120
@jeydude1 Hmm, that is odd. @Linoy339 should be able to assist you in debugging these issues so I will have him take it from here.

[2021-02-19 19:04] jeydude1 commented on #116
Yes, I have DASHBOARD_URL: 'dashboard.lamp.digital' in the lamp-server configuration

[2021-02-19 19:07] jeydude1 commented on #116
In my yaml configuration file I do not have app-gateway image, do I need this? Hope we can use your APNS service to send push notifications.

 app-gateway:
    image: 'bidmcdigitalpsychiatry/lamp-app-gateway:latest'
    environment:
      APNS_P8: ""
      APNS_AUTH: ""
      GCM_AUTH: ""
      API_KEYS: ""
    networks:
      - public
    deploy:
      mode: replicated
      labels:
        traef

[2021-02-19 19:15] avaidyam commented on #116
@jeydude1 You should not need to deploy the `app-gateway` unless you are also re-submitting your own modified versions of the iOS, Watch, Android, and WearOS apps to the app/play stores. So yes, if you have an API Key given by our team, then you are using our app gateway!

[2021-02-22 03:20] amaljofyzco commented on #124
Hey, In Android app we user doesn't get notified is the google fit connection failed | success.
I checked it its showing some auth issues in connecting with fitness server, i will figure it out soon.

Thanks

[2021-02-22 06:45] jijopulikkottil commented on #119
Hi @jeydude1 Yes, not getting sleep data when test with AppStore build. But we are getting sleep data with latest test flight build. @avaidyam

[2021-02-22 09:00] mpagnanelli commented on #116
Hi @avaidyam.

i had changed this configuration with no success.

we have our container deployed and with source synchronized with your master branch, however I also tried yours but the error is always the same.

I can access redis-cli
[code]

app-gateway is also accessible from outside.

i launch isnpect command on redis docker container, maybe there could be errors in the configuration, below ou

[2021-02-22 15:10] jeydude1 opened #125 "Manual sync option to sync data from Apple Health/Google Fit app wearable sensor data"
It is nice to have a manual "Synchronize now" option in mindLAMP app to synchronize the data from Apple Health/Google Fit app to mindLAMP database.

[2021-02-22 15:13] jeydude1 commented on #119
Thanks for testing and confirming @jijopulikkottil. Good to know we will be getting sleep data in the new releases. Appreciate much!

[2021-02-22 15:16] jeydude1 commented on #120
@Linoy339, please let me know if you need anything from me to avoid getting **Error encountered sending APN push notification**. Thanks!

[2021-02-22 15:21] jeydude1 commented on #124
@amaljofyzco, good to know you were able to reproduce the issue we are having with mindLAMP app connecting with Google Fit. Let us know if you need any more information. Thanks!

[2021-02-22 16:01] Linoy339 commented on #120
@jeydude1 . We can investigate it. Is the device token given above valid?
We can try sending a push with this device token and let us find this.

[2021-02-22 16:28] amaljofyzco commented on #124
Hi Adithya / jey

In Production build, it will show authentication error for capturing google fit data.

I need your support for figuring it out,

Steps to verify Fitness API.
- Goto [https://console.developers.google.com ](https://console.developers.google.com ) the same google account.
- Select the project and click Enable API's and services.
- Search for Fitness API and check it is enabled.

<i

[2021-02-22 16:41] jeydude1 commented on #124
@amaljofyzco, as a user of the mindLAMP app, we do not setup a project with Google Developer account for mindLAMP. @avaidyam hope you can confirm the API is enabled for mindLAMP google developer account. Thanks!

[2021-02-22 17:47] jeydude1 commented on #120
@Linoy339, Here is most recent one, let me know if you need anything. I have reinstalled and confirmed push notification and other settings are ON.
{

  device_token: '883a6cb555143bb20013b9fd07d8261aca1f484cf2ac32a28f7e010edea9120c',

  device_type: 'ios',


  payload: {

    participant_id: 'U2932822766',

    activity_id: 'kgpvyzbj098zyevz78bv',

    message: 'You have a mindLAMP activity wait

[2021-02-22 17:59] jeydude1 commented on #120
![IMG_1275](https://user-images.githubusercontent.com/205644/108749401-6681c900-7505-11eb-8918-a625b5af5750.PNG)
![IMG_1274](https://user-images.githubusercontent.com/205644/108749403-6681c900-7505-11eb-9b1d-15fe9335c132.PNG)

[2021-02-22 18:10] jeydude1 commented on #120
Got your test message on my iphone

[2021-02-22 18:10] Linoy339 commented on #120
Okay

[2021-02-22 18:15] jeydude1 commented on #120
Got another test message

[2021-02-22 18:16] jeydude1 commented on #120
Can you send this

GET / 200 - 5.289 ms

{

  device_token: '883a6cb555143bb20013b9fd07d8261aca1f484cf2ac32a28f7e010edea9120c',

  device_type: 'ios',


  payload: {

    participant_id: 'U2932822766',

    activity_id: 'wqcszngqgawy6exm35h2',

    message: 'You have a mindLAMP activity waiting for you: Test Survey.',

    title: 'Test Survey',

    url: '/participant/U2932822766/activity/wqcszng

[2021-02-22 18:20] jeydude1 commented on #120
Interesting, got above push notification on my phone. Manual testing looks good

[2021-02-22 18:21] jeydude1 commented on #120
any reason why API server is still erroring out - 2021-02-22T17:45:05.103079153Z Error encountered sending APN push notification.

[2021-02-22 18:30] Linoy339 commented on #120
@jeydude1 . May I confirm that no participants are getting notifications ?

[2021-02-22 18:37] jeydude1 commented on #120
Currently I am the only user/test who has iPhone and others are having android phones. They have mindLAMP to Google Fit connection issue. So they are not able to test the push notification.

[2021-02-22 18:39] Linoy339 commented on #120
Okay @jeydude1

[2021-02-22 18:43] Linoy339 commented on #120
@jeydude1  Can you restart the api server once, as we doubt that environment variables might not got reflected in api server?

[2021-02-22 18:59] jeydude1 commented on #120
Redeployed the whole stack

Here is the yaml configuration for API server.

version: '3.7'
services:
  server:
    image: bidmcdigitalpsychiatry/lamp-server:2021
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000 || exit 1
    environment:
      HTTPS: 'off'
      SCHEDULER: 'on'
      ROOT_KEY: 'fd804de0e9fb5bec33e888ad27c0ede41d39ff8e520c8a38fd8515618064ce24'

[2021-02-22 19:09] jeydude1 commented on #120
I believe you guys are not printing actual exception object error message in the log, i believe error is something like - Error encountered sending APN push notification\  -TypeError: Failed to fetch

[2021-02-22 21:43] jeydude1 commented on #118
@ryan-hays and @rydmel any update on documentation and generating Cortex visualization?

[2021-02-22 21:51] jeydude1 commented on #120
@Linoy339 any reason why we are not seeing Android users device token and push notification information in the log. I have 2 active android users/tester who has installed mindLAMP app on their phones.

[2021-02-22 22:13] jeydude1 commented on #120
@Linoy339 when our android users login to the mindLAMP mobile application we dont get device_type as "android" we are getting

  {
"timestamp": 1614031820344,
"sensor": "lamp.analytics",
"data": {
"device_type": "Dashboard",
"user_agent": "LAMP-dashboard/9beed4c Mozilla/5.0 (Linux; Android 10; SM-G960U Build/QP1A.190711.020; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/88.0.4324.1

[2021-02-23 02:44] jijopulikkottil opened #126 "The "source" parameter should be used across all HealthKit and Google Fit sensors"

[2021-02-23 06:00] jijopulikkottil opened #127 "Add 'duration' for the sensor event lamp.sleep"

[2021-02-23 06:07] Linoy339 commented on #120
@jeydude1. This is not the reason.
There would be two sets of data while login. One will be as stated by you (above).
Another one would be with device details with "action" as "login":
{
      _id: XXXX,
       '#parent': XXX,
      timestamp: 1610089361747,
      sensor: 'lamp.analytics',
      data: {
        action: 'login',
        user_agent: '1.1.3, iPhone, 14.3',
        device_token: '387X

[2021-02-23 06:11] jijopulikkottil commented on #127
please see the sample data for 3 minutes in bed and 1 minute sleep.

{
            "timestamp": 1614059640000,
            "sensor": "lamp.sleep",
            "data": {
                "value": 0,
                "source": "com.apple.Health",
                "type": "in_bed",
                "duration": 180000
            }
},
{
            "timestamp": 1614059580000,
            "sensor": "lamp.s

[2021-02-23 09:04] amaljofyzco commented on #121
Hei Jey,

Could you send me the credentials, When i checked, not getting the issue.

![WhatsApp Image 2021-02-23 at 14 29 34](https://user-images.githubusercontent.com/63775438/108821511-b5059500-75e3-11eb-9468-1d612e5182e5.jpeg)

[2021-02-23 14:29] jeydude1 commented on #120
@Linoy339, here is what I am seeing while user login to the applications using their mobile app. Please try this on your end and confirm.

In android, while login to the mindLAMP android mobile application

  {
"timestamp": 1614090428235,
"sensor": "lamp.analytics",
"data": {
"device_type": "Dashboard",
"user_agent": "LAMP-dashboard/9beed4c Mozilla/5.0 (Linux; Android 7.0; HTCD160LVW Build/NRD90M;

[2021-02-23 14:41] jeydude1 commented on #120
@Linoy339, About 'Error encountered sending APN push notification' in the code - https://github.com/BIDMCDigitalPsychiatry/LAMP-server/blob/master/src/utils/queue/SchedulerQueue.ts

To display error/exception message what do I need to do on my local server, if you have instructions please share. Thanks!

from:
            .catch((e) => {
              console.log("Error encountered sending APN pus

[2021-02-23 14:47] jeydude1 commented on #119
@jijopulikkottil, is there any way to test the sleep data collection with test flight build, or do we need to wait until official release with Android? If you have link for test flight build for us, please share. Thanks!

[2021-02-23 15:00] Linoy339 commented on #120
Can you console the error like this:
.then((res) => {
console.log("response",res)
              if (!res.ok) {
                throw new Error(`HTTP error!`)
              }
            })
            .catch((e) => {
            console.log("e",e)
              console.log("Error encountered sending APN push notification.")
            })
        } catch (error) {
        console.log("error",error

[2021-02-23 15:02] avaidyam commented on #120
@jeydude1 @Linoy339 I realize both of you are not formatting the code in GitHub Markdown (use three of these `: ``` to open and close the code block). I've updated your comments to format the code correctly.

[2021-02-23 15:04] jeydude1 commented on #120
Thanks for sharing the code, we are using your image "image: bidmcdigitalpsychiatry/lamp-server:2021" not sure how to update the image code, if you have instructions to get inside the image and update the code and redploy the updated image in the portainer, share with me, happy to try that. Thanks a lot!

[2021-02-23 15:07] avaidyam commented on #120
@jeydude1 If you have node and npm installed, you could `git clone https://github.com/BIDMCDigitalPsychiatry/LAMP-server.git` locally and then fill in the `.env` file with the same variables from your `docker-compose.yml`. Then, `npm install`, make the code change, and `npm start`.

[2021-02-23 15:08] avaidyam commented on #119
@jeydude1 Please see our docs at https://docs.lamp.digital → downloading the app. At the bottom are instructions for beta releases.

[2021-02-23 15:10] jeydude1 commented on #120
Thanks I will try that. Appreciate much for sharing the instructions

[2021-02-23 15:12] avaidyam commented on #127
@jijopulikkottil This looks good. It looks like HealthKit (and Google Fit) have overlapping discrete segments, which is something for data scientists to resolve when analyzing the sleep data; nothing for you to adjust here. It looks like `type` and `value` mean the same thing - if so, just use the `value` field with the string representation that you propose is in the `type` field?

![](https://do

[2021-02-23 15:13] avaidyam commented on #120
Also another thing you may want to check is whether your firewall allows outgoing connections to `app-gateway.lamp.digital`. Another team we have worked with to deploy LAMP had to allowlist that specific domain.

[2021-02-23 15:14] Linoy339 commented on #120
Thanks @avaidyam .
@jeydude1. Please let us know after attempting it.

[2021-02-23 15:18] avaidyam commented on #126
The value for `source` should come from [`sourceRevision` on iOS](https://developer.apple.com/documentation/healthkit/hkobject/1615483-sourcerevision) and [`originDataSourceId` on Android](https://developers.google.com/fit/scenarios/read-sleep-data)
//cc @amaljofyzco

[2021-02-23 15:19] avaidyam commented on #118
@jeydude1 We should have news and further documentation mid-next-week. @ryan-hays can respond here once that's ready and available.

[2021-02-23 15:25] avaidyam commented on #125
@jijopulikkottil I believe this is very much in line with the idea you proposed about having diagnostics commands that the app can respond to. The general idea is as follows:
1. Send a push notification to the mobile/wearable device with the command and parameters (i.e. synchronize data, device metrics such as how much disk space is available, etc.)
1. Device receives push and responds to it, exec

[2021-02-23 15:28] avaidyam commented on #116
@mpagnanelli Maybe you need to manually expose port `6379` for it to work on your network configuration? Let me check with the IT side of our development team as well.

[2021-02-23 15:32] jeydude1 commented on #120
I tried this from the centos server, i got the push notification to my iPhone, that confirms I am able to communicate with https://app-gateway.lamp.digital/push

curl -X POST -H "Content-Type: application/json" \
    -d '{"push_type":"apns","api_key":"API Key from Rebecca","device_token":"883a6cb555143bb20013b9fd07d8261aca1f484cf2ac32a28f7e010edea9120c","payload":{"aps":{"alert":"You have a mindLA

[2021-02-23 16:22] jeydude1 commented on #121
@amaljofyzco, Can you share your email, so I can share with you privately. Thanks!

[2021-02-23 16:27] jijopulikkottil commented on #127
As we are using common class for sending sensor data, the `value` parameter is `number` type. (also the `value` property in HealthKit samples are integer). Thats why we kept the `value` as type number. Can we use new param `value_text` ? or we can use the same `value` with type text for `lamp.sleep` as you suggested. no issues. Which ever is easier for data scientists to resolve.

[2021-02-23 18:56] jeydude1 commented on #120
I could not deploy the API server package alone, having issues.

Once you have the exception message added to the code, please let me know I can redeploy latest mindLAMP stacks. Thanks!

[2021-02-23 19:00] jeydude1 commented on #120
We have 2 iphone users having issues with push notifications. And for Android users scheduler is not generating push notification messages:

`  payload: {
    participant_id: 'U0766681068',
    activity_id: 'wqcszngqgawy6exm35h2',
    message: 'You have a mindLAMP activity waiting for you: Test Survey.',
    title: 'Test Survey',
    url: '/participant/U0766681068/activity/wqcszngqgawy6exm35h2'

[2021-02-24 01:37] amaljofyzco commented on #124
Its not the case i will ping in the basecamp

[2021-02-24 01:45] amaljofyzco commented on #121
Done:)

[2021-02-24 09:41] mpagnanelli commented on #116
Hi @avaidyam,
can you help me?
I tried also with "network_mode: host" in cache service, but we had same problem.
I tried also with the ports configuration with no success.
How can expose port manually to try if works?

[2021-02-24 13:49] avaidyam commented on #127
That seems like a good idea, @jijopulikkottil - let's use `value` for the integer type, and `representation` (since `value_text` does not really explain the meaning of the field) for the string type. It should be easy to dynamically get the correct string representation from the enums.

[2021-02-24 13:52] avaidyam commented on #121
@amaljofyzco Could you share the PR link here that incorporates the change as well as share when the beta build will be available (via the CI/CD)?

[2021-02-24 13:53] avaidyam commented on #116
@mpagnanelli Could you send me access to your Portainer setup via the LAMP community forum as a private message so that I may investigate?

[2021-02-24 14:12] avaidyam commented on #94
@Linoy339 Here is a new report of schedules that a collaborator tested:

[2021-02-24 15:34] mpagnanelli commented on #116
@avaidyam,
i sent the message

[2021-02-24 15:42] avaidyam commented on #116
@mpagnanelli Please check once more -- I've updated the stack file for you. As I have mentioned, you will need to use the `bidmcdigitalpsychiatry/lamp-server:2021`. Your stack file instead was using `lamp-server:latest` (self-built) which was likely out of date and not functioning correctly for some reason.

[2021-02-24 15:50] avaidyam commented on #116
@mpagnanelli Please only use the latest tagged commit. [You can find these via the GitHub releases page for `LAMP-server` here.](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/releases)

[2021-02-24 16:07] jeydude1 commented on #121
@amaljofyzco, I have shared the test login credentials to your email, please check. Thanks!

[2021-02-24 18:32] jeydude1 opened #128 "Better repository adapter resolution to prevent crashes and remain compatible with existing deployments"
Hi Aditya,

Not sure is it OK to use
[code]
[code]

Not sure if I need mention any Mongo DB references instead of Couch DB, please let me know.

[2021-02-24 18:55] Linoy339 commented on #128
@jeydude1 . Please put a variable named DB_DRIVER in your env :
DB_DRIVER = couchdb

[2021-02-24 18:56] jeydude1 commented on #128
Thanks, i have added that, able to access CouchDB.

[2021-02-24 19:01] jeydude1 commented on #120
@avaidyam thanks for updating the code and for the new release

here is the exception I am seeing
"Error encountered sending APN push notification."--FetchError: request to https://app-gateway.lamp.digital/push failed, reason: getaddrinfo EAI_AGAIN app-gateway.lamp.digital

"Error encountered sending APN push notification."--FetchError: request to https://app-gateway.lamp.digital/push failed, reas

[2021-02-24 19:02] avaidyam commented on #128
@Linoy339 Let's change the driver discovery environment variables to make it easily compatible with existing deployments.
1. Check the environment variable `DB` first, else check `CDB` for a valid string.
1. If the string begins with `mongo://` it implies switching to the Mongo repository adapter.
1. If the string begins with `http://` or `https://` it implies switching to the CouchDB repository a

[2021-02-24 19:05] avaidyam commented on #120
@jeydude1 [This is an error on your deployments' end.](https://github.com/nodejs/node/issues/15780)

[2021-02-24 23:40] jeydude1 commented on #120
@avaidyam Thanks, I tried to restart the docker container, restarted the docker, no luck. Still getting the error, I will try few more options. If I got it working I will let you know the solutions

[2021-02-24 23:42] jeydude1 commented on #120
@avaidyam, for Android users, we don't see scheduler generating push notification messages, let me know if you need any more information or open separate issue for this. Thanks!

[2021-02-24 23:53] jeydude1 commented on #119
@avaidyam, installed the test flight version of the app from docs site - https://docs.lamp.digital/793ab1170c064940b772c6a5989258e5

Looks like test flight version does not synchronize the sensor data., tested for few hours no sensors data  :(

Please let us know when you will be releasing next version of iOS app in apple store, so we can try it. Thanks!

[2021-02-25 04:11] ZCOEngineer opened #129 "lamp.analytics to be used to keep data collection logs"
Use `lamp.analytics` with `type = log` to keep logs indexed by patient ID 

[2021-02-25 04:12] ZCOEngineer opened #130 "TestFlight build is crashing in the background"
[Problem]
TestFlight build is crashing in the background

[2021-02-25 04:20] amaljofyzco commented on #115
Hi Aditya,

In Android, if we need to do the local scheduling of Activity, the logic what i am planning is different from that of iOS.

Problem in android is, in notification class we can't directly specify the date for scheduling. So the only possible way is to **create a Room Dao for storing the Activity details** and by using the **os Alarm Manager** feature for getting the corresponding trigge

[2021-02-25 05:09] Linoy339 commented on #128
@avaidyam . We can remove DB_DRIVER. from env
1. Can you explain the point no 1?

2.Is the connection string for both mongo and couchdb to be a part of  the variable CDB?:
There would be only one variable named **CDB** which contains either mongo or couch connection string . If this string begins with mongo://, it implies switching to the Mongo repository adapter. If the string begins with http://

[2021-02-25 06:56] amaljofyzco commented on #120
Hi Jey,

Could you re check again, we are seeing it. check below screenshot line no: 13
<img width="1027" alt="Screenshot 2021-02-25 at 12 23 27 PM" src="https://user-images.githubusercontent.com/63775438/109115146-a4c8f380-7764-11eb-9fe9-b7e0f0e32a64.png">

[2021-02-25 13:26] sarithapillai8 commented on #16
@avaidyam @elenamrv

This optimization task along with https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/109 will be updated by March 12. These are inter-related tasks, that is why we are releasing together.
Thank you.

[2021-02-25 14:28] jeydude1 commented on #120
@amaljofyzco, here is what I see, I just downloaded and installed mindLAMP app from Android Play store app released  on Dec 14 2020.

Here is what I see when user login to the android app.

![image](https://user-images.githubusercontent.com/205644/109167298-3c1d4f00-7743-11eb-9a91-7a5f9ae92411.png)

[2021-02-25 14:54] avaidyam commented on #119
You actually will need to use the dashboard to enable the specific sensors (using the new patient configuration screen) you want to collect data from before the new beta build will upload that data.

[2021-02-25 15:00] avaidyam commented on #128
@Linoy339
1. If the `DB` env is defined, use that. If not, check if `CDB` is defined instead. If neither are defined, throw an error that no adapter/DB connection is configured.
1. The connection string for EITHER Mongo or Couch should be part of the one env `DB` (and fallback to `CDB` if `DB` is not defined).

[2021-02-25 15:01] Linoy339 commented on #128
Okay. Got it. Thank you

[2021-02-25 15:06] avaidyam commented on #115
@jijopulikkottil

Sure, this makes sense.

This makes sense as well.

This seems good as it'll prevent spamming notifications to the user for the same survey.

Perhaps schedule all local notifications as individual ones to avoid breaking repeating schedules?

@amaljofyzco

This is expected and this strategy makes sense.

Sure, if anything comes up, please share it here so we can come up with an op

[2021-02-25 15:19] avaidyam commented on #115
@jijopulikkottil Give it a shot with the easier approach first, and if it poses too many issues then we can change directions later?

[2021-02-25 15:26] jijopulikkottil commented on #115
Yes. just discussed the expecting behaviour. Let us implement and verify first.

[2021-02-25 16:03] jeydude1 commented on #120
@avaidyam I was able to fix the push notification in test server to avoid

"Error encountered sending APN push notification."--FetchError: request to https://app-gateway.lamp.digital/push failed, reason: getaddrinfo EAI_AGAIN app-gateway.lamp.digital

**Solution, I have followed:**
firewall-cmd --permanent --zone=docker --add-interface=docker_gwbridge
firewall-cmd --permanent --zone=trusted --remo

[2021-02-25 16:34] jeydude1 commented on #119
Thanks @avaidyam, I have added few sensors to the patient profile screen, I am not seeing anything on sensor specification, Looks OK to you?
![image](https://user-images.githubusercontent.com/205644/109184786-f073a100-7754-11eb-8564-15e11cbe10f9.png)

[2021-02-25 18:22] jeydude1 commented on #120
@amaljofyzco, can you please try installing app from android play store and see if you are able to see the login action? Thanks!

[2021-02-25 18:47] avaidyam commented on #120
@jeydude1 Those steps seem specific to CentOS distributions and perhaps your specific organization as well. Thanks for sharing though - others that use CentOS may need to do the same.

[2021-02-25 23:38] jeydude1 commented on #119
I believe I got it working to get health app data with beta version of iOS app, I have entered the sensor_spec from here - https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/8#issuecomment-770976348

Here is the sensors data I have updated to collect for a patient profile
![image](https://user-images.githubusercontent.com/205644/109233812-241fec80-7790-11eb-8719-444673e5cbaf.png)

Here

[2021-02-26 00:09] jeydude1 commented on #119
@avaidyam please verify my sensor_spec database data, may be I may not have latest info, please share your sensor_spec if you can. Thanks!

[2021-02-26 04:05] amaljofyzco commented on #120
Hei JeyDude,

I have fixed the issue, it will be updated in the next update.
 Thanks AMal

[2021-02-26 04:07] amaljofyzco commented on #121
Hei JeyDude,

Fixed, this tested with the credentials that you shared in my private mail. Hope you can test in the new update.

Thanks
Amal

[2021-02-26 13:03] avaidyam commented on #119
@jeydude1 That looks about right for testing purposes. That set is not quite final just yet, but we will provide the proper upgrade path when we make this release available to others.

[2021-02-26 13:07] avaidyam commented on #120
@amaljofyzco Could you link the pull request on `LAMP-core-android` that fixed the issue here for record-keeping?

[2021-02-26 13:15] jijopulikkottil commented on #119
[sensorspec.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6049834/sensorspec.txt)
please try this.

[2021-02-26 13:40] jijopulikkottil opened #131 "Compatibility mode to collect all sensor data for legacy server configurations"
if the sensor_spec list comes up empty, please fallback to collecting ALL the data like the code used to work

[2021-02-26 17:42] jijopulikkottil commented on #131
Following are the complete list of sensor names:
`"lamp.gps", "lamp.activity_recognition", "lamp.telephony", "lamp.screen_state", "lamp.nearby_device", "lamp.steps", "lamp.device_motion", "lamp.accelerometer", "lamp.analytics", "lamp.sleep", "lamp.heart_rate", "lamp.blood_pressure", "lamp.respiratory_rate", "lamp.body_temperature", "lamp.oxygen_saturation", "lamp.blood_glucose", "lamp.nutrition",

[2021-02-26 17:54] avaidyam commented on #131
@jijopulikkottil Do you have JSON Schema that describes the data format for each of these?

[2021-02-26 18:13] jijopulikkottil commented on #131
Similar to [this](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/119#issuecomment-786641294) . This is the data extracted from the staging. But this is incomplete and also need some corrections. I can update this document and can send next day if you want this format.

[2021-02-26 18:20] avaidyam commented on #131
Here's an updated document that removes the CouchDB specific document stuff. This is just an array of JSON Schemas now. Could you update this document to correctly match the sensor data being collected? (i.e. I filled out `lamp.gps` some time ago with the details, following the same format will be helpful.)

[sensor_spec.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/60516

[2021-02-26 18:24] rbilden opened #132 "Pop the Bubbles and Balloon Risk not on Demo"
**Describe the bug**
Pop the Bubbles and Balloon Risk do not show up on when logged into the demo account (try it mode)

**To Reproduce**
Steps to reproduce the behavior:
1. Click Try It
2. Researcher
3. Look for Pop the Bubbles or Balloon Risk

**Expected behavior**
Pop the Bubbles and Balloon Risk should show up on when logged into the demo account (try it mode)

**Desktop (please complete the f

[2021-02-26 20:35] kkadapa commented on #119
Hi @jeydude1

Hi @jeydude1 Could you kindly help us understand how you've resolved this dropdown? (I am unable to type anything) Were you able to see the steps data on the mobile app after fixing this?

[2021-02-26 20:45] jeydude1 commented on #119
@kkadapa I have added the above [sensor_spec ](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6049834/sensorspec.txt) data into into couchdb sensor_spec database manually. Until you add the sensor_spec data, the dropdown list will be empty.

[2021-02-26 20:54] kkadapa commented on #119
Thanks @jeydude1 When I tried to copy sensor_spec into couchdb it's showing JSON Formatting errors. Were you able to see other sensor data such as Steps etc?

[2021-02-26 20:57] jeydude1 commented on #119
I have added one by one :), dont know easy way to populate into couchdb.

Example to add steps copy below into sensor_spec database

{
 "id": "lamp.steps",
 "key": "lamp.steps",
 "value": {
  "rev": "4-d13ce0a73fa151427853586c546e3479"
 },
 "doc": {
  "_id": "lamp.steps",
  "_rev": "4-d13ce0a73fa151427853586c546e3479",
  "type": "object",
  "properties": {
   "value": {
    "type": "number"
   },

[2021-02-26 21:02] jeydude1 commented on #120
Thanks @amaljofyzco for fixing the android app to capture login action so we can get push notification for Android. Thanks a lot! Waiting for official release!

[2021-02-26 21:10] kkadapa commented on #119
Thanks @jeydude1 I was only able to see Steps but after I click ADD button the progress indicator goes on an infinite loop
![image](https://user-images.githubusercontent.com/6679852/109355212-e59c3780-784c-11eb-8f74-a0cc61bcdc88.png)
![image](https://user-images.githubusercontent.com/6679852/109355368-1b412080-784d-11eb-8063-58c11bb33dcf.png)

[2021-02-26 21:13] jeydude1 commented on #119
Try refreshing the screen. Verify sensor database does not have newly added steps if does not have add again.

[2021-02-26 21:22] jeydude1 commented on #121
@amaljofyzco Thanks for fixing it, waiting to see new update, once you have the new release in beta/android store, please let me know. We wanted to go live soon. Thanks for you and your team hard work and fixing all the issues immediately!!!

[2021-02-26 21:25] jeydude1 commented on #124
@amaljofyzco any update on this? let us know if you want to try this in beta version. Thanks Amal!

[2021-02-26 21:56] jeydude1 commented on #127
@avaidyam, not sure if you can capture from HealthKit
1. Bed-In Time
2. Awake
3. Deep sleep
4. REM sleep
5. Light sleep
6. Bed-Out Time
I will be useful to get those data as well.

[2021-02-26 22:02] jtorous commented on #127
We do not ask for this yet but can in the near future with an update.

-John

On Fri, Feb 26, 2021 at 4:57 PM jeydude1 <notifications@github.com> wrote:

[2021-02-26 22:07] jeydude1 commented on #127
Also include heart rate variability HRV data along with HR data in future, i was told some of the researchers wants HRV data.

[2021-02-26 22:22] kkadapa commented on #119
I refreshed the screen but with no luck, it's going into an infinite loop. I verified and there are no added steps in the Sensor database.

[2021-02-26 22:25] kkadapa commented on #123
Hello, @sarithapillai8 Could you kindly let us know if this issue is fixed or is it a low priority?

[2021-02-26 23:37] jeydude1 commented on #119
Sorry Karthik I did not have infinite loop issue. Any error on the API Server or Couch DB?

[2021-03-01 12:36] jijopulikkottil commented on #131
Updated the document. @avaidyam  @amaljofyzco please verify it.
[sensor_spec.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6061582/sensor_spec.json.txt)

1. Hope we don’t need `units` for any sensors.

2.  We can replace the property name `content` as “payload” for `lamp.analytics` with push notification (`action = notification`)

2. We are getting diastolic and systolic

[2021-03-01 12:51] avaidyam commented on #127
@jeydude1 It looks like HealthKit can only provide the following states: `in_bed`, `asleep`, and `awake`, with the starting timestamp and duration. (See the figure below for an explanation.)
![image](https://user-images.githubusercontent.com/1361003/109499072-62542f00-7a62-11eb-9570-dcb8f2764c5e.png)

The sleep phase (light, deep, REM) are not possible on the iOS side, but we do capture these phas

[2021-03-01 12:53] avaidyam commented on #123
@kkadapa This will be resolved with the next staging release in mid-March. We'll respond here with specifics at that time!

[2021-03-01 12:58] avaidyam commented on #119
@jeydude1 I believe you're able to use a curl request to the CouchDB instance at the `_bulk_docs` endpoint for the `sensor_spec` database, but figuring that out might take some extra effort.

When the next backend staging release is ready it'll include an automated upgrade that must be manually executed. This is because all studies need to be re-configured to add sensors, otherwise the apps will s

[2021-03-01 13:11] avaidyam commented on #131
1. [We should be able to get the units for an `HKSample` it seems.](https://developer.apple.com/documentation/healthkit/hkquantitysample)
1. It seems fine either way, `content` or `payload` seem equally descriptive.
1. Let's use this kind of structure for `blood_pressure`:
[code]
1. That makes sense, thanks.
1. Yes, in addition to `value`, `units`, and `source`, you could use `meal_time` with poss

[2021-03-01 13:24] jijopulikkottil commented on #130
@avaidyam  We used test flight build and unable to reproduce the crash. All crashes coming from 3 devices (2 iPhone8 and 1 iPhone XR ).
We checked the crash log, and replaced the background timer implementation in another way. I can make PR today so you can submit to test flight and can be test by those same devices/users.

[2021-03-01 14:09] avaidyam commented on #130
@jijopulikkottil Please do - thank you! (cc @jlavoie9)

[2021-03-02 09:01] Linoy339 commented on #128
@avaidyam . The above change is done.
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/58](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/58)

[2021-03-03 09:23] jijopulikkottil commented on #129
[code]
This is a sample.

[2021-03-03 16:31] jeydude1 opened #133 "Incorrect Steps data in the early morning time"
Hi,

We are using mindLAMP 2 mobile app from Apple Store released on Dec 3 2020. We are noticing the steps data value is carried forward to next day in couchdb.

Here is one of the test participant data

[code]

Here is the date and time values
[code]

Is it possible to get daily step count?

[2021-03-03 17:27] jijopulikkottil commented on #115
@avaidyam @Linoy339  Can we remove the `settings` block from the Activity API response:

[code]

As it may contain audio data, the response data size is too big and app is getting memory issues.

[2021-03-04 04:56] Linoy339 commented on #115
@avaidyam . Can you suggest on it. It seems, we cannot remove settings from this api, as its used in some places.
Can we have another api which excludes settings .

[2021-03-04 06:55] jijopulikkottil commented on #115
What about adding parameter in request to identify the call from mobile app to ignore `settings`

[2021-03-04 17:02] kkadapa opened #134 "Survey question back/next buttons obstructs the actual response"
**Describe the bug**
When you click on Push Notification and open the Survey the back/next buttons cover the actual response, so it’s impossible to answer the question.

**Screenshots**
![image](https://user-images.githubusercontent.com/6679852/110000341-2bd81780-7ce1-11eb-87b4-ddef2118bc3f.png)

**Smartphone (please complete the following information):**
 - Device: iPhone SE

[2021-03-05 09:28] jijopulikkottil commented on #133
@avaidyam Currently for step count, we are getting value from the time of (start-time is) first login to the app. Can we set the start-time as the day beginning time in device's timezone ?

[2021-03-05 14:24] avaidyam commented on #133
@jijopulikkottil I believe we discussed that the step count samples should be queried using a start time equivalent to the last access time? Then, after querying the data, the access time should be saved for the next check.

[2021-03-05 14:29] avaidyam commented on #115
@Linoy339 The `_deleted` parameter is not supposed to be exposed by the API to the client. Let's add a query parameter to the `list` and `view` methods on `Activity`/`Sensor`/`ActivitySpec`/`SensorSpec` called `ignore_binary`. If this parameter is set to `true`, replace the `settings` object on `Activity`/`Sensor` with `null`, and replace the `executable` and `icon` fields on `ActivitySpec` with `

[2021-03-05 14:33] avaidyam commented on #129
@jijopulikkottil Let's change the `user_agent` string format like so: `AppName AppVersion; OSName OSVersion; DeviceType DeviceModel`. For example, `NativeCore 2021.1.21; iOS 14.3; iPhone A1921". Is the `device_type` field still required anywhere or would it make sense to remove it? (cc @Linoy339)

[2021-03-05 14:34] Linoy339 commented on #115
@aditya. The _deleted flag is not there. We kept it for some experimental purpose. It won't be there in api response

[2021-03-08 11:22] jijopulikkottil commented on #133
@avaidyam [this](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/56 So for pedometer) was the last changes we done with step count as per the suggestion of consultant.
.Now we are using [listener](https://developer.apple.com/documentation/coremotion/cmpedometer/1613950-startupdates) for the changes rather than querying. And for HealthKit steps, we are using statistical query to get

[2021-03-08 16:29] Linoy339 commented on #115
@avaidyam .
Two known issues are there with this approach

1.Old activity schedules does not support local notification, as they do not poses notification ids
solution for 1:create an initial script to generate notification ids for all activity schedules

2.Whenever there is an update of any schedules of a particular activity, notification ids gets regenerated which
will not inform the device for

[2021-03-09 06:11] Linoy339 opened #135 "Soft delete in Mongo DB"
Maintain a field called "_deleted" in mongo dB which is used to identify delete operation.
All items should gets listed with the condition _deleted=false.

[2021-03-09 07:19] Linoy339 commented on #115
Please find
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/59](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/59).
Can you make it in staging only, as we can test it and merge into production?

[2021-03-10 13:44] elenamrv commented on #45
Hi @sijugeorge-zco fyi @avaidyam - please see below for the Hindi translation. Thank you!!

"Please enter breakpoint standard deviation.":"कृपया मानक विचलन मान दर्ज करेंl"
"Multiple should be comma seperated": " एक से अधिक अल्पविरामो (comma) को अलग किया जाना चाहिए (Eg:60,80,80)",
"Please enter Bubble Count with comma seperated.": "कृपया बुलबुले
की संख्या को अल्पविराम(Comma) के साथ अलग-अलग दर्ज करे

[2021-03-10 14:40] jeydude1 commented on #124
Any update on this?

[2021-03-10 14:43] jeydude1 commented on #119
@avaidyam , please let us know when can we try this sleep data feature either in beta version/production version. Thanks!

[2021-03-10 17:36] jijopulikkottil commented on #131
2- we can keep the same `content`
iOS code is committed. @amaljofyzco please change this task status when you finish.

[2021-03-10 17:44] jijopulikkottil commented on #129
@avaidyam  So for android and iOS, the `appname` should be `NativeCore`!  ok.

[2021-03-11 17:41] avaidyam commented on #119
@jeydude1 Have you made sure to use an Apple Watch running watchOS 7? If so it should work on the latest beta.

[2021-03-12 12:10] Linoy339 commented on #115
@avaidyam. This includes soft delete feature in MongoDB too.

[2021-03-12 16:06] jijopulikkottil commented on #126
iOS code is pushed. @amaljofyzco please change this task status when Android is done.

[2021-03-12 16:16] rbilden opened #136 "Survey link"
Patients find it easier to click a link than logging in with a username and password.

[2021-03-12 17:05] jijopulikkottil commented on #129
For iOS, we can't get the model number. Instead we can get the system info. We can see the mappings [here](https://gist.github.com/adamawolf/3048717)

`"user_agent": "NativeCore 2021.1.21; iOS 14.3; iPhone iPhone8,1"`

[2021-03-15 16:53] avaidyam commented on #133
@jijopulikkottil It looks like this is the problem:

[Can you see if switching to this method improves things?](https://developer.apple.com/documentation/coremotion/cmpedometer/1778437-starteventupdates)

[2021-03-15 16:56] Linoy339 commented on #111
@aditya. As per the discussion, Can you please check this and merge in staging environment to test?
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/61](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/61)

[2021-03-16 07:13] Linoy339 commented on #6
@aditya. As we discussed, Can you please provide a repository to work with Lamp-consumer?

[2021-03-16 11:32] avaidyam commented on #6
@Linoy339 [It's here.](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker)

[2021-03-16 12:10] ZCOEngineer commented on #16
@avaidyam @elenamrv
After connecting to staging QA is able to test well and report issues which the dev team is able to fix quickly. Based on current pace we are planning to give you and Elena a preview by Wednesday morning EST time. We shall continue our QA while you take a test there. And by end of this week we shall finish the QA.

[2021-03-16 12:17] elenamrv commented on #45
Hi @sijugeorge-zco - see below for the Spanish translation. Thanks again! fyi @avaidyam

"Please enter breakpoint standard deviation.": " por favor ingrese la desviación estándar del punto de interrupción.",
"Multiple should be comma seperated": " Varios deben estar separados por comas
 (Eg:60,80,80)",
"Please enter Bubble Count with comma seperated.": " Por favor ingrese Bubble Count con coma sep

[2021-03-16 13:25] rbilden opened #137 "Hide Specific Surveys from Patients"

[2021-03-17 12:34] Linoy339 commented on #6
Thank you @avaidyam

[2021-03-17 16:52] sarithapillai8 commented on #16
@avaidyam @michaelmenon @elenamrv
PR added with changes related to this functionality changes[for clinician side]:
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/181

The features covered :

- Updated clinician side UI. Replaced material table with grid design.
- API changes are using statically from the code api-staging.lamp.digital as lamp-core was not modified.
- Done with splitt

[2021-03-18 05:46] jijopulikkottil commented on #133
@avaidyam this is an observer and we have to query the pedometer data using one of the above methods.. Let me try some and will update here.

[2021-03-18 12:52] Linoy339 commented on #6
Hi @avaidyam . When we tried to execute script, we faced some issues.
Can you please provide what arguments which you gives inside execute() function in ScriptRunner.ts.
Can you provide a sample call ?

[2021-03-18 13:49] avaidyam commented on #6
Essentially it is the script code itself as a string, and the requirements indicate what packages need to be installed for the script. I do not have more information/sample code for it as the code is from 2018 and should not be used.

[2021-03-18 13:51] Linoy339 commented on #6
OKay. Thanks

[2021-03-18 16:50] avaidyam commented on #133
We would like to get step count changes as they occur. (For example, 30 steps at 3pm, 12 steps at 6pm, etc.) They will be coalesced into day blocks or week blocks by client code during data analysis.

[2021-03-18 18:59] jeydude1 commented on #124
@avaidyam Any update on fix and release?

[2021-03-19 01:57] kkadapa commented on #123
Hello @avaidyam, Just following up to see if there are any updates on resolving this issue?

[2021-03-20 08:50] jijopulikkottil commented on #133
@avaidyam
I thought it can be do like getting the difference with previous. so in the same way we can can find the step count in a day. [From pedometer, didn't find a way to getting like 30 steps at 3 pm]
System is auto correcting the step count if there is multiple occurrences of step count from watch and mobile at same time.
So recommending to fetch the statistics data (cumulative result) even i

[2021-03-22 17:06] jeydude1 commented on #124
@avaidyam, we tried the latest beta version today, still having google fit integration issue. My colleague tried with Samsung 9 Note phone. So wanted to know when will this issue be fixed and what is the official android release date, please let us know. Our study starts next month.

[2021-03-23 14:09] jeydude1 commented on #119
@avaidyam, just wanted to confirm, Sleep data works only with Apple Watches?  Not all the study participants are going to have Apple Watches. Some of them are going to use third-party wearables. If we see sleep data in Apple Health App, does mindLAMP app get the sleep data from there?

[2021-03-26 09:06] sijugeorge-zco opened #138 "Translation Required"
Hindi and Spanish translation required for the Attached file.

_Note:_
The texts to be translated are on the right side(_value_) of the _key:value_ pair on the attachment.

[translation_changes.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6210517/translation_changes.json.txt)

[2021-03-26 09:07] sijugeorge-zco commented on #138
@avaidyam
We have changed the term "_study_" to "_group_" and "_patient_" to "_user_" throughout the application an will update  only after we get the new texts and translated.

[2021-03-26 11:20] sijugeorge-zco commented on #45
@elenamrv
We have updated the translations in our code.
We wil update this all together once we get the new translated strings, which i have created as a new git task
_( Translation Required https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/138)_

[2021-03-26 13:25] avaidyam opened #139 "Implement SensorKit on iOS"
Implement the new `SensorKit` framework on iOS 14 -- on hold until we receive approval from Apple (see "Required Entitlements" below).

### `SRSensor`s
 - `accelerometer`: A sensor that provides acceleration motion data.
 - `rotationRate`: A sensor that provides rotation motion data.
 - `pedometerData`: A sensor that provides information about the user's steps.
 - `ambientLightSensor`: A sensor th

[2021-03-26 13:35] elenamrv commented on #45
Hi @sijugeorge-zco - I'll work on getting these translations and post each of them as soon as I have them. Thanks! fyi @avaidyam

[2021-03-26 14:18] avaidyam commented on #119
@jeydude1 Sleep data on iOS devices requires either a compatible iOS or Apple Watch app **OR** watchOS 7 installed which has sleep tracking built-in. The latest beta of the iOS app should retrieve the third-party app sleep data and correctly tag it with which app the data came from. @jijopulikkottil can you confirm this behavior?

[2021-03-26 14:20] avaidyam commented on #124
@jeydude1 It seems like the key is in the app logs:
[code]

@amaljofyzco Can you please respond here once you're done investigating this issue?

[2021-03-26 15:19] jeydude commented on #119
Here are the screenshots to confirm I am using latest beta version of mindLAMP,  Health app permissions,  Sleep data in Health app, my sensor_spec setup, and no sleep data in couchdb. Please let me know what am I missing. Thanks!

mindLAMP beta app
![IMG_1645](https://user-images.githubusercontent.com/841011/112652849-dc869200-8e1b-11eb-9716-fa0f19026381.PNG)
![IMG_1647](https://user-images.github

[2021-03-28 16:59] jijopulikkottil commented on #119
@avaidyam , Could you make available the latest build in test flight. I think build 241 is bit old. We have fixed `lamp.sleep` data with this task https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/127

[2021-03-29 15:14] avaidyam commented on #119
@jeydude This build should now be available in TestFlight - please give it a shot and report back if it's working! Thanks.

[2021-03-29 18:43] avaidyam commented on #133
@jijopulikkottil Could you try multiple methods to see which one comes up with the most accurate result when compared in the Apple Health app?

Yes, this is a tricky one - do you have any ideas on how to solve this because I was under the impression that the query method we were using should do this automatically from Apple's end. And we can't filter the data because like you said, generated times

[2021-03-31 13:32] jeydude commented on #119
@avaidyam / @jijopulikkottil , last few days I am using mindLAMP 2 test flight version 2021.1.21(257), still not getting any sleep data to CouchDB.

For steps, I see source of sensors but still no sleep data
[code]

[2021-03-31 13:48] jijopulikkottil commented on #119
@jeydude we will update here after checking.

[2021-04-01 12:19] jijopulikkottil commented on #119
Hi @jeydude , In iPhone, could you go to 'Health' app and add some sleep data manually (remember that the start time should not be a past time, and the phone battery should not be in low power mode). And after 30 minutes, could you check by calling the API with basic authentication.
I got sleep data when tried the same. please comment after checking.

[2021-04-01 14:40] jeydude commented on #119
Hi @jijopulikkottil, I see sleep data in couchdb if I enter future sleep time manually through Apple Health app, Sleep --> "Add Data" feature. But not sure this will happen during our study. Because

1. Some of the wearables will not be able auto sync the sleep data to the Apple Health app.
2. Study participant (wearable user) might have to sync sensor data once they are up from the bed for the pr

[2021-04-01 14:46] avaidyam commented on #119
@jeydude It sounds like then this is an issue with the wearable and the wearable app. If it can't sync with Apple Health it is not something we can resolve on our end. You will need to contact support for the wearable device itself.

[2021-04-01 14:49] jeydude commented on #119
@avaidyam even if auto sync happens not sure we will be able to get the actual sleep data based on how @jijopulikkottil described, @jijopulikkottil please let me know. Thanks!

[2021-04-02 14:25] jeydude commented on #119
@jijopulikkottil I got my yesterday's sleep data into CouchDB, I will test it for few more days.

Task I am following to get my sleep data: Once I getup from bed, I open my VeryFitPro/Apple Health app and wait for few seconds to see my sleep data and open mindLAMP app and keep all the apps up in the iPhone.

Please let me know best practice. Thanks!

[2021-04-05 02:07] jeydude commented on #124
Still having issue with Google Fit integration, while looking at some of the sites, found below information, please check  followings are OK. Thanks!

The most common problem using these samples are sign in errors. Users can experience this after selecting a Google Account to connect to the Fit API. This can be seen in logcat.
If you encounter this error, check the following steps:

1.	Follow the

[2021-04-05 02:37] ZCOEngineer opened #140 "As a User, I am not able to add any icon picture for the tips under the learn page section"
**Describe the bug**
Not able to add any icon picture for the tips under the learn page section

[2021-04-05 02:38] ZCOEngineer opened #141 "As a user, I click on the ‘?’ icon on the home screen I get this pop up as in the attachment and then there is no way to remove this pop up except to kill the app and open the app again"
**Describe the bug**
I click on the ‘?’ icon on the home screen I get this pop up as in the attachment and then there is no way to remove this pop up except to kill the app and open the app again

**Additional Notes**
None of the links in the pop up works ? help&support or LAMP community

[2021-04-05 02:41] ZCOEngineer opened #142 "As a user, I click on the Research studies under lamp link there is no way for me to come back to this login screen"
**Describe the bug**
I click on the Research studies under lamp link there is no way for me to come back to this login screen

[2021-04-05 06:16] sarithapillai8 commented on #142
@michaelmenon @ZCOEngineer
Changed the link click so that the link opens to new tab, so that the user still can access to login screen.

[2021-04-05 09:41] Linoy339 commented on #6
It seems like I do not have permission to the repository: [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker.](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker.)

[2021-04-05 09:43] Linoy339 commented on #6
Please find the PR:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/1
](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/1)

[2021-04-05 12:04] jijopulikkottil commented on #119
@jeydude Yes,  if auto sync happens, we will be able to get entire sleep data for the previous day.
"I will test it for few more days." - ok
"...how I am getting sleep data now with beta version.." - we will test it - app should sync automatically without adding manual entry.

[2021-04-05 16:15] sarithapillai8 commented on #78
@avaidyam @michaelmenon
The fix updated in PR - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/202

[2021-04-05 18:28] avaidyam opened #143 "Remove deprecated Tag references"
The following Tag keys should be removed from `LAMP-dashboard`. We have already discussed the migration strategy for all of these (if applicable). **We will need to ensure that data can be migrated for teams who have already deployed a previous version of LAMP (server or dashboard).**

[code]

[2021-04-05 18:56] avaidyam opened #144 "X-API-Version and X-API-Key Headers"
Let's use the `X-API-Version` header for maintaining the API version. Example: `X-API-Version: v3` - The current API is actually `v2` (the `v1` API refers to the legacy mindLAMP v1 app/portal). If a version is not specified or v1/v2 are provided, then it should be the current API.

Furthermore, let's use the `X-API-Key` header as well for future-proofing for API keys. API keys should be registered

[2021-04-05 19:00] avaidyam opened #145 "Sensor configuration parameters"
Now that the current beta code correctly verifies which sensors it must collect/upload data from, the higher frequency sensors such as `lamp.device_motion` and `lamp.gps` should also support the following parameters:
1. `frequency` (units: `Hz`): The frequency at which to poll the sensor for data.
2. `cellular_upload` (boolean): If `true`, the sensor should upload data on a cellular/LTE connection

[2021-04-05 19:02] avaidyam opened #146 "Manage Credentials for Administrators"
The `Manage Credentials` menu must be available in the blue top bar for Administrators and must ONLY allow editing the System Administrator credentials, whose `origin` field will be `null` (not a string value). The latest staging server should support these operations.

[2021-04-05 19:07] avaidyam opened #147 "Switch password storage from AES256 key-encrypted to salted+hashed (bcrypt or scrypt)"
The current password storage implementation relies on an AES-256 encryption scheme using an administrator-specified encryption key. **While this remains VERY secure,** the best practices for password storage specify to use either `bcrypt` or `scrypt` to salt and hash the password instead (such that it cannot be decrypted and to avoid _administrator error_ when configuring an encryption key).

[cod

[2021-04-05 19:30] avaidyam opened #148 "Ability to see previous days/weeks in the Feed tab"
It should be possible to view previous days in the Feed tab, with the matching Activity schedule and whether the item was "checked off" (i.e. taken at the right time).

If you tap on a previous Feed entry (i.e a survey that was taken one week ago), you should be able to see the detail list (`temporal_slices`) of question → answer, duration here as well.

Furthermore, the clinician-facing "edit" an

[2021-04-05 20:24] philhenson opened #149 "Add version numbers to LAMP server images"
The LAMP server images are labeled with the year (:2021) but not a specific version number making it difficult to verify the specific image version

[2021-04-06 12:21] avaidyam commented on #149
We should be able to grab the current `LAMP-server` version and inject it into the OpenAPI schema version (at `GET /`) using the following:
[code]

[2021-04-06 12:51] Linoy339 opened #150 "Disconnect ActivityScheduler from LAMP-server and bring to LAMP-worker repository"
Activity Scheduler which is used for scheduling notifications via redis has to be a part of Lamp-worker

Solution:

- Remove the Activity Scheduler job and related queues from LAMP-server
- Bring the necessary repo functions to LAMP-worker
- Use Nats pub-sub to listen to the activity update, activity delete, login and logout api. The data just published will be subscribed by LAMP-worker (for a par

[2021-04-06 12:53] avaidyam commented on #150
@Linoy339 Within `LAMP-server`, please re-use existing NATS topics that are based on the API data types (`researcher`, `study`, `activity`, `activity_event`, etc.) and do not create new ones just for `LAMP-worker`.

[2021-04-06 12:59] Linoy339 commented on #150
Okay. Understood @avaidyam

[2021-04-07 15:31] saranya-sajeev commented on #124
Hi Adithya / jey,
We have fixed the Google fit issue. There is no code change so you can check in the current beta build itself.
Thanks
Saranya Sajeev

[2021-04-07 18:40] jlavoie9 opened #151 "LAMP.get_attachment() throws an exception if the attachment_key does not exist"
LAMP.Type.get_attachment() throws an exception if the attachment_key does not exist, which is inconsistent with other API calls that return {'data':[]} if an origin or spec is not found. It would make more sense to return {'data':[]}  if LAMP.Type.get_attachment() is called with an attachment_key that does not exist, especially since attachments can be removed by setting the body to None.

[2021-04-07 22:05] rvolety commented on #124
Hi Saranya:
The new fix did not work in beta version. Please see the attached log for details.
We are still seeing the error "Unable to connect to FIT".
Just wanted to clarify that Google is suggesting to use the variable “GOOGLE_FIT_PERMISSIONS_REQUEST_CODE” instead of “REQUEST_OAUTH_REQUEST_CODE" here” app/src/main/java/digital/lamp/mindlamp/HomeActivity.kt
[LampLog_04072021.txt](https://github.

[2021-04-08 14:09] saranya-sajeev commented on #124
Hi ,
Could you please check in the updated build?

Thanks
Saranya

[2021-04-08 16:34] jeydude commented on #124
Hi Saranya,

We tried the latest beta version yesterday and today, still we are having issue.

Please try to fresh install the latest beta version with Android phones on your side and let us know what did you see and your log files.

Once I installed/updated my phone to have latest beta version
It prompts me to choose an Google Account to connect with Google Fit.

![Google Account prompt](https://

[2021-04-09 09:23] saranya-sajeev commented on #124
Hi Jey,
For latest beta version we are also getting the issue. Yesterday I have created a pull request. Please check after merging the changes.

Thanks
Saranya Sajeev

[2021-04-09 13:29] jeydude commented on #124
Thanks @saranya-sajeev for confirming you are able to reproduce Google Fit integration issue with latest beta version of Android app.

@avaidyam, please let us know when you have new updated version of beta version. Thanks!

[2021-04-09 14:24] avaidyam commented on #124
@jeydude It should already be live now!

[2021-04-09 14:30] rvolety commented on #124
Hi Aditya:
I am not seeing the update on Google play store. I still see the last update date as March 19 2021 and version number as 2021.2.17.
Can you please confirm if the latest beta version is posted?

Rama Volety | IT Lead Analyst/Programmer | Research Application Solutions Unit | Phone: 507-266-2781| Fax: 507-284-4585| ***@***.***
Mayo Clinic | 200 First Street S.W. | Rochester, MN 55905 | ww

[2021-04-09 16:09] jeydude commented on #124
@avaidyam, based on @saranya-sajeev recent response, she made changes few days back to fix Google Fit Integration issue, the recent changes made by @saranya-sajeev may not be available in current beta version, so please merge the latest changes to have updated updated beta version. Thanks!

[2021-04-09 20:46] jeydude commented on #119
@jijopulikkottil , we are getting sleep data from iOS testflight version. Looking forward to see this feature in production apple store version of mindLAMP app.

One last question, currently I have all the sensors listed in the sensor_spec. Do I need to do this in future production version?

[2021-04-10 06:14] sarithapillai8 commented on #146
Please find the PR with fix - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/210

[2021-04-10 16:16] rvolety commented on #124
All:
I see the new version uploaded to the Google play store.

I tested this yesterday night and we are still seeing the error "There was an error signing into Fit. Check the troubleshooting section of the READMEfor potential issues.".
Please see the attached log for details.

Thanks,
Rama Volety

________________________________
From: Jey Raman ***@***.***>
Sent: Friday, April 9, 2021 11:10 AM
To

[2021-04-12 10:50] saranya-sajeev commented on #124
Hi,
Could you please download the build from below shared path and check. It is a signed production build generated at our end.

https://www.dropbox.com/s/ubnvbfe7iprdzxy/Lamp.apk?dl=0

Thanks
Saranya Sajeev

[2021-04-12 13:09] jeydude commented on #124
@saranya-sajeev , dropbox link apk file worked fine, I was able to see all the prompts for connecting to Google Fit and got the Google Fit connection from android phone.  Thanks for sharing the dropbox link. Can you make sure we get this apk file with beta version of Android. Thanks a lot!

[2021-04-12 13:56] saranya-sajeev commented on #124
Thank you Jey.

[2021-04-12 13:59] saranya-sajeev commented on #124
Ok I will check.

[2021-04-12 14:14] jeydude commented on #121
This issue is fixed in the latest beta version of Android app. Thanks for fixing it.

[2021-04-12 17:30] jeydude commented on #133
@jijopulikkottil, is it possible to get similar data and format as your mindlamp android app?

[2021-04-12 17:52] jijopulikkottil commented on #133
@jeydude I will check and update here.

[2021-04-12 22:03] jeydude commented on #120
We are getting push notification from beta version of Android.

[2021-04-13 13:04] avaidyam opened #152 "Additional backend repository types for system integration testing"
Two simple `Repository` types are required for complete unit testing and system integration testing:
1. `Memory`: This Repository will store and retrieve objects in memory only ([see example](https://github.com/BIDMCDigitalPsychiatry/LAMP-js/blob/87110a46375f5dcf93bd3abd2cc455c3d40ddafd/src/service/ActivityEvent.service.ts#L43)). Once the server restarts, everything will be reset. This will use th

[2021-04-13 15:12] jeydude opened #153 "Not getting sleep duration value from android app"
We are using developer team APK file for Android device, we are not getting sleep data.

Here is the sleep data we see in our couchdb
[code]

[2021-04-13 15:28] elenamrv commented on #138
Hi @sijugeorge-zco - see attached for Hindi translation. Thanks! fyi @avaidyam

[Translation_changes_Azaz_April_13.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6304850/Translation_changes_Azaz_April_13.txt)

[2021-04-14 10:47] jlavoie9 opened #154 "After deleting a study, participant data is still viewable from the API"
If a study is deleted, even though the study id no longer appears under that researcher, participant data such as ActivityEvents for any participants in that study are still viewable via the API.

[2021-04-15 02:01] kkadapa commented on #123
Hello, we just got notified from the latest newsletter that these issues are ready. Could you kindly clarify?
[Mar-Apr Newsletter 6-2.pdf](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6314741/Mar-Apr.Newsletter.6-2.pdf)

[2021-04-15 04:19] ZCOEngineer opened #155 "Changing the Mongoose to native Mongo driver of node js."
**Describe the bug**
use native drivers for MongoDB node js driver.
https://docs.mongodb.com/drivers/node/fundamentals/connection/

[2021-04-15 13:57] jeydude opened #156 "Mismatch in steps data with Android/iOS mindlamp app"
We have been testing beta version of Android/iOS mindlamp application, we are noticing mismatch in steps value in iOS/Android mindLAMP app.

We are using third-party wearables - VeryFitPro. Step value we are seeing in VeryFitPro seems correct. But the Google Fit/Health App steps values are not 100% match with VeryFitPro. Step value in mindLAMP couchdb is not matching 100% with VeryFitPro steps or

[2021-04-15 15:32] jlavoie9 opened #157 "Implement Cortex Features"
# Primary Feature Tracker

## Screen Active

| Assigned To |
|-|
| @jlavoie9 |

### Status:
- [ ] Code Exists
- [ ] Code Refactored
- [ ] Code Tested
### Testing info:
Find a good testing participant for this feature
- Participant`(id)`:
- Params `(start, end, resolution)`:
### Misc.
Any other notes/issues with this feature

## Significant Locations

| Assigned To |
|-|
| @rydmel  |

### Status:
-

[2021-04-15 15:34] avaidyam commented on #157
I just tested surveys and it worked fine! (No test case yet though - will edit that in later.) (This is also a test comment.)

[2021-04-15 16:52] jlavoie9 opened #158 "Event querying upper limit"
**Describe the bug**
When querying SensorEvents, CouchDB upper limit was not inclusive, but now with MongoDB , the upper limit is inclusive:

**To Reproduce**
### With CouchDB:
[code]
 **Returns:**
`{'data': []}`

### With MongoDB:
[code]
**Returns:**
[code]

**Expected behavior**
Should return the empty list as CouchDB did

[2021-04-15 16:55] sarithapillai8 commented on #96
@avaidyam
The fix included in the PR - https://github.com/BIDMCDigitalPsychiatry/LAMP-activities/pull/30

[2021-04-16 19:46] ryan-hays opened #159 "Cortex dependency integration into Dockerfile"
Some dependencies needed for LAMP-cortex are "lost" in the LAMP-ide when the docker compose file is updated. All dependencies are listed in the `LAMP-cortex/setup.py`; can we either dynamically pull those dependencies and add them to the Dockerfile, or manually keep them updated?

[2021-04-16 19:47] avaidyam commented on #159
[Can you create a `requirements.txt` file for LAMP-cortex?](https://realpython.com/lessons/using-requirement-files/) This would likely solve the issue from the `LAMP-cortex` side (and we can resolve the `LAMP-ide` issue separately too).

[2021-04-16 20:10] ryan-hays commented on #159
`requirements.txt` is now in `master`

[2021-04-16 20:42] avaidyam commented on #159
Thanks!! Let's leave this open for next week so we can fix the IDE issue too!

[2021-04-16 21:13] avaidyam commented on #119
Yes you will need the SensorSpecs in production too.

[2021-04-16 21:24] avaidyam commented on #123
@kkadapa unfortunately our mid-March release was delayed but these changes will be rolling out by next Friday. //cc @jtorous @rbilden @michaelmenon

[2021-04-16 21:26] avaidyam commented on #156
This should no longer be an issue in the staging iOS and Android apps. Can @jijopulikkottil and @saranya-sajeev confirm? (If this is a duplicate issue let me know and we can close it and move the conversation to the original issue instead.

[2021-04-17 14:26] Linoy339 opened #160 "SensorEvent batch update inorder to reduce the frequent database write"
The sensor events comes in large size in frequent intervals and writing to database these kind of data is becoming complicated

Solution Proposed: Write to redis until certain number gets exceeded for the sensor events(for example, say 50000). When the number of events gets exceeded, write to database from redis store via a queue.
Lamp. Analytics is excluded in this, as it comes in smaller number.

[2021-04-18 13:07] Ashermind opened #161 "Cortex documentation"
**Problem:**
I am well aware that Cortex is in alpha stages of development but I find the documentation lacking.

**Solution**
I would like to see a bit more in depth documentation of current Cortex, even if not finished yet. The current "theoretical" overview of features in docs.lamp.digital nor the README on github seems to provide enough information for usage without the need to dig in the sour

[2021-04-19 09:14] Linoy339 commented on #160
@avaidyam . Please find[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/82]( https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/82)

[2021-04-19 09:15] Linoy339 commented on #158
@avaidyam . Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/83](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/83)

[2021-04-19 10:40] jijopulikkottil commented on #145
@avaidyam you mean those parameters will be the part of sensor-spec (api /participant/{participant_id}/sensor) for higher frequency sensors and app will collect/upload data as per the parameter value. Please confirm.

[2021-04-19 13:29] Ashermind opened #162 "BETA application is crashing on iOS devices"
**Describe the bug**
The beta app is crashing on iOS mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the app via TestFlight app
2. Run the application
3. Log in
4. The app crashes by itself

**Expected behavior**
The app should be working without these crashes.

**Smartphone 1:**
 - Device: iPhone 11 pro
 - OS: iOS 14.4.2
 - App Version: 2021.1.21 (257)

 **Smartphone

[2021-04-19 16:45] jijopulikkottil commented on #133
@avaidyam
1. For pedometer step count, we can collect daily steps. (we can get it by setting the start time as 'start of the day').
2. And for health kit steps, we can collect step count changes as they occur. (we can fix the 'missing steps' by keeping last saved timestamp per the source identifier) So we will get like e.g: 10 steps at 1 pm, 8 steps at 2 pm, 12 steps at 2:15pm etc).

[2021-04-20 12:09] avaidyam commented on #160
@Linoy339 @michaelmenon Remaining issues:
1. Retrieving sensor event data should first query the cache to see if it can fill `limit` events from there, and if not, then check the database.
2. If Redis is not configured then fall-back to the original straight-to-database behavior.

[2021-04-20 12:10] avaidyam commented on #158
@jlavoie9 When you confirm that this behavior fixed I can close the issue. Thanks!

[2021-04-20 12:11] avaidyam commented on #145
@jijopulikkottil Yes - it will be part of the **Sensor API** (`/sensor/*`), not **SensorSpec API** (`/sensor_spec/*`). @saranya-sajeev Can you confirm your understanding is the same?

[2021-04-20 12:13] avaidyam commented on #133
@jijopulikkottil

This makes sense, as long as we keep track of the last start time parameter used.

This makes sense as well - sounds like a good plan!

[2021-04-20 12:42] saranya-sajeev commented on #145
Yes Aditya.

[2021-04-20 12:46] jijopulikkottil commented on #145
@avaidyam  Yes. So it's an addition to the task https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/92 .
1. Currently `lamp.gps` not following any frequency, instead we are observing the location changes and collect it when it fires. So we should change this behaviour and have to get the location based on frequency.. right ?
2. Also for `cellular_upload`, currently we are posting sensor

[2021-04-20 13:12] avaidyam commented on #145
@jijopulikkottil

Hmm, this is not the behavior we were expecting but this is probably better and may mean we do not want to change it. @jlavoie9 @ryan-hays can you double check on this and confirm?

Yes, the default value for `cellular_upload` should be `true` then, and if it is set to `false`, we should only upload data on WiFi.

[2021-04-20 13:56] avaidyam commented on #160
A significant issue (memory leak) is now propping up:

[code]

[2021-04-20 14:17] Linoy339 commented on #160
@avaidyam . It seems like the large amount of data wrtes(at present, it is 50000) causing the issue, 'JavaScript heap out of memory'.
Can you please reduce its number, which can be done in src/utils/queue/BulkDataWrite.ts

[2021-04-20 14:17] ryan-hays commented on #157
Should we be doing implementation tracking here or in 'Projects/LAMP Cortex'?

[2021-04-20 14:19] michaelmenon commented on #160
@Linoy339  how are we writing to DB are you taking the whole 50K from queue in memory and try gin to write ? Then this issue will come. that is not the correct way. write in batch I mean take data in small batches from the Redis queue and write it to DB.

[2021-04-20 14:19] jlavoie9 commented on #157
Here is better, I can delete 'Projects/LAMP Cortex' because projects didn't leave us space for the testing details like there is here

[2021-04-20 14:23] avaidyam commented on #160
@Linoy339 I agree with @michaelmenon - the 50k number needs to be **raised, not reduced**. Right now  50k events fill up in about five seconds. There's a memory leak somewhere that needs to be addressed it seems.

[2021-04-20 14:24] avaidyam commented on #157
Yup I think this issue is for individual components/features and the LAMP Cortex project will be for broader things (this issue should be part of that tracker, nested, basically).

[2021-04-20 14:25] michaelmenon commented on #160
Yes we need to take 500 items at one time and write back to DB and loop on this until the whole Queue is not written back to DB. Taking 50k at once in heap memory will cause out of memory crash.

[2021-04-20 14:35] jlavoie9 opened #163 "Cortex Function Return Formats"
# Standardized return formats for cortex feature functions

## Primary feature (actual function, BEFORE decorator)

- This has to be a LIST of dicts (even if the length of the list is 1 ) since this is a sparsely represented feature and we don't know how many entries there will be for a given window
- If there are no values found in the defined window, return an empty list `[]`
- `start` and `end`

[2021-04-20 15:42] ryan-hays commented on #163
In previous LAMP analysis pipelines, feature results were returned as `pd.DataFrame`, but we now use return them as `dict` so that they can be used in the JSON-friendly LAMP API. With `pd.DataFrame.from_dict()`, results can easily be converted to the data frame format, if desired.

[2021-04-20 15:48] ryan-hays commented on #163
What about for `cortex.feature_types.raw_feature`? Currently these features are being returned as lists of LAMP events, but in-line with the return formats of the above primary and secondary feature decorators, should we also wrap raw feature data in the `{'start':..., 'duration':..., 'data':...}` format? We would need to (quickly) refactor the primary features if we do so.

[2021-04-20 15:53] jlavoie9 commented on #163
@ryan-hays I'm good with whatever you think for the raw. I can make those changes in raw if we want, then we will just have to change feature code as we go well to call `raw_func(args)['data']`

[2021-04-20 16:31] Linoy339 commented on #160
@avaidyam. We need to tweak the code liitle bit. We will test it and give a PR by tomorrow.

[2021-04-20 17:25] ryan-hays commented on #163
I made the changes in `cortex.feature_types.raw_feature` and updated the primary/secondary features accordingly. I created a new branch `return_formats` where we can write any code that ensures the pipeline upholds the return format standards

[2021-04-20 17:51] avaidyam commented on #150
@Linoy339 As a heads up for this work item, please use `LAMP-js` to connect to the LAMP server and do not copy over any repository files. (The same usage/API as in `LAMP-dashboard`.)

[code]

[2021-04-20 18:54] avaidyam opened #164 "Create a citable DOI for the LAMP Platform (this) repository"
[Once this version of the LAMP Platform is stable, create a citable DOI following these instructions.](https://guides.github.com/activities/citable-code/)

[2021-04-20 19:29] avaidyam opened #165 "Ability to change which tab an Activity appears in (or no tab at all)"
The Activity create/update UI should have a drop-down selector to choose from:
1. `default` (`null`): The Activity icon will go to the default tab (i.e. surveys in assess and tips in learn).
2. `learn`: The Activity icon will go to the Learn tab.
3. `assess`: The Activity icon will go to the Assess tab.
4. `manage`: The Activity icon will go to the Manage tab.
5. `prevent`: The Activity icon will

[2021-04-21 05:00] Linoy339 commented on #150
@avaidyam . Okay

[2021-04-21 10:30] saranya-sajeev commented on #124
Hi Jey/Aditya,

We have manually uploaded a new build in beta to check the google fit issue and it is live now. Also sharing the same apk in dropbox. Please check both builds and inform if any issues found.

Dropbox Link : https://www.dropbox.com/s/1ifjaiutqagtuse/mindLamp.apk?dl=0

[2021-04-21 10:31] avaidyam commented on #124
@saranya-sajeev Instead of using a Dropbox link, can you instead attach the ZIP file directly to your issue comment?

[2021-04-21 10:37] saranya-sajeev commented on #124
Sure. Please find the attachment.
[mindLamp.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6350145/mindLamp.zip)

[2021-04-21 14:31] avaidyam opened #166 "Use Poetry to manage dependencies for LAMP-cortex"
[We should switch to use Poetry to avoid the current dependency issues we have when testing/installing `LAMP-cortex`.](https://python-poetry.org)

[2021-04-21 16:07] jijopulikkottil commented on #162
I think the crash started with the builds which using new API library which use Combine framework. I will investigate and update.

[2021-04-21 16:08] avaidyam commented on #162
@jijopulikkottil Thanks for the investigation! Please ping us back here when you find the source of the crashes!

[2021-04-21 16:11] jijopulikkottil commented on #162
here is a related discussion https://forums.swift.org/t/easy-to-reproduce-combine-crash-involving-future-and-concurrency-memory-leak/36334.

[2021-04-21 17:50] tlakhtak opened #167 "mindLAMP logs out when app is closed"

[2021-04-21 17:53] tlakhtak opened #168 "if you are making a list, and click on the "option description" box before the "question option" box, you get this error"
if you are making a list, and click on the "option description" box before the "question option" box, you get this error
![image](https://user-images.githubusercontent.com/82968538/115598790-c9df6b80-a2a8-11eb-8cdc-deaf3104c303.png)

[2021-04-21 17:55] tlakhtak opened #169 "There are no instructions on how to play Jewels in the app"

[2021-04-21 17:55] jlavoie9 opened #170 "Assess icons and descriptions not displaying"
The first time the Assess page loads in the app the icon and description from `lamp.dashboard.activity_details` are not loaded. You have to click out to another tab, then click back to Assess for the icons and description to display properly.

This is  important since we need to use the description to give instructions to the participant before they complete the activity. Currently, we have no way

[2021-04-21 17:58] tlakhtak opened #171 "App is automatically logging out when closed"
Background - I am using an android mobile phone -(Moto g6, Android
version-9) and currently I am using it for research purposes.
I have been given a username and password(with lamp domain eg:
xyz@lamp.com)
and after I login after sometime, if I open the app again, I
automatically just logout from the app.
![image](https://user-images.githubusercontent.com/82968538/115600135-563e5e00-a2aa-11eb-9665

[2021-04-21 18:00] tlakhtak opened #172 "Notification icon on app won't go away"

[2021-04-21 18:02] tlakhtak opened #173 "LAMP thinks its Sunday when its actually Friday"
![image](https://user-images.githubusercontent.com/82968538/115599925-21320b80-a2aa-11eb-9d64-62626b818966.png)

[2021-04-21 18:08] tlakhtak opened #174 "There is a random line on the survey graph"
![image](https://user-images.githubusercontent.com/82968538/115600619-e7add000-a2aa-11eb-947c-e0300219bf2c.png)

[2021-04-21 18:09] tlakhtak opened #175 "Description field in survey not updating even after saving - shows old description"

[2021-04-21 18:11] tlakhtak opened #176 "Survey doesn't format correctly to Android screen"
![image](https://user-images.githubusercontent.com/82968538/115601190-7e7a8c80-a2ab-11eb-9f7b-95f88a7c07b8.png)

[2021-04-21 18:14] tlakhtak opened #177 "Photos in Learn don't show up after you've uploaded them"
![image](https://user-images.githubusercontent.com/82968538/115601451-d5806180-a2ab-11eb-9a74-3f386c3e7e64.png)

[2021-04-21 18:16] tlakhtak opened #178 "Can't customize username or password for client"
![image](https://user-images.githubusercontent.com/82968538/115601688-17110c80-a2ac-11eb-943d-5bd0e92a960f.png)

[2021-04-21 18:22] tlakhtak opened #179 "Feature request: a red notification bubble on the app icon when there is an outstanding survey past due"

[2021-04-21 18:23] tlakhtak opened #180 "Surveys scheduled before daylight savings time are not accounting for time change"

[2021-04-21 18:25] tlakhtak opened #181 "Survey from push notification takes you to Assess - not the survey itself"

[2021-04-21 18:29] tlakhtak opened #182 "Schedules inadvertently being cancelled and scheduled activities not showing up in feed"

[2021-04-21 18:30] tlakhtak opened #183 "Badge for completing a survey does not show up when you access the survey from the Feed"
of navigating from the app directly), once I respond to the last
question and hit submit, the screen remains on the page with the last
question. When I hit the back button (top left arrow), I was taken to
the blank login page, so it was unclear whether my responses saved.
Other times when I hit the back button, I was taken to the mindLAMP home
 page (I didn't notate whether this was the feed or th

[2021-04-21 18:32] tlakhtak opened #184 "Forced logouts"

[2021-04-21 18:35] tlakhtak opened #185 "Seems to be a leftover schedule for activities from 1969?"
![image](https://user-images.githubusercontent.com/82968538/115604070-eed6dd00-a2ae-11eb-87e5-24a40902c90a.png)

[2021-04-21 18:40] tlakhtak opened #186 "Blue bubbles show up on days there is nothing scheduled for"
![image](https://user-images.githubusercontent.com/82968538/115604552-82101280-a2af-11eb-84f2-546c7365fc09.png)

[2021-04-21 18:41] tlakhtak opened #187 "DBT Diary Card: survey is pre-populated with answers from last response"
![image](https://user-images.githubusercontent.com/82968538/115604691-a66bef00-a2af-11eb-9aa6-e230057c1927.png)

[2021-04-21 18:42] tlakhtak opened #188 "Activity description does not show up on the app for the user"
![image](https://user-images.githubusercontent.com/82968538/115604813-cef3e900-a2af-11eb-8bb6-b2f798c98038.png)
![image](https://user-images.githubusercontent.com/82968538/115604830-d3200680-a2af-11eb-825c-aeb19c0bb33c.png)

[2021-04-21 18:45] tlakhtak opened #189 "Cannot re-use the email address of a research, even after their credentials have been deleted (is email being stored somewhere?)"

[2021-04-21 18:47] tlakhtak opened #190 "When you're importing an activity, if the file is too large there needs to be a pop-up telling you so you know why it won't upload"

[2021-04-21 18:48] tlakhtak opened #191 "Feature Request: make survey font larger than the responses for the questions in surveys"

[2021-04-21 18:49] tlakhtak opened #192 "Icons for surveys show up in "Assess" but not in the Feed"
![image](https://user-images.githubusercontent.com/82968538/115605639-be903e00-a2b0-11eb-8cd1-f551f48aaaae.png)
![image](https://user-images.githubusercontent.com/82968538/115605646-c223c500-a2b0-11eb-92cf-793052b7639f.png)

[2021-04-21 18:50] tlakhtak opened #193 "Logged out of app after closing it (on Android)"

[2021-04-21 19:01] tlakhtak opened #194 "Question description and option description fields displaying incorrectly"

[2021-04-21 19:03] jlavoie9 commented on #145
@avaidyam If we only collect when the location changes, it would be important to record a duration as well. Without a recorded duration we won't be able to determine the difference between a stationary participant and a participant with missing data.

[2021-04-21 19:03] tlakhtak opened #195 "Icons successfully uploaded for Learn categories do not show up"
![image](https://user-images.githubusercontent.com/82968538/115607219-b802c600-a2b2-11eb-809e-19ecb2f31d99.png)

[2021-04-21 19:04] tlakhtak opened #196 "Can't click on data point in Prevent graph to expand for more detail"

[2021-04-21 19:06] tlakhtak opened #197 "Completing a survey does not cue the next survey or cognitive test as it should"

[2021-04-21 19:07] tlakhtak opened #198 "Tip category icons not saving - but individual tips within them are"
![image](https://user-images.githubusercontent.com/82968538/115607665-3bbcb280-a2b3-11eb-9bd4-562218cd9c3a.png)
![image](https://user-images.githubusercontent.com/82968538/115607676-3f503980-a2b3-11eb-9026-ab8089d7f581.png)

[2021-04-21 19:08] tlakhtak opened #199 ""Loading" indicator remains on screen even after a tip has been successfully uploaded"
![image](https://user-images.githubusercontent.com/82968538/115607796-673f9d00-a2b3-11eb-86ae-0ae92d4134a6.png)

[2021-04-21 19:10] tlakhtak opened #200 ""Not at All" Survey Response is not showing up for Q10 on the App, but it does show up on the web version"
![image](https://user-images.githubusercontent.com/82968538/115607912-92c28780-a2b3-11eb-847f-129fd49f3551.png)
![image](https://user-images.githubusercontent.com/82968538/115607920-96560e80-a2b3-11eb-859b-4d8da7001a92.png)
![image](https://user-images.githubusercontent.com/82968538/115607936-9bb35900-a2b3-11eb-9992-9ff73005e2ce.png)

[2021-04-21 19:11] tlakhtak opened #201 "Messaging/conversations UI features"

[2021-04-21 19:13] tlakhtak opened #202 "App crashes when attempting to log in (Androids)"
![image](https://user-images.githubusercontent.com/82968538/115608268-0d8ba280-a2b4-11eb-9cce-0b4ad096d872.png)

[2021-04-21 19:14] tlakhtak opened #203 ""Back" and "Submit" buttons overlap on long surveys"
![image](https://user-images.githubusercontent.com/82968538/115608425-3ca21400-a2b4-11eb-9262-1c0b0d8c8d5b.png)

[2021-04-21 19:15] tlakhtak opened #204 "Reorder surveys in groups and questions within surveys"
Currently, all non-Survey Activities have the JSONSchema editor which supports more advanced editing features such as reordering items within lists, and so on. The Survey Activity should also use the JSONSchema editor (no custom editor code for any Activities).

[2021-04-21 19:17] tlakhtak opened #205 "Feature Request: create Matrix format for survey questions (see image)"
![image](https://user-images.githubusercontent.com/82968538/115608681-99053380-a2b4-11eb-8f1d-d0ca84442426.png)

[2021-04-21 19:20] tlakhtak opened #206 "Android user not receiving notifications"

[2021-04-21 19:21] tlakhtak opened #207 "Users not getting notifications on android or iOS"

[2021-04-21 19:23] tlakhtak opened #208 "Android user unable to log in"
![image](https://user-images.githubusercontent.com/82968538/115609347-6a3b8d00-a2b5-11eb-9cab-3c244c7193d0.png)
![image](https://user-images.githubusercontent.com/82968538/115609384-758eb880-a2b5-11eb-98c3-2ac1a5337bf8.png)

[2021-04-21 19:25] tlakhtak opened #209 "Feature request: pop-up calendar answer response for date related survey questions"

[2021-04-21 19:27] tlakhtak opened #210 "Graphs aren't formatted correctly when viewing from Prevent tab in app"
![image](https://user-images.githubusercontent.com/82968538/115609794-fe0d5900-a2b5-11eb-9a70-a3aa2de31272.png)

[2021-04-21 19:32] tlakhtak opened #211 "Can't change location settings under mindLAMP in iPhone "Settings""
The participant's ID is U2733152649

[2021-04-21 19:33] tlakhtak opened #212 "1. Notification not appearing when they're scheduled to 2. App goes to blank screen when game finishes and eventually crashes"
![image](https://user-images.githubusercontent.com/82968538/115610491-f00c0800-a2b6-11eb-8087-6d85b14773fd.png)

[2021-04-21 19:35] tlakhtak opened #213 "Sometimes, 1 message will be sent MANY times (both TO and FROM app)"

[2021-04-21 19:37] tlakhtak opened #214 "Feature request: MANY"

[2021-04-21 19:40] tlakhtak opened #215 "Bug: activity name runs over icon if it is long, Feature request: separate surveys and cognitive tests into different categories, set an icon for cognitive tests"

[2021-04-21 19:43] tlakhtak opened #216 "Cannot delete survey responses from clinician view"

[2021-04-21 19:51] tlakhtak opened #217 "Ability to edit and backdate survey/diary card responses"

[2021-04-22 11:30] sarithapillai8 commented on #185
@avaidyam
Updated the group activity creation  without schedule -
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/213

[2021-04-22 14:50] tlakhtak opened #218 "Levels don't advance on Jewels"

[2021-04-22 14:52] tlakhtak opened #219 "Sometimes all of the jewels aren't on the screen"
![image](https://user-images.githubusercontent.com/82968538/115735914-da4f1f00-a358-11eb-9ee6-37fbc123cb3e.png)

[2021-04-22 15:01] jlavoie9 commented on #163
Updated the decorators to use `timestamp` key rather than `start` based on conversation yesterday . Will change and create a pull request to reflect

[2021-04-23 04:14] nsrilakshmi96 opened #220 "How to add Smartphone Cognitive Tests to a study?"

[2021-04-23 09:04] Linoy339 commented on #160
If Redis is not configured then fall-back to the original straight-to-database behavior:

If this happens, notifications also won't work. Right?
   Do we need to implement a common solution for all(eg: make a flag cache_enabled in .env and make use of the redis cache, if its true. If done like this, we might have to check everywhere we use redis cache mechanism that include notification firing too

[2021-04-23 13:13] rbilden commented on #220
Hi @nsrilakshmi96 here is the link to an article that should help: https://docs.lamp.digital/create_activities
Please check out [docs.lamp.digital](docs.lamp.digital) for more "how to" information!

[2021-04-23 15:08] jeydude commented on #202
Hi, That's my android phone screen, can you remove it. Thanks!

[2021-04-23 15:10] avaidyam commented on #202
@jeydude I have removed the first screenshot, and the second screenshot contains no identifiable content. Thanks for letting us know!

[2021-04-23 21:08] avaidyam opened #221 "Security vulnerabilities in LAMP-server"
There are a few remaining minor security vulnerabilities to be addressed in `LAMP-server`. **This is a priority.**

![image002](https://user-images.githubusercontent.com/1361003/115929796-5f6c2e00-a456-11eb-804a-51668aef6648.jpg)

Vulnerabilities document: [lamp-server.6886528fb7e4.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6368113/lamp-server.6886528fb7e4.json.txt)

[2021-04-24 07:55] nsrilakshmi96 commented on #220
Hi @rbilden, thank you for your response. I don't see the cognitive tests to add an activity in the dashboard. I have attached a screenshot for your reference.
![Capture](https://user-images.githubusercontent.com/46331228/115951826-7d8e6880-a500-11eb-9374-9ee1896e29b6.PNG)

[2021-04-26 09:01] Linoy339 commented on #221
@avaidyam . The following  packages were not found :
1)SSRI
2)hosted-git-info
Do we need to install the above or do we need to ignore it ?

The following dev dependencies are not required :
1)@types/express-http-proxy
2)@types/jsonwebtoken
The above 2 packages will be removed

The following packages need to be upgraded:
1)glob-parent : (need to upgrade from 5.1.1 to 5.1.2, as per the remediation)

[2021-04-26 09:30] avaidyam commented on #221
Are you checking in `package.json` or using `npm audit fix`?

[2021-04-26 09:40] Linoy339 commented on #221
while we have done done npm audit fix, its nothing found as vulnerabilities.
So, we have deeply looked into the modules which we used and  concluded

[2021-04-26 09:40] Linoy339 commented on #221
Also, when we checked using [snyk.io](https://app.snyk.io/), no vulnerabilities were found

[2021-04-26 09:49] Linoy339 commented on #221
Once again checked  with npm audit fix. It says **fixed 0 of 0 vulnerabilities in 479 scanned packages**

[2021-04-26 09:54] avaidyam commented on #221
Can you see if these packages are listed at all in `package-lock.json`?

[2021-04-26 10:02] Linoy339 commented on #221
Yes. Only glob-parent exists in package-lock.json which comes as a dependency of ajv. Nothing like ssri, hosted-git-info exists in package-lock.json.

[2021-04-26 10:04] avaidyam commented on #221
We do require AJV as it should have been used this whole time for validation of objects, so please upgrade `glob-parent` in `package-lock.json`.

[2021-04-26 10:11] Linoy339 commented on #221
Ok. We will make the change and give you a PR

[2021-04-26 12:33] rbilden commented on #220
@nsrilakshmi96 can you scroll down once you open that menu? The activities should be below "Smartphone Cognitive Tests." If not, then this is a bug and you can submit a bug report here: https://docs.lamp.digital/bug

[2021-04-26 12:36] avaidyam commented on #220
@nsrilakshmi96 Is this a self-hosted server? (i.e. not `api.lamp.digital`)

[2021-04-26 12:38] nsrilakshmi96 commented on #220
@avaidyam Yes, this is a self-hosted server.

[2021-04-26 12:39] tlakhtak opened #222 "Daily streak resets and question numbers missing"
An NIH patient also had the same issue of question numbers not showing up
![image](https://user-images.githubusercontent.com/82968538/116083633-d712a680-a66a-11eb-8475-35801db97f48.png)
![image](https://user-images.githubusercontent.com/82968538/116083643-dbd75a80-a66a-11eb-8312-871fa57c0b27.png)

[2021-04-26 12:41] tlakhtak opened #223 "Missing Jewels numbers"
![image](https://user-images.githubusercontent.com/82968538/116083829-1640f780-a66b-11eb-80f3-4d5309476ba8.png)

[2021-04-26 12:42] tlakhtak opened #224 "Streak discrepancies across jewels A and B in Hindi"
![image](https://user-images.githubusercontent.com/82968538/116083975-45efff80-a66b-11eb-9653-2336e63ac4f8.png)
![image](https://user-images.githubusercontent.com/82968538/116083983-49838680-a66b-11eb-9f04-04cb5df8ebb8.png)

[2021-04-26 12:43] tlakhtak opened #225 "Partially translated survey pages"
![image](https://user-images.githubusercontent.com/82968538/116084131-733cad80-a66b-11eb-88f5-98e8589c7deb.png)
![image](https://user-images.githubusercontent.com/82968538/116084151-7768cb00-a66b-11eb-9957-337ce06054bc.png)

[2021-04-26 12:44] avaidyam commented on #220
@nsrilakshmi96 If you have access to the database, please try calling this command:

[code]

[2021-04-26 13:18] avaidyam commented on #221
@Linoy339 `npm install --package-lock-only glob-parent@5.1.2` should solve this. (And please do remove the unused packages, thanks!)

[2021-04-26 13:20] avaidyam commented on #8
This item appears to be completed already so I'm closing this issue for now.

[2021-04-26 13:20] #8 closed

[2021-04-26 13:21] avaidyam commented on #111
This item appears to be completed already, so closing this issue now.

[2021-04-26 13:21] #111 closed

[2021-04-26 13:51] Linoy339 commented on #221
@avaidyam . It was a mistake from my part.
glob-parent was upgrading  when ajv got upgraded to 8.1.0.

[2021-04-26 13:57] Linoy339 commented on #221
@avaidyam . That was a mistake from my side.
glob-parent was upgrading to latest when ajv is upgraded.

[2021-04-26 14:11] avaidyam commented on #221
Fantastic - thanks @Linoy339.

[2021-04-26 15:05] nsrilakshmi96 commented on #220
@avaidyam the underscore before docs gives an error in the curl command saying 'post body must include docs parameters', after removing the underscore, curl command ran. I am now able to see Smartphone Cognitive Tasks in the dashboard. Thank you!

[2021-04-26 15:05] #220 closed

[2021-04-26 15:08] avaidyam commented on #220
@nsrilakshmi96 Fantastic - great debugging skills! I've updated my original comment and removed the underscore.

This appears to be a similar duplicate of #119 except affecting Activity configuration and not Sensor configuration. (This is also a pretty minor item and will be resolved in the next major release.)

[2021-04-26 15:10] Linoy339 commented on #221
@avaidyam .Please find
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/85](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/85)

[2021-04-26 15:11] avaidyam commented on #221
@Linoy339 Thanks! I've merged it and will let LAC ISD know to re-run the security scan. //cc @jtorous @elenamrv

[2021-04-26 15:11] #221 closed

[2021-04-26 15:12] Linoy339 commented on #221
Okay

[2021-04-26 15:37] Linoy339 commented on #160
@avaidyam . Got it.
But, a concern of publishing large sensor_event data in nats server is there.
As  we are keeping  a separate redis instance in Lamp-server too, we can overcome that which we believe.

[2021-04-26 15:39] avaidyam commented on #160
Should it overwhelm NATS, we can artificially rate-limit or size-limit it somehow. (i.e. if Patient X uploads 500 sensors events of type `lamp.gps`, only push the very last `lamp.gps` event instead.)

[2021-04-26 15:59] avaidyam commented on #160
Hmm, I'm not quite following. It's my understanding that this is the workflow:
1. Data enters the `SensorEventService.create()` function.
1. IF caching enabled (i.e. `REDIS_HOST` env exists):
    1. Push all data to Redis (`BulkDataWrite`).
    1. If number of cached events > threshold, spawn background process/thread.
        1. Flush Redis cache to database. (May take ~1500ms.)
        1. Notify

[2021-04-26 16:08] Linoy339 commented on #160
Okay. Got it.
I was in a confusion of dumping these bulk events  to database from Lamp-worker side.
Now its  clear. So, its only the latest data to go to nats consumer, which make a good solution.

Thanks @avaidyam

[2021-04-26 16:11] avaidyam commented on #160
@Linoy339 That's correct, glad to help! The `LAMP-server` (API Server) component will still basically be in charge of database/caching, vending the API, and allowing listeners to be notified of data changes. The `LAMP-worker` component will use the API and listen to changes to (1) update push notification schedules, (2) invoke automations code.

[2021-04-26 17:42] kkadapa commented on #123
Hi @avaidyam When I go to https://dashboard.lamp.digital/#/ and **Try it** as **Researcher** it shows the below loading screen same happens when I connect to our QA environment backend.

According to the new update/release what exactly needs to be changed in the backend for the Steps Sensor to work? and Once the Researcher/Clinician configures the Sensors (steps) will they be available to the Pati

[2021-04-26 17:44] avaidyam commented on #123
@kkadapa [As indicated in the release notes/latest news post](https://docs.lamp.digital/blog#frontend), you need to upgrade your server image to the latest `:2021` image, and then it should work correctly.

[2021-04-27 15:38] jijopulikkottil commented on #162
@Ashermind We have done some improvements. Could you please check with new beta build (265).

[2021-04-27 18:55] jeydude commented on #124
@saranya-sajeev, We tried the latest mindlamp android app attached in the above thread, we are getting Google Fit issue again and we are not getting any sensor data from wearable.

[2021-04-28 05:22] saranya-sajeev commented on #124
Shared apk working fine for me. But beta build in play store having issue when connecting to google fit. Let me check in another device.

[2021-04-28 06:41] saranya-sajeev commented on #124
Hi Jey,
QA checked in another device and attached apk working fine for them.

[2021-04-28 12:38] tlakhtak opened #226 "Jewels Missing Number"
![image](https://user-images.githubusercontent.com/82968538/116403222-50d99a00-a7fb-11eb-814f-c840af25141e.png)

[2021-04-28 12:39] tlakhtak commented on #226
Closed because duplicate of #223

[2021-04-28 12:39] #226 closed

[2021-04-28 12:42] tlakhtak opened #227 "DBT Appearance and Survey Functionality Issues"
![image](https://user-images.githubusercontent.com/82968538/116405216-651e9680-a7fd-11eb-9830-905a0ed065cc.png)
![image](https://user-images.githubusercontent.com/82968538/116405228-694ab400-a7fd-11eb-9305-408a7957acf6.png)
![image](https://user-images.githubusercontent.com/82968538/116405245-6d76d180-a7fd-11eb-9388-5bfddbfa90f3.png)
![image](https://user-images.githubusercontent.com/82968538/1164

[2021-04-28 12:50] tlakhtak opened #228 "DBT Diary Card values are pre-populated with the user's most recent answers when they start a new one"
![image](https://user-images.githubusercontent.com/82968538/116406413-a2375880-a7fe-11eb-83c5-60b36b8b2928.png)
![image](https://user-images.githubusercontent.com/82968538/116406429-a6fc0c80-a7fe-11eb-854b-99dc50bc2f0b.png)
![image](https://user-images.githubusercontent.com/82968538/116406447-ac595700-a7fe-11eb-9499-f340bb97d89d.png)
![image](https://user-images.githubusercontent.com/82968538/1164

[2021-04-28 12:51] tlakhtak opened #229 "DBT Diary Diary card should not have ratings already filled at "0""
The screenshot attached shows the current state - how the rating for every item defaults to "0" being filled.
![image](https://user-images.githubusercontent.com/82968538/116406668-e3c80380-a7fe-11eb-8dc6-06f0e2da62f6.png)

[2021-04-28 19:52] tlakhtak opened #230 "Missing Jewels Numbers"
Missing Jewels Numbers

[2021-04-28 19:53] tlakhtak commented on #230
Closed because duplicate with issue #223

[2021-04-28 19:53] #230 closed

[2021-04-28 19:55] tlakhtak opened #231 "Jewels game streak error"

[2021-04-28 20:24] rydmel opened #232 "DBSCAN -> T-DBSCAN"
Investigate T-DBSCAN and its limitations with respect to the current implementation of DBSCAN

[2021-04-28 20:29] rvolety commented on #124
All:
Just wanted to let you know that I installed the new shared APK file and it is now connecting to Fit. The previous installation from play store had a connection error and caused data not to sync to Google Fit (from 4/21 to 4/28). This is data loss at this time.
Another issue to be fixed is the sleep data. No sleep data is coming through any app version.

Thanks,
Rama Volety

[2021-04-29 03:15] kkadapa commented on #123
Thansk @avaidyam. We already had 2021 but just had to clear browser cache. I followed as outlined in this issue to manually add Steps Document to the sensor_spec database. https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/119

![image](https://user-images.githubusercontent.com/6679852/116498364-9471e980-a877-11eb-8fde-b9e7105a2ccc.png)

Please see below, When I click on the Cortex sec

[2021-04-29 06:24] saranya-sajeev commented on #124
Rama thank you for the update. Sleep data will be available in the new version.

@avaidyam In Google console they are asking for app verification and we have to provide  following details

1.  Application home page link
2.  Application privacy policy link
3. Authorized domains
4. User support email
5. Developer contact email
6. How will the scopes be used? (Explain to Google why you need these sco

[2021-04-29 12:34] tlakhtak opened #233 "Jewels Missing Number"

[2021-04-29 12:35] tlakhtak commented on #233
Closed because duplicate of #223

[2021-04-29 12:35] #233 closed

[2021-04-29 15:05] avaidyam opened #234 "Cortex caching implementation"
The proposed implementation for the Cortex caching system is as follows:

### Overview
![Untitled](https://user-images.githubusercontent.com/1361003/116569299-41c81a00-a8d7-11eb-9e56-9855df4424eb.png)
* The blue boxes represent already-cached calls to a Cortex feature function, and the gray boxes represent un-cached calls to a Cortex feature function.
* The check-mark indicates that the feature fu

[2021-04-29 15:14] avaidyam opened #235 "Cortex main function"
Currently, each feature function must be run for each unique Participant ID with the same parameter set. Instead, a helper function (called `run` or `main`, etc.) can instead automate this and provide a much friendlier interface to using Cortex:

[code]

1. First, the function will generate an ID list.
    1. If provided a single string, check the type of the object.
        1. If Participant, the

[2021-04-29 17:34] avaidyam commented on #234
@jlavoie9 mentioned the following:

[2021-04-29 23:10] jeydude opened #236 "Open API error"
I tried to convert mindLAMP Open API 3.x (https://api.lamp.digital/) to Swagger 2.0. Got error.

Tried to copy and past the content from https://api.lamp.digital/ to https://editor.swagger.io/. Noticed there is a error. Please let me know is it OK to modify type_id to id for /study/{id}/credential.

Also Please make sure Open API Schema is updated to your latest LAMP API Server changes. Thanks!

[2021-04-30 12:03] tlakhtak opened #237 "Mandatory response before preceding"

[2021-04-30 12:08] tlakhtak opened #238 "Back button logs out the user"

[2021-04-30 12:16] avaidyam commented on #236
@jeydude [Please use the `openapi.yml` file in this (LAMP-platform) repository instead!](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/blob/master/openapi.yml) The definition will be updated for the server side at a later date due to some minor API inconsistencies introduced in the recent release -- sorry!

[2021-04-30 12:16] #236 closed

[2021-04-30 13:49] avaidyam commented on #153
@jeydude [It looks like this PR](https://github.com/BIDMCDigitalPsychiatry/LAMP-core-android/pull/15) might solve the issue you need. It should take a few minutes (up to an hour) to pass through Google Play Store review and land in beta.

[2021-04-30 13:51] avaidyam commented on #124
@saranya-sajeev My team will take care of the app verification process; thanks for letting us know! //cc @tlakhtak @elenamrv

[2021-04-30 14:59] avaidyam commented on #238
@tlakhtak There seem to be several duplicates: #212, #193, #184, and #171. Let's close all the others and redirect them to #171?

[2021-04-30 15:50] jlavoie9 commented on #235
This function also needs to automatically get the start and end time for a participant if none are provided. These default start and end should just be the first and last events found for a participant

[2021-04-30 16:06] jeydude opened #239 "Issue loading patients data"
Looks like mindLAMP dashboard application updated recently and based on Latest news email from @avaidyam, I have updated mindlamp stack to use latest image
[code]
after updating the mindLAMP stack in our server,
[code]

is failing to load participants data, Is this new API request?

Thanks!

[2021-04-30 16:48] saranya-sajeev commented on #153
Google fit connection issue in play store
[MindLamp_04302021.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6406624/MindLamp_04302021.zip)
beta may be fixed only after completing the verification. You can check in the attached build.

[2021-04-30 18:03] tlakhtak commented on #184
Closed because duplicate to #171

[2021-04-30 18:03] #184 closed

[2021-04-30 18:04] tlakhtak commented on #238
#212 is unrelated, other are merged to #171

[2021-04-30 18:04] tlakhtak commented on #238
Closed because duplicate to #171

[2021-04-30 18:04] #238 closed

[2021-04-30 19:10] jeydude commented on #153
Thanks @saranya-sajeev and @avaidyam, we will try the apk file and let you know. Thanks for the apk file!

[2021-04-30 19:24] jeydude commented on #239
this is similar to https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/123, we need to update our Akana API

[2021-04-30 19:24] #239 closed

[2021-04-30 20:05] tlakhtak opened #240 "Prevent Page Y-axis Scale"

[2021-05-01 01:59] Will-Griffin commented on #221
@avaidyam @Linoy339 CVE-2021-23362 and CVE-2021-27290 persist. After our discussion with BIDMC  @LACDMH-Integration updated this [dockerfile update](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/88) .

[2021-05-03 09:48] jijopulikkottil commented on #156
@jeydude we have done some improvement (https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/133) with latest iOS beta build.

[2021-05-03 14:31] Linoy339 commented on #150
@avaidyam . Just to confirm:
Along with publishing activity api changes, we have to do the following too:
In the LAMP-server start,
   Instead of calling ActivityScheduler(), we have to fetch activities for valid studies,
   and  publish activity_id.
   LAMP-worker will be consuming the activity_id via nats. Then, using lamp-core, it will be
   fetching activity schedules, there by updating every

[2021-05-03 14:34] jeydude commented on #156
@jijopulikkottil Thanks for the update, yes, I noticed that around 4/25 onwards we are getting data similar to Android. Appreciate much for the update!

[2021-05-03 14:39] avaidyam commented on #150
@Linoy339 No - `LAMP-server` will not be doing this, only `LAMP-worker`:
1.`LAMP-worker` starts up...
1. Use `LAMP-js` to query API server for active Researchers
    1. Loop through Researchers and query for active Studies
        1. Loop through active Studies and query for Activities
            1. Check whether the activity ID and schedule are already in the scheduler cache
                1. I

[2021-05-03 15:18] Linoy339 commented on #150
Okay. Got it @avaidyam . LAMP-server will not be doing this, only LAMP-worker.

Actually, Point No 1 is done. But, Instead of updating the existing schedule, we are removing and inserting it again.
The activity get function in the Activity repository has been tweaked to get with no binary data
from the query level itself, if ignore_binary is true, so that the function is
optimized enough  not end

[2021-05-03 15:19] avaidyam commented on #150
That makes sense! I think we're on the same page about the implementation, then. 👍

[2021-05-03 15:25] Linoy339 commented on #150
Okay. 👍

[2021-05-03 15:34] Linoy339 commented on #150
Sorry. Above should be written as :

LAMP-worker starts up...
**1. Firstly, clear all Schedules from redis cache**
2.Use LAMP-js to query API server for active Researchers
-Loop through Researchers and query for active Studies
-Loop through active Studies and query for Activities
-Take those activities with valid schedules and add to scheduler
3.Register a listener (from LAMP-worker) for activity.

[2021-05-03 15:34] Linoy339 commented on #150
👍

[2021-05-03 15:36] avaidyam commented on #150
I see - so the difference here is two things:
1. You are not keeping a visited ID list and then removing stale entries afterward, because you are clearing the whole schedule cache at the start and rebuilding it. (That should still be fine for now.)
1. You are not registering a listener for participant IDs, I assume because you are just fetching the list dynamically when the schedule fires instead.

[2021-05-03 15:58] Linoy339 commented on #150
Yes. That's right @avaidyam .
,

[2021-05-04 15:15] tlakhtak opened #241 "Dashboard buttons missing for some participants"
![image](https://user-images.githubusercontent.com/82968538/117026725-04de9780-acca-11eb-8fe2-8269410c01ea.png)

[2021-05-04 16:57] jeydude opened #242 "SMS/Text message information"
Is it possible to receive SMS/Text message information. Datetime of the message, sent/received, etc?

[2021-05-04 16:59] avaidyam commented on #242
Yes, this is already possible and is documented. Mileage may vary by device and operating system version as Apple/Google have been making it harder to get this data in the past few years.

[2021-05-04 16:59] #242 closed

[2021-05-04 17:01] jeydude commented on #242
Thanks @avaidyam, to receive sms, do i need to include lamp.sms as part of the sensor_spec?, if yes, could you share the sensor_spec for sms. Thanks!

[2021-05-04 17:04] avaidyam commented on #242
[This is the projected list of SensorSpec IDs.](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/92#issuecomment-770976348) You should be able to add any/all of them to test with!

[2021-05-04 17:07] jeydude commented on #242
Thanks!

[2021-05-05 13:48] kkadapa commented on #123
@avaidyam Do we need to open a new issue to track the UI glitch? Can we expect to see Steps data once the issue is fixed?

[2021-05-05 14:33] jeydude opened #243 "Open API definition missing new APIs?"
@avaidyam, I have noticed few new Endpoints/APIs that are called in the mindLAMP dashboard. But they are not listed in the [Open API 3.0.3 definition](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/blob/master/openapi.yml) -

Here are some the new Endpoints/APIs that are called in the mindLAMP dashboard:
[code]

can you please update newly added endpoints/apis to the Open API schema defin

[2021-05-05 15:33] avaidyam commented on #243
@jeydude Thanks for the heads up - these were introduced in the recent production release and should not be part of the official API. **They will be removed in the next production release and should not be used as official public API.** My team can temporarily document them for your security firewall use-case.

[2021-05-05 18:01] jeydude commented on #153
@saranya-sajeev, we got the sleep data only for one day after that we are not getting

here is one of the android user data with latest timestamp. User is actively using the wearable, apps.
![image](https://user-images.githubusercontent.com/841011/117187754-ddf39480-ada1-11eb-8782-802f202e7165.png)

[2021-05-06 05:46] saranya-sajeev commented on #153
Is sleep data showing in Google fit for other days?

[2021-05-06 12:24] tlakhtak opened #244 "Jewels A and B not opening. Blue screen visible"
![image](https://user-images.githubusercontent.com/82968538/117297617-70e50b00-ae44-11eb-80ee-a0baa130f1a6.png)

[2021-05-06 13:05] tlakhtak opened #245 "No Jewels Visible"
![image](https://user-images.githubusercontent.com/82968538/117302876-1b136180-ae4a-11eb-8825-af344e07e25c.png)

[2021-05-06 13:05] tlakhtak commented on #245
Closed because duplicate to #244

[2021-05-06 13:05] #245 closed

[2021-05-06 14:27] jeydude commented on #153
We can see the sleep data in Google Fit for all the days but not in mindLAMP database. We are using your APK file - MindLamp_04302021.zip for android.

Attached Log file here, I do not see any error with sending sensor data.
[LampLog-09082021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6435316/LampLog-09082021.txt)

Let me know if you need anything else. Thanks!

[2021-05-06 14:33] jeydude commented on #156
@jijopulikkottil, For steps mismatch with iOS, I am seeing a pattern with Apple Health app and mindLAMP database. Looks like Apple Health App shows data for every 15 minutes, rarely I see multiple entries for the 15 minutes period, mindLAMP is not collecting those multiple entry data that causes mismatch with steps in iOS.

Look at the screens data from iOS and mindLAMP
![ios-health-steps-image](h

[2021-05-06 14:35] saranya-sajeev commented on #153
Ok I will check.

[2021-05-06 14:56] jeydude commented on #156
@jijopulikkottil, I am not getting some of the sensors value recently, I am using latest test flight version of mindLAMP in iOS. Enabled all the permissions with privacy, health app, mindlamp, wearables app. Any reason? Thanks!

![image](https://user-images.githubusercontent.com/841011/117319408-e35be800-ae50-11eb-9bed-2736aa710a48.png)

[2021-05-06 15:11] avaidyam opened #246 "CI/CD for LAMP-activities"
With the new CI/CD script in the `LAMP-activities` repository, others should no longer be directly running `compress_activity.sh` anymore unless testing locally. To test the build script you can do `./build.sh BoxGame/` to only build that one activity. To let it auto-build all of them, use `./build.sh`.

---

### ActivitySpec updates for `LAMP-dashboard`

The ActivitySpec "executable" field must b

[2021-05-06 15:50] avaidyam opened #247 "Tarball releases for LAMP-dashboard"
An update to the CI/CD pipeline must be made for `LAMP-dashboard` so that in addition to staging/production Docker image publishing, a build output tarball is also generated and attached to new releases (for clients who choose to host the static files on S3/CloudFront, etc. instead of a live NGINX Docker container), [using this GitHub Action](https://github.com/marketplace/actions/zip-release).

[2021-05-06 17:23] Linoy339 commented on #155
Please find :
[https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/89](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/89)

[2021-05-07 19:30] avaidyam opened #248 "Ambient sound level sensor"
(Parking this issue; not an active work item.)

Add `lamp.ambient_noise` as a Sensor to support collecting the ambient noise level in decibels (dB) at a provided frequency. This SHOULD NOT collect actual audio files/recordings in any way.

[2021-05-07 19:40] avaidyam commented on #243
@jeydude This is not due to the API definition -- this is probably related to #123 or #133. However, the development team is working to add an OpenAPI definition for these two methods.

[2021-05-07 19:46] jeydude commented on #243
Thanks @avaidyam, let us know once you have

[code]
or any other missing APIs in the mindLAMP Open API 3.0.3 added to the YAML/JSON file.  Thanks!

[2021-05-08 10:35] jijopulikkottil commented on #156
@jeydude @avaidyam we didn't expect multiple entry at same time from same source.
We will have lot of duplicate entries If we support to collect those kind of multiple entries. I think we can eliminate it when query from database using unique timestamps. Please confirm to proceed.

[2021-05-08 10:54] jijopulikkottil commented on #156
@jeydude You mean, not getting the sensors lamp.gps, lamp.device_motion, lamp.accelerometer, lamp.sleep and lamp.activity_recognition. Hope you have added all these against the Study.

[2021-05-08 11:41] avaidyam commented on #156
@jijopulikkottil I think it's okay to collect duplicate timestamp entries. We want to basically clone the entire HealthKir database anyway.

[2021-05-10 11:24] avaidyam commented on #243
@jeydude Here is the modified specification for temporary use with Akana (please remove the `.txt` extension):  [openapi_modified_akana.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6451639/openapi_modified_akana.json.txt)

[2021-05-10 11:26] #243 closed

[2021-05-10 11:51] jijopulikkottil commented on #145
@avaidyam , we can consider the field 'frequency' comes inside for specs "lamp.gps", "lamp.device_motion" and "lamp.accelerometer".
sample:
[code]

How we need to handle the param 'cellular_upload'? for individual sensors or for all ? Hope it will be applicable for all sensors, so the parameter comes outside the sensors array. Please comment.

[2021-05-10 11:53] avaidyam commented on #145
@jijopulikkottil Cellular upload should be considered at a per-sensor level. Furthermore, the correct `Sensor` object definition is as follows (`frequency` should be part of the `settings` object):
[code]

If there are **significant** challenges in implementing this, please prepare those so we can discuss them in this week's meeting.

[2021-05-10 12:05] jijopulikkottil commented on #145
Yes, It has some challenges. We should keep each sensor data in individual files.

[2021-05-10 12:06] avaidyam commented on #145
For now, an alternate solution is to auto-enable `cellular_upload` for ALL sensors if AT LEAST ONE sensor has it enabled. If this approach is easier to get started with, then it is easier to keep a backlog issue describing this challenge and add a disclaimer to the documentation about this behavior (which I will do).

[2021-05-10 12:36] jijopulikkottil commented on #145
Yes, that is easier. We can continue with that approach.

[2021-05-10 13:31] jeydude commented on #156
Thanks @jijopulikkottil, I do have all those sensors added to the study. I was getting those sensor values before April 20. Only difference is
1. Applied latest image -  image: bidmcdigitalpsychiatry/lamp-server:2021
2. Updated iOS mindLAMP app to latest beta version

We are getting those sensor values for android mindLAMP app (if we logout and login).

Can you check on your side if you are gettin

[2021-05-10 13:32] jeydude commented on #243
Thanks @avaidyam, I will use this and update our API system. Thanks for your help!

[2021-05-10 13:34] jeydude commented on #243
Please try the new json file with https://editor.swagger.io/, getting some errors, please fix them and I will use the latest. Thanks @avaidyam

[2021-05-10 13:38] avaidyam commented on #243
It's now updated (the original comment has also been updated): [openapi_modified_akana.json.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6452430/openapi_modified_akana.json.txt)

[2021-05-10 13:54] jeydude commented on #243
Thanks, looks good.

[2021-05-11 12:38] ryan-hays commented on #234
Basic items (1), (2), and (3) have been [implemented as of this PR](https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/pull/23)

[2021-05-11 12:44] ryan-hays commented on #163
Is there a pull request to reference for this fix? I think we can close this issue but want to make sure

[2021-05-11 13:48] jeydude commented on #156
@jijopulikkottil here are the sensors added to the patient profile, let me know if missed anything. Thanks!

![image](https://user-images.githubusercontent.com/841011/117826161-90f63f00-b235-11eb-99aa-dcd0742cb2de.png)

[2021-05-11 20:07] jeydude opened #249 "Self password change - Researcher/Patient"
How do I update my password, if I login as researcher or as a patient?

I am not seeing manage credential option in the dashboard app.

![image](https://user-images.githubusercontent.com/841011/117877681-77231f00-b26a-11eb-8ba5-e5573e8b02e8.png)

[2021-05-11 20:21] avaidyam commented on #249
This was a security and compliance change. Patients must ask their clinicians and clinicians must ask their system administrators for a password reset.

[2021-05-11 20:21] #249 closed

[2021-05-12 08:57] Linoy339 commented on #150
@avaidyam : Just to know: While we conect using LAMP.connect() in LAMP-worker, do we have to use the admin credentials of LampServer?
There is a need for it to encrypt using crypto js  or any other tool, as it need not to be exposed in Lamp-worker(.env). Right?

[2021-05-12 12:35] avaidyam commented on #150
@Linoy339 The parameters for `LAMP.connect()` are access key (`LAMP_ACCESS_KEY`), secret key (`LAMP_SECRET_KEY`), and server address (`LAMP_SERVER_ADDRESS`). These should all be pulled from the environment itself. As you correctly state, they should not be encrypted or anything else. 👍

[2021-05-12 12:46] Linoy339 commented on #150
Okay. Got it

[2021-05-12 14:45] jeydude commented on #156
@saranya-sajeev, We are continue to see the mismatch in steps among Third party app, Google Fit and mindLAMP, not sure if you are having issue or not. Please let us know. Thanks!

@jijopulikkottil for iOS, with source data field in the JSON, the steps data looks accurate, sometimes we see mismatch in steps only if we get multiple entries for the same source at same interval like I have mentioned i

[2021-05-12 14:47] avaidyam commented on #156
@jeydude This is expected behavior and you are required to filter by `source` on your end.

@saranya-sajeev Are we receiving the `source` parameter for the Android code the same way as the iOS code?

[2021-05-12 15:01] jijopulikkottil commented on #145
For iOS,
1. As we are fetching lamp.device_motion and lamp.accelerometer data using same motion handler, we have to use same frequency if both exist. So if both exist and have different frequency, then we will use frequency of lamp.device_motion. hope this is fine.

2. We have to set a maximum (also the default) threshold frequency. so for lamp.gps, can we set frequency 1 ? So if user set a freque

[2021-05-12 15:06] avaidyam commented on #145
Yes -- this is perfectly fine, but instead, please use the **highest frequency between the two.**

Sure, but please make sure this maximum is defined by Apple/Google as a hardware or software limitation. If the clinician requests 100 Hz and the hardware supports it, it should be collected at that rate.

The maximum threshold should not be different across iOS and Android. If 100 Hz is the maximum,

[2021-05-12 15:26] avaidyam opened #250 "Implement Cortex raw features for WiFi/Bluetooth and Sleep"
We should implement `lamp.wifi`, `lamp.bluetooth`, and `lamp.sleep` raw features. One item of note is to clearly differentiate how the "raw feature sleep" is HealthKit/Fit derived and not the same as our "secondary feature sleep". Furthermore, we should add additional info to the documentation around Bluetooth/WiFi address + RSSI:

<img width="660" alt="Screen Shot 2021-05-12 at 11 01 50 AM" src="

[2021-05-12 15:28] saranya-sajeev commented on #156
Yes the source parameter is there in Android.

[2021-05-12 15:29] saranya-sajeev commented on #156
@jeydude let me check.

[2021-05-12 15:44] jijopulikkottil commented on #145
@avaidyam  Can we set frequency in staging dashboard or is the related server task not done ?

[2021-05-12 15:46] avaidyam commented on #145
@jijopulikkottil To do so you will need to call the API method using cURL on the command line or some similar approach. The frontend task was not completed.

[2021-05-12 17:33] jeydude commented on #243
@avaidyam We noticed mindLAMP dashboard application is still calling below which is missing with your Open API definition.
"/type/{id}/attachment"
"/type/{id}/attachment/{attachment_key}"

after adding these two API from the old definition, now it is working.

Please consider to include above APIs definition as part of your Open API definition. Thanks!

[2021-05-12 19:02] tlakhtak opened #251 "API server doesn't create credential"
LAMP API server no longer creates an admin credential on first launch, making it impossible to work with the server

[2021-05-12 19:54] avaidyam commented on #251
**The following is for future reference only!**

In the event that LAMP fails to initialize (for MongoDB/AWS DocumentDB) you have to manually open a MongoDB shell:

[code]

Then, execute the following commands:
[code]

You cannot manually encrypt an admin credential this way, however. If the creation of the admin credential fails, it cannot be manually resolved (and may need to be transplanted by

[2021-05-13 21:11] Ashermind commented on #124
I am not sure if it is a big problem, but it might be.

As of now we are experiencing quite huge problems with collecting passive data from the app across all devices.

We have the latest backend (updated and deployed with new clean database today) and we use beta apps for Android and iOS.

There are no issues logging in and sending messages to clinician and completing surveys. But there are probl

[2021-05-13 21:24] rvolety commented on #124
All:
Just wanted to update the latest status of our Android testing after the latest APK release.
Heart rate data is coming through correctly with no issues. Sleep data is also coming through. However, we need to logout and log back in every day to see the sleep data. If we keep the mindLAMP application running, we will be missing the sleep data for those days. Lastly, step count data is not match

[2021-05-14 13:48] jeydude commented on #243
@avaidyam, I am getting more and more API error due to mismatch with Open API definition and API calls from latest mindLAMP dashboard application, please make sure to include all the latest APIs in Open API definition.

Here are some of the errors due to mismatch with Open API definition, I did not test each functionality of the mindlamp dashboard application, if I test them I am sure I will have

[2021-05-14 15:03] Ashermind opened #252 "Not collecting passive data from Android and iOS devices (latest releases)"
**Description of the issue**
1. We redeployed lamp backend on our server using Portainer
2. Ourbackend image is the latest 2021 release.
3. We added sensorspec manually into the couch db.
![image](https://user-images.githubusercontent.com/46451717/118287942-36c6d980-b4d4-11eb-821f-8c686ba9b599.png)
4. We created new patients and started testing 5 devices (2 iOS, 3 Andoird)
    All of the devices h

[2021-05-14 15:03] Ashermind commented on #162
@jijopulikkottil The app is stable but we have another issue.
bidmcdigitalpsychiatry/lamp-server:2021@sha256:d29f8a21b4ce8579b5d1538e5010755b7fb671f4e7f674de0e1c78d2ef56e334

[2021-05-14 16:42] jijopulikkottil commented on #252
@Ashermind
Could you just verify that the sensor json by executing this API using basic auth.
https://api.lamp.digital/participant/{participantid}/sensor The part 'api.lamp.digital' might be different for your instance.
(let us know if you need any help to execute the API)

And please copy-paste the response (partially or fully) here.

[2021-05-14 18:47] jijopulikkottil commented on #156
With new logic, a (HealthKit) step data will have at least 2 duplicates, and it will have multiple duplicates if no new step data found for our every 5 minutes fetch. below is a sample response from sensor_event API

[code]

@avaidyam The logic change we done is, earlier we do sample query from last record'd end-date, with new logic, we do query from last record's start-date. So we reduce the poss

[2021-05-14 21:30] Ashermind commented on #252
@jijopulikkottil
Ok I used it like this:
https://SERVER.URL/participant/{participant_id}/device_motion

And got:
{
  "message": "404.api-endpoint-unimplemented"
}

So I guess there might be problem on the server side afterall.

[2021-05-17 11:02] jijopulikkottil commented on #119
In latest build, we have done some improvement in collecting sleep data.

[2021-05-17 11:10] jijopulikkottil commented on #145
@avaidyam could you provide the cURL with parameter

[2021-05-17 11:14] jijopulikkottil commented on #156
We have done the above changes with latest build.

[2021-05-17 11:54] Linoy339 commented on #150
@avaidyam
Can we use like this :
await LAMP.Auth.set_identity({id:accessKey,password:secretKey,serverAddress:server_url})
const researchers =  await LAMP.Researcher.all()

[2021-05-17 12:56] avaidyam commented on #150
@Linoy339 Instead of the `set_identity` function you should use `await LAMP.connect(...)` (the same parameters). Otherwise, that is correct.

[2021-05-17 13:19] Linoy339 commented on #150
Thanks @avaidyam .

[2021-05-17 13:31] Linoy339 commented on #150
Also, Can we include ignore_binary parameter in allByStudy() which is a method in Activity.service and Sensor.service of Lamp-core?
i.e, can we give a PR for the above in LAMP-core?

[2021-05-17 13:32] avaidyam commented on #150
Yes, you can make a PR on `LAMP-js` (the JS API) with this change.

[2021-05-17 13:33] Linoy339 commented on #150
Okay. I will do that now

[2021-05-17 13:35] jeydude commented on #252
@Ashermind,

try https://<SERVER.URL>/participant/<YOUR PARTICIPANT ID>/sensor_event?origin=lamp.accelerometer

Hope it works for you.

[2021-05-17 13:35] Linoy339 commented on #150
Can you confirm the repository:

https://github.com/BIDMCDigitalPsychiatry/LAMP-js ?

[2021-05-17 13:36] avaidyam commented on #150
Yes, that's correct.

[2021-05-17 14:01] avaidyam commented on #145
[It would be the sensor update call detailed here.](https://docs.lamp.digital/api/update-a-sensor)

[2021-05-17 14:43] jijopulikkottil commented on #252
"/sensor_event" API is for listing the collected sensor data.
To see the configured sensors, we have to use "/sensor" end point.

[2021-05-17 14:46] avaidyam commented on #156
@jijopulikkottil Do you think there's a way to reduce duplicates? This looks like a significant number of duplicates, not a small number.

[2021-05-17 15:09] jijopulikkottil commented on #156
maybe can we cache last record and skip for next fetch?

[2021-05-17 15:12] avaidyam commented on #156
I think that should work, as the assumption here is step count AND timestamp are identical.

[2021-05-17 15:44] Linoy339 commented on #150
@avaidyam . Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/1](https://github.com/BIDMCDigitalPsychiatry/LAMP-js/pull/1)

[2021-05-17 15:57] avaidyam commented on #150
To verify that this works for your needs, please `npm install git+https://github.com/BIDMCDigitalPsychiatry/LAMP-js.git`.

[2021-05-17 15:59] Linoy339 commented on #150
Okay. Thank you

[2021-05-17 16:02] Linoy339 commented on #150
And this will install latest lamp-core..right?

[2021-05-17 16:02] avaidyam commented on #150
Yes.

[2021-05-17 16:04] Linoy339 commented on #150
Okay. I will test it after doing that.

[2021-05-17 17:18] jijopulikkottil commented on #156
I can make PR tomorrow.

[2021-05-17 19:06] Ashermind commented on #252
@jeydude  Thank you I did not pass the credentials.

The /sensor gives this response:
[code]
While /sensor_event?origin=lamp.accelerometer returns:
[code]

[2021-05-17 19:07] ryan-hays commented on #234
I am implementing `compress_pickle` to allow for `raw_feature` results to be cached in uncompressed (`.pkl`) or compressed (`gzip`, `bz2`, etc) form.

Currently we are saving uncompressed pickles with the extension `.cortex`. Should we keep this ambiguous extension, or should we specify the (un)compression method by the extension?

[2021-05-17 19:13] avaidyam commented on #234
We can follow the existing convention of `.tar.gz`, etc. like so:
  * `.cortex`: Uncompressed.
  * `.cortex.gz2`: Compressed using GZip.
  * etc...

[2021-05-17 19:15] avaidyam opened #253 "Move DBScan implementation to raw GPS feature"
As the title suggests. It should be an additional boolean parameter `reduce_size` or so.

[2021-05-17 20:13] jeydude commented on #252
@Ashermind

I did not see lamp.accelerometer in your sensor list, try adding accelerometer sensor to one of your patient profile.

If you are using CouchDB as your database, check your CouchDB--> sensor_event database, that will tell you what data you are collecting and when.

Check your design documents in each couchdb database. I have design documents for all the database except activity_spec da

[2021-05-18 10:48] Linoy339 commented on #150
@avaidyam . Just to confirm: Can we remove the scheduling part and related queues from LAMP-server completely?
(because LAMP-worker takes the responsibility of the same)

[2021-05-18 11:37] avaidyam commented on #150
Yes, please remove it entirely from the server. The collaborators will be informed of this change before deploying any update.

[2021-05-18 11:53] Linoy339 commented on #150
Okay. Thanks

[2021-05-18 12:37] ryan-hays commented on #235
Let's implement this in branch [`run`](https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/tree/run)

[2021-05-18 12:43] ryan-hays commented on #234
All functionality except for basic point #6 is implemented with pull request [`advanced_caching`](https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/pull/25). I am going to close this issue, and we can open a new one in the future for #6 and/or more testing if necessary

[2021-05-18 12:43] #234 closed

[2021-05-18 12:47] ryan-hays commented on #250
`lamp.wifi` and `lamp.bluetooth` were implemented and added as of PR [`add_raw`](https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/pull/24)

[2021-05-18 13:11] avaidyam commented on #250
Ah oops - I closed this without the corresponding documentation update being completed. Sorry, reopening!

[2021-05-18 13:18] avaidyam commented on #235
I also think we should ensure the following with the new `run` function:
1. `cortex.run` should return a `pd.DataFrame` for convenience (or a list of data frames? but that seems quite unpythonic and cumbersome).
2. `cortex.plot` could be a convenience function that passes its `kwargs` to `cortex.run` but wraps the returned `df` in an `alt.Chart(...)` which could pretty simply allow syntax like thi

[2021-05-18 13:33] jeydude commented on #156
@saranya-sajeev, were you able to see the mismatch between Google Fit and mindLAMP database in steps count. One of my colleague just used only Google Fit and mindLAMP during the weekend with his android phone, no wearables. He did not open the apps during the weekend and did not close/kill Google Fit/mindLAMP background service. Permissions were enabled.

According to Google Fit (with phone only)

[2021-05-18 13:37] saranya-sajeev commented on #156
Could you please check whether it is updated after killing and taking the app or after re-login?

[2021-05-18 13:44] jeydude commented on #156
One of my colleague is doing re-login to mindLAMP android app everyday to get the sleep data for about 2 weeks. Re-login helps to get yesterdays sleep data, other sensor data.  But it is NOT collecting any skipped/mismatched steps data.

[2021-05-18 14:12] saranya-sajeev commented on #156
Ok thank you Jey. I will check this issue.

[2021-05-18 15:08] tlakhtak opened #254 "Cannot create surveys"
![image](https://user-images.githubusercontent.com/82968538/118676341-535f5c00-b7c9-11eb-9f64-61cf46d7e292.png)

[2021-05-18 16:00] jijopulikkottil commented on #252
@jeydude

 With new build, we are collecting gps every second (earlier we collect it if there is any change in location). We have also done some improvement with lamp.sleep. so it should work. About  'lamp.screen_state', are you getting no data ? It seems to be working when I test here. Please verify all. If you are configured 'sensor', then please check the these items are present.

[2021-05-18 16:03] avaidyam commented on #252
Please adjust the behavior so if `frequency` is not set, it collects data with location change only, and that if if `frequency` is set, it should obey that instead of just once a second.

[2021-05-18 16:59] jeydude commented on #252
@jijopulikkottil after April 26, I am still missing lamp.gps and lamp.screen_state data. Will wait for the new build.

[2021-05-18 19:21] ryan-hays commented on #235
@lukeoftheshire Can you add logging statements to `generate_ids` and later to `run`?

E.g. `log.info("Unpacked Researcher id " + id + " to a list of " + str(len(generate_ids(id))) + " participants.")`

[2021-05-19 01:14] kkadapa commented on #123
Hi @avaidyam Just following up to see if there are any updates regarding the issue. Please let us know if you need any further information. Thanks!

[2021-05-19 02:42] jtorous commented on #123
Hi Karthik,

We don't have the funds to build it quickly. Other teams have pulled the
step data from the database and built a simple dashboard around that which
may be the fast solution. The good news is the step count data is collected
and stored, so this is the last step of how to display it! The photo below
is an example from a different team.

Thanks,
John

[image: Screen Shot 2021-05-07 at 9.

[2021-05-19 12:51] kkadapa commented on #123
Appreciate your response Dr Tourous! @jtorous I am unable to see the screenshot I only see "[image: Screen Shot 2021-05-07 at 9.04.18 AM.png]" Can you kindly upload the image again?

Did other teams displayed the steps on the Cortex section of the iOS/Android Mobile Apps or did they use some Tableau or some BI tool to just display the data?

[2021-05-19 13:20] jtorous commented on #123
Hi,

The screenshot was just another team that built a custom web viewer that
pulls directly from the database. That seems to quickest solution as when
we do it for LAMP it has to work on iOS, Android, and web which we will get
to but a higher bar. Thus the one of web view is the  fastest way to get to
the goal today.

Thanks,
John

On Wed, May 19, 2021 at 8:51 AM Karthik ***@***.***> wrote:

[2021-05-19 17:17] jijopulikkottil commented on #252
@avaidyam fixed location sensor. @jeydude We have done some improvements. Please verify with new build which is going to publish.

[2021-05-19 17:19] lukeoftheshire commented on #235
Done! I added logging for each of the four conditions, and fixed a typo. It should be added to the 'run' branch.

[2021-05-20 15:01] sijugeorge-zco commented on #138
@avaidyam
We need translated strings (for Spanish & Hindi) for the attached file.

[translation_spanish_and_hindi_required.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6516900/translation_spanish_and_hindi_required.txt)

[2021-05-20 17:26] Linoy339 commented on #150
@avaidyam . Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/2](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/2)

[2021-05-20 17:28] avaidyam commented on #150
@Linoy339 I've merged the PR, but I still see several places (mostly in `app.ts`) with code referencing a direct database connection -- this needs to be refactored to correctly use the LAMP-core package as you've done with the notification scheduling code. Thanks!

[2021-05-20 17:34] Linoy339 commented on #150
@avaidyam . We do this inorder to take data from scriptpaths database,  which we created to store tokens and scripts.
As you said, we may have to store it in tags then. Do we need to proceed like that?

[2021-05-20 17:41] Linoy339 commented on #150
Okay.
We will do the above change and push together with LAMP-server changes by tomorrow

[2021-05-21 04:22] Linoy339 commented on #150
@avaidyam . Just to confirm:  RIght now, the script paths(.zip) are saved in a folder  called uploads in LAMP-worker. This also need to get saved in tag database(as value). Right?

[2021-05-21 10:01] avaidyam commented on #150
@Linoy339 Yes, the zip file should converted to base64 to save it directly.

[2021-05-21 10:14] Linoy339 commented on #150
Okay.
So, This will be the api to save the token :
https://api.lamp.digital/type/type/7s9ts30kq0w67tdg1qhe/attachment/study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by/me
and the data saved would be
_id:60a765103a2802fcfcd1e1e7,
_parent:"7s9ts30kq0w67tdg1qhe",
key:"study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by",
type:"me",
_deleted:false,
value:""UEsDBBQAAAAIAEaPclLjtyaAFAAAABIAA

[2021-05-21 11:03] avaidyam commented on #150
No, the key is incorrect. The key is user-defined and for now you should change it to be "lamp.automation" temporarily. The value is correct but may benefit from being a data-url. For example, `data:application/python;base64,UEsDBBQAAAA...." because it allows you to encode the MIME type metadata in-line.

[2021-05-21 12:31] Linoy339 commented on #150
OKay..Can you please tell where to save token ("study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by",)?

[2021-05-21 12:35] avaidyam commented on #150
If you mean that this is the trigger that causes the script to run, you could plug it into the data-url like so:
[code]

[2021-05-21 13:06] michaelmenon commented on #150
@avaidyam saving zip file as binary data to DB is not a good idea .

There are two options for this :
 1) Either save the zip to AWS s3 and save the file path total db
2) Save the zip to a server folder and mount that as a volume with the docker container and save the path to tag DB.

Which one should we follow. Saving in AWS s3 would be the best option.

[2021-05-21 13:11] avaidyam commented on #150
@michaelmenon Yes, it's clear this is not the best approach but it is the fastest approach. Once this initial version is complete and tested, we can revisit the implementation.

[2021-05-21 13:37] jeydude commented on #252
Any information on the production releases to Apple Store or Android Play Store?

[2021-05-21 13:40] Linoy339 commented on #150
Thanks for confirming @avaidyam . We will do this way .

Coming to the storage of token("study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by").
1)If we do as said above,  Fetching of data from tag database for a particular token becomes complicated, as the token is mixed in value field .
In the above case we need to query with _parent:researcher_id, key:"lamp.automation". Here, there would be

[2021-05-21 13:45] avaidyam commented on #150
@Linoy339 This makes sense; please prefix it like so: `lamp.automation.study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by` just for clarity and that should work fine.

We do not and should not support Python 2, so we should eliminate the need for a `version.txt` at all.  Otherwise this approach looks good!

[2021-05-21 13:57] Linoy339 commented on #150
Will prefix  as lamp.automation.study.cadn2efwhrxkppq9tn9t.activity.pqhm5zd2rbgpt5bjx5by
version.txt will be ignored
Thanks @avaidyam for confirming this.

[2021-05-21 14:04] avaidyam commented on #161
@Ashermind We've just made our first (beta) release of Cortex! [You can find the documentation here.](https://docs.lamp.digital/cortex_example) Please let us know (or make a pull request) if you have any documentation suggestions.

[2021-05-21 14:04] #161 closed

[2021-05-21 14:05] #157 closed

[2021-05-21 15:06] #6 closed

[2021-05-21 15:07] #16 closed

[2021-05-21 15:07] #26 closed

[2021-05-21 15:07] #51 closed

[2021-05-21 15:08] #64 closed

[2021-05-21 15:08] #52 closed

[2021-05-21 15:08] #71 closed

[2021-05-21 15:08] #78 closed

[2021-05-21 15:09] #89 closed

[2021-05-21 15:10] #91 closed

[2021-05-21 15:10] #90 closed

[2021-05-21 15:10] #96 closed

[2021-05-21 15:11] #98 closed

[2021-05-21 15:11] #99 closed

[2021-05-21 15:11] #100 closed

[2021-05-21 15:11] #102 closed

[2021-05-21 15:12] #103 closed

[2021-05-21 15:12] #104 closed

[2021-05-21 15:12] #106 closed

[2021-05-21 15:12] #107 closed

[2021-05-21 15:13] #109 closed

[2021-05-21 15:13] #110 closed

[2021-05-21 15:13] #113 closed

[2021-05-21 15:14] #115 closed

[2021-05-21 15:14] #117 closed

[2021-05-21 15:14] #118 closed

[2021-05-21 15:15] #120 closed

[2021-05-21 15:15] #121 closed

[2021-05-21 15:15] #122 closed

[2021-05-21 15:15] #123 closed

[2021-05-21 15:16] #126 closed

[2021-05-21 15:16] #127 closed

[2021-05-21 15:16] #128 closed

[2021-05-21 15:16] #129 closed

[2021-05-21 15:17] #130 closed

[2021-05-21 15:17] #131 closed

[2021-05-21 15:17] #132 closed

[2021-05-21 15:17] #133 closed

[2021-05-21 15:17] #134 closed

[2021-05-21 15:17] #135 closed

[2021-05-21 15:19] #164 closed

[2021-05-21 15:19] #140 closed

[2021-05-21 15:19] #142 closed

[2021-05-21 15:20] #146 closed

[2021-05-21 15:21] #155 closed

[2021-05-21 15:22] #158 closed

[2021-05-21 15:22] #159 closed

[2021-05-21 15:22] #160 closed

[2021-05-21 15:22] #162 closed

[2021-05-21 15:25] avaidyam commented on #137
Duplicate of #165!

[2021-05-21 15:25] #137 closed

[2021-05-21 15:26] #166 closed

[2021-05-21 15:27] avaidyam commented on #169
It seems like this is because the `activity.description` is not respected when displaying the "Launch" dialog for anything other than surveys.

[2021-05-21 15:28] avaidyam commented on #170
It seems like it's an error for the dashboard to check `activity_details` tag and it should instead be using `activity.description` or `activity.icon`, etc.

[2021-05-21 15:29] #169 closed

[2021-05-21 15:31] avaidyam commented on #167
Duplicate of #171!

[2021-05-21 15:31] #167 closed

[2021-05-21 15:32] avaidyam commented on #172
If this is an Android device, this is not a bug. Android requires mindLAMP to display a persistent (non-dismissible) notification that informs the user that data collection is ongoing in the background.

[2021-05-21 15:32] #172 closed

[2021-05-21 15:34] avaidyam commented on #174
This is not a bug -- this is the user's data appearing as a very vertical line graph.

[2021-05-21 15:34] #174 closed

[2021-05-21 15:36] avaidyam commented on #177
Duplicate of #170!

[2021-05-21 15:36] #177 closed

[2021-05-21 15:38] avaidyam commented on #180
Duplicate of #97!

[2021-05-21 15:38] #180 closed

[2021-05-21 15:40] avaidyam commented on #182
May be a duplicate of #148, #94, and #97!

[2021-05-21 15:40] #182 closed

[2021-05-21 15:41] #185 closed

[2021-05-21 15:42] #187 closed

[2021-05-21 15:43] avaidyam commented on #188
Duplicate of #170!

[2021-05-21 15:43] #188 closed

[2021-05-21 15:44] avaidyam commented on #189
As a temporary workaround, since LAMP does not do email validation, they may use the `+` extension to their existing email like so: `first.last+lamp@gmail.com` or a completely different email address as well.

[2021-05-21 15:48] avaidyam commented on #192
Duplicate of #170!

[2021-05-21 15:48] #192 closed

[2021-05-21 15:49] #195 closed

[2021-05-21 15:52] avaidyam commented on #196
Duplicate of #148! (This feature was removed from the Prevent tab due to bugs with it.)

[2021-05-21 15:52] #196 closed

[2021-05-21 15:53] avaidyam commented on #198
Duplicate of #170!

[2021-05-21 15:53] #198 closed

[2021-05-21 15:58] avaidyam commented on #200
Duplicate of #98!

[2021-05-21 15:58] #200 closed

[2021-05-21 16:00] avaidyam commented on #202
This is resolved in recent beta versions and will be publicly released soon.

[2021-05-21 16:00] #202 closed

[2021-05-21 16:00] avaidyam commented on #203
Duplicate of #98!

[2021-05-21 16:00] #203 closed

[2021-05-21 16:02] avaidyam commented on #205
A temporary (but clearly not ideal) workaround is to create each matrix row as its own list question, but all have the same set of options.

[2021-05-21 16:53] avaidyam commented on #206
Duplicate of #120!

[2021-05-21 16:53] #206 closed

[2021-05-21 16:54] avaidyam commented on #207
Duplicate of #120!

[2021-05-21 16:54] #207 closed

[2021-05-21 16:55] avaidyam commented on #208
Potential duplicate of #202 and should be resolved.

[2021-05-21 16:55] #208 closed

[2021-05-21 16:57] avaidyam commented on #211
This is not a bug in mindLAMP and appears to be something that changed in iOS 14.x.

[2021-05-21 16:57] #211 closed

[2021-05-21 17:04] avaidyam commented on #212
Duplicate of #202 (or #86 and #59), #94 + #55, and #170.

[2021-05-21 17:04] #212 closed

[2021-05-21 17:07] avaidyam commented on #214
Duplicate of #76, #165, and #170.

[2021-05-21 17:07] #214 closed

[2021-05-21 17:09] avaidyam commented on #215
Duplicate of #170 and #175.

[2021-05-21 17:09] #215 closed

[2021-05-21 17:11] avaidyam commented on #216
Duplicate of #148 (the delete button was removed from the Prevent tab due to a bug but should be restored by this linked issue).

[2021-05-21 17:11] #216 closed

[2021-05-21 17:12] avaidyam commented on #217
Duplicate of #148.

[2021-05-21 17:12] #217 closed

[2021-05-21 17:14] avaidyam commented on #219
Duplicate of #96.

[2021-05-21 17:14] #219 closed

[2021-05-21 17:18] avaidyam commented on #223
Duplicate of #96.

[2021-05-21 17:18] #223 closed

[2021-05-21 17:22] avaidyam commented on #224
Duplicate of #105 and #222.

[2021-05-21 17:22] #224 closed

[2021-05-21 17:23] avaidyam commented on #225
Duplicate of #138.

[2021-05-21 17:23] #225 closed

[2021-05-21 17:24] avaidyam commented on #227
This was resolved.

[2021-05-21 17:24] #227 closed

[2021-05-21 17:27] #228 closed

[2021-05-21 17:27] #229 closed

[2021-05-21 17:27] avaidyam commented on #231
Unsure what the bug actually is but this is likely a duplicate of #222.

[2021-05-21 17:27] #231 closed

[2021-05-21 17:29] avaidyam commented on #237
This was actually the original behavior of surveys from mindLAMP v1 and early v2. This was modified (for MAPNET reasons) but should likely be a parameter for each survey question (`required: boolean`) to selectively enable it.

[2021-05-21 17:30] avaidyam commented on #240
The Prevent tab graphs were stylistically designed for sparklines, not line charts, unfortunately.

[2021-05-21 17:30] #240 closed

[2021-05-21 17:32] avaidyam commented on #244
Resolved; possible duplicate of #96.

[2021-05-21 17:32] #244 closed

[2021-05-21 17:33] avaidyam commented on #246
This has now been implemented in `LAMP-activities` but needs to be implemented in `LAMP-dashboard`. @sarithapillai8 can you confirm whether the embedded activity URLs have been updated in the dashboard code according to the above?

[2021-05-21 17:33] #246 closed

[2021-05-21 17:37] avaidyam commented on #252
@jeydude We are preparing to submit both iOS and Android to production before the end of the month. We're unsure how long the review process will take but [we'll make a news post about it in our forum too](https://mindlamp.discourse.group).

[2021-05-21 17:39] avaidyam commented on #254
Duplicate of #168.

[2021-05-21 17:39] #254 closed

[2021-05-21 19:11] ryan-hays commented on #250
`lamp.sleep` was implemented and added with PR [`healthkit_gfit_sleep`](https://github.com/BIDMCDigitalPsychiatry/LAMP-cortex/pull/31).

However, currently it is ambiguously getting data from the `lamp.sleep` sensor. We might consider doing some preprocessing
of the data before returning based on the Healthkit/Fit data types.

[2021-05-21 19:12] ryan-hays commented on #250
@rydmel When you are done documenting the wifi and bluetooth, open a PR in `LAMP-platforms`

[2021-05-21 20:17] avaidyam opened #255 "Query and Visualization Dashboard"
# Introduction

## Home & Dashboards

![image](https://user-images.githubusercontent.com/1361003/119193520-bbbf6f00-ba4f-11eb-8317-3340c6630b62.png)

## Query Visualizer

![image](https://user-images.githubusercontent.com/1361003/119193528-bfeb8c80-ba4f-11eb-907b-19a6da3aef8c.png)

### Implementation

[code]

→

[code]

---

### Examples (from MongoDB Compass and Charts)

![](https://user-images.g

[2021-05-21 20:41] avaidyam opened #258 "Update CloudFormation template for DocumentDB"
Configure nested stacks work to feed output of one as the parameter for another downstream.
  - [ ] **Stack 1: VPC:** Create VPC (mostly already implemented).
      - [ ] **Parameters**: Provide VPC and subnet CIDR blocks (can be pre-filled and wrapped with scripts).
      - [ ] **Setup**:
           - CIDR like 20.0.0.0/16 (my 10.0.0.0/16 is already taken 😉).
           - Four subnets (20.0.1.0/2

[2021-05-21 20:50] jtorous commented on #255
This will be great!

[2021-05-21 22:12] rwang5688 commented on #258
Hi Aditya: Thank you for the pointer.  GitHub issues are a perfect way for me to collaborate with you on similar topics.  It will allow us to go from concept to pull request, and right here in your repo 😉

[2021-05-24 11:19] Linoy339 commented on #150
@avaidyam .
Please find [https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/3](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/3)

[2021-05-24 13:40] #141 closed

[2021-05-24 14:12] avaidyam opened #259 "ActivitySpec Testing IDE"
Currently, the dynamic loading of embedded activities through the ActivitySpec API requires live testing to ensure that configuration parameters, generated data, and the user interface work as expected. Instead, an IDE tool is required where the embedded HTML code can be plugged in alongside the ActivitySpec JSON object to visually verify and test.
1. The ActivitySpec's `icon` and `description` wi

[2021-05-24 14:28] avaidyam opened #260 "MIME type support for Tags"
Tags are exposed entirely as JSON objects, though they are internally base64-encoded with a specific MIME type of `application/json` (according to the MongoDB repository implementation). Currently, if a client needs to store and retrieve an SVG image, for example, they must manually encode the data as a JSON string containing a [data-url](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of

[2021-05-24 14:33] avaidyam opened #261 "Key-Path Expressions for Tags"
An optional `index` query parameter should be provided to both `Tag.get` and `Tag.set` requests. If the Tag is a JSON object, array, or string (i.e. `Content-Type = application/json`), the `index` parameter allows component level access and manipulation to the JSON data.

1. Function is invoked; i.e. `PUT /type/<id>/<tag_name>[/:<index>]`
    1. if `obj[tag] == nil`: create it with value ignoring

[2021-05-24 14:38] avaidyam opened #262 "Add TagSpec top-level type"
In addition to `ActivitySpec` and `SensorSpec`, which control and provide metadata about `Activity` and `Sensor` objects, an additional `TagSpec` object should exist to provide metadata and validation to `Tag`s, and additionally be the entry point for Automations.

A `TagSpec` can be created with a specific key, such as `lamp.dashboard.settings` (example below) to provide a JSON Schema that declar

[2021-05-24 15:04] avaidyam opened #263 "Version history & audit logging API enhancements"
The basic audit logging currently implemented could be enhanced and exposed/managed via the API.
1. For more effective/permanent logging, `Credential` objects should not be deletable internally.
    - Emails, however, should remain reusable if a `Credential` is "deactivated"`, for example.
1. Any deletion operation must have a reason specified (i.e. `delete-with-reason`).
    - If the parent of a

[2021-05-24 15:16] avaidyam opened #264 "Device & Timezone API"
_Scenario:_ A `Participant` is logged into `mindLAMP` on their smartphone and smartwatch, but leave their smartphone at home while they go for a run. While both devices will collect GPS data and upload them in the background, they are garbled together. It is not possible to discern which device uploaded which GPS data point, and it could introduce error into an otherwise correctly functioning algo

[2021-05-24 15:25] Linoy339 commented on #150
@avaidyam . There was a minor fix. Can you please check this:
[https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/4](https://github.com/BIDMCDigitalPsychiatry/LAMP-worker/pull/4)

[2021-05-24 15:56] avaidyam opened #265 "Advanced survey logic"
1. Conditional/branching logic between questions of a survey.
2. Additional advanced question types ([examples here](https://www.surveymonkey.com/mp/survey-question-types/)).
3. Ability to test out the survey before creating it (or delete trial entries).

[2021-05-24 16:06] avaidyam opened #266 "Default ActivitySpec visualizations"
Currently, all data in the Prevent tab is visualized using the same line chart representation that is hard-coded into the dashboard. Instead, the `ActivitySpec` definition should provide the default document transform query (i.e. JSONata/Vega) to use for charts of that activity type. (This could also extend to `scoring`, `streak`, and `indicator` bubble functions that power other UI features of th

[2021-05-24 17:01] avaidyam opened #267 "Survey groups Tag for Cortex"
The `cortex.survey_resultts` feature should use the Tag `cortex.survey_groups` on the Activity ID itself to optionally configure survey groups, instead of requiring a dict/array to be passed into the feature. This way, it can be part of the API and travel with the Activity as needed.

Optionally, a simple Python or command line tool can be used to edit/set this Tag (i.e. using YAML).

[2021-05-24 17:09] avaidyam opened #268 "Minor API updates"
1. Convert API Server to Fastify and remove `X-Powered-By` header and JSON padding.
1. Fix OpenAPI validation on API Server side.
1. Deletion of an Activity should also auto-remove it from any `lamp.group`s it belongs to.
1. Add `Participant.aliases` object to handle multiple alias types.
1. Add `parent` and `type` parameters to resource types (anything except `Credential` or `Tag`).
1. Resources

[2021-05-24 17:16] avaidyam opened #269 "Activity schedule API overhaul"
The current `Activity.schedule` API component is fairly restrictive in the types of schedules that can be created for activities. The suggestion below allows a far greater degree of flexibility, including support for CRON expressions and push notification expiry limits (which are already implemented by the backend, but not exposed in the API).

[code]

This would also require a level of backwards

[2021-05-24 17:19] avaidyam commented on #250
@rydmel While I see that [you've updated the documentation](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/commit/55e9653f71764b9e694a67262a4b92700e11af65), it does not cover the info listed in the issue body above. Could you add that detail as well?

[2021-05-24 17:24] avaidyam opened #270 "Update documentation with Sensor and Cortex examples"
The below is the full list of supported `SensorSpec`s:
[code]

We should ensure that API or Cortex examples are provided for each of the above in addition to the existing parameter and description info.

[2021-05-24 18:03] avaidyam opened #271 "Convert Breathe lotus animation to vector graphics"
Currently, the Breathe lotus is a low quality MP4 file that takes considerable bandwidth to download (~15mb or so). It should be possible to instead convert that to an SVG graphic and use CSS animations, which will allow it to render in higher quality and consume zero bandwidth.

[2021-05-24 18:24] avaidyam opened #272 "Use OpenFaaS engine for Automations"
Currently, the `LAMP-worker` component handles code upload and execution via Docker/file system calls directly. Instead, it should offload this effort to a purpose-built platform like [OpenFaaS](https://github.com/openfaas/faas/tree/master/sample-functions/BaseFunctions/R) or [FnProject](https://github.com/fnproject/docs#-project-documentation).

[2021-05-24 18:28] avaidyam opened #273 "SVG/Vector art icon for mindLAMP"
Currently, the mindLAMP app icon is a fixed size (512x512) PNG icon; it should be converted to an SVG icon for both iOS and Android, [but also as a Favicon for the dashboard](http://thenewcode.com/28/Making-And-Deploying-SVG-Favicons).

[2021-05-24 18:45] avaidyam opened #274 "Upgrade native core architecture"
Currently, the native core (iOS/Android) architecture lacks a "local server" component and native code (Swift/Kotlin) is used instead to handle offline data caching/push notification gaps. Instead, a more [sophisticated solution like Capacitor](https://github.com/alesgenova/post-me) should be used. _(In the past, NodeJS Mobile was used but did not support certain libraries that required C++ compil

[2021-05-25 13:13] #170 closed

[2021-05-25 15:32] avaidyam commented on #250
Thanks for the fixes @rydmel!

[2021-05-25 15:32] #250 closed

[2021-05-25 18:20] avaidyam opened #275 "CI/CD pipeline for LAMP-protocol"
The OpenAPI specification for the LAMP Protocol [lives in the `LAMP-protocol` repository](https://github.com/BIDMCDigitalPsychiatry/LAMP-protocol). Each time the specification file is updated, the documentation (`LAMP-platform`) must be regenerated, along with all SDK (`LAMP-r`, `LAMP-py`, `LAMP-js`, `LAMP-swift`, and `LAMP-kotlin`) repositories. Instead of manually making these changes, a CI/CD p

[2021-05-25 21:53] jeydude opened #276 "Error while entering RATING Survey questions"
While entering RATING Survey questions, got below error
![image](https://user-images.githubusercontent.com/841011/119572811-f2132c00-bd78-11eb-8650-75aa8e981056.png)

To reproduce this issue, **enter only the description value** under the Add option. Don't enter anything on the question option, leave it blank and click Add option, if you do this one or two times, you should be able to reproduce th

[2021-05-26 20:13] jeydude opened #277 "App crashes when location service is not turned on - iOS"
I had disabled the location service for some other purpose, while location service was not turned ON, I tried to open the mindLAMP testflight version of iOS app, it was crashing.

Once location service turned ON, testflight version of iOS app worked fine.

[2021-05-26 20:15] avaidyam commented on #277
@jeydude [The documentation specifically states that all sensor-related permissions MUST be enabled regardless of what data is being collected by mindLAMP.](https://docs.lamp.digital/app/#android)

[2021-05-26 20:15] #277 closed

[2021-05-27 06:20] saranya-sajeev commented on #156
Hi Jey,
Could you please check the sleep data and step count getting properly in the attached build?
[mindLamp05272021.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6551535/mindLamp05272021.zip)

[2021-05-27 06:21] saranya-sajeev commented on #145
Maximum value for frequency that Android app can accept is 1.

[2021-05-27 13:53] jeydude commented on #156
Thanks @saranya-sajeev we will check and let you know. Thanks for the build.

[2021-05-27 20:12] jeydude opened #278 "Including image in the survey question"
Is there any way to include image in the survey/activities question page? Sometimes while asking survey question we wanted to include a image also. If this feature is not there, then it will be nice have that features.

[2021-05-28 13:27] jeydude commented on #156
@saranya-sajeev we are not getting any sensor values with 05272021 build. Do we have correct build? 2 of my colleagues installed on their android phones yesterday 05/27 around 9:32 am. Both of them are not getting any sensor values.
![image](https://user-images.githubusercontent.com/841011/119990935-87d3d480-bf8e-11eb-9a8d-e4de47204111.png)

[2021-05-28 14:48] saranya-sajeev commented on #156
Hi Jey,
Apk is working fine for me. Could you please share the log file?

[2021-05-28 15:11] jeydude commented on #156
![image](https://user-images.githubusercontent.com/841011/120005005-09326380-bf9d-11eb-8174-9cfc89109ff4.png)

[2021-05-31 13:17] saranya-sajeev commented on #156
Hi Jey,
Could you please install the attached apk and share the log file. I have added more logs in this apk to figure out the issue. [mindLamp05312021.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6570445/mindLamp05312021.zip)

[2021-05-31 17:34] Linoy339 commented on #150
@avaidyam . Can you please check [https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/102](https://github.com/BIDMCDigitalPsychiatry/LAMP-server/pull/102)

This is regarding the  removal of ActivityScheduler  queues.

[2021-06-01 15:08] jeydude commented on #156
Thanks @saranya-sajeev for the new build, is there any recommendation on how to use the android app, most of my colleagues they close the mindlamp app once they installed the APK file and all the permission is enabled, but they will leave the mindlamp data collection service running.

Do you want to us to leave the mindlamp android app open always? or open every hour or any other process or recomm

[2021-06-01 15:56] jeydude opened #279 "Mark as complete does not do anything under Learn/Tip"
When a study participant clicks "Mark as complete" button under Learn/Tip, does it provide any information to researcher?

It does not call any API to update the server.

[2021-06-01 16:27] jeydude commented on #156
@saranya-sajeev, Please find the log file after latest build APK install - [LampLog-06012021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6577720/LampLog-06012021.txt)

[2021-06-01 17:57] tlakhtak commented on #138
Attached are the translated strings for Hindi.

[translation_hindi_required_24May2021_AK.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6578467/translation_hindi_required_24May2021_AK.txt)

[2021-06-02 06:12] saranya-sajeev commented on #156
@jey are you getting the sensor values in the new build?

[2021-06-02 13:27] jeydude commented on #156
No sensor after the latest apk install.

[2021-06-02 14:17] saranya-sajeev commented on #156
Is app running in background or is it in killed state?

[2021-06-02 14:30] jeydude commented on #156
The mindLAMP data collection service is running all the time. But the mindLAMP android app may not be in running state all the time, we close the mindlamp app once we are done with taking surveys or learning resources.

We also open the mindLAMP app in the morning and evening to sync the sensors data from veryfitpro/googlefit app with mindLAMP database.

Let us know if you have any recommendations

[2021-06-02 17:42] jeydude commented on #156
@saranya-sajeev Every time if we logout and login then we get sensor data one-time, after that, new more new sensor data feed coming from mindLAMP app.

[2021-06-02 17:59] jeydude commented on #156
@saranya-sajeev Looks like you are detecting latest sensor data but may be not storing them into couchdb, please look at the log latest files.

Step count 695 and others was stored into couchdb after user logout and login back to the app at  10:36 am

Step count 1064 detected at 12:21 pm but never pushed to couchdb.

[LampLog-06022021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/fi

[2021-06-02 19:08] avaidyam commented on #156
Hi @saranya-sajeev and @jeydude - it looks like there is really great diagnostics and troubleshooting going on here, but @saranya-sajeev could you work with @michaelmenon and the team to test a few internal releases to the level of quality @jeydude is looking for? Once that is prepared you can ping me/my team and we'll share our reports here too. I think that will streamline your efforts too, @jey

[2021-06-02 21:31] jeydude opened #280 "iPhone users getting Lamp HealthKit: Data could not be retrieved. Protected health data is inaccessible error"
Recently I am seeing "Lamp HealthKit: Data could not be retrieved. Protected health data is inaccessible" in the analytics for iPhone users using Test Flight version.

Checked all the permissions in the Health app for mindLAMP ,looks good, (Open Settings app and scroll down to the “mindLAMP” item. Ensure background updates and notifications are enabled. Open the Location tab and ensure “Always All

[2021-06-03 01:12] avaidyam commented on #280
@jeydude This is normal and expected. Though @jijopulikkottil please remove this log entirely as it is very repetitive and extraneous.

[2021-06-03 01:12] #280 closed

[2021-06-03 06:22] saranya-sajeev commented on #156
@jey thanks for the latest log file. I will check and update you.

[2021-06-03 18:25] tlakhtak opened #281 "No Games"
Although "Jewels B" and "Spatial Span" are assigned to this study and this participant, they do not appear in Assess (or anywhere) and cannot be accessed. When they are scheduled for a participant, they show up in the feed, but cannot be clicked to actually access the game.

[2021-06-03 18:25] #281 closed

[2021-06-03 18:27] tlakhtak opened #282 "Survey bundle restarting from beginning"
Some users reported facing this issue when using the notifications to go to the survey, and are able to bypass by using the dashboard directly.

[2021-06-03 18:28] tlakhtak opened #283 "Black or White screen after log-in attempt"

[2021-06-03 18:29] tlakhtak opened #284 "App stalls when using Jewels, shows loading screen"

[2021-06-03 18:29] tlakhtak opened #285 "App crashing when using surveys"

[2021-06-03 22:11] jeydude commented on #156
@saranya-sajeev,  we noticed with your latest android APK build we are getting cumulative value of steps instead of individual steps.

[2021-06-04 13:30] tlakhtak opened #286 "Breathe Activities not working"
![image](https://user-images.githubusercontent.com/82968538/120808862-7dc64e80-c517-11eb-8d28-427db4ddbeae.png)

[2021-06-04 13:54] tlakhtak opened #287 "Unable to see the saved alias upon login"

[2021-06-04 14:51] tlakhtak opened #288 "Missing key-value pair in survey result data"

[2021-06-04 15:18] avaidyam commented on #286
@sarithapillai8 This needs to be resolved ASAP - can you please share what happened to break this previously working activity? //cc @ZCOEngineer @michaelmenon

[2021-06-04 15:44] tlakhtak opened #289 "Patient profile missing from dashboard"

[2021-06-07 13:52] sarithapillai8 commented on #286
@avaidyam
Auto-build happens on updating an activity to the Lamp-activities repo which caused the issue. We were adding new activities  to the repo as part of repo conversion task. The production is not working with latest tagged commit. The .env file is generated through BuildEnv script in dashboard. Could you let me know how production release to be done with production value for REACT_APP_GIT_S

[2021-06-07 14:03] sarithapillai8 commented on #286
@avaidyam
I was referring the dist branch. not dist folder. It was wrongly written in comment. Sorry.

See the below lines of code. It is referring dist branch for staging and 'latest' tag for production.

let activityURL = "https://raw.githubusercontent.com/BIDMCDigitalPsychiatry/LAMP-activities/"
activityURL += process.env.REACT_APP_GIT_SHA === "dev" ? "dist/out" : "latest/out"
let response = aw

[2021-06-07 14:07] avaidyam commented on #286
In both local and staging environments there is no tag on the current commit, so when the `git` command returns an error, the string `dev` is used instead. If you need to emulate a production tag scenario, create a new **annotated tag** on the current branch following the CalVer or SemVer format (i.e. `YYYY.mm.dd` = `2021.6.7` WITHOUT leading zeros and NO additional components like `.02`). Then, t

[2021-06-07 14:13] sarithapillai8 commented on #286
Ok thanks @avaidyam .

[2021-06-07 14:13] avaidyam commented on #286
@sarithapillai8 Please do not push these tags to origin! This should be strictly local for testing only.

[2021-06-07 14:14] sarithapillai8 commented on #286
@avaidyam
I am doing through the interface - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/releases/edit/2021.6.7. Not with manual push. Is that what you mean?

[2021-06-07 14:16] avaidyam commented on #286
If you are testing whether or not the correct tag will be used to load activities in the dashboard, you must use the `git` command line tool and NOT push the tag you create to origin. If you are making a production release, you should create a GitHub release (NOT a draft release).

[2021-06-07 14:26] jeydude opened #290 "Limit data frequency of Sensor data collection (Accelerometer, GPS)"
Hi,

Is there a way to limit the data collection frequency of sensor like Accelerometer, GPS, with TestFlight beta build for iOS I am seeing about every 200 milliseconds we are getting Accelerometer data. Is there a way to limit to every 30 seconds or 1 minute. Thanks!

[code]

[2021-06-07 14:29] sarithapillai8 commented on #286
@avaidyam
I have updated the release through the URL - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/releases/new. Entered the details, give the tag name and selected specific branch (dist in case of lamp-activities and master in case of dashboard). Then click on push the release button, not the draft. So this created new tag with new release. Why do we need git command tool? The naming

[2021-06-07 14:32] avaidyam commented on #286
That is the correct process if you are pushing a new production release. I was under the impression you wanted to test locally whether the right branch/tag name would be selected based on the value of the environment variable. If not, then the release should work correctly.

[2021-06-07 14:39] sarithapillai8 commented on #286
My concern is - I am doing the release in this way for both activities and dashboard repos. But the activity URL in the production is not https://raw.githubusercontent.com/BIDMCDigitalPsychiatry/LAMP-activities/latest/out/<activity.b64.html>, instead it is fetching https://raw.githubusercontent.com/BIDMCDigitalPsychiatry/LAMP-activities/dist/out/<activity.b64.html>. So it seems the env variable(RE

[2021-06-07 14:41] avaidyam commented on #286
That is why I suggested using the git commands locally to test the value of the environment variable correctly. If you are trying to test something out you should NOT be creating a production release through the GitHub UI at all. Please test locally first and check what the value of the variable is.

[2021-06-08 07:07] ZCOEngineer commented on #285
Possibility is that this happened as a side effect of broken activity. Not recurring and hence closing the issue.

[2021-06-08 07:07] #285 closed

[2021-06-09 10:13] saranya-sajeev commented on #156
Hi Jey,

We have fixed both data sync issue and step count issue.

From Google fit, app can read daily step total and also step count within a time range.The daily total is computed from midnight of the current day on the device's current timezone.From our app we are reading the step count within a time range.

Here is how we are fetching step count from Google fit.
When the user logged in for the

[2021-06-10 17:59] jeydude commented on #156
Thanks for new build @saranya-sajeev, we will check and let you know. Thanks!

[2021-06-10 21:44] jeydude commented on #156
Hi @saranya-sajeev,

Some of my colleagues tried your android build. Initially it updated the step could to match with Google Fit and VeryFitPro. After that it did not update the step count.

I have attached their log file. Please look at it and let us know if we are missing anything. Thanks!
[LampLog-06102021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6634591/LampLog-06102

[2021-06-11 05:32] sarithapillai8 commented on #282
Production release done with fixes :
https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/releases/tag/2021.6.11

[2021-06-11 11:39] saranya-sajeev commented on #156
1. Are you getting only initial step count? It seems that log file contains step counts. Are those values updated in DB?
2. Are you getting other sensor values?

[2021-06-11 14:03] ryan-hays opened #291 "Cortex documentation"
For documentation, let's work on branch `cortex_docs`. I created the branch a long time ago, but I merged master to reflect the recent changes to documentation there

[2021-06-11 16:54] jeydude commented on #156
Yes Saranya, we are seeing the proper step counts in the log file and log file steps are matching with GoogleFit step counts. But those steps data is not updated to CouchDB.

Can you share the LAMP API that you are calling to store the sensor data into CouchDB, so I can make sure we have the API listed in our server.  (No data issues from testflight iOS mindLAMP app.)

Please check if you are call

[2021-06-11 17:04] jeydude commented on #156
I am sharing one of my colleagues latest log file
[LampLog-06112021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6639991/LampLog-06112021.txt)
[code]

On June 10:
Google Fit count: 2978
Log file count is : 2978 (888+793+807+490)
CouchDB count is: 888

On June 11:
Google Fit count: 775
Log file count is : 775 (220+335+220)
CouchDB count is: none

Either LAMP API is not called

[2021-06-14 06:22] saranya-sajeev commented on #156
@jeydude could you please share the device OS version and model?

[2021-06-14 15:50] tlakhtak opened #292 "Missing notification"

[2021-06-14 16:29] jeydude commented on #156
@saranya-sajeev, please look at the attached screens contains OS version, model etc.
![Screenshot_20210614-111824_Settings](https://user-images.githubusercontent.com/841011/121926632-c3e39500-cd03-11eb-8fd6-09131219d1cb.png)
![Screenshot_20210614-112038_Settings](https://user-images.githubusercontent.com/841011/121926634-c3e39500-cd03-11eb-95b5-87417404c564.jpg)

[2021-06-14 17:55] tlakhtak opened #293 "Games not loading for afternoon batch of activities"

[2021-06-14 17:56] tlakhtak opened #294 "Support links not working"

[2021-06-14 17:57] tlakhtak opened #295 "Breathe activities with URL"

[2021-06-14 18:29] tlakhtak opened #296 "Translations Missing"

[2021-06-14 18:39] tlakhtak opened #297 "Jewels does not go to the next level"

[2021-06-14 18:46] tlakhtak opened #298 "Breathe activities error message"

[2021-06-15 10:19] saranya-sajeev commented on #156
Thank you @jeydude .

[2021-06-16 13:19] tlakhtak opened #299 "Survey addition error"

[2021-06-16 13:19] tlakhtak commented on #299
Similar to #298

[2021-06-16 13:24] #299 closed

[2021-06-16 23:28] tlakhtak opened #300 "Missing translations"
Our collaborators observed many missing or half-translated sections on text native to the app.
![image](https://user-images.githubusercontent.com/82968538/122307470-0eb20800-ced0-11eb-8748-269041b7e5ec.png)
![image](https://user-images.githubusercontent.com/82968538/122307488-1376bc00-ced0-11eb-8977-33d9eb37ba36.png)
![image](https://user-images.githubusercontent.com/82968538/122307505-1a9dca00-ce

[2021-06-18 14:49] tlakhtak opened #301 "Screen Resolution Error"

[2021-06-18 14:51] tlakhtak commented on #296
Similar to #300

[2021-06-21 13:30] saranya-sajeev commented on #156
Hi Jey,
We have tested in our devices and we are not able to reproduce the issue here. So we need your help to figure out the issue.
Could you please install the attached apk and share the log file. I have added more logs in this apk. We have tested using following user and we are seeing data uploaded under these user.
User id:U0613654925@lamp.com

[mindLamp06212021.zip](https://github.com/BIDMCDi

[2021-06-21 15:05] SuruPa00 opened #303 "Activities not available to add"
![image](https://user-images.githubusercontent.com/86117379/122784337-6362d380-d280-11eb-803f-16a9cd7e4e03.png)
![image](https://user-images.githubusercontent.com/86117379/122784355-678ef100-d280-11eb-91a0-0bdd2bded89e.png)

[2021-06-21 17:12] jeydude commented on #156
Thanks @saranya-sajeev, I have installed your latest APK and I tried with our server setup. I used only Google Fit Tracking to test this.

I see only Analytics and GPS data getting pushed to our API and Couch database. No other sensor data (Steps, HR etc)  getting pushed to our CouchDB.

Please see the attached log file

[LampLog_06212021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platfor

[2021-06-21 17:21] jeydude commented on #156
I have tried mindLAMP app using U0613654925@lamp.com with your mindLAM API server as domain (not our API server),  all sensor data is getting pushed to your mindLAM API server and your database.

While comparing the two server log files I have noticed:
With your mindLAMP API Server, I see these logs in the android app:
[code]

With our mindLAMP API Server, I see these logs in the android app:
[cod

[2021-06-21 17:31] jeydude commented on #156
@saranya-sajeev Do you use the same API call for sending GPS and health data? if they are different APIs then let me know which API calls you are using for health data so I can confirm they are published in our API Server. Thanks!

[2021-06-21 19:19] rvolety commented on #156
@saranya-sajeev :
I also tested the latest .apk file on my Samsung Android phone. We are not seeing the Step count data in our Couch DB here.
Is it possible that we are using different APIs here? If you can send us the API you are using we an check with our Akana server here.

I attached my logfile here FYI.
[LampLog-Rama-06212021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/

[2021-06-22 08:07] sarithapillai8 commented on #303
We couldn't reproduce this one. Please recheck and confirm the study you selected for creating activity is in 'selected mode' in study filter.

[2021-06-22 10:35] sarithapillai8 commented on #298
Please provide more detail if this is something related to any specific study or specific breathe activity.

[2021-06-22 10:36] saranya-sajeev commented on #156
@jeydude , @rvolety Could you please confirm that either you have added no sensors for the user or added all needed sensors. In Users->UpdateProfile.

[2021-06-22 11:10] sijugeorge-zco commented on #300
@tlakhtak

Do we need translations for these events _(attached Image)_, since they are SENSOR events ?

![SensorEvents](https://user-images.githubusercontent.com/63731044/122912729-47415e00-d376-11eb-9ae6-e5b81644bc1b.png)

Hindi Translations are needed( _generate translations for right side value for each key on the attachment_ ) for the attached file (_Hindi_Transaltion_Needed_06222021.txt_)

[H

[2021-06-22 12:03] rvolety commented on #156
Hi Saranya:

We did not add all the sensors. The following are added:

1. Heart rate 2. Sleep 3. Steps 4. Accelerometer 5. Analytics 6. GPS 7. Screen State and 8. Calls.

Thanks,
Rama Volety

Sent from Workspace ONE Boxer

On Jun 22, 2021 5:36 AM, saranya-sajeev ***@***.***> wrote:

@jeydude<https://github.com/jeydude> , @rvolety<https://github.com/rvolety> Could you please confirm that either you

[2021-06-22 12:06] saranya-sajeev commented on #156
Thanks Rama. Could you please confirm whether you are getting GPS data?

[2021-06-22 12:28] rvolety commented on #156
Yes. We are getting the GPS data.

Rama Volety | IT Lead Analyst/Programmer | Research Application Solutions Unit | Phone: 507-266-2781| Fax: 507-284-4585| ***@***.***
Mayo Clinic | 200 First Street S.W. | Rochester, MN 55905 | www.mayoclinic.org

From: saranya-sajeev ***@***.***>
Sent: Tuesday, June 22, 2021 7:06 AM
To: BIDMCDigitalPsychiatry/LAMP-platform ***@***.***>
Cc: Volety, Rama M. ***@***

[2021-06-22 12:30] jeydude commented on #156
@saranya-sajeev We are getting GPS and Analytics data.

I can share one of the test patient account and login information to you to test with our domain server, can you send an email to jeydudue1@yahoo.com

[2021-06-22 12:30] saranya-sajeev commented on #156
ok thank you @rvolety

[2021-06-22 12:36] saranya-sajeev commented on #156
Ok Thank you @jeydude . I will send the mail.  We are using same api for sending GPS data and health data. But I have made some changes in writing GPS data to local DB. Shall I share one more build with same change in other sensors too to confirm ?

[2021-06-22 12:38] jeydude commented on #156
Sure Saranya.

Please send an email to my yahoo id privately so I can share test account and domain URL so that you can debug more on your side. Thanks!

[2021-06-22 12:55] tlakhtak commented on #298
Some Breathe activities which can be imported successfully, used successfully on the dashboard, but cannot be edited.

[2021-06-22 13:10] saranya-sajeev commented on #156
Hi ,
Please find the apk attached.
[mindLamp06222021.zip](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6694398/mindLamp06222021.zip)

[2021-06-22 13:50] tlakhtak commented on #292
Devices iPhone XS, iPhone 12

[2021-06-22 14:19] rvolety commented on #156
Hi Saranya:
Installed the new apk file. It looks like we have received the step count accurately for today (449).  Line 397 plus  line 560 in the attached log file. What we have seen in the past is that it only brings these values at the time of new install and brings no values there after. example : on 6/10/21 we installed new apk file and it brought the step count value of 888. After that no dat

[2021-06-22 14:22] #294 closed

[2021-06-22 14:58] saranya-sajeev commented on #156
Thank you jey

[2021-06-22 15:00] saranya-sajeev commented on #156
@rvolety thank you so much for the quick response.

[2021-06-22 15:04] #97 closed

[2021-06-22 15:20] sarithapillai8 commented on #298
We are not able to reproduce this issue. Could you please specify anyone which we can try?

[2021-06-22 19:26] SuruPa00 commented on #303
we double checked and it seemed the issue is happening when the user is using the safari browser, incognito, and logged in as admin. perhaps try it like that and see if the issue is still not reproducible

[2021-06-22 19:37] jeydude opened #304 "Payload and content length is not matching with Sensor_Event post HTTPS method"
Our API server team reported an issue that mindLAMP app is sending some of the request with payload sizes don’t match the HTTP “Content-Length:” header of the post request.

Please make sure content-length and payload sizes are matching in the POST header request. Thanks!

Sharing the screenshot from the API server team:
![image](https://user-images.githubusercontent.com/841011/122987957-d47cb680-

[2021-06-22 23:07] jeydude commented on #156
@saranya-sajeev, we are getting steps data properly now and it is in sync with Google Fit. Thanks for making changes to the app.

Also noticed, followings are the sensor frequency updated with your new build
GPS data for every 10 seconds
Accelerometer data for every 3 seconds
Device motion data for every 1 second

Is it possible to control above frequency?

[2021-06-23 07:29] saranya-sajeev commented on #156
Could you please share the frequencies you have set? Maximum value for frequency that Android app can accept is 1.

[2021-06-23 08:42] sarithapillai8 commented on #298
Issue fixed in PR - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/246

[2021-06-23 09:54] sarithapillai8 commented on #297
This is not yet implemented feature. If we need to implement, pls add a feature for this?

[2021-06-23 12:34] SuruPa00 opened #305 "Create Survey Link"

[2021-06-23 13:17] jeydude commented on #156
Interesting, I have the frequency to 1 for GPS and Accelerometer, here is the output for
https://{APIURL}/participant/{Particiapant ID}/sensor. Let me know if I am missing anything. Thanks!
[code]

Here is most  recent accelerometer data
[code]

here is most recent GPS data
[code]

[2021-06-23 13:34] sarithapillai8 commented on #303
We checked in safari, incognito and as admin. We are not able to reproduce this issue. Can you see the scroll bar in the dialog with activity specs?

[2021-06-23 13:38] sarithapillai8 commented on #241
Which device you are checking this? For us when the names are long, it is going new line, not affecting buttons.

[2021-06-23 13:39] sarithapillai8 commented on #276
Fixed with PR - https://github.com/BIDMCDigitalPsychiatry/LAMP-dashboard/pull/247

[2021-06-23 13:40] sarithapillai8 commented on #276
Fixed with PR - BIDMCDigitalPsychiatry/LAMP-dashboard#247

[2021-06-23 13:41] jeydude commented on #156
Yes Saranya, we are getting all the sensors data now. Thanks!

[2021-06-23 13:43] saranya-sajeev commented on #156
Ok Thank you Jey.

[2021-06-23 13:48] sarithapillai8 commented on #293
We are not able reproduce this one. Could you specify the games that were not loaded, and the batch tried to debug?

[2021-06-23 13:49] tlakhtak commented on #241
On the dashboard on Chrome, using a 13-inch Macbook Air. On our end, issue persists - since in some cases they are emails, the full text shifts to the next line but still shifts buttons: see image
![image](https://user-images.githubusercontent.com/82968538/123108045-101b8d00-d408-11eb-86ed-8f0a572b2473.png)

[2021-06-23 13:49] sarithapillai8 commented on #283
We are not able reproduce this one. Could you please provide more details and also confirm if it was any network glitch?

[2021-06-23 14:06] sarithapillai8 commented on #284
We are not able reproduce this one..

[2021-06-23 15:28] jijopulikkottil commented on #290
Yes we can set frequency for gps, accelerometer/device_motion. The default frequency of accelerometer/device_motion is  5 (200 milliseconds).
If we need to limit to every 30 seconds or 1 minute., we have to set frequency 0.0333 (1/30) or 0.0166 (1/60)

We have integrated this in app side. Ref: https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/issues/145
But I think its counter part in web/se

[2021-06-23 15:35] jeydude commented on #290
Thanks @jijopulikkottil
[code]
assuming same logic applies to android app also.

[2021-06-23 15:46] avaidyam commented on #290
@jijopulikkottil @saranya-sajeev I believe we had discussed the units of this parameter should be in Hertz, as the parameter name is "frequency". That is, 5 Hz = 1/5 = 0.2 sec interval.

[2021-06-23 15:54] jijopulikkottil commented on #290
@avaidyam  yes. correct.
frequency  5 Hz = 1/5 = 0.2 sec interval.
frequency  0.0333 Hz = 1/30 = 30 sec interval.

Yes.

[2021-06-23 15:59] avaidyam commented on #290
@jijopulikkottil Okay, I see - I originally misunderstood your comment and this makes more sense now. Sorry!

[2021-06-23 16:19] jeydude commented on #290
@jijopulikkottil, is this correct in the sensor configuration to collect data for every one minute in future?

  {
"id": "3ewpt11q4y656pgwxj8j",
"timestamp": 1623077614569,
"spec": "lamp.accelerometer",
"name": "Accelerometer",
"settings": {
"frequency": 0.0166
}
},
  {
"id": "5pb6j7e88amnvwrzph72",
"timestamp": 1623077622389,
"spec": "lamp.gps",
"name": "GPS",
"settings": {
"frequency": 0.0166
}

[2021-06-23 16:40] jijopulikkottil commented on #290
Hi @jeydude
[code]
You can add 'cellular_upload' field to any of the settings block. Then only the sensor should upload data on a cellular/LTE connection in addition to WiFi.

------
If not specified the field 'cellular_upload', It should be able to upload data using both network. There is a bug handling it. It can fix soon.

[2021-06-23 16:44] jeydude commented on #290
Sure, I will include them. Thanks!

[2021-06-23 17:20] SuruPa00 commented on #303
There is no scroll bar in the dialog and even more oddly, sometimes there are no activities available to add instead of only half the activities available in the original screenshot

[2021-06-24 06:48] sarithapillai8 commented on #303
Which device are you checking this?

[2021-06-24 08:54] ZCOEngineer commented on #303
Could you provide Device, Browser, OS version, Browser version details?

[2021-06-24 10:22] michaelmenon commented on #305
Need to discuss internally with LAMP team to include this feature. Will update.

[2021-06-24 10:23] michaelmenon commented on #305
@avaidyam let us know if this needs to be included.

[2021-06-24 10:27] michaelmenon commented on #284
@tlakhtak can you post a video of the issue as its not reproducible at our end. Also browser details on which you are testing. Is it easily reproducible at your end or is it an issue with slow network at your end ?

[2021-06-24 10:33] avaidyam commented on #305
@michaelmenon As @ZCOEngineer was not assigned, it is not included for work.

[2021-06-24 12:14] tlakhtak commented on #284
I am also unable to reproduce on my end. For now, we can ignore this issue.

[2021-06-24 12:14] #284 closed

[2021-06-24 12:57] SuruPa00 commented on #303
MacBook Pro (15-inch, 2018), Safari, macOS Version 11.2.3 (20D91), Safari Version 14.0.3 (16610.4.3.1.7)

[2021-06-24 19:33] tlakhtak commented on #300
For now SENSOR translation is not required

[2021-06-24 20:52] michaelmenon commented on #305
ok thanks for the confirmation

[2021-06-25 13:01] tlakhtak commented on #300
[Hindi_Transaltion_Needed_06222021.txt](https://github.com/BIDMCDigitalPsychiatry/LAMP-platform/files/6716287/Hindi_Transaltion_Needed_06222021.txt)
Completed translations.

[2021-06-25 13:10] tlakhtak commented on #283
this is a persistent issue for a user, U8924256758.

[2021-06-25 14:17] saranya-sajeev commented on #156
Hi Jey,
Default frequency is Android is 0.33 (3 seconds). When I have checked GPS and Accelerometer with frequency 1  it is working fine.
Accelerometer Data
[code]
GPS Data

[code]

[2021-06-25 15:54] michaelmenon commented on #303
Thanks team is looking into it and will update asap. Seems like its not happening on our end.. need to check if its a specific browser version issue. Will update.

[2021-06-28 10:11] sarithapillai8 commented on #288
Could you please provide researcher/activity/participant details on this?

[2021-06-28 10:59] sarithapillai8 commented on #303
<img width="1438" alt="Screen Shot 2021-06-28 at 6 20 14 AM" src="https://user-images.githubusercontent.com/63710347/123625198-24f38880-d82d-11eb-8127-f963510eaba6.png">
<img width="1434" alt="Screen Shot 2021-06-28 at 6 22 15 AM" src="https://user-images.githubusercontent.com/63710347/123625204-2755e280-d82d-11eb-979d-1cded8c62e05.png">

Please check the screenshots. We checked in different devic

[2021-06-28 12:51] tlakhtak commented on #288
Activity is both Daily and Weekly surveys in Researcher 'dnbd16yj2zkegk67aqm8'. Issue persisted for multiple participants.

[2021-06-28 13:07] sarithapillai8 commented on #288
Those surveys having some missing question types. Can you confirm the surveys are correctly updated and recheck?

[2021-06-28 14:27] lukeoftheshire commented on #288
We are having trouble finding the surveys without question types. Could you please provide an id corresponding to one of the surveys with missing types?

[2021-06-29 09:11] sarithapillai8 commented on #288
Please check daily survey - There are no selections on type of question : The data is like below :
Array(11)
0:
duration: 6097
item: "I felt down today"
level: null
type: null
value: "0"
__proto__: Object
1:
duration: 16472
item: "Today I feel little interest or pleasure"
level: null
type: null
value: "2"
__proto__: Object
2:
duration: 26361
item: "I felt anxious today"
level: null
type: null
valu

[2021-06-29 14:24] lukeoftheshire commented on #288
Thank you for the clarification. Per the [LAMP documentation](https://docs.lamp.digital/data_science/data_types) I believe level and type should be null in _result_ data, which this appears to be as it contains duration info. In the survey _specification_ type is correctly set to 'likert' - see below:
'settings': [{'text': 'I felt down today',
    'type': 'likert',
    'options': None},
   {'text'

[2021-06-29 17:45] SuruPa00 opened #306 "Participant Log In Error"
![image](https://user-images.githubusercontent.com/86117379/123842777-27aeb600-d8df-11eb-9b42-b0e7c0e25e04.png)